<template>
  <div @click="gotoTimePoint">
    <div class="timeTag">
      <i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
      {{videoDuration(item.commentBody.commentQuote.quoteLocation)}}
    </div>
    <!--<div class="triangleRight margin-r10"></div>-->
  </div>
</template>
<script>
  import { currVideoPlayInfo, currVideoPlayControl, types } from '@/store/modules/player'
  import { videoDuration } from '@/util'
  export default {
    data () {
      return {
      }
    },
    computed: {
      currVideoPlayInfo,
      currVideoPlayControl
    },
    props: {
      item: Object
    },
    methods: {
      videoDuration,
      gotoTimePoint () {
        try {
          let commentTree = this.getCommentTree()
          let bindRef = commentTree.bindRef
          let videoItemVue
          if (bindRef) {
            videoItemVue = this.findVideoItemVue(bindRef)
          }
          if (videoItemVue) {
            videoItemVue.$el.scrollIntoView()
            this.currVideoPlayInfo = {id: videoItemVue.$refs['videoPlayer0'][0]._uid}
          }
          this.$store.commit(types.M_CHANGE_CURRENT_VIDEO_CONTROL_PARAM, this.item.commentBody.commentQuote.quoteLocation)
          this.$store.commit(types.M_CHANGE_CURRENT_VIDEO_CONTROL_COMMAND, 'setCurrentTime|play')
        } catch (e) {
          console.log(e)
        }
      },
      findVideoItemVue (feedItemVue) {
        for (let childVue of feedItemVue.$children) {
          if (childVue && childVue.isVideoItem) {
            return childVue
          } else if (childVue.$children) {
            this.findVideoItemVue(childVue)
          } else {
            return null
          }
        }
      },
      getCommentTree () {
        let root = this
        do {
          root = root.$parent
        } while (root && !root.isRoot)
        return root
      }
    }
  }
</script>
<style>
  @import "css/variable.css";
  /*时间标签*/
  .timeTag{
    font-size: 12px;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 4px;
    background-color: var(--color-info);
    color: #fff;
    cursor: pointer;
  }
  .triangleRight{
    width: 0;
    height: 0px;
    border-top: 9px solid transparent;
    border-left: 15px solid #ddd;
    border-bottom: 10px solid transparent;
    display: inline-block;
    position: relative;
    top: 6px;
    right: 5px;
  }
</style>

