<template>
  <div class="media-object img-tagging" style="" v-if="quote.resource && quote.resource.url" @mouseover="clickImageMark">
    <div class="media-object-section">
      <div class="image" v-show="imgShow" ><img :src="quote.resource.url"></div>
      <div :style="style" v-show="!imgShow"></div>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        imgShow: true,
        style: '',
        quote: {
          resource: {},
          body: this.item.commentBody.commentQuote,
          comment: this.item
        },
        isShow: true
      }
    },
    created () {
      this.quote.body = this.item.commentBody.commentQuote
      this.quote.comment = this.item
    },
    mounted () {
      this.initQuoteResource()
      this.showImage()
    },
    props: {
      item: Object
    },
    methods: {
      initQuoteResource () {
        this.$emit('initQuoteResource', this.quote)
      },
      clickImageMark () {
        if (this.quote && this.quote.body) {
          this.$emit('localQuote', this.quote.body.quoteId)
        }
      },
      imgLoad (url, callback) {
        var img = new Image()
        img.src = url
        if (img.complete) {
          callback(img.width, img.height)
        } else {
          img.onload = function () {
            callback(img.width, img.height)
            img.onload = null
          }
        }
      },
      getBackgroundStyle (url, imgW, imgH, newW, newH, wp, hp, lp, tp) {
        var p
        if (newW / newH > wp / hp) {
          p = newH / (hp * imgH)
        } else {
          p = newW / (wp * imgW)
        }
        var backgroundX = -1 * p * lp * imgW
        var backgroundY = -1 * p * tp * imgH
        var backgroundSizeX = p * imgW
        var backgroundSizeY = p * imgH
        return 'display:block;width:' + (wp * imgW * p) + 'px;height:' + (hp * imgH * p) + 'px;background-image:url(' + url + ');background-size:' + backgroundSizeX + 'px ' + backgroundSizeY + 'px; background-position:' + backgroundX + 'px ' + backgroundY + 'px;'
      },
      showImage () {
        if (this.quote.resource.url) {
          this.imgLoad(this.quote.resource.url, (width, height) => {
            var location = this.quote.body ? this.quote.body.quoteLocation : null
            if (location) {
              var wp = location.width.replace('%', '') / 100
              var hp = location.height.replace('%', '') / 100
              var lp = location.left.replace('%', '') / 100
              var tp = location.top.replace('%', '') / 100
              this.style = this.getBackgroundStyle(this.quote.resource.url, width, height, 292, 46, wp, hp, lp, tp)
              this.imgShow = false
            }
          })
        } else {
          this.imgShow = true
        }
      }
    },
    watch: {
      item (nv, ov) {
        this.quote.body = nv.commentBody.commentQuote
        this.quote.comment = nv
      },
      'this.quote.resource.url' (nv, ov) {
        this.showImage()
      }
    }
  }
</script>
<style>
  /*时间标签*/
  .img-tagging {
    margin: 6px 0;
  }
  .img-tagging .image{
    display: flex;
    width: 46px;
    height: 46px;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
</style>

