<template>
  <div class="commentCollapse margin-t6">
    <div class="commentWord" :title="item.commentBody.commentQuote.quoteValue" @click="localQuote">
      <p>{{conmentContent}}</p>
    </div>
    <div class="commentAngle" @click="isShow = !isShow" v-if="item.commentBody.commentQuote.quoteValue.length > 54">
      <i class="fa" :class="[ isShow ? 'fa-angle-up' : 'fa-angle-down']" aria-hidden="true"></i>
    </div>
  </div>
</template>
<script>
  import { types } from '@/store/modules/preview'

  export default {
    data () {
      return {
        isShow: false
      }
    },
    computed: {
      conmentContent () {
        return this.isShow || this.item.commentBody.commentQuote.quoteValue.length <= 64 ? this.item.commentBody.commentQuote.quoteValue : (this.item.commentBody.commentQuote.quoteValue.substr(0, 56) + '...')
      }
    },
    props: {
      item: Object
    },
    methods: {
      getCommentTree () {
        let root = this
        do {
          root = root.$parent
        } while (root && !root.isRoot)
        return root
      },
      findFeedItemVue (feedItemVue) {
        if (!feedItemVue) {
          return null
        }
        for (let childVue of feedItemVue.$children) {
          if (childVue) {
            if (childVue.isFeedItem) {
              return childVue
            } else if (childVue.$children) {
              let found = this.findDocumentItemVue(childVue)
              if (found) {
                return found
              }
            }
          }
        }
        return null
      },
      localQuote () {
        let commentTree = this.getCommentTree()
        if (commentTree) {
          let feedItem = this.findFeedItemVue(commentTree.bindRef)
          if (feedItem) {
            if (feedItem.isDocumentItem && feedItem.previewDocs) {
              this.$store.commit(types.M_CHANGE_LOCATION_DATA, this.item.commentBody.commentQuote.quoteId)
              feedItem.previewDocs()
              return
            }
            if (typeof feedItem.preview === 'function') {
              this.$store.commit(types.M_CHANGE_LOCATION_DATA, this.item.commentBody.commentQuote.quoteId)
              feedItem.preview()
              return
            }
          }
        }
        this.$emit('localQuote', this.item.commentBody.commentQuote.quoteId)
      }
    }
  }
</script>
<style>
  @import "css/variable.css";
  .commentCollapse {
    border: none;
    border-radius: 0;
    border-left: 4px solid rgb(189, 159, 116);
    background-color: rgb(255,245,231);
    position: relative;
  }
  .commentWord{
    padding: 6px 10px;
    margin: 0;
    overflow: hidden;
    text-overflow:ellipsis;
    cursor: pointer;
  }
  .commentAngle{
    position: absolute;
    right: 6px;
    bottom: 5px;
    cursor: pointer;
    width: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
  }
  .commentAngle:hover{
    background: var(--color-primary);
    color: #fff;
  }
  .commentCollapse .el-collapse-item{
    border-left: 4px solid rgb(189, 159, 116);
  }
  .commentCollapse .el-collapse-item__wrap{
    border-bottom: none;
  }
  .commentCollapse .el-collapse-item__header,
  .commentCollapse .el-collapse-item__content
  {
    border-bottom: none;
    background-color: rgb(255,245,231);
    font-size: 12px;
  }
</style>
