<template>
  <a href="">
    <div class="media-object single">
      <div class="media-object-section shrink">
        <a class="img"><img src="../../assets/img/2.jpg" alt="头像"></a>
      </div>
      <div class="media-object-section">
        <a class="name">某某某</a>
        <div class="float-right">
          <span>2017/5/9</span>
          <el-popover
              popper-class="vertical"
              ref="cog"
              placement="bottom"
              width="80"
              trigger="hover"
            >
            <ul class="vertical-menu">
              <li>编辑</li>
            </ul>
          </el-popover>
          <a v-popover:cog><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    <div class="docbg music-box no-margin">
      <div class="media-object">
          <div class="title14">
            新录音
          </div>
          <div class="margin-l docInfo">
            <span>林某某</span>
          </div>
      </div>
      <div class="music-info">
        <span class="margin-r">2017-05-19</span>
        <span>00:46</span>
      </div>
      <div class="audio margin-t10">
        <audio controls="" src="http://www.w3school.com.cn/i/horse.ogg">
          您的浏览器不支持 audio 标签。
        </audio>
      </div>
    </div>
  </a>
</template>
<script>
  export default {
    data () {
      return {}
    }
  }
</script>
