<template>
  <a href="">
    <div class="media-object single">
      <div class="media-object-section shrink">
        <a class="img"><img src="../../assets/img/2.jpg" alt="头像"></a>
      </div>
      <div class="media-object-section">
        <a class="name">某某某</a>
        <div class="float-right">
          <span>2017/5/9</span>
          <el-popover
              popper-class="vertical"
              ref="cog"
              placement="bottom"
              width="80"
              trigger="hover"
            >
            <ul class="vertical-menu">
              <li>编辑</li>
            </ul>
          </el-popover>
          <a v-popover:cog><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    <div class="docbg music-box no-margin">
      <div class="media-object">
        <div class="media-object-section">
            <img src="../../assets/img/3.png">
            <!--<img class="music-run fa-spin" alt="music" src="../../assets/img/music.png">-->
          </div>
          <div class="media-object-section">
            <div class="title14">
              一声叹息
            </div>
            <div class="docInfo">
              <span>任灿</span>
            </div>
          </div>
      </div>
      <div class="music-btn">
        <span>-05:36</span>
      </div>
    </div>
  </a>
</template>
<script>
  export default {
    data () {
      return {}
    }
  }
</script>
