<template>
  <a href="javascript:void(0)">
    <div class="media-object single">
      <div class="media-object-section shrink">
        <a class="img"><img src="../../assets/img/2.jpg" alt="头像"></a>
      </div>
      <div class="media-object-section">
        <a class="name">某某某</a>
        <div class="float-right">
          <span>2017/5/9</span>
          <el-popover
              popper-class="vertical"
              ref="cog"
              placement="bottom"
              width="80"
              trigger="hover"
            >
            <ul class="vertical-menu">
              <li>编辑</li>
            </ul>
          </el-popover>
          <a v-popover:cog><i class="fa fa-angle-down"></i></a>
        </div>
      </div>
    </div>
    <p class="no-margin">
                  风速达发送到罚款是地方艰苦拉萨地方艰苦拉萨打飞机阿斯
    </p>
  </a>
</template>
<script>
  export default {
    data () {
      return {
        imgStyle: null
      }
    },
    mounted () {
    }
  }
</script>
