<template>
  <div class="add-member-list">
    <div class="searchArea scrollCss" @keyup.enter="searchAction">
      <div
          class="margin-l6 margin-r4 margin-b4"
          :class="[true ? 'bg-' + 1 : '', {'is-hit': false}]"
          :style="{backgroundColor: color}"
          v-for='(user, index) in selectUsers'
          :key="user.id"
          @click.stop="canelSelect(user)"
          :title="user.userName"
      >
        <img :src="user.avatar" :title="user.userName" alt="" v-error-img:user class="selectImg">
        <span>
          <i class="el-dialog__close el-icon el-icon-close"></i>
        </span>
      </div>
      <el-input
        class="inline-input"
        icon="search"
        v-model="keyword"
        :on-icon-click="searchAction"
        placeholder="搜索所有同事"
        size="small"
      >
      </el-input>
    </div>
    <div class="selectTitle" >
      <span>同事（{{userList.length}}）</span>
      <el-button type="text" class="float-right" @click="toggleSelectAll">{{isSelectAll?'取消全选':'全选'}}</el-button>
    </div>
    <div class="large-18 medium-24 small-24 column">
        <!--选择人员列表-->
        <div v-if="showLoading" style="margin:50px auto;display:block;width:42px;" ><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
        <div class="userList select scrollCss" v-else-if="userList">
          <div
            class="media-object"
            :style="{backgroundColor: color}"
            v-for='(userInfo, index) in userList'
            :key="userInfo.user.id"
            @click="toggleSelect(userInfo)"
          >
            <div class="media-object-section shrink">
              <img :src="userInfo.user.avatar" alt="" v-error-img:user class="selectImg">
            </div>
            <div class="media-object-section center">
              <div class="selectName">
                <span>{{userInfo.user.userName}}</span>
              </div>
              <template v-if="userInfo.isSelected">
                <div v-if="userInfo.tag" class="selectBox">
                  <el-tag>{{userInfo.tag}}</el-tag>
                </div>
                <div v-else class="selectBox">
                  <el-checkbox disabled v-model="trueChecked"><span></span></el-checkbox>
                </div>
              </template>
              <div v-else class="selectBox" >
                <el-checkbox  v-model="selectIds" @change="changeSelectUser(userInfo.user)" :label="userInfo.user.id"><span></span></el-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</template>
<script>
  export default {
    name: 'LgTag',
    props: {
      value: {
        type: Array,
        default: function () {
          return []
        }
      },
      color: String,
      userList: {
        type: Array,
        default: function () {
          return []
        }
      },
      showSelectTitle: Boolean,
      showLoading: Boolean
    },
    data () {
      return {
        trueChecked: true,
        selectUsers: [],
        selectIds: [],
        isSelectAll: false,
        keyword: ''
      }
    },
    computed: {},
    created () {
      this.$bus.$on('addMemberDialog:clean', () => {
        this.selectIds = []
        this.selectUsers = []
      })
    },
    mounted () {
      this.isSelectAll = false
    },
    watch: {
      selectIds (nv, ov) {
        this.$bus.$emit('selectUserDialog:selectChange', nv)
        this.isSelectAll = !!nv && nv.length > 0
      },
      userList (nv, ov) {
        this.mergeList()
      },
      value (nv, ov) {
        this.mergeList()
      }
    },
    methods: {
      mergeList () {
        this.userList.forEach((user) => {
          for (let v of this.value) {
            let tag
            let val
            if (typeof v === 'string') {
              val = v
            } else if (v.id) {
              val = v.id
              tag = v.tag
            }
            if (user.id === val) {
              user.isSelected = true
              user.tag = tag
              break
            }
          }
        })
      },
      searchAction () {
        this.$emit('searchAction', this.keyword)
      },
      // 切换选择用户
      toggleSelect (userInfo) {
        if (userInfo.tag) {
          return
        }
        // 判断切换
        if (this.selectIds.filter(id => id === userInfo.user.id).length > 0) {
          this.selectIds = this.selectIds.filter(id => id !== userInfo.user.id)
          this.selectUsers = this.selectUsers.filter(o => o.id !== userInfo.user.id)
        } else {
          this.selectIds.push(userInfo.user.id)
          if (this.selectUsers.filter((o) => o.id === userInfo.user.id).length <= 0) {
            this.selectUsers.push(userInfo.user)
          }
        }
      },
      toggleSelectAll () {
        if (this.isSelectAll) {
          this.selectIds = []
          this.selectUsers = []
          this.isSelectAll = !this.isSelectAll
        } else {
          let selectIds = []
          let selectUsers = []
          if (this.userList) {
            this.userList.forEach((userInfo) => {
              if (!userInfo.tag) {
                selectIds.push(userInfo.user.id)
                selectUsers.push(userInfo.user)
              }
            })
          }
          this.selectIds = selectIds
          this.selectUsers = selectUsers
          if (selectIds.length > 0) {
            this.isSelectAll = !this.isSelectAll
          }
        }
      },
      changeSelectUser (user) {
        let isExist = false
        for (let id of this.selectIds) {
          if (id === user.id) {
            isExist = true
            break
          }
        }
        if (isExist) {
          if (this.selectUsers.filter((o) => o.id === user.id).length <= 0) {
            this.selectUsers.push(user)
          }
        } else {
          this.selectUsers = this.selectUsers.filter(o => o.id !== user.id)
        }
      },
      // 取消选择
      canelSelect (user) {
        this.selectUsers = this.selectUsers.filter(o => o.id !== user.id)
        this.selectIds = this.selectIds.filter(id => id !== user.id)
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
</style>
