<template>
  <el-dialog
    class="selectUserDialog"
    :visible.sync="showDialog"
    @close="onClose"
    @open="onOpen"
    :title="config.dialogTitle">
    <div v-if="dialogLoadFailure" style="margin:100px auto;display:block;width:42px;height:42px;" ><i title="刷新" @click="loadValue" style="cursor:pointer" class="fa fa-refresh fa-3x fa-fw" ></i></div>
    <div v-else-if="dialogLoading" style="margin:100px auto;display:block;width:42px;height:42px;" ><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
    <div v-else-if="!dialogLoading" class="row clearfix">
      <div class="medium-6 small-24 column">
        <div class="selectUserLeft scrollCss">
          <select-user-catalog
            :catalogInfos="catalogInfos"
            :focus="catalogFocus"
            @catalogClick="catalogClick"
          ></select-user-catalog>
        </div>
      </div>
      <div class=" medium-18 small-24 column">
        <div class="selectUserRight">
          <select-user-list
            class="clearfix"
            type="tag"
            :userList="userList"
            :showLoading="showLoading"
            @searchAction="searchAction"
            :value="values"
          ></select-user-list>
        </div>
      </div>
    </div>
    <div v-if="!dialogLoading && !dialogLoadFailure" slot="footer" class="footerArea footer">
      <el-button size="small" @click="showDialog = false">取消</el-button>
      <el-button type="primary" size="small" :disabled="!isBtnEnable || isActioning" @click="btnAction"><i v-if="isActioning" class="fa fa-circle-o-notch fa-spin"></i>{{config.actionBtnTitle}}</el-button>
    </div>
  </el-dialog>
</template>
<script>
  import SelectUserList from './SelectUserList'
  import SelectUserCatalog from './SelectUserCatalog'
  import { rest } from '@/util'

  export default {
    components: {
      SelectUserList,
      SelectUserCatalog
    },
    computed: {},
    props: {
      predefine: {
        type: String,
        default: function () {
          return 'NORMAL'
        }
      },
      dialogVisible: Boolean,
      dialogTitle: {
        type: String,
        default: function () {
          return '选择同事'
        }
      },
      actionBtnTitle: {
        type: String,
        default: function () {
          return '确定'
        }
      },
      catalogUri: { // 栏目获取uri
        type: String,
        default: function () {
          return ''
        }
      },
      listSearchUri: { // 列表数据获取uri,其中，当点击栏目时，栏目key会替换uri中的{catalog}点位符发送到服务端
        type: String,
        default: function () {
          return ''
        }
      },
      getValue: {
        type: Function
      },
      value: {
        type: Array,
        default: function () {
          return []
        }
      },
      action: {
        type: Function
      }
    },
    data () {
      return {
        values: [],
        catalogFocus: '',
        showDialog: false,
        selectUserInp: '',
        catalogInfos: [],
        userList: [],
        showLoading: false,
        isBtnEnable: false,
        isActioning: false, // 是否正在请求action
        selectIds: [],
        dialogLoading: true,
        dialogLoadFailure: false,
        config: {}, // 最终使用的配置信息
        predefines: { // 预设配置
          NORMAL: { // 通用选择同事人员的预设
            dialogTitle: '选择同事',
            catalogUri: '/sns/groups/joined4su',
            listSearchUri: '/sns/groupMembers/users4su?groupId={catalog}&keyword={w}',
            actionBtnTitle: '确定'
          }
        }
      }
    },
    methods: {
      initConfig () { // 初始化配置数据
        this.config = {}
        let predefine = this.predefines[this.predefine]
        if (predefine) {
          this.config = {...this.config, ...predefine}
        }
        if (this.catalogUri) {
          this.config = {...this.config, catalogUri: this.catalogUri}
        }
        if (this.listSearchUri) {
          this.config = {...this.config, listSearchUri: this.listSearchUri}
        }
        if (this.actionBtnTitle) {
          this.config = {...this.config, actionBtnTitle: this.actionBtnTitle}
        }
        if (this.dialogTitle) {
          this.config = {...this.config, dialogTitle: this.dialogTitle}
        }
      },
      onOpen () {
        this.initConfig()
        this.loadValue()
      },
      onClose () {
        this.userList = []
        this.$bus.$emit('selectUserDialog:clean')
      },
      catalogClick (catalogKey) {
        this.showLoading = true
        this.userList = []
        if (this.config.listSearchUri) {
          // 1.查询用户列表
          rest.get(this.config.listSearchUri.replace('{catalog}', catalogKey).replace('{w}', '')).then((userIds) => {
            let userList = []
            if (userIds) {
              // 2.获取用户信息
              this.storeNeedData({
                type: 'user',
                dataIds: userIds
              }).then(users => {
                if (users) {
                  // 合并数据
                  userIds.forEach((id) => {
                    userList.push({id, user: users[id]})
                  })
                }
                this.showLoading = false
                this.userList = userList
              }).catch((error) => {
                this.showLoading = false
                console.log('加载用户信息失败', error)
              })
            } else {
              this.showLoading = false
            }
          }).catch((error) => {
            this.showLoading = false
            console.log('加载用户列表失败', error)
          })
        } else {
          this.showLoading = false
          console.log('加载用户列表失败,加载地址不存在', this.listSearchUri)
        }
      },
      btnAction () {
//        let params = qs.stringify({uids: this.selectIds}, {allowDots: true, indices: false})
        this.isActioning = true
        let action = this.action(this.selectIds)
        if (action && action.then) {
          action.then((status) => {
            this.isActioning = false
          }).catch(() => {
            this.isActioning = false
          })
        } else {
          this.isActioning = false
        }
      },
      loadValue () {
        let promise
        if (this.getValue) {
          promise = this.getValue()
        } else {
          promise = Promise.resolve(this.value)
        }
        if (promise) {
          this.dialogLoading = true
          this.dialogLoadFailure = false
          promise.then((value) => {
            this.values = value
            // 加载列表菜单，主要是加载小组列表
            rest.get(this.config.catalogUri).then((catalogInfos) => {
              if (catalogInfos && catalogInfos.length && catalogInfos.length > 0) {
                this.catalogInfos = catalogInfos
              }
              this.searchAction()
              this.dialogLoading = false
            }).catch((error) => {
              console.log('加载分类列表异常！', error)
              this.dialogLoading = false
              this.dialogLoadFailure = true
            })
          }).catch((error) => {
            console.log('加载值列表异常！', error)
            this.dialogLoading = false
            this.dialogLoadFailure = true
          })
        }
      },
      searchAction (keyword) {
        this.catalogFocus = new Date().getTime()
        this.userList = []
        let w = keyword || ''
        if (this.config.listSearchUri) {
          this.showLoading = true
          rest.get(this.config.listSearchUri.replace('{catalog}', '').replace('{w}', w)).then((userIds) => {
            let userList = []
            // 2.获取用户信息
            if (userIds) {
              this.storeNeedData({
                type: 'user',
                dataIds: userIds
              }).then(users => {
                if (users) {
                  // 合并数据
                  userIds.forEach((id) => {
                    userList.push({id, user: users[id]})
                  })
                }
                this.showLoading = false
                this.userList = userList
              }).catch((error) => {
                this.showLoading = false
                console.log('加载用户信息失败', error)
              })
            } else {
              this.showLoading = false
            }
          }).catch((error) => {
            console.log('搜索用户列表异常', error)
            this.showLoading = false
          })
        }
      }
    },
    watch: {
      shareFormShow (nv) {
      },
      selectIds (nv) {
        if (nv && nv.length > 0) {
          this.isBtnEnable = true
        }
      },
      showDialog (nv, ov) {
        this.$emit('update:dialogVisible', nv)
      },
      dialogVisible (nv, ov) {
        this.showDialog = nv
      },
      dialogTitle (nv, ov) {
        this.config.dialogTitle = nv
      },
      value (nv, ov) {
        this.values = nv
      }
    },
    created () {
      this.$bus.$on('selectUserDialog:selectChange', (selectIds) => {
        this.selectIds = selectIds
        if (selectIds && selectIds.length > 0) {
          this.isBtnEnable = true
        } else {
          this.isBtnEnable = false
        }
      })
    },
    mounted () {
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @media only screen and (min-width: 1024px){
    .selectUserDialog .el-dialog--small {
      max-width: 580px;
    }
  }
  @media only screen and (max-width: 768px){
    .selectUserDialog .el-dialog--small {
      width: 100%;
      height: 100%;
      top: 0!important;
      margin-bottom: 0!important;
    }
  }
  @media only screen and (max-width: 768px) and (min-width: 640px){
    .selectUserDialog .el-dialog__body {
      height: calc(100vh - 101px);
    }
    .add-member-list{
      margin-bottom: 0!important;
    }
    .select{
      min-height: calc(100vh - 179px) !important;
      max-height: calc(100vh - 179px) !important;
    }
  }
  @media only screen and (max-width: 640px){
    .selectUserDialog .el-dialog__body{
      padding: 0!important;
    }
    .selectUserLeft{
      padding: 0 16px;
      border-right: 0px!important;
    }
    .searchArea{
      padding-top: 10px;
      height: 46px;
    }
    .searchArea .inline-input{
      margin: 0 0 10px!important;
    }
  }
  .selectUserDialog .el-dialog__header{
    padding: 12px 16px 10px 20px;
    border-bottom: 1px solid color(var(--color-primary) tint(60%));
    background-color: var(--body-bg-color);
  }
  .selectUserDialog .el-dialog__header .el-dialog__title{
    font-size: 14px;
  }
  .selectUserDialog .el-dialog__body {
    padding: 16px 0;
  }
  .selectUserDialog .selectUserLeft .el-menu-item.is-active{
    background-color: color(var(--color-info));
  }
  .selectUserDialog .el-dialog .el-dialog__footer{
    border-top: 1px solid color(var(--color-primary) tint(70%));
    background-color: var(--body-bg-color);
    padding: 0;
  }
  .selectUserLeft{
    height: 100%;
    border-right: 1px solid color(var(--background-color) shade(10%));
  }
  .selectUserRight{
    padding: 0 16px;
    height: 100%;
  }
  .add-member-list{
    height: 100%;
  }
  .footerArea{
    padding: 8px 20px;
  }
  .column{
    float: left;
  }
  @media print, screen and (min-width: 641px) {
    .medium-6 {
      width: 25%; }
    .medium-7 {
      width: 30%; }
    .medium-8 {
      width: 33.3333%; }
    .medium-16 {
      width: 66.6666%; }
    .medium-17 {
      width: 70%; }
    .medium-18 {
      width: 75%; }
    .medium-24{
      width: 100%;}
  }
  @media print, screen and (max-width: 640px) {
    .small-24 {
      width: 100%; }
  }
</style>
