<template>
  <ul class="menuBox scrollCss">
    <!--<li>-->
      <!--<span>推荐</span>-->
    <!--</li>-->
    <!--<li>-->
      <!--<span>邮件邀请</span>-->
    <!--</li>-->
    <li v-for="catalogInfo in catalogInfos">
      <span>{{catalogInfo.title}}
        <!--<i class="fa fa-angle-up more" aria-hidden="true" title="收起小组列表"  v-if="!lessThanLimit && !expand" @click.prevent.stop="toggleCatalogData()"></i>-->
        <!--<i class="fa fa-angle-down more" aria-hidden="true" title="展开小组列表"  v-else-if="!lessThanLimit" @click.prevent.stop="toggleCatalogData()"></i>-->
      </span>
      <ul>
        <li v-for='(catalog, index) in catalogInfo.catalogs' @click="clickCatalogItem(catalog.key, index)" :class="{active: focusIndex===index}"><span>{{catalog.name}}</span></li>
      </ul>
    </li>
    <li>
      <span @click="clickCatalogItem('all')">所有同事</span>
    </li>
  </ul>
</template>
<script>
  export default {
    components: {
    },
    props: {
      catalogInfos: {
        type: Array,
        default: function () {
          return []
        }
      },
      focus: ''
    },
    data () {
      return {
        focusIndex: ''
      }
    },
    computed: {
    },
    mounted () {
    },
    watch: {
      focus (nv, ov) {
        this.focusIndex = nv
      }
    },
    methods: {
      clickCatalogItem (catalog, focusIndex) {
        this.$emit('catalogClick', catalog)
        this.focusIndex = focusIndex
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .menuBox{
    min-height: 100px;
    margin: 0;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
  }
  @media print, screen and (min-width: 640px){
    .menuBox{
      min-height: 347px;
    }
  }
  @media only screen and (max-width: 768px) and (min-width: 640px){
    .menuBox{
      min-height: calc(100vh - 93px);
      max-height: calc(100vh - 93px);
    }
  }
  .menuBox>li{
    font-weight: bold;
    cursor: pointer;
    list-style: none;
  }
  .menuBox>li>span{
    padding: 5px 0 5px 20px;
    display: block;
  }
  .menuBox>li>span:hover{
    background-color: var(--background-color);
  }
  .menuBox>li .more{
    font-weight: normal;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    position: relative;
    top: 0;
  }
  .menuBox>li ul{
    padding-left: 22px;
    margin: 0;
  }
  .menuBox>li ul li{
    list-style: none;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    position: relative;
  }
  .menuBox>li ul li span{
    padding-left: 8px;
  }
  .menuBox>li ul li.active:before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 16px;
    background-color: var(--color-info);
    position: absolute;
    top: 3px;
  }
  .menuBox>li ul li.active span{
    font-weight:bold;
  }
</style>
