<template>
  <div class="arContent">
    <p>快来参加活动啊～～～～</p>
    <!-- <el-card> -->
    <activity-item v-if="activity" :item="activity"></activity-item>
    <!-- <router-link :to="{ name: 'activity', params: { activityId: item.objContent.bindId }}">
      <div class="media-object square-article">
        <div class="media-object-section shrink">
          <div class="img">
            <img :src="modelObject.cover">
          </div>
        </div>
        <div class="media-object-section">
          <div class="title14">{{modelObject.title}}</div>
          <div>时间：{{startDate}} ~ {{endDate}}</div>
          <div>地点：{{modelObject.location}}</div>
        </div>
      </div>
    </router-link> -->
    <!-- </el-card> -->
  </div>
</template>
<script>
  import BaseItem from './BaseItem'
  import ActivityItem from '@/components/items/ActivityItem'
  import { dateYMD, rest } from '@/util'
  export default {
    extends: BaseItem,
    components: {
      ActivityItem
    },
    computed: {
      modelObject () {
        return this.item.objContent.modelObject ? this.item.objContent.modelObject : this.item.objContent
      },
      endDate () {
        return dateYMD(this.modelObject.endDate)
      },
      startDate () {
        return dateYMD(this.modelObject.startDate)
      }
    },
    data () {
      return {
        activity: null
      }
    },
    created () {
      let a = {...this.item.objContent.modelObject}
      a.id = this.item.objContent.bindId
      Promise.all([
        this.storeNeedData({
          type: 'user',
          dataIds: [a.creator]
        }),
        rest.get(`/sns/activity/${a.id}/info`)
      ])
        .then(([users, data]) => {
          a.user = users[a.creator] || {}
          a.mark = data.mark
          a.joinCount = data.joinCount
          this.activity = a
        })
    },
    methods: {
    }
  }
</script>

<style scoped="">
</style>
