<template>
</template>
<script>
  import { cleanHtml } from '@/util'
  export default {
    data () {
      return {
        imgCount: 0,
        cover: '',
        expand: true,
        hasExpendBtn: false,
        contentMaxLen: 200
      }
    },
    computed: {
      user () {
        return this.item.user || { id: this.item.userId }
      },
      modelObject () {
        return this.item.objContent.modelObject ? this.item.objContent.modelObject : this.item.objContent
      },
      content () {
        return this.modelObject.content
      },
      resourceFiles () {
        return this.modelObject.resourceFiles
      },
      contentTruncate () {
        this.imgCount = 0
        let contentBody = document.createElement('div')
        contentBody.innerHTML = this.content
        const imgs = contentBody.getElementsByTagName('img')
        if (imgs.length) {
          for (let img of imgs) {
            if (!img.dataset.face) {
              ++this.imgCount
              this.cover = this.cover || img.src
            }
          }
        }
        if (contentBody.innerText.length > this.contentMaxLen) {
          this.hasExpendBtn = true
          return this.cleanHtml(this.content, this.contentMaxLen, '...')
        } else {
          return this.content
        }
      }
    },
    props: {
      item: Object
    },
    methods: {
      cleanHtml,
      toggleExpand (event) {
        const tg = event.target
        if (tg.tagName.toLowerCase() === 'img' && !tg.dataset.face) {
          this.expand = !this.expand
        }
      }
    }
  }
</script>

<style>
</style>
