<template>
  <div class="arContent long-ar padding-t0">
    <a href="javascript:void(0)" @click="preview" :class="{'bg-primary': !blogCover}" style="height: auto"><img :src="blogCover" v-if="blogCover" alt="">
      <h3>{{modelObject.title}}</h3></a>
    <div><p>{{arDescription}}</p></div>
  </div>
</template>
<script>
  import BaseItem from './BaseItem'
  import { extractImage } from '@/util'
  export default {
    extends: BaseItem,
    data () {
      return {}
    },
    computed: {
      blogCover () {
        let coverImage = this.modelObject.cover
        if (!coverImage) {
          if (this.content) {
            let images = extractImage(this.content)
            if (images && images.length > 0) {
              coverImage = images[0].src
            }
          }
        }
        return coverImage
//    return this.modelObject.cover || require('@/assets/img/blog-bg.jpg')
      },
      arDescription () {
        let desc = this.content.replace(/<\/?.+?>/g, '')
        return desc.length > 80 ? (desc.substr(0, 80) + '......') : desc
      }
    },
    methods: {
      preview () {
        let post = {...this.item.objContent}
        post.feedId = this.item.id
        post.user = this.item.user
        post.viewerCount = this.item.viewerCount
        this.$bus.$emit('media:preview', {
          type: 'article',
          user: this.item.user,
          post
        })
      }
    }
  }
</script>
<style>
</style>
