<template>
  <div class="arContent padding-t0">
    <a class="docbg" href="javascript:void(0)" v-for="(resourceFile, index) in resourceFiles">
      <div class="covers">
        <img :src="resourceFile.datas.png" @click="previewDocs"/>
      </div>
      <div class="media-object">
        <div class="media-object-section">
          <file-icon :type="getType(resourceFile)" size="50"></file-icon>
        </div>
        <div class="media-object-section">
          <div class="title14">
            <a href="javascript:void(0)"  @click="previewDocs">{{resourceFile.name}}</a>
          </div>
          <div class="docInfo">
            <span>创建时间：{{item.createTime | dateFormat}}</span>
            <!--<span>作者：XXX</span>-->
            <span v-text="renderSize(resourceFile.size)">12M</span>
          </div>
        </div>
      </div>
    </a>
    <div class="transverse clearfix text-img" v-show="expand">
      <div class="content">
        <p v-html="contentTruncate"></p>
      </div>
    </div>
    <p v-if="!expand" v-html="content" @click="toggleExpand">...</p>
    <div class="more" v-if="hasExpendBtn">
      <a v-if="expand" @click="expand = !expand">展开 <i class="fa fa-angle-down"></i></a>
      <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
    </div>
  </div>
</template>
<script>
  import BaseItem from './BaseItem'
  import FileItem from '@/components/items/FileItem'
  export default {
    extends: BaseItem,
    components: {
      FileItem
    },
    created () {
      this.contentMaxLen = 60
    },
    data () {
      return {
        isDocumentItem: true
      }
    },
    methods: {
      renderSize (value, p, record) {
        if (!value) {
          return '0 Bytes'
        }
        let unitArr = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
        let index = 0
        let srcsize = parseFloat(value)
        let size = this.roundFun(srcsize / Math.pow(1024, (index = Math.floor(Math.log(srcsize) / Math.log(1024)))), 2)
        return size + unitArr[index]
      },
      roundFun (numberRound, roundDigit) {
        if (numberRound >= 0) {
          let tempNumber = parseInt((numberRound * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit)
          return tempNumber
        } else {
          let numberRound1 = -numberRound
          let tempNumber = parseInt((numberRound1 * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit)
          return -tempNumber
        }
      },
      previewDocs (index) {
        index = index || 0
        let previewData = { type: 'doc', resources: [], user: this.user, source: this.item }
        for (var i = 0; i < this.resourceFiles.length; i++) {
          let resourceFile = this.resourceFiles[i]
          previewData.resources.push({
            objCreator: this.item.userId,
            at: this.item.objId,
            atType: 'POST',
            id: resourceFile.rsId,
            type: 'DOCUMENT',
            name: resourceFile.name,
            size: resourceFile.size,
            url: resourceFile.datas['pdf'],
            cover: resourceFile.datas['png'],
            createTime: this.item.createTime,
//          extInfo: resourceFile.datas.extInfo,
            focus: index === i
          })
        }
        this.$bus.$emit('media:preview', previewData)
      },
      getType (resourceFile) {
        let suffix = resourceFile.suffix || 'doc'
        suffix = suffix.toLowerCase()
        if (resourceFile.type === 'doc') {
          if (suffix === 'doc' || suffix === 'docx' || suffix === 'wps') {
            return 'doc'
          } else if (suffix === 'ppt' || suffix === 'pptx' || suffix === 'dps') {
            return 'ppt'
          } else if (suffix === 'xls' || suffix === 'xlsx' || suffix === 'et') {
            return 'xls'
          } else if (suffix === 'pdf') {
            return 'pdf'
          } else if (suffix === 'txt') {
            return 'txt'
          } else {
            return 'doc'
          }
        } else if (resourceFile.type === 'video') {
          return resourceFile.type
        } else if (resourceFile.type === 'other') {
          if (suffix === 'mp3' || suffix === 'ogg' || suffix === 'wav' || suffix === 'flac' || suffix === 'ape' || suffix === 'wma') {
            return 'music'
          }
          return resourceFile.type
        } else {
          return resourceFile.type
        }
      }
    }
  }
</script>

<style>
  .docbg .covers {
    display: flex;
    max-height: 240px;
    overflow: hidden;
    align-items: flex-start;
    margin-bottom: 1rem;
    & img {
      transform: translateY(0);
      transition: all 10s linear;
    }
    &:hover img{
      transform: translateY(calc(-100% + 240px));
    }
  }
</style>
