<template>
  <div>
    <el-col :span="5">
      <div class="transverse user">
        <div class="img">
          <img :src="getUser(item).avatar" v-error-img:user :alt="getUser(item).userName" :title="getUser(item).userName"/>
        </div>
        <div class="content content50">
          <div class="username">
            <a href="javascript:void(0)">{{getUser(item).userName}} </a>
            <i class="fa" :class="item.user===2 ? 'fa-venus color-danger' : 'fa-mars color-primary'"></i>
          </div>
          <div class="arInfo"><span>{{timeFormat(item.refObj.createDate)}}</span></div>
        </div>
      </div>
    </el-col>
    <el-col :span="12">
      <div class="arContent" v-html="item.refObj.modelObject.content">
      </div>
    </el-col>
    <el-col :span="2" class="text-center">
      <label class="color-secondary font-s12">短文</label>
    </el-col>
    <el-col :span="5">
      <el-button-group class="float-right">
        <el-button type="info" size="small" @click="audit('pass', [item.request.id])" title="批准"><i class="el-icon-check"></i> 批准</el-button>
        <el-button type="info" size="small" @click="audit('refuse', [item.request.id])" title="删除"><i class="el-icon-close"></i> 删除</el-button>
        <el-button type="info" size="small" v-if="false"><i class="fa fa-minus-circle"></i></el-button>
      </el-button-group>
    </el-col>
  </div>
</template>
<script>

</script>
