<template>
  <div class="arContent padding-t0">
    <div class="docbg music-box" href="">
      <div class="media-object">
        <div class="media-object-section">
          <img src="../../../assets/img/3.png">
          <img class="music-run fa-spin" alt="music" src="../../../assets/img/music.png">
        </div>
        <div class="media-object-section">
          <div class="title14">
            一声叹息
          </div>
          <div class="docInfo">
            <span>任灿</span>
          </div>
        </div>
      </div>
      <div class="music-btn">
        <span>-05:36</span>
        <a class="play">
          <i class="fa fa-pause"></i>
        </a>
      </div>
    </div>
    <p class="no-margin">真好听</p>
  </div>
</template>
<script>
  import BaseItem from './BaseItem'
  export default {
    extends: BaseItem,
    data () {
      return {}
    },
    watch: {},
    computed: {},
    created () {},
    mounted () {},
    methods: {}
  }
</script>
<style>
</style>
