<template>
  <div class="arContent padding-t0">
    <p class="margin-b" v-html="desc"></p>
    <reprint-card :item="item" :titleFunType="'preview'" @onPreview="preview"></reprint-card>
  </div>
</template>
<script>
  import BaseItem from './BaseItem'
  import ReprintCard from '@/components/cards/ReprintCard'
  import { convertEmoji } from '@/util'
  export default {
    extends: BaseItem,
    components: {
      ReprintCard
    },
    data () {
      return {}
    },
    watch: {},
    computed: {
      modelObject () {
        return this.item.objContent.modelObject ? this.item.objContent.modelObject : this.item.objContent
      },
      desc () {
        let userDesc = convertEmoji(this.modelObject.desc)
        this.modelObject.desc = userDesc
        return userDesc
      }
    },
    created () {},
    mounted () {},
    methods: {
      preview () {
        let post = {...this.item.objContent}
        post.feedId = this.item.id
        post.user = this.item.user
        post.viewerCount = this.item.viewerCount
        this.$bus.$emit('media:preview', {
          type: 'article',
          user: this.item.user,
          post
        })
      }
    }
  }
</script>
<style>
</style>
