<template>
  <div class="arContent padding-t0">
    <p class="margin-b" v-html="content">fwefewf</p>
    <el-card v-if="formData && formData.item">
      <card-item :card-data="formData"></card-item>
    </el-card>
  </div>
</template>
<script>
  import activityMixin from '@/mixin/activityMixin'
  import * as moduleTypes from '@/store/modules'
  import CardItem from '@/components/feedcards/CardItem'
  import BaseItem from './BaseItem'
  import { gatherContentImages } from '@/components/comment'
  export default {
    mixins: [activityMixin],
    extends: BaseItem,
    components: {
      CardItem
    },
    data () {
      return {}
    },
    computed: {
      shareObjTypeName () {
        return this.$store.state.post.objTypeName
      },
      formData () {
        if (typeof this.item.objContent.shareObj === 'undefined') {
          return
        }
        let type = this.shareObjTypeName[this.modelObject.refObjType]
        let objItem = JSON.parse(JSON.stringify(this.item.objContent.shareObj))
        if (type === 'post') {
          if (objItem.objType === 'POST') {
            if (objItem.objContent) {
              let modelObject = objItem.objContent.modelObject ? objItem.objContent.modelObject : objItem.objContent
              if (modelObject.contentType === 'normal') { // 普通帖子类型，包含：文本、图片、视频
                let postType = modelObject.postType
                if (postType === 'image' || postType === 'video' || postType === 'doc') {
                  objItem.currPostId = this.item.objId
                  this.isShareVideo = postType === 'video'
                }
              } else if (modelObject.contentType === 'reprint') {
                type = 'reprint'
              } else if (modelObject.contentType === 'activity') {
                type = 'activity'
              }
            }
          }
        }
        if (this.modelObject.refObjType === 1 || this.modelObject.refObjType === 2 || this.modelObject.refObjType === 3) {
          this.isShareVideo = this.modelObject.refObjType === 2
          let rsList = objItem.objContent.modelObject.resourceFiles || []
          if (objItem.objContent.modelObject.contentType === 'blog' || objItem.objContent.modelObject.contentType === 'reprint') {
            rsList = rsList.concat(this.gatherContentImages(objItem.objContent.modelObject.content))
          }
          objItem.objContent.modelObject.content = ''
          objItem.objContent.modelObject.resourceFiles = rsList.filter(f => f.rsId === this.modelObject.refObjId)
          objItem.shareAttachment = true
          objItem.shareAttachmentType = this.modelObject.refObjType
          objItem.currPostId = this.item.objId
        }
        return {
          type: type,
          item: objItem
        }
      }
    },
    mounted () {
      this.getShareItems()
    },
    methods: {
      gatherContentImages,
      getShareItems () {
        let groupList = {}
        let postList = {}
        if (this.item.objContent && this.item.objContent.modelObject && this.item.objContent.modelObject.contentType === 'share') {
          let modelObject = this.item.objContent.modelObject
          if (modelObject.refObjType === 101) {
            groupList[modelObject.refObjId] = this.item
          } else if (modelObject.refObjType === 5) {
            this.getShareActivity(this.item.objContent, modelObject.refObjId)
          } else if (modelObject.ext) {
            postList[modelObject.ext.feedId] = this.item
          }
        }

        let gids = Object.keys(groupList)
        if (gids && gids.length > 0) {
          this.storeNeedData({
            type: 'group',
            dataIds: gids
          })
            .then(groups => {
              gids.forEach(id => {
                this.$set(groupList[id].objContent, 'shareObj', groups[id] || {})
              })
            })
        }

        let pids = Object.keys(postList)
        if (pids && pids.length > 0) {
          this.$store.dispatch(moduleTypes.feed.A_GET_FEED_LIST, pids)
            .then(feeds => {
              if (feeds) {
                feeds.forEach(f => {
                  if (f) {
                    this.$set(postList[f.id].objContent, 'shareObj', f)
                  }
                })
                pids.forEach(id => {
                  if (!postList[id].objContent.shareObj) {
                    this.$set(postList[id].objContent, 'shareObj', {})
                  }
                })
              }
            })
        }
      },
      getShareActivity (content, actId) {
        if (actId) {
          this.getActivity(actId)
            .then((data) => {
              let shareItem = {}
              if (data) {
                let groupName = ''
                let groupId = ''
                if (data && data.group) {
                  groupName = data.group.name
                  groupId = data.group.id
                }
                let modelObject = {...{contentType: 'activity'}, ...data}
                shareItem = {
                  objId: data.id,
                  objType: 'ACTIVITY',
                  groupName: groupName,
                  groupId: groupId,
                  user: data.user,
                  group: data.group,
                  objContent: {
                    bindId: data.id,
                    modelObject: modelObject
                  }
                }
              }
              this.$set(content, 'shareObj', shareItem)
            })
        } else {
          this.$set(content, 'shareObj', {})
        }
      }
    }
  }
</script>
<style>
</style>
