<template>
  <div class="arContent padding-t0">
    <div class="transverse clearfix text-img" v-show="expand">
      <div class="img" v-if="cover" @click="expand = !expand">
        <img :src="cover" alt=""/>
        <span class="imgCount warning-color" :title="'共' + imgCount + '张'"><i class="fa fa-image"></i> <span v-text="imgCount"></span></span>
      </div>
      <div class="content">
        <p v-html="contentTruncate"></p>
      </div>
    </div>
    <div v-if="!expand" v-html="content" @click="toggleExpand">...</div>
    <div class="more" v-if="hasExpendBtn">
      <a v-if="expand" @click="expand = !expand">展开 <i class="fa fa-angle-down"></i></a>
      <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
    </div>
  </div>
</template>
<script>
  import BaseItem from './BaseItem'
  export default {
    extends: BaseItem,
    computed: {
    },
    data () {
      return {
      }
    },
    created () {
      this.contentMaxLen = 180
    },
    methods: {
    }
  }
</script>
<style>
</style>
