<template>
  <div class="arContent padding-t0">
    <div class="vedio-box"
         v-if="resourceFiles"
         v-for="(resourceFile, index) in resourceFiles"
         :key="index"
    >
      <video-play
        :ref="'videoPlayer' + index"
        :options="getPlayerOptions(resourceFile)"
      >
      </video-play>
      <!--<video v-if="play[index]" autoplay="autoplay" controls="controls" width="100%" :poster="resourceFile.datas['600x'] || resourceFile.datas['mp4_to_jpg']">-->
      <!--<source :src="resourceFile.datas['mp4x'] || resourceFile.datas['mp4']" type="video/mp4">-->
      <!--Your browser does not support the video tag.-->
      <!--</video>-->
      <!--<img v-else :src="resourceFile.datas['600x'] || resourceFile.datas['mp4_to_jpg']" v-error-img:video/>-->
      <!--<div v-show="!play[index]">-->
      <!--<a @click="play[index]=true" class="play"></a>-->
      <!--<span class="modal"></span>-->
      <!--<div class="vedio-info">-->
      <!--&lt;!&ndash; <span>15万次播放</span> &ndash;&gt;-->
      <!--<span class="float-right" v-text="videoDuration(resourceFile.datas.duration || resourceFile.datas.extInfo.duration)">05:26</span>-->
      <!--</div>-->
      <!--</div>-->
    </div>
    <div class="transverse clearfix text-img" v-show="expand">
      <div class="content">
        <p v-html="contentTruncate"></p>
      </div>
    </div>
    <p v-if="!expand" v-html="content" @click="toggleExpand">...</p>
    <div class="more" v-if="hasExpendBtn">
      <a v-if="expand" @click="expand = !expand">展开 <i class="fa fa-angle-down"></i></a>
      <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
    </div>
  </div>
</template>
<script>
  import BaseItem from './BaseItem'
  import VideoPlay from '@/components/VideoPlayer'
  export default {
    extends: BaseItem,
    components: {
      VideoPlay
    },
    data () {
      return {}
    },
    watch: {},
    computed: {},
    created () {
      this.contentMaxLen = 60
    },
    mounted () {},
    methods: {
      getPlayerOptions (resourceFile) {
        return {
          start: 0,
          showFullBtn: false,
          preload: 'none',
          playsinline: false,
          muted: false,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: 'video/mp4',
            src: resourceFile.datas['mp4x'] || resourceFile.datas['mp4']
          }],
          sourceId: resourceFile.rsId,
          poster: resourceFile.datas['550x'] || resourceFile.datas['mp4_to_jpg']
        }
      }
    }
  }
</script>
<style>
</style>
