<template>
  <section class="margin-b mod-border">
    <header class="mod-banner">
      <div class="header-bg" :class="{'banner-transition': transition}" :style="{ backgroundImage: 'url('+groupCover+')' }"></div>
      <div class="transverse group-transverce">
        <div class="img">
          <!--<img src="../../assets/img/4.jpg"/>-->
          <img :src="currGroup.icon" v-error-img:group/>
        </div>
        <div class="content">
          <h2>
            {{currGroup.name}}
          </h2>
          <dl class="desc">
            <dd><span>组员 {{currGroup.memberCount}}</span><!-- | <span>帖子 6500</span> --></dd>
            <dd class="margin-t10"><el-tag type="success">{{groupTypes[currGroup.type]}}</el-tag> · <span>
              <el-tooltip class="item" effect="light" :content="getScope(currGroup.scope, 'name')+'小组'" placement="top-start">
                <i class="fa" :class="getScope(currGroup.scope, 'icon')"></i>
              </el-tooltip>
              {{getScope(currGroup.scope, 'name')}}小组
            </span></dd>
          </dl>
          <!--<div v-if="!hasJoined&&!isCreate&&!hasRequest"><el-button type="warning" size="small" @click="joinGroup"><i class="fa fa-plus"></i> 加入</el-button></div>-->
          <!--<div v-if="!hasJoined&&!isCreate&&hasRequest"><el-button  size="small">待审核...</el-button></div>-->
        </div>
      </div>
      <div class="mod-tools">
        <el-popover
          popper-class="vertical"
          ref="state"
          placement="bottom-start"
          width="80"
          trigger="click"
          v-model="showFollowPopover">
          <ul class="vertical-menu" v-show="hasJoined && !isCreate">
          	<li v-if="isFollow" @click="follow(false)"> 停止关注</li>
          	<li v-else @click="follow(true)"> 关注小组</li>
          	<li @click="exitGroup"> 退出小组</li>
          </ul>
          <ul class="vertical-menu" v-show="!hasJoined&&!isCreate&&hasRequest">
            <li @click="cancelRequest">取消请求</li>
          </ul>
         </el-popover>
         <el-popover
          popper-class="vertical"
          ref="note"
          placement="bottom-start"
          width="114"
          trigger="click"
          v-model="showNotifyPopper">
          <ul class="vertical-menu icon">
            <li @click="notify(0)"><i class="fa fa-check-circle"></i>所有帖子</li>
            <li @click="notify(1)">
              <i class="fa fa-user"></i>特别关注
              <el-tooltip class="item" effect="dark" content="用于推荐来自所关注用户的帖子及其推荐帖" placement="top-start">
                <i class="el-icon-information"></i>
              </el-tooltip>
            </li>
            <li @click="notify(-1)"><i class="fa fa-minus-circle"></i>关闭</li>
          </ul>
         </el-popover>
         <el-popover
          popper-class="vertical"
          ref="more"
          placement="bottom-start"
          width="110"
          trigger="click"
          v-model="groupMenusShow">
          <ul class="vertical-menu">
            <li @click="msgInfo('该功能正在开发中...')">发消息</li>
            <li @click="addMemberDialogShow">新增成员</li>
            <li class="divided" v-if="showManageGroup" @click="openGroupManager">管理小组</li>
            <li @click="openGroupEdit" v-if="isManager">编辑小组设置</li>
            <li @click="msgInfo('该功能正在开发中...')">将小组存档</li>
            <li @click="setCommonlyUsed">{{isCommondUsed?'移出常用':'加入常用'}}</li>
          </ul>
         </el-popover>
        <el-button-group>
          <el-button type="info" v-if="currGroup && currGroup.scope !== 3" @click="shareGroup" icon="share" size="small">分享</el-button>
          <el-button type="info" v-if="!hasJoined&&!isCreate&&!hasRequest" size="small" @click="joinGroup"><i class="fa fa-plus"></i>{{joinStatusText}}</el-button>
          <el-button type="info" v-popover:state size="small"  v-show="!(!hasJoined&&!isCreate&&!hasRequest)">{{joinStatusText}}<i class="el-icon-caret-bottom el-icon--right"></i></el-button>
          <el-button type="info"  v-popover:note size="small" v-show="hasJoined&&!isCreate"><i :class="notifyIcon" style="width:12px;padding-right:4px;"></i>通知</el-button>
          <el-button type="info" icon="more" v-popover:more size="small" v-show="hasJoined&&!isCreate"></el-button>
        </el-button-group>
      </div>
    </header>
    <div class="group-relative clearfix filters">
      <ul class="menu">
        <!--<li v-for="(item, index) in groupMenu" key="index">-->
          <!--<router-link :to="{ name: item.name, params: { groupId: this.currGroupId }}">-->
            <!--{{item.title}}-->
          <!--</router-link>-->
        <!--</li>-->
        <li>
          <router-link :to="{ name: 'group', params: { groupId: this.currGroupId }}">
            全部动态
          </router-link>
        </li>
        <li>
          <router-link :to="{ name: 'groupMember', params: { groupId: this.currGroupId }}">
            成员
          </router-link>
        </li>
        <li v-if="isOpenGroup">
          <router-link :to="{ name: 'groupActivity', params: { groupId: this.currGroupId }}">
            活动
          </router-link>
        </li>
        <li>
          <router-link to="/taskIndex">任务</router-link>
        </li>
        <li>
          <router-link to="/questionIndex">话题</router-link>
        </li>
      </ul>
      <aside class="group-search" @keyup.enter="searchAction">
        <el-input
          size="small"
          class='inline-input'
          icon='search'
          :on-icon-click="searchAction"
          v-model='keyword'
          placeholder='组内搜索...'
          @keyup.enter="searchAction"
        ></el-input>
      </aside>
    </div>
    <el-dialog
      v-if="hasJoined"
      :title="alertDialogData.title"
      :visible.sync="showAlertDialog"
      size="tiny"
      :before-close="handleClose">
      <span>{{alertDialogData.content}}</span>
      <span slot="footer" class="dialog-footer">
      <el-button @click="showAlertDialog = false; alertDialogData = {};">取 消</el-button>
      <el-button type="primary" :disable="!complete" @click="doExitGroup">确 定</el-button>
    </span>
    </el-dialog>
    <select-user
      :dialogVisible.sync="selectUserDialogVisible"
      :dialogTitle="selectUserDialogTitle"
      actionBtnTitle="加入"
      :getValue="getGroupUserRelations"
      :value="[]"
      :action="addGroupMembersAction"
    ></select-user>
  </section>
</template>
<script>
  import { groupFormShow } from '@/store/modules/helper'
  import { rest } from '@/util'
  import SelectUser from '@/components/selectusers/SelectUser'
  import { types as gtypes, groupManagementShow, groupManagementActiveName } from '@/store/modules/group'
  import { types as gmtypes } from '@/store/modules/groupMember'
  import { shareData, shareFormShow } from '@/store/modules/share'
  export default {
    components: {
      SelectUser
    },
    computed: {
      shareData,
      groupFormShow,
      groupManagementShow,
      groupManagementActiveName,
      shareFormShow,
      notifyIcon () {
        if (this.notifyConfig === 0) {
          return 'fa fa-check-circle'
        } else if (this.notifyConfig === 1) {
          return 'fa fa-user'
        } else if (this.notifyConfig === -1) {
          return 'fa fa-minus-circle'
        }
      },
      isCommondUsed: {
        get () {
          return this.$store.state.groupMember.isCommondUsed
        },
        set (val) {
          this.$store.commit(gmtypes.M_CHANGE_COMMOND_STATUS, val)
        }
      },
      currGroup () {
        return this.$store.state.group.currItem
      },
      isOpenGroup () {
        return this.currGroup.scope === 1 || this.$store.state.groupMember.hasJoined
      },
      selectUserDialogTitle () {
        let groupName = this.currGroup.name
        if (groupName) {
          return '新增成员到' + groupName
        } else {
          return '新增成员到小组'
        }
      },
      groupTypes () {
        var gts = this.$store.state.group.groupValueTypes
//        delete gts['0']
        return gts
      },
      isManager () {
        return this.$store.state.group.currRefIsManager
      },
      hasJoined: {
        get () {
          return this.$store.state.groupMember.hasJoined
        },
        set (val) {
          this.$store.commit(gmtypes.M_CHANGE_JOINED_STATUS, [val, true])
        }
      },
      joinStatusText () {
        let txt = ''
        if (!this.hasJoined && !this.isCreate && !this.hasRequest) {
          txt = '加入'
        } else if (!this.hasJoined && !this.isCreate && this.hasRequest) {
          txt = '待审核'
        } else if (this.hasJoined && !this.isCreate) {
          txt = '已加入'
        }
        return txt
      },
      requestTypeCounts: {
        get () {
          return this.$store.state.group.requestTypeCounts
        },
        set (val) {
          this.$store.commit(gtypes.M_CHANGE_REQUEST_TYPE_COUNTS, val)
        }
      },
      groupCover () {
        return this.currGroup.cover || require('@/assets/img/group-def.jpg')
      },
      showManageGroup () {
        const memberAudit = this.currGroup.memberAudit
        const postAudit = this.currGroup.postAudit
        const isManager = this.$store.state.group.currRefIsManager
        const isSuper = this.$store.state.group.currRefIsSuperman
        if (memberAudit === 1 && postAudit === 1) {
          return false
        } else {
          let canMA = false
          if (memberAudit === 2) {
            canMA = this.hasJoined
          } else if (memberAudit === 3) {
            canMA = this.hasJoined && (isManager || isSuper)
          }
          let canPA = false
          if (postAudit === 2) {
            canPA = this.hasJoined && (isManager || isSuper)
          }
          return canMA || canPA
        }
      }
    },
    data () {
      return {
        addGroupMembersAction: (selectIds) => {
          let request = rest.create('/sns/groupMembers/groups/' + this.currGroupId + '/members', selectIds)
          return request.then((data) => {
            if (data === 0) {
              this.msgError('新增成员失败，请稍候重试!')
            } else if (data === 1) {
              this.msgSuccess('新增成员成功！')
              this.selectUserDialogVisible = false
            } else if (data === 2) {
              this.msgSuccess('已发送加入小组的请求，请等待小组管理员审核！')
              this.selectUserDialogVisible = false
            } else {
              this.msgError('新增成员失败，请稍候重试')
              console.log('新增成员异常，未知的返回状态码！', status)
            }
            return data
          }).catch((error) => {
            this.msgError('新增成员失败，请稍候重试!')
            console.log('新增成员失败', error)
            return Promise.reject(error)
          })
        },
        getGroupUserRelations: () => {
          return rest.get('/sns/groupMembers/groupUserRelations', {groupId: this.currGroupId}, true).then((data) => {
            return data
          }).catch((error) => {
            return Promise.reject(error)
          })
        },
        selectUserDialogVisible: false,
        currGroupId: '',
        transition: false,
        showFollowPopover: false,
        showNotifyPopper: false,
        groupMenusShow: false,
        isFollow: false, // 停止关注
        notifyConfig: 0, // 默认为所有通知
        groupMenu: [
          {
            title: '全部动态',
            name: 'group'
          },
//          {
//            title: '话题',
//            name: 'groupTopic'
//          },
          {
            title: '成员',
            name: 'groupMember'
          }
//          {
//            title: '文件',
//            name: 'groupFile'
//          },
//          {
//            title: '活动',
//            name: 'groupActivity'
//          }
        ],
        restaurants: [],
        keyword: '',
        timeout: null,
        groupScopes: {
          1: {
            name: '开放',
            icon: 'fa-globe'
          },
          2: {
            name: '封闭',
            icon: 'fa-unlock-alt'
          },
          3: {
            name: '私密',
            icon: 'fa-lock'
          }
        },
        hasRequest: false,
        isCreate: true,
        showAlertDialog: false,
        alertDialogData: {},
        complete: true,
        loadCountComplete: true
      }
    },
    methods: {
      searchAction () {
        let params = {q: this.keyword}
        if (this.$route.path.lastIndexOf('/search') >= 0) {
          this.$bus.$emit('search:group', params)
        } else {
          this.$router.push({name: 'groupSearch', params: {groupId: this.currGroupId}, query: params})
        }
      },
      openGroupManager () {
        this.groupMenusShow = false
        this.groupManagementActiveName = 'join_group'
        this.groupManagementShow = true
      },
      // 操作通知方法
      notify (notifyConfig) {
        var gid = this.$route.params.groupId
        this.showNotifyPopper = false
        this.$store.dispatch(gtypes.A_CHANGE_GROUP_NOTIFY, {groupId: gid, arg: notifyConfig})
          .then((operResult) => {
            if (operResult) {
              this.notifyConfig = notifyConfig
            }
          })
          .catch((e) => {
            this.msgWarning('配置通知失败，' + e.message)
          })
      },
      // 关注小组方法
      follow (isfollow) {
        var gid = this.$route.params.groupId
        this.showFollowPopover = false
        this.$store.dispatch(gtypes.A_CHANGE_FOLLOW_GROUP, {groupId: gid, follow: isfollow})
          .then((operResult) => {
            if (operResult) {
              this.isFollow = isfollow
            }
          })
          .catch((e) => {
            this.msgWarning((isfollow ? '' : '停止') + '关注失败，' + e.message)
          })
      },
      openGroupEdit () {
        this.groupMenusShow = false
        this.groupFormShow = true
      },
      loadAll () {
        return [
          { 'value': '三全鲜食（北新泾店）', 'address': '长宁区新渔路144号' }
        ]
      },
      handleSelect (item) {
        console.log(item)
      },
      groupHeaderBg () {
        setTimeout(() => {
          this.transition = true
        }, 100)
      },
      initData (data) {
        if (data.groupMember) {
          this.$store.commit(gmtypes.M_CHANGE_JOINED_STATUS, [true, false])
          this.isCommondUsed = data.groupMember.commonlyUsed
          this.isFollow = data.groupMember.follow
        }
        this.hasRequest = data.hasRequest
        this.isCreate = false
        this.notifyConfig = data.notifyConfig
        this.requestTypeCounts = data.requestTypeCounts
      },
      getScope (key, t) {
        let val = this.groupScopes[key]
        let tval = val ? val[t] : ''
        return tval
      },
      setCommonlyUsed () {
        var gid = this.$route.params.groupId
        this.groupMenusShow = false
        this.$store.dispatch(gmtypes.A_CHANGE_GROUP_COMMOND_USED, gid)
        .then((data) => {
          this.isCommondUsed = data.commonlyUsed
          let msg = ''
          if (data.commonlyUsed) {
            this.$store.commit(gmtypes.M_ADD_COMMOND_USED_LIST, this.currGroup)
            msg = '设置常用小组成功！'
          } else {
            this.$store.commit(gmtypes.M_REMOVE_COMMOND_USED_LIST, this.currGroup)
            msg = '取消常用小组成功！'
          }
          this.msgSuccess(msg)
        })
        .catch((err) => {
          if (err.status < 10000) {
            this.msgError(err.message)
          } else {
            this.msgWarning(err.message)
          }
        })
      },
      joinGroup () {
        var gid = this.$route.params.groupId
        this.$store.dispatch(gmtypes.A_CREATE, {groupId: gid})
        .then((data) => {
          let msg = ''
          if (data) {
            this.hasJoined = true
            msg = '加入小组成功！'
          } else {
            this.hasRequest = true
            msg = '请求加入小组成功，待审核！'
          }
          this.msgSuccess(msg)
        })
      },
      exitGroup () {
        this.showFollowPopover = false
        rest.get('/sns/groups/' + this.currGroup.id + '/all/count')
          .then(count => {
            if (count > 0) {
              this.showAlertDialog = true
              if (count === 1) {
                this.alertDialogData.title = '退出并删除小组？'
                this.alertDialogData.content = '你确定要退出' + this.currGroup.name + '吗？你是小组仅有的成员，退出将删除小组。'
                this.alertDialogData.hasGoto = true
              } else {
                this.alertDialogData.title = '退出小组？'
                this.alertDialogData.content = '你确定要退出' + this.currGroup.name + '吗？'
                this.alertDialogData.hasGoto = false
              }
            }
          })
      },
      cancelRequest () {
        this.showFollowPopover = false
        let params = {
          type: 'JOIN_GROUP',
          ref: this.currGroup.id,
          createAt: this.currGroup.id,
          createAtType: 'GROUP'
        }
        rest.delete('/sns/requests/cancel', params)
          .then(data => {
            if (data > 0) {
              this.hasRequest = false
            }
          })
      },
      doExitGroup () {
        this.complete = false
        this.showFollowPopover = false
        var gid = this.$route.params.groupId
        this.$store.dispatch(gmtypes.A_EXIT_GROUP, gid)
          .then(data => {
            this.hasRequest = false
            this.complete = true
            this.showAlertDialog = false
            this.msgSuccess('退出小组成功！')
            if (this.currGroup.scope === 3 || this.alertDialogData.hasGoto) {
              this.$router.push({name: 'groups'})
            }
          })
          .catch(err => {
            this.complete = true
            this.showAlertDialog = false
            if (err.status < 10000) {
              this.msgError(err.message)
            } else {
              this.msgWarning(err.message)
            }
          })
      },
      handleClose (done) {
        this.alertDialogData = {}
        this.showAlertDialog = false
        done()
      },
      addMemberDialogShow () {
        this.groupMenusShow = false
        this.selectUserDialogTitle = '将同事加入' + this.currGroup.name
        this.selectUserDialogVisible = true
      },
      addMemberComplete (status, data) { // 添加成员处理完成的事件
        if (status) {
          //  0:失败, 1:成功, 2:等待审核
          if (data === 0) {
            this.msgError('新增成员失败，请稍候重试!')
          } else if (data === 1) {
            this.msgSuccess('新增成员成功！')
            this.selectUserDialogVisible = false
          } else if (data === 2) {
            this.msgSuccess('已发送加入小组的请求，请等待小组管理员审核！')
            this.selectUserDialogVisible = false
          } else {
            this.msgError('新增成员失败，请稍候重试')
            console.log('新增成员异常，未知的返回状态码！', status)
          }
        } else {
          this.msgError('新增成员失败，请稍候重试!')
          console.log('新增成员失败', data)
        }
      },
//      分享小组
      shareGroup () {
        this.shareData = {from: 'group', type: 'group', item: this.currGroup}
        this.shareFormShow = true
      }
    },
    watch: {
      $route () {
        this.currGroupId = this.$route.params.groupId
        this.isCreate = false
        this.transition = false
        let gid = this.$route.params.groupId
        if (!this.currGroup || this.currGroup.id !== gid) {
          this.groupHeaderBg()
        }
      }
    },
    created () {
      this.currGroupId = this.$route.params.groupId
    },
    mounted () {
      this.groupHeaderBg()
      this.restaurants = this.loadAll()
      if (this.$route.query.q) {
        this.keyword = this.$route.query.q
      }
    }
  }
</script>
<style>
  /*.group-transverce{position: absolute;top: 25%;z-index: 1;left: 10%;}*/
  /*.group-transverce .img{border-radius: 4px;height: 86px;width:86px;}*/
  /*.group-transverce .content{*/
    /*padding-left: 110px;*/
    /*& .el-tag--success{*/
      /*color: #fff;*/
    /*}*/
  /*}*/
  /*.group-transverce h2{*/
    /*color: #fff;*/
    /*display: block;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*max-width: 600px;*/
    /*margin-bottom: 10px;*/
    /*& i {*/
      /*font-size: 14px;*/
      /*margin-right: 6px;*/
      /*position: relative;*/
      /*top: -1px;*/
    /*}*/
  /*}*/
  /*.group-transverce .desc{*/
    /*color: #fff;*/
    /*font-size: 12px;*/
    /*z-index: 1;*/
    /*max-width: 640px;*/
    /*height: 56px;*/
    /*overflow: hidden;*/
    /*& span:not(last-child) {*/
      /*margin-right: 6px;*/
      /*&:last-child{*/
        /*margin-left: 6px;*/
      /*}*/
    /*}*/
  /*}*/

  .group-relative{
    height: 41px;
    line-height: 41px;
    background: #fff;
    & .menu{
      width: 70%;
      float: left;
      margin-top: 1px;
    }
    & .group-search{
      width: 30%;
      float: left;
      text-align: right;
      & .inline-input{
        margin-right: 10px;
        width: 215px;
      }
    }
  }
  .group_tools .el-dropdown-menu__item{
    line-height: 24px;
  }
</style>
