<template>
  <popover
    ref="groupPopover"
    placement="top"
    width="430"
    trigger="hover"
    popper-class="user_card"
  >
    <img src="" alt=""/>
  </popover>
</template>
<script>
import Popover from '@/components/Popover'
export default {
  components: {
    Popover
  },
  data () {
    return {
      isLoading: false,
      loadComplete: true,
      user: {},
      isLoadingNewFeeds: false,
      loadNewFeedsSuccess: true
    }
  },
  created () {
    // 添加事件监听
    this.$bus.$on('group:showPopover', ({elem, group}) => {
      this.showGroupInfo({elem, group})
    })
    this.$bus.$on('group:hidePopover', (data) => {
      this.hideGroupInfo(data)
    })
    this.$bus.$on('group:closePopover', (data) => {
      this.closeUserInfo(data)
    })
  },
  methods: {
    showGroupInfo (data) {
      this.toggleGroupInfo(data, true)
    },
    hideGroupInfo (data) {
      this.toggleGroupInfo(data, false)
    },
    closeUserInfo (data) {
      if (this.$refs && this.$refs.groupPopover) {
        let popover = this.$refs.groupPopover
        if (popover && popover.$refs && popover.$refs.popper) {
          popover.$refs.popper.style.display = 'none'
        }
      }
    },
    toggleGroupInfo ({group, elem}, show) {
      let popover = this.$refs.groupPopover
      if (popover) {
        if (user) {
          popover.changeShowInfo({ elem, show, callback: () => { this.user = group || {} } })
        } else {
          console.log('获取用户信息为空！', user)
        }
      }
    }
  },
  computed: {
  }
}
</script>
<style>
@import "css/variable.css";
.user_card {
  background: var(--color-primary);
  padding: 1rem;
  border: 0;
  & .news-content a{
    height: auto;
    display: inline-block;
  }
  & .user_head{
    min-height: 120px;
    & .media-object{
      margin: 10px;
      & >div{
        &:first-child {
          text-align: center;
          & .avatar{
            display: inline-block;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
          }
          & h4{
            text-align: center;
            color: #fff;
            margin-bottom: 10px;
          }
          & div{
            color: #fff;
            & span{
              margin:0 4px
            }
          }
        }
        &:last-child {
           padding-left: 1rem;
           border-left: 1px dashed #aaa;
          & h4 {
            margin-bottom: 6px;
            color: #fff;
            & span:last-child{margin-left: 6px;}
          }
          & div{
              margin-bottom: 6px;
              color: var(--color-secondary);
          &.state{
             position: absolute;
             right: 1rem;
             top: 1rem;
           }
          }
        }
      }
    }
  }
  & .line{border-top: 1px solid #fff;}
  & .user_info {
    padding: 10px 0;
    & ul {
      margin: 0;
      & li {
        list-style: none;
        width: 20%;
        padding-right: 10px;
        float: left;
        & a{
          display: block;
          color: #fff;
          opacity: .8;
            transition: opacity .3s;
          &:hover{
            opacity: 1;
          }
          & i{
            margin-right: 6px;
          }
        }
      }
    }
  }
  & pre{background: none;}
}
.img_lists {
  display: flex;
  & a {
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: color(var(--color-primary) tint(6%));
      overflow: hidden;
      color: #fff;
      & .coverImg {
        width:136.66px;
        height:91.09px;
        object-fit: cover;
      }
      & i{
        position: absolute;
        font-size: 24px;
        color: rgba(255,255,255,.7);
      }
      & span{
        width:136.66px;
        height:91.09px;
        text-align: center;
      }
    }
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateY(10px);
  opacity: 0;
}
.el-popover.user_card[x-placement^="top"] .popper__arrow::after{border-top-color:var(--color-primary);}
.el-popover.user_card[x-placement^="bottom"] .popper__arrow::after{border-bottom-color:var(--color-primary);}
</style>
