<template>
  <div class="mod-border">
    <div class="filters border-bottom">
      <el-row>
        <el-col :span="20">
          <ul class="menu">
            <li>
              <a :class="memberType === 'members'?'router-link-exact-active active':''" @click="memberType = 'members'">全部{{getCount('members')}}</a>
            </li>
            <li>
              <a :class="memberType === 'manager'?'router-link-exact-active active':''" @click="memberType = 'manager'">管理员{{getCount('manager')}}</a>
            </li>
            <li>
              <a :class="memberType === 'superman'?'router-link-exact-active active':''" @click="memberType = 'superman'">版主{{getCount('superman')}}</a>
            </li>
            <li>
              <a :class="memberType === 'blackList'?'router-link-exact-active active':''" @click="memberType = 'blackList'">黑名单{{getCount('blackList')}}</a>
            </li>
          </ul>
        </el-col>
        <el-col :span="4">
          <div class="filters_btn">
            <el-button type="success" size="small" @click="addMemberDialogShow">新增成员</el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="list-con clearfix">
      <member-item
        v-for="item in list"
        :key="item.id"
        :item="item"
        :user="getUser(item)"
        :showManger="memberType !== 'blackList'"
        @changeItem="changeItem">
      </member-item>
      <list-loading
        :loading="statusFetchList"
        :noData="done&&pageInfo.total === 0"
        v-if="pageInfo.total === 0||statusFetchList"></list-loading>
    </div>
    <div class="mod-footer" v-if="pageInfo.total>0">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[9, 12, 15, 18]"
        :page-size="pageInfo.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="pageInfo.total">
      </el-pagination>
    </div>
    <el-dialog
      :title="dialogData.title"
      :visible.sync="showDialog"
      size="tiny"
      :before-close="handleClose">
      <span>{{dialogData.content}}</span>
      <span slot="footer" class="dialog-footer">
        <el-checkbox v-if="dialogData.addToBlack" v-model="removeToBlack">拉黑成员</el-checkbox>
        <el-button @click="showDialog = false; dialogData = {};removeToBlack = false">取 消</el-button>
        <el-button type="primary" :disable="!complete" @click="doChangeItem">确 定</el-button>
      </span>
    </el-dialog>
    <select-user
      :dialogVisible.sync="selectUserDialogVisible"
      :dialogTitle="selectUserDialogTitle"
      actionBtnTitle="加入"
      :getValue="getGroupUserRelations"
      :value="[]"
      :action="addGroupMembersAction"
    ></select-user>
  </div>
</template>
<script>
  import { rest } from '@/util'
  import { currUser } from '@/store/modules/helper'
  import restDataMixin from '@/util/restDataMixin'
  import MemberItem from '@/components/items/MemberItem'
  import { types as gmtypes } from '@/store/modules/groupMember'
  import { types as gtypes } from '@/store/modules/group'
  import SelectUser from '@/components/selectusers/SelectUser'

  export default {
    mixins: [restDataMixin],
    components: {
      MemberItem,
      SelectUser
    },
    data () {
      return {
        selectUserDialogVisible: false,
        selectUserDialogTitle: '新增小组成员',
        groupMenusShow: false,
        currGroupId: '',
        showDialog: false,
        removeToBlack: false,
        dialogData: {},
        complete: true,
        defSize: 9,
        list: [],
        memberCount: {
          members: 0,
          manager: 0,
          superman: 0,
          blackList: 0
        },
        getGroupUserRelations: () => {
          return rest.get('/sns/groupMembers/groupUserRelations', {groupId: this.currGroupId}, true).then((data) => {
            return data
          }).catch((error) => {
            return Promise.reject(error)
          })
        },
        addGroupMembersAction: (selectIds) => {
          let request = rest.create('/sns/groupMembers/groups/' + this.currGroupId + '/members', selectIds)
          return request.then((data) => {
            if (data === 0) {
              this.msgError('新增成员失败，请稍候重试!')
            } else if (data === 1) {
              this.msgSuccess('新增成员成功！')
              this.selectUserDialogVisible = false
            } else if (data === 2) {
              this.msgSuccess('已发送加入小组的请求，请等待小组管理员审核！')
              this.selectUserDialogVisible = false
            } else {
              this.msgError('新增成员失败，请稍候重试')
              console.log('新增成员异常，未知的返回状态码！', status)
            }
            return data
          }).catch((error) => {
            this.msgError('新增成员失败，请稍候重试!')
            console.log('新增成员失败', error)
            return Promise.reject(error)
          })
        },
        memberType: 'members',
        defMembers: {
          members: {
            list: [],
            total: 0,
            size: 0,
            page: 0
          },
          manager: {
            list: [],
            total: 0,
            size: 0,
            page: 0
          },
          superman: {
            list: [],
            total: 0,
            size: 0,
            page: 0
          },
          blackList: {
            list: [],
            total: 0,
            size: 0,
            page: 0
          }
        },
        member: {},
        fetchBusy: false,
        currentPage: 1,
        done: false
      }
    },
    computed: {
      currUser,
      users () {
        return this.$store.state.dataPool.users
      },
      currGroup () {
        return this.$store.state.group.currItem
      },
      currGroupRef () {
        return this.$store.state.group.currItemRef
      },
      initData () {
        return false
      },
      listUrlParams () {
        let params = {}
        params.groupId = this.$route.params.groupId
        params.type = this.memberType
        params.index = this.index
        return params
      },
      restUrlGetAll () {
        let url
        if (this.memberType !== 'blackList') {
          url = '/sns/groupMembers/groups/{{groupId}}/{{type}}'
        } else {
          url = '/sns/blackLists/groups/{{groupId}}/{{type}}'
        }
        return url + '?size={{size}}&page={{page}}'
      },
      statusFetchList () {
        return this.rest.status.fetchList
      }
    },
    watch: {
      'rest.items' (nv) {
        this.currentPage = this.page
        this.member[this.memberType].size = this.pageInfo.size
        this.member[this.memberType].total = this.pageInfo.total
        this.member[this.memberType].list = nv
        this.list = this.member[this.memberType].list
        this.fetchBusy = false
        this.$store.commit(gmtypes.M_CHANGE_RELOAD_STATUS, false)
      },
      memberType (nv, ov) {
        this.list = []
        let memberMap = this.member[nv]
        this.rest.page.size = memberMap.size ? memberMap.size : this.defSize
        this.rest.page.total = memberMap.total
        this.page = memberMap.page
        this.currentPage = this.page
        if (this.page === 0 || memberMap.list.length === 0) {
          if (this.page !== 0) {
            --this.page
          }
          this.fetchData()
        } else {
          this.list = memberMap ? memberMap.list : []
        }
      },
      '$store.state.groupMember.hasReload' (nv, ov) {
        if (nv) {
          let memberMap = this.member[this.memberType]
          this.rest.page.size = memberMap.size ? memberMap.size : this.defSize
          this.page = memberMap.page
//          this.currentPage = this.page
          if (this.page !== 0) {
            --this.page
          }
          this.intCountData()
          this.fetchData()
        }
      },
      $route () {
        this.currGroupId = this.$route.params.groupId
      }
    },
    created () {
      console.log('route.groupId', this.$route.params.groupId)
      this.currGroupId = this.$route.params.groupId
    },
    mounted () {
      this.currGroupId = this.$route.params.groupId
      this.intCountData()
      this.rest.page.size = this.defSize
      this.member = {...this.defMembers}
      this.fetchData()
    },
    methods: {
      getUser (item) {
        let user = {}
        if (this.memberType !== 'blackList') {
          user = this.users[item.userId]
        } else {
          user = this.users[item.blackId]
        }
        return user
      },
      addMemberDialogShow () {
        this.groupMenusShow = false
        this.selectUserDialogTitle = '将同事加入' + this.currGroup.name
        this.selectUserDialogVisible = true
      },
      intCountData () {
        var gid = this.$route.params.groupId
        rest.get('/sns/groups/' + gid + '/member/count')
          .then(data => {
            this.memberCount = { ...this.memberCount, ...data }
          })
          .catch(e => {
            console.log('获取成员人数失败', e)
          })
      },
      getCount (type) {
        var count = this.memberCount[type]
        return count ? '（' + count + '）' : ''
      },
      fetchData () {
        if (!this.fetchBusy) {
          this.done = false
          this.fetchBusy = true
          ++this.page
          this.member[this.memberType].page = this.page
          this.getData()
            .then(data => {
              this.done = true
            })
            .catch(err => {
              this.fetchBusy = false
              if (err.status < 10000) {
                console.log('system error:', err)
              } else {
                console.log('app error:', err)
              }
            })
        }
      },
      restFilterGetAll (req) {
        return req.then(data => {
          let ids = []
          if (this.memberType !== 'blackList') {
            ids = data.content.map(o => o.userId)
          } else {
            ids = data.content.map(o => o.blackId)
          }
          return this.storeNeedData({
            type: 'user',
            dataIds: ids
          })
            .then(users => {
              return data
            })
        })
      },
      handleSizeChange (val) {
        try {
          this.page = 0
          this.rest.page.size = val
          this.fetchData()
        } catch (e) {
        }
      },
      handleCurrentChange (val) {
        try {
          if (val < 1) {
            return
          }
          this.page = val - 1
          this.fetchData()
        } catch (e) {
        }
      },
      changeItem (data) {
        this.complete = false
        this.dialogData = data
        this.dialogData.removeToBlack = false
        this.dialogData.addToBlack = false
        this.dialogData.hasGoto = false
        if (data.do === 'set') {
          if (data.type === 'member' && data.rmType === 'manager') {
            this.dialogData.title = '移除小组管理员'
            this.dialogData.content = '你将要取消' + data.userName + '的小组管理员身份。'
          } else if (data.type === 'member' && data.rmType === 'superman') {
            this.dialogData.title = '移除小组版主'
            this.dialogData.content = '你将要取消' + data.userName + '的小组版主身份。'
          } else if (data.type === 'superman' && data.rmType === 'manager') {
            this.dialogData.title = '改为小组版主'
            this.dialogData.content = '你将要把' + data.userName + '的管理员身份改为版主身份。'
          } else if (data.type === 'manager' && !data.rmType) {
            this.dialogData.title = '添加小组管理员'
            this.dialogData.content = data.userName + '担任小组管理员后，将获得编辑小组设置、移除成员和授予其他成员管理员职责的权限。'
          } else {
            this.dialogData.title = '设为小组版主'
            this.dialogData.content = '版主和管理员相似，但控制权有限。' + data.userName + '能够管理小组成员、审核小组中的帖子和评论。'
          }
        } else if (data.do === 'remove') {
          if (data.type === 'blackList') {
            this.dialogData.title = '取消拉黑'
            this.dialogData.content = '确定要取消拉黑' + data.userName + '吗？'
          } else {
            this.dialogData.title = '移除成员'
            this.dialogData.content = '把' + data.userName + '从小组移除？'
            this.dialogData.addToBlack = true
            if (data.type === 'exit') {
              this.dialogData.addToBlack = false
              this.dialogData.title = '退出小组'
              if (this.memberCount.members === 1) {
                this.dialogData.title = '退出并删除小组？'
                this.dialogData.content = '你确定要退出' + this.currGroupRef.group.name + '吗？你是小组仅有的成员，退出将删除小组。'
                this.dialogData.hasGoto = true
              } else {
                if (data.rmType === 'manager') {
                  this.dialogData.content = '是否确定放弃管理员权限，并退出该小组？'
                } else if (data.rmType === 'superman') {
                  this.dialogData.content = '是否确定放弃版主权限，并退出该小组？'
                } else {
                  this.dialogData.content = '是否确定退出该小组？'
                }
              }
            }
          }
        }
        this.showDialog = true
      },
      doChangeItem () {
        let data = this.dialogData
        if (data.do === 'set') {
          this.changeMemeber(data.id, data.type)
        } else if (data.do === 'remove') {
          if (this.removeToBlack) {
            data.type = 'blackList'
            this.changeMemeber(data.id, data.type)
          } else {
            this.removeMemeber(data.id, data.type)
          }
        }
      },
      changeMemeber (id, type) {
        var groupId = this.listUrlParams.groupId
        rest.edit('/sns/groupMembers/' + id + '/' + type + '?groupId=' + groupId)
          .then(data => {
            this.complete = true
            this.msgSuccess('成员权限更改成功！')
            if (this.currGroupRef.groupMember.userId === data.userId) {
              let grf = {...this.currGroupRef}
              grf.groupMember = data
              this.$store.commit(gtypes.M_SET_CURRREF_STATUS, data)
              this.$store.commit(gtypes.M_CHANGE_CURRENT_GROUPREF, grf)
            }
            this.doSetMember(id, type, data)
            this.dialogData = {}
            this.removeToBlack = false
          })
          .catch(err => {
            if (err.status < 10000) {
              this.msgError(err.message)
            } else {
              this.msgWarning(err.message)
            }
            this.complete = true
            this.showDialog = false
            this.dialogData = {}
            this.removeToBlack = false
          })
      },
      removeMemeber (id) {
        var groupId = this.listUrlParams.groupId
        rest.delete('/sns/groupMembers/' + id, {
          groupId: groupId,
          isBlack: this.memberType === 'blackList'
        })
          .then(data => {
            if (data > 0) {
              if (this.dialogData.type === 'exit') {
                let currGroup = this.$store.state.group.currItem
                this.msgSuccess('退出群组成功！')
                if (currGroup.scope === 3 || this.dialogData.hasGoto) {
                  this.$router.push({name: 'groups'})
                }
                this.$store.commit(gmtypes.M_CHANGE_JOINED_STATUS, [false, true])
              } else {
                this.msgSuccess('移除成员成功！')
              }
              this.complete = true
              this.doRemoveMember(id)
              this.dialogData = {}
              this.removeToBlack = false
            }
          })
          .catch(err => {
            if (err.status < 10000) {
              this.msgError(err.message)
            } else {
              this.msgWarning(err.message)
            }
            this.complete = true
            this.showDialog = false
            this.dialogData = {}
            this.removeToBlack = false
          })
      },
      doSetMember (id, type, data) {
        for (let mb of this.member[this.memberType].list) {
          if (mb.id === id) {
            if (type === 'blackList') {
              let btc = this.getTypeCount(this.memberType)
              this.memberCount[this.memberType] = btc > 0 ? btc - 1 : 0
              this.member['blackList'].total += 1
              this.memberCount['blackList'] = this.getTypeCount('blackList') + 1
              if (this.memberType === 'members') {
                this.checkType(id)
              }
              if (this.pageInfo.last && !this.pageInfo.first || !this.pageInfo.last) {
                this.page = this.member[this.memberType].page - 1
              } else {
                this.page = 0
              }
              this.fetchData()
            } else {
              if (type !== 'member') {
                this.memberCount[type] = this.getTypeCount(type) + 1
                this.member[type].total += 1
                this.checkType(id)
              }
              if (this.memberType !== 'members') {
                let ntc = this.getTypeCount(this.memberType)
                this.memberCount[this.memberType] = ntc > 0 ? ntc - 1 : 0
                if (this.pageInfo.last && !this.pageInfo.first || !this.pageInfo.last) {
                  this.page = this.member[this.memberType].page - 1
                } else {
                  this.page = 0
                }
                this.fetchData()
              }
              if (this.memberType === 'members' && type === 'member') {
                this.checkType(id)
              }
              let k = 0
              for (let member of this.member['members'].list) {
                if (member.id === id) {
                  member.type = data.type
                  this.member['members'].list[k] = member
                  break
                }
                k++
              }
            }
            this.list = this.member[this.memberType].list
            break
          }
        }
        this.showDialog = false
      },
      doRemoveMember (id) {
        let i = 0
        for (let mb of this.member[this.memberType].list) {
          if (mb.id === id) {
            if (this.memberType === 'members') {
              this.checkType(id)
            }
            this.member[this.memberType].list.splice(i, 1)
            let tc = this.getTypeCount(this.memberType)
            this.memberCount[this.memberType] = tc > 0 ? tc - 1 : 0
            if (this.pageInfo.last && !this.pageInfo.first || !this.pageInfo.last) {
              this.page = this.member[this.memberType].page - 1
            } else {
              this.page = 0
            }
            this.fetchData()
            break
          }
          i++
        }
        if (this.memberType !== 'members') {
          for (let index in this.member['members'].list) {
            if (this.member['members'].list[index].id === id) {
              this.member['members'].list.splice(index, 1)
              let mc = this.getTypeCount('members')
              this.memberCount['members'] = mc > 0 ? mc - 1 : 0
              this.member['members'].total -= 1
            }
          }
        }
        this.showDialog = false
      },
      checkType (id) {
        let item = {}
        for (let member of this.member['members'].list) {
          if (member.id === id) {
            item = member
            break
          }
        }
        let currType = null
        if (item.type === 3) {
          currType = 'manager'
        } else if (item.type === 2) {
          currType = 'superman'
        }
        if (currType) {
          let ci = 0
          for (let member of this.member[currType].list) {
            if (member.id === id) {
              this.member[currType].list.splice(ci, 1)
              break
            }
            ci++
          }
          let ctc = this.getTypeCount(currType)
          this.memberCount[currType] = ctc > 0 ? ctc - 1 : 0
          this.member[currType].total -= 1
        }
      },
      getTypeCount (type) {
        return this.memberCount[type] ? this.memberCount[type] : 0
      },
      handleClose (done) {
        this.dialogData = {}
        this.removeToBlack = false
        done()
      }
    }
  }
</script>
<style>
  .mod-footer{
    padding:1rem 0;
    background: #fff;
    text-align: center;
  }
</style>

