<template>
  <div >
    <el-dialog class="createGroup" :class="{'bg-cover': !adjust}" :visible.sync="groupFormShow" @open="openDoSomeThing" @close="closeClear" size="large" top="30px">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :rules="rules" :label-position="labelPosition" :model="group" ref="groupForm">
          <header class="mod-banner" @mouseenter="adjust = true" @mouseleave="adjust=false">
            <!--<div class="header-bg banner-transition" :style="{backgroundImage: 'url('+coverUrl+')'}"></div>-->
            <!--<span v-if="isIconUploading" style="width: 80px;height: 80px;display: inline-block;text-align: center;" >正在上传...</span>-->
            <simple-croppa
              v-model="coverCroppa"
              ref="groupCover"
              :width="width"
              :height="height"
              :backgroundShow="true"
              placeholder="请上传图片作为小组封面"
              :initImage="coverUrl"
              :recommends="groupRecommends"
              @zoom="handleCoverZoom"
              @move="handleCoverMove"
              @new-image="handleCoverNewImage"
              @image-remove="handleCoverRemove"
              @openPicLib="openPicLib">
            </simple-croppa>
            <!--<el-upload v-else-->
            <!--class="icon-uploader"-->
            <!--title="设置小组头像 "-->
            <!--accept="image/*"-->
            <!--:action="action"-->
            <!--:show-file-list="false"-->
            <!--:on-success="handleIconSuccess"-->
            <!--:on-remove="handleIconRemove"-->
            <!--:on-error="handleIconError"-->
            <!--:on-progress="handleIconProgress"-->
            <!--:before-upload="beforeIconUpload">-->
            <!--<img v-if="iconUrl" :src="iconUrl" class="icon" width="80px" height="80px">-->
            <!--<template  v-else>-->
            <!--<span>小组头像</span>-->
            <!--<span class="flag"><i class="fa fa-camera-retro"></i></span>-->
            <!--</template>-->
            <!--</el-upload>-->
            <!--<div class="icon-uploader" @click="avatorVisible = true">-->
              <!--<div class="el-upload el-upload&#45;&#45;text">-->
                <!--<img v-if="iconUrl" :src="iconUrl" class="icon" width="80px" height="80px">-->
                <!--<template  v-else>-->
                  <!--<span>小组头像</span>-->
                  <!--<span class="flag"><i class="fa fa-camera-retro"></i></span>-->
                <!--</template>-->
              <!--</div>-->
            <!--</div>-->
            <div class="transverse group-transverce">
              <div class="img">
                <simple-croppa
                  ref="groupIcon"
                  v-model="iconCroppa"
                  :width="headerWidth"
                  :height="headerHeight"
                  :backgroundShow="false"
                  :adjustBtnShow="false"
                  :zoomSpeed="20"
                  @zoom="handleIconZoom"
                  @move="handleIconMove"
                  @new-image="handleIconNewImage"
                  @image-remove="handleIconRemove"
                  :placeholder="placeholder"
                  :initImage="iconUrl">
                  <span slot="operArea" class="oper-area">
                    <el-button type="primary" icon="close" size="mini" @click="iconCroppa.remove()"  title="移除头像"></el-button>
                  </span>
                  <span class="cover" slot="cover" @click="iconCroppa.remove();iconCroppa.chooseFile()"  title="选择头像">
                    <span>小组头像</span>
                    <span class="flag"><i class="fa fa-camera-retro"></i></span>
                  </span>
                </simple-croppa>
                <!--<img v-if="iconUrl" :src="iconUrl">-->
                <!--<template  v-else>-->
                  <!--<span>小组头像</span>-->
                  <!--<span class="flag"><i class="fa fa-camera-retro"></i></span>-->
                <!--</template>-->
              </div>
              <div class="content">
                <h2>{{group.name || '小组名称'}}</h2>
                <dl class="desc">
                  <dd class="margin-t10">
                    <el-tag type="success">{{getTypeName(group.type) || '组织机构'}}</el-tag> ·
                    <span>
                      <el-tooltip class="item" effect="light" :content="'小组'" placement="top-start">
                        <i class="fa" :class="getScopeIcon(group.scope)"></i>
                      </el-tooltip> {{getScopeName(group.scope) || '封闭小组'}}
                    </span>
                  </dd>
                </dl>
              </div>
            </div>
            <div class="mod-tools">
              <!--<el-button type="text" :loading="randomRecLoading"><i v-if="!randomRecLoading" class="fa fa-circle-o-notch margin-r6"></i>随机推荐背景图</el-button>-->
              <!--<span v-if="isCoverUploading" >正在上传...</span>-->
              <!--<el-upload v-else-->
                         <!--class="upload-demo"-->
                         <!--:show-file-list="false"-->
                         <!--:action="action"-->
                         <!--accept="image/*"-->
                         <!--:on-success="handleCoverSuccess"-->
                         <!--:on-remove="handleCoverRemove"-->
                         <!--:on-error="handleCoverError"-->
                         <!--:on-progress="handleCoverProgress"-->
              <!--&gt;-->
                <!--<el-button  size="small" type="text" icon="picture">设置小组背景图</el-button>-->
              <!--</el-upload>-->
              <!--<div class="upload-demo">-->
                <!--<div class="el-upload el-upload&#45;&#45;text">-->
                  <!--<el-button  size="small" type="text" icon="picture">设置小组背景图</el-button>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </header>
          <div class="el-items">
            <el-row>
              <el-col :span="24">
                <el-form-item label="小组名称" prop="name">
                  <el-input v-model="group.name" auto-complete="off" ref="groupNameInput"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="小组描述" prop="desc">
                  <div slot="label">小组描述<span class="color-secondary">（  如果小组隐私设置为公开或封闭，想要加入的成员就能够看到小组说明。）</span></div>
                  <el-input type="textarea" v-model="group.desc"></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <!--<el-row class="margin-b">
              <el-col :span="18">
                <el-form-item class="no-margin" label="网址" :label-width="formLabelWidth">
                  <div slot="label">网址<span class="color-secondary">（定制小组联系方式，方便你快速将链接发送给小组。）</span></div>
                  <el-input v-model="group.url" auto-complete="off"></el-input>
                </el-form-item>
              </el-col>
            </el-row>-->
            <el-form-item label="小组分类" prop="type">
              <div slot="label">小组分类<span class="color-secondary">（选择小组类型，向大家介绍小组的用途。）</span></div>
              <el-select v-model="group.type" placeholder="请选择分类" v-if="!(group.type===0||group.type==='0')">
                <el-option v-for="item in options" :key="item.val" :label="item.label" :value="item.val"></el-option>
              </el-select>
              <el-select v-model="group.type" placeholder="请选择分类" v-else="">
                <el-option :label="'组织机构'" :value="0"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item class="secrets" label="隐私" prop="scope" :label-width="formLabelWidth">
              <div slot="label">隐私<span class="color-secondary">（开放小组。企业中的任何人都能看到小组、组内成员和发布的内容。）</span></div>
              <el-radio-group v-model="group.scope">
                <div><el-radio :label="1"><i class="fa fa-globe"></i>开放 <span class="color-secondary">( 企业中的任何人都能看到小组、组内成员和发布的内容。)</span></el-radio></div>
                <div class="margin-t4"><el-radio :label="2"><i class="fa fa-unlock"></i>封闭<span class="color-secondary">( 企业中的任何人都能找到小组并查看组内成员，但只有组内成员能看到发布的内容。)</span></el-radio></div>
                <div class="margin-t4"><el-radio :label="3"><i class="fa fa-lock"></i>私密 <span class="color-secondary">只有组内成员能找到小组并查看发帖。</span></el-radio></div>
              </el-radio-group>
            </el-form-item>
            <!--<el-row>
              <el-col :span="18">
                <el-form-item label="将团队加入小组" :label-width="formLabelWidth">
                  <div slot="label">将团队加入小组<span class="color-secondary">（  添加经理时将自动添加直属团队。新团队成员将自动加入）</span></div>
                  <el-tag
                    :key="tag"
                    v-for="tag in dynamicTags"
                    :closable="true"
                    :close-transition="false"
                    @close="handleClose(tag)"
                  >
                  {{tag}}
                  </el-tag>
                            <el-input
                  class="input-new-tag"
                  v-if="inputVisible"
                  v-model="inputValue"
                  ref="saveTagInput"
                  size="mini"
                  @keyup.enter.native="handleInputConfirm"
                  @blur="handleInputConfirm"
                >
                </el-input>
                <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
                </el-form-item>
              </el-col>
            </el-row>-->
            <el-form-item class="secrets" label="成员资格审核" prop="memberAudit" :label-width="formLabelWidth">
              <el-radio-group v-model="group.memberAudit">
                <div v-show="group.scope===1">
                  <el-radio :label="1">
                    企业中的任何人都可以加入，而无需审核。
                  </el-radio>
                </div>
                <div class="margin-t4">
                  <el-radio :label="2">
                    所有成员可以添加或审核成员
                  </el-radio>
                </div>
                <div class="margin-t4">
                  <el-radio :label="3">
                    所有成员都能添加成员，但须经管理员或版主审核。
                  </el-radio>
                </div>
              </el-radio-group>
            </el-form-item>
            <el-form-item class="secrets" label="发帖权限" prop="secrets" :label-width="formLabelWidth">
              <el-radio-group v-model="group.postPerm">
                <div v-show="group.scope===1">
                  <el-radio :label="1">
                    企业中的任何人都可以在此小组中发帖，而无需成为成员。
                  </el-radio>
                </div>
                <div class="margin-t4">
                  <el-radio :label="2">
                    成员、版主和管理员都可以在小组内发帖。
                  </el-radio>
                </div>
                <div class="margin-t4">
                  <el-radio :label="3">
                    只有管理员能在小组内发表内容。
                  </el-radio>
                </div>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="帖子审核" prop="postAudit">
              <el-checkbox-group v-model="postAudit">
                <el-checkbox label="所有小组发帖必须经过管理员或版主审核才能发布。" name="postAudit"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="groupFormShow = false">取 消</el-button>
          <el-button type="primary" @click="saveGroup" :disabled="complite" :icon="complite?'loading':''">{{isUploading?'正在上传': complite?'正在保存':'确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
    <my-croppa
      :avatorVisible="avatorVisible"
      :initialImage="iconUrl"
      @close="avatorVisible = false"
      @uploadSuccess="handleNewGroupHeaderSuccess"
    ></my-croppa>
    <pic-lib
      :showPicLib="showPicLib"
      :showActionBtn="false"
      :posters="groupRecommends"
      @close="showPicLib = false"
      @action="selectImgAction"
    ></pic-lib>
  </div>
</template>
<script>
import { groupFormShow, groupFormShowCreate } from '@/store/modules/helper'
import { types } from '@/store/modules/group'
import MyCroppa from '@/components/MyCroppa'
import SimpleCroppa from '@/components/SimpleCroppa'
import PicLib from '@/components/PicLib'
export default {
  components: {
    MyCroppa,
    SimpleCroppa,
    PicLib
  },
  created () {
    let groupRecommends = require('../../../static/img/group/index.json')
    groupRecommends.forEach(recommend => {
      this.groupRecommends.push({
        name: recommend.name,
        imgSrc: this.$router.options.base + recommend.imgSrc,
        imgPreviewSrc: this.$router.options.base + recommend.imgPreviewSrc
      })
    })
  },
  data () {
    let defData = {
      coverUrl: require('@/assets/img/group-def.jpg'), // 默认小组封面地址
      cover: '', // 默认小组封面存储id //group1/M00/00/0F/rBIADFmfnZOAKdstAANDolDAgtA429.jpg
      iconUrl: require('@/assets/img/1.jpg'), // 默认小组头像地址
      icon: '', // 默认小组头像存储id //group1/M00/00/0F/rBIADFmfncaAQu5zAAETo1gRdbQ339.jpg
      type: 1,
      scope: 1,
      memberAudit: 1,
      postPerm: 1,
      postAudit: 1
    }
    return {
      adjust: false,
      iconCroppa: {},
      coverCroppa: {},
      isIconUploading: false,
      isCoverUploading: false,
      hasNewIcon: false,
      hasNewCover: false,
      groupRecommends: [],
      isUploading: false,
      postAudit: false,
      randomRecLoading: true,
      iconUrl: '', // 小组头像地址
      icon: '', // 小组头像存储id
      coverUrl: '', // 小组封面地址
      cover: '', // 小组头像存储id
      action: '/zuul/file/web/upload?st=1',
      defCoverId: '',
      defIconId: '',
      defData,
      group: {...defData},
      options: [{
        val: 1,
        label: '团队和项目'
      }, {
        val: 2,
        label: '社交和其他'
      }, {
        val: 3,
        label: '开放讨论'
      }, {
        val: 4,
        label: '交易中心'
      }, {
        val: 5,
        label: '新闻公告'
      }],
      groupScopes: {
        1: {
          name: '开放',
          icon: 'fa-globe'
        },
        2: {
          name: '封闭',
          icon: 'fa-unlock-alt'
        },
        3: {
          name: '私密',
          icon: 'fa-lock'
        }
      },
      formLabelWidth: '80px',
      labelPosition: 'top',
      dynamicTags: [],
      inputVisible: false,
      inputValue: '',
      rules: {
        name: [
          {required: true, message: '请输入小组名称', trigger: 'blur'},
          {min: 0, max: 128, message: '长度在 0 到 100 个字符', trigger: 'blur'}
        ],
        desc: [
          {min: 0, max: 512, message: '长度在 0 到 100 个字符', trigger: 'blur'}
        ]
      },
      complite: false,
      avatorVisible: false,
      width: 852,
      height: 240,
      headerWidth: 86,
      headerHeight: 86,
      initImage: '',
      showPicLib: false,
      placeholder: ''
    }
  },
  computed: {
    groupFormShow,
    groupFormShowCreate,
    currGroup () {
      return this.$store.state.group.currItem
    },
    statusFetch () {
      return this.$store.state.group.statusFetch
    }
  },
  watch: {
    groupFormShowCreate (nv, ov) {
      if (nv) {
        this.changePostAudit()
        this.groupFormShow = true
      }
    },
    groupFormShow (nv) {
      if (nv && !this.groupFormShowCreate) {
        this.group = JSON.parse(JSON.stringify(this.currGroup))
        // 设置小组封面地址
        this.coverUrl = this.group.cover ? this.group.cover : this.defData.coverUrl
        this.iconUrl = this.group.icon ? this.group.icon : this.defData.iconUrl
        this.changePostAudit()
      }
    },
    postAudit (nv, ov) {
      this.group.postAudit = 1
      if (nv) {
        this.group.postAudit = 2
      }
    },
    'group.scope' (nv) {
      if (!this.groupFormShowCreate) {
        if (nv !== 1) {
          if (this.currGroup.postPerm === 1 && this.group.postPerm === 1) {
            this.group.postPerm = 2
          }
          if (this.currGroup.memberAudit === 1 && this.group.memberAudit === 1) {
            this.group.memberAudit = 2
          }
        }
      } else {
        if (nv !== 1) {
          if (this.group.postPerm === 1) {
            this.group.postPerm = 2
          }
          if (this.group.memberAudit === 1) {
            this.group.memberAudit = 2
          }
        }
      }
    }
  },
  methods: {
    selectImgAction (src) {
      this.$refs.groupCover.setImage(src)
      this.showPicLib = false
    },
    getTypeName (type) {
      for (let option of this.options) {
        if (type === option.val) {
          return option.label
        }
      }
      return '组织机构'
    },
    getScopeName (sp) {
      if (sp) {
        return this.groupScopes[sp].name
      }
    },
    getScopeIcon (sp) {
      if (sp) {
        return this.groupScopes[sp].icon
      }
    },
    handleIconMove () {
      this.hasNewIcon = true
    },
    handleCoverMove () {
      this.hasNewCover = true
    },
    handleIconZoom () {
      this.hasNewIcon = true
    },
    handleCoverZoom () {
      this.hasNewCover = true
    },
    handleCoverRemove () {
      this.hasNewCover = false
    },
    handleIconRemove () {
      this.hasNewIcon = false
    },
    handleCoverNewImage () {
      this.hasNewCover = true
    },
    handleIconNewImage () {
      this.hasNewIcon = true
    },
    saveGroup () {
      this.complite = true
      var isFailed = false
      this.$refs['groupForm'].validate((valid) => {
        if (!valid) {
          isFailed = true
          return false
        }
      })
      if (!this.group.name || isFailed) {
        this.complite = false
        this.$refs.groupNameInput.$refs.input.focus()
        return
      }
      let uploads = []
      // 上传图片
      if (this.hasNewIcon) {
        uploads.push(this.$refs.groupIcon.upload())
      }
      if (this.hasNewCover) {
        uploads.push(this.$refs.groupCover.upload())
      }
      if (this.hasNewIcon || this.hasNewCover) {
        this.isUploading = true
        Promise.all(uploads).then(datas => {
          this.isUploading = false
          var data
          if (this.hasNewIcon) {
            data = datas[0]
            if (data && data.storeId) {
              this.icon = data.storeId
            }
            if (this.hasNewCover) {
              data = datas[1]
              if (data && data.storeId) {
                this.cover = data.storeId
              }
            }
          } else if (this.hasNewCover) {
            data = datas[0]
            if (data && data.storeId) {
              this.cover = data.storeId
            }
          }
          this.saveGroupData()
        }).catch(errors => {
          this.complite = false
          this.isUploading = false
          this.msgError('图片上传失败,请稍候重试！')
          console.log('图片上传失败！', errors)
        })
      } else {
        this.saveGroupData()
      }
    },
    saveGroupData () {
      // 如果有上传新封面，则提交新封面
      if (this.cover) {
        this.group.cover = this.cover
      } else {
        if (!this.group.cover) {
          this.group.cover = this.defCoverId
        } else {
          delete this.group.cover
        }
      }
      // 如果有上传新头像，则提交新头像
      if (this.icon) {
        this.group.icon = this.icon
      } else {
        if (!this.group.icon) {
          this.group.icon = this.defIconId
        } else {
          delete this.group.icon
        }
      }
      if (this.group.scope !== 1 && (this.group.memberAudit === 1 || this.group.postPerm === 1)) {
        this.msgError('当小组为开放小组时，成员资格审核和发帖权限才能开放到公司！')
        return
      }
      if (this.currGroup.id && !this.groupFormShowCreate) {
        var nameOrTypeChanged = false
        if (this.group.name !== this.currGroup.name || this.group.type !== this.currGroup.type) {
          nameOrTypeChanged = true
        }
        this.$store.dispatch(types.A_SAVE_CURRENT, this.group)
          .then(data => {
            this.groupFormShow = false
            this.complite = false
//          重新加载组
            this.$store.commit(types.M_CHANGE_GROUPS_RELOAD_STATUS, nameOrTypeChanged)
          })
          .catch(e => {
            this.complite = false
            this.$message.error(e.message)
          })
      } else {
        this.$store.dispatch(types.A_CREATE, this.group)
          .then(data => {
            this.groupFormShow = false
            this.complite = false
            this.$router.push({
              name: 'group',
              params: {groupId: data.id}
            })
//          重新加载组
            this.$store.commit(types.M_CHANGE_GROUPS_RELOAD_STATUS, true)
          })
          .catch(e => {
            this.complite = false
            this.$message.error(e.message)
          })
      }
    },
    openDoSomeThing () {
      // 设置小组封面地址
      this.coverUrl = this.group.cover ? this.group.cover : this.defData.coverUrl
      this.iconUrl = this.group.icon ? this.group.icon : this.defData.iconUrl
      if (this.$refs.groupIcon && this.$refs.groupIcon.refresh) {
        this.$refs.groupIcon.refresh()
      }
      if (this.$refs.groupCover && this.$refs.groupCover.refresh) {
        this.$refs.groupCover.refresh()
      }
    },
    closeClear () {
      this.coverUrl = this.defData.coverUrl
      this.group = {...this.defData}
      this.cover = ''
      this.icon = ''
      this.hasNewIcon = false
      this.hasNewCover = false
      this.$refs['groupForm'].resetFields()
      if (this.groupFormShow) {
        this.groupFormShow = false
      }
      if (this.groupFormShowCreate) {
        this.groupFormShowCreate = false
      }
      this.$refs.groupCover.remove()
      this.$refs.groupIcon.remove()
    },
    changePostAudit () {
      if (this.group.postAudit === 2) {
        this.postAudit = true
      } else {
        this.postAudit = false
      }
    },
    handleRemove (file, fileList) {
//      console.log(file, fileList)
    },
    handlePreview (file) {
//      console.log(file)
    },
    beforeIconUpload (file) {
      const isJPG = (file.type.indexOf('image') === 0)
      const isLt2M = file.size / 1024 / 1024 < 2

      if (!isJPG) {
        this.msgError('上传头像图片只能是 JPG 格式!')
      }
      if (!isLt2M) {
        this.msgError('上传头像图片大小不能超过 2MB!')
      }
      return isJPG && isLt2M
    },
    handleIconSuccess (res, file, fileList) {
      this.isIconUploading = false
      if (res.data && res.data.storeId) {
        this.icon = res.data.storeId
      }
      this.iconUrl = URL.createObjectURL(file.raw)
    },
    handleIconError (err, file, fileList) {
      this.isIconUploading = false
      this.msgError('上传文件[' + file.name + '] 失败！')
      console.log('上传文件[' + file.name + '] 失败！', err)
    },
    handleIconProgress (event, file, fileList) {
      this.isIconUploading = true
    },
    handleCoverSuccess (res, file, fileList) {
      this.isCoverUploading = false
      if (res.data && res.data.storeId) {
        this.cover = res.data.storeId
      }
      this.coverUrl = URL.createObjectURL(file.raw)
    },
    handleCoverError (err, file, fileList) {
      this.isCoverUploading = false
      this.msgError('上传文件[' + file.name + '] 失败！')
      console.log('上传文件[' + file.name + '] 失败！', err)
    },
    handleCoverProgress (event, file, fileList) {
      this.isCoverUploading = true
    },
    handleClose (tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1)
    },
    showInput () {
      this.inputVisible = true
      this.$nextTick(_ => {
        this.$refs.saveTagInput.$refs.input.focus()
      })
    },
    handleInputConfirm () {
      let inputValue = this.inputValue
      if (inputValue) {
        this.dynamicTags.push(inputValue)
      }
      this.inputVisible = false
      this.inputValue = ''
    },
    handleNewGroupHeaderSuccess (data) {
      this.isAvatarUploading = false
    },
    handleNewActivitySuccess (data) {
      this.isAvatarUploading = false
    },
    openPicLib (croppaVue) {
      this.showPicLib = true
    }
  }
}
</script>
<style>
@import 'css/variable.css';
  .icon-uploader{
    position: absolute;
    left: 50%;
    margin: -60px 0 0 -40px;
    top: 50%;
    z-index: 1;
    background: #fff;
    border-radius: 4px;
  }
  .icon-uploader .el-upload {
    background: #eee;
    opacity:0.8;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    & span:first-child{
      display: block;
      height: 76px;
      width: 80px;
      text-align: center;
      font-size: 12px;
      line-height: 120px;
    }
    & .flag{
      position: absolute;
      left: 0;
      right: 0;
      top: -18px;
      bottom: 0;
      margin: auto;
      display: inline-block;
      height: 36px;
      width: 36px;
      border-radius: 50%;
      overflow: hidden;
      line-height: 36px;
      background: var(--color-success);
      color: #fff;
      text-align: center;
    }
  }
  .icon-uploader .el-upload:hover {
    background: #fff;
  }
  .icon-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .mod-tools {
    & div{
      display: inline-block;
      margin-left: 10px;
    }
  }
  .mod-banner{
    & .cropper-wrapper{
      & .croppa-container{
        border: 0;
      }
    }
    & .group-transverce{
      & .img{
        opacity: 1;
        /*background: #eee;*/
        border-radius: 4px;
        & span:first-child {
          display: block;
          height: 100%;
          width: 100%;
          text-align: center;
          font-size: 12px;
          line-height: 135px;
        }
        & .flag {
          position: absolute;
          left: 0;
          right: 0;
          top: -18px;
          bottom: 0;
          margin: auto;
          display: inline-block;
          height: 36px;
          width: 36px;
          border-radius: 50%;
          overflow: hidden;
          line-height: 36px;
          background: #5aab5a;
          color: #fff;
          text-align: center;
        }
      }
    }
  }
  .createGroup{
    & .el-dialog--large{
      width: 100%;
      max-width: 852px;
    }
    & .cropper-wrapper{
      position: relative;
      line-height: normal;
      z-index: 1;
      & .el-button-group{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 100;
      }
    }
    & .cropper-wrapper:hover{
      & .oper-area{
        display: inline-block;
      }
    }
  }
  .bg-cover {
    & .cropper-wrapper:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      margin: auto;
      background: rgba(0, 0, 0, .2);
      z-index: 1;
    }
  }
</style>
