<template>
  <el-dialog title="小组管理" :visible.sync="groupManagementShow" @open="openDoSomeThing" @close="closeClear" class="group-management" size="large">
    <el-tabs v-model="groupManagementActiveName" @tab-click="handleClick">
      <el-tab-pane label="管理员动态" name="first" v-if="false">
        <span slot="label">管理员动态</span>
        <el-row class="margin-t">
          <el-col>
            <ul class="date-list log-list">
              <li>
                <div class="title">今日</div>
                <div class="today-list">
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <a><img src="../../assets/img/2.jpg" alt="林华"></a>
                    </div>
                    <div class="media-object-section">
                      <div>
                         <a>林华</a> 批准了<a>张旭</a>的加入请求。
                      </div>
                      <div>
                        2017-7-5 15:57 · <a>撤销</a>
                      </div>
                    </div>
                  </div>
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <a><img src="../../assets/img/2.jpg" alt="林华"></a>
                    </div>
                    <div class="media-object-section">
                      <div>
                         <a>林华</a> 批准了<a>张旭</a>的加入请求。
                      </div>
                      <div>
                        2017-7-5 15:57 · <a>撤销</a>
                      </div>
                    </div>
                  </div>
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <a><img src="../../assets/img/2.jpg" alt="林华"></a>
                    </div>
                    <div class="media-object-section">
                      <div>
                         <a>林华</a> 批准了<a>张旭</a>的加入请求。
                      </div>
                      <div>
                        2017-7-5 15:57 · <a>撤销</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="title">07-12</div>
                <div class="today-list">
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <a><img src="../../assets/img/2.jpg" alt="林华"></a>
                    </div>
                    <div class="media-object-section">
                      <div>
                         <a>林华</a> 批准了<a>张旭</a>的加入请求。
                      </div>
                      <div>
                        2017-7-5 15:57 · <a>撤销</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="title">07-10</div>
                <div class="today-list">
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <a><img src="../../assets/img/2.jpg" alt="林华"></a>
                    </div>
                    <div class="media-object-section">
                      <div>
                         <a>林华</a> 批准了<a>张旭</a>的加入请求。
                      </div>
                      <div>
                        2017-7-5 15:57 · <a>撤销</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="title">2016-06-24</div>
                <div class="today-list">
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <a><img src="../../assets/img/2.jpg" alt="林华"></a>
                    </div>
                    <div class="media-object-section">
                      <div>
                         <a>林华</a> 批准了<a>张旭</a>的加入请求。
                      </div>
                      <div>
                        2017-7-5 15:57 · <a>撤销</a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="待审核的帖子" name="post_audit" v-if="hasAuditPost">
        <span slot="label">待审核的帖子<a class="color-danger" v-if="counts.post_audit">({{counts.post_audit}})</a></span>
        <el-row>
          <el-col :span="24">
            <div class="filters_btn">
              <el-button-group>
                <el-button type="info" size="small" @click="auditAll('pass')" :loading="!allAuditComplete">全部批准</el-button>
                <el-button type="info" size="small" @click="auditAll('refuse')" :loading="!allAuditComplete">全部删除</el-button>
              </el-button-group>
            </div>
          </el-col>
        </el-row>
        <div class="margin-t note-list" v-if="groupManagementActiveName === 'post_audit'">
        	 <el-row v-for="item in list" :key="item.request.id" v-if="items.length>0">
            <el-col :span="4">
              <div class="transverse user">
                <div class="img">
                  <img :src="getUser(item).avatar" v-error-img:user :alt="getUser(item).userName" :title="getUser(item).userName"/>
                </div>
                <div class="content content50">
                  <div class="username">
                    <a href="javascript:void(0)">{{getUser(item).userName}} </a>
                  </div>
                  <div class="arInfo"><span>{{timeFormat(item.refObj.objContent.createDate)}}</span></div>
                </div>
              </div>
            </el-col>
            <el-col :span="15">
              <!--<div class="arContent" v-html="item.refObj.modelObject.content">-->
              <!--</div>-->
              <component
                :is="getItemView(item.refObj).name"
                :item="item.refObj"></component>
            </el-col>
            <el-col :span="1" class="text-center" style="white-space: nowrap">
              <label class="color-secondary font-s12">{{getItemView(item.refObj).title}}</label>
            </el-col>
            <el-col :span="4" class="no-padding">
              <el-button-group class="float-right">
                <el-button type="info" size="small" :loading="!auditComplete[item.request.id]" @click="auditSelf('pass', item.request.id)" title="批准"><i class="el-icon-check"></i> 批准</el-button>
                <el-button type="info" size="small" :loading="!auditComplete[item.request.id]" @click="auditSelf('refuse', item.request.id)" title="删除"><i class="el-icon-close"></i> 删除</el-button>
                <el-button type="info" size="small" v-if="false"><i class="fa fa-minus-circle"></i></el-button>
              </el-button-group>
            </el-col>
          </el-row>
          <list-loading
            :loading="statusFetchList"
            :noData="done&&pageInfo.total === 0"
            v-if="pageInfo.total === 0||statusFetchList"></list-loading>
        </div>
      </el-tab-pane>
      <el-tab-pane label="加入请求" name="join_group" v-if="hasAuditJoinGroup">
        <span slot="label">加入请求<a class="color-danger" v-if="counts.join_group">({{counts.join_group}})</a></span>
        <el-row>
          <el-col :span="24">
            <div class="filters_btn">
              <el-button-group>
                <el-button type="info" size="small" @click="auditAll('pass')" :loading="!allAuditComplete">全部批准</el-button>
                <el-button type="info" size="small" @click="auditAll('refuse')" :loading="!allAuditComplete">全部拒绝</el-button>
              </el-button-group>
            </div>
          </el-col>
        </el-row>
        <el-row class="margin-t">
          <el-col>
            <div class="required-list" v-if="groupManagementActiveName === 'join_group'">
            	<div class="media-object"  v-for="(item, key) in list" :key="item.request.id">
                <div class="media-object-section shrink" >
                  <user-block class="img" tagName="div" :user="getUser(item)">
                    <router-link :to="{ name: 'user', params: { userId: getUser(item).id }}"><img class="img" :alt="getUser(item).userName" :src="getUser(item).avatar" v-error-img:user/></router-link>
                  </user-block>
                </div>
                <div class="media-object-section">
                  <div>
                    <router-link :to="{ name: 'user', params: { userId: getUser(item).id }}">
                      <user-block class="username" tagName="a" :user="getUser(item)">{{getUser(item).userName}} </user-block>
                    </router-link>
                    <el-button-group class="float-right">
                      <el-button type="info" size="small" :loading="!auditComplete[item.request.id]" @click="auditSelf('pass', item.request.id)"><i class="el-icon-check"></i> 批准</el-button>
                      <el-button type="info" size="small" :loading="!auditComplete[item.request.id]" @click="auditSelf('refuse', item.request.id)"><i class="el-icon-close"></i> 拒绝</el-button>
                      <el-button type="info" size="small" :loading="!auditComplete[item.request.id]" @click="auditSelf('black', item.request.id)"><i class="fa fa-minus-circle"></i> 拉黑</el-button>
                    </el-button-group>
                  </div>
                  <div class="userInfo color-secondary">
                              请求加入群组
                  </div>
                </div>
              </div>
              <list-loading
                :loading="statusFetchList"
                :noData="done&&pageInfo.total === 0"
                v-if="pageInfo.total === 0||statusFetchList"></list-loading>
            </div>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-tab-pane label="已被举报" name="third" v-if="false">

      </el-tab-pane>
      <el-tab-pane label="加入通知" name="fourth" v-if="false">

      </el-tab-pane>
      <div class="mod-footer" v-if="pageInfo.total>0">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[9, 12, 15, 18]"
          :page-size="pageInfo.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pageInfo.total">
        </el-pagination>
      </div>
    </el-tabs>
  </el-dialog>
</template>
<script>
  import UserBlock from '@/views/user/UserBlock'
  import restDataMixin from '@/util/restDataMixin'
  import { types as rqTypes } from '@/store/modules/request'
  import { types as gtypes, groupManagementShow, groupManagementActiveName } from '@/store/modules/group'
  import * as manageItems from './management'
  const manageItemViews = {...manageItems}
  delete manageItemViews['default']
  const getItemView = manageItems.default

  export default {
    components: {
      UserBlock,
      ...manageItems
    },
    mixins: [restDataMixin],
    data () {
      return {
        allAuditComplete: true,
        auditComplete: {},
        counts: {},
        timeItems: {},
        done: false,
        list: [],
        allIds: [],
        defSize: 9,
        currentPage: 1,
        fetchBusy: false,
        typeOption: {}
      }
    },
    computed: {
      groupManagementShow,
      groupManagementActiveName,
      users () {
        return this.$store.state.dataPool.users
      },
      activeName () {
        let activeName = this.groupManagementActiveName
        if (!activeName) {
          // 计算一个有用的activeName
        }
        return activeName
      },
      currGroupRef () {
        return this.$store.state.group.currItemRef || {}
      },
      initData () {
        return false
      },
      listUrlParams () {
        let params = {}
        params.groupId = this.currGroupRef.group.id
        params.type = this.groupManagementActiveName
        return params
      },
      restUrlGetAll () {
        let url = '/sns/requests/groups/{{groupId}}/refs?size={{size}}&page={{page}}&type={{type}}'
        return url
      },
      statusFetchList () {
        return this.rest.status.fetchList
      },
      requestTypeCounts: {
        get () {
          return this.$store.state.group.requestTypeCounts
        },
        set (val) {
          this.$store.commit(gtypes.M_CHANGE_REQUEST_TYPE_COUNTS, val)
        }
      },
      hasAuditJoinGroup () {
        let group = this.currGroupRef.group
        let gm = this.currGroupRef.groupMember
        if ((gm && group.memberAudit === 2) || (group.memberAudit === 3 && gm && (gm.type === 2 || gm.type === 3))) {
          return true
        }
        return false
      },
      hasAuditPost () {
        let group = this.currGroupRef.group
        let gm = this.currGroupRef.groupMember
        if (group.postAudit === 2 && gm && (gm.type === 2 || gm.type === 3)) {
          return true
        }
        return false
      }
    },
    watch: {
      'rest.items' (nv) {
        this.allAuditComplete = true
        this.list = nv
//        this.list = this.list.concat(nv)
        for (let item of this.list) {
          this.allIds.push(item.request.id)
          this.auditComplete[item.request.id] = true
//          let date = item.request.createDate
//          let key = ''
//          if (this.isToday(date)) {
//            key = '今日'
//          } else {
//            key = this.getCreateDate(date)
//          }
//          let vals = this.timeItems[key]
//          if (vals) {
//            vals.push(item)
//            this.$set(this.timeItems, key, vals)
//          } else {
//            vals = []
//            vals.push(item)
//            this.$set(this.timeItems, key, vals)
//          }
        }
        this.fetchBusy = false
      }
    },
    methods: {
      getItemView,
      type2activeName (requestType) { // 将请求类型转换为tab-active-name
        if (requestType === 0) {
          return 'join_group'
        } else if (requestType === 2) {
          return 'post_audit'
        }
      },
      countRequests (typeNames) {
        let params = {}
        let types = []
        params.createAt = this.currGroupRef.group.id
        if (!typeNames && this.requestTypeCounts) {
          this.requestTypeCounts.forEach((requestTypeCount) => {
            types.push(requestTypeCount.typeName)
          })
        } else {
          types = typeNames
        }
        if (!types) {
          types = []
        }
        let type = types.join()
        params.type = type
        params.createAtType = 'group'
        this.$store.dispatch(rqTypes.A_GET_COUNT, params)
          .then((json) => {
            for (var i in types) {
              let key = types[i].toLowerCase()
              var cloneObj = JSON.parse(JSON.stringify(this.requestTypeCounts))
              cloneObj.forEach((requestCount) => {
                if (requestCount.typeName.toLowerCase() === key) {
                  let count = json[key]
                  if (!count) {
                    this.counts[key] = 0
                    requestCount.count = 0
                  } else {
                    this.counts[key] = count
                    requestCount.count = count
                  }
                }
              })
              this.requestTypeCounts = cloneObj
            }
          })
      },
      fetchData () {
        if (!this.fetchBusy) {
          this.timeItems = {}
          this.allIds = []
          this.done = false
          this.list = []
          this.fetchBusy = true
          ++this.page
          this.currentPage = this.page
          this.getData()
          .then(json => {
            this.done = json.last
          })
          .catch(err => {
            this.done = true
            this.fetchBusy = false
            if (err.status < 10000) {
              console.log('system error:', err)
            } else {
              console.log('app error:', err)
            }
          })
        }
      },
      restFilterGetAll (req) {
        return req.then(data => {
          let ids = data.content.map(o => o.request.from)
          if (this.listUrlParams.type === 'post_audit') {
            ids.push(data.content.map(o => o.refObj.objContent.creator))
          }
          return this.storeNeedData({
            type: 'user',
            dataIds: ids
          })
          .then(users => {
            if (this.listUrlParams.type === 'post_audit') {
              data.content.forEach(o => {
                o.refObj.user = users[o.refObj.objContent.creator]
              })
            }
            return data
          })
        })
      },
      handleSizeChange (val) {
        this.page = 0
        this.rest.page.size = val
        this.typeOption[this.groupManagementActiveName].page = 0
        this.typeOption[this.groupManagementActiveName].size = val
        this.fetchData(true)
      },
      handleCurrentChange (val) {
        if (val < 0) {
          return
        }
        this.page = val - 1
        this.typeOption[this.groupManagementActiveName].page = this.page
        this.fetchData()
      },
      getUser (item) {
        return this.users[item.request.from]
      },
      timeFormat (date) {
        var create = new Date(typeof date === 'string' ? date.replace(/-/g, '/') : date)
        var year = create.getFullYear()
        var month = create.getMonth() + 1
        var day = create.getDate()
        return year + '-' + month + '-' + day
      },
      getCreateDate (date) {
        var create = new Date(typeof date === 'string' ? date.replace(/-/g, '/') : date)
        var year = create.getFullYear()
        var month = create.getMonth() + 1
        var day = create.getDate()
        var tody = new Date()
        if (year === tody.getFullYear()) {
          return month + '-' + day
        } else {
          return year + '-' + month + '-' + day
        }
      },
      isToday (date) {
        var d = new Date(typeof date === 'string' ? date.replace(/-/g, '/') : date)
        var todaysDate = new Date()
        if (d.setHours(0, 0, 0, 0) === todaysDate.setHours(0, 0, 0, 0)) {
          return true
        } else {
          return false
        }
      },
      audit (auditType, items) {
        if (items.length === 0) {
          return
        }
        let params = {}
        params.requestId = items.join(',')
        params.type = this.groupManagementActiveName
        params.auditType = auditType
        this.$store.dispatch(rqTypes.A_AUDIT_REQUEST, params)
          .then((json) => {
            this.timeItems = {}
            this.list = []
            this.allIds = []
            this.countRequests([this.groupManagementActiveName])
            --this.page
            this.fetchData(true)
          })
      },
      auditAll (auditType) {
        if (!this.allAuditComplete) return
        this.allAuditComplete = false
        this.audit(auditType, this.allIds)
      },
      auditSelf (auditType, item) {
        if (!this.auditComplete[item] || !this.allAuditComplete) return
        this.auditComplete[item] = false
        this.audit(auditType, [item])
      },
      handleClick (tab, event) {
        if (this.groupManagementActiveName !== 'join_group' && this.groupManagementActiveName !== 'post_audit') {
          return
        }
        let opts = this.typeOption[this.groupManagementActiveName] || {size: this.defSize, page: 0}
        this.rest.page.size = opts.size
        this.page = opts.page
        this.fetchData(true)
      },
      handleCommand (command) {
        this.$message('click on item ' + command)
      },
      openDoSomeThing () {
        this.countRequests()
        this.rest.page.size = this.defSize
        this.page = 0
        this.typeOption[this.groupManagementActiveName] = {
          size: this.defSize,
          page: this.page
        }
        this.fetchData(true)
      },
      closeClear () {
        this.groupManagementActiveName = ''
        this.typeOption = {}
        this.timeItems = {}
        this.allIds = []
        this.list = []
      }
    }
  }
</script>
<!--<style scoped="">-->
<style>
  .required-list {
    margin: 0;
    padding-top: 1rem;
    & .media-object-section{
      &:first-child{
        & img {
          width: 46px;
          height: 46px;
          border-radius: 50%;
        }
      }
      &:last-child {
        & .username{
          line-height: 24px;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .log-list{
  & .media-object-section{
   &:first-child {
     & a{
       display: block;
       width: 24px;
       height: 24px;
       border-radius: 50%;
       background: #DDDDDD;
       & img{
         border-radius: 50%;
       }
     }
   }
   &:last-child {
     & > div{
       color: var(--color-secondary);
     }
     padding-bottom: 1rem;
     border-bottom: 1px solid #eee;
     & a{
       &:first-child{
         margin: 0 4px 0 0;
       }
       margin:0 4px;
       &:hover{
         text-decoration: underline;
       }
     }
   }
  }
}
  .required-list, .log-list {
    & .media-object {
      & .media-object-section {
        &:last-child{
          padding-bottom: 1rem;
          border-bottom: 1px dashed #ddd;
        }
      }
      &:last-child {
        & .media-object-section {
          &:last-child{
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }
  .note-list{
    padding: 1rem;
    & > .el-row{
      margin-bottom: 1rem;
      & p{
        font-size: 12px;
        margin: 0;
      }
      & .content.content50{
        margin-bottom: 0;
      }
    }
  }
  .group-management{
    & .el-dialog--large{
      width: 100%;
      max-width: 852px;
    }
  }
</style>
