<template>
  <div>
    <activity-list :groupId="groupId"></activity-list>
  </div>
</template>

<script>
import ActivityList from '@/views/activity/Index'

export default {
  components: {
    ActivityList
  },
  computed: {
    groupId () {
      return this.$route.params.groupId
    }
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>
