<template>
  <div v-if="loading" style="text-align:center;height:100vh;padding-top:35px;">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom"></i>
  </div>
  <div v-else-if="message">{{message}}</div>
  <div v-else class="wrapper_group">
    <group-header ref="header"></group-header>
    <router-view></router-view>
    <group-management></group-management>
  </div>
</template>

<script>
  import GroupHeader from './GroupHeader'
  import GroupManagement from '@/views/group/GroupManagement'
  import { types as gtypes } from '@/store/modules/group'

  export default {
    components: {
      GroupHeader,
      GroupManagement
    },
    data () {
      return {
        loading: true,
        message: ''
      }
    },
    computed: {
      currGroup () {
        return this.$store.state.group.currItem
      }
    },
    watch: {
      $route () {
        let gid = this.$route.params.groupId
        if (!this.currGroup || this.currGroup.id !== gid) {
          this.initData()
        }
      }
    },
    created () {
      this.initData()
    },
    methods: {
      initData () {
        this.loading = true
        var gid = this.$route.params.groupId
        this.$store.dispatch(gtypes.A_GET_CURRENT_GROUPREF, gid)
          .then((data) => {
            this.message = null
            this.loading = false
            this.$nextTick(() => {
              this.$refs.header.initData(data)
            })
          })
          .catch((err) => {
            if (err.status < 10000) {
              this.message = '加载小组失败，请稍候重试'
            } else {
              if (err.status === 10404) { // 资源不存在
                this.message = err.message
              } else {
//                this.msgWarning(err.message)
                this.message = err.message
              }
            }
            console.log('加载小组异常', err)
            this.loading = false
          })
      }
    }
  }
</script>
