<template>
    <el-row>
      <router-view></router-view>
      <el-col :span="7">
        <mod title="简介" size="14" more="">
          <p class="font-s12 color-secondary">{{currGroup.desc || '管理员太懒了，没有对小组进行任何的描述'}}
            <!--<a class="color-primary margin-l10" href="javascript:void(0)">[详细]</a>-->
          </p>
        </mod>
        <div class="custom-mod mod-border margin-t">
          <!--<aside>-->
            <!--<h3>添加成员 <a class="color-primary">导入</a></h3>-->
            <!--<el-autocomplete-->
              <!--size="small"-->
              <!--v-model="peopleList"-->
              <!--:fetch-suggestions="querySearchAsync"-->
              <!--placeholder="请输入内容"-->
              <!--@select="handleSelect"-->
            <!--&gt;</el-autocomplete>-->
          <!--</aside>-->
          <aside>
            <h3>管理成员<!--<a class="color-secondary" href="javascript:void(0)">更多</a>-->
            </h3>
            <people-list
              size="36"
              :count="5"
              :uids="managersUsers"
              :members="managers"></people-list>
          </aside>
          <aside>
            <h3>团队成员<!--<a class="color-secondary" href="javascript:void(0)">更多</a>-->
              <!--<div class="swiper-page float-right">
                <a><i class="fa fa-angle-left"></i></a>
                <a><i class="fa fa-angle-right"></i></a>
              </div>-->
            </h3>
            <people-list
              size="36"
              :count="5"
              :uids="membersUsers"
              :members="members"></people-list>
          </aside>
        </div>
        <!--<mod title="邀请链接" size="14" class="margin-t">-->
          <!--<p class="color-secondary font-s12">拥有聆花科技邮箱和收到这条链接的用户都能加入小组</p>-->
          <!--<el-input v-model="shareLink" size="small"></el-input>-->
          <!--<el-button type="primary" class="expanded margin-t10" size="small">复制链接</el-button>-->
        <!--</mod>-->
      </el-col>
    </el-row>
</template>

<script>
  // import GroupManagement from '@/views/group/GroupManagement'
  // import PublishBar from '@/views/include/PublishBar'
  // import Feed from '@/components/Feed'
  // import { groupManagementShow, groupManagementActiveName } from '@/store/modules/group'
  import { types as gmtypes } from '@/store/modules/groupMember'

  export default {
    // components: {
    //   GroupManagement,
    //   PublishBar,
    //   Feed
    // },
    data () {
      return {
        peopleList: '',
        users: {},
        restaurants: [],
        timeout: null,
        shareLink: 'https://fb.me/g/2blArDOSd/eKrFwHBC'
      }
    },
    computed: {
      currGroup () {
        return this.$store.state.group.currItem
      },
      managers () {
        return this.$store.state.groupMember.groupManagersList
      },
      members () {
        return this.$store.state.groupMember.groupMembersList
      },
      managersUsers () {
        return this.managers.map(m => m.userId)
      },
      membersUsers () {
        return this.members.map(m => m.userId)
      }
      // requestTypeBodys () {
      //   let requestTypeCounts = this.$store.state.group.requestTypeCounts
      //   let requestTypeBodys = []
      //   if (requestTypeCounts) {
      //     requestTypeCounts.forEach((requestTypeCount) => {
      //       let title
      //       let type
      //       let requestType
      //       let count = requestTypeCount.count
      //       if (requestTypeCount.type === 0) { // join Group
      //         title = '' + requestTypeCount.count + '位用户想要加入小组'
      //         type = 'info'
      //         requestType = 0
      //       } else if (requestTypeCount.type === 2) { // post audit
      //         title = '有' + requestTypeCount.count + '篇帖子需要审核'
      //         type = 'info'
      //         requestType = 2
      //       } else {
      //         title = '有未知的小组请求！'
      //         type = 'warn'
      //       }
      //       requestTypeBodys.push({title, type, requestType, count})
      //     })
      //   }
      //   return requestTypeBodys
      // },
      // groupManagementShow,
      // groupManagementActiveName
    },
    watch: {
      $route () {
        this.loadAll()
      },
      '$store.state.groupMember.hasReload' (nv, ov) {
        if (nv) {
          this.loadAll()
        }
      }
    },
    methods: {
      // showGroupManager (type) { // 显示管理小组页面
      //   if (type === 0) { // join Group
      //     this.groupManagementActiveName = 'join_group'
      //   } else if (type === 2) { // post audit
      //     this.groupManagementActiveName = 'post_audit'
      //   }
      //   this.groupManagementShow = true
      // },
      loadAll () {
//        this.$store.dispatch(gmtypes.A_GET_GROUP_MEMBERS, this.$route.params.groupId)
//        this.$store.dispatch(gmtypes.A_GET_GROUP_MANAGERS, this.$route.params.groupId)
        let params = {
          groupId: this.$route.params.groupId,
          type: 'manager,member'
        }
        this.$store.dispatch(gmtypes.A_GET_GROUP_TYPES_MEMBER, params)
      },
      querySearchAsync (queryString, cb) {
        var restaurants = this.restaurants
        var results = queryString ? restaurants.filter(this.createStateFilter(queryString)) : restaurants

        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 3000 * Math.random())
      },
      createStateFilter (queryString) {
        return (state) => {
          return (state.value.indexOf(queryString.toLowerCase()) === 0)
        }
      },
      handleSelect (item) {
      }
    },
    created () {
      this.loadAll()
    }
  }
</script>

<style scoped="">
  @import 'css/variable.css';
</style>
