<template>
  <el-col :span="17">
    <publish-bar :groupId="currGroup.id" v-if="hasPostPerm"></publish-bar>
    <el-alert v-for="requestTypeBody in requestTypeBodys"
      class="margin-t"
      title=""
      :type="requestTypeBody.type"
      :key="requestTypeBody.requestType"
      v-if="showRequest(requestTypeBody)"
      show-icon>
      <a href="javascript:void(0)" @click="showGroupManager(requestTypeBody.requestType)">{{requestTypeBody.title}}</a>
    </el-alert>
    <div v-if="!isOpenGroup" class="alert-card mod-border color-secondary">
      <i class="color-info fa fa-info-circle fa-3x" title="封闭小组"></i>【{{currGroup.name}}】为封闭小组，加入小组后可查看相关动态
    </div>
    <!--<div v-if="isOpenGroup" class="filters mod-border" :class="hasPostPerm ? 'margin-t':''">-->
      <!--<el-row>-->
        <!--<el-col :span="24">-->
          <!--<ul class="menu">-->
            <!--<li>-->
              <!--<a class="active">全部</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a>热门</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a>本周最热  </a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a>历史最热</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</el-col>-->
      <!--</el-row>-->
    <!--</div>-->
    <feed v-if="isOpenGroup" :class="{'margin-t': hasPostPerm}" :groupId="$route.params.groupId"></feed>
  </el-col>
</template>

<script>
import PublishBar from '@/views/include/PublishBar'
import Feed from '@/components/Feed'
import { groupManagementShow, groupManagementActiveName } from '@/store/modules/group'

export default {
  components: {
    PublishBar,
    Feed
  },
  computed: {
    currGroupRef () {
      return this.$store.state.group.currItemRef
    },
    currGroup () {
      return this.$store.state.group.currItem
    },
    isManager () {
      return this.$store.state.group.currRefIsManager
    },
    hasPostPerm () {
      let groupMember = this.currGroupRef.groupMember
      if (this.currGroup.postPerm === 1) {
        return true
      } else if (this.currGroup.postPerm === 2) {
        if (!groupMember) {
          return false
        }
        return true
      } else if (this.currGroup.postPerm === 3) {
        if (!groupMember || !this.isManager) {
          return false
        }
        return true
      } else {
        return false
      }
    },
    hasAuditJoinGroup () {
      let group = this.currGroupRef.group
      let gm = this.currGroupRef.groupMember
      if ((gm && group.memberAudit === 2) || (group.memberAudit === 3 && gm && (gm.type === 2 || gm.type === 3))) {
        return true
      }
      return false
    },
    hasAuditPost () {
      let group = this.currGroupRef.group
      let gm = this.currGroupRef.groupMember
      if (group.postAudit === 2 && gm && (gm.type === 2 || gm.type === 3)) {
        return true
      }
      return false
    },
    isOpenGroup () {
      return this.currGroup.scope === 1 || this.currGroupRef.groupMember
    },
    requestTypeBodys () {
      let requestTypeCounts = this.$store.state.group.requestTypeCounts
      let requestTypeBodys = []
      if (requestTypeCounts) {
        requestTypeCounts.forEach((requestTypeCount) => {
          let title
          let type
          let requestType
          let count = requestTypeCount.count
          if (requestTypeCount.type === 0) { // join Group
            title = '' + requestTypeCount.count + '位用户想要加入小组'
            type = 'info'
            requestType = 0
          } else if (requestTypeCount.type === 2) { // post audit
            title = '有' + requestTypeCount.count + '篇帖子需要审核'
            type = 'info'
            requestType = 2
          } else {
            title = '有未知的小组请求！'
            type = 'warn'
          }
          requestTypeBodys.push({title, type, requestType, count})
        })
      }
      return requestTypeBodys
    },
    groupManagementShow,
    groupManagementActiveName
  },
  methods: {
    showRequest (requestTypeBody) {
      return requestTypeBody.count > 0 && ((requestTypeBody.requestType === 0 && this.hasAuditJoinGroup) || (requestTypeBody.requestType === 2 && this.hasAuditPost))
    },
    showGroupManager (type) { // 显示管理小组页面
      if (type === 0) { // join Group
        this.groupManagementActiveName = 'join_group'
      } else if (type === 2) { // post audit
        this.groupManagementActiveName = 'post_audit'
      }
      this.groupManagementShow = true
    }
  }
}
</script>
<style>
  .alert-card{
    padding: 40px 0 40px 70px;
    font-size: 14px;
    color: #666;
    background: #fff;
    position: relative;
    & .fa{
      position: absolute;
      left:30px;
      top:28px;
    }
  }
</style>
