<template>
</template>

<script>
import { cleanHtml, cleanMorePLine } from '@/util'
export default {
  data () {
    return {
      isFeedItem: true,
      imgCount: 0,
      contentCovaer: '',
      expand: true,
      contentMaxLen: 180,
      hasExpendBtn: false
    }
  },
  computed: {
    user () {
      return this.item.user || { id: this.item.userId }
    },
    modelObject () {
      return this.item.objContent.modelObject ? this.item.objContent.modelObject : this.item.objContent
    },
    content () {
      return this.cleanMorePLine(this.modelObject.content, 1, '<p><br></p>')
    },
    resourceFiles () {
      return this.modelObject.resourceFiles
    },
    contentTruncate () {
      this.imgCount = 0
      let contentBody = document.createElement('div')
      contentBody.innerHTML = this.content
      const imgs = contentBody.getElementsByTagName('img')
      if (imgs.length) {
        for (let img of imgs) {
          if (!img.dataset.face) {
            ++this.imgCount
            this.contentCovaer = this.contentCovaer || img.src
          }
        }
      }
      if (contentBody.innerText.length > this.contentMaxLen || this.contentCovaer) {
        this.hasExpendBtn = true
        return this.cleanHtml(this.content, this.contentMaxLen, '...')
      } else {
        return this.content
      }
    }
  },
  props: {
    item: Object,
    canShare: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    cleanHtml,
    cleanMorePLine,
    toggleExpand (event) {
      const tg = event.target
      if (tg.tagName.toLowerCase() === 'img' && !tg.dataset.face) {
        this.expand = !this.expand
      }
    }
  }
}
</script>

<style>
</style>
