<template>
	<div>
    <label class="type"><router-link :to="{name: 'post', params: {id: item.objId}}">文档</router-link></label>
    <slot name="header"></slot>
    <div class="arContent">
      <!--<div v-if="content.replace('<p><br /></p>','').length>0" v-html="content">...</div>-->
      <div class="transverse clearfix text-img" v-show="expand">
        <div class="content">
          <p v-if="contentTruncate.replace('<p><br /></p>','').length>0" v-html="contentTruncate"></p>
        </div>
      </div>
      <template v-if="content.replace('<p><br /></p>','').length>0">
        <p v-if="!expand" v-html="content" @click="toggleExpand">...</p>
        <div class="more margin-b10" v-if="hasExpendBtn">
          <a v-if="expand" @click="expand = !expand">展开全文 <i class="fa fa-angle-down"></i></a>
          <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
        </div>
      </template>
      <a class="docbg" href="javascript:void(0)" v-for="(resourceFile, index) in resourceFiles">
        <div class="covers" @click="previewDocs">
          <span @mouseenter="setTime('up')" @mouseleave="clearTime" class="pre-img"></span>
          <span @mouseenter="setTime('down')"  @mouseleave="clearTime" class="next-img"></span>
        	<img :src="resourceFile.datas.png" @load="sizeHeight(resourceFile.datas.png)" :style="{'margin-top': marginTop + 'px'}"/>
        </div>
        <div class="media-object" @click="previewDocs">
          <div class="media-object-section">
            <file-icon :type="getType(resourceFile)" size="50"></file-icon>
          </div>
          <div class="media-object-section">
            <div class="title14">
              <a href="javascript:void(0)" >{{resourceFile.name}}</a>
            </div>
            <div class="docInfo">
              <span>创建时间：{{item.createTime | dateFormat}}</span>
              <!--<span>作者：XXX</span>-->
              <span v-text="renderSize(resourceFile.size)">12M</span>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="arTools clearfix">
      <a href="javascript:void(0)" @click="previewDocs">查看文档</a>
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import BaseItem from './BaseItem'
import FileItem from '@/components/items/FileItem'

export default {
  extends: BaseItem,
  components: {
    FileItem
  },
  data () {
    return {
      isDocumentItem: true,
      marginTop: 0,
      imgHeight: null
    }
  },
  mounted () {
    let hash = this.$route.hash
    if (hash.indexOf('#preview-') >= 0) {
      let rsId = hash.substring(9)
      let index = null
      for (let i = 0; i < this.resourceFiles.length; i++) {
        if (this.resourceFiles[i].rsId === rsId) {
          index = i + 1
          break
        }
      }
      if (index) {
        this.previewDocs(index - 1)
      } else {
        this.msgWarning('无法显示文档，可能已经删除或者不可见！')
      }
    }
  },
  methods: {
    renderSize (value, p, record) {
      if (!value) {
        return '0 Bytes'
      }
      let unitArr = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
      let index = 0
      let srcsize = parseFloat(value)
      let size = this.roundFun(srcsize / Math.pow(1024, (index = Math.floor(Math.log(srcsize) / Math.log(1024)))), 2)
      return size + unitArr[index]
    },
    roundFun (numberRound, roundDigit) {
      if (numberRound >= 0) {
        let tempNumber = parseInt((numberRound * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit)
        return tempNumber
      } else {
        let numberRound1 = -numberRound
        let tempNumber = parseInt((numberRound1 * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit)
        return -tempNumber
      }
    },
    previewDocs (index) {
      index = index || 0
      let previewData = { type: 'doc', resources: [], user: this.user, source: JSON.parse(JSON.stringify(this.item)), canShare: this.canShare }
      for (var i = 0; i < this.resourceFiles.length; i++) {
        let resourceFile = this.resourceFiles[i]
        previewData.resources.push({
          objCreator: this.item.userId,
          at: this.item.objId,
          atType: 'POST',
          id: resourceFile.rsId,
          type: 'DOCUMENT',
          name: resourceFile.name,
          desc: resourceFile.desc,
          size: resourceFile.size,
          url: resourceFile.datas['pdf'],
          cover: resourceFile.datas['png'],
          createTime: this.item.createTime,
//          extInfo: resourceFile.datas.extInfo,
          focus: index === i
        })
      }
      this.$bus.$emit('media:preview', previewData)
    },
    getType (resourceFile) {
      let suffix = resourceFile.suffix || 'doc'
      suffix = suffix.toLowerCase()
      if (resourceFile.type === 'doc') {
        if (suffix === 'doc' || suffix === 'docx' || suffix === 'wps') {
          return 'doc'
        } else if (suffix === 'ppt' || suffix === 'pptx' || suffix === 'dps') {
          return 'ppt'
        } else if (suffix === 'xls' || suffix === 'xlsx' || suffix === 'et') {
          return 'xls'
        } else if (suffix === 'pdf') {
          return 'pdf'
        } else if (suffix === 'txt') {
          return 'txt'
        } else {
          return 'doc'
        }
      } else if (resourceFile.type === 'video') {
        return resourceFile.type
      } else if (resourceFile.type === 'other') {
        if (suffix === 'mp3' || suffix === 'ogg' || suffix === 'wav' || suffix === 'flac' || suffix === 'ape' || suffix === 'wma') {
          return 'music'
        }
        return resourceFile.type
      } else {
        return resourceFile.type
      }
    },
    sizeHeight (img) {
      var image = new Image()
      image.onload = () => {
        this.imgHeight = image.height * 530 / image.width
      }
      image.src = img
    },
    up () {
      if (this.marginTop >= -1) {
        this.marginTop = 0
        this.clearTime()
        return
      }
      this.marginTop = this.marginTop + 1
    },
    down () {
      if (Math.abs(this.marginTop - 1) >= (this.imgHeight - 240)) {
        this.marginTop = 240 - this.imgHeight
        this.clearTime()
        return
      }
      this.marginTop = this.marginTop - 1
    },
    setTime (func) {
      this.marque = setInterval(this[func], 1)
    },
    clearTime () {
      clearInterval(this.marque)
    }
  }
}
</script>

<style>
  .docbg .covers {
    display: flex;
    height: 240px;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    margin-bottom: 1rem;
    & .pre-img {
      position: absolute;
      height: 30%;
      left: 0;
      top: 0;
      right: 0;
      z-index: 10;
    }
    & .next-img {
      height: 50%;
      position: absolute;
      height: 50%;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 10;
    }
  }
</style>
