<template>
	<div>
    <label class="type"><router-link :to="{name: 'post', params: {id: item.objId}}">图片</router-link></label>
    <slot name="header"></slot>
    <div class="arContent">
      <!--<h3><a href="" target="_blank">可以没有标题</a></h3></a>-->
      <div class="transverse clearfix text-img" v-show="expand">
        <div class="content">
          <p v-if="contentTruncate.replace('<p><br /></p>','').length>0" v-html="contentTruncate"></p>
        </div>
      </div>
      <template v-if="content.replace('<p><br /></p>','').length>0">
        <p v-if="!expand" v-html="content" @click="toggleExpand">...</p>
        <div class="more margin-b10" v-if="hasExpendBtn">
          <a v-if="expand" @click="expand = !expand">展开全文 <i class="fa fa-angle-down"></i></a>
          <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
        </div>
      </template>
      <div class="img-list img_list margin-b10 clearfix" :class="'large-up-' + widthNum">
        <div class="column flex-center" v-for="(resourceFile,index) in resourceFiles.slice(0, 3)" :key="index">
          <a :style="heightStyle" :class="{'long-img': singleLong}" @click="previewImages(index)">
            <span v-if="isLongImg" @mouseenter="setTime('up')" @mouseleave="clearTime" class="pre-img"></span>
            <span v-if="isLongImg" @mouseenter="setTime('down')"  @mouseleave="clearTime" class="next-img"></span>
            <img :src="resourceFile.datas['550x']" @load="sizeHeight(resourceFile.datas['550x'])" :alt="resourceFile.name" :style="{'margin-top': marginTop + 'px'}"/>
            <span v-if="resourceFile.suffix&&resourceFile.suffix.toLowerCase() === 'gif'" class="label black">GIF</span>
            <span v-if="isLongImg" class="long-flag">长 图</span>
          </a>
        </div>
        <span class="imgCount warning-color"><i class="fa fa-image"></i> <span v-text="resourceFiles.length"></span></span>
      </div>
    </div>
    <div class="arTools clearfix">
      <a href="javascript:void(0)" @click="previewImages">查看图片</a>
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  data () {
    return {
      singleLong: false,
      marginTop: 0,
      imgHeight: 0,
      isLongImg: false,
      marque: null
    }
  },
  created () {
    this.contentMaxLen = 75
  },
  mounted () {
    let hash = this.$route.hash
    if (hash.indexOf('#preview-') >= 0) {
      let rsId = hash.substring(9)
      let index = null
      for (let i = 0; i < this.resourceFiles.length; i++) {
        if (this.resourceFiles[i].rsId === rsId) {
          index = i + 1
          break
        }
      }
      if (index) {
        this.previewImages(index - 1)
      } else {
        this.msgWarning('无法显示图片，可能已经删除或者不可见！')
      }
    }
  },
  computed: {
    widthNum () {
      let len = this.resourceFiles.length
      if (len === 1) {
        return 1
      } else if (len === 2) {
        return 2
      } else {
        return 3
      }
    },
    heightStyle () {
      let len = this.resourceFiles.length
      if (len === 1) {
        this.singleLong = true
        return 'max-height: 384px'
      } else if (len === 2) {
        return 'object-fit:cover;width:274px;height:180px;'
      } else {
        return 'object-fit:cover;width:182px;height:120px;'
      }
    }
  },
  methods: {
    previewImages (index) {
      index = index || 0
      let previewData = { type: 'image', resources: [], user: this.user, source: JSON.parse(JSON.stringify(this.item)), canShare: this.canShare }
      for (var i = 0; i < this.resourceFiles.length; i++) {
        let resourceFile = this.resourceFiles[i]
        previewData.resources.push({
          objCreator: this.item.userId,
          at: this.item.objId,
          atType: 'POST',
          id: resourceFile.rsId,
          type: 'IMAGE',
          name: resourceFile.name,
          desc: resourceFile.desc,
          size: resourceFile.size,
          url: resourceFile.datas['1000x'],
          extInfo: resourceFile.datas.extInfo,
          createTime: this.item.createTime,
          focus: index === i
        })
      }
      this.$bus.$emit('media:preview', previewData)
    },
    sizeHeight (img) {
      if (this.widthNum !== 1) return
      var image = new Image()
      image.onload = () => {
        this.imgHeight = image.width > 550 ? image.height * 550 / image.width : image.height
        this.isLongImg = this.imgHeight > 600
      }
      image.src = img
    },
    up () {
      if (this.marginTop >= -1) {
        this.marginTop = 0
        this.clearTime()
        return
      }
      this.marginTop = this.marginTop + 1
    },
    down () {
      if (Math.abs(this.marginTop - 1) >= (this.imgHeight - 384)) {
        this.marginTop = 384 - this.imgHeight
        this.clearTime()
        return
      }
      this.marginTop = this.marginTop - 1
    },
    setTime (func) {
      this.marque = setInterval(this[func], 1)
    },
    clearTime () {
      clearInterval(this.marque)
    }
  }
}
</script>

<style>
  .long-img{
    align-items: flex-start !important;
    & .pre-img {
      height: 30%;
    }
    & .next-img {
      height: 30%;
    }
  }
  .long-flag{
    background: rgba(0,0,0,.5);
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 4px 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
</style>
