<template>
	<div class="long-text-item">
    <label class="type"><router-link :to="{name: 'article', params: {id: item.objId}}">博文</router-link></label>
    <slot name="header"></slot>
    <div class="arContent long-ar">
      <a href="javascript:void(0)" @click="preview" :class="{'bg-primary': !cover}"><img :src="cover" v-if="cover" alt="">
      <h3>{{modelObject.title}}</h3></a>
      <div><p>{{arDescription}}</p></div>
    </div>
    <div class="arTools clearfix">
      <a href="javascript:void(0)" @click="preview">查看博文</a>
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import BaseItem from './BaseItem'
import { extractImage } from '@/util'

export default {
  extends: BaseItem,
  data () {
    return {
      isLongTextItem: true
    }
  },
  computed: {
    cover () {
      let coverImage = this.modelObject.cover
      if (!coverImage) {
        if (this.content) {
          let images = extractImage(this.content)
          if (images && images.length > 0) {
            coverImage = images[0].src
          }
        }
      }
      return coverImage
//    return this.modelObject.cover || require('@/assets/img/blog-bg.jpg')
    },
    arDescription () {
      let desc = this.content.replace(/<\/?.+?>/g, '')
      return desc.length > 80 ? (desc.substr(0, 80) + '......') : desc
    }
  },
  methods: {
    preview () {
      let post = {...this.item.objContent}
      post.feedId = this.item.id
      post.user = this.item.user
      post.viewerCount = this.item.viewerCount
      this.$bus.$emit('media:preview', {
        type: 'article',
        user: this.item.user,
        canShare: this.canShare,
        feedPreview: true,
        post
      })
    }
  }
}
</script>

<style>
  .long-text-item {
    & > h3 {
      margin: 1rem 0 0;
    }
  }
</style>
