<template>
	<div>
    <label class="type">音乐</label>
    <slot name="header"></slot>
    <div class="arContent">
      <div><p>真好听</p></div>
      <div class="docbg music-box" href="">
        <div class="media-object">
          <div class="media-object-section">
              <img src="../../assets/img/3.png">
              <img class="music-run fa-spin" alt="music" src="../../assets/img/music.png">
            </div>
            <div class="media-object-section">
              <div class="title14">
                一声叹息
              </div>
              <div class="docInfo">
                <span>任灿</span>
              </div>
            </div>
        </div>
        <div class="music-btn">
            <span>-05:36</span>
            <a class="play">
              <i class="fa fa-pause"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="arTools clearfix">
      <a href="javascript:void(0)" >歌词面板</a>
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<style>
</style>
