<template>
  <div>
    <label class="type"><router-link :to="{name: 'post', params: {id: item.objId}}">帖子</router-link></label>
    <slot name="header"></slot>
    <div class="arContent">
      <div class="transverse clearfix text-img" v-show="expand">
        <div class="img" v-if="contentCovaer" @click="expand = !expand">
          <img :src="contentCovaer" alt=""/>
          <span class="imgCount warning-color" :title="'共' + imgCount + '张'"><i class="fa fa-image"></i> <span v-text="imgCount"></span></span>
        </div>
        <div class="content">
          <p v-if="contentTruncate.replace('<p><br /></p>','').length>0" v-html="contentTruncate"></p>
        </div>
      </div>
      <div v-if="!expand" v-html="content" @click="toggleExpand"></div>
      <div class="more" v-if="hasExpendBtn">
        <a v-if="expand" @click="expand = !expand">展开全文 <i class="fa fa-angle-down"></i></a>
        <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
      </div>
      <!--<h3 v-text="item.objId">如果不工作，你想过怎样的生活？</h3>-->
      <!--<p v-text="item.objContent.title">“你品尝了夜的巴黎，你踏过下雪的北京，你熟记书本里的每一句你最爱的真理，却说不出我的原因。”我的记忆从桌子下面爬上来。死者的气息是一阵微风和思想：谁将会解答它？</p>-->
    </div>
    <div class="arTools clearfix">
      <!--<a href="" target="_blank">查看原文</a>-->
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<style>
</style>
