<template>
  <div>
    <label class="type"><router-link :to="{name: 'article', params: {id: item.objId}}">转载</router-link></label>
    <slot name="header"></slot>
    <div class="arContent">
      <div class="transverse clearfix text-img" v-show="expand">
        <div class="content">
          <p v-if="descTruncate.replace('<p><br /></p>','').length>0" v-html="descTruncate"></p>
        </div>
      </div>
      <template v-if="desc.replace('<p><br /></p>','').length>0">
        <p v-if="!expand" v-html="desc" @click="toggleExpand">...</p>
        <div class="more margin-b" v-if="hasExpendBtn">
          <a v-if="expand" @click="expand = !expand">展开全文 <i class="fa fa-angle-down"></i></a>
          <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
        </div>
      </template>
      <reprint-card :item="item" :titleFunType="'preview'" @onPreview="preview"></reprint-card>
    </div>
    <div class="arTools margin-t clearfix">
      <a href="javascript:void(0)" @click="preview">查看详情</a>
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import BaseItem from './BaseItem'
import ReprintCard from '@/components/cards/ReprintCard'
import { convertEmoji, cleanMorePLine } from '@/util'

export default {
  extends: BaseItem,
  components: {
    ReprintCard
  },
  computed: {
    modelObject () {
      return this.item.objContent.modelObject ? this.item.objContent.modelObject : this.item.objContent
    },
    desc () {
      let userDesc = this.cleanMorePLine(convertEmoji(this.modelObject.desc || ''), 1, '<p><br></p>')
      this.modelObject.desc = userDesc
      return userDesc
    },
    descTruncate () {
      let contentBody = document.createElement('div')
      contentBody.innerHTML = this.desc
      if (contentBody.innerText.length > this.contentMaxLen) {
        this.hasExpendBtn = true
        return this.cleanHtml(this.desc, this.contentMaxLen, '...')
      } else {
        return this.cleanHtml(this.desc)
      }
    }
  },
  data () {
    return {
    }
  },
  created () {
  },
  methods: {
    cleanMorePLine,
    preview () {
      let post = {...this.item.objContent}
      post.feedId = this.item.id
      post.user = this.item.user
      post.viewerCount = this.item.viewerCount
      this.$bus.$emit('media:preview', {
        type: 'reprint',
        user: this.item.user,
        canShare: this.canShare,
        feedPreview: true,
        post
      })
    }
  }
}
</script>

<style scoped="">

</style>
