<template>
  <div>
    <label class="type"><router-link :to="{name: 'post', params: {id: item.objId}}">分享</router-link></label>
    <slot name="header"></slot>
    <div class="arContent">
      <div class="transverse clearfix text-img" v-show="expand">
        <div class="content">
          <p v-if="contentTruncate.replace('<p><br /></p>','').length>0" v-html="contentTruncate"></p>
        </div>
      </div>
      <template v-if="content.replace('<p><br /></p>','').length>0">
        <p v-if="!expand" v-html="content" @click="toggleExpand">...</p>
        <div class="more margin-b10" v-if="hasExpendBtn">
          <a v-if="expand" @click="expand = !expand">展开全文 <i class="fa fa-angle-down"></i></a>
          <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
        </div>
      </template>
      <el-card v-if="formData && formData.item">
        <card-item
          :card-data="formData"
          ref="shareCard"></card-item>
      </el-card>
    </div>
    <div class="arTools clearfix">
      <a v-if="isShareVideo" href="javascript:void(0)" @click="previewVideos">查看视频</a>
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import CardItem from '@/components/feedcards/CardItem'
import BaseItem from './BaseItem'
import activityMixin from '@/mixin/activityMixin'
import { gatherContentImages } from '@/components/comment'

export default {
  mixins: [activityMixin],
  extends: BaseItem,
  components: {
    CardItem
  },
  data () {
    return {
      isShareVideo: false
    }
  },
  computed: {
    shareObjType () {
      return this.$store.state.post.objType
    },
    shareObjTypeName () {
      return this.$store.state.post.objTypeName
    },
    formData () {
      if (typeof this.item.objContent.shareObj === 'undefined') {
        return
      }
      let type = this.shareObjTypeName[this.modelObject.refObjType]
      let objItem = JSON.parse(JSON.stringify(this.item.objContent.shareObj))
      if (objItem.id) {
        if (type === 'post') {
          if (objItem.objType === 'POST') {
            if (objItem.objContent) {
              let modelObject = objItem.objContent.modelObject ? objItem.objContent.modelObject : objItem.objContent
              if (modelObject.contentType === 'normal') { // 普通帖子类型，包含：文本、图片、视频
                let postType = modelObject.postType
                if (postType === 'image' || postType === 'video' || postType === 'doc') {
                  objItem.currPostId = this.item.objId
                  this.isShareVideo = postType === 'video'
                }
              } else if (modelObject.contentType === 'reprint') {
                type = 'reprint'
              } else if (modelObject.contentType === 'activity') {
                type = 'activity'
              }
            }
          }
        }
        if (this.modelObject.refObjType === 1 || this.modelObject.refObjType === 2 || this.modelObject.refObjType === 3) {
          this.isShareVideo = this.modelObject.refObjType === 2
          let rsList = objItem.objContent.modelObject.resourceFiles || []
          if (objItem.objContent.modelObject.contentType === 'blog' || objItem.objContent.modelObject.contentType === 'reprint') {
            rsList = rsList.concat(this.gatherContentImages(objItem.objContent.modelObject.content))
          }
          objItem.objContent.modelObject.content = ''
          objItem.objContent.modelObject.resourceFiles = rsList.filter(f => f.rsId === this.modelObject.refObjId)
          objItem.shareAttachment = true
          objItem.shareAttachmentType = this.modelObject.refObjType
        }
        if (this.modelObject.hasQuote) {
          if (objItem.objContent.modelObject.contentType === 'normal' && objItem.objContent.modelObject.postType === 'doc') {
            objItem.shareAttachment = true
          }
          type = 'quote'
          objItem.colExtContent = this.modelObject.quote
          objItem.refObjId = this.modelObject.refObjId
          objItem.shareContent = this.modelObject.content
          objItem.currPostUserId = this.item.userId
        }
        objItem.currPostId = this.item.objId
      }
      return {
        type: type,
        item: objItem
      }
    }
  },
  created () {
  },
  methods: {
    gatherContentImages,
    previewVideos () {
      if (this.isShareVideo) {
        this.$refs.shareCard.$children[0].previewVideos()
      }
    }
  }
}
</script>

<style>
</style>
