<template>
  <div>
    <label class="type">短文</label>
    <slot name="header"></slot>
    <div class="arContent">
      <div v-html="item.objContent.title">fwefewf</div>
      <!--<h3 v-text="item.objId">如果不工作，你想过怎样的生活？</h3>-->
      <!--<p v-text="item.objContent.title">“你品尝了夜的巴黎，你踏过下雪的北京，你熟记书本里的每一句你最爱的真理，却说不出我的原因。”我的记忆从桌子下面爬上来。死者的气息是一阵微风和思想：谁将会解答它？</p>-->
    </div>
    <div class="arTools clearfix">
      <!--<a href="" target="_blank">查看原文</a>-->
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<style>
</style>
