<template>
	<div>
    <label class="type"><router-link :to="{name: 'post', params: {id: item.objId}}">视频</router-link></label>
    <slot name="header"></slot>
    <div class="arContent">
      <div class="transverse clearfix text-img" v-show="expand">
        <div class="content">
          <p v-if="contentTruncate.replace('<p><br /></p>','').length>0" v-html="contentTruncate"></p>
        </div>
      </div>
      <p v-if="!expand" v-html="content" @click="toggleExpand">...</p>
      <div class="more margin-b10" v-if="hasExpendBtn">
        <a v-if="expand" @click="expand = !expand">展开全文 <i class="fa fa-angle-down"></i></a>
        <a v-else @click="expand = !expand">收起 <i class="fa fa-angle-up"></i></a>
      </div>
      <div class="vedio-box"
        v-for="(resourceFile, index) in resourceFiles"
        :key="index"
      >
        <video-play
          :ref="'videoPlayer' + index"
          :options="getPlayerOptions(resourceFile)"
        >
        </video-play>
        <!--<video v-if="play[index]" autoplay="autoplay" controls="controls" width="100%" :poster="resourceFile.datas['600x'] || resourceFile.datas['mp4_to_jpg']">-->
          <!--<source :src="resourceFile.datas['mp4x'] || resourceFile.datas['mp4']" type="video/mp4">-->
          <!--Your browser does not support the video tag.-->
        <!--</video>-->
        <!--<img v-else :src="resourceFile.datas['600x'] || resourceFile.datas['mp4_to_jpg']" v-error-img:video/>-->
        <!--<div v-show="!play[index]">-->
          <!--<a @click="play[index]=true" class="play"></a>-->
          <!--<span class="modal"></span>-->
          <!--<div class="vedio-info">-->
            <!--&lt;!&ndash; <span>15万次播放</span> &ndash;&gt;-->
            <!--<span class="float-right" v-text="videoDuration(resourceFile.datas.duration || resourceFile.datas.extInfo.duration)">05:26</span>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="arTools clearfix">
       <a href="javascript:void(0)" @click="previewVideos">查看视频</a>
      <slot name="tool"></slot>
    </div>
  </div>
</template>

<script>
import BaseItem from './BaseItem'
import VideoPlay from '@/components/VideoPlayer'

export default {
  extends: BaseItem,
  components: {
    VideoPlay
  },
  data () {
    return {
      play: {},
      isVideoItem: true
    }
  },
  created () {
    this.contentMaxLen = 75
    let p = {}
    this.resourceFiles.forEach((item, index) => {
      p[index] = false
    })
    this.play = p
  },
  mounted () {
    let hash = this.$route.hash
    if (hash.indexOf('#preview-') >= 0) {
      let rsId = hash.substring(9)
      let index = null
      for (let i = 0; i < this.resourceFiles.length; i++) {
        if (this.resourceFiles[i].rsId === rsId) {
          index = i + 1
          break
        }
      }
      if (index) {
        this.previewVideos(index - 1)
      } else {
        this.msgWarning('无法显示视频，可能已经删除或者不可见！')
      }
    }
  },
  methods: {
    previewVideos (index) {
      index = index || 0
      let previewData = { type: 'video', resources: [], user: this.user, source: JSON.parse(JSON.stringify(this.item)), canShare: this.canShare }
      for (var i = 0; i < this.resourceFiles.length; i++) {
        let resourceFile = this.resourceFiles[i]
        let currentTime = this.$refs['videoPlayer' + i][0].player.currentTime()
        previewData.resources.push({
          objCreator: this.item.userId,
          at: this.item.objId,
          atType: 'POST',
          id: resourceFile.rsId,
          type: 'VIDEO',
          name: resourceFile.name,
          desc: resourceFile.desc,
          size: resourceFile.size,
          url: resourceFile.datas['mp4'],
          cover: resourceFile.datas['mp4_to_jpg'],
          extInfo: resourceFile.datas.extInfo,
          createTime: this.item.createTime,
          focus: index === i,
          start: currentTime
        })
      }
      this.$bus.$emit('media:preview', previewData)
    },
    getPlayerOptions (resourceFile) {
      return {
        start: 0,
        showFullBtn: false,
        preload: 'none',
        playsinline: false,
        muted: false,
        language: 'en',
        playbackRates: [0.7, 1.0, 1.5, 2.0],
        sources: [{
          type: 'video/mp4',
          src: resourceFile.datas['mp4x'] || resourceFile.datas['mp4']
        }],
        sourceId: resourceFile.rsId,
        poster: resourceFile.datas['550x'] || resourceFile.datas['mp4_to_jpg']
      }
    }
  }
}
</script>

<style>
</style>
