<template>
  <div>
    <div>
      <div tabindex="-1">
        <div class="atwho-content">
          <component :ref="`atWho` + containerId" :is="useAtUser ? 'at' : 'div'" name-key="name">
            <template v-if="useAtUser" slot="item" scope="s">
              <img :src="s.item.avatar_c" v-error-img:user>
              <span v-text="s.item.name"></span>
            </template>
            <div class="article-body"
                 @paste="$emit('paste-event', $event)"
                 @keyup.ctrl.enter="$emit('ctrl-enter-commit', commitCallBack, $event)"
                 :contenteditable="contenteditable"
                 :ref="`mediumContent` + containerId"
                 :id="'editor' + containerId"
                 @input="handleInput"><p><br></p></div>
          </component>
          <label v-if="maxSize > 0" class="color-secondary"><i v-if="isOutSize" class="fa fa-exclamation-circle color-warning"></i><span
            :class="isOutSize ? 'color-warning': ''">{{currDescSize}}</span>/{{maxSize}}</label>
        </div>
        <div v-if="imageToolsOptions.ableTools" :id="'insetImg-' + this.containerId" class="inset-btn">
          <el-popover
            ref="inset"
            placement="top"
            :width="imageToolsOptions.ableUpload && imageToolsOptions.ablePhotoAlbum ? 150 : 75"
            trigger="hover"
            popper-class="inset-btn-popover">
            <a v-if="imageToolsOptions.ableUpload" href="javascript:;" data-insert-file-tools="true" @click="addImage">图片</a>
            <a v-if="imageToolsOptions.ablePhotoAlbum" href="javascript:;" data-insert-file-tools="true" @click="showPhotoAlbum = true">相册</a>
          </el-popover>
          <a v-popover:inset href="javascript:;"><i class="fa fa-plus"></i></a>
        </div>
      </div>
    </div>
    <el-upload
      v-if="imageToolsOptions.ableTools && imageToolsOptions.ableUpload || ableUpload"
      ref="imgUploader"
      class="upload-insertImg"
      :action="action"
      :accept="imgFileType"
      :show-file-list="false"
      :on-success="successUpload">
    </el-upload>
    <el-dialog
      v-if="imageToolsOptions.ableTools && imageToolsOptions.ablePhotoAlbum"
      :visible.sync="showPhotoAlbum"
      size="tiny"
      top="30px"
      :close-on-click-modal="false"
      custom-class="photo-album">
      <div class="img-list margin-b10 clearfix large-up-4">
        <div class="column flex-center padding-b10"
             v-for="item in photoAlbum"
             :key="item.storeId"
             @click="addPhotoAlbumImage(item)">
          <a>
            <img :src="item.imgUrl"/>
          </a>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  /**
   *  内部透出的事件
   *  @paste-event 输入框黏贴事件
   *  @ctrl-enter-commit 输入框keyup.ctrl.enter, 参数commitCallBack, $event，第一个是提交后回调函数用来清空相应的数据或还原为默认值
   *  @content-file-sucess 内容里面上传成功的附件改变，参数内容附件
   *  @content-out-of-size 当内容的maxSize>0时，内容字数超出限制范围
   */
  import { wrapUrl } from '@/util'
  import { createMediumEditor } from '@/util/mediumEditor.js'
  import At from '@/components/atwho/At'
  export default {
    components: {
      At
    },
    data () {
      return {
        photoAlbum: [], // 测试图片集合
        editor: null,
        range: null, // 获取到之前光标的位置
        defOptions: { // MediumEditor默认参数，默认没有toolbar
          placeholder: {
            text: this.placeholderTxt,
            hideOnClick: true
          },
          buttonLabels: 'fontawesome',
          paste: {
            forcePlainText: true,
            cleanPastedHTML: true,
            cleanReplacements: [],
            cleanAttrs: ['class', 'style', 'dir'],
            cleanTags: ['meta'],
            unwrapTags: []
          },
          anchorPreview: {
            showOnEmptyLinks: false
          },
          toolbar: {
            buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
          }
        },
        contentFile: {
          image: [],
          doc: [],
          video: []
        },
        currDescSize: 0, // 限制长度时，用于判断是否超出长度，当前内容长度
        isOutSize: false, // 限制长度时，判断是否超出长度
        editorSection: null, // MediumEdit的容器
        insertBtnBox: null, // 内容插入图片的按钮
        imgFileType: 'image/*',
        action: wrapUrl('/zuul/file/web/upload?st=1'),
        showPhotoAlbum: false
      }
    },
    props: {
      value: { // 发布的内容
        type: String,
        default: null
      },
      contenteditable: { // 内容是否可编辑
        type: Boolean,
        default: true
      },
      maxSize: { // 发布的内容的最大字数限制，小于或等于0标识不限制
        type: Number,
        default: 0
      },
      placeholderTxt: {
        type: String,
        default: '输入想要留下的内容...'
      },
      containerId: {
        type: String,
        default: () => {
          return (Math.random() * 10000 + '').split('.')[0]
        }
      },
      imageToolsOptions: {
        type: Object,
        default: () => {
          return {
            ableTools: true, // 配置按钮
            ableUpload: true, // 上传
            ablePhotoAlbum: true // 相册
          }
        }
      },
      ableUpload: { // 外部的上传按钮
        type: Boolean,
        default: false
      },
      useAtUser: { // 启用at用户
        type: Boolean,
        default: false
      },
      options: Object// medium的参数
    },
    mounted () {
      this.photoAlbum.push({
        imgUrl: require('@/assets/img/1.jpg'),
        storeId: 'abc1'
      })
      this.photoAlbum.push({
        imgUrl: require('@/assets/img/2.jpg'),
        storeId: 'abc2'
      })
      this.photoAlbum.push({
        imgUrl: require('@/assets/img/3.png'),
        storeId: 'abc3'
      })
      this.photoAlbum.push({
        imgUrl: require('@/assets/img/4.jpg'),
        storeId: 'abc4'
      })
      this.photoAlbum.push({
        imgUrl: require('@/assets/img/6.png'),
        storeId: 'abc6'
      })
      this.contentFile = {
        image: [],
        doc: [],
        video: []
      }
      this.init()
    },
    computed: {
      getMediumContent () {
        return this.$refs['mediumContent' + this.containerId]
      },
      getAtWhoComponent () {
        if (this.useAtUser) {
          return this.$refs['atWho' + this.containerId]
        }
        return
      }
    },
    watch: {
      value (newVal, oldVal) {
        if (newVal !== this.getMediumContent.innerHTML) { // 用 $el.innerHTML 来解决 v-html 的光标跳到行首的问题
          this.getMediumContent.innerHTML = newVal || '<p><br/></p>'
        }
      },
      contentFile (nv) {
        this.$emit('content-file-sucess', nv)
      }
    },
    methods: {
      countByteSize (words) {
        let sTotal = 0
        let iTotal = 0
        let eTotal = 0
        for (var i = 0; i < words.length; i++) {
          var c = words.charAt(i)
          if (c.match(/[\u4e00-\u9fa5]/)) {
            iTotal++
          }
        }
        for (i = 0; i < words.length; i++) {
          let c = words.charAt(i)
          if (c.match(/[^\x00-\xff]/)) {
            sTotal++
          } else {
            eTotal++
          }
        }
        return iTotal * 2 + (sTotal - iTotal) * 2 + eTotal
      },
      getCurrContentSize (content) {
        var currds = 0
        if (!content) {
          return currds
        }
        var tempDom = document.createElement('div')
        tempDom.innerHTML = content
        let byteCount = this.countByteSize(tempDom.innerText.trim())
        currds = parseInt(byteCount / 2) + parseInt(byteCount % 2)
        let images = tempDom.getElementsByTagName('IMG')
        currds = currds + images.length
        let atwhos = tempDom.getElementsByClassName('atwho-query')
        if (atwhos && atwhos.length > 0) {
          for (let atwho of atwhos) {
            currds = currds + atwho.getAttribute('data-datas').length
          }
        }
        this.currDescSize = currds
        if (this.maxSize > 0) {
          if (this.currDescSize > this.maxSize) {
            this.isOutSize = true
          } else {
            this.isOutSize = false
          }
        }
        return currds
      },
      commitCallBack () {
        this.editor.setContent('<p><br/></p>')
        this.isOutSize = false
        this.currDescSize = 0
        this.contentFile = {
          image: [],
          doc: [],
          video: []
        }
        this.range = null
      },
      init () {
        createMediumEditor((MediumEditor, MediumButton) => {
          this.editorSection = document.getElementById('editor' + this.containerId)
          this.insertBtnBox = document.getElementById('insetImg-' + this.containerId)
          let foptions = {...this.defOptions}
          if (this.options) {
            foptions = {...this.defOptions, ...this.options}
          }
          if (foptions.toolbar) {
            foptions.extensions = {
              'warning': new MediumButton({
                label: '<i class="color-danger fa fa-font"></i>',
                start: '<span style="color:#ff4949;">',
                end: '</span>'
              })
            }
          }
          foptions.disableEditing = !this.contenteditable
          const editor = new MediumEditor(this.editorSection, foptions)
          this.editor = editor
          editor.subscribe('editableKeyup', (e) => {
            var keyCode = e.keyCode
            if (keyCode === 38 || keyCode === 40) {
              this.toolbarStyle()
            }
          })
          editor.subscribe('editableClick', (e) => {
            this.setCurrRange() // 设置当前的range
            if (e.target.tagName.toLowerCase() === 'img') {
              if (e.target.parentNode.textContent) {
                window.getSelection().removeAllRanges()
                let selection = window.getSelection()
                let range = document.createRange()
                range.selectNode(e.target)
                selection.addRange(range)
              } else {
                this.editor.selectElement(e.target.parentNode)
              }
            }
            if (this.useAtUser) {
              this.getAtWhoComponent.handleInput()
            }
            this.toolbarStyle()
          })
          editor.subscribe('editableInput', (e) => {
            this.setCurrRange()
            this.toolbarStyle()
            this.handleInput(e)
          })
          editor.subscribe('focus', (e) => {
            this.toolbarStyle(e)
          })
          editor.subscribe('blur', (e) => {
            let isClickInFile = e.target.getAttribute('data-insert-file-tools')
            if (this.imageToolsOptions.ableTools && !isClickInFile === 'true') {
              this.insertBtnBox.style.display = 'none'
            }
            if (this.useAtUser) {
              this.getAtWhoComponent.handleInput()
            }
          })
          editor.subscribe('editableMouseover', (e) => {
            if (e.target.tagName.toLowerCase() === 'img') {
              let range = document.createRange()
              range.selectNode(e.target)
            }
          })
        })
        this.initData()
      },
      initData () {
        let currValue = this.value
        if (this.getCurrContentSize(this.value) === 0) {
          currValue = currValue ? currValue.replace(/<p>(<br(\s\/|\/){0,}>){0,}<\/p>/gi, '<p><br/></p>') : '<p><br/></p>'
        }
        this.getMediumContent.innerHTML = currValue
        if (this.editor && this.editor.setContent) {
          this.editor.setContent(currValue)
        }
      },
      /**
       * 将medium的内容扔到v-model
       * @param e
       */
      handleInput (e) {
        let html = e.target.innerHTML
        let currHtmlSize = this.getCurrContentSize(html)
        this.$emit('contentOutOfSize', this.isOutSize)
        html = currHtmlSize > 0 ? html : ''
        this.$emit('input', html)
      },
      /**
       * 内容添加图片
       * @param e
       */
      toolbarStyle (e) {
        if (this.imageToolsOptions.ableTools && this.contenteditable) {
          this.insertBtnBox.style.display = 'block'
          let parant = e ? e.target : this.editor.getSelectedParentElement()
          while (parant && parant.tagName && parant.tagName.toLowerCase() !== 'p') {
            parant = parant.parentNode
          }
          if (parant) {
            var top = parant.offsetTop
            this.insertBtnBox.style.top = top + 'px'
          }
        }
      },
      addImage () {
        if (this.imageToolsOptions.ableTools && this.imageToolsOptions.ableUpload || this.ableUpload) {
          this.$refs.imgUploader.$children[0].handleClick()
        }
      },
      imgHtml (res, file) {
        return `<p><img class="img" src="` + URL.createObjectURL(file.raw) + `" data-storeId="` + res.data.storeId + `"/></p><p><br/></p>`
      },
      videoHtml (res, file) { // 插入视频
        return `<p><img class="img" src="` + URL.createObjectURL(file.raw) + `" data-storeId="` + res.data.storeId + `"/></p>`
      },
      imgPhotoAlbumHtml (file) {
        return `<img class="img" src="` + file.imgUrl + `" data-storeId="` + file.storeId + `"/>`
      },
      successUpload (res, file, fileList) {
        fileList.splice(fileList.indexOf(file), 1)
        if (file.response.status === 200 && file.response.data.ret === 0) {
          var html = this.imgHtml(res, file)
          this.contentFile.image = this.contentFile.image || []
          let selectedParentElement = this.editor.getSelectedParentElement()
          if (selectedParentElement && selectedParentElement.tagName === 'IMG') {
            // todo 处理文件列表，去掉要被替换的图片
            let dataStoreId = selectedParentElement.getAttribute('data-storeId')
            let filterFiles = this.contentFile.image.filter(f => f.response.data.storeId === dataStoreId)
            if (filterFiles && filterFiles.length > 0 && this.contentFile.image.indexOf(filterFiles[0]) !== -1) {
              this.contentFile.image.splice(this.contentFile.image.indexOf(filterFiles[0]), 1, file)
            } else {
              this.contentFile.image.push(file)
            }
          } else {
            // 添加图片到附件列表
            this.contentFile['image'].push(file)
          }
          this.editor.pasteHTML(html)
        } else {
          this.msgError('插入图片失败，请重新操作')
        }
      },
      addPhotoAlbumImage (item) {
        this.showPhotoAlbum = false
        let html = this.imgPhotoAlbumHtml(item)
        let selectedParentElement = this.editor.getSelectedParentElement()
        if (selectedParentElement && selectedParentElement.tagName === 'IMG') {
          // todo 处理文件列表，去掉要被替换的图片
          let dataStoreId = selectedParentElement.getAttribute('data-storeId')
          let filterFiles = this.contentFile.image.filter(f => f.response.data.storeId === dataStoreId)
          if (filterFiles && filterFiles.length > 0 && this.contentFile.image.indexOf(filterFiles[0]) !== -1) {
            this.contentFile.image.splice(this.contentFile.image.indexOf(filterFiles[0]), 1)
          }
        }
        this.editor.pasteHTML(html)
        // this.insertOtherHtml(html)
        // let currContent = this.editor.getContent()
        // currContent = currContent.replace(/&nbsp;|<p>&nbsp;<\/p>/gi, '')
      },
      insertIcon (path) {
        let src = `${this.$router.options.base}static/emoji/${path}`
        let icon = '<img src="' + src + '" data-face="' + path + '">'
        this.insertOtherHtml(icon)
      },
      insertOtherHtml (html) {
        const fn = () => {
          if (!this.range) {
            return
          }
          const r = this.range.cloneRange()
          if (!r) {
            return
          }
          r.setStart(r.endContainer, this.range.endOffset)
          r.setEnd(r.endContainer, this.range.endOffset)
          // hack: 连续两次 可以确保click后 focus回来 range真正生效
          this.applyRange(r)
          this.applyRange(r)
          document.execCommand('insertHtml', 0, html)
        }
        if (this.range) {
          fn()
        } else {
          this.mediumFocus()
          fn()
        }
      },
      mediumFocus () {
        this.getMediumContent.focus()
        const selection = window.getSelection()
        if (selection && selection.rangeCount > 0) {
          this.range = selection.getRangeAt(0)
        }
      },
      setCurrRange () {
        const selection = window.getSelection()
        if (selection && selection.rangeCount > 0) {
          this.range = selection.getRangeAt(0)
        }
      },
      applyRange (range) {
        const selection = window.getSelection()
        if (selection) { // 容错
          selection.removeAllRanges()
          selection.addRange(range)
        }
      }
    },
    beforeDestroy () {
      if (this.editor) {
        this.editor.destroy()
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @import 'css/medium-editor.css';
  .atwho-content {
    position: relative;
  }
  .atwho-content img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    -ms-interpolation-mode: bicubic;
    border-style: none;
  }
  .photo-album img{
    width: 100%;
    height: auto;
  }
</style>
