<template>
  <div class="atwho-content">
    <medium-editor
      v-model="content"
      :image-tools-options="imageToolsOptions"
      :use-at-user="false"
      :contenteditable="true"
      :options="options"></medium-editor>
    {{content}}
  </div>
</template>
<script>
  import MediumEditor from './MediumEditor'
  import MediumButton from 'medium-button'

  export default {
    components: {
      MediumEditor,
      MediumButton
    },
    data () {
      return {
        content: '<p>合法化的空间啊剑荡四方快接啊开机速度回复</p><p>啊几乎是对方空间啊还是快点放假</p>',
        imageToolsOptions: {
          ableTools: true,
          ableUpload: true,
          ablePhotoAlbum: true
        },
        options: {
          buttonLabels: 'fontawesome',
          toolbar: {
            buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
          },
          extensions: {
            'warning': new MediumButton({
              label: '<i class="color-danger fa fa-font"></i>',
              start: '<span style="color:#ff4949;">',
              end: '</span>'
            })
          }
        }
      }
    }
  }
</script>
<style scoped="">
  .atwho-content {
    position: relative;
  }

  .atwho-content img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
    -ms-interpolation-mode: bicubic;
    border-style: none;
  }
</style>
