<template>
  <section class="note_section">
    <popover
      trigger="click"
      popper-class="vertical"
      width="100"
      ref="oper"
      :showInfo="operInfo"
    >
      <ul class="vertical-menu icon">
        <li v-if="operItem.status === 0" @click="itemMarkRead(operItem)">
          <i class="fa fa-bookmark"></i>标记已读
        </li>
        <li v-else @click="markUnread([operItem.id])">
          <i class="fa fa-bookmark"></i>标记未读
        </li>
      </ul>
    </popover>
    <ul class="note_doc_list">
      <li class="transverse clearfix"
        v-for='item in list'
        :key="item.id"
        :class="{'user': itemIsUserNotify(item)}"
      >
        <div class="img">
          <el-badge is-dot :hidden="item.status !== 0">
            <img v-if="itemIsUserNotify(item)" :src="(item.user || item.data.user).avatar" alt="" v-error-img:user></img>
            <file-icon v-else type="volume" size="48"></file-icon>
          </el-badge>
        </div>
        <div class="content" style="padding-left: 58px;">
          <div @click="goTo(item)">
            <div class="title" v-if="item.content">{{item.content}}</div>
            <component
              v-else
              class="title"
              :is="getNotifyItemViewName(item)"
              :item="item"
              @close="$emit('close')"
            ></component>
            <div class="docInfo">
              <span class="time">{{item.createTime | dateFormat}}</span>
            </div>
          </div>
          <span @click="showOper({item, elem: $event.target})"><i class="el-icon-more"></i></span>
        </div>
      </li>
    </ul>
    <list-loading :loading="fetchBusy" :noData="done || page.last"></list-loading>
  </section>
</template>

<script>
import Popover from '@/components/Popover'
import { types as notifyTypes } from '@/store/modules/notify'
import { defUserImg } from '@/store/modules/helper'
import { dateFormat, getNotificationPermission } from '@/util'
import * as notifyItems from './items'

const notifyItemViews = {...notifyItems}
delete notifyItemViews['default']
const getNotifyItemViewName = notifyItems.default

export default {
  components: {
    Popover,
    ...notifyItemViews
  },
  computed: {
    documentHidden () {
      return this.$store.state.documentHidden
    },
    initData () {
      return false
    },
    restUrlGetAll () {
      return '/msg/notifications?size={{size}}&page={{page}}'
    },
    page () {
      return this.$store.state.notify.page
    },
    list () {
      return this.$store.state.notify.list
    }
  },
  data () {
    return {
      fetchBusy: false,
      done: false,
      operInfo: {},
      operItem: {}
    }
  },
  watch: {
    'list' (nv) {
      this.fetchBusy = false
    }
  },
  created () {
    this.$bus.$on('ntf', (msg, target) => {
      this.showNotify(msg)
    })
  },
  methods: {
    getNotifyItemViewName,
    fetchData (init) {
      if (init) {
        this.done = false
        this.$store.commit(notifyTypes.M_INIT_LIST)
      }
      if (!this.done && !this.page.last && !this.fetchBusy) {
        this.fetchBusy = true
        this.$store.commit(notifyTypes.M_NEXT_PAGE)
        this.$store.dispatch(notifyTypes.A_FETCH_LIST)
        .catch(e => {
          this.done = true
          this.fetchBusy = false
        })
      }
    },
    goTo (item) {
      let r
      let msg
      if (item.operObjType === 'ACTIVITY') {
        if (item.operType === 'cancelAndDelete') {
          msg = '活动已删除'
        } else {
          r = { name: 'activity', params: { activityId: item.operObjId } }
        }
      } else if (item.operObjType === 'GROUP') {
//        if (item.operType === 'requestJoinGroup') {
        let data = item.data || {}
        let group = item.group || (data.groupId ? { id: data.groupId } : {})
        r = {name: 'group', params: {groupId: group.id}}
//        }
      } else if (item.feed) {
        let feed = item.feed
        let objContent = feed.objContent || {}
        let hash = ''
        if (item.operObjType === 'IMAGE' || item.operObjType === 'VIDEO' || item.operObjType === 'DOCUMENT') {
          hash = '#preview-' + item.operObjId
        }
        if (feed.groupId && feed.groupType === 'activity') {
          r = { name: 'activity', params: { activityId: feed.groupId }, hash }
        } else if (feed.objType === 'POST' && objContent.model === 'blog') {
          r = { name: 'article', params: { id: feed.objId }, hash }
        } else if (feed.groupId) {
          r = { name: 'groupOneFeed', params: { feedId: feed.id, groupId: feed.groupId }, hash }
        } else {
          r = { name: 'userOneFeed', params: { feedId: feed.id, userId: item.fromUser }, hash }
        }
      }

      if (!r && !msg) {
        if (item.operObjType === 'POST') {
          msg = '帖子不存在或已删除'
        } else if (item.operObjType === 'COMMENT') {
          msg = '评论的帖子不存在或已删除'
        }
      }
      if (r) {
        this.$emit('close')
        this.$router.push(r)
      } else if (msg) {
        this.msgWarning(msg)
      }
      if (item.status === 0) {
        this.itemMarkRead(item)
      }
    },
    getUnreadCount () {
      this.$store.dispatch(notifyTypes.A_GET_UNREAD_COUNT)
    },
    itemMarkRead (item) {
      this.markRead({ ids: [item.id] })
    },
    itemIsUserNotify (item) {
      return item.user || (item.data && item.data.user)
    },
    markRead (data) {
      this.$store.dispatch(notifyTypes.A_MARK_READ, data)
      .then(data => (this.$refs.oper.showPopper = false))
    },
    markUnread (ids) {
      this.$store.dispatch(notifyTypes.A_MARK_UNREAD, ids)
      .then(data => (this.$refs.oper.showPopper = false))
    },
    showOper ({ elem, item }) {
      this.operInfo = {
        elem,
        callback: () => {
          this.operItem = item
        }
      }
    },
    sendBrowserNotify (msg, userName, userImg) {
      let n = new Notification(msg.fromUser ? userName : '系统', {
        icon: msg.fromUser ? userImg : null,
        body: '你有新消息',
        tag: 'notify'
      })
      n.onshow = function () {
        setTimeout(n.close.bind(n), 5000)
      }
      n.onclick = () => {
        window.focus()
        this.goTo(msg)
      }
    },
    showNotify (message) {
      this.$store.dispatch(notifyTypes.A_ADD_LIST_TOP, message)
      .then(msg => {
        let user = msg.user || {}
        let userName = user.userName || msg.fromUser
        let userImg = user.avatar || defUserImg()
        let time = dateFormat(msg.createTime)
        if (this.documentHidden) {
          // 桌面通知，参考 https://developer.mozilla.org/zh-CN/docs/Web/API/notification/Using_Web_Notifications
          if (window.Notification && Notification.permission === 'granted') {
            this.sendBrowserNotify(msg, userName, userImg)
          } else if (window.Notification && Notification.permission !== 'denied') {
            getNotificationPermission(status => {
              if (status === 'granted') {
                this.sendBrowserNotify(msg, userName, userImg)
              }
            })
          }
          // 发送浏览器通知后，不再需要显示本地的通知
          return
        }
        const h = this.$createElement
        let c
        if (msg.content) {
          c = h('div', {
            class: 'title'
          }, msg.content)
        } else {
          c = h(this.getNotifyItemViewName(msg), {
            class: 'title',
            props: {
              item: msg,
              vmRouter: this.$router
            }
          })
        }
        let img
        if (msg.fromUser) {
          img = h('div', {
            class: 'img'
          }, [
            h('img', {
              attrs: {
                src: userImg,
                alt: userName + '——头像'
              }
            })
          ])
        } else {
          img = h('file-icon', {
            attrs: {
              type: 'volume',
              size: '48',
              alt: '系统'
            }
          })
        }
        this.$notify({
          customClass: 'message_box',
          message: h('a', {
            on: {
              click: () => {
                this.goTo(msg)
              }
            },
            class: 'notify_con'
          }, [
            h('div', {
              class: 'media-object'
            }, [
              h('div', {
                class: 'media-object-section shrink' + (msg.fromUser ? ' user' : '')
              }, [img]),
              h('div', {
                class: 'media-object-section'
              }, [
                c,
                h('div', {
                  class: 'Info'
                }, [
                  h('span', {
                    class: 'time'
                  }, time)
                ])
              ])
            ])
          ]),
          duration: 5000
        })
      })
    }
  }
}
</script>

<style>
@import 'css/variable.css';
.note_section{
  & h4{
    color: var(--color-secondary);
    font-size: 12px;
    margin-bottom: 10px;
  }
  & .note_doc_list {
    margin: 0;
    & li {
      list-style: none;
      & .media-object{
        margin-bottom: 6px;
        padding: 0 0 6px 0;
        & >div:last-child {
          padding-bottom: 10px;
          border-bottom: 1px solid #ddd;
        }
      }
      &.transverse:last-child{
        & .media-object{
          margin: 0;
        }
        & .content > div{
          border-bottom: none;
        }
      }
      &.transverse {
        padding: 10px 0 0 0;
        &:hover{

        }
        & .img{
          width: 48px;
          height: 48px;
          overflow: visible;
          & img{
            border-radius: 50%;
          }
          & a{
            padding: 0;
          }
        }
        & .content{
          padding-left: 58px;
          position: relative;
          cursor: pointer;
          & >div{
            height: 52px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: -1px;
            word-wrap: break-word;
            border-bottom: 1px solid #ddd;
            padding: 0 0 10px;
          }
          & >span{
            position: absolute;
            right: 0;
            visibility: hidden;
            z-index: 1;
            cursor: pointer;
            top: 50%;
            margin-top: -14px;
            padding:4px 6px;
            border-radius: 2px;
            /*transition: visibility .3s,background-color .3s;*/
          }
          &:hover >span{
            visibility: visible;
            &:hover{
              background: color(var(--color-secondary) tint(60%));
            }
          }
        }
      }
    }
    & .el-badge__content.is-fixed.is-dot{
      right: 10px;
      top: 4px;
    }
  }
  & .title{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    max-height: 2.67em;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    & img[data-face]{
      width: 12px;
    }
  }
  & .time{
    font-size: 12px;
    color: var(--color-secondary);
  }
  & .note_with{width: 250px;}
  .img .people_list li a{padding: 0;}
}
</style>
