<template>
  <div :class="classes" :style="styles" @click="back">
    <slot>
        <div :class="innerClasses">
          <i class="ivu-icon ivu-icon-chevron-up"></i>
        </div>
    </slot>
  </div>
</template>
<script>
  import { scrollTop } from '@/util/emitter'
  import { on, off } from '@/util/dom'
  const prefixCls = 'back-top'
  export default {
    props: {
      height: {
        type: Number,
        default: 400
      },
      bottom: {
        type: Number,
        default: 30
      },
      right: {
        type: Number,
        default: 30
      },
      duration: {
        type: Number,
        default: 1000
      },
      scrollSelector: {
        type: String,
        default: null
      }
    },
    data () {
      return {
        backTop: false,
        scrollBody: null
      }
    },
    mounted () {
      if (this.scrollSelector === '') {
        this.scrollBody = this.$el.parentElement
      } else if (this.scrollSelector) {
        this.scrollBody = document.querySelector(this.scrollSelector)
      } else {
        this.scrollBody = window
      }
      on(this.scrollBody, 'scroll', this.handleScroll)
      on(this.scrollBody, 'resize', this.handleScroll)
    },
    beforeDestroy () {
      off(this.scrollBody, 'scroll', this.handleScroll)
      off(this.scrollBody, 'resize', this.handleScroll)
    },
    computed: {
      classes () {
        return [
          `${prefixCls}`,
          {
            [`${prefixCls}-show`]: this.backTop
          }
        ]
      },
      styles () {
        return {
          bottom: `${this.bottom}px`,
          right: `${this.right}px`
        }
      },
      innerClasses () {
        return `${prefixCls}-inner`
      }
    },
    methods: {
      handleScroll () {
        var YOffset = this.scrollBody.pageYOffset ? this.scrollBody.pageYOffset : this.scrollBody.scrollHeight
        this.backTop = YOffset >= this.height
        if (this.scrollBody.scrollTop < 30) {
          this.backTop = false
        }
      },
      back () {
        var sTop
        if (this.scrollSelector === '' || this.scrollSelector) {
          sTop = this.scrollBody.scrollTop
        } else {
          sTop = document.documentElement.scrollTop || document.body.scrollTop
        }
        scrollTop(this.scrollBody, sTop, 0, this.duration)
        this.$emit('on-click')
      }
    }
  }
</script>
<style>
@import 'css/variable.css';
.back-top{
  position: fixed;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fff;
  opacity: 0;
  transition: opacity .3s, background .3s;
  box-shadow: 0 0 1px rgba(0,0,0,.2);
  &.back-top-show{
    opacity: 1;
    cursor: pointer;
    &:hover {
      background: var(--color-primary);
      & a{
        color:#fff;
      }
    }
  }
}
@media only screen and (max-width:768px ) {
  .back-top{
    height: 36px !important;
    width: 36px;
  }
}
</style>
