<template>
  <component :is="tagName" @mouseenter="showLocatePopover"  @mouseleave="hideLocatePopover">
    <slot></slot>
  </component>
</template>
<script>
  export default {
    data () {
      return {
      }
    },
    props: {
      location: Object,
      tagName: String
    },
    created () {
    },
    methods: {
      showLocatePopover (event) {
        this.$bus.$emit('locate:showPopover', {
          elem: event.target,
          location: this.location
        })
      },
      hideLocatePopover (event) {
        this.$bus.$emit('locate:hidePopover', {
          elem: event.target,
          location: this.location
        })
      }
    },
    computed: {}
  }
</script>
<style scoped="">
</style>
