<template>
  <div>
    <popover
      ref="locate"
      placement="bottom"
      width="340"
      trigger="hover"
      popper-class="locate-poppper"
      @show="locatePopover = true"
      @hide="locatePopover = false">
      <div class="location-container" style="height: 200px;">
        <amap
          vid="amapDemo"
          ref="locationMap"
          :center="mapCenter"
          :zoom="zoom"
          class="amap-demo">
          <amap-marker v-if="locatePopover && marker.length>0" :position="marker"></amap-marker>
        </amap>
      </div>
    </popover>
  </div>
</template>
<script>
  import Popover from '@/components/Popover'
  import { Amap, AmapMarker } from '@/components/amap'
  export default {
    components: {
      Popover,
      Amap,
      AmapMarker
    },
    data () {
      return {
        mapCenter: [119.237626, 26.05766],
        locatePopover: false,
        zoom: 12,
        location: {},
        marker: []
      }
    },
    created () {
      // 添加事件监听
      this.$bus.$on('locate:showPopover', (data) => {
        this.toggleLocatePopover(data, true)
      })
      this.$bus.$on('locate:hidePopover', (data) => {
        this.toggleLocatePopover(data, false)
      })
    },
    watch: {
      locatePopover (nv) {
        if (nv) {
          this.zoom = 12
          let map = this.$refs.locationMap.$$getInstance()
          this.marker = [this.location.lng, this.location.lat]
          this.mapCenter = this.marker
          map.setZoom(this.zoom)
          map.setCenter(this.mapCenter)
        }
      }
    },
    methods: {
      toggleLocatePopover ({elem, location}, show) {
        let popover = this.$refs.locate
        if (popover) {
          popover.changeShowInfo({
            elem,
            show,
            callback: () => {
              this.emojiPopover = show
              this.location = location
            }
          })
        }
      }
    }
  }
</script>
<style>
</style>
