<template>
  <el-dialog class="createPost" :visible.sync="postFormShow" @close="closeClear" top="30px">
    <div v-if="statusFetch">数据加载中...</div>
    <template v-else>
      <el-form :rules="rules" :label-position="labelPosition" :model="postData" ref="postForm">
        <h1>帖子发布</h1>
        <div class="el-items">
          <el-row>
            <el-col :span="18">
              <el-form-item label="帖子内容" prop="content">
                <el-input type="textarea" ref="postContent" v-model="postData.content"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item class="secrets" label="当前活动和感受" prop="behavior" :label-width="formLabelWidth">
            <el-input placeholder="请输入内容" v-model="postData.behValue" style="width: 500px;">
              <el-select v-model="postData.behavior" slot="prepend" style="width: 120px;">
                <el-option v-for="item in behaviors" :key="item.val" :label="item.label" :value="item.val" v-if="item.val !== 'pc'">
                  <span style="float: left;width: 26px;"><img :src="getBehIcon(item.val)"/></span>
                  <span style="float: right;">{{ item.label }}</span>
                </el-option>
              </el-select>
            </el-input>
          </el-form-item>
          <el-form-item class="secrets" label="当前位置" prop="secrets" :label-width="formLabelWidth">
            <el-input type="text" v-model="postData.location"></el-input>
            <el-input type="hidden" v-model="postData.postType"></el-input>
            <el-input type="hidden" v-model="post.model"></el-input>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="postFormShow = false">取 消</el-button>
        <el-button type="primary" @click="savePost" :disabled="complite" :icon="complite?'loading':''">确 定</el-button>
      </div>
    </template>
  </el-dialog>
</template>
<script>
  import { postFormShow, postFormShowCreate } from '@/store/modules/helper'
  import { types } from '@/store/modules/post'

  export default {
    data () {
      return {
        postAudit: false,
        randomRecLoading: true,
        defData: {
          postType: 'text',
          behavior: '',
          behValue: null
        },
        postData: {},
        post: {},
        formLabelWidth: '80px',
        labelPosition: 'top',
        dynamicTags: [],
        inputVisible: false,
        inputValue: '',
        rules: {
          content: [
            {min: 0, max: 512, message: '长度在 0 到 512 个字符', trigger: 'blur'}
          ]
        },
        behaviors: [
          {
            val: 'feel',
            label: '觉的'
          },
          {
            val: 'look',
            label: '在看'
          },
          {
            val: 'read',
            label: '在读'
          },
          {
            val: 'eat',
            label: '在吃'
          },
          {
            val: 'drink',
            label: '在喝'
          },
          {
            val: 'play',
            label: '在玩'
          },
          {
            val: 'goto',
            label: '前往'
          },
          {
            val: 'support',
            label: '支持'
          },
          {
            val: 'celebrate',
            label: '庆祝'
          },
          {
            val: 'prepare',
            label: '准备'
          },
          {
            val: 'agree',
            label: '赞同'
          },
          {
            val: 'disagree',
            label: '不赞同'
          },
          {
            val: 'more',
            label: '更多'
          }
        ],
        complite: false
      }
    },
    props: {
      type: String
    },
    computed: {
      postFormShow,
      postFormShowCreate,
      currPost () {
        return this.$store.state.post.currItem
      },
      statusFetch () {
        return this.$store.state.post.statusFetch
      },
      currGroup () {
        return this.$store.state.group.currItem
      },
      currUser () {
        return this.$store.state.user.currItem
      }
    },
    watch: {
      '$store.state.post.currItem' (nv, ov) {
        console.log('$store.state.post.currItem')
        this.post = {...nv}
        this.postData = JSON.parse(this.post.modelData)
      },
      postFormShowCreate (nv, ov) {
        if (nv) {
          console.log('postFormShowCreate')
          let defModelData = {
            modelData: JSON.stringify(this.defData)
          }
          this.post = {...defModelData}
          this.postData = this.defData
          this.postFormShow = true
        }
      },
      postFormShow (nv) {
        if (nv && !this.postFormShowCreate) {
          console.log('postFormShow')
          this.post = {...this.currPost}
          this.postData = JSON.parse(this.post.modelData)
        }
      }
    },
    methods: {
      savePost () {
        this.complite = true
        var isFailed = false
        this.$refs['postForm'].validate((valid) => {
          if (!valid) {
            isFailed = true
            return false
          }
        })
        if (!this.postData.content && !this.postData.behValue || isFailed) {
          this.complite = false
          this.$refs.postContent.$refs.input.focus()
          return
        }
        if (this.currGroup) {
          this.post.scopeValue = this.currGroup.id
          this.post.scope = 0
          this.post.createAt = this.currGroup.id
          this.post.createAtType = 101
        } else {
          this.post.scopeValue = this.currUser.id
          this.post.scope = 1
          this.post.createAt = this.currUser.id
          this.post.createAtType = 102
        }
        this.postData.behIcon = this.postData.behavior
        this.post.modelData = JSON.stringify(this.postData)
        if (this.post.id) {
          this.$store.dispatch(types.A_SAVE_CURRENT, this.post)
            .then(data => {
              this.postFormShow = false
              this.complite = false
            })
            .catch(e => {
              this.complite = false
              alert(e.message)
            })
        } else {
          this.$store.dispatch(types.A_CREATE, this.post)
            .then(data => {
              this.postFormShow = false
              this.complite = false
            })
            .catch(e => {
              this.complite = false
              alert(e.message)
            })
        }
      },
      closeClear () {
        this.$refs['postForm'].resetFields()
        if (this.postFormShow) {
          this.postFormShow = false
        }
        if (this.postFormShowCreate) {
          this.postFormShowCreate = false
        }
      },
      handleClose (tag) {
        this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1)
      },
      showInput () {
        this.inputVisible = true
        this.$nextTick(_ => {
          this.$refs.saveTagInput.$refs.input.focus()
        })
      },
      handleInputConfirm () {
        let inputValue = this.inputValue
        if (inputValue) {
          this.dynamicTags.push(inputValue)
        }
        this.inputVisible = false
        this.inputValue = ''
      },
      getBehIcon (icon) {
        if (!icon) {
          return require('../../assets/img/behavior/more.jpg')
        }
        return require('../../assets/img/behavior/' + icon + '.jpg')
      }
    }
  }
</script>
