<template>
  <div>
    <router-link :to="{ name: 'group', params: { groupId: item.group.id }}" class="media-object">
      <div class="media-object-section">
        <img :src="item.group.icon" v-error-img:group>
      </div>
      <div class="media-object-section">
        <div class="title14">{{item.group.name}}</div>
        <div class="Info">
          <span class="label primary">{{groupValueTypes[item.group.type]}}</span>
          <span class="color-secondary">组员 {{item.group.memberCount}}<!-- | 帖子2034--></span>
        </div>
        <p class="desc">
          {{item.group.desc}}
        </p>
      </div>
    </router-link>
    <el-button type="text" size="mini" class="color-secondary" v-if="isJoined">{{showStatus ? '已加入' : ''}}</el-button>
    <el-button type="text" size="mini" class="color-secondary" v-if="!isJoined&&item.hasRequest || clickJoin">待审核</el-button>
    <el-button @click="joinGroup" type="warning" size="mini" v-if="!isJoined&&!item.hasRequest&&!clickJoin">加 入</el-button>
  </div>
</template>
<script>
  import { types } from '@/store/modules/group'
  import { types as gmtypes } from '@/store/modules/groupMember'
  export default {
    computed: {
      groupValueTypes () {
        return this.$store.state.group.groupValueTypes
      }
    },
    data () {
      return {
        isJoined: false,
        clickJoin: false
      }
    },
    props: {
      item: Object,
      showStatus: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      joinGroup () {
        var gid = this.item.group.id
        this.$store.dispatch(gmtypes.A_CREATE, {groupId: gid})
          .then((data) => {
            if (data) {
              this.isJoined = true
              this.$store.commit(types.M_CHANGE_GROUPS_RELOAD_STATUS, true)
            } else {
              this.clickJoin = true
            }
          })
      },
      checkJoined () {
        if (this.item.groupMember !== null) {
          this.isJoined = true
        }
      }
    },
    created () {
      this.checkJoined()
    }
  }
</script>
<style scoped="">
  @import 'css/variable.css';
</style>
