<template>
  <div class="wrapper_group">
    <mod title="我的部门" size="14" type="mod-side-l1">
      <div class="my_part clearfix">
        <swiper class="margin-t" v-if="isLoadSuccess && organizations.length>0" :options="swiperOption" :not-next-tick="notNextTick" ref="mySwiper">
          <!-- slides -->
          <swiper-slide :key="item.id" v-for="item in organizations">
            <figure>
              <router-link :to="{name: 'group', params:{groupId: item.id}}">
                <img :src="item.cover" :alt="item.name" v-error-img:group/>
                <figcaption>
                  <h4>{{item.name}}</h4>
                  <p>组员 {{item.memberCount}}人</p>
                </figcaption>
              </router-link >
            </figure>
          </swiper-slide>

          <!-- Optional controls -->
          <div class="swiper-pagination swiper-pagination-white"  slot="pagination"></div>
          <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
          <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
          <div class="swiper-scrollbar" v-if="organizations.length>5"  slot="scrollbar"></div>
        </swiper>
        <div class="exit" v-if="organizations.length===0 && loadOrgComplete">
          <div v-if="!isLoadSuccess && loadOrgComplete">数据加载失败, <a class="h-underline" @click="loadOrganizations">重新加载</a></div>
          <div v-if="isLoadSuccess && loadOrgComplete && organizations.length===0">未加入任何部门</div>
        </div>
        <list-loading class="margin-t" v-if="!loadOrgComplete" :loading="!loadOrgComplete" :noData="false"></list-loading>
      </div>
    </mod>
    <el-row>
      <el-col :span="24">
        <div class="filters mod-border margin-t">
          <el-row>
            <el-col :span="20">
              <ul class="menu">
                <li>
                  <a :class="groupMemberType === null?'router-link-exact-active active':''" @click="changeMemberType (null)">所有小组</a>
                </li>
                <li>
                  <a :class="groupMemberType === 'manager'?'router-link-exact-active active':''" @click="changeMemberType ('manager')">你管理的小组</a>
                </li>
                <li>
                  <a :class="groupMemberType === 'member'?'router-link-exact-active active':''" @click="changeMemberType('member')">你加入的小组</a>
                </li>
              </ul>
            </el-col>
            <el-col :span="4">
              <div class="filters_btn">
                <el-button @click="groupFormShowCreate = true" type="success" size="small">创建小组</el-button>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-col>
    </el-row>
    <el-row class="margin-t">
      <el-col :span="17">
        <div class="group_content big_group_content mod-border" v-infinite-scroll="fetchData" infinite-scroll-disabled="fetchBusy" infinite-scroll-distance="10">
          <group-item
            v-for="item in list"
            :key="item.id"
            :item="item"
            :showStatus="groupMemberType === null"></group-item>
        </div>
        <list-loading :loading="statusFetchList" :noData="done"></list-loading>
      </el-col>
      <el-col :span="7">
        <module-item
          modTitle="今日推荐"
          :get-url="'/sns/groups/recommends'"
          :list-size="5"
          :list-key="'groupRecommends'"
          :pathOption="getGroupPathOption"
          :getOtherHtml="getGroupOtherHtml">
        </module-item>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  import restDataMixin from '@/util/restDataMixin'
  import GroupItem from './GroupItem'
  import ModuleItem from '@/components/items/ModuleItem'
  import { rest } from '@/util'
  import { groupFormShowCreate } from '@/store/modules/helper'
  import {getGroupPathOption, getGroupOtherHtml} from '@/components/items/moduleData'

  export default {
    mixins: [restDataMixin],
    components: {
      GroupItem,
      ModuleItem
    },
    data () {
      return {
        organizations: [],
        isLoadSuccess: true,
        loadOrgComplete: false,
        groupMemberType: null,
        done: false,
        list: [],
        fetchBusy: false,
        notNextTick: true,
        swiperOption: {
          paginationClickable: true,
          prevButton: '.swiper-button-prev',
          nextButton: '.swiper-button-next',
          scrollbar: '.swiper-scrollbar',
          mousewheelControl: true,
          observeParents: true,
          pagination: '.swiper-pagination',
          slidesPerView: 6,
          spaceBetween: 16,
          breakpoints: {
            1024: {
              slidesPerView: 6,
              spaceBetween: 40
            },
            768: {
              slidesPerView: 6,
              spaceBetween: 30
            },
            640: {
              slidesPerView: 2,
              spaceBetween: 20
            },
            320: {
              slidesPerView: 1,
              spaceBetween: 10
            }
          }
        }
      }
    },
    computed: {
      groupFormShowCreate,
      initData () {
        return false
      },
      listUrlParams () {
        let params = {}
        params.memberType = this.groupMemberType
        return params
      },
      restUrlGetAll () {
        let url
        if (!this.groupMemberType) {
          url = '/sns/groups/all/refs?size={{size}}&page={{page}}&type='
        } else {
          url = '/sns/groups/all/refs?size={{size}}&page={{page}}&type={{memberType}}'
        }
        return url
      },
      statusFetchList () {
        return this.rest.status.fetchList
      },
      swiper () {
        return this.$refs.mySwiper.swiper
      }
    },
    watch: {
      'rest.items' (nv) {
        this.list = this.list.concat(nv)
        this.fetchBusy = false
      },
      groupMemberType (nv, ov) {
        this.page = 0
        this.fetchData(true)
      }
    },
    created () {
//      this.rest.page.size = 3
      this.loadOrganizations()
      this.fetchData(true)
    },
    methods: {
      getGroupPathOption,
      getGroupOtherHtml,
      loadOrganizations () {
        this.loadOrgComplete = false
        rest.get('/sns/groups/users/joined/organization')
          .then(json => {
            this.loadOrgComplete = true
            this.isLoadSuccess = true
            this.organizations = json
          })
          .catch(err => {
            this.loadOrgComplete = true
            this.isLoadSuccess = false
            if (err.status < 10000) {
              console.log('system error:', err)
            } else {
              console.log('app error:', err)
            }
          })
      },
      fetchData (init) {
        if (init) {
          this.done = false
          this.list = []
        }
        if (!this.done && !this.fetchBusy) {
          this.fetchBusy = true
          ++this.page
          this.getData()
          .then(json => {
            this.done = json.last
          })
          .catch(err => {
            this.done = true
            this.fetchBusy = false
            if (err.status < 10000) {
              console.log('system error:', err)
            } else {
              console.log('app error:', err)
            }
          })
        }
      },
      changeMemberType (type) {
        this.groupMemberType = type
      }
    }
  }
</script>
<style scoped="">
  @import 'css/variable.css';
  .my_part {
    margin: 0 1rem 1rem 1rem;
    height: 140px;
    & figure{
      position:relative;
      margin:0;
      list-style: none;
      float: left;
      cursor:pointer;
      & a{
        display: block;
        border-radius:4px;
        overflow: hidden;
        position:relative;
        & img {
          display: block;
          width: calc(100% + 10px);
          max-width: inherit;
          max-height: 123px;
          height:123px;
          opacity: 0.9;
          transition: opacity 0.35s, transform 0.35s;
          transform: translate3d(-10px,0,0);
        }
        &:before{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, color(var(--color-primary) a(40%)));
          content: '';
          opacity: 1;
          transform: translate3d(0,50%,0);
          z-index: 1;
        }
      }
      & figcaption{
        position: absolute;
        box-sizing: border-box;
        bottom: 0;
        height: 60px;
        width: 100%;
        text-align: left;
        padding: 0 0 4px 1rem;
        z-index: 2;
        & h4{
          transform: translate3d(0,36px,0);
          transition: transform 0.35s,color .2s;
          word-spacing: -0.15em;
          margin-bottom: 4px;
          color: #fff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        & p{
          color: rgba(255,255,255,0.8);
          opacity: 0;
          transition: opacity 0.45s, transform 0.35s;
          transform: translate3d(0,36px,0);
          letter-spacing: 1px;
          font-size: 68.5%;
        }
      }
      &:hover img{
        transform: translate3d(0,0,0);
        opacity: 1;
      }
      &:hover h4, &:hover p{
        transform: translate3d(0,10px,0);
        opacity: 1;
      }
      &:hover a:before{
        transform: translate3d(0,0,0);
        transition: transform 0.35s;
      }
    }
  }
  .exit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>
