<template>
  <div>
    <el-popover
      v-model="showSuggestion"
      ref="search"
      placement="bottom"
      :visible-arrow="false"
      :width="popoverWidth"
      trigger="manual"
      popper-class="search-result scrollCss"
    >
      <ul id="suggestion" class="ac_result no-margin">
        <li v-if="loadSuggest"><i class="fa fa-spin fa-spinner"></i>正在加载数据</li>
        <template v-else>
          <li :ref="index == nowLi ? 'suggestionLi' : ''" v-if="suggestionsLists" v-for="(item, index) in suggestionsLists" class="detail-result" :class="{hover:index == nowLi + 1}" @click.stop.prevent="liClick(index)">
            <div class="media-object user">
              <div class="media-object-section shrink" v-if="typeof item !== 'string' && getTagKeyValue(item, 'icon')">
                <div class="img img24">
                  <img alt="头像" :src="getTagKeyValue(item, 'icon')">
                </div>
              </div>
              <div class="media-object-section">
                <div class="name">{{getTagKeyValue(item, 'name')}}</div>
              </div>
            </div>
          </li>
        </template>
      </ul>
    </el-popover>
    <div class="lg-tag-box" :class="{'tag-edit-active': isFocus}">
      <slot name="prepend"></slot>
      <div v-popover:search @click.stop.prevent="useAddButton ? '' : showInput()">
      <span
        class="lg-tag"
        :class="[type ? 'bg' + type : '', {'is-hit': hit}]"
        :style="{backgroundColor: color}"
        v-for='(tag, index) in tags'
        :key="tag"
        @click.stop.prevent="showSpaninput(tag, index)"
      >
          <span v-if="!tag.inp">{{getTagKeyValue(tag.val, 'name')}}</span>
          <input
            class="add-new-tag"
            type="text"
            v-if="tag.inp"
            v-model="spanVal"
            @keyup.delete="deleteTag(index)"
            @keyup.enter="editKeyEnter(index)"
            @blur="handleChangeBlur(index)"
            @focus="handleChangeFocus"
            @keyup.up.prevent="selectUp"
            @keyup.down="selectDown"
            ref="changeValue"
          >
          <i v-if="!tag.inp" @click.self.stop.prevent="handleClose(tag)">×</i>
      </span>
        <input
          class="add-new-tag"
          type="text"
          v-if="inputVisible && !readOnly && !isOutOfSize"
          ref="saveTagInput"
          v-model="queryString"
          @keydown.delete="deleteNewTag"
          @keydown.enter="newKeyEnter"
          @blur="mouseLeaveActive"
          @focus="handleFocus"
          @keyup.up.prevent="selectUp"
          @keyup.down="selectDown"
        >
        <el-button type="primary" size="mini" v-if="useAddButton && !readOnly && !isOutOfSize && !hideAddButton"  @click.stop.prevent="showInput">+ {{addButtonName}}</el-button>
        <slot name="box"></slot>
      </div>
      <slot name="nextend"></slot>
      <div class="recTags" v-if="recTags.length">
        <slot name="recslot"></slot>
        <span class="lg-tag"
          :class="[type ? 'bg-' + type : '', {'is-hit': hit}]"
          :style="{backgroundColor: color}"
          v-for='(tag, index) in recTags'
          :key="tag"
          @click.stop.prevent="addTags(tag)"
          v-if="!currtag['curr' +index]">
            <i class="fa fa-plus"></i><span class="book-tag"> {{getTagKeyValue(tag, 'name')}}</span>
        </span>
        <span v-else
          class="lg-tag">
            <i class="fa fa-plus"></i><span class="book-tag"> {{getTagKeyValue(tag, 'name')}}</span>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'LgTag',
    props: {
      text: String,
      closable: Boolean,
      type: String,
      hit: Boolean,
      closeTransition: Boolean,
      color: String,
      value: {
        type: Array,
        default: function () {
          return []
        }
      },
      recTags: {
        type: Array,
        default: function () {
          return []
        }
      },
      maxTagsSize: {
        type: Number,
        default: 0 // 0表示无限制
      },
      autoComplete: {
        type: Boolean,
        default: false
      },
      autoComNotNew: {
        type: Boolean,
        default: true
      },
      triggerOnFocus: {
        type: Boolean,
        default: false
      },
      fetchSuggestions: {
        type: Function,
        default: () => {}
      },
      tagReadOnly: {
        type: Boolean,
        default: false
      },
      readOnly: {
        type: Boolean,
        default: false
      },
      useAddButton: {
        type: Boolean,
        default: false
      },
      addButtonName: {
        type: String,
        default: '新增标签'
      },
      props: {
        type: Object,
        default () {
          return {
            icon: 'icon',
            name: 'name',
            value: 'value'
          }
        }
      },
      popoverWidth: {
        type: Number,
        default: 240
      }
    },
    data () {
      return {
        currtag: {},
        saveTagindex: [],
        inputVisible: false,
        queryString: '',
        spanVal: '',
        visible: [],
        resultTags: [],
        tags: [],
        // suggestionsLists
        editTag: false,
        editTagIndex: -1,
        suggestionsLists: [],
        loadSuggest: false,
        showSuggestion: false,
        nowLi: -1,
        isOutOfSize: false,
        hideAddButton: false,
        isFocus: false
      }
    },
    computed: {
      rectag: {
        get () {
          return this.currtag
        },
        set (rectags) {
          var length = rectags.length
          for (let i = 0; i < length; i++) {
            this.currtag['curr' + i] = false
          }
        }
      }
    },
    mounted () {
      this.initTags(this.value)
      this.rectag = this.recTags
    },
    watch: {
      value (val, old) {
        let tmpTags = this.tags.map(t => t.val)
        if ((val.length !== old.length || JSON.stringify(val) !== JSON.stringify(old)) && JSON.stringify(val) !== JSON.stringify(tmpTags)) {
          this.isOutOfSize = false
          this.initTags(val)
          this.currtag = []
        }
      },
      saveTagindex (val) {
        var length = this.recTags.length
        for (let i = 0; i < length; i++) {
          this.currtag['curr' + i] = false
        }
        for (var v of this.saveTagindex) {
          this.currtag['curr' + v] = true
        }
      },
      queryString (nv) {
        if (nv !== null && this.autoComplete && !this.isOutOfSize) {
          this.nowLi = -1
          this.showSuggestion = true
          this.loadSuggest = true
          this.fetchSuggestions(nv || '', this.suggestionsCallBack)
        }
      },
      spanVal (nv) {
        if (this.autoComplete) {
          this.nowLi = -1
          this.showSuggestion = true
          this.loadSuggest = true
          this.fetchSuggestions(nv || '', this.suggestionsCallBack)
        }
      },
      tags (nv) {
        this.isOutOfSize = this.maxTagsSize && nv.length >= this.maxTagsSize
        this.hideAddButton = this.isOutOfSize
      }
    },
    methods: {
      getTagKeyValue (item, key) {
        if (typeof item === 'string') {
          return item
        } else if (typeof item === 'object') {
          return item[this.props[key]]
        } else {
          return item
        }
      },
      otagEqualNtag (ot, nt) {
        if (typeof ot === 'string') {
          return ot === nt
        } else if (typeof ot === 'object') {
          return ot[this.props.value] === nt[this.props.value]
        } else {
          return ot === nt
        }
      },
      initTags (tags) {
        this.saveTagindex = []
        if (this.isOutOfSize || tags && tags.length > this.maxTagsSize && this.maxTagsSize) {
          this.isOutOfSize = true
          console.log('Array Size Out Of The Max Size!')
          return
        }
        var a = tags
        var b = this.recTags
        for (var i = 0; i < b.length; i++) {
          var temp = b[i]
          for (var j = 0; j < a.length; j++) {
            if (this.otagEqualNtag(temp, a[j])) {
              this.saveTagindex.push(i)
              break
            }
          }
        }
        this.tags = tags.map(t => ({val: t, inp: false}))
      },
      addTags (tag) {
        if (this.readOnly || this.isOutOfSize || this.tags && this.maxTagsSize && this.tags.length > this.maxTagsSize) {
          this.isOutOfSize = true
          this.msgError('当前为只读或数量超出，不可添加')
          return
        }
        var value = tag
        this.tags.push({
          val: value,
          inp: false
        })
        this.compare(value)
        this.$emit('input', this.tags.map(t => t.val))
        this.isOutOfSize = this.tags && this.maxTagsSize && this.tags.length >= this.maxTagsSize
        if (!this.useAddButton) {
          this.inputVisible = !(this.tags && this.maxTagsSize && this.tags.length >= this.maxTagsSize)
        }
        this.showSuggestion = false
        this.nowLi = -1
      },
      compare (tag) {
        var len = this.recTags.length
        for (let i = 0; i < len; i++) {
          if (tag === this.recTags[i].toString()) {
            this.saveTagindex.push(i)
          }
        }
      },
      handleClose (tag, type) {
        this.delsameTagindex(tag.val)
        if (this.tags) {
          this.tags = this.tags.filter(f => !this.otagEqualNtag(f.val, tag.val))
        }
        // this.tags.splice(this.tags.indexOf(tag) - 1, 1)
        this.$emit('input', this.tags.map(t => t.val))
        if (!this.tags.length) {
          this.isOutOfSize = false
          this.showSuggestion = true
          this.showInput()
        } else {
          this.$nextTick(() => {
            this.showSuggestion = type || false
          })
        }
      },
      delsameTagindex (val) {
        var i = this.recTags.indexOf(val)
        var obj = this.saveTagindex
        let len = obj.length
        for (let j = 0; j < len; j++) {
          if (i === this.saveTagindex[j]) {
            this.saveTagindex.splice(j, 1)
          }
        }
      },
      deleteNewTag (event) {
        if (!event.target.value && this.tags.length > 0) {
          this.deleteTag(this.tags.length - 1, true)
        }
      },
      deleteTag (index, type) {
        if ((index || index === 0) && !this.spanVal.length && this.tags.length) {
          this.tags[index].inp = false
          this.handleClose(this.tags[index], type)
        } else if (!(index || index === 0) && !this.queryString.length && this.tags.length) {
          this.handleClose(this.tags[this.tags.length - 1], type)
        }
      },
      showInput () {
        if (this.readOnly || this.isOutOfSize) return
        this.hideAddButton = this.maxTagsSize && this.tags.length >= this.maxTagsSize - 1
        this.inputVisible = true
        this.$nextTick(_ => {
          this.$refs.saveTagInput.focus()
          this.queryString = ''
        })
      },
      showSpaninput (i, index) {
        if (this.tagReadOnly) return
        i.inp = true
        this.spanVal = this.getTagKeyValue(i.val, 'name')
        this.editTag = true
        this.editTagIndex = index
        this.$nextTick(_ => {
          this.$refs.changeValue[0].focus()
        })
      },
      newKeyEnter () {
        if (this.nowLi === -1) {
          this.nowLi = 0
        } else {
          this.nowLi++
        }
        this.handleInputConfirm()
      },
      handleInputConfirm () {
        if (this.readOnly || this.isOutOfSize || this.tags && this.maxTagsSize && this.tags.length >= this.maxTagsSize) {
          this.isOutOfSize = true
          this.msgError('当前为只读或数量超出，不可添加')
          return
        }
        let val = this.queryString ? this.queryString : ''
        if (!val && !this.autoComplete) {
          this.inputVisible = false
          return
        }
        if (this.autoComplete) {
          if (this.suggestionsLists && this.suggestionsLists.length > 0) {
            this.showSuggestion = false
            if (!val && this.nowLi < 0) {
              return
            }
            if (!this.autoComNotNew && val !== this.suggestionsLists[this.nowLi] && this.nowLi < 0) {
            } else {
              // 选中当前被选中的li
              val = this.suggestionsLists[this.nowLi]
            }
          } else if (this.autoComNotNew) {
            this.showSuggestion = false
            return
          } else if (!val) {
            return
          }
        }
        for (let ot of this.tags) {
          if (this.otagEqualNtag(ot.val, val)) {
            this.queryString = null
            this.changePosition(val)
            this.hideAddButton = this.isOutOfSize
            return
          }
        }
        this.addTags(val)
        this.$emit('input', this.tags.map(t => t.val))
        this.queryString = null
      },
      mouseLeaveActive (e) {
        this.isFocus = false
        this.inputVisible = false
        this.showSuggestion = false
        if (!(this.autoComplete && this.autoComNotNew)) {
          if (this.readOnly || this.isOutOfSize || this.tags && this.maxTagsSize && this.tags.length >= this.maxTagsSize) {
            return
          }
          this.handleInputConfirm()
        }
      },
      editKeyEnter (index) {
        if (this.nowLi === -1) {
          this.nowLi = 0
        } else {
          this.nowLi++
        }
        this.changeTag(index)
      },
      changeTag (index) {
        this.editTag = false
        if (!this.tags[index]) return
        this.tags[index].inp = false
        let val = this.spanVal ? this.spanVal : ''
        if (!val && !this.autoComplete) {
          return
        }
        if (this.autoComplete) {
          if (this.suggestionsLists && this.suggestionsLists.length > 0) {
            this.showSuggestion = false
            if (!val && this.nowLi < 0) {
              return
            }
            if (!this.autoComNotNew && val !== this.suggestionsLists[this.nowLi] && this.nowLi < 0) {
            } else {
              // 选中当前被选中的li
              val = this.suggestionsLists[this.nowLi]
            }
          } else if (this.autoComNotNew) {
            return
          } else if (!val) {
            return
          }
        }
        let oldval = this.tags[index].val
        if (!val || (oldval === this.spanVal && oldval === val)) return
        for (let ot of this.tags) {
          if (this.otagEqualNtag(ot.val, val)) {
            this.changePosition(val)
            this.hideAddButton = this.isOutOfSize
            return
          }
        }
        this.delsameTagindex(oldval)
        this.tags[index].val = val
        this.$emit('input', this.tags.map(t => t.val))
        this.editTagIndex = -1
      },
      handleChangeBlur (index) {
        this.showSuggestion = false
        if (this.tags[index]) {
          this.tags[index].inp = false
        }
        if (!(this.autoComplete && this.autoComNotNew)) {
          this.changeTag(index)
        }
      },
      handleFocus () {
        if (this.autoComplete && this.triggerOnFocus) {
          this.nowLi = -1
          this.showSuggestion = true
          this.loadSuggest = true
          this.fetchSuggestions('', this.suggestionsCallBack)
        }
      },
      handleChangeFocus () {
        this.isFocus = true
        if (this.autoComplete) {
          this.nowLi = -1
          this.showSuggestion = true
          this.loadSuggest = true
          this.fetchSuggestions(this.spanVal || '', this.suggestionsCallBack)
        }
      },
      //  li的点击事件
      liClick (index) {
        this.nowLi = index
        // 后续生成标签
        if (this.editTag) {
          this.changeTag(this.editTagIndex)
          this.editTagIndex = -1
        } else {
          this.handleInputConfirm()
        }
        this.showSuggestion = false
      },
      suggestionsCallBack (list) {
        this.suggestionsLists = list
        this.loadSuggest = false
        this.showSuggestion = this.showSuggestion && list.length > 0
      },
      selectDown () {
        this.showSuggestion = !!this.inputVisible || !!this.spanVal
        if (!this.showSuggestion && !this.autoComplete) {
          return
        }
        this.nowLi++
        if (this.nowLi === this.suggestionsLists.length - 1) {
          this.nowLi = -1
        }
        this.scrollToCur()
      },
      selectUp () {
        if (!this.showSuggestion && !this.autoComplete) {
          return
        }
        this.nowLi--
        if (this.nowLi === -2) {
          this.nowLi = this.suggestionsLists.length - 2
        }
        this.scrollToCur()
      },
      changePosition (val) {
        this.inputVisible = false
        // 添加新的tag或编辑旧的tag时，改后的值已经存在改变已经存在的位置；如果时编辑旧的tag，删除原来tag，移动存在的tag
      },
      scrollToCur () {
        if (!this.$refs.suggestionLi) {
          return
        }
        const curEl = this.$refs.suggestionLi[0]
        const scrollParent = curEl.parentElement.parentElement
        this.scrollIntoView(curEl, scrollParent)
      },
      scrollIntoView (el, scrollParent) {
        if (el.scrollIntoViewIfNeeded) {
          el.scrollIntoViewIfNeeded(false)
        } else {
          const diff = el.offsetTop - scrollParent.scrollTop
          if (diff < 0 || diff > scrollParent.offsetHeight - el.offsetHeight) {
            scrollParent = scrollParent || el.parentElement
            scrollParent.scrollTop = el.offsetTop
          }
        }
      }
    }
  }
</script>
<style>
	 .lg-tag-box{
      display: flex;
      position: relative;
      cursor: text;
      & .nextend {
        position: absolute;
        right:1px;
        top:1px;
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        &:hover {
          background: #eee;
        }
      }
    }
   .lg-tag-box > div{
     border-radius: 4px;
     width: 100%;
     border: #d2e1f9 1px solid;
     background: #fff;
     min-height: 30px;
     -webkit-background-size: 14px;
     background-size: 14px;
     padding-bottom: 1px;
   }
   .lg-tag-box .recTags{margin-top: 6px;}
   .lg-tag{
	    background-color: #e4e8f1;
	    display: inline-block;
	    padding: 0 5px;
	    height: 24px;
	    line-height: 22px;
	    font-size: 12px;
	    border-radius: 2px;
	    box-sizing: border-box;
	    border: 1px solid transparent;
	    white-space: nowrap;
	    margin: 3px 0 0 3px;
	    & input{
	      margin: 0 !important;
	      outline: none;
	      text-indent: 1em;
	      width: auto;
	    }
   }
   .lg-tag i{font-size: 1rem;cursor: pointer;}
   .lg-tag-box .recTags .lg-tag{margin: 0 6px 0 0;font-size: 12px;cursor: pointer;}
   .lg-tag-box .recTags .lg-tag i{font-size: 12px;}
   .lg-tag-box button,.lg-tag-box .el-button ,.lg-tag-box input{margin:3px 0 0 3px;}
   .lg-tag-box .add-new-tag{width: 63px;vertical-align: bottom;box-sizing: border-box;outline:none;border: 0px;
     height:24px;}
  .search-result{
    max-height: 120px;
    overflow-y: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2), 0px 0px 6px 0px rgba(0, 0, 0, .24);
  }
</style>
