<template>
  <div>
    <div class="filters mod-border">
      <el-row>
        <el-col :span="20">
          <ul class="menu">
            <li>
              <a class="active">全部</a>
            </li>
            <li>
              <a>分配给我的</a>
            </li>
            <li>
              <a>
                <span v-if="true">
                  <i class="fa fa-sort margin-r4"></i>
                </span>
                <span v-else>
                  <i class="fa fa-sort-up margin-r4"></i>
                  <i class="fa fa-sort-down margin-r4"></i>
                </span>
                                                优先级
              </a>
            </li>
            <li>
              <a>今天要做的</a>
            </li>
            <li>
              <el-popover
                popper-class="vertical"
                ref="taskMore"
                placement="bottom-start"
                width="80"
                trigger="hover"
              >
              <ul class="vertical-menu">
                <li>编辑</li>
              </ul>
            </el-popover>
              <a v-popover:taskMore>更多 <i class="fa fa-angle-down margin-l4"></i></a>
            </li>
          </ul>
        </el-col>
        <el-col :span="4">
          <div class="filters_btn">
            <el-button type="success" size="small">新建任务</el-button>
            <el-button type="text" size="small" class="cog margin-l6"><i class="el-icon-setting"></i></el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="list-con mod-border margin-t margin-b clearfix">
      <task-item></task-item>
      <task-item></task-item>
      <task-item></task-item>
      <task-item></task-item>
    </div>
  </div>
</template>

<script>
import TaskItem from '@/components/items/TaskItem'

export default {
  components: {
    TaskItem
  },
  data () {
    return {
    }
  },
  methods: {
  },
  computed: {
  }
}
</script>

<style>
</style>
