<template>
  <div>
    <el-dialog
      :visible.sync="showTopicForm"
      size="large"
      title="创建任务"
      top="30px"
      :close-on-click-modal="false"
      custom-class="task-dialog">
      <div class="topic-container">
        <div class="topic-main">
          <div class="media-object">
            <div class="media-object-section shrink align-center">
              任务概要：
            </div>
            <div class="media-object-section">
              <div class="header">
                <div class="title">
                  <el-input ref="TopicTitle" v-model="TaskData.title" placeholder="请输入标题"></el-input>
                </div>
              </div>
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section align-center">
              所属小组：
            </div>
            <div class="media-object-section">
              <el-select v-model="group" placeholder="请选择" popper-class="group-select">
                <el-option
                  v-for="item in allGroup"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                  <span><img :src="item.icon" :alt="item.label"/> {{ item.label }}</span>
                </el-option>
              </el-select>
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section align-center">
              截至时间：
            </div>
            <div class="media-object-section">
              <el-date-picker
                v-model="value1"
                type="date"
                placeholder="选择日期"
                :picker-options="pickerOptions0">
              </el-date-picker>
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section shrink align-center">
              任务类型：
            </div>
            <div class="media-object-section">
              <el-select v-model="TaskData.type" placeholder="请选择">
                <el-option
                  v-for="item in TaskType"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                  <span><img :src="'../../static/img/' + item.icon" :alt="item.label"/> {{ item.label }}</span>
                </el-option>
              </el-select>
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section shrink align-center">
              影响版本：
            </div>
            <div class="media-object-section">
              <el-select v-model="TaskData.vention" placeholder="请选择">
                <el-option
                  v-for="item in TaskVetion"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                  <span>{{ item.label }}</span>
                </el-option>
              </el-select>
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section shrink align-center">
              修复版本：
            </div>
            <div class="media-object-section">
              <el-select v-model="TaskData.vention" placeholder="请选择">
                <el-option
                  v-for="item in TaskVetion"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                  <span>{{ item.label }}</span>
                </el-option>
              </el-select>
              <el-tooltip class="item" effect="dark" content="在当前版本修复这个问题" placement="top-start">
                <i class="el-icon-information"></i>
              </el-tooltip>
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section shrink align-center width4em">
              经办人：
            </div>
            <div class="media-object-section">
              <tag
                class="inline-input share-sign "
                v-model="tagModel"
                :recTags="[]"
                :tag-read-only="modelForm !== 'location'"
                :auto-complete="true"
                :fetch-suggestions="markQuerySearch"
                :max-tags-size="modelForm === 'location' ? 1 : 0"
                :trigger-on-focus="true && modelForm !== 'location'"
                :props="objectProps"
                :popoverWidth="530">
                <a slot="nextend" class="nextend">
                  <i class="el-icon-more"></i>
                </a>
              </tag>
            </div>
          </div>
          <div class="media-object">
            <div class="media-object-section shrink align-center width4em">
              报告人：
            </div>
            <div class="media-object-section">
              <tag
                class="inline-input share-sign "
                v-model="tagModel"
                :recTags="[]"
                :tag-read-only="modelForm !== 'location'"
                :auto-complete="true"
                :fetch-suggestions="markQuerySearch"
                :max-tags-size="modelForm === 'location' ? 1 : 0"
                :trigger-on-focus="true && modelForm !== 'location'"
                :props="objectProps"
                :popoverWidth="530">
                <a slot="nextend" class="nextend">
                  <i class="el-icon-more"></i>
                </a>
              </tag>
            </div>
          </div>

          <div class="media-object">
            <div class="media-object-section shrink">
              相关附件：
            </div>
            <div class="media-object-section">
              <el-upload
                action="https://jsonplaceholder.typicode.com/posts/"
                list-type="picture-card"
                :on-preview="handlePictureCardPreview"
                :on-remove="handleRemove">
                <i class="el-icon-plus"></i>
              </el-upload>
              <el-dialog v-model="dialogVisible" size="tiny">
                <img width="100%" :src="dialogImageUrl" alt="">
              </el-dialog>
            </div>
          </div>
          <div class="media-object no-margin">
            <div class="media-object-section shrink width4em">
              描述：
            </div>
            <div class="media-object-section">
              <div class="medium-editor">
                <div class="section" tabindex="-1">
                  <div @paste="uploadClipboardImage" class="desction" ref="topicContent" id="topicContent">
                  </div>
                </div>
                <div class="insertimg-btn">
                  <a><i class="fa fa-image"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <el-upload
          ref="imgUploader"
          class="upload-insertImg"
          :action="action"
          :accept="imgFileType"
          :show-file-list="false"
          :on-success="successUpload">
        </el-upload>
      </div>
      <div slot="footer" class="dialog-footer">
        <el-button type="secondary">取 消</el-button>
        <el-button type="primary">发 布</el-button>
        <!--<el-button :disabled="!publishCcompleted" :icon="!publishCcompleted?'loading':''" type="success" @click="publishBlog">{{uploading?'正在上传':publishCcompleted?'发 布':'正在发布'}}</el-button>-->
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import { wrapUrl } from '@/util'
  import { createMediumEditor } from '@/util/mediumEditor.js'
  import Tag from '@/components/tag/index'
  import mark from '@/views/include/mark'
  export default {
    mixins: [mark],
    data () {
      return {
        dialogImageUrl: '',
        dialogVisible: false,
        showTopicForm: false,
        allGroup: [{
          value: '1111',
          label: '研发中心小组',
          icon: 'http://saas.work.net/file/web/view/id/Z3JvdXAxL00wMC8wMC8wNS9yQklBRFZtZnlxMkFXc1B0QUFBNFV5cWFnNVkyMTcucG5n?process=convert%2Fquality%2C80%2Fresize%2C100x100%3E&sign=8270ff2c691cc02c6cfb30afaa861071'
        }],
        group: '1111',
        TaskVetion: [{
          value: '1',
          label: '1.0'
        }, {
          value: '2',
          label: '1.1'
        }],
        TaskType: [{
          value: 'import',
          label: '改进',
          icon: 'improve.svg'
        }, {
          value: 'defect',
          label: '缺陷',
          icon: 'defect.svg'
        }, {
          value: 'newFunction',
          label: '新功能',
          icon: 'plus.svg'
        }, {
          value: 'task',
          label: '任务',
          icon: 'task.svg'
        }],
        value1: '',
        pickerOptions0: {
          disabledDate (time) {
            return time.getTime() < Date.now() - 8.64e7
          }
        },
        TaskData: {
          title: '',
          type: 'defect',
          vention: '1'
        },
        action: wrapUrl('/zuul/file/web/upload?st=1'),
        imgFileType: 'image/*',
        editor: null,
        editorSection: null,
        tagModel: []
      }
    },
    props: {
      visible: Boolean,
      recommends: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    methods: {
      init () {
        createMediumEditor((MediumEditor, MediumButton) => {
          this.editorSection = document.getElementById('topicContent')
          var editor = new MediumEditor(this.editorSection, {
            imageDragging: true,
            anchorPreview: {
              hideDelay: 500,
              previewValueSelector: 'a'
            },
            placeholder: {
              text: '在这里添加话题的描述...',
              hideOnClick: true
            },
            buttonLabels: 'fontawesome',
            toolbar: {
              buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
            },
            paste: {
              forcePlainText: false,
              cleanPastedHTML: true,
              cleanReplacements: [],
              cleanAttrs: ['class', 'style', 'dir'],
              cleanTags: ['meta'],
              unwrapTags: []
            },
            extensions: {
              'warning': new MediumButton({
                label: '<i class="color-danger fa fa-font"></i>',
                start: '<span class="color-danger">',
                end: '</span>'
              })
            }
          })
          editor.subscribe('editableKeyup', (e) => {
            var keyCode = e.keyCode
            if (keyCode === 38 || keyCode === 40) {
            }
          })
          editor.subscribe('editableClick', (e) => {
            if (e.target.tagName.toLowerCase() === 'img') {
              if (e.target.parentNode.textContent) {
                window.getSelection().removeAllRanges()
                let selection = window.getSelection()
                let range = document.createRange()
                range.selectNode(e.target)
                selection.addRange(range)
              } else {
                this.editor.selectElement(e.target.parentNode)
              }
            }
          })
          editor.subscribe('editableInput', (e) => {
          })
          editor.subscribe('focus', (e) => {
            let parant = e.target
            while (parant && parant.tagName && parant.tagName.toLowerCase() !== 'p') {
              parant = parant.parentNode
            }
          })
          editor.subscribe('blur', (e) => {
          })
          editor.subscribe('editableMouseover', (e) => {
            if (e.target.tagName.toLowerCase() === 'img') {
              let range = document.createRange()
              range.selectNode(e.target)
            }
          })
          this.editor = editor
        })
      },
      uploadClipboardImage (event) {
        let items = (event.clipboardData || event.originalEvent.clipboardData).items
        let files = []
        for (let index = 0; index < items.length; index++) {
          let item = items[index]
          if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
            files.push(item.getAsFile())
          }
        }
        if (files.length > 0) {
          let uploadInner = this.$refs.imgUploader.$refs['upload-inner']
          uploadInner.uploadFiles(files)
          event.preventDefault()
          event.stopPropagation()
        }
      },
      successUpload (res, file, fileList) {
        fileList.splice(fileList.indexOf(file), 1)
        if (file.response.status === 200 && file.response.data.ret === 0) {
          var html = this.imgHtml(res, file)
//          let pasteBlock = document.createDocumentFragment()
//          pasteBlock.appendChild(document.createElement('body'))
//          let fragmentBody = pasteBlock.querySelector('body')
//          fragmentBody.innerHTML = html
//          this.editor.pasteHTML(fragmentBody.innerHTML)
          this.contentFile.image = this.contentFile.image || []
          let selectedParentElement = this.editor.getSelectedParentElement()
          if (selectedParentElement && selectedParentElement.tagName === 'IMG') {
            // todo 处理文件列表，去掉要被替换的图片
            let dataStoreId = selectedParentElement.getAttribute('data-storeId')
            let filterFiles = this.contentFile.image.filter(f => f.response.data.storeId === dataStoreId)
            if (filterFiles && filterFiles.length > 0 && this.contentFile.image.indexOf(filterFiles[0]) !== -1) {
              this.contentFile.image.splice(this.contentFile.image.indexOf(filterFiles[0]), 1, file)
            } else {
              this.contentFile.image.push(file)
            }
          } else {
            // 添加图片到附件列表
            this.contentFile['image'].push(file)
          }
          this.editor.pasteHTML(html)
        } else {
          this.msgError('插入图片失败，请重新操作')
        }
      },
      handleRemove (file, fileList) {
        console.log(file, fileList)
      },
      handlePictureCardPreview (file) {
        this.dialogImageUrl = file.url
        this.dialogVisible = true
      }
    },
    watch: {
      visible (nv) {
        this.showTopicForm = nv
        if (nv && !this.editor) {
          this.$nextTick(function () {
            this.init()
          })
        }
      },
      item (nv) {
        if (nv) {
          let user = nv.user
          if (!user) {
            let userId = this.item && this.item.creator
            if (userId) {
              this.storeNeedData({
                type: 'user',
                dataIds: [userId]
              }).then(users => {
                this.$set(this.item, 'user', users[userId])
              })
            }
          }
        }
        this.initData()
      }
    },
    computed: {
    },
    components: {
      Tag
    },
    beforeDestroy () {
      if (this.editor) {
        this.editor.destroy()
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @import 'css/medium-editor.css';
  .task-dialog{
    width:100%;
    max-width: 656px;
    & .el-date-editor.el-input{
      width: 100%;
    }
  }
  .group-select ul li{
    & img {
      width:20px;
    }
  }
  .medium-editor{
    min-height: 64px;
    padding:6px 8px;
    border:1px solid rgb(191, 201, 217);
    position: relative;
    & .insertimg-btn{
      position: absolute;
      bottom: 2px;
      left: 6px;
    }
    & .section, &.section:focus {
      width: 100%;
      outline: none;
      & .desction{
        margin-bottom: 16px;
        border-radius: 4px;
        outline: none;
      }
    }
  }

  .desc-header {
    display: flex;
    justify-content: space-between;
    & .insertimg-btn{
      font-size: 14px;
    }
  }
  .upload-insertImg{
    height: 0;
  }
</style>
