<template>
  <el-row>
    <el-col :span="24">
      <div class="task-detail">
        <el-breadcrumb separator="/">
          <el-breadcrumb-item :to="{ path: '/' }">研发小组</el-breadcrumb-item>
          <el-breadcrumb-item>图文组合等数据的时候，无法自适应</el-breadcrumb-item>
        </el-breadcrumb>
        <el-row class="margin-t">
          <el-col :span="17">
            <section class="task-header mod-border">
              <div class="tag">
                <el-tag type="gray">标签一</el-tag><el-tag type="gray">标签二</el-tag><el-tag type="gray">标签二</el-tag>
              </div>
              <div class="content">
                <h2 class="h2">在具体的某个模板里上传文件，文件大小有限制，超过10M的无法上传</h2>
              </div>
              <div class="topic-footer">
                <div>
                  <el-button type="success" size="small" @click="taskState = true">开启任务</el-button>
                  <el-button :plain="true" type="success" size="small" @click="taskState = false"><i></i>结束任务</el-button>
                </div>
                <div class="icon-tools margin-l">
                  <span title="编辑" @click="addNewTask = true"><i class="fa fa-edit"></i> 编辑</span>
                  <span title="评论"><i class="fa fa-comment-o"></i><span> 231</span></span>

                  <span><i class="fa fa-check-square-o"></i> 添加子任务</span>
                  <span title="附件"><i class="fa fa-paperclip"></i> 附件</span>
                  <span><i class="fa fa-ellipsis-h"></i></span>
                </div>
              </div>
              <!--<div class="mod1 margin-t">-->
                <!--<div class="mod-header">用户</div>-->
                <!--<div class="mod-con margin-t6">-->
                  <!--<div class="media-object no-margin">-->
                    <!--<div class="media-object-section no-padding">-->
                      <!--<span class="item-label no-margin">经办人：</span><span class="color-blue-light">张栩</span> <a class="color-info margin-l10"><i class="el-icon-edit"></i></a>-->
                    <!--</div>-->
                    <!--<div class="media-object-section">-->
                      <!--<span class="item-label">报告人：</span><span class="color-blue-light">林丹</span> <a class="color-info margin-l10"><i class="el-icon-edit"></i></a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="mod1 margin-t">-->
                <!--<div class="mod-header">问题详情</div>-->
                <!--<div class="mod-con margin-t6 problem-detail">-->
                  <!--<div class="media-object">-->
                    <!--<div class="media-object-section no-padding">-->
                      <!--<span class="item-label no-margin">状态：</span>-->
                      <!--<span class="label" :class="taskState ? 'warning' : 'success'">-->
                    <!--未开始-->
                  <!--</span>-->
                    <!--</div>-->
                    <!--<div class="media-object-section">-->
                      <!--<span class="item-label">类型：</span>-->
                      <!--<span><i :class="taskType"></i> 任务</span>-->
                    <!--</div>-->
                    <!--<div class="media-object-section">-->
                      <!--<span class="item-label">优先级：</span>-->
                      <!--<span><i class="fa fa-arrow-up color-danger"></i> 紧急</span>-->
                    <!--</div>-->
                    <!--<div class="media-object-section">-->
                      <!--<span class="item-label">截至时间：</span>-->
                      <!--<span> 01-06</span>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="media-object no-margin">-->
                    <!--<div class="media-object-section">-->
                      <!--<span class="item-label no-margin">模块：</span>-->
                      <!--<span> <a class="color-info">内容管理</a></span>-->
                    <!--</div>-->
                    <!--<div class="media-object-section">-->
                      <!--<span class="item-label">影响版本：</span>-->
                      <!--<span> 1.2</span>-->
                    <!--</div>-->
                    <!--<div class="media-object-section">-->
                      <!--<span class="item-label">修复版本：</span>-->
                      <!--<span> 1.4</span>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--&lt;!&ndash;<el-dropdown @command="handleType" trigger="click">&ndash;&gt;-->
                  <!--&lt;!&ndash;<a><i :class="taskType"></i> 任务</a>&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-menu slot="dropdown">&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-item command="a"><i class="fa fa-bookmark color-info"></i> 任务</el-dropdown-item>&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-item command="b"><i class="fa fa-bookmark color-success"></i> 改进</el-dropdown-item>&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-item command="c"><i class="fa fa-bookmark color-danger"></i> Bug</el-dropdown-item>&ndash;&gt;-->
                  <!--&lt;!&ndash;</el-dropdown-menu>&ndash;&gt;-->
                  <!--&lt;!&ndash;</el-dropdown>&ndash;&gt;-->

                  <!--&lt;!&ndash;<el-dropdown @command="handlePriority" trigger="click">&ndash;&gt;-->
                  <!--&lt;!&ndash;<a class="el-dropdown-link">&ndash;&gt;-->
                  <!--&lt;!&ndash;<i class="fa fa-arrow-up color-danger"></i> 紧急 <i class="el-icon-arrow-down el-icon&#45;&#45;right"></i>&ndash;&gt;-->
                  <!--&lt;!&ndash;</a>&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-menu slot="dropdown">&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-item command="a"><i class="fa fa-arrow-up color-danger"></i> 紧急</el-dropdown-item>&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-item command="b"><i class="fa fa-arrow-circle-up color-danger"></i> 主要</el-dropdown-item>&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-item command="c"><i class="fa fa-arrow-circle-down color-success"></i> 次要</el-dropdown-item>&ndash;&gt;-->
                  <!--&lt;!&ndash;<el-dropdown-item command="d"><i class="fa fa-arrow-down color-success"></i> 不重要的</el-dropdown-item>&ndash;&gt;-->
                  <!--&lt;!&ndash;</el-dropdown-menu>&ndash;&gt;-->
                  <!--&lt;!&ndash;</el-dropdown>&ndash;&gt;-->

                <!--</div>-->
              <!--</div>-->
              <!---->
              <div class="mod1 margin-t">
                <div class="mod-header">描述</div>
                <div class="mod-con margin-t6">
                  <p class="describe no-margin">117000008810491企业都只申请了通关单，却都命中了“转施检提示（出证）”这条布控结论，老师已经删除布控走后续，麻烦查下问题</p>
                </div>
              </div>
              <div class="mod1 margin-t">
                <div class="mod-header">附件</div>
                <div class="mod-con margin-t6">
                  <div class="accessory-list row clearfix large-up-6">
                    <div class="columns">
                      <div class="img-wrapper">
                        <img src="../../assets/img/1.jpg" alt="">
                      </div>
                      <div class="title">
                        <a>aaaa.png</a>
                      </div>
                    </div>
                    <div class="columns">
                      <div class="img-wrapper">
                        <img src="http://saas.work.net:8800/group1/M00/00/11/rBIACloT7tqAUtppAADmAEgXOp4434_255828304_1.png?token=8c6ce12ec814440e94af2c0a17fe05e0&ts=1515034748&et=0" alt="">
                      </div>
                      <div class="title">
                        <a>修改文档.doc</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mod1 margin-t">
                <div class="mod-header">
                  子任务
                </div>
                <div class="mod-con margin-t6">
                  <ul class="subtask-list">
                    <li>
                      <div class="content">
                        <el-checkbox v-model="checked"></el-checkbox>
                        <a>前端定制，考虑布局里分割线是否需要</a>
                      </div>
                      <div class="icon-tools">
                        <span @click="subTaskForm"><i class="el-icon-edit"></i></span>
                        <span><i class="el-icon-delete"></i></span>
                      </div>
                    </li>
                    <li>
                      <div class="content">
                        <el-checkbox v-model="checked"></el-checkbox>
                        <a>前端定制，考虑布局里分割线是否需要</a>
                      </div>
                      <div class="icon-tools">
                        <span @click="subTaskForm"><i class="el-icon-edit"></i></span>
                        <span><i class="el-icon-delete"></i></span>
                      </div>
                    </li>
                    <li>
                      <div class="content">
                        <el-checkbox v-model="checked"></el-checkbox>
                        <a>前端定制，考虑布局里分割线是否需要</a>
                      </div>
                      <div class="icon-tools">
                        <span @click="subTaskForm"><i class="el-icon-edit"></i></span>
                        <span><i class="el-icon-delete"></i></span>
                      </div>
                    </li>
                    <li>
                      <a @click="subTaskForm"><i class="el-icon-plus"></i> 添加子任务</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mod1 margin-t">
                <div class="mod-header">
                  评论（0）
                </div>
                <div class="mod-con margin-t6">
                </div>
              </div>
            </section>
          </el-col>
          <el-col :span="7">
            <div class="custom-mod mod-border">
              <aside class="mod1">
                <h3>用户</h3>
                <div class="media-object margin-b10">
                  <div class="media-object-section no-padding">
                    <span class="item-label no-margin">经办人：</span>
                  </div>
                  <div class="media-object-section">
                    <span class="color-blue-light">张栩</span> <a class="color-info margin-l10" @click="selectUserDialogVisible = true"><i class="el-icon-edit"></i></a>
                  </div>
                </div>
                <div class="media-object no-margin">
                  <div class="media-object-section no-padding">
                    <span class="item-label">报告人：</span>
                  </div>
                  <div class="media-object-section">
                    <span class="color-blue-light">林丹</span> <a class="color-info margin-l10" @click="selectUserDialogVisible = true"><i class="el-icon-edit"></i></a>
                  </div>
                </div>
              </aside>
              <aside>
                <h3>问题详情</h3>
                <div>
                  <span class="item-label no-margin">状态：</span>
                  <span class="label" :class="taskState ? 'warning' : 'success'">
                      未开始
                  </span>
                </div>
                <div class="margin-t10">
                  <span class="item-label">类型：</span>
                  <span><i :class="taskType"></i> 任务</span>
                </div>
                <div class="margin-t10">
                  <span class="item-label">优先级：</span>
                  <span><i class="fa fa-arrow-up color-danger"></i> 紧急</span>
                </div>
                <div class="margin-t10">
                  <span class="item-label">截至时间：</span>
                  <span> 01-06</span>
                </div>
                <div class="margin-t10">
                  <div class="media-object-section">
                    <span class="item-label no-margin">模块：</span>
                    <span> <a class="color-info">内容管理</a></span>
                  </div>
                </div>
                <div class="margin-t10">
                  <span class="item-label">影响版本：</span>
                  <span> 1.2</span>
                </div>
                <div class="margin-t10">
                  <span class="item-label">修复版本：</span>
                  <span> 1.4</span>
                </div>
              </aside>
            </div>
          </el-col>
        </el-row>
      </div>
      <task-form :visible="addNewTask"></task-form>
      <select-user
        :dialogVisible.sync="selectUserDialogVisible"
        :dialogTitle="selectUserDialogTitle"
        actionBtnTitle="确认"
        :getValue="getGroupUserRelations"
        :value="[]"
        :action="addGroupMembersAction"
      ></select-user>
    </el-col>
  </el-row>
</template>
<script>
  import { createMediumEditor } from '@/util/mediumEditor.js'
  import { rest } from '@/util'
  import SelectUser from '@/components/selectusers/SelectUser'
  import TaskForm from './TaskForm'
  export default {
    data () {
      return {
        taskState: false,
        checked: false,
        addDesc: false,
        addNewTask: false,
        pickerOptions0: {
          disabledDate (time) {
            return time.getTime() < Date.now() - 8.64e7
          }
        },
        endTime: '',
        editor: null,
        editorSection: null,
        taskForm: {
          desc: ''
        },
        taskType: 'fa fa-bookmark color-info',
        subTaskFormVisible: false,
        addGroupMembersAction: (selectIds) => {
          let request = rest.create('/sns/groupMembers/groups/' + this.currGroupId + '/members', selectIds)
          return request.then((data) => {
            if (data === 0) {
              this.msgError('新增成员失败，请稍候重试!')
            } else if (data === 1) {
              this.msgSuccess('新增成员成功！')
              this.selectUserDialogVisible = false
            } else if (data === 2) {
              this.msgSuccess('已发送加入小组的请求，请等待小组管理员审核！')
              this.selectUserDialogVisible = false
            } else {
              this.msgError('新增成员失败，请稍候重试')
              console.log('新增成员异常，未知的返回状态码！', status)
            }
            return data
          }).catch((error) => {
            this.msgError('新增成员失败，请稍候重试!')
            console.log('新增成员失败', error)
            return Promise.reject(error)
          })
        },
        getGroupUserRelations: () => {
          return rest.get('/sns/groupMembers/groupUserRelations', {groupId: this.currGroupId}, true).then((data) => {
            return data
          }).catch((error) => {
            return Promise.reject(error)
          })
        },
        selectUserDialogVisible: false,
        selectUserDialogTitle: '人员选择'
      }
    },
    components: {
      TaskForm,
      SelectUser
    },
    methods: {
      edit () {
        this.addDesc = true
        if (!this.editor) {
          this.$nextTick(function () {
            this.init()
          })
        }
      },
      init () {
        createMediumEditor((MediumEditor, MediumButton) => {
          this.editorSection = document.querySelector('.editor')
          var editor = new MediumEditor(this.editorSection, {
            imageDragging: true,
            anchorPreview: {
              hideDelay: 500,
              previewValueSelector: 'a'
            },
            placeholder: {
              text: '在这里分享你的正文...',
              hideOnClick: true
            },
            buttonLabels: 'fontawesome',
            toolbar: {
              buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
            },
            paste: {
              forcePlainText: false,
              cleanPastedHTML: false,
              cleanReplacements: [],
              cleanAttrs: ['class', 'style', 'dir'],
              cleanTags: ['meta'],
              unwrapTags: []
            },
            extensions: {
              'warning': new MediumButton({
                label: '<i class="color-danger fa fa-font"></i>',
                start: '<span class="color-danger">',
                end: '</span>'
              })
            }
          })
          this.editor = editor
          editor.subscribe('editableKeyup', (e) => {
            var span = document.createElement('span')
            span.innerText = ' '
            this.editor.addElements(span)
          })
          editor.subscribe('editableClick', (e) => {
          })
          editor.subscribe('editableBlur', (e) => {
            this.taskForm.desc = this.editor.getContent().replace(/<p><br><\/p>/, '')
            if (this.taskForm.desc.length === 0) {
              this.addDesc = false
            }
          })
        })
      },
      handleType (command) {
      },
      handlePriority (command) {},
      subTaskForm () {
        this.subTaskFormVisible = true
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @import 'css/medium-editor.css';
  .task-header{
    background: #fff;
    padding:20px 24px 20px;
    & .content{
      width:600px;
    }
  }
  .end-time-pick.el-input{
    width:80px;
    & .el-input__icon + .el-input__inner {
      padding:0 6px;
    }
    & .el-input__icon{
      width:20px;
    }
  }
  .icon-tools{
    display: flex;
    & > span {
      color: var(--color-info);
      padding:2px 10px;
      cursor: pointer;
      &:hover{
        background: #efefef;
      }
    }
  }
  .task-detail {
    padding-top:1rem;
    & .topic-footer{
      display: flex;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ddd;
      justify-content: space-between;
    }
    & .describe{
      color: var(--color-secondary);
      min-height: 50px;
    }
  }
  .task-header {
    position: relative;
    & .state {
      position: absolute;
      left: 0;
      top: -2px;
    }
  }
  .h2{
    display: inline-block;
  }
  .mod1 {
    border-bottom: 1px dashed #eaeaea ;
    padding-bottom: 1rem;
  }
  .mod1 .mod-header{
    font-weight: bold;
  }
  .mod1 .item-label{
    color: var(--color-secondary);
  }
  .problem-detail .media-object-section{
    width:25%;
    &:first-child{
      padding-right:0;
    }
  }
  .accessory-list .img-wrapper{
    display: flex;
    align-items: center;
    height:133px;
    background: #efefef;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    & img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
  .accessory-list {
    margin: 0 -0.4rem;
    & .columns {
      padding:0 0.4rem;
      cursor: pointer;
    }
    & .title {
      text-align: center;
      padding:0.4rem 0;
    }
  }
  .subtask-list li{
    padding:6px;
    position: relative;
    display: flex;
    justify-content: space-between;
    & .content {
      width:calc(100% - 100px);
    }
    &:hover {
      background: #efefef;
    }
  }
  .tag {
    margin-bottom: 16px;
    &  > .el-tag{
      margin-right: 10px;
    }
  }
</style>

