<template>
  <ul class="menuBox scrollCss">
    <li>
      <span :class="{active: activeName == 'subscribe'}" @click="active('subscribe')">订阅</span>
    </li>
    <li>
      <span :class="{active: activeName == 'place'}" @click="active('place')">地点</span>
    </li>
    <li>
      <span :class="{active: activeName == 'plate'}" @click="active('plate')">板块</span>
    </li>
  </ul>
</template>
<script>
  export default {
    components: {
    },
    props: {
    },
    data () {
      return {
        activeName: ''
      }
    },
    computed: {
    },
    mounted () {
    },
    watch: {
    },
    methods: {
      active (type) {
        this.$emit('show', type)
        this.activeName = type
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .menuBox{
    margin: 0;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    /*margin-bottom: 42px;*/
    & >li{
      font-weight: bold;
      cursor: pointer;
      list-style: none;
      & >span{
        padding: 5px 0 5px 20px;
        display: block;
      }
      & >a{
        padding: 5px 0 5px 20px;
        display: block;
      }
      & :hover,& .active{
        background-color: var(--background-color);
      }
    }
  }
  @media print, screen and (min-width: 640px){
    .menuBox{
      min-height: 65vh;
    }
  }
  @media only screen and (max-width: 768px) and (min-width: 640px){
    .menuBox{
      min-height: calc(100vh - 93px);
      max-height: calc(100vh - 93px);
    }
  }
</style>
