<template>
  <div class="configure-select scrollCss">
    <div class="add-place">
      <div class="select-title">
        <span>增加地点</span>
      </div>
      <div class="search-place">
        <div class="el-row">
          <div class="el-col el-col-24">
            <!--<el-input-->
            <!--placeholder="请选择地点"-->
            <!--icon="search"-->
            <!--v-model="findPlace"-->
            <!--size="small"-->
            <!--:on-icon-click="handleIconClick">-->
            <!--</el-input>-->
            <div class="gaodei-map">
              <div class="amap-page-container">
                <amap-search-box
                  placeholder="在哪儿？"
                  class="search-box"
                  :search-option="searchOption"
                  ref="searchAmap"
                  :on-search-result="onSearchResult"
                ></amap-search-box>
                <!--<div class="toolbar">
                  position: [{{ lng }}, {{ lat }}] address: {{ address }}
                </div>-->
                <div class="" v-show="mapSearching">
                  <amap
                    vid="amapDemo"
                    :center="mapCenter"
                    :zoom="12"
                    :events="events"
                    class="amap-demo">
                    <amap-marker v-for="(marker, index) in markers" :key="index" :position="marker" ></amap-marker>
                  </amap>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="el-row">-->
        <!--<div class="el-col el-col-24  margin-t10">-->
        <!--<el-button type="primary" size="small" @click="dialogVisible = false">选 择</el-button>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <div class="my-place">
      <div class="select-title">
        <span>我的地点</span>
      </div>
      <div class="selected-item" v-for="place in placeConfig" :key="place">
        <div class='selected-wrap'>
          <div>
            <div class='selected-box'>
              <span><i class="fa fa-bars" aria-hidden="true"></i></span>
              <div class="city-box">
                <span>{{place}}</span>
                <a @click="delplace(place)">删除</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerArea">
      <el-button size="small" @click="cancelDialog">关 闭</el-button>
      <el-button type="primary" size="small" @click="dialogVisible = false">应 用</el-button>
      <el-button type="primary" size="small">保存并关闭</el-button>
    </div>
  </div>
</template>
<script>
  import { Amap, AmapMarker, AmapSearchBox } from '@/components/amap'
  export default {
    components: {
      Amap,
      AmapMarker,
      AmapSearchBox
    },
    props: {
    },
    data () {
      let self = this
      return {
        placeConfig: [],
        findPlace: '',
        list: [],
//      地图
        markers: [],
        mapCenter: [119.237626, 26.05766],
        mapSearching: false,
        searchOption: {
          city: '世界'
        },
        address: '',
        lng: 0,
        lat: 0,
        events: {
          click (e) {
//            console.log('dddd')
            let { lng, lat } = e.lnglat
            self.lng = lng
            self.lat = lat
            self.mapSearching = false
            // 这里通过高德 SDK 完成。
//          console.log(window.AMap)
            var geocoder = new window.AMap.Geocoder({
              radius: 1000,
              extensions: 'all'
            })
            geocoder.getAddress([lng, lat], function (status, result) {
              if (status === 'complete' && result.info === 'OK') {
                if (result && result.regeocode) {
                  self.address = result.regeocode.formattedAddress
                  self.$nextTick()
                }
              }
            })
          }
        }
      }
    },
    computed: {
      getCurrUser () {
        return this.$store.state.news.user
      }
    },
    mounted () {
      if (this.getCurrUser && this.getCurrUser.info && this.getCurrUser.info.placeConfig) {
        this.placeConfig = JSON.parse(this.getCurrUser.info.keyConfig)
      }
      this.list = this.states.map(item => {
        return { value: item, label: item }
      })
    },
    watch: {
      address (nv, ov) {
        this.$refs.searchAmap.keyword = nv
      }
    },
    methods: {
      handleIconClick (ev) {
//        console.log(ev)
      },
      delplace (place) {
        this.placeConfig.filter(p => p !== place)
      },
      cancelDialog () {
        this.$emit('closeDialog', false)
      },
      onSearchResult (pois) {
        let latSum = 0
        let lngSum = 0
        this.mapSearching = true
        if (pois.length > 0) {
          pois.forEach(poi => {
            let {lng, lat} = poi
            lngSum += lng
            latSum += lat
            this.markers = []
            this.markers.push([poi.lng, poi.lat])
          })
          let center = {
            lng: lngSum / pois.length,
            lat: latSum / pois.length
          }
          this.mapCenter = [center.lng, center.lat]
        }
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .add-place{
      margin-bottom: 16px;
      & .search-place{
        text-align: right;
        margin: 16px 0 0;
        & .amap-page-container{
            line-height: initial;
            & .search-box{
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background-color: #fff;
              background-image: none;
              border-radius: 4px;
              border: 1px solid rgb(191, 201, 217);
              box-sizing: border-box;
              color: rgb(31, 43, 61);
              display: inline-block;
              font-size: inherit;
              height: 36px;
              line-height: 1;
              outline: none;
              padding: 3px 10px;
              transition: border-color .2s cubic-bezier(.645,.045,.355,1);
              width: 100%;
              box-shadow: none;
              & .search-btn{
                color: #97a8be;
              }
              & .search-tips{
                & li{
                  text-align: left;
                }
              }
            }
          }
        & .amap-demo {
          height: 200px;
          & .amap-copyright, & .amap-logo{
            z-index: 1;
          }
        }
      }
  }
</style>
