<template>
  <div class="configure-select scrollCss">
    <div v-for="site in getSiteConfig" :key="site.caId">
      <div class="select-title">
        <span>{{site.caName}}</span>
        <button type="button" class="el-button float-right el-button--text">
          <span>全选</span>
        </button>
      </div>
      <div class="img-list img_list margin-t margin-b clearfix large-up-8 medium-up-5">
        <div v-for="column in site.children" :key="column.caId" class="column flex-center" @click="clickItem(site, column)">
          <a :class="{active: isActive(site, column)}">
            <span>{{column.caName}}</span>
            <i class="fa fa-check" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="footerArea">
      <el-button size="small" @click="cancelDialog">关 闭</el-button>
      <el-button  type="primary" size="small" @click="commit">应 用</el-button>
      <el-button  type="primary" size="small" @click="commitAndColse">保存并关闭</el-button>
    </div>
  </div>
</template>
<script>
  import { currUser } from '@/store/modules/helper'
  import { types, personalConfig } from '@/store/modules/news'
  export default {
    components: {
    },
    props: {
      personal: Boolean
    },
    data () {
      return {
        subscribe: [],
        columns: [],
        activeIds: []
      }
    },
    computed: {
      currUser,
      personalConfig,
      getSiteConfig () {
        return this.$store.state.news.pConfig
      },
      getConfig () {
        return this.$store.state.news.config
      },
      getCurrUser () {
        return this.$store.state.news.user
      }
    },
    mounted () {
      this.getPConfig(this.personalConfig)
    },
    watch: {
      personalConfig (nv) {
        if (nv !== null) {
          console.log(nv)
          this.getPConfig()
        }
      }
    },
    methods: {
      cancelDialog () {
        this.$emit('closeDialog', false)
      },
      getPConfig () {
        const param = {}
        param.personal = this.personal
        param.pid = 't' + this.currUser.extInfoObject.tid
        param.isAdmin = this.currUser.extInfoObject.isAdmin
        param.uid = this.currUser.id
        this.$store.dispatch(types.NEWS_GET_SITE_MSG, param).then((res) => {
          this.activeIds = this.getConfig || []
        })
      },
      commit () {
        if (this.getCurrUser) {
          var user = {}
          user.config = this.activeIds
          user.uid = this.currUser.id
          if (!this.personal) {
            user.uid = 't' + this.currUser.extInfoObject.tid
            user.op = this.currUser
          }
          this.$store.dispatch(types.NEWS_SAVE_USER_INFO, user).then((res) => {
            if (res.indexOf('fail') !== -1) {
              this.msgError('配置失败' + res.bodyText)
            } else {
              this.msgSuccess('配置成功')
              if (this.personal) {
                this.$store.dispatch(types.NEWS_GET_USER_INFO, user.uid)
              }
            }
          }, (res) => {
            this.msgError('配置失败' + res.bodyText)
          })
        }
      },
      isActive (site, column) {
        if (this.activeIds.length === 0) {
          return false
        }
        let aids = this.activeIds.filter(f => f.caId === site.caId)
        return aids.length > 0 && aids[0].children.filter(f => f.caId === column.caId).length > 0
      },
      listCatalog (index) {
        return this.getConfig['catalogTree'][index].children
      },
      commitAndColse () {
        this.commit()
        this.cancelDialog()
      },
      clickItem (site, cata) {
        let aids = this.activeIds.length > 0 ? this.activeIds.filter(f => f.caId === site.caId) : []
        let catas = aids.length > 0 ? aids[0] : {caId: site.caId, caName: site.caName, children: []}
        console.log('~~~~~', catas.children)
        if (catas.children.includes(cata)) {
          catas.children = catas.children.filter(f => f.caId !== cata.caId)
        } else {
          catas.children.push(cata)
        }
        if (aids.length === 0) {
          this.activeIds.push(catas)
        }
      }
    },
    created () {
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .configure-select{
    & .img-list{
      & .flex-center{
        & a{
          height: 30px;
          background-color: var(--color-white);
          border: 1px solid var(--background-color);
          font-size: 12px;
          transition: font-size 0.3s;
          display: flex;
          justify-content: center;
          align-items: center;
          box-sizing: border-box;
          &:hover{
            background-color: color(var(--color-white) shade(10%));
          }
          & i{
            display: none;
          }
        }
        & .active{
          background-color: rgba(0,0,0,.13);
          font-weight: bold;
          & i{
            display: block;
            position: absolute;
            font-size: 16px;
            color: var(--color-success);
            right: 8px;
          }
        }
      }
    }
  }
</style>
