<template>
  <div class="configure-select scrollCss">
    <div class="add-keyword">
      <div class="select-title">
        <span>增加关键字</span>
      </div>
      <div class="search-keyword">
        <div class="el-row">
          <div class="el-col el-col-12">
            <el-input
                size="small"
                placeholder="请输入关键字"
                v-model="keyword">
              </el-input>
          </div>
          <div class="el-col el-col-12">
            <el-input
                size="small"
                placeholder="请输入板块标题"
                v-model="kwName">
              </el-input>
          </div>
        </div>
        <div class="el-row tip">
          <div class="el-col el-col-12 margin-t10">{{tip1}}</div>
          <div class="el-col el-col-12 margin-t10">{{tip2}}</div>
        </div>
        <div class="el-row">
          <div class="el-col el-col-24 margin-t10">
            <span class="keyword-describe">（填入需要搜索的关键字及其对应的版块名称）</span>
            <el-button type="primary" :disabled="uncommitable" size="small" @click="addKeyWord">添加板块</el-button>
          </div>
        </div>
      </div>
    </div>
    <div class="selected-keyword">
      <div class="select-title">
        <span>现有板块</span>
      </div>
      <div class="selected-item">
        <div class="selected-wrap" v-if="revising">
          <div class="keyword-change-box">
            <div class="search-keyword">
              <div class="el-row">
                <div class="el-col el-col-12">
                  <el-input
                    size="small"
                    placeholder="请输入关键字"
                    v-bind:value="reviseKeyword">
                  </el-input>
                </div>
                <div class="el-col el-col-12">
                  <el-input
                    size="small"
                    placeholder="请输入板块标题"
                    v-bind:value="revisePlate">
                  </el-input>
                </div>
              </div>
              <div class="margin-t10">
                <el-button type="primary" size="small" @click="cancel">取 消</el-button>
                <el-button type="primary" size="small">保 存</el-button>
              </div>
            </div>
          </div>
        </div>
        <div class='selected-wrap' v-for="(item, index) in reviseKeyword" :key="item">
          <div>
            <div class='selected-box'>
              <span><i class="fa fa-bars" aria-hidden="true" v-if="!revising"></i></span>
              <div class="keyword-box">
                <span>{{item}}</span>
                <span>{{revisePlate[index]}}</span>
                <a @click="changekw(index)">修改</a>
                <a @click="delkw(index)">删除</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerArea">
      <el-button size="small" @click="cancelDialog">关 闭</el-button>
      <el-button  type="primary" size="small" @click="commit">应 用</el-button>
      <el-button  type="primary" size="small" @click="commitAndColse">保存并关闭</el-button>
    </div>
  </div>
</template>
<script>
  import { types } from '@/store/modules/news'

  export default {
    components: {
    },
    props: {
    },
    data () {
      return {
        platetitle: '',
        keyword: '',
        kwName: '',
        tip1: '',
        tip2: '',
        uncommitable: true,
        reviseKeyword: [],
        revisePlate: [],
        revising: false
      }
    },
    computed: {
      getCurrUser () {
        return this.$store.state.news.user
      }
    },
    mounted () {
      if (this.getCurrUser && this.getCurrUser.info && this.getCurrUser.info.keyConfig) {
        const keyConfig = JSON.parse(this.getCurrUser.info.keyConfig)
        for (var key in keyConfig) {
          this.reviseKeyword.push(key)
          this.revisePlate.push(keyConfig[key])
        }
      }
    },
    watch: {
      keyword (nv, ov) {
        if (ov === this.kwName) {
          this.kwName = nv
        }
        if (nv && this.kwName && !this.reviseKeyword.includes(nv) && !this.revisePlate.includes(this.kwName)) {
          this.uncommitable = false
        } else {
          this.uncommitable = true
        }
        if (this.reviseKeyword.includes(nv)) {
          this.tip1 = '这是重复的查询。您已经有一个相关的版块'
        } else {
          this.tip1 = ''
        }
      },
      kwName (nv, ov) {
        if (nv && this.keyword && !this.reviseKeyword.includes(this.keyword) && !this.revisePlate.includes(nv)) {
          this.uncommitable = false
        } else {
          this.uncommitable = true
        }
        if (this.revisePlate.includes(nv)) {
          this.tip2 = '请输入一个唯一的标题'
        } else {
          this.tip2 = ''
        }
      }
    },
    methods: {
      handleIconClick (ev) {
//        console.log(ev)
      },
      revise () {
        this.revising = true
      },
      cancel () {
        this.revising = false
      },
      changekw (index) {
        this.keyword = this.reviseKeyword[index]
        this.kwName = this.revisePlate[index]
      },
      delkw (index) {
        const end = index > 0 ? index : index + 1
        this.reviseKeyword.splice(index, end)
        this.revisePlate.splice(index, end)
      },
      commitAndColse () {
        this.commit()
        this.cancelDialog()
      },
      commit () {
        if (this.getCurrUser && this.reviseKeyword.length >= 0) {
          var user = {}
          user.uid = this.getCurrUser.id
          var keywords = {}
          for (var index in this.reviseKeyword) {
            keywords[this.reviseKeyword[index]] = this.revisePlate[index]
          }
          user.keyConfig = keywords
          this.$store.dispatch(types.NEWS_SAVE_USER_INFO, user).then((res) => {
            if (res.indexOf('fail') !== -1) {
              this.msgError('配置失败' + res.bodyText)
            } else {
              this.msgSuccess('配置成功')
              this.$store.dispatch(types.NEWS_GET_USER_INFO, user.uid)
            }
          }, (res) => {
            this.msgError('配置失败' + res.bodyText)
          })
        }
      },
      addKeyWord () {
        this.reviseKeyword.push(this.keyword)
        this.revisePlate.push(this.kwName)
        this.keyword = ''
        this.kwName = ''
      },
      cancelDialog () {
        this.$emit('closeDialog', false)
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .configure-select{
    & .add-keyword{
      margin-bottom: 16px;
    }
    & .search-keyword{
      margin-top: 16px;
      text-align: right;
      & .el-form-item{
        margin: 0;
      }
      & .tip{
        text-align: left;
        color: var(--color-danger);
        & div{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
      & .keyword-describe{
        float: left;
        color: var(--color-secondary);
      }
    }
    & .selected-keyword{
      /*& .selected-wrap{*/
        /*margin: 16px 0 0;*/
        /*& > div{*/
          /*display: block;*/
          /*outline: none;*/
          /*overflow: hidden;*/
          /*position: relative;*/
          /*border: 1px solid #e0e0e0;*/
          /*margin-bottom: 4px;*/
          /*border-radius: 2px;*/
          /*background-color: #fff;*/
          /*cursor: pointer;*/
          /*& .selected-box{*/
            /*display: flex;*/
            /*!*justify-content: center;*!*/
            /*align-items: center;*/
            /*padding: 8px 10px;*/
            /*& i{*/
              /*color: var(--color-grey);*/
              /*position: absolute;*/
            /*}*/
            /*& .keyword-box{*/
              /*flex: 0 1 100%;*/
              /*align-self: center;*/
              /*margin-left: 20px;*/
              /*& >span{*/
                /*display: inline-block;*/
                /*width: 33.33%;*/
                /*text-overflow: ellipsis;*/
                /*overflow: hidden;*/
                /*white-space: nowrap;*/
              /*}*/
              /*& a{*/
                /*float: right;*/
                /*color: var(--color-grey);*/
                /*margin-left: 10px;*/
                /*font-size: 12px;*/
                /*position: relative;*/
                /*top: 2px;*/
              /*}*/
              /*& a:hover{*/
                /*color: var(--color-black);*/
              /*}*/
            /*}*/
          /*}*/
          /*& .keyword-change-box{*/
            /*padding: 0 16px 16px;*/
            /*-webkit-border-radius: 0 0 2px 2px;*/
            /*border-radius: 0 0 2px 2px;*/
            /*border: 1px solid #e0e0e0;*/
            /*border-top-style: none;*/
          /*}*/
          /*& :hover{*/
            /*& i{*/
              /*color: var(--color-black);*/
            /*}*/
          /*}*/
        /*}*/
        /*& .revise{*/
          /*& .selected-box{*/
            /*background-color: #f5f5f5;*/
          /*}*/
        /*}*/
      /*}*/
    }
  }
</style>
