<template>
  <el-dialog
    class="configureDialog"
    :visible.sync="dialogVisible"
    size="small"
    @close="isclose"
    title="企业配置">
    <div class="row clearfix">
      <div class="medium-5 small-24 column">
        <div class="configureLeft">
          <configure-catalog @show="openSub"></configure-catalog>
        </div>
      </div>
      <div class=" medium-19 small-24 column">
        <div class="configureRight">
          <configure-subscribe :personal="personal" @closeDialog="dialogClose" v-show="index===1"></configure-subscribe>
          <!--<configure-place @closeDialog="dialogClose" v-show="index===2"></configure-place>-->
          <configure-keyword @closeDialog="dialogClose" v-show="index===3"></configure-keyword>
        </div>
      </div>
    </div>
    <!--<div slot="footer" class="footerArea">-->
      <!--<el-button size="small" @click="dialogVisible = false">取消</el-button>-->
      <!--<el-button type="primary" size="small" @click="dialogVisible = false">确 定</el-button>-->
    <!--</div>-->
  </el-dialog>
</template>
<script>
  import ConfigureCatalog from './ConfigureCatalog'
  import ConfigureSubscribe from './ConfigureSubscribe'
  import ConfigurePlace from './ConfigurePlace'
  import ConfigureKeyword from './ConfigureKeyword'
  export default {
    components: {
      ConfigureCatalog,
      ConfigureSubscribe,
      ConfigurePlace,
      ConfigureKeyword
    },
    computed: {
    },
    data () {
      return {
        dialogVisible: false,
        index: 1
      }
    },
    props: {
      visible: Boolean,
      personal: Boolean
    },
    watch: {
      visible () {
        this.dialogVisible = this.visible
      }
    },
    methods: {
      dialogClose () {
        this.dialogVisible = false
      },
      isclose () {
        this.$emit('isClose')
      },
      openSub (type) {
        if (type === 'subscribe') {
          this.index = 1
        } else if (type === 'place') {
          this.index = 2
        } else if (type === 'plate') {
          this.index = 3
        }
      }
    },
    mounted () {
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .configureDialog {
    & .el-dialog__header{
      padding: 12px 16px 10px 20px;
      border-bottom: 1px solid color(var(--color-primary) tint(60%));
      background-color: var(--body-bg-color);
      & .el-dialog__title{
        font-size: 14px;
      }
      & .el-dialog__headerbtn{
        position: relative;
        top: 3px;
      }
    }
    & .el-dialog__body {
      padding: 16px 0;
      position: relative;
      & .configureLeft{
        height: 100%;
        & .menuBox{
          margin-bottom: 42px;
        }
      }
      & .configureRight{
        padding: 0 16px;
        height: 100%;
        border-left: 1px solid color(var(--background-color) shade(10%));
      }
    }
    & .el-dialog__footer{
      border-top: 1px solid color(var(--color-primary) tint(70%));
      background-color: var(--body-bg-color);
      padding: 0;
      & .footerArea{
        padding: 8px 20px;
      }
    }
  }
  .configure-select {
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    & .select-title {
      font-size: 14px;
      font-weight: bold;
      padding: 5px 8px;
      color: var(--color-secondary);
      background: #f8f8f8;
      & .el-button {
        padding: 2px 0;
      }
    }
    & .footerArea{
      position: absolute;
      bottom: 0px;
      right: 0;
      padding: 8px 20px;
      width: 100%;
      box-sizing: border-box;
      text-align: right;
      border-top: 1px solid color(var(--color-primary) tint(70%));
      background-color: var(--body-bg-color);
    }
  }

  @media print, screen and (min-width: 640px){
    .configure-select {
      min-height: 65vh;
    }
  }
  .column{
    float: left;
  }
  .selected-item{
    margin-top: 16px;
    & .selected-wrap{
      border: 1px solid #e0e0e0;
      margin-bottom: 4px;
      border-radius: 2px;
      background-color: white;
      & > div{
        padding: 8px;
        cursor: pointer;
        & .selected-box{
          min-width: 0;
          flex: 0 1 100%;
          align-self: center;
          margin-left: 20px;
          position: relative;
          & i{
            color: var(--color-grey);
            position: absolute;
            left: -20px;
            top: 3px;
          }
          & .city-box, & .keyword-box{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            min-width: 0;
            & >span{
              flex: 1 1 auto;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            & >a{
              cursor: pointer;
              font-weight: 400;
              color: var(--color-grey);
              text-align: center;
              margin-left: 8px;
            }
            & a:hover{
              color: var(--color-black);
            }
          }
          & .city-box{
            & span{
              width: 90%;
            }
          }
          & .keyword-box{
            & span{
              width: 36%;
              margin-right: 10px;
            }
          }
        }
        & :hover{
          & i{
            color: var(--color-black);
          }
        }
      }
      & .keyword-change-box{
        padding: 0 16px 16px;
      }
      & .revise{
        background-color: #f5f5f5;
        border: 1px solid #e0e0e0;
        border-top: none;
        & .selected-box{
          background-color: #f5f5f5;
        }
      }
    }
  }

  @media print, screen and (min-width: 641px) {
    .medium-4 {
      width: 12.7777%; }
    .medium-5 {
      width: 20%; }
    .medium-6 {
      width: 25%; }
    .medium-7 {
      width: 30%; }
    .medium-8 {
      width: 33.3333%; }
    .medium-16 {
      width: 66.6666%; }
    .medium-17 {
      width: 70%; }
    .medium-18 {
      width: 75%; }
    .medium-19 {
      width: 80%; }
    .medium-20 {
      width: 83.3333%; }
    .medium-24{
      width: 100%;}
  }
  @media print, screen and (max-width: 640px) {
    .small-24 {
      width: 100%; }
  }
  @media only screen and (max-width: 768px){
    .configureDialog .el-dialog--small {
      width: 100%;
      height: 100%;
      top: 0!important;
      margin-bottom: 0!important;
    }
  }
  @media only screen and (max-width: 768px) and (min-width: 640px){
    .configureDialog .el-dialog__body {
      height: calc(100vh - 101px);
    }
    .add-member-list{
      margin-bottom: 0!important;
    }
    .select{
      min-height: calc(100vh - 179px) !important;
      max-height: calc(100vh - 179px) !important;
    }
  }
  @media only screen and (max-width: 640px){
    .configureDialog .el-dialog__body{
      padding: 0!important;
    }
    .configureLeft{
      padding: 0 16px;
      border-right: 0px!important;
    }
    .searchArea{
      padding-top: 10px;
      height: 46px;
    }
    .searchArea .inline-input{
      margin: 0 0 10px!important;
    }
  }
</style>
