<template>
  <router-link :to="{ name: 'activity', params: { activityId: item.objContent.bindId }}" target="_blank">
    <slot name="header"></slot>
    <div class="media-object square-article activity-article">
      <div class="media-object-section shrink">
        <div class="img" style="background-color: #f1f1f1">
          <img :src="modelObject.cover" :alt="modelObject.title" v-error-img>
        </div>
      </div>
      <div class="media-object-section">
        <h3>{{modelObject.title}}</h3>
        <div><i class="fa fa-calendar"></i> {{startDate}} ~ {{endDate}}</div>
        <div class="no-margin"><i class="fa fa-map-marker"></i> {{modelObject.location}}</div>
      </div>
    </div>
    <slot name="footer"></slot>
  </router-link>
</template>
<script>
  import BaseCard from './BaseCard'
  import { dateYMD } from '@/util'

  export default {
    extends: BaseCard,
    computed: {
      endDate () {
        return dateYMD(this.modelObject.endDate)
      },
      startDate () {
        return dateYMD(this.modelObject.startDate)
      }
    },
    data () {
      return {
      }
    },
    mounted () {
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .activity-article{
    margin: 0;
    & .img{
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 160px;
      height: 100px;
    }
    & .media-object-section{
      &:last-child{
        & h3{
          margin: 4px 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        & > div{
          color: var(--color-secondary);
          font-size: 12px;
          margin-bottom: 8px;
        }
      }
    }
  }
</style>
