<template>
  <a href="javascript:void(0)">
    <slot name="header"></slot>
    <div class="collect-ext-content" v-if="sourceExtContent" v-text="sourceExtContent.quote"></div>
    <div class="media-object square-article">
      <div class="collect-ext-content" v-if="sourceExtContent" v-text="sourceExtContent"/>
      <div class="media-object-section shrink">
        <div class="img">
          <img :src="cover" :style="imgStyle" alt="">
        </div>
      </div>
      <div class="media-object-section">
        <div class="title14">
          <a target="_blank" href="javascript:void(0)">{{modelObject.title}}</a>
        </div>
      </div>
    </div>
    <slot name="footer"></slot>
  </a>
</template>
<script>
  import BaseCard from './BaseCard'
  export default {
    extends: BaseCard,
    data () {
      return {
        imgStyle: null
      }
    },
    computed: {
      cover () {
        return this.modelObject.cover || require('@/assets/img/u31.png')
      },
      arDescription () {
        let desc = this.content.replace(/<\/?.+?>/g, '')
        return desc.substr(0, desc.length > 80 ? 80 : desc.length) + '......'
      },
      sourceExtContent () {
        return this.item ? this.item.colExtContent : null
      }
    },
    mounted () {
    }
  }
</script>
