<template>
  <a href="">
    <slot name="header"></slot>
    <div class="docbg music-box no-margin">
      <div class="media-object">
          <div class="title14">
            新录音
          </div>
          <div class="margin-l docInfo">
            <span>林某某</span>
          </div>
      </div>
      <div class="music-info">
        <span class="margin-r">2017-05-19</span>
        <span>00:46</span>
      </div>
      <div class="audio margin-t10">
        <audio controls="" src="http://www.w3school.com.cn/i/horse.ogg">
          您的浏览器不支持 audio 标签。
        </audio>
      </div>
    </div>
  </a>
</template>
<script>
  import BaseCard from './BaseCard'
  export default {
    extends: BaseCard,
    data () {
      return {}
    }
  }
</script>
