<template>
  <div>
    <el-autocomplete
      class="inline-input share-select"
      v-model="selectValue"
      :fetch-suggestions="querySearch"
      :placeholder="placeholderTitle"
      :trigger-on-focus="false"
      @select="handleSelect">
      <template slot="prepend" v-if="prePend">{{prePend}}</template>
    </el-autocomplete>
  </div>
</template>
<script>
  import Vue from 'vue'
  Vue.component('group-item', {
    functional: true,
    render: function (h, ctx) {
      var item = ctx.props.item
      return h('li', ctx.data, [
        h('div', { attrs: { class: 'media-object img50' } }, [
          h('div', { attrs: { class: 'media-object-section' } }, [
            h('img', { attrs: { alt: item.value, src: item.icon } })
          ]),
          h('div', { attrs: { class: 'media-object-section shrink' } }, [
            h('h3', { attrs: { class: 'name' } }, [item.value]),
            h('div', { attrs: { class: 'color-secondary' } }, [item.scopeName + '小组'])
          ])
        ])
      ])
    },
    props: {
      item: { type: Object, required: true }
    }
  })
  export default {
    data () {
      return {
        selectValue: '',
        restaurants: []
      }
    },
    props: {
      prePend: String,
      queryData: {
        type: Array,
        required: true
      },
      placeholderTitle: {
        type: String,
        default: '请输入内容'
      }
    },
    watch: {
      prePend (nv, ov) {
        this.restaurants = nv
      },
      selectValue (nv, ov) {
//        console.log(nv)
//        this.$emit('select', {value: this.selectValue, item: item})
      }
    },
    methods: {
      querySearch (queryString, cb) {
        var restaurants = this.restaurants
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants
        cb(results)
      },
      createFilter (queryString) {
        return (restaurant) => {
          return (restaurant.value.indexOf(queryString.toLowerCase()) === 0)
        }
      },
      handleSelect (item) {
//        console.log(item)
        this.$emit('select', {value: this.selectValue, item: item})
      }
    }
  }
</script>
