<template>
</template>

<script>
  import { cleanHtml } from '@/util'
  import { quotesData } from '@/store/modules/share'
  import { getHighlightedQuote } from '@/components/comment'
  export default {
    computed: {
      quotesData,
      hasClearHtml () {
        return false
      },
      routeTo () {
        let r
        let feed = this.item
        let objContent = feed.objContent || {}
        if (feed.objType === 'POST' && (objContent.model === 'blog' || objContent.model === 'reprint')) {
          r = { name: 'article', params: { id: feed.objId } }
        } else if (feed.objType === 'POST' && objContent.model === 'activity') {
          r = { name: 'activity', params: { activityId: objContent.bindId } }
        } else if (feed.groupId) {
          r = { name: 'groupOneFeed', params: { feedId: feed.id, groupId: feed.groupId } }
        } else {
          r = { name: 'userOneFeed', params: { feedId: feed.id, userId: feed.userId } }
        }
        if (this.item.colExtContent && this.item.colExtContent.ranges) {
          if (this.item.sourceType === 3) {
            r.hash = '#preview-' + this.item.source
          }
          let quote = this.getHighlightedQuote('collect', this.item)
          this.quotesData = quote
          r.query = { quote: quote.id }
        }
        return r
      },
      user () {
        return this.item.user || { id: this.item.userId }
      },
      modelObject () {
        let modelObject = this.item.objContent.modelObject ? this.item.objContent.modelObject : this.item.objContent
        if (modelObject && modelObject.contentType === 'share' &&
          modelObject.refObjType !== 1 && modelObject.refObjType !== 2 && modelObject.refObjType !== 3) {
          modelObject = this.item.objContent.shareObj ? this.item.objContent.shareObj.objContent.modelObject : {}
        }
        return modelObject
      },
      content () {
        if (this.hasClearHtml) {
          const desc = this.cleanHtml(this.modelObject.content, 200, '...')
          return desc ? '<p>' + desc + '</p>' : ''
        } else {
          return this.modelObject.content
        }
      },
      resourceFiles () {
        return this.modelObject.resourceFiles
      },
      currIsShare () {
        let modelObject = this.item.objContent.modelObject ? this.item.objContent.modelObject : this.item.objContent
        if (modelObject && modelObject.contentType === 'share') {
          return true
        }
        return false
      }
    },
    data () {
      return {
      }
    },
    props: {
      item: Object,
      useParant: Boolean
    },
    methods: {
      cleanHtml,
      getHighlightedQuote
    }
  }
</script>

<style>
</style>
