<template>
  <router-link :to="getRouteTo" >
    <slot name="header"></slot>
    <div class="arContent long-ar no-padding">
      <router-link :to="getRouteTo" target="_blank" class="bg-primary">
        <img v-if="cover" style="margin-bottom:10px;" :src="cover" alt="">
        <h3>{{modelObject.title}}</h3></router-link>
      <div><p class="no-margin">{{arDescription}}</p></div>
    </div>
    <slot name="footer"></slot>
  </router-link>
</template>
<script>
  import BaseCard from './BaseCard'
  import { extractImage } from '@/util'
  export default {
    extends: BaseCard,
    data () {
      return {
        imgStyle: null
      }
    },
    computed: {
      cover () {
        let coverImage = this.modelObject.cover
        if (!coverImage) {
          if (this.content) {
            let images = extractImage(this.content)
            if (images && images.length > 0) {
              coverImage = images[0].src
            }
          }
        }
        return coverImage
//        return this.modelObject.cover || require('@/assets/img/u31.png')
      },
      arDescription () {
        let desc = this.content ? this.content.replace(/<\/?.+?>/g, '') : ''
        return desc.length > 80 ? (desc.substr(0, 80) + '......') : desc
      },
      getRouteTo () {
        if (this.currIsShare) {
          let r
          let feed = this.item
          let feedId = feed.objContent.modelObject.ext.shareFeedId
          if (feed.groupId) {
            r = { name: 'groupOneFeed', params: { feedId: feedId, groupId: feed.groupId } }
          } else {
            r = { name: 'userOneFeed', params: { feedId: feedId, userId: feed.userId } }
          }
          return r
        }
        return { name: 'article', params: { id: this.item.objId } }
      }
    },
    mounted () {
    }
  }
</script>
<style scoped="">
  @import 'css/variable.css';
  .arContent {
    padding: 1rem 0 0 0;
    & p {
      font-size: 14px;
      margin-bottom: 10px;
      color: #666;
    }
    & .img_list img {
      /*transition: transform 1s;*/
      /*&:hover{*/
      /*transform: scale(1.1);*/
      /*}*/
    }
    & .black.label {
      position: absolute;
      right: 10px;
      bottom: 4px;
    }
    & pre:first-child{
      margin-top: 0;
    }
  }
  /*长文*/
  .long-ar {
    & a {
      display:flex;
      height: 200px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 1rem;
    }
    & h3 {
      position: absolute;
      border-bottom: 0;
      text-align: center;
      /*left: 0;*/
      /*right: 0;*/
      width: 300px;
      margin:0 auto;
      line-height: 1.8;
      /*top: 50%;*/
      /*margin-top: -20px;*/
      color: #fff;
      text-shadow: 0px 2px 8px #000;
    }
    & img{width: 100%;}
  }
</style>
