<template>
  <router-link :to="{ name: 'group', params: { groupId: item.id }}" >
    <div class="group-header">
      <img :src="coverUrl" alt="" class="image">
      <h4>{{item.name}}</h4>
    </div>
    <div class="group-content">
      <div>
        <el-tag type="success">{{groupType}}</el-tag> ·
        <span class="groupScope">{{item ? scope[item.scope] + '小组' : ''}}</span>
      </div>
      <div class="margin-t4">{{item.desc}}</div>
    </div>
    <slot name="footer"></slot>
  </router-link>
</template>
<script>
  import BaseCard from './BaseCard'
  export default {
    extends: BaseCard,
    data () {
      return {
        scope: {
          1: '开放',
          2: '卦闭',
          3: '私密'
        }
      }
    },
    computed: {
      groupType () {
        return this.item ? this.$store.state.group.groupValueTypes[this.item.type] : ''
      },
      coverUrl () {
        return this.item.cover || require('@/assets/img/group-def.jpg')
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .group-header{
    position: relative;
    height: 160px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    & img{
      max-width: fit-content;
      max-width: initial;
    }
    &:before{
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    }
    & h4{
      position: absolute;
      bottom: 0;
      left: 1rem;
      color: #fff;
    }
  }
  .group-content{
    color: var(--color-secondary);
    padding: 10px 0 0 0;
    font-size: 12px;
  }
</style>
