<template>
  <a href="">
    <slot name="header"></slot>
    <div class="docbg music-box no-margin">
      <div class="media-object">
        <div class="media-object-section">
            <img src="../../assets/img/3.png">
            <!--<img class="music-run fa-spin" alt="music" src="../../assets/img/music.png">-->
          </div>
          <div class="media-object-section">
            <div class="title14">
              一声叹息
            </div>
            <div class="docInfo">
              <span>任灿</span>
            </div>
          </div>
      </div>
      <div class="music-btn">
        <span>-05:36</span>
      </div>
    </div>
  </a>
</template>
<script>
  import BaseCard from './BaseCard'
  export default {
    extends: BaseCard,
    data () {
      return {}
    },
    computed: {
      hasClearHtml () {
        return true
      }
    }
  }
</script>
