<template>
  <a href="javascript:;">
    <div>
      <h4><i class="fa fa-warning color-warning margin-r4"></i>无法获取内容</h4>
      <p class="no-margin">此内容可能已被移除，或者分享者无权分享给你。</p>
    </div>
  </a>
</template>
<script>
  export default {
    data () {
      return {
        imgStyle: null
      }
    },
    mounted () {
    }
  }
</script>
