<template>
  <router-link :to="goQuoteRouteTo" class="annotator-share-wrapper">
    <div class="annotator-share">
      <div class="share-con">分享内容</div>
      <p v-html="quoteContent.quote">Node.js 事件循环 Node.js 是单进程单线程应用程序，但是通过事件和回调支持并发，所以性能非常高。 Node.js 的每一个 API 都是异步的</p>
      <div class="share-source">源自<router-link :to="goQuoteRouteTo">《{{fromName}}》</router-link></div>
    </div>
  </router-link>
</template>
<script>
  import BaseCard from './BaseCard'
  import { getHighlightedQuote } from '@/components/comment'
  import { quotesData } from '@/store/modules/share'
  export default {
    extends: BaseCard,
    data () {
      return {}
    },
    computed: {
      quotesData,
      quoteContent () {
        return this.item.colExtContent
      },
      shareAttachment () {
        return this.item.shareAttachment
      },
      goQuoteRouteTo () {
        let r = this.routeTo
        if (this.shareAttachment && this.resourceFiles.length > 0) {
          r.hash = '#preview-' + this.resourceFiles[0].rsId
        }
        let quote = this.getHighlightedQuote('card', this.item)
        this.quotesData = quote
        r.query = { quote: quote.id }
        return r
      },
      fromName () {
        if (this.shareAttachment && this.resourceFiles.length > 0 && this.resourceFiles[0]) {
          return this.resourceFiles[0].name
        }
        return this.modelObject.title
      }
    },
    mounted () {
    },
    methods: {
      getHighlightedQuote
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .annotator-share{
    position: relative;
    margin: 6px 0 0;
    padding-bottom: 6px;
    border-top: 1px solid color(var(--color-secondary) tint(85%));
    & p{
      margin-bottom: 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid color(var(--color-secondary) tint(85%));
    }
    & .share-con{
      margin: 4px 0 6px;
      font-size: 13px;
      display: inline-block;
      color: var(--color-secondary);
    }
    & .share-source{
      position: absolute;
      color: var(--color-secondary);
      font-size: 11px;
      bottom: -17px;
      &>span{
        color: var(--color-primary);
        font-size: 14px;
        margin-left: 6px;
      }
    }
  }

</style>
