<template>
  <component :is="titleFunType !== 'link'? 'div':'router-link'" :to="titleFunType !== 'link'? '':routeTo" class="card-item">
    <slot name="header"></slot>
    <div class="media-object reprint">
      <div class="media-object-section shrink" v-if="arCover">
        <div class="img">
          <a @click.stop.preventk="gotoHref"
             :href="titleFunType !== 'link' ? 'javascript:void(0)' : redirectUrl" target="_blank">
            <img :src="arCover" :alt="arTitle">
          </a>
          <!--<span class="imgCount warning-color" :title="'共' + imgCount + '张'"><i class="fa fa-image"></i> <span v-text="imgCount">1</span></span>-->
        </div>
      </div>
      <div class="media-object-section">
        <a @click.stop.prevent="gotoHref"
           :href="titleFunType !== 'link' ? 'javascript:void(0)' : redirectUrl" target="_blank">
        <h3 class="margin-b6"
            :title="arTitle"
            v-text="arTitle">人民日报海外版人民日报海外版人民日报海外版：谁在传播股市谣言？监管鹰眼盯着你</h3></a>
        <p v-text="contentTruncate">两名在股市造谣的当事人状告证监会一事，近期二审宣判维持了证监会的判罚。在人人都有麦克风的自媒体时代，普通人也可能成为谣言的制造者和传播者。证监会相关部门负责人9日表示，股市谣言危害大，一旦发现造谣者，必定严惩。</p>
      </div>
    </div>
    <slot name="footer"></slot>
  </component>
</template>
<script>
  import BaseCard from './BaseCard'
  export default {
    extends: BaseCard,
    data () {
      return {
        imgCount: 0,
        cover: ''
      }
    },
    props: {
      titleFunType: {
        type: String,
        default: 'link'
      }
    },
    computed: {
      arCover: {
        get () {
          return this.modelObject.cover || this.cover
        },
        set (val) {
          this.cover = val
        }
      },
      arTitle () {
        return this.modelObject.title
      },
      redirectUrl () {
        return this.modelObject.redirectUrl
      },
      arExtInfo () {
        return JSON.parse(this.modelObject.ext || '{}')
      },
      arType () {
        return this.modelObject.type
      },
      contentTruncate () {
        let contentBody = document.createElement('div')
        contentBody.innerHTML = this.content
        const imgs = contentBody.getElementsByTagName('img')
//        this.imgCount = imgs.length
        if (!this.arCover && imgs.length) {
          this.cover = imgs[0].getAttribute('src')
        }
        const repSpCon = contentBody.innerText.replace(/\s+/g, '  ')
        let isOver = repSpCon.length > 135
        let lastStr = isOver ? '...' : ''
        return repSpCon.substring(0, isOver ? 135 : length) + lastStr
      }
    },
    methods: {
      gotoHref (e) {
        if (this.titleFunType !== 'link') {
          this.$emit('onPreview')
        } else {
          window.open(this.redirectUrl)
        }
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .card-item{
    display: block;
    overflow: hidden;
    & >p{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      cursor: default;
    }
    & .reprint{
      margin: 0px;
      & p{
        margin: 0px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
      & .img{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f2f2f2;
        height: 100px;
        overflow: hidden;
        width: 160px;
        position: relative;
        & img {
          width: 160px;
          height: 100px;
          object-fit: cover;
        }
      }
    }
  }
  .img .imgCount{
    position: absolute;
    bottom: 4px;
    right: 6px;
    padding: 0 4px;
    color: #a6690c;
    background: rgba(141,103,2,.4);
  }
</style>
