<template>
  <router-link :to="routeTo">
    <slot name="header"></slot>
    <!--<div class="relative-content" v-html="contentTruncate">-->
    <div class="transverse clearfix text-img">
      <div class="img" v-if="cover">
        <img :src="cover" alt=""/>
        <span class="imgCount warning-color" :title="'共' + imgCount + '张'"><i class="fa fa-image"></i> <span v-text="imgCount"></span></span>
      </div>
      <div class="content">
        <p v-html="contentTruncate"></p>
      </div>
    </div>
    <!--</div>-->
    <slot name="footer"></slot>
  </router-link>
</template>
<script>
  import BaseCard from './BaseCard'
  import { cleanHtml } from '@/util'
  export default {
    extends: BaseCard,
    data () {
      return {
        imgStyle: null,
        imgCount: 0,
        cover: ''
      }
    },
    methods: {
      cleanHtml
    },
    computed: {
      contentTruncate () {
        this.imgCount = 0
        let contentBody = document.createElement('div')
        contentBody.innerHTML = this.content
        const imgs = contentBody.getElementsByTagName('img')
        if (imgs.length) {
          for (let img of imgs) {
            if (!img.dataset.face) {
              ++this.imgCount
              this.cover = this.cover || img.src
            }
          }
        }
        return this.cleanHtml(this.content, 120, '...')
      }
    }
  }
</script>
