<template>
  <div>
    <router-link :to="isShareAttachment ? getShareRouteTo : routeTo" >
      <slot name="header"></slot>
      <!--<div class="img single vedio-box">-->
        <!--<img src="../../assets/img/12.jpg" />-->
        <!--<div><a class="play"></a> <span class="modal"></span></div>-->
      <!--</div>-->
    </router-link>
    <div class="vedio-box margin-b0"
         v-for="(resourceFile, index) in resourceFiles.slice(0, 1)"
         :key="index">
      <video-play
        :ref="'videoPlayer' + index"
        :options="getPlayerOptions(resourceFile)">
      </video-play>
      <a v-if="isShareAttachment" href="javascript:void(0)" @click="previewVideos">查看视频</a>
    </div>
    <router-link :to="{name: 'post', params: {postId: item.objId}}" v-if="content && !isShareAttachment" >
      <div class="relative-content" v-html="content"></div>
    </router-link>
    <slot name="footer"></slot>
  </div>
</template>
<script>
  import BaseCard from './BaseCard'
  import VideoPlay from '@/components/VideoPlayer'
  import { shareRouteTo } from '@/store/modules/share'

  export default {
    extends: BaseCard,
    components: {
      VideoPlay
    },
    data () {
      return {
        imgStyle: null
      }
    },
    mounted () {
      if (this.isShareAttachment) {
        let hash = this.$route.hash
        if (hash.indexOf('#preview-') >= 0) {
          let rsId = hash.substring(9)
          let index = null
          for (let i = 0; i < this.resourceFiles.length; i++) {
            if (this.resourceFiles[i].rsId === rsId) {
              index = i + 1
              break
            }
          }
          if (index) {
            this.previewDocs(index - 1)
          } else {
            this.msgWarning('无法显示文档，可能已经删除或者不可见！')
          }
        }
      }
    },
    computed: {
      hasClearHtml () {
        return true
      },
      isShareAttachment () {
        if (this.useParant || !this.item.objContent.shareObj) {
          return false
        }
        let isShare = this.modelObject.contentType === 'share'
        let isAttachment = this.modelObject.refObjType === 1 || this.modelObject.refObjType === 2 || this.modelObject.refObjType === 3
        return isShare && isAttachment
      },
      getShareRouteTo () {
        if (this.isShareAttachment && this.item.objContent.shareObj) {
          let r = this.shareRouteTo(this.item.objContent.shareObj)
          r.hash = '#preview-' + this.modelObject.resourceFiles[0].rsId
          return r
        }
        return {}
      },
      canShare () {
        let canBeShared = false
        let objContent = this.item.objContent
        if (objContent.scope === 0) {
          let group = this.item.group || this.item.scopeGroup
          if (group && group.scope === 1) {
            canBeShared = true
          }
        } else if (objContent.scope === 2) {
          canBeShared = true
        }
        return canBeShared
      }
    },
    methods: {
      shareRouteTo,
      previewVideos (index) {
        index = index || 0
        let previewData = { type: 'video', resources: [], user: this.user, source: this.item, canShare: this.canShare }
        for (var i = 0; i < this.resourceFiles.length; i++) {
          let resourceFile = this.resourceFiles[i]
          let currentTime = this.$refs['videoPlayer' + i][0].player.currentTime()
          previewData.resources.push({
            objCreator: this.item.userId,
            at: this.item.objId,
            atType: 'POST',
            id: resourceFile.rsId,
            type: 'VIDEO',
            name: resourceFile.name,
            size: resourceFile.size,
            url: resourceFile.datas['mp4'],
            cover: resourceFile.datas['mp4_to_jpg'],
            extInfo: resourceFile.datas.extInfo,
            createTime: this.item.createTime,
            focus: index === i,
            start: currentTime
          })
        }
        this.$bus.$emit('media:preview', previewData)
      },
      getPlayerOptions (resourceFile) {
        return {
          start: 0,
          showFullBtn: false,
          preload: 'none',
          playsinline: false,
          muted: false,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: 'video/mp4',
            src: resourceFile.datas['mp4x'] || resourceFile.datas['mp4']
          }],
          sourceId: resourceFile.rsId,
          poster: resourceFile.datas['550x'] || resourceFile.datas['mp4_to_jpg']
        }
      }
    }
  }
</script>
