@import url("./variable.css");
main, footer, header{display: block;}
body{
  margin: 0;
  color: var(--base-font-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  background-image: var(--body-bg-img);
  background-repeat: var(--background-repeat);
  background-color: var(--body-bg-color);
  background-attachment: var(--background-attachment);
  background-size: cover;
}
ul,ol,dd{margin: 0;padding: 0;}
dl, ol, ul, p {
    margin:0 0 1rem 0;
    list-style-position: inside;
    line-height: 1.6;
}
a{
  text-decoration: none;
  cursor: pointer;
  }
a:hover{color: color(var(--color-primary) shade(10%));}
.el-row{
  max-width: 1044px;
  margin: 0 auto;
  & .el-row {
    margin-left: calc(var(--outer-margin) /-2);
    margin-right: calc(var(--outer-margin)/-2);
  }
}
.el-col{padding:0 calc(var(--outer-margin)/2);}
.el-button.expand{
  width: 100%;
}
.float-right{
  float: right;
}
header{
  height: 60px;
  line-height: 60px;
  background: var(--color-primary);
  & .logo{
    margin: 0;
    line-height: normal;
    height: 60px;
    & span{
      background: var(--t-logo);
      background-size: contain;
      padding-left: 60px;
      background-size: 46px;
      font-size:1rem;
      color: #fff;
      display: block;
      line-height: 60px;
    }
  }
}
.text-center{
  text-align: center;
}
.color-success{
  color:var(--color-success);
}
.back-index{
  color: #fff;
  text-align: right;
  & a:hover{
    color: #fff;
  }
}
.main{
  max-width: 1028px;
  margin: 0 auto;
  margin-top: 2rem;
  background: #fff;
  padding: 2rem 0;
  & h2{
    text-align: center;
    padding: 1rem 0;
  }
  & .register-content{
    max-width: 420px;
    margin: 0 auto;
  }
}
.underline{
  text-decoration: underline;
}
.feed-content {
  max-width: 450px;
  margin: 0 auto;
  & p{
    text-indent: 2em;
    color: var(--color-secondary);
  }
  & .underline{
    margin-left: 6px;
    color: var(--color-info);
  } 
}
footer{
  margin-top: 3rem;
  padding: 0 2rem;
}
.subNav{
  border-top: 1px solid #ddd;
  padding: 2rem 0 1rem;
  text-align: center;
  & a{
    padding: 4px 10px;
    color: var(--color-secondary);
    &:hover{
      color:var(--color-primary);
    }
  }
}