@import url("./variable.css");

body{
  margin: 0;
  line-height: 1.6;
  color: var(--base-font-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  background-image: var(--body-bg-img);
  background-repeat: var(--background-repeat);
  background-color: var(--body-bg-color);
  background-attachment: var(--background-attachment);
  background-size: cover;
}
.el-row{
  max-width: 1044px;
  margin: 0 auto;
  & .el-row {
    margin-left: calc(var(--outer-margin) /-2);
    margin-right: calc(var(--outer-margin)/-2);
  }
}
.el-col{padding:0 calc(var(--outer-margin)/2);}
.el-dialog{
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0);
}
.el-dialog.customDialog{
  width: 100%;
  max-width: 768px;
}
/*.el-button .fa{*/
  /*margin-right: 4px;*/
/*}*/
ul,ol,dd{margin: 0;padding: 0;}
dl, ol, ul, p {
    margin:0 0 1rem 0;
    list-style-position: inside;
    line-height: 1.6;
}
a{
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
  }
a:hover{color: color(var(--color-primary) shade(10%));}
h1,h2,h3,h4,h5{margin: 0 0 1rem 0;}
h1{font-size: 24px;}
h2,.h2{font-size: 18px;font-weight: bold;}
h3{font-size: 16px;}
h4{font-size: 14px;}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    border-style: none;
}
/*button*/
.expanded.button,button.expanded{width: 100%;}
/*logo*/
.logo a{
  background: var(--t-logo);
  background-size: contain;
  padding-left: 40px;
  background-size: 30px;
}
.menu {
    margin: 0;
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    & li {
      flex: 0 0 auto;
      & a {
        display: flex;
        flex-flow: row;
        padding: .8rem 1rem;
        line-height: 1;
      }
    }
}
.vertical.el-popover{
  min-width: 80px;
  padding: 0;
}
.vertical-menu{
  padding: 6px 0;
  margin: 0;
  & li{
    list-style: none;
    line-height: 24px;
    padding: 0 10px;
    margin: 0;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &.divided{
      position: relative;
      margin-top: 6px;
      border-top: 1px solid rgb(209, 217, 229);
    }
    &:not(.disabled):hover{
       background-color: rgb(228, 231, 241);
       color: rgb(72, 85, 106);
    }
    & a i {
      margin-right: 4px;
    }
  }
  &.icon li{
    padding-left: 26px;
    position: relative;
    & i:first-child{
      position: absolute;
      left:6px;
      top: 5px;
    }
  }
}

/*----------------------布局--------------------*/
@media print, screen and (min-width: 40em) {
  .medium-up-1 > .column, .medium-up-1 > .columns {
    float: left;
    width: 100%; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
      float: left; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    float: left;
    width: 50%; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
      float: left; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    float: left;
    width: 33.33333%; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
      float: left; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    float: left;
    width: 25%; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
      float: left; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    float: left;
    width: 20%; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
      float: left; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    float: left;
    width: 16.66667%; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
      float: left; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    float: left;
    width: 14.28571%; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
      float: left; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    float: left;
    width: 12.5%; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
      float: left; }
}
@media print, screen and (min-width: 64em) {
.large-up-1 > .column, .large-up-1 > .columns {
  float: left;
  width: 100%; }
  .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
    float: left; }
.large-up-2 > .column, .large-up-2 > .columns {
  float: left;
  width: 50%; }
  .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
    float: left; }
.large-up-3 > .column, .large-up-3 > .columns {
  float: left;
  width: 33.33333%; }
  .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
    float: left; }
.large-up-4 > .column, .large-up-4 > .columns {
  float: left;
  width: 25%; }
  .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
    float: left; }
.large-up-5 > .column, .large-up-5 > .columns {
  float: left;
  width: 20%; }
  .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
    float: left; }
.large-up-6 > .column, .large-up-6 > .columns {
  float: left;
  width: 16.66667%; }
  .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
    float: left; }
.large-up-7 > .column, .large-up-7 > .columns {
  float: left;
  width: 14.28571%; }
  .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
    float: left; }
.large-up-8 > .column, .large-up-8 > .columns {
  float: left;
  width: 12.5%; }
  .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
    float: left; }
}
.column{
  box-sizing: border-box;
  padding: 0 1px;
  margin-bottom: 2px;
}
.up-type8{
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  & .column{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.flex-center > a, .flex-center > span{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-center{
  display: flex;
  align-items: center;
}
.img-list {
  position: relative;
  margin: 0 -1px;
  &.large-up-3 a{
    height: 120px;
  }
  &.large-up-2 a {
    height: 160px;
  }
  & .flex-center a {
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    background: color(var(--color-secondary) tint(70%));
  }
  & .imgCount {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding:0 4px;
    color: var(--color-warning);
    background: rgba(141,103,2,.4);
  }
  & .pre-img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height:50%;
  }
  & .next-img{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height:50%;
  }
}
.text-img.transverse .content{
  padding-left:0px;
}
.text-img.transverse .img{
  width:164px;
  margin-right: 1rem;
  position: relative;
}
.img .imgCount{
  position: absolute;
  bottom: 6px;
  right: 6px;
  padding: 0 4px;
  color: #a6690c;
  background: rgba(141,103,2,.4);
}
.more a{
  font-size:12px;
  color: var(--color-secondary);
&:hover{
   color: var(--color-primary);
 }
}
.no-border{
  border-width: 0 !important;
}
.no-border-top{
  border-top:0px !important;
}
/* 边距.上下左右默认全局.无边距:no-margin,no-padding */
.no-margin {
  margin: 0px !important;
}
.margin-t {
  margin-top: var(--outer-margin) !important;
}
.margin-r {
  margin-right: var(--outer-margin) !important;
}
.margin-b {
  margin-bottom: var(--outer-margin) !important;
}
.margin-l {
  margin-left: var(--outer-margin) !important;
}
.margin-l4 {
  margin-left: 4px !important;
}
.margin-t4 {
  margin-top: 4px !important;
}
.margin-b4 {
  margin-bottom: 4px !important;
}
.margin-r4 {
  margin-right: 4px !important;
}
.margin-l6 {
  margin-left: 6px !important;
}
.margin-t6 {
  margin-top: 6px !important;
}
.margin-b6 {
  margin-bottom: 6px !important;
}
.margin-r6 {
  margin-right: 6px !important;
}
.margin-l10 {
  margin-left: 10px !important;
}
.margin-t10 {
  margin-top: 10px !important;
}
.margin-b10 {
  margin-bottom: 10px !important;
}
.margin-r10 {
  margin-right: 10px !important;
}
.margin-l0 {
  margin-left: 0px !important;
}
.margin-t0 {
  margin-top: 0px !important;
}
.margin-b0 {
  margin-bottom: 0px !important;
}
.margin-r0 {
  margin-right: 0px !important;
}

.no-padding {
  padding: 0px !important;
}
.padding-t {
  padding-top: var(--inner-padding) !important;
}
.padding-r {
  padding-right: var(--inner-padding) !important;
}
.padding-b {
  padding-bottom: var(--inner-padding) !important;
}
.padding-l {
  padding-left: var(--inner-padding) !important;
}
.padding-l10 {
  padding-left: 10px !important;
}
.padding-t10 {
  padding-top: 10px !important;
}
.padding-b10 {
  padding-bottom: 10px !important;
}
.padding-r10 {
  padding-right: 10px !important;
}
.padding-l6{
  padding-left: 6px !important;
}
.padding-t6{
  padding-top: 6px !important;
}
.padding-b6{
  padding-bottom: 6px !important;
}
.padding-r6{
  padding-right: 6px !important;
}
.padding-l0{
  padding-left: 0px !important;
}
.padding-t0{
  padding-top: 0px !important;
}
.padding-b0{
  padding-bottom: 0px !important;
}
.padding-r0{
  padding-right: 0px !important;
}

.clearfix {
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}
.hide {
  display: none!important
}

.invisible {
  visibility: hidden
}
.float-right{float: right;}
.float-left{float: left;}
.text-right{text-align: right;}
.text-center{
  text-align: center;
}
.label {
    display: inline-block;
    padding: .33333rem .5rem;
    border-radius: 3px;
    font-size: .8rem;
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    background: #8f8fc6;
    color: #fefefe;
}
.label.black {
    background: rgba(0, 0, 0, 0.3);
}
.h-underline:hover{
  text-decoration: underline;
}
.close-button {
  position: absolute;
  color: #8a8a8a;
  cursor: pointer; }
  [data-whatinput='mouse'] .close-button {
    outline: 0; }
  .close-button:hover, .close-button:focus {
    color: #0a0a0a; }
  .close-button.small {
    right: 0.66rem;
    top: 0.33em;
    font-size: 1.5em;
    line-height: 1; }
  .close-button, .close-button.medium {
    right: 6px;
    top: 4px;
    font-size: 2em;
    line-height: 1;
    border: none;
    background: none;
    outline: none;
    }
/*手风情*/
.no-content {
  & .el-collapse-item__wrap{
    display: none;
  }
  & .el-collapse-item__header__arrow{
    display: none;
  }
}
//----------------------------------------列表----------
.transverse li {list-style: none;}
.transverse {
  & .img {
    width: 80px;
    overflow: hidden;
    float: left;
    position: relative;
    z-index: 1;
  }
  & .content {
    padding: 0 0 0 96px;
  }
}
.media-object {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.media-object-section {
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    &:first-child {
      padding-right: 1rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
}
/*--------------颜色---------------*/
.color-primary {
  color: var(--color-primary) !important;
}
.color-secondary {
  color: var(--color-secondary) !important;
}
.color-danger {
  color: var(--color-danger) !important;
}
.color-warning {
  color: var(--color-warning) !important;
}
.color-success {
  color: var(--color-success) !important;
}
.color-info {
  color: var(--color-info) !important;
}
.color-blue-light {
  color: var(--color-blue-light) !important;
}
.bg-primary {
  background-color: var(--color-primary) !important;
  color: #fff;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-danger {
  color: #fff;
  background-color: var(--color-danger) !important;
}
.bg-warning {
  color: #fff;
  background-color: var(--color-warning) !important;
}
.bg-success {
  color: #fff;
  background-color: var(--color-success) !important;
}
.bg-info {
  color: #fff;
  background-color: var(--color-info) !important;
}
/*字体大小*/
.font-s12{font-size: 12px !important;}
.font-s14{font-size: 14px !important;}
.font-s16{font-size: 1rem !important;}
.circle{border-radius:50%;padding: 12px;}
/*-----------------标签--------------------*/
.label {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0;
  font-size: 0.625rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  background: var(--color-primary);
  color: #fefefe;
  &.primary{
    background: var(--color-primary);
    color: #fefefe;
  }
  &.success{
    background: var(--color-success);
    color: #fefefe;
  }
  &.secondary{
    background: var(--color-secondary);
    color: #fefefe;
  }
  &.danger{
    background: var(--color-danger);
    color: #fff;
  }
  &.warning{
    background: var(--color-warning);
    color: #fff;
  }
}
/*-----------过滤条件------------*/
.filters {
  background: #fff;
  & .menu li a.active {
    color: var(--color-primary);
  }
  & .menu li a {
    position: relative;
    &:before{
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 0;
      background: var(--color-primary);
      left: 50%;
      bottom: -1px;
      transition: width .3s,left .3s;
    }
    &:hover:before,&.router-link-exact-active:before {
      left: 0;
      width: 100%;
    }
  }
  & .filters_btn{
    text-align: right;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    margin-top: -14px;
    margin-right: 6px;
  }
}
.list-manage .filters h2{
  margin: 0;
  padding: 1rem;
}


.mod-border {
  border: 1px solid;
  border-color: #e8e8e8 #e8e8e8 #d4d4d5;
}
/*分页*/
.mod-footer{
  padding:1rem 0;
  background: #fff;
  text-align: center;
}
.border-bottom{
  border-bottom: 1px solid #e8e8e8;
}
.icon-before{
  & li{
    position: relative;
    padding-left: 20px;
    & i{
      position: absolute;
      left: 4px;
      top: 50%;
      margin-top: -6px;
    }
  }
}
/*对齐*/
.flex-bottom{
  display: flex;
  align-content: space-between;
}
/*popper*/
.createGroup{
  & .el-dialog__header, & .el-dialog__body{
    padding: 0;
  }
  & .el-dialog__headerbtn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 100;
  }
  & .el-items{padding: 40px 40px 0;}
  & .secrets{
    & i{margin-right: 4px;}
    & .color-secondary{font-size: 12px;margin-left: 6px;}
  }
}
/* 设置滚动条的样式 */
.scrollCss::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
.scrollCss::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    border-radius: 3px;
}
/* 滚动条滑块 */
.scrollCss::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
}
.scrollCss::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.3);
}
/*通知*/
.notify_con{
  display: block;
  & .media-object{
    margin: 0;
    & .media-object-section:first-child{
      width: 50px;
      padding-right: 10px;
    }
    & .title{
      margin: 0 0 6px 0;
      max-width: calc(100% - 20px);
      & b{
        margin:0 4px;
        &:first-child{
          margin-left: 0;
        }
      }
    }
    & .time{
      color: var(--color-secondary);
    }
  }
}
.el-notification__closeBtn{
  top: 16px;
  right: 16px;
}
.message_box .el-notification__content{margin: 0;}
.circular{border-radius: 50%;}
/*小组*/
.group_content {
  background: #fff;
  padding: 1rem;
  & > div{
      position: relative;
      & button{
        position: absolute;
        right: 0;
        top: 0;
      }
      &:last-child{
        & .media-object{
          border-bottom: none;
        }
      }
  }
  & .media-object{
    padding: 0 0 1rem 0;
    border-bottom: 1px solid color(var(--color-primary) tint(90%));
    position: relative;
    & .media-object-section{
      &:first-child{
        & img{
          max-width: 42px;
          border-radius: 4px;
        }
      }
      &:nth-child(2){
        & .title14{
          margin-bottom: 6px;
        }
        & span{
          font-size: 12px;
          margin-right: 6px;
        }
        & p{
          font-size: 12px;
          color: var(--color-secondary);
          margin: 10px 0 0 0;
        }
      }
    }
    & button{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  & .media-object:last-child{
    border-bottom: none;
    padding: 0;
    margin: 0;
  }
}
.big_group_content{
  & .media-object{
    & .media-object-section{
      &:first-child{
        & img{
          max-width: 70px;
          border-radius: 4px;
        }
      }
    }
  }
}
/*group小组*/
.mod-banner{
    height: 240px;
    position: relative;
    overflow: hidden;
  }
  .mod-banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
    background: rgba(0,0,0,.2);
    z-index: 1;
  }
  .mod-banner .header-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    left: 0;
  }
  .mod-banner .header-bg{
      background: url(../../assets/img/b1.jpg) no-repeat center center;
      background-size: cover;
      -moz-transform: scaleX(1.1) scaleY(1.1);
      -webkit-transform: scaleX(1.1) scaleY(1.1);
  }
  .mod-banner .header-bg.banner-transition{
      -moz-transform: scaleX(1) scaleY(1);
      -webkit-transform: scaleX(1) scaleY(1);
      -moz-transition: -moz-transform 4s linear;
      -webkit-transition: -webkit-transform 4s linear;
  }
  .mod-tools{
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 2;
    & label{
      & span:not(last-child){
        font-size:0.875rem;
        color: #fff;
        cursor: pointer;
        opacity: 0.9;
      }
      & span{
        margin-right: 10px;
      }
    }
  }
  .mod-tools span:hover{opacity: 1;}
  .list-con{
    background: var(--panel-color);
    padding: 1rem 0 0 1rem;
  }
/*publishBar*/
pre {
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
  overflow: auto;
  font-size: 1em;
  padding: 16px;
  overflow: auto;
  line-height: 1.6;
  background-color: #f6f8fa;
  border-radius: 3px;
}


blockquote {
  display: block;
  padding-left: 20px;
  border-left: 3px solid var(--color-secondary);
  margin-left: 0;
  padding-left: 15px;
  font-style: italic;
  color: #555;
}
.cog.el-button{
  padding: 4px;
}
.flex {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  & a {
    display: inline-block;
    -webkit-box-flex: 1;
    flex: 1 1 0px;
  }
}
@media only screen and (min-width: 769px) {
  .hide-for-medium {
    display: none;
  }
}
@media only screen and (min-width: 641px) {
	.hide-for-small {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hide-for-large{
    display: none;
  }
}
/*-----------------filter-section-----------*/
.date-list {
  padding-left: 1rem;
  & li {
    list-style: none;
    & .title{
      font-size: 14px;
      font-weight: bold;
      width: 120px;
      padding: 6px 0;
    }
    &:first-child .title{
      color: var(--color-primary);
    }
    &:last-child {
      & .media-object-section{
        &:last-child {
          border: none;
        }
      }
    }
  }
}
.today-list{
  padding:0 2rem;
  margin-top: 24px;
}
.no-date-list .today-list{
  padding:0;
}
.file-list, .activity, .topic-list,.note-list  > .el-row, .task-list{
  padding-bottom:1rem;
  border-bottom:1px dashed #eee;
  &:last-child{
    padding-bottom:0;
    border-bottom:none;
  }
}
.shrink.media-object-section{
   flex: 0 0 auto;
}
.shrink.media-object-section + .media-object-section{
   flex: 1 1 0px;
}
.single-people-list .media-object-section > span{
  flex: 1;
  text-align: right;
  color:var(--color-secondary)
}
/*edit*/
.el-icon-edit:after{
  content: '';
  border-bottom: 1px solid #ddd;
}
/*el*/
.el-alert{
  border-radius:0;
  color: var(--base-font-color);
  & .el-alert__icon{
    padding-right: 6px;
    color: var(--base-font-color);
  }
}
.el-alert--warning {
    background-color: color(var(--color-warning) tint(80%));
    border: 1px solid color(var(--color-warning) tint(40%));
}
.el-alert--info {
  background-color: color(var(--color-info) tint(60%));
  border: 1px solid color(var(--color-info) tint(30%));
}
.el-alert--success {
  background-color: color(var(--color-success) tint(60%));
  border: 1px solid color(var(--color-success) tint(30%));
}
.el-alert--primary {
  background-color: color(var(--color-primary) tint(80%));
  border: 1px solid color(var(--color-primary) tint(40%));
}
.el-alert--danger {
  background-color: color(var(--color-danger) tint(80%));
  border: 1px solid color(var(--color-danger) tint(40%));
}
.el-alert__content{
  padding: 0;
  & .el-alert__title{font-size: 14px;}
  & .el-alert__closebtn{
    color: var(--base-font-color);
  }
}
.el-card{
  margin-bottom: 1rem;
}
.v-modal{
  opacity: 0.8;
}
.zIndex{
  z-index: 2222222222 !important;
}
/*upload*/
.el-upload-list__item  .label{
  position: absolute;
  bottom:0;
  width:100%;
  left: 0;
  color: #fff;
  background: var(--color-danger);
  text-align: center;
  padding:4px 0;
}
/*头像+name*/
.organizers{
  & a {
    display: inline-block;
    font-size: 12px;
    color: var(--color-secondary);
    & img{width: 24px;height:24px;border-radius: 2px;margin-right: 6px;}
  }
}
.tools{
  position: absolute;
  right: 0;
  bottom: 0;
  & .el-button + .el-button {
    margin: 0;
  }
}
/*用户头像信息*/
.username{
  line-height: 24px;
}
.username a{
  margin-right: 4px;
}
.user .img {
  width: 50px;height: 50px;background: #f4f4f4;border-radius: 50%;overflow: hidden;
}
.user .content {
  padding-left: 66px;min-height: 50px;
  /*margin-bottom: 0.5rem;*/
}
.user .img36{
  width: 36px;height: 36px;
}
.user .img36 + .content {
  padding-left: 52px;min-height: 36px;
}
.user .img24{
  width: 24px;height: 24px;
}
.user .img24 + .content {
  padding-left: 40px;min-height: 24px;
}
.user .img30{
  width: 30px;height: 30px;
}
.user .img30 + .content {
  padding-left: 46px;min-height: 30px;
}
.img36 .img{
  width: 36px;
  height: 36px;
  overflow: hidden;
  & img{
    height: 100%;
    width: 100%;
  }
}
.user .img40{
  width: 40px;height: 40px;
}
.user .img40 + .content {
  padding-left: 50px;min-height: 36px;
}
/*single*/
.single {
  & .img{
    display: block;
    width: 24px;
    height: 24px;
    & img{
      border-radius: 50%;
    }
  }
}
/*comment*/
.figure-layer{
    & .image-head-back {
      padding: 6px 10px;
      & a i{
        font-size: 1.2rem;
        margin:2px 4px 0 4px;
      }
    }
    & .figure-side-hd{
      position: relative;
      padding: 1rem 1rem 0;
      & > button{
        position: absolute;
        right: 1rem;
        top: 2rem;
      }
      & .el-select{
          position: absolute;
          right: 12px;
          top: 1rem;
          width: 82px;
      & .el-input__inner{
          border: 0;
        }
      }
    }
    & .figure-describe{
      margin-top: 1rem;
      position: relative;
      overflow: hidden;
      & .describe-collapse {
        position: relative;
        padding: 0 1.2rem 0 1rem;
        height: 40px;
        font-size: 13px;
        overflow: hidden;
        transition: height .2s;
        & p{
          margin-bottom: 0;
          cursor: pointer;
        }
        &>a:hover{
          text-decoration: underline;
        }
      }
      &.expanded .describe-collapse {
        height: 140px;
        overflow: auto;
      }
      & .describe-angle{
          position: absolute;
          right: 6px;
          bottom: -3px;
          font-size:24px;
          color: var(--color-info);
        & i{
            cursor: pointer;
        }
      }
    }
    & .figure-mod-tools.comment-tools{
        text-align: right;
        border-width: 0 0 1px 0;
        padding-top: 0px;
      & a{
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        width:52px;
        padding: 0;
      }
    }
    & .figure-mod-comment {
      position: relative;
      & .comment-panel{
        height: 100%;
        overflow: auto;
        padding: 0 1rem;
      }
      &.unexpaned{
        & .comment-panel{
          height: calc(100% - 508px);
        }
      }
      & .bottom-add-comment {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: #fff;
        padding-bottom: 10px;
        z-index: 10;
      }
    }
  }
  .comment-lists {
    & > li{
      list-style: none;
      margin-bottom: 1.2rem;
      border-bottom: 1px solid #ddd;
      &:last-child{
        border: none;
      }
    }
    & ol {
      list-style: none;
      clear: both;
      margin-bottom: 0;
      & li{
        list-style: none;
        &:last-child{
          & .comment-content {
            border: none;
          }
        }
      }
    }
    & .comment-content{
      padding:0 0 4px;
      & p:last-child{
        margin: 0;
      }
    }
  }
  .preview-tab{
    width: 100%;
    & .el-tabs__header{
        /*border-top: 1px solid rgb(209, 217, 229);*/
      & .el-tabs__nav{
        width: 100%;
        display:flex; flex-direction:row;
        & .el-tabs__item{
            text-align: center;
            /*flex-grow:1;*/
            flex-grow:0;
        }
          & .el-tabs__active-bar{
            width: 15%;
          }
      }
    }
    & .el-tabs__content{
      height: calc(100% - 57px);
      & .el-tab-pane{
        height: 100%;
      }
    }
    & .comments{
      height:calc(100% - 178px);
      overflow: hidden;
    }
  }
  .figure-info{
    height: calc(100vh - 256px);
    overflow: auto;
    & table{
        font-weight: normal;
        text-align: left;
        line-height: 1em;
        white-space: nowrap;
        width: 100%;
      & tr{
        & th{
            font-weight: normal;
            text-align: right;
            color: #aaa;
            font-size: 0.875rem;
        }
        & td{
            padding: 7px 10px;
            font-size: 0.875rem;
        }
      }
      & tr:nth-of-type(even){
          background: #fcfcfc;
      }
    }
  }
  .figure-log{
    padding:0 1rem 1rem;
    overflow: auto;
    height: calc(100vh - 344px);
    & ul{
      margin: 0px;
      & li{
      list-style: none;
      margin-bottom: 6px;
      border-bottom: 1px solid color(var(--color-primary) tint(90%));
        & lable{
          margin: 0 10px 6px 0;
          display: inline-block;
        }
        & div{
          margin-bottom: 10px;
          & span{
            font-size: 10px;
            margin-right: 10px;
            color: #999;
          }
        }
      }
      & :last-child{
          border-bottom: 0;
      }
    }
  }
/*视频*/
  .vedio-box {
    position: relative;
    & .play {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      line-height: 4rem;
      width: 4rem;
      text-align: center;
      height: 4rem;
      display: block;
      margin:0 auto;
      margin-top: -2rem;
      background: url(../img/u183.png) no-repeat center center;
      z-index: 2;
      cursor: pointer;
    }
    & .play.loading{
      background: url(../img/loading.gif) no-repeat center center;
    }
    & .vedio-info{
      height: 36px;
      line-height: 36px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
      position: absolute;
      bottom: 0;
      color: #fff;
      font-size: 12px;
      width: 100%;
      & span:first-child {
        margin-left: 10px;
      }
      & span:last-child {
        margin-right: 10px;
      }
    }
    & .play + .modal{
      opacity:0;
      transition:all .3s;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.3);z-index: 1;
    }
    & .play:hover + .modal{opacity: 1;}
  }
/*fullscreen*/
.swiper-button-fullscreen{
  position: absolute;
  width: 46PX;
  height: 46px;
  text-align: right;
  right: 1rem;
  z-index: 100;
  top: 0;
  opacity: 0;
  transition: opacity .3s;
  margin: 1.2rem 0;
  & .fullscreen{
    display: flex;
    z-index: 10;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #fff;
    background: rgba(0,0,0,.4);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
  }
}
.position-left:hover .swiper-button-fullscreen{
  opacity: 1;
}
/*fool-list FileItem*/
.font-tools {
  display: none;
  position: absolute;
  height: 36px;
  line-height: 36px;
  right: 10px;
  top: 50%;
  margin-top: -18px;
  font-size: 1rem;
  z-index: 4;
  & a {
    padding:4px;
    margin: 0 6px;
    cursor: pointer;
    color: var(--color-secondary);
    &:hover {
      color: var(--color-primary);
    }
  }
}
/*热门帖子*/
.note_list{
  margin: 0;
  & li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    list-style: none;
    & .title{
      font-size: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    & .btn_box{
      margin-top: 6px;
      & a{
        font-size: 12px;
        color: var(--color-secondary);
        margin-right: 10px;
        cursor: pointer;
        &:hover{
          color: var(--color-primary);
        }
      }
    }
    &:last-child{
      border: none;
      padding-bottom: 0;
    }
    &:first-child{
      padding-top: 0;
    }
  }
}
.talent > a {
  display: block;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  & .img{
    max-width: 46px;
    border-radius: 50%;
  }
  & .content{
    padding-left: 60px;
    & .arInfo {
      margin-top: 4px;
      & span{
        font-size: 12px;
        color: var(--color-secondary);
      }
    }
  }
  &:last-child{
    padding: 0;
    margin: 0;
    border: none;
  }
}
/*feed 样式公用*/
/*文档*/
  .docbg {
    padding: 10px;
    margin-bottom:1rem;
    position:relative;
    display: block;
    background: color(var(--color-secondary) tint(90%));
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0,0,0, .3);
    & .media-object{margin: 0;}
    & .media-object-section img {max-width: 50px;}
  }
  .docInfo span {
    font-size: 12px;margin-right: 10px;color: var(--color-secondary);
  }
  /*音乐*/
  .music-box {
    & .media-object-section{
      position: relative;
      & img {
        position: relative;z-index: 2;border-radius: 4px;
      }
      & .music-run {
          position: absolute;
            left: 14px;
            top: 1px;
            z-index: 1;
            display: inline-block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            transition: left .3s;
        }
    }
    & .music-btn{
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -14px;
      & .play{
        display: inline-block;
          height: 2.4em;
          width: 2.4em;
          background: #fff;
          line-height: 2.4em;
          text-align: center;
          border-radius: 50%;
          margin-left: 10px;
      }
    }
    & .music-info span{font-size: 12px;margin-right: 10px;}
  }

  .audio audio{width: 100%;}

  /*评论框*/
.comment-tools{
  padding: 6px 1rem;
  border: 1px solid #d1d9e5;
  border-color: #d1d9e5 #e8e8e8 #e8e8e8 #f6f6f6;
  border-width: 1px 0 1px 0;
  position: relative;
  & a{
      font-size: 1.2rem;
      padding: 0 8px;
      color: color(var(--color-secondary) shade(36%));
  &:hover {
     color: var(--color-primary)
   }
  }
}
& .el-textarea textarea{
    border: none;
    outline: none;
  }
& button{
    float: right;
    padding: 6px 22px;
  }
.comment-section{
  border:1px solid #e8e8e8;
  position: relative;
}
.comment-inp{
  outline:none;
  padding:0 0 0;
  border: 0;
  cursor: text;
  width: 100%;
  font-size: 12px;
  & p{
    margin: 0;
    line-height: 24px;
    &:first-child{
      line-height: 30px;
    }
  }
}

.comment-sub{
  cursor: pointer;
  height: 32px;
  font-size: 12px;
  letter-spacing: 1px;
  border-radius: 0px;
  position: relative;
  top: -1px;
  width: 70px;
}
.comment-inp:empty:before{
  content: attr(placeholder);
  color: #999;
}
/*焦点时内容为空*/
.comment-inp:focus:before{
  content:none;
}
.comment-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  & .atwho-wrap{
    line-height: 30px;
  }
  & .comment-btn {
      height: 30px;
      line-height: 30px;

      align-self: flex-end;
      display: flex;
      margin:0 0 0 auto;
      position: static;
      & a {
        padding:0 6px;
        /*text-align: center;*/
        display: flex;
        align-items: center;
        justify-content: center;
        flex:0 1 0px;
        &:nth-child(1){
          margin-left: 6px;
        }
        &:nth-child(2){
          margin-right: 6px;
        }

      }
      & .add-time-btn{
          position: absolute;
          top: 4px;
          right: 10px;
          cursor: pointer;
      }
  }
  & .comment-txt{
      padding: 0 6px;
      box-sizing: border-box;
      flex-grow: 1;
      min-width: 0;
      word-break: break-word;
  }
}

.verticle {
  display: block;
  & .comment-txt {
      display: inline-block;
      width: 100%;
      vertical-align: bottom;
      padding-right: 0;
      & textarea{
          border: none;
          outline: none;
          display: block;
          resize: vertical;
          height: 40px;
          line-height: 1.8;
          width: calc(100% - 20px);
          padding: 10px;
          font-size: 14px;
          color: rgb(31, 43, 61);
          transition: border-color .2s cubic-bezier(.645,.045,.355,1);
      }
  }
  & .comment-btn{
    padding: 0;
  }
  & .comment-commit{
    margin-top: 10px;
    display: inline-block;
    & button{
      padding: 6px 22px;
    }
  }
  & .medium-editor-element{
    min-height: 60px;
    max-height: 240px;
    overflow: auto;
  }
}
/*文章页*/
.article-content{
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
  background: var(--panel-color);
  & header{
      padding: 1rem 2rem;
      & .bookmark{
          color: color(var(--color-warning) shade(40%));
      }
      & .source {
          float: right;
          font-size: 12px;
          color: var(--color-secondary);
      }
      & .h-top {
          padding: 1rem 0;
      }
      & h2{
        margin: 1rem 0 0 0;
        font-size: 24px;
      }
      & .h-bottom{
          display: flex;
          padding: 1rem 0;
          padding: 1.5rem 0 1rem;
          & a{
              margin-right: 2rem;
          }
          & span{
              margin-right: 2rem;
              color: var(--color-secondary);
          }
      }
  }
  & .article-section{
    padding: 0rem 2rem 1rem;
    font-size: 1rem;
    & p{
      & img{
        /*width: 100%;*/
        margin-bottom: 10px;
      }
      & img[data-face]{
        width: 22px;
      }
    }
    & div {
      height:auto !important;
    }
  }
  & .article-footer {
      & > span{
          display: block;
          font-size: 12px;
          text-align: center;
          padding: 2rem;
      }
      & .user {
          width: 560px;
          margin: 0 auto;
          padding: 1rem;
          background: #f4f4f4;
          border-radius: 4px;
          position: relative;
          & .content{
              margin-bottom: 0;
              & .arInfo span{
                  color: var(--color-secondary);
              }
          }
          & .follow{
              position: absolute;
              right: 1rem;
              top: 50%;
              margin-top: -14px;
          }
      }
  }
  & .article-source{
      & .user {
          & .content {
              & .username{
                  line-height: 50px;
                  & a{
                      display: inline-block;
                      font-size: 17px;
                      line-height: 1;
                      font-weight: 700;
                      color: color(var(--color-primary) shade(70%));
                  }
              }
          }
      }
  }
  & .ar-tags{
      padding: 3rem 2rem 0;
      & > span {
          margin-right: 10px;
      }
      & > span:hover{
          cursor: pointer;
      }
  }
  & .article-share{
      text-align: center;
      padding: 3rem 2rem 0;
      & > span{
        background-color: #f0f0f0;
        border-radius: 100px;
        color: #ababab;
        display: inline-block;
        font-size: 16px;
        height: 30px;
        line-height: 32px;
        margin-right: 16px;
        margin-top: 6px;
        padding: 0 12px;
        text-decoration: none;
        cursor: pointer;
      }
      & :last-child{
          margin: 0;
      }
  }
  & .news-content{
    padding: 1rem 2rem 0rem;
  }
  & .article-pages{
    height: 20px;
    padding: 3rem 2rem 0;
    & >div{
      & span{
        cursor: pointer;
      }
    }
  }
  & .article-related{
      padding: 2rem;
      & > div{
          height: 118px;
      }
      & a{
          display: inline-block;
          & strong{
            display: block;
            max-height: 42px;
            margin: 0 0 8px;
            overflow: hidden;
            font-size: 16px;
            padding: 10px 10px 0;
          }
          & span{
            display: block;
            padding: 0 10px;
            font-size: 12px;
            overflow: hidden;
            max-height: 50px;
          }
          & i{
            position: absolute;
            top: 48px;
            left: 72px;
            font-size: 24px;
            color: rgba(255,255,255,.7);
          }
      }
  }
}
.header-bg {
& img {
    width: 100%;
  }
}
/*查看最新内容*/
.updateNews{
  padding: 4px 16px;
  opacity: 0.9;
  transition: opacity .2s;
  text-align: center;
  margin-bottom: 1rem;
  background-color: color(var(--color-warning) tint(80%));
  border: 1px solid color(var(--color-warning) tint(60%));
  cursor: pointer;
  font-size: 12px;
  color: var(--color-info);
  &:hover{
     opacity: 1;
  }
}
.sticky{
  position: fixed;
  top: 22px;
  width: 200px;
  display: flex;
  height: 36px;
  background-color: var(--color-info);
  right: 0;
  margin: 0 auto;
  left: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-info);
  border-radius: 36px;
  z-index: 100;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}
/*preview操作*/
.middle-tool-bar{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    width: 320px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(43, 51, 63, 0.7);
    border-radius: 4px;
    & a{
      font-size: 1.2rem;
      padding:0 10px;
      color: #fff;
      display: inline-block;
    }
  }
.feed li .media-tool-bar{
  display: none;
}
/*头像*/
.personalInfo{
  & .img{
    position: relative;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0 0 16px rgba(255,255,255,1);
    &:hover .upload_btn{
      opacity: 1;
      visibility: visible;
      background: radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.8))
    }
    & .upload_loading {
      opacity: 1;
      visibility: visible;
      background: radial-gradient(rgba(0,0,0,.1), rgba(0,0,0,.8))
    }

  }
}
.upload_btn{
  cursor: pointer;
  position: absolute;
  top: 0;
  display: flex;
  left: -2px;
  right: -2px;
  bottom: 0;
  margin: auto;
  justify-content: center;
  color: #fff;
  z-index: 3;
  align-items: center;
  background: rgba(255,255,255,0); /* 标准的语法 */
  opacity: 0;
  visibility: hidden;
  transition:all .3s;
  font-size: 1rem;
}
.upload_loading{
  cursor: pointer;
  position: absolute;
  top: 0;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  color: #fff;
  z-index: 3;
  align-items: center;
  background: rgba(255,255,255,0); /* 标准的语法 */
  opacity: 0;
  visibility: hidden;
  transition:all .3s;
  font-size: 1rem;
}
/*原groupheader样式共用*/
.group-transverce{
  position: absolute;
  top: 25%;
  z-index: 1;
  left: 10%;
}
.group-transverce .img{
  border-radius: 4px;
  height: 86px;
  width:86px;
}
.group-transverce .content{
  padding-left: 110px;
  & .el-tag--success{
    color: #fff;
  }
}
.group-transverce h2{
  color: #fff;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 600px;
  margin-bottom: 10px;
  & i {
    font-size: 14px;
    margin-right: 6px;
    position: relative;
    top: -1px;
  }
}
.group-transverce .desc{
  color: #fff;
  font-size: 12px;
  z-index: 1;
  max-width: 640px;
  height: 56px;
  overflow: hidden;
  & span:not(last-child) {
    margin-right: 6px;
  }
}
/*海报背景图片拖拉*/
.adjust-position{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  padding: 5px 7px;
  cursor: pointer;
}

/*原shareform分享样式共用*/
.share-dialog .el-dialog .el-dialog__header .el-dialog__headerbtn{
  position: relative;
  top: 5px;
}
.share-title{
  display: inline-block;
}
.share-dialog .el-dialog--small{
  width: 600px;
}
.share-dialog .el-dialog__header{
  padding: 10px 16px 10px 0;
  border-bottom: 1px solid color(var(--color-primary) tint(80%));
  background-color: var(--body-bg-color);
}
.share-dialog .el-dialog__body{
  padding: 0;
}
/*title select框*/
.share-dialog .share-title .el-select{
  width: 67%;
}
.share-title .el-select .el-input .el-input__inner{
  border: 0;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--body-bg-color);
}
.share-dialog .inline-input{
  width: 100%;
}
.share-dialog .el-input-group__prepend,
.share-dialog .el-input-group--prepend .el-input__inner,
.share-dialog .el-card{
  border-radius: 0;
}
.share-dialog .el-card{
  margin: 0 16px 16px;
}
.share-select .el-input-group__prepend{
  border-bottom: 1px dotted color(var(--color-primary) tint(80%));
  border-top: 0;
  border-left: 0;
  padding: 0 16px;
}
.share-select .el-input__inner{
  border-bottom: 1px dotted color(var(--color-primary) tint(80%));
  border-left: 1px dotted color(var(--color-primary) tint(80%));
  border-top: 0;
  border-right: 0;
}
.share-sign .el-input-group__prepend{
  padding: 0 16px;
  border-bottom: 0;
  border-top: 1px dotted color(var(--color-primary) tint(80%));
  border-left: 0;
}
.share-sign .el-input__inner{
  border-bottom: 0;
  border-left: 1px dotted color(var(--color-primary) tint(80%));
  border-top: 1px dotted color(var(--color-primary) tint(80%));
  border-right: 0;
}
/*权限选择框*/
.share-footer .el-select{
  width: 48%;
}
.share-footer .el-select .el-input .el-input__inner{
  border: 0;
  font-size: 14px;
  text-align: right;
  background-color: var(--body-bg-color);
}
.share-footer .active{
  background-color: #fff;
}
.share-footer .footer-tools .el-tooltip i{
  width: 15px;
  text-align: center;
}
/*输入框*/
.publish-modcon {
  position: relative;
  & .shareEditable{
    outline: none;
    padding:10px 34px 10px 16px;
    min-height: 46px;
    line-height: 22px;
    & p{
      margin-bottom: 0px;
    }
    &:after{
      font-style: normal;
    }
    & pre{
      padding: 6px 10px;
    }
  }
  & .el-tooltip.item{
      position: absolute;
      bottom: 12px;
      right: 18px;
      font-size: 16px;
  }
}
.publish-modcon:focus {
  outline: none;
}
.share-sign .el-input-group__prepend,
.share-sign .el-input__inner{
  border-bottom: 0;
}
.share-dialog .el-dialog .el-dialog__footer{
  border-top: 1px solid color(var(--color-primary) tint(70%));
  background-color: var(--body-bg-color);
  padding: 0;
}
.footer-btn{
  display: inline-block;
  margin: 7px 16px 7px 0;
  width: 60%;
}
.footer-tools{
  display: inline-block;
}
.footer-btn .el-dropdown-link{
  font-size: 12px;
}
.footer-btn .el-dropdown-link .el-icon--right{
  font-size: 10px;
}
.footer-tools .el-tooltip{
  font-size: 16px;
  padding: 12px 14px;
  display: inline-block;
}
.footer-tools .el-tooltip:hover{
  background-color: color(var(--body-bg-color) shade(20%));
}
.share-dialog{
  & .share-sign-content{
    margin: 0 16px 8px;
  & .place-token,& .active-token{
    color: var(--color-blue);
    }
  }
}
.white-space{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.w320{
  max-width: 320px;
}
/*小组、博客背景推荐样式共用*/
.group-background{
  padding: 8px!important;
  & .img-list {
    & .column.flex-center a{
        height: 33px;
    & img{
        height: 33px;
        object-fit: cover;
      }
    }
  }
}
/*活动详细页ActivityDetail与index样式共用*/
.single-people-list{
  & > div{
    margin: 0;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 1rem;
    &:last-child{
      border: none;
    }
  }
  & .media-object-section:last-child{
    position: relative;
    & > span{
        margin-left: 10px;
        color: var(--color-secondary);
      }
    & button{
        /*邀请列表position: absolute;受影响*/
        position: relative;
        right: -1rem;
    }
  }
}
/*点赞，已看等成员列表*/
.members{
  & >div{
    display: inline-block;
    float: left;
    margin: 0 8px;
    & img{
      width: 36px;
      height: 36px;
      border-radius: 50%;
      cursor: pointer;
    }
    & div{
      color: color(var(--color-black) tint(40%));
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      width: 36px;
      cursor: pointer;
      text-align: center;
    }
  }
}
/*新增成员与头像标记样式共用*/
.add-member-list .column{
  min-height: calc(100% - 74px);
  border: 0;
  line-height: 26px;
  background: #fff;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
}
.searchArea{
  overflow: auto;
  overflow-x: hidden;
  max-height: 93px;
  min-height: 43px;
}
.searchArea .inline-input{
  margin: 0 0 10px 0;
  width: 40%;
}
.searchArea .inline-input .el-input__inner{
  border: 0;
  padding: 0 0 0 20px;
}
.searchArea>div:not(.inline-input){
  display: inline-block;
  cursor: pointer;
  margin: 0 10px 10px 0;
  position: relative;
}
.searchArea>div img{
  width: 36px;
  border-radius: 50%;
  font-size: 20px;
}
.searchArea>div>span{
  display: inline-block;
  position: absolute;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.searchArea>div>span:hover{
  background-color: rgba(0, 0, 0, .5);
}
.searchArea>div .el-icon-close{
  position: absolute;
  top: 11px;
  left: 11px;
  display: none;
  color: var(--color-white);
}
.searchArea>div>span:hover .el-icon-close{
  display: inline-block;
}
.searchArea .el-input__icon{
  left: 0px;
  width: 14px;
}
.searchArea .inline-input .el-input .el-input__inner{
  border: 0;
  padding: 0 0 0 20px;
}
.select{
  overflow: auto;
  overflow-x: hidden;
  height: 270px;
  min-height: 270px;
}
@media only screen and (max-width: 768px) and (min-width: 640px){
  .select{
    height: calc(100vh - 179px) !important;
  }
}
@media print, screen and (max-width: 640px){
  .select{
    margin: 10px 0;
    border-left: 0px;
    border-right: 0;
    height: 452px;
  }
  .menuBox{
    border-left: 0px;
    border-right: 0;
  }
}
.select>div {
  margin: 0px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  border-bottom: 1px solid #f6f3f3;
}
.select>div:last-child{
  border-bottom: none;
}
.select>div:not(.selectTitle):hover{
  background-color: var(--background-color);
}
.selectName,
.selectImg{
  display: inline-block;
}
.selectName{
  font-size: 16px;
}
.selectBox {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 13px;
  z-index: 10;
}
.select .selectImg{
  width: 36px;
  border-radius: 50%;
}
.media-object-section.center{
  display: flex;
  align-items: center;
}
.selectTitle{
  font-size: 14px;
  font-weight: bold;
  padding: 5px 8px;
  color: var(--color-secondary);
  background: #f8f8f8;
}
.selectTitle .el-button{
  padding: 2px 0;
}
.select>div i{
  font-size: 1rem;
  cursor: pointer;
}
.add-member-list .recTags .select>div:hover{
  border: 0 solid color(var(--background-color) shade(10%));
  background-color: var(--background-color);
}
@media print, screen and (max-width: 640px){
  .searchArea{
    min-height: 46px;
    max-height: 46px;
    border-top: 1px solid color(var(--background-color) shade(10%));
  }
}
/*批注*/
.annotator-adder{
  display: flex;
  margin-top: -45px !important;
  margin-left: -64px !important;
  width: auto !important;
  height: auto !important;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  background-image: none !important;
  &:before,&:after{
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 0;
  }
  &:before{
    border-width: 8px 8px 0 8px;
    top: 34px;
    border-color: #ddd transparent transparent;
  }
  &:after {
     border-width: 8px 8px 0 8px;
     top: 32px;
     border-color: #fff transparent transparent;
  }
}
.annotator-adder {
  & button.el-button {
    color: #333;
    text-indent: initial;
    width:auto !important;
    height:auto !important;
  &:hover{
  opacity: 0.8;
   }
  }
}
.annotator-controls .el-button {
  width: 56px;
  height: 24px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}
.annotator-controls .el-button--primary{
  background: var(--color-primary);
  color: #fff;
}
.annotator-controls .el-button + .el-button{
  margin-left:4px;
}
.annotator-controls .el-button--primary:active {
  background: color(var(--color-primary) tint(10%));
  border-color: color(var(--color-primary) tint(10%));
  color: #fff;
  outline: none;
}
.annotators .annotator-widget, .annotator-viewer .annotator-widget{
  background: #fff;
  box-shadow: 0 2px 9px rgba(0,0,0,.2);
  border: 1px solid #d1d9e5;
}
.annotator-viewer .annotator-widget:after{
  background-position: 0 -3px;
}
.annotator-editor .annotator-controls{
  background: #fff !important;
}
.annotator-editor .annotator-item textarea{font-style: normal !important;}
.annotator-editor .annotator-item input:focus, .annotator-editor .annotator-item textarea:focus {
  background-color: #fff !important;
}
.annotator-editor.annotators .annotator-widget:after {
  background-position: 0 -3px;
}
.annotator-highlights-always-on .annotator-hl{    background-color: var(--color-warning) !important;}
.bucket_bar {
  float: right; margin-right: 32px;
}
.bucket_bar .upper_indicator,.bucket_bar  .lower_indicator,.bucket_bar .indicators{
  box-sizing: border-box;
  border: solid 1px #d3d3d3;
  border-radius: 4px 4px 2px 2px;
  pointer-events: all;
  line-height: 20px;
  height: 20px;
  width: 32px;
  text-align: center;
  background-color: var(--color-info) !important;
  cursor: pointer;
  color: #fff;
  position: relative;
}
.upper_indicator:before, .lower_indicator:before, .bucket_bar .indicators:before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 8px;
}
.upper_indicator:before{
  top: -8px;
  left: 50%;
  margin-left:-8px;
  border-top-width: 0;
  border-bottom-color: var(--color-info);
}
.lower_indicator:before{
  bottom: -8px;
  left: 50%;
  margin-left: -8px;
  border-top-color: var(--color-info);
  border-bottom-width: 0;
}
.bucket_bar .indicators {
  border-radius: 4px 2px 2px 4px;
  cursor: default;
}
.bucket_bar .indicators:before{
  left:-6px;
  top: 50%;
  margin-top: -8px;
  border-left-width: 0;
  border-right-color: var(--color-info);
}
/*Preview弹出框返回文章按钮*/
.return-article{
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 24px;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(43, 51, 63, 0.7);
  border-radius: 4px;
  z-index: 10;
  & a{
    font-size: 0.5rem;
    padding:0 10px;
    color: #fff;
    display: inline-block;
  }
}
/*标注查看评论*/
.viewComment{
  float: right;
}
.icon-tools{
  display: flex;
  align-items: center;
& > span {
  color: var(--color-info);
  padding:2px 10px;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  &:hover{
     background: #efefef;
   }
  }
}
.tag {
  margin-bottom: 10px;
  & > .el-tag{
    margin-right: 10px;
  }
}
.width4em{
  width:70px;
  text-align: right;
  justify-content: flex-end;
}
.callout {
  position: relative;
  padding: 4px 6px;
  margin-top: 6px;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: white;
}
.callout.primary {
  background-color: color(var(--color-primary) tint(40%));
  color: #0a0a0a;
}
.callout.info {
  background-color: color(var(--color-info) tint(40%));
}
.custom-mod {
  padding: 1rem;
  background: var(--panel-color);
  & aside {
      margin-bottom:1rem;
  & .el-autocomplete{
      display: block;
    }
  & h3 {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 6px;
  & >a{
      float: right;
      font-size: 12px;
      font-weight: normal;
  &:hover{
     color: var(--color-primary) !important;
   }
  }
  & .swiper-page a{
      font-size: 1.2rem;
      padding: 2px 8px;
      border-radius:4px;
  &:hover{
     background: #eee;
   }
  }
  }
  &:first-child p{
     font-size: 0.625rem;
   }
  &:last-child, &:last-child ul {
                   margin-bottom: 0;
                 }
  }
}
