/* Demo style */

/* MediumLightbox style */

.article-section img{
  cursor: pointer;
  cursor: -webkit-zoom-in;
  backface-visibility: hidden;
}

.zoomImg-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200000;
  transition: transform .3s;
  opacity: 1;
}
.zoomImg-wrap img{
  max-width: 100%;
  object-fit: contain;
  max-height: 100%;
  transition: all .3s;
  z-index: 1;
  position: relative;
  cursor: -webkit-zoom-out;
  backface-visibility: hidden;
}
.zoomImg-wrap span{
  display: inline-block;
  position: absolute;
  z-index: 1;
  transition: all .3s;
}
.zoomOverlay.show{
  opacity: 1;
}

.zoomOverlay {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .3s;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  cursor: -webkit-zoom-out;
}
