<template>
</template>
<script>
  import { currUser } from '@/store/modules/helper'
  import restDataMixin from '@/util/restDataMixin'
  import { rest } from '@/util'
  import qs from 'qs'
  export default {
    mixins: [restDataMixin],
    data () {
      return {
        noticeKey: 'notice',
        selfKey: 'self',
        externalKey: 'external',
        currListIds: {},
        commentList: [],
        beforeLoadChild: true,
        showChildren: true,
        atUser: null,
        commentBody: {},
        commentDate: {},
        loadDataComplete: false,
        quoteType: '',
        currId: '',
        size: 10,
        canCommit: false
      }
    },
    props: {
      // 回复的评论被回复是否用上级评论框
      useParentComment: {
        type: Boolean,
        default: false
      },
      // 评论的对象的创建者
      objCreator: {
        type: String,
        required: true
      },
      // 评论创建在哪里，评论的对象ID
      createAt: {
        type: String,
        required: true
      },
      // 评论创建在哪里的类型，评论的对象的类型
      createAtType: {
        type: String,
        required: true
      },
      // 被回复的评论id
      idByReply: String,
      // 扩展字段，可以用来过滤评论数据，比如过滤某个帖子的某个资源时，这里可以存资源id
      ext: {
        type: String,
        default: null
      },
      // 评论是否自动加载
      loadData: {
        type: Boolean,
        default: false
      },
      // 是否启用评论
      enable: {
        type: Boolean,
        default: true
      },
      // 是否是preview的评论
      isPreviewComment: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      currUser,
      users () {
        return this.$store.state.dataPool.users
      },
      initData () {
        return false
      },
      listUrlParams () {
        let params = {}
        params.createAt = this.createAt
        params.type = this.createAtType
        params.idByReply = this.idByReply ? this.idByReply : ''
        params.ext = this.ext ? this.ext : ''
        return params
      },
      restUrlGetAll () {
//        if (this.page === 1) {
//          this.size += this.commentList.length
//        }
        return '/sns/comments?createAt={{createAt}}&type={{type}}&idByReply={{idByReply}}&size=' + this.size + '&page={{page}}&ext={{ext}}'
      },
      restUrlCreate () {
        return '/sns/comments?type=' + this.createAtType + '&quoteType=' + this.quoteType
      },
      restUrlDelete () {
        return '/sns/comments/delete/{{id}}'
      },
      restUrlEdit () {
        return '/sns/comments/' + this.currId + '?quoteType=' + this.quoteType
      },
      statusFetchList () {
        return this.rest.status.fetchList
      },
      restUrlGet () {
        return '/sns/comments/{{id}}'
      }
    },
    watch: {
      'rest.items' (nv) {
        this.loadDataComplete = true
        let newItems = [...nv]
//        newItems.reverse()
        let ids = this.commentList.map(v => v.id)
        newItems = newItems.filter(v => ids.indexOf(v.id) < 0)
        this.commentList = newItems.concat(this.commentList)
        this.commentList.sort((a, b) => a.createDate - b.createDate)
        this.commentList.forEach(cl => {
          this.$set(this.currListIds, cl.id, cl)
        })
        // todo 获取评论的点赞状态信息
        if (this.commentList && this.commentList.length > 0) {
          rest.get('/sns/operRecord/status', { objId: this.commentList.map(o => o.id), objType: 'COMMENT', action: 'praise' }, true).then(mapData => {
            if (mapData) {
              let commentListCopy = JSON.parse(JSON.stringify(this.commentList))
              commentListCopy.forEach((comment) => {
                this.$set(comment, 'isPraise', mapData[comment.id])
              })
              this.commentList = commentListCopy
            }
          })
        }
      }
    },
    methods: {
      getRoot () {
        let root = this
        while (root && !root.isRoot) {
          root = root.$parent
        }
        return root
      },
      replaceListItem (comment) {
        this.$set(this.currListIds, comment.id, comment)
        for (let index = 0; index < this.commentList.length; index++) {
          if (this.commentList[index].id === comment.id) {
            Object.keys(comment).forEach(k => {
              this.$set(this.commentList[index], k, comment[k])
            })
          }
        }
      },
      deleteListItem (id) {
        delete this.currListIds[id]
        for (let index = 0; index < this.commentList.length; index++) {
          if (this.commentList[index].id === id) {
            this.commentList.splice(index, 1)
          }
        }
        if (this.commentList.length === 0) {
          this.page = 0
          this.fetchData()
        }
      },
      watchDoAct () {
        let root = this.getRoot()
        this.$bus.$on('comment:create', (comment) => {
          let ext = comment.ext ? comment.ext : undefined
          if (comment.createAt === this.createAt && !this.currListIds[comment.id]) {
            if (comment.idByReply === this.idByReply) {
            } else {
              if (ext === this.ext && comment.idByReply === 'NULL_ID' && !this.idByReply && !this.useParentComment) { // previewComment
                this.rest.page.total = this.pageInfo.total + 1
              } else if (!this.ext && ext !== this.ext && comment.idByReply === 'NULL_ID' && !this.idByReply && !this.useParentComment) { // previewComment给feedComment添加item
                this.rest.page.total = this.pageInfo.total + 1
              } else {
                return
              }
            }
            root.$emit('createComment', comment, this.noticeKey)
//            if (!this.useParentComment) {
//              let comBody = comment.commentBody
//              if (root && comBody.commentQuote && comBody.commentQuote.quoteId && root.commentStyle) {
//                let quote = this.getQuote(comment)
//                root.$emit('createQuoteComment', comment)
//                  root.$emit('createComment', comment, 'socket')
//              }
//            }
            this.storeNeedData({
              type: 'user',
              dataIds: [comment.creator]
            })
              .then(users => {
                this.$set(this.currListIds, comment.id, comment)
                this.commentList.push(comment)
              })
          }
        })
        this.$bus.$on('comment:delete', (comment) => {
          if (comment.createAt === this.createAt && this.currListIds[comment.id]) {
            this.deleteListItem(comment.id)
            root.$emit('deleteComment', comment, this.noticeKey)
//            if (!this.useParentComment) {
//              let comBody = comment.commentBody
//              if (root && comBody.commentQuote && comBody.commentQuote.quoteId && root.commentStyle) {
//                root.$emit('deleteQuoteComment', comBody.commentQuote.quoteId)
//                  root.$emit('deleteComment', comment)
//              }
//            }
          }
        })
        this.$bus.$on('comment:update', (comment) => {
          if (comment.createAt === this.createAt && this.currListIds[comment.id]) {
            this.replaceListItem(comment)
            root.$emit('updateComment', comment, this.noticeKey)
//            if (!this.useParentComment) {
//              let comBody = comment.commentBody
//              if (root && comBody.commentQuote && comBody.commentQuote.quoteId && root.commentStyle) {
//                let quote = this.getQuote(comment)
//                root.$emit('updateQuoteComment', quote)
//                  root.$emit('updateComment', comment)
//              }
//            }
          }
        })
      },
      fetchData () {
        if (!this.listUrlParams.createAt || !this.listUrlParams.type) {
          return
        }
        this.loadDataComplete = false
        ++this.page
        this.getData().catch(err => {
          if (err.status < 10000) {
            console.log('system error:', err)
          } else {
            console.log('app error:', err)
          }
        })
      },
      restFilterGetAll (req) {
        return req.then(data => {
          return this.storeNeedData({
            type: 'user',
            dataIds: data.content.map(o => o.creator)
          })
          .then(users => {
            return data
          })
        })
      },
      getQuote (comment) {
        let quote = {}
        let comBody = comment.commentBody
        let type = comBody.commentQuote.quoteObjType
        quote.commentId = comment.id
        quote.id = comBody.commentQuote.quoteId
        quote.objId = comBody.commentQuote.quoteObjId
        quote.objType = type === 3 ? 'doc' : 'post'
        quote.quote = comBody.commentQuote.quoteValue
        quote.text = comBody.content
        quote.ranges = comBody.commentQuote.quoteLocation
        quote.userId = comment.creator
        return quote
      },
      getCommentQuote (objId, objType, qoute) {
        // 判断注释目标的类型，构建commentQuote
        let commentQuote = {}
        if (!objType) {
          return
        }
        let type = objType.trim().toLowerCase()
        if (type === 'image') {
          commentQuote = {
            ...qoute
          }
        } else if (type === 'video') {
          commentQuote = {
            quoteObjId: objId,
            quoteLocation: qoute
          }
        } else {
          commentQuote = {
            quoteId: qoute.id,
            quoteObjId: objId,
            quoteValue: qoute.quote,
            quoteLocation: qoute.ranges
          }
        }
        if (qoute.commentId) {
          this.currId = this.commentDate.id || qoute.commentId
          this.commentDate.id = this.commentDate.id || qoute.commentId
        }
        this.quoteType = objType
        return commentQuote
      },
      /**
       * 外部调用添加或更新评论
       * @param commentBody
       * @param objId
       * @param objType
       * @param quote
       * @param callBack
       */
      externalCommit (commentBody, {objId, objType, quote}, callBack) {
        let commentQuote = this.getCommentQuote(objId, objType, quote)
        if (commentQuote) {
          commentBody.commentQuote = commentQuote
        }
//        this.commentBody = commentBody
        this.commentDate.body = JSON.stringify(commentBody)
        this.commentDate.createAt = this.createAt
//        this.commentDate.createAtType = this.createAtType
        if (this.idByReply) {
          this.commentDate.idByReply = this.idByReply
        }
        if (this.ext) {
          this.commentDate.ext = this.ext
        }
        this.submitComment(this.commentDate, this.externalKey, callBack)
      },
      externalDelete (commentId) {
        this.deleteComment(commentId, this.externalKey)
      },
      commitComment (commentBody, {objId, objType, quote}, callBack) {
        let commentQuote = this.getCommentQuote(objId, objType, quote)
        if (commentQuote) {
          commentBody.commentQuote = commentQuote
        }
//        this.commentBody = commentBody
        this.commentDate.body = JSON.stringify(commentBody)
        this.commentDate.createAt = this.createAt
//        this.commentDate.createAtType = this.createAtType
        if (this.idByReply) {
          this.commentDate.idByReply = this.idByReply
        }
        if (this.ext) {
          this.commentDate.ext = this.ext
        }
        this.submitComment(this.commentDate, this.selfKey, callBack)
      },
      submitComment (item, sourceType, callBack) {
        if (this.canCommit) {
          return
        }
        sourceType = sourceType || this.selfKey
        this.canCommit = true
        let comBody = JSON.parse(item.body)
        if ((!comBody.content || comBody.content.trim().length === 0) &&
          comBody.resourceFiles.length === 0 &&
          (!comBody.chartlet || comBody.chartlet.trim().length === 0)) {
          this.canCommit = false
          this.msgWarning('未输入内容，随便写点什么吧')
          return
        }
        if (item.id) {
          this.saveCurrItem(item)
          .then((json) => {
            this.getRoot().$emit('updateComment', json, sourceType)
            this.canCommit = false
            this.msgSuccess('评论修改成功！')
            if (sourceType === this.externalKey && callBack && typeof callBack === 'function') {
//              quote = this.getQuote(json)
//              this.updateQuoteComent(quote, callBack)
              callBack(200, json)
            }
            this.quoteType = ''
            this.commentBody = {}
            this.commentDate = {}
            this.atUser = null
          })
          .catch(err => {
            this.canCommit = false
            if (err.status < 10000) {
              this.msgError('评论失败，请稍候重试！')
              console.log('system error:', err)
            } else {
              this.msgError(err.message)
              console.log('app error:', err)
            }
            if (sourceType === this.externalKey && callBack && typeof callBack === 'function') {
              let curr = this.commentList.filter(com => com.id === item.id)
              if (curr && curr.length) {
                callBack(err.status, curr[0])
              } else {
                rest.get('/sns/comments/' + item.id)
                .then(json => {
                  callBack(err.status, json)
                })
              }
            }
          })
        } else {
          this.restCreate(item)
          .then((json) => {
            this.getRoot().$emit('createComment', json, sourceType)
            this.canCommit = false
            if (sourceType === this.externalKey && callBack && typeof callBack === 'function') {
//              quote.commentId = json.id
//              this.updateQuoteComent(quote, callBack)
              callBack(200, json)
            }
            this.msgSuccess('评论成功！')
            this.showChildren = true
            if (!this.currListIds[json.id]) {
              this.$set(this.currListIds, json.id, json)
              this.commentList.push(json)
              if (json && (!json.idByReply || json.idByReply === 'NULL_ID')) {
                this.$nextTick(() => {
                  this.$bus.$emit('commentCreate:scrollIntoView', json.id)
                })
              }
            }
            this.commentBody = {}
            this.commentDate = {}
            this.atUser = null
            this.quoteType = ''
            ++this.rest.page.total
          })
          .catch(err => {
            this.canCommit = false
            if (sourceType === this.externalKey && callBack && typeof callBack === 'function') {
              callBack(err.status, null)
            }
            if (err.status < 10000) {
              this.msgError('评论失败，请稍候重试！')
              console.log('system error:', err)
            } else {
              this.msgError(err.message)
              console.log('app error:', err)
            }
          })
        }
      },
      deleteComment (id, sourceType) {
        if (id) {
          sourceType = sourceType || this.selfKey
          this.restDelete(id)
          .then((json) => {
            if (json !== null) {
              this.getRoot().$emit('deleteComment', json, sourceType)
              delete this.currListIds[id]
              this.removeItem(id, 1)
            } else {
              this.msgError('删除评论失败！')
            }
          })
        }
      },
      removeItem (id, rows) {
        if (rows > 0) {
          this.msgSuccess('删除评论成功！')
          this.rest.page.total = this.rest.page.total - rows
          for (let index = 0; index < this.commentList.length; index++) {
            if (this.commentList[index].id === id) {
              this.commentList.splice(index, 1)
            }
          }
          if (this.commentList.length === 0) {
            this.page = 0
            this.fetchData()
          }
        } else {
          this.msgError('删除评论失败！')
        }
      },
      updateQuoteComent (quote, callBack) {
        rest.edit(`/page/annotator/annotations/${quote.id}?${qs.stringify({json: JSON.stringify(quote)})}`)
          .then(json => {
            callBack.highlightAnn(quote)
          })
      },
      delQuoteComment (id, root) {
        rest.delete('/page/annotator/annotations/' + id)
          .then(json => {
            root.$emit('deleteQuoteComment', id)
          })
      },
      getOneComment (id, fun) {
        this.restGet(id)
        .then(data => {
          if (data && fun && typeof fun === 'function') {
            fun(data)
          }
          rest.get('/sns/operRecord/status', { objId: data.id, objType: 'COMMENT', action: 'praise' }, true).then(mapData => {
            if (mapData) {
              this.$set(data, 'isPraise', mapData[data.id])
            }
          })
        })
      }
    }
  }
</script>

