<template>
  <div>
    <div class="comment-inp"
         :ref="'commentContent' + containerId"
         :id="'editor' + containerId"
         @keyup.ctrl.enter="$emit('commitContent')"
         @input="handleInput">
         <p><br/></p>
    </div>
  </div>
</template>
<script>
  import { createMediumEditor } from '@/util/mediumEditor.js'

  export default {
    data () {
      return {
        editor: null,
        imgFileType: 'image/*',
        insertBtnBox: null,
        showPhotoAlbum: false,
        photoAlbum: [],
        containerId: (Math.random() * 10000 + '').split('.')[0],
        range: null,
        mediumContainer: null
      }
    },
    props: {
      value: {
        type: String,
        default: ''
      },
      placeholderTxt: {
        type: String,
        default: '有些话适合烂在这里...'
      },
      inputFocus: {
        type: Function,
        default: () => {}
      },
      inputBlur: {
        type: Function,
        default: () => {}
      },
      options: Object
    },
    mounted () {
      this.init()
    },
    watch: {
      value (newVal, oldVal) {
        if (!this.mediumContainer) {
          this.mediumContainer = this.$refs['commentContent' + this.containerId]
        }
        if (newVal !== this.mediumContainer.innerHTML) { // 用 $el.innerHTML 来解决 v-html 的光标跳到行首的问题
          this.mediumContainer.focus()
          document.execCommand('insertHtml', 0, newVal || '<p><br/></p>')
        }
      }
    },
    methods: {
      mediumFocus () {
        if (!this.mediumContainer) {
          this.mediumContainer = this.$refs['commentContent' + this.containerId]
        }
        this.mediumContainer.focus()
        const selection = window.getSelection()
        if (selection && selection.rangeCount > 0) {
          this.range = selection.getRangeAt(0)
        }
      },
      init () {
        createMediumEditor((MediumEditor, MediumButton) => {
          const editorSection = document.getElementById('editor' + this.containerId)
          this.insertBtnBox = document.querySelector('.inset-btn')
          let foptions = {
            placeholder: {
              text: this.placeholderTxt,
              hideOnClick: true
            },
            buttonLabels: 'fontawesome',
            toolbar: false,
            paste: {
              forcePlainText: true,
              cleanPastedHTML: false,
              cleanReplacements: [],
              cleanAttrs: ['class', 'style', 'dir'],
              cleanTags: ['meta'],
              unwrapTags: ['br']
            },
            anchorPreview: {
              showOnEmptyLinks: false
            },
            extensions: {
              'warning': new MediumButton({
                label: '<i class="color-danger fa fa-font"></i>',
                start: '<span class="color-danger">',
                end: '</span>'
              })
            }
          }

          if (this.options) {
            foptions = {...foptions, ...this.options}
          }
          const editor = new MediumEditor(editorSection, foptions)
          this.editor = editor
          editor.subscribe('editableClick', (e) => {
            const selection1 = window.getSelection()
            if (selection1 && selection1.rangeCount > 0) {
              this.range = selection1.getRangeAt(0)
            }
            if (e.target.tagName.toLowerCase() === 'img') {
              if (e.target.parentNode.textContent) {
                window.getSelection().removeAllRanges()
                let selection = window.getSelection()
                let range = document.createRange()
                range.selectNode(e.target)
                selection.addRange(range)
              } else {
                this.editor.selectElement(e.target.parentNode)
              }
            }
            this.inputFocus()
          })
          // editor.subscribe('editableInput', (e) => {
          //   this.handleInput(e)
          // })
          editor.subscribe('editableMouseover', (e) => {
            if (e.target.tagName.toLowerCase() === 'img') {
              let range = document.createRange()
              range.selectNode(e.target)
            }
          })
          editor.subscribe('blur', (e) => {
            this.inputBlur()
          })
        })
      },
      handleInput (e) {
        let html = this.editor.getContent()
        let replaceContent = html ? html.replace(/(<p><br \/><\/p>)*/, '').replace(/(<p><br><\/p>)*/, '').replace(/(<p><\/p>)*/, '') : ''
        html = replaceContent.trim().length > 0 ? html : ''
        const selection = window.getSelection()
        if (selection && selection.rangeCount > 0) {
          this.range = selection.getRangeAt(0)
        }
        this.$emit('input', html)
      },
      addImage () {
        this.$refs.imgUploader.$children[0].handleClick()
      },
      imgHtml (res, file) {
        return `<p><img class="img" src="` + URL.createObjectURL(file.raw) + `" data-storeId="` + res.data.storeId + `"/></p>`
      },
      imgPhotoAlbumHtml (file) {
        return `<p><img class="img" src="` + file.imgUrl + `" data-storeId="` + file.storeId + `"/></p>`
      },
      successUpload (res, file, fileList) {
        fileList.splice(fileList.indexOf(file), 1)
        if (file.response.status === 200 && file.response.data.ret === 0) {
          var html = this.imgHtml(res, file)
          let pasteBlock = document.createDocumentFragment()
          pasteBlock.appendChild(document.createElement('body'))
          let fragmentBody = pasteBlock.querySelector('body')
          fragmentBody.innerHTML = html
          this.editor.pasteHTML(fragmentBody.innerHTML)
        }
      },
      addPhotoAlbumImage (item) {
        this.showPhotoAlbum = false
        let html = this.imgPhotoAlbumHtml(item)
        let pasteBlock = document.createDocumentFragment()
        pasteBlock.appendChild(document.createElement('body'))
        let fragmentBody = pasteBlock.querySelector('body')
        fragmentBody.innerHTML = html
        this.editor.pasteHTML(fragmentBody.innerHTML)
      },
      insertIcon (path) {
        let src = `${this.$router.options.base}static/emoji/${path}`
        let icon = '<img src="' + src + '" data-face="' + path + '">'
        const fn = () => {
          const r = this.range.cloneRange()
          r.setStart(r.endContainer, this.range.endOffset)
          r.setEnd(r.endContainer, this.range.endOffset)
          // hack: 连续两次 可以确保click后 focus回来 range真正生效
          this.applyRange(r)
          this.applyRange(r)
          document.execCommand('insertHtml', false, icon)
        }
        if (this.range) {
          fn()
        } else {
          this.mediumFocus()
          fn()
        }
      },
      applyRange (range) {
        const selection = window.getSelection()
        if (selection) { // 容错
          selection.removeAllRanges()
          selection.addRange(range)
        }
      },
      getCaretPosition (oField) {
        var iCaretPos = 0
        var doc = oField.ownerDocument || oField.document
        var win = doc.defaultView || doc.parentWindow
        var sel
        if (typeof win.getSelection !== 'undefined') {
          sel = win.getSelection()
          if (sel.rangeCount > 0) {
            var range = win.getSelection().getRangeAt(0)
            var preCaretRange = range.cloneRange()
            preCaretRange.selectNodeContents(oField)
            preCaretRange.setEnd(range.endContainer, range.endOffset)
            iCaretPos = preCaretRange.toString().length
          }
        } else if ((sel = doc.selection) && sel.type !== 'Control') {
          var textRange = sel.createRange()
          var preCaretTextRange = doc.body.createTextRange()
          preCaretTextRange.moveToElementText(oField)
          preCaretTextRange.setEndPoint('EndToEnd', textRange)
          iCaretPos = preCaretTextRange.text.length
        }
        return (iCaretPos)
      }
    },
    beforeDestroy () {
      if (this.editor) {
        this.editor.destroy()
      }
    }
  }
</script>
<style>
  .atwho-query:before {
    content: attr(data-datas);
    display: inline-block;
  }
</style>
