<template>
  <div class="comments" :class="{'comment-area':isCommentArea}">
    <div class="figure-comment comment-top clearfix" v-if="articleComment">
      <comment
        v-if="enable"
        :placeholderTxt="'写评论…'"
        :commentBody="commentBody"
        :publish="commitComment"
        :verticleShow="commentStyle"
        :showTimePoint="showTimePoint"
        :quoteObjId="ext"
        :qouteType="qouteType"
      ></comment>
      <div v-if="!enable" class="close-comment">
        {{closeCommentMsg}}
      </div>
    </div>
    <div class="comment-lists comment-panel" :class="{scrollCss:commentStyle}" v-show="showCommentTree">
      <list-loading :loading="statusFetchList" v-if="statusFetchList"></list-loading>
      <div class="comment-tree" v-if="commentList.length>0">
        <div v-if="!pageInfo.last" class="other-reply">
          <el-button type="text" class="color-info replys" @click="fetchData" v-if="pageInfo.total - commentList.length>0">
            其他{{pageInfo.total - commentList.length}}条评论
          </el-button>
          <span class="reply-num">{{commentList.length}}/{{pageInfo.total}}</span>
        </div>
        <ul class="comment-tree-ul">
          <comment-item
            v-for="(item, index) in commentList"
            :key="item.id"
            :item="item"
            :objCreator="objCreator"
            :createAt="createAt"
            :createAtType="createAtType"
            :idByReply="item.id"
            :ext="item.ext"
            :loadData="(loadData && !roots)&&loadDataComplete&&item.childCount>0"
            @delComment="deleteComment"
            :enable="enable"
            :isPreviewComment="isPreviewComment"
          ></comment-item>
        </ul>
      </div>
    </div>
    <div v-if="!articleComment" class="bottom-add-comment">
      <comment
        v-if="enable"
        ref="commentRef"
        :placeholderTxt="'写评论…'"
        :commentBody="commentBody"
        :publish="commitComment"
        :verticleShow="commentStyle"
        :showTimePoint="showTimePoint"
        :quoteObjId="ext"
        :qouteType="qouteType"
      ></comment>
      <div v-if="!enable" class="close-comment">
        {{closeCommentMsg}}
      </div>
    </div>
  </div>
</template>
<script>
  import BaseComment from './BaseComment'
  import Comment from './Comment'
  import CommentItem from './CommentItem'
  export default {
    extends: BaseComment,
    components: {
      Comment,
      CommentItem
    },
    data () {
      return {
        isRoot: true,
        isChangeLoad: false
      }
    },
    props: {
      bindRef: {
        type: Object
      },
      showCommentTree: {
        type: Boolean,
        default: true
      },
      roots: {
        type: Object,
        default: function () {
          return null
        }
      },
      commentStyle: {
        type: Boolean,
        default: false
      },
      showTimePoint: {
        type: Boolean,
        default: false
      },
      qouteType: String,
      articleComment: {
        tyle: Boolean,
        default: false
      },
      isCommentArea: {
        tyle: Boolean,
        default: false
      }
    },
    watch: {
      roots (nv, ov) {
//        if (nv && !this.loadData) { // 如果roots不为空且loadData为false时才用roots
        if (nv && nv.comments) { // 只要roots不为空就直接用
          this.rest.page.last = nv.last
          this.rest.page.total = nv.commentCount + nv.comments.length
          let newVal = [...nv.comments]
          newVal.reverse()
          this.commentList = newVal
          this.commentList.forEach(cl => {
            this.$set(this.currListIds, cl.id, cl)
          })
        }
      },
      loadData (nv, ov) {
        if (nv && !this.isChangeLoad && !this.roots) {
          this.isChangeLoad = true
          this.page = 0
          this.fetchData()
        }
      }
    },
    computed: {
      closeCommentMsg () {
        return this.currUser.id === this.objCreator ? '你关闭了评论功能！' : '这人太气人了，不让人评论~'
      }
    },
    created () {
      if (this.loadData && !this.roots) {
        this.page = 0
        this.fetchData()
      }
      this.$watch(() => this.createAt + this.createAtType + this.ext, () => {
        this.commentList = []
        this.page = 0
        this.fetchData()
      })
      this.watchDoAct(this)
      if (this.isPreviewComment) {
        this.$bus.$on('comment:gotoItem', (option) => {
          if (option.createAt === this.createAt &&
            option.createAtType === this.createAtType &&
            (option.ext ? option.ext === this.ext : true) &&
            (option.qouteType ? option.qouteType === this.qouteType : true) &&
            option.objCreator === this.objCreator) {
            let commentId = option.commentId
            if (this.currListIds[commentId]) {
              this.$bus.$emit('comment:scrollIntoView', commentId)
            } else {
              this.getOneComment(commentId, (data) => {
                this.currListIds[commentId] = data
                this.commentList.splice(0, 0, data)
                this.$nextTick(() => {
                  this.$bus.$emit('comment:scrollIntoView', commentId)
                })
              })
            }
          }
        })
      }
    }
  }
</script>
<style>
 @import 'css/variable.css';
 .comment-area{
   padding: 2px 2rem 1rem;
 }
  .comment-top{
    margin:6px 0 1.5rem 0;
  }
  .add-comment .media-object{
    margin: 0;
  }
  .comment-tree-ul{
    /*border-bottom: 1px solid #ddd;*/
    margin: 0;
  }
  .other-reply{
    position: relative;
    font-size: 10px;
  }
  .replys{
    padding: 0;
  }
  .other-reply span{
    font-size: 10px;
  }
  .reply-num{
    float: right;
  }
  .close-comment{
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: var(--color-secondary);
    font-size: 12px;
  }
</style>
