<template>
  <li class="comment-li" :ref="'commentItemLi' + item.id">
    <div class="user transverse">
      <div class="img img30" :class="{'small-img':small}">
        <user-block tagName="div" :user="itemUser">
          <router-link :to="{ name: 'user', params: { userId: itemUser.id }}" :title="itemUser.userName">
            <img class="img" style="width: 40px;height: auto" :alt="itemUser.userName" :src="itemUser.avatar" v-error-img:user />
          </router-link>
        </user-block>
      </div>
      <div class="content"  :class="{'small-content':small}">
        <div class="contentWrap">
          <div class="username no-margin">
            <router-link :to="{ name: 'user', params: { userId: itemUser.id }}" ><span @mouseenter="showUser($event, itemUser)" @mouseleave="hideUser($event, itemUser)" @click="clickUser($event, itemUser)">{{itemUser.userName}}</span></router-link>
            <!--<i class="fa fa-venus color-danger"></i>-->
          </div>
          <div class="manager">
            <span class="color-secondary font-s12">{{item.createDate | dateFormat}}</span>
            <a v-if="enable">
              <el-popover
                popper-class="vertical"
                ref="more"
                placement="bottom-start"
                width="auto"
                trigger="hover"
                v-model="showManagerPopover"
                v-show="hasEditManager||hasDelManager">
                <ul class="vertical-menu">
                  <li v-if="hasEditManager" @click="editorComment(item)" title="编辑评论"><i class="fa fa-pencil-square-o padding-r6"></i>编辑</li>
                  <li v-if="hasDelManager" @click="deleteCurrComment(item)" title="删除评论"><i class="delete-comment fa fa-trash padding-r6"></i>删除</li>
                  <!--<li @click="hideComment(item.id)" title="隐藏评论"><i class="fa fa-window-close padding-r6"></i>隐藏</li>-->
                </ul>
              </el-popover>
              <span v-popover:more v-show="hasEditManager||hasDelManager"><a><i class="fa fa-angle-down margin-l10" title="操作"></i></a></span>
              <!--<el-tooltip v-else class="margin-l10" effect="dark" content="隐藏评论" placement="top-start">-->
              <!--<span @click="hideComment(item.id)"><i class="fa fa-close"></i></span>-->
              <!--</el-tooltip>-->
            </a>
            <span v-if="!((hasEditManager||hasDelManager)&&enable)" class="margin-l10">
              <i>&nbsp;&nbsp;</i>
            </span>
          </div>
          <div class="comment-content">
            <component
              :is="getQuoteItemViewName(item)"
              :item="item"
              @localQuote="localQuote"
              @initQuoteResource="initQuoteResource"
              v-if="!!commentQuote || !getQuoteItemViewName(commentQuote)">
            </component>
            <div class="font-s14" :class="commentFiles.length > 0 ? 'margin-b10' : ''" v-html="showAllContent ? commentContent : commentDesc" @click="toggleContent"></div>
            <div v-if="commentFiles.length > 0">
              <div class="file-image" v-if="commentFiles[0].type === 'image' || commentContentType === 'image'">
                <div class="img-list comment-img-list margin-b10 clearfix" :class="showMaxImage ? 'large-up-1' : 'large-up-3'">
                  <div class="column flex-center" v-for="file in commentFiles">
                    <a>
                      <img :style="{cursor: showMaxImage ? 'zoom-out' : 'zoom-in'}"
                           :src="file.datas['550x'] || file.datas['700x'] || file.datas['1000x']"
                           @click="showMaxImage = !showMaxImage"/>
                    </a>
                  </div>
                </div>
              </div>
              <div class="file-video" v-else-if="commentFiles[0].type === 'image' === 'video' || commentContentType === 'video'">
                <div v-for="file in commentFiles">
                  <div class="vedio-img" v-show="showVideoImage"
                       @click="showVideoImage = false">
                    <img  :src="file.datas['550x'] || file.datas['mp4_to_jpg']" title="查看视频"/>
                    <span class="play-btn"><i class="fa fa-play-circle-o"></i></span>
                  </div>
                  <div class="vedio-con" v-if="!showVideoImage">
                    <video-play
                      :ref="'videoPlayer' + file.id"
                      :options="getPlayerOptions(file)"></video-play>
                    <div class="margin-t6 font-s12 color-secondary" @click="showVideoImage = true"><a>收起</a></div>
                  </div>
                </div>
              </div>
            </div>
            <span class="operation" v-if="enable">
              <a @click="praiseClick" v-show="praiseCount<=0">
                <!--<i class="fa fa-thumbs-o-up" title="点赞"></i>-->
                {{item.isPraise ? '已赞' : '点赞'}}<span v-if="praiseCount > 0">({{praiseCount}})</span>
              </a>
              <a @click="praiseClick" v-show="praiseCount>0">
                <popover-block tagName="span" eventKey="operRecord" :data="{objType:'COMMENT',objId:item.id,action:'praise',titleName:'赞'}">
                  <!--<i class="fa fa-thumbs-o-up" title="点赞"></i>-->
                  {{item.isPraise ? '已赞' : '点赞'}}<span v-if="praiseCount > 0">({{praiseCount}})</span>
                </popover-block>
              </a>
              <a title="回复" @click="reComment(itemUser)">
                <!--<i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(itemUser.id)"></i>-->
                回复
              </a>
            </span>
          </div>
        </div>
        <div v-if="hasChildren">
            <el-button type="text" class="color-info other-reply" @click="loadChildren()" v-if="item.childCount>0&&beforeLoadChild&&pageInfo.total !== commentList.length||(pageInfo.total!==commentList.length&&commentList.length===0)">
              其他{{pageInfo.total - commentList.length}}条回复
            </el-button>
            <list-loading :loading="statusFetchList" v-if="statusFetchList"></list-loading>
            <ol class="commentChildren" v-if="showChildren">
              <comment-item
                v-for="child in commentList"
                :item="child"
                :key="child.id"
                :useParentComment="true"
                :objCreator="objCreator"
                :createAt="createAt"
                :createAtType="createAtType"
                :ext="child.ext"
                :small="true"
                @delComment="deleteComment"
                @showParentComment="changeCommentStatus"
                :enable="enable"
                :isPreviewComment="isPreviewComment"
              ></comment-item>
            </ol>
            <el-button type="text" class="color-info other-reply" @click="toggleChildren()" v-if="pageInfo.total>0&&(!beforeLoadChild&&pageInfo.total===commentList.length||!showChildren)">
              {{showChildren? '隐藏' : '显示'}}{{pageInfo.total}}条回复
            </el-button>
            <el-button type="text" class="color-info other-reply" v-show="!beforeLoadChild&&showChildren&&pageInfo.total!==commentList.length&&!(pageInfo.total!==commentList.length&&commentList.length===0)" @click="loadChildren();">
              查看更多回复
            </el-button>
            <el-button type="text" class="color-info other-reply" v-show="!beforeLoadChild&&showChildren&&pageInfo.total!==commentList.length&&!(pageInfo.total!==commentList.length&&commentList.length===0)" @click="toggleChildren">
              收起全部
            </el-button>
          </div>
      </div>
    </div>
    <comment
      ref="commentRef"
      v-if="enable"
      :placeholderTxt="'回复...'"
      buttonTitle="回复"
      :atUser="atUser"
      :publish="commitComment"
      :commentBody="commentBody"
      v-show="isShowCurrComment()"></comment>
  </li>
</template>
<script>
  import * as qouteItems from '../qouteitems'
  import UserBlock from '@/views/user/UserBlock'
  import PopoverBlock from '@/views/user/PopoverBlock'
  import VideoPlay from '@/components/VideoPlayer'

  //  import { rest } from '@/util'

  const qouteItemsViews = {...qouteItems}
  delete qouteItemsViews['default']
  const getQuoteItemViewName = qouteItems.default

  import BaseComment from './BaseComment'
  import Comment from './Comment'
  import { rest, convertAtUsers, convertEmoji, cleanHtml, cleanMorePLine } from '@/util'
  import VideoPlayer from '../VideoPlayer/VideoPlayer'
  export default {
    name: 'comment-item',
    extends: BaseComment,
    components: {
      VideoPlayer,
      UserBlock,
      PopoverBlock,
      Comment,
      VideoPlay,
      ...qouteItemsViews
    },
    data () {
      return {
        commentDesc: '',
        commentContent: '',
        showReComment: false,
        showManagerPopover: false,
        hasEditManager: false,
        hasDelManager: false,
        changeItemLi: false,
        isOperingPraise: false,
        operCount: 0,
        showAllContent: false,
        showMaxImage: false,
        heightStyle: 'max-width: 200px;height: auto;',
        showVideoImage: true
      }
    },
    props: {
      item: Object,
      small: false
    },
    computed: {
      commentQuote () {
        let commentQuote = this.item ? this.item.commentBody ? this.item.commentBody.commentQuote : {} : {}
        if (commentQuote && !commentQuote.quoteId) {
          commentQuote.quoteId = this.item.id
        }
        return commentQuote
      },
      hasChildren () {
        return this.item && this.item.childCount > 0 || this.commentList.length > 0
      },
      itemUser () {
        return this.users[this.item.creator]
      },
      praiseCount () {
        let count = 0
        if (this.item.operCounts) {
          let operCounts = JSON.parse(JSON.stringify(this.item.operCounts))
          operCounts = JSON.parse(operCounts)
          if (operCounts && operCounts.forEach) {
            operCounts.forEach((group) => {
              count += group[1]
            })
          }
        }
        return count > 0 ? count : ''
      },
      commentContentType () {
        return this.item && this.item.commentBody ? this.item.commentBody.contentType : 'text'
      },
      commentFiles () {
        return this.item && this.item.commentBody ? this.item.commentBody.resourceFiles : []
      }
    },
    created () {
      this.page = 0
      if (this.loadData) {
        this.fetchData()
      }
      if (!this.useParentComment) {
        let root = this.getRoot()
        this.watchDoAct(root)
      }
      // 添加事件监听
      if (this.isPreviewComment) {
        this.$bus.$on('comment:scrollIntoView', (commentId) => {
          if (this.item.id === commentId) {
            this.$refs['commentItemLi' + this.item.id].setAttribute('class', 'comment-li focusLi')
            this.$refs['commentItemLi' + this.item.id].scrollIntoView()
            setTimeout(() => {
              this.$refs['commentItemLi' + this.item.id].setAttribute('class', 'comment-li')
            }, 1000)
          }
        })
        this.$bus.$on('commentCreate:scrollIntoView', (commentId) => {
          if (this.item.id === commentId) {
            this.$refs['commentItemLi' + this.item.id].scrollIntoView()
          }
        })
      }
    },
    watch: {
      'item.commentBody.content' (nv) {
        this.doConvertAtUsers(nv)
      }
    },
    mounted () {
      if (this.item && this.item.commentBody) {
        this.doConvertAtUsers(this.item.commentBody.content)
      }
      this.hasEditManager = this.currUser.id === this.item.creator
      this.hasDelManager = this.hasEditManager || this.objCreator === this.currUser.id
      this.rest.page.total = this.item.childCount
    },
    methods: {
      cleanHtml,
      convertAtUsers,
      doConvertAtUsers (content) {
        this.convertAtUsers(content)
        .then(data => {
          data = data || ''
          let desc = this.cleanHtml(data, 85, '...')
          let all = this.cleanHtml(data, data.length, null)
          if (desc === all) {
            this.commentContent = desc ? cleanMorePLine(convertEmoji(data), 1, '<p><br></p>') : ''
            if (!this.commentContent.startsWith('<p>')) {
              this.commentContent = '<p>' + this.commentContent + '</p>'
            }
            this.commentDesc = this.commentContent
          } else {
            this.commentDesc = desc ? '<p>' + desc + '<a class="toggle-recomment color-info">详细</a></p>' : ''
            let contentBody = document.createElement('p')
            contentBody.innerHTML = cleanMorePLine(convertEmoji(data), 1, '<p><br></p>')
            if (contentBody.lastElementChild) {
              contentBody.lastElementChild.innerHTML = contentBody.lastElementChild.innerHTML + '<a class="toggle-recomment color-info margin-l4">收起</a>'
              this.commentContent = contentBody.innerHTML
            } else {
              contentBody.innerHTML = contentBody.innerHTML + '<a class="toggle-recomment color-info margin-l4">收起</a>'
              this.commentContent = contentBody.innerHTML
            }
          }
        })
      },
      toggleContent (e) {
        if (e.target.tagName === 'A' && e.target.className.includes('toggle-recomment')) {
          this.showAllContent = !this.showAllContent
        }
      },
      showUser (event, user) {
        event.target.setAttribute('show', true)
        let showTimeId = setTimeout(() => {
          let show = event.target.getAttribute('show')
          if (show === 'true') {
            event.target.setAttribute('isShow', true)
            this.$bus.$emit('user:showPopover', {
              elem: event.target,
              user: user
            })
          }
        }, 600)
        event.target.setAttribute('showTimeId', showTimeId)
      },
      hideUser (event, user) {
        event.target.setAttribute('show', false)
        let showTimeId = event.target.getAttribute('showTimeId')
        if (showTimeId) {
          clearTimeout(showTimeId)
          event.target.setAttribute('showTimeId', '')
        }
        let isShow = event.target.getAttribute('isShow')
        if (isShow === 'true') {
          event.target.setAttribute('isShow', false)
          this.$bus.$emit('user:hidePopover', {
            elem: event.target,
            user: user
          })
        }
      },
      clickUser (event, user) {
        this.$bus.$emit('user:closePopover', {
          elem: event.target,
          user: user
        })
      },
      getQuoteItemViewName,
      localQuote (...args) {
        let root = this.getRoot()
        if (root) {
          root.$emit('localQuote', ...args)
        }
      },
      initQuoteResource (...args) {
        let root = this.getRoot()
        if (root) {
          root.$emit('initQuoteResource', ...args)
        }
      },
      praiseClick () {
        // 限制并发请求
        if (this.isOperingPraise) {
          return
        }
        // 限制请求次数
        if (this.operCount > 5) {
          return
        }
        this.isOperingPraise = true
        let req
        if (this.item.isPraise) {
          req = rest.delete('/sns/operRecord', {objType: 'COMMENT', objId: this.item.id, action: 'praise', actionArg: 'FEEL_PRAISE'})
        } else {
          req = rest.create('/sns/operRecord', {objType: 'COMMENT', objId: this.item.id, action: 'praise', actionArg: 'FEEL_PRAISE'})
        }
        req.then((data) => {
          this.item.isPraise = !this.item.isPraise
          this.changePraise(1, this.item.isPraise ? 1 : -1)
          this.isOperingPraise = false
          this.operCount ++
        }).catch((e) => {
          console.log('点赞失败！', e)
          this.msgError('点赞操作失败, 请稍候重试！')
          this.isOperingPraise = false
          this.operCount ++
        })
      },
      changePraise (arg, appendCount) {
        let operCounts = []
        if (this.item.operCounts) {
          operCounts = JSON.parse(this.item.operCounts)
        }
        let isExist = false
        for (var i = 0; i < operCounts.length; i++) {
          if (operCounts[i][0] === arg) {
            isExist = true
            operCounts[i][1] += appendCount
            break
          }
        }
        if (!isExist) {
          operCounts.push([arg, appendCount])
        }
        this.item.operCounts = JSON.stringify(operCounts)
      },
      isShowCurrComment () {
        let isShow = this.showReComment
        if (this.useParentComment) {
          isShow = false
        }
        return isShow
      },
      reComment (user) {
        this.atUser = null
        this.showReComment = true
        if (this.useParentComment) {
          this.$emit('showParentComment', {
            showReComment: true,
            user: user
          })
        }
      },
      deleteCurrComment (item) {
        if (!item || !item.id) {
          return
        }
        this.$emit('delComment', item.id)
      },
      changeCommentStatus (data) {
        this.showReComment = data.showReComment
        this.$refs.commentRef.commentFocus()
        this.atUser = data
      },
      toggleChildren () {
        if (this.showChildren) {
          this.showChildren = false
        } else {
          this.showChildren = true
        }
      },
      editorComment (item) {
        this.rest.currItem = item
        this.commentDate = item
//        将li里面的更改成可输入的编辑框
        this.msgInfo('该功能正在开发中...')
        this.changeItemLi = true
      },
      loadChildren () {
        this.beforeLoadChild = false
        if (this.pageInfo.last) {
          this.showChildren = true
          return
        }
        this.fetchData()
      },
      getPlayerOptions (resourceFile) {
        return {
          start: 0,
          autoplay: true,
          showFullBtn: false,
          preload: 'none',
          playsinline: false,
          muted: false,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: 'video/mp4',
            src: resourceFile.datas['mp4x'] || resourceFile.datas['mp4']
          }],
          sourceId: resourceFile.rsId,
          poster: resourceFile.datas['550x'] || resourceFile.datas['mp4_to_jpg']
        }
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .comment-li{
    padding-top: 6px;
    border-bottom: 1px solid #f6f3f3;
    &:first-child{
      padding: 0;
    }
  }
  .comment-tree ul li{
    list-style: none;
  }
  .small-img{
    width: 22px!important;
    height: 22px!important;
  }
  .small-content{
    padding-left: 32px!important;
  }
  .content{
    position: relative;
  }
  .manager{
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .manager i{
    color: var(--color-secondary);
    cursor: pointer;
  }
  .operation{
    display: inline-block;
  }
  .operation a{
    color: var(--color-secondary);
    font-size: 12px;
    margin-right: 10px;
    &:hover {
      color: var(--color-primary);
    }
  }
  .comment-content p{
    margin: 0;
    font-size: 13px;
    /*display: inline-block;*/
  }
  .delete-comment{
    width: 14px;
  }
  .comment-tree ul li:last-child{
    border: none!important;
  }
  .comment-li .add-comment .media-object{
    margin: 8px 0px 18px 50px;
  }
  .other-reply{
    position: relative;
    font-size: 10px;
    padding: 0 0 6px 0;
  }
  .other-reply span{
    font-size: 10px;
    color: var(--color-secondary);
  }
  .focusLi{
    /*background: #f2f2f2;*/
    animation: focusLi 0.3s infinite ease-in-out;
  }
  @-webkit-keyframes focusLi { /*透明度由0到1*/
    0%{
      background: rgba(255,255,255,0.6); /*透明度为0*/
    }
    100%{
      background: #f3f3f3;

    }
  }
  .toggle-recomment {
    white-space: nowrap;
  }
  .comment-img-list .column a{
    object-fit: contain;
  }
  .vedio-img {
    width: 160px;
    height: 90px;
    background: #eee;
    background: #eee;
    position: relative;
    &:hover .play-btn {
      background: rgba(0,0,0,.6);
      color: #fff;
    }
    & .play-btn{
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 36px;
      color:var(--color-secondary);
      height: 100%;
      width: 100%;
      transition: background 0.3s, color  0.3s;
      cursor: pointer;
    }
  }
</style>
