<template>
  <div class="add-comment">
    <div :class="{'media-object':!verticleShow}">
      <div class="media-object-section shrink" v-if="!verticleShow">
        <div class="comment-head"><img :src="currUserImg" v-error-img:user :alt="currUser.userName"></div>
      </div>
      <div :class="{'media-object-section':!verticleShow,'comment-section':!verticleShow,'column-reverse':verticleShow}">
        <div class="comment-box" :class="{verticle: verticleShow}">
          <div class="comment-btn comment-tools" v-if="verticleShow">
            <el-tooltip class="item" effect="dark" content="插入表情" placement="top-start">
              <emoji-block tagName="a" :addFace="insertIcon"><i class="fa fa-smile-o"></i></emoji-block>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="附加照片或视频" placement="top-start">
              <a @click="uploadOpen"><i class="fa fa-camera-retro"></i></a>
            </el-tooltip>
            <div v-if="verticleShow&&showTimePoint">
              <span class="add-time-btn el-tag el-tag--gray" @click="addTimePoint" v-if="!isTimePoint">添加时间驻点</span>
              <span class="add-time-btn el-tag el-tag--gray" @click="addTimePoint" v-else>
                <i class="fa fa-clock-o"></i> {{videoDuration(currentTime)}}
                <i class="el-tag__close el-icon-close"></i>
              </span>
            </div>
            <!--<el-tooltip class="item" effect="dark" content="发贴图" placement="top-start">-->
              <!--<a><i class="fa fa-picture-o"></i></a>-->
            <!--</el-tooltip>-->
          </div>
          <div class="comment-txt">
            <at ref="commentAt"
                name-key="name">
              <!--<template slot="item" scope="s">
                <span><img :src="s.item.avatar_c" v-error-img:user></span>
                <span v-text="s.item.name"></span>
              </template>-->
              <comment-medium
                ref="commmentMedium"
                @commitContent="commitComent"
                :inputFocus="(range) => { this.$refs.commentAt.handleInput() }"
                :inputBlur="() => { this.$refs.commentAt.inputBlur() }"
                :placeholderTxt="placeholderTxt"
                v-model="content"></comment-medium>
            </at>
            <!--<div class="comment-inp"  contenteditable="true" :placeholder="placeholderTxt" v-model="content" ></div>-->
            <!--<input class="comment-inp" type="text" :placeholder="placeholderTxt" @keyup.ctrl.enter="commitComent" v-model="content" v-if="!verticleShow"/>-->
            <!--<textarea class="scrollCss" :placeholder="placeholderTxt" @keyup.enter="commitComent" v-model="content" v-if="verticleShow"></textarea>-->
          </div>
          <div class="comment-btn" v-if="!verticleShow">
            <el-tooltip class="item" effect="dark" content="插入表情" placement="top-start">
              <emoji-block tagName="a" :addFace="insertIcon"><i class="fa fa-smile-o"></i></emoji-block>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="附加照片或视频" placement="top-start">
              <a @click="uploadOpen"><i class="fa fa-camera-retro"></i></a>
            </el-tooltip>
            <!--<el-tooltip class="item" effect="dark" content="发贴图" placement="top-start">-->
              <!--<a><i class="fa fa-picture-o"></i></a>-->
            <!--</el-tooltip>-->
            <el-button class="comment-sub no-margin" type="info" size="small" @click="commitComent">{{buttonTitle}}</el-button>
          </div>
          <div class="comment-commit float-right margin-r10" v-if="verticleShow">
            <el-button type="success" size="small" @click="commitComent">{{buttonTitle}}</el-button>
          </div>
        </div>
        <div class="comment-file file-container" v-if="isCommentFile" v-show="beforeUploadShow">
          <div :id="iconType?'':'imgContent'" :class="iconType?'videoContent':''">
            <upload
              ref="imageUpload"
              :class="iconType?'upload-video':''"
              :action="getAction"
              :on-change="onFileChange"
              :before-upload="beforeUpload"
              :on-success="onUploadSuccess"
              :on-error="onUploadError"
              :on-preview="onFilePreview"
              :on-remove="onFileRemove"
              :icon-type="iconType"
              :file-list="files"
              :list-type="listType"
              :limitNum="limitNum">
              <i class="el-icon-plus"></i>
            </upload>
          </div>
          <el-progress v-if="showProcessLine" :percentage="convertPercentage" :status="convertSucess?'success': ''"></el-progress>
          <div v-if="showProcessLine && !convertSucess" class="color-secondary font-s12">正在转换...</div>
          <i class="fa fa-times" aria-hidden="true" @click="fileContainerClose" title="关闭上传"></i>
          <!--<el-button type="primary" icon="close" size="mini" class="file-container-close" @click="fileContainerClose"></el-button>-->
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import { rest, videoDuration, wrapUrl } from '@/util'
  import { currUser, currUserImg } from '@/store/modules/helper'
  import { currVideoPlayInfo, currVideoPlayControl, types } from '@/store/modules/player'
  import CommentMedium from './CommentMedium'
  import At from '@/components/atwho/At'
  import EmojiBlock from '@/components/emoji/EmojiBlock'
  import Upload from '@/components/eleme/upload/src'
  export default {
    components: {
      CommentMedium,
      At,
      EmojiBlock,
      Upload
    },
    data () {
      return {
        currentTime: null,
        commentContent: '',
        bodyData: {
          contentType: 'text',
          resourceFiles: []
        },
        defBody: {
          contentType: 'text',
          resourceFiles: []
        },
        content: '',
        isTimePoint: false,
        realAtUser: null,
        range: null,
        dialogImageUrl: '',
        limitNum: 1,
        files: [],
        onlyUploadType: '',
        iconType: '',
        listType: 'picture-card',
        dialogVisible: false,
        isCommentFile: false,
        uploadCommited: true,
        server: '/zuul/file/web/upload?st=1',
        fileType: {
          IMAGE: 'image',
          VIDEO: 'video',
          DOCUMENT: 'doc',
          OTHER: 'other'
        },
        imageProcess: {
        },
        videoProcess: {
          fileOperations: [
            {
              key: 'mp4',
              cmd: 'avc/of,mp4/vf,scale=600:-2/acodec,aac/vcodec,h264/r,24/f,mp4',
              force: false
            }, {
              key: 'mp4_to_jpg',
              cmd: 'avc/vf,scale=600:-2/frames,1/ss,3/of,jpg',
              force: true
            }
          ]
        },
        docProcess: {
          fileOperations: [
            {
//              key: 'html',
//              cmd: 'docc/of,html/page,1-2',
//              force: true
//            }, {
//              key: 'swf',
//              cmd: 'docc/of,swf/mode,multiple/page,1-3',
//              force: true
//            }, {
              key: 'png',
              cmd: 'docc/of,png/mode,multiple/page,1',
              force: true
            }, {
              key: 'pdf',
              cmd: 'docc/of,pdf', // /mode,multiple/page,1-2-3-4-5',
              force: true
            }
          ]
        },
        fileOptions: {
          image: {
            type: ['bmp', 'gif', 'ico', 'jpeg', 'jpg', 'png', 'tif', 'tiff'],
            mimeTypes: 'image/*'
          },
          video: {
            type: [''],
            mimeTypes: 'video/*'
          }
        },
        showProcessLine: false,
        convertSucess: false,
        convertPercentage: 0,
        convertDatas: {},
        convertDelayId: -1,
        convertDelay: 100,
        beforeUploadShow: false
      }
    },
    created () {
      this.$bus.$on('file:callback', (data) => {
        if (this.isCommentFile && this.files.length > 0) {
          if (this.convertDelayId > -1) {
            clearInterval(this.convertDelayId)
            this.convertDelayId = -1
          }
          if (data.code === '0') {
            this.convertPercentage = 100
            this.uploadCommited = true
            this.convertSucess = true
            this.convertDatas[data.processObjectId] = {}
            data.datas.forEach(d => {
              this.convertDatas[data.processObjectId][d.key] = d
            })
          } else {
            let per = 0
            data.datas.forEach(d => {
              per += d.percent
            })
            this.convertPercentage = Number.parseInt(per / 2)
            let count = this.convertPercentage
            this.convertDelayId = setInterval(() => {
              if (++count > 100) {
                this.convertPercentage = 100
              } else {
                this.convertPercentage += 1
              }
            }, this.convertDelay)
          }
        }
      })
    },
    computed: {
      currUser,
      currUserImg,
      currVideoPlayInfo,
      currVideoPlayControl,
      allProcess () {
        return {
          fileOperations: [
            // ...this.docProcess.fileOperations,
            ...this.videoProcess.fileOperations
          ]
        }
      },
      getAction () {
        return wrapUrl(this.server) + '&persistentProcess=' + encodeURIComponent(JSON.stringify(this.allProcess))
      }
    },
    props: {
      buttonTitle: {
        type: String,
        default: '评论'
      },
      publish: Function,
      placeholderTxt: {
        type: String,
        default: '写评论…'
      },
      atUser: {
        type: Object,
        default: () => {
          return null
        }
      },
      commentBody: Object,
      verticleShow: {
        type: Boolean,
        default: false
      },
      showTimePoint: {
        type: Boolean,
        default: false
      },
      quoteObjId: String,
      qouteType: String
    },
    watch: {
      atUser (nv, ov) {
        if (nv) {
          let user = nv.user
          if (user.id !== this.currUser.id) {
            this.content = '<a class="atwho-query" href="" data-datas="@' + user.userName + '" data-atwho-at-query="@" data-item-key="' + user.id + '">&nbsp;</a>'
          }
        }
      },
      content (nv, ov) {
        this.bodyData.content = nv
      },
      commentBody (nv, ov) {
        this.bodyData = {...nv}
        if (!this.bodyData.contentType) {
          this.bodyData = {...this.defBody}
        }
        this.content = this.bodyData.content
      },
      'currVideoPlayControl.result' (nv, ov) {
        this.currentTime = nv > 0 ? nv : null
      },
      files (nv, ov) {
        let upplus = this.$el.getElementsByClassName('el-icon-plus')
        if (nv.length >= this.limitNum) {
          if (upplus.length > 0) {
            upplus[0].parentNode.style.display = 'none'
          }
        } else {
          this.onlyUploadType = ''
          this.showProcessLine = false
          this.convertSucess = false
          this.convertPercentage = 0
          this.convertDatas = {}
          this.convertDelayId = -1
          setTimeout(() => {
            if (upplus.length > 0) {
              upplus[0].parentNode.style.display = ''
            }
          }, 600)
        }
      }
    },
    methods: {
      videoDuration,
      insertIcon (src) {
        this.$refs.commmentMedium.insertIcon(src)
      },
      commentFocus () {
        this.$refs.commmentMedium.mediumFocus()
      },
      commitComent () {
        let type
        let id
        let currentTime
        if (this.showTimePoint && this.isTimePoint && this.currentTime) {
          currentTime = this.currentTime
          id = this.quoteObjId
          type = this.qouteType
        }
        if (this.isCommentFile && !this.uploadCommited) {
          this.msgError('文件正在上传中，请稍后提交评论！')
          return
        }
        if (this.isCommentFile && this.files.length > 0 && this.checkFileList(this.files)) {
          this.msgError('文件存在未上传成功的！')
          return
        }
        if (this.isCommentFile && this.files.length > 0 && this.onlyUploadType) {
          this.bodyData.contentType = this.onlyUploadType.toLowerCase()
        }
        this.bodyData.resourceFiles = this.getResourceFileList()
        this.publish && this.publish(this.bodyData, {objId: id, objType: type, quote: currentTime})
        this.isTimePoint = false
        this.content = '<p><br/></p>'
        this.$refs.commmentMedium.editor.setContent('<p><br/></p>')
        this.currentTime = null
        this.showProcessLine = false
        this.beforeUploadShow = false
        this.convertSucess = false
        this.isCommentFile = false
        this.files = []
      },
      addTimePoint () {
        let commands = 'play'
        if (!this.isTimePoint) {
          commands = 'pause|getCurrentTime'
        }
        this.$store.commit(types.M_CHANGE_CURRENT_VIDEO_CONTROL_COMMAND, commands)
        this.isTimePoint = !this.isTimePoint
      },
      // 上传图片视频
      uploadOpen () {
        this.isCommentFile = true
        this.$nextTick(() => {
          this.$refs.imageUpload.$children[1].handleClick()
        })
      },
      beforeUpload (file) {
        let type = this.onlyUploadType
        if (this.files.length > 0) {
          if (!file.type.startsWith(this.onlyUploadType)) {
            this.msgError('同一列表里只允许上传相同类型的文件！')
            return false
          }
          // if (this.files.length >= this.limitNum) {
          //   this.msgError('只允许上传' + this.limitNum + '个文件！')
          //   return false
          // }
        } else {
          if (file.type.startsWith('video')) {
            type = 'video'
            this.listType = 'text'
            this.iconType = 'video'
          } else if (file.type.startsWith('image')) {
            type = 'image'
            this.listType = 'picture-card'
            this.iconType = ''
          } else {
            this.msgError('只允许上传图片或视频！')
            return false
          }
        }
        if (this.acceptFile(file, type)) {
          this.uploadCommited = false
          let upplus = this.$el.getElementsByClassName('el-icon-plus')
          if (upplus.length > 0) {
            upplus[0].parentNode.style.display = 'none'
          }
          this.beforeUploadShow = true
          return true
        }
        this.msgError('哎啊，文件格式错误啦!')
        return false
      },
      onUploadSuccess (response, file, fileList) {
        this.files = fileList
        if (response.status === 200 && response.data.ret === 0) {
          if (file.raw.type.startsWith('video')) {
            this.showProcessLine = true
            this.onlyUploadType = 'video'
            this.convertPercentage = 0
            rest.create('/sns/file/callback', response.data.id)
              .then(data => {
                let count = 1
                this.convertDelayId = setInterval(() => {
                  if (++count > 100) {
                    this.convertPercentage = 100
                  } else {
                    this.convertPercentage += 1
                  }
                }, this.convertDelay)
              })
          } else if (file.raw.type.startsWith('image')) {
            this.uploadCommited = true
            this.onlyUploadType = 'image'
          }
        } else {
          this.uploadCommited = true
        }
      },
      onUploadError (err, file, fileList) {
        this.msgError('“' + file.name + '”文件上传失败，请稍后再试！')
        console.log(err)
        this.uploadCommited = true
        this.checkFileList(fileList)
      },
      onFileChange (file, fileList) {
        console.log('onFileChange', file, fileList)
      },
      onFilePreview (file) {
        this.dialogImageUrl = file.url
        this.dialogVisible = true
      },
      onFileRemove (file, fileList) {
        if (fileList.length === 0) {
          this.iconType = ''
          this.listType = 'picture-card'
        }
        this.files = fileList
        this.checkFileList(fileList)
      },
      fileContainerClose () {
        this.isCommentFile = false
        this.uploadCommited = true
        this.onlyUploadType = ''
        this.showProcessLine = false
        this.convertSucess = false
        this.convertPercentage = 0
        this.convertDelayId = -1
        this.convertDatas = {}
        this.beforeUploadShow = false
        this.files = []
      },
      acceptFile (file, type) {
        let rExt = /\.\w+$/
        let accept = this.getAccept(type)
        let mimeTypesAccept = this.getMimeTypesAccept(type)
        // 如果名字中有后缀，才做后缀白名单处理。
        let invalid = !file || !file.size || accept && rExt.exec(file.name) && !accept.test(file.name)
        invalid = invalid && !mimeTypesAccept.test(file.type)
        return !invalid
      },
      getAccept (type) {
        let arr = this.fileOptions[type].type
        let accept
        if (arr && arr.length) {
          accept = '\\.' + arr.join(',')
            .replace(/,/g, '$|\\.')
            .replace(/\*/g, '.*') + '$'
        }
        accept = new RegExp(accept, 'i')
        return accept
      },
      getMimeTypesAccept (type) {
        let arr = [this.fileOptions[type].mimeTypes]
        let accept = '.*'
        if (arr && arr.length) {
          accept = arr.join(',')
          accept = accept.replace(/,/g, '|').replace(/\*/g, '.*')
        }
        accept = new RegExp(accept, 'i')
        return accept
      },
      checkFileList (list) {
        let fileList = list || []
        let hasNotSuccess = false
        for (let forFile of fileList) {
          if (!(forFile.response.status === 200 && forFile.response.data.ret === 0)) {
            hasNotSuccess = true
            break
          }
        }
        if (hasNotSuccess) {
          // this.showPublishBtn = (this.hasChooseGroup || this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt) && false
        } else {
          // this.showPublishBtn = (this.hasChooseGroup || this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt) && true
        }
        return hasNotSuccess
      },
      getResourceFileList () {
        let resourceFileList = []
        let uplists = this.files
        if (uplists) {
          for (let fileInfo of uplists) {
            if (fileInfo.isOld) {
              resourceFileList.push(fileInfo.file)
            } else {
              resourceFileList.push(this.convert2ResourceFile(this.onlyUploadType, fileInfo.response.data, fileInfo))
            }
          }
        }
        return resourceFileList
      },
      convert2ResourceFile (type, data, file) {
        let resourceFile = {}
        resourceFile.objId = data.id
        resourceFile.storeId = data.storeId
        resourceFile.name = file.name
        resourceFile.size = data.fileSize
        resourceFile.type = this.fileType[data.fileType]
        resourceFile.desc = ''
        resourceFile.tags = []
        if (data.fileExtInfo) {
          let fileExtInfo = JSON.parse(data.fileExtInfo)
          let newExtInfo = {}
          if (data.fileType === 'IMAGE') {
            newExtInfo = this.getImageExtInfo(fileExtInfo)
          } else if (data.fileType === 'VIDEO') {
            newExtInfo = this.getVideoExtInfo(fileExtInfo)
          }
          resourceFile.datas = {extInfo: newExtInfo}
        }
        if (type === 'image') {
        } else if (type === 'video') {
          resourceFile.persistentProcess = JSON.stringify(this.videoProcess)
          // resourceFile.waitProcessKeys = ['mp4'] // 只有等待mp4这个处理成功完成后，才可以发布帖子
        } else if (type === 'doc') {
          // resourceFile.waitProcessKeys = ['pdf', 'png'] // 只有等待pdf AND png这个处理成功完成后，才可以发布帖子
          resourceFile.persistentProcess = JSON.stringify(this.docProcess)
        }
        if (this.convertDatas[data.id]) {
          resourceFile.datas = {...this.convertDatas[data.id], ...resourceFile.datas}
        }
        return resourceFile
      },
      getImageExtInfo (extInfo) {
        let newExtInfo = {}
        for (let item of extInfo.directories) {
          for (let key in item.tags) {
            let newKey = key.replace(/\s/g, '')
            newExtInfo[newKey] = item.tags[key]
          }
        }
        return newExtInfo
      },
      getVideoExtInfo (extInfo) {
        let newExtInfo = {}
        this.getChildren(newExtInfo, extInfo)
        return newExtInfo
      },
      getChildren (newExtInfo, extInfo) {
        for (let key in extInfo) {
          if (typeof extInfo[key] === 'object') {
            this.getChildren(newExtInfo, extInfo[key])
          } else {
            let newKey = key.replace(/\s/g, '')
            newExtInfo[newKey] = extInfo[key]
          }
        }
      }
    }
  }
</script>
<style>
  @import "css/variable.css";
  .add-comment {
    margin-top: 6px;
    & .file-container{
      min-height: 97px;
      border-top:1px solid #e8e8e8;
      position: relative;
      padding: 8px;
      & > i{
        position: absolute;
        right: 2px;
        top: 0px;
        color: var(--color-info);
        cursor: pointer;
      }
    }
    & .comment-file{
      & .upload-doc, & .upload-video {
        min-height: inherit;
        & .el-upload-list__item-name{
          margin-bottom: 0px;
        }
      }
    }
  }
  .comment-head{
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    background: #f4f4f4;
  }
  .comment-txt {
    position: relative;
  }
  .column-reverse{
    display: flex;
    flex-direction: column-reverse;
  }
</style>
