<template>
</template>

<script>
  import { cleanHtml } from '@/util'
  export default {
    computed: {
      hasClearHtml () {
        return false
      },
      routeTo () {
        let r
        let feed = this.item
        let objContent = feed.objContent || {}
        if (feed.objType === 'POST' && (objContent.model === 'blog' || objContent.model === 'reprint')) {
          r = { name: 'article', params: { id: feed.objId } }
        } else if (feed.objType === 'POST' && objContent.model === 'activity') {
          r = { name: 'activity', params: { activityId: objContent.bindId } }
        } else if (feed.groupId) {
          r = { name: 'groupOneFeed', params: { feedId: feed.id, groupId: feed.groupId } }
        } else {
          r = { name: 'userOneFeed', params: { feedId: feed.id, userId: feed.userId } }
        }
        return r
      },
      user () {
        return this.item.user || { id: this.item.userId }
      },
      modelObject () {
        return this.item.objContent.modelObject ? this.item.objContent.modelObject : this.item.objContent
      },
      content () {
        if (this.hasClearHtml) {
          const desc = this.cleanHtml(this.modelObject.content, 200, '...')
          return desc ? '<p>' + desc + '</p>' : ''
        } else {
          return this.modelObject.content
        }
      },
      resourceFiles () {
        return this.modelObject.resourceFiles
      }
    },
    data () {
      return {
      }
    },
    props: {
      item: Object
    },
    methods: {
      cleanHtml
    }
  }
</script>

<style>
</style>
