<template>
  <router-link :to="routeTo">
    <slot name="header"></slot>
    <div class="content">
      <p v-html="contentTruncate"></p>
    </div>
    <el-card>
      <div>
        <component
          :is="getCardItemViewName(shareData)"
          :item="shareData.item">
          <div slot="header" class="single" v-if="user.id && shareItem.groupId">
            <div class="media-object single">
              <div class="media-object-section shrink">
                <user-block class="img" tagName="div" :user="user">
                  <router-link :to="{ name: 'user', params: { userId: user.id }}" class="img" >
                    <img alt="" :src="userAvatar" v-error-img:user/>
                  </router-link>
                </user-block>
              </div>
              <div class="media-object-section">
                <slot></slot>
                <router-link  :to="{ name: 'user', params: { userId: user.id }}">
                  <user-block class="name" tagName="span" :user="user">{{userName}} </user-block>
                </router-link>
                <span class="color-secondary" v-if="groupName">发布到</span>
                <router-link v-if="groupName" :to="{ name: 'group', params: { groupId: shareItem.groupId }}">
                  {{groupName}}
                </router-link>
                <span class="color-secondary">{{groupName ? '' : '发布'}}的</span>
                <router-link :to="cardRouteTo">
                  {{postName}}
                </router-link>
              </div>
            </div>
          </div>
        </component>
      </div>
    </el-card>
    <slot name="footer"></slot>
  </router-link>
</template>
<script>
  import BaseCard from './BaseCard'
  import { rest, cleanHtml } from '@/util'
  import * as moduleTypes from '@/store/modules'
  import * as cards from '@/components/favorite/cards'
  import UserBlock from '@/views/user/UserBlock'
  import Tag from '@/components/tag/index.js'
  import { gatherContentImages } from '@/components/comment'
  const cardsViews = {...cards}
  delete cardsViews['default']
  const getCardItemViewName = cards.default

  export default {
    extends: BaseCard,
    components: {
      Tag,
      UserBlock,
      ...cardsViews
    },
    data () {
      return {
        postName: '',
        shareData: {}
      }
    },
    mounted () {
      if (this.item.objContent.modelObject.refObjType === 101) {
        let gid = this.item.objContent.modelObject.refObjId
        this.storeNeedData({
          type: 'group',
          dataIds: [gid]
        })
          .then(groups => {
            let fitem = null
            if (groups[gid]) {
              fitem = groups[gid] || {}
            } else {
              fitem = {}
            }
            this.shareData = {
              item: fitem,
              type: 'group'
            }
          })
      } else if (this.item.objContent.modelObject.refObjType === 5) {
        let aid = this.item.objContent.modelObject.refObjId
        this.getActivity(aid)
          .then((data) => {
            let shareItem = {}
            if (data) {
              let groupName = ''
              let groupId = ''
              if (data && data.group) {
                groupName = data.group.name
                groupId = data.group.id
              }
              let modelObject = {...{contentType: 'activity'}, ...data}
              shareItem = {
                objId: data.id,
                objType: 'ACTIVITY',
                groupName: groupName,
                groupId: groupId,
                groupType: data && data.group ? 'group' : '',
                user: data.user,
                group: data.group,
                objContent: {
                  bindId: data.id,
                  modelObject: modelObject
                }
              }
            }
            this.shareData = {
              item: shareItem,
              type: 'activity'
            }
          })
      } else {
        this.$store.dispatch(moduleTypes.feed.A_GET_FEED_LIST, this.item.objContent.modelObject.ext.feedId)
        .then(feeds => {
          if (feeds) {
            feeds.forEach(f => {
              let fitem = JSON.parse(JSON.stringify(f)) || {}
              let type = 'post'
              if (f) {
                fitem.isCollect = true
                fitem.shareAttachment = false
                let itemShareType = this.item.objContent.modelObject.refObjType
                if (itemShareType === 1 || itemShareType === 2 || itemShareType === 3) {
                  fitem.shareAttachment = true
                  fitem.collectType = itemShareType + 1
                  if (this.item.objContent) {
                    let rsList = JSON.parse(JSON.stringify(f.objContent.modelObject.resourceFiles)) || []
                    if (f.objContent.modelObject.contentType === 'blog' || f.objContent.modelObject.contentType === 'reprint') {
                      rsList = rsList.concat(this.gatherContentImages(f.objContent.modelObject.content))
                    }
                    fitem.objContent.modelObject.resourceFiles = rsList.filter(f => f.rsId === this.item.objContent.modelObject.refObjId)
                    fitem.objContent.modelObject.content = ''
                  }
                }
                if (this.modelObject.hasQuote) {
                  if (fitem.objContent.modelObject.contentType === 'normal' && fitem.objContent.modelObject.postType === 'doc') {
                    fitem.shareAttachment = true
                  }
                  type = 'quote'
                  fitem.colExtContent = this.modelObject.quote
                  fitem.refObjId = this.modelObject.refObjId
                  fitem.shareContent = this.modelObject.content
                  fitem.currPostUserId = this.item.userId
                }
                fitem.currPostId = this.item.objId
              }
              this.shareData = {
                item: fitem,
                type: type
              }
            })
          }
        })
      }
    },
    computed: {
      contentTruncate () {
        return this.cleanHtml(this.content, 120, '...')
      },
      shareItem () {
        return this.shareData && this.shareData.item ? this.shareData.item : {}
      },
      user () {
        return this.shareItem.user || {}
      },
      userAvatar () {
        return this.user && this.user.avatar ? this.user.avatar : require('../../../assets/img/1.jpg')
      },
      userName () {
        return this.user && this.user.userName ? this.user.userName : this.shareItem.userId
      },
      userSexIcon () {
        let sex = this.user && this.user.sex ? this.user.sex : '0'
        return this.sexIcon[sex]
      },
      group () {
        return this.shareItem.group || this.shareItem.scopeGroup || {}
      },
      groupName () {
        return this.group.name || this.shareItem.groupId
      },
      routeTo () {
        let r
        let feed = this.item
        let objContent = feed.objContent || {}
        if (feed.objType === 'POST' && (objContent.model === 'blog' || objContent.model === 'reprint')) {
          r = { name: 'article', params: { id: feed.objId } }
        } else if (feed.objType === 'POST' && objContent.model === 'activity') {
          r = { name: 'activity', params: { activityId: objContent.bindId } }
        } else if (feed.groupId) {
          r = { name: 'groupOneFeed', params: { feedId: feed.id, groupId: feed.groupId } }
        } else {
          r = { name: 'userOneFeed', params: { feedId: feed.id, userId: feed.userId } }
        }
        let modelObject = objContent.modelObject
        if (modelObject) {
          let collectStatus = this.item.isCollect
          // 分享附件或收藏附件的判断
          let refObjType = feed.objContent.modelObject.refObjType
          if (collectStatus && refObjType === 1) {
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
          if (collectStatus && refObjType === 2) {
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
          if (collectStatus && refObjType === 3) {
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
        }
        return r
      },
      cardRouteTo () {
        let r
        let feed = this.shareItem
        let objContent = feed.objContent || {}
        this.postName = '帖子'
        if (feed.objType === 'POST' && (objContent.model === 'blog' || objContent.model === 'reprint')) {
          this.postName = objContent.model === 'blog' ? '博文' : '转载'
          r = { name: 'article', params: { id: feed.objId } }
        } else if (feed.objType === 'POST' && objContent.model === 'activity' || feed.objType === 'ACTIVITY') {
          this.postName = '活动'
          r = { name: 'activity', params: { activityId: objContent.bindId } }
        } else if (feed.groupId) {
          r = { name: 'groupOneFeed', params: { feedId: feed.id, groupId: feed.groupId } }
        } else {
          r = { name: 'userOneFeed', params: { feedId: feed.id, userId: feed.userId } }
        }
        let modelObject = objContent.modelObject
        if (modelObject) {
          let collectStatus = this.item.isCollect
          // 分享附件或收藏附件的判断
          let appendName = ''
          if (collectStatus && feed.collectType === 2) {
            appendName = '图片'
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
          if (collectStatus && feed.collectType === 3) {
            appendName = '视频'
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
          if (collectStatus && feed.collectType === 4) {
            appendName = '文档'
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
          if (appendName && (this.postName === '博文' || this.postName === '转载')) {
            appendName = '内容' + appendName
          }
          this.postName += appendName
        }
        return r
      }
    },
    methods: {
      cleanHtml,
      getCardItemViewName,
      gatherContentImages,
      getActivity (id) {
        return rest.get('/sns/activity/ids', {ids: [id]}, true)
          .then(([data]) => {
            if (!data) {
              return
            }
            let p = [{
              type: 'user',
              dataIds: [data.creator]
            }]
            if (data.createAt && data.createAtType === 101) { // 小组范围内
              p.push({
                type: 'group',
                dataIds: [data.createAt]
              })
            }
            return this.storeNeedData(p)
              .then(([users, groups]) => {
                data.user = users[data.creator]
                if (groups && data.createAt) {
                  data.group = groups[data.createAt]
                }
                this.activity = data
                return this.activity
              })
          })
      }
    }
  }
</script>
<style>
</style>
