<template>
  <div>
    <a @click="goToUser">{{userName}} </a>
    <span v-if="item.operType==='invite'" class="color-secondary">邀请你参加</span>
    <span v-else-if="item.operType==='cancel'" class="color-secondary">取消了</span>
    <span v-else-if="item.operType==='cancelAndDelete'" class="color-secondary">取消并删除了</span>
    <a @click="goToActivity">《{{item.data.title}}》</a>
    <span class="color-secondary">活动</span> 
    <!-- <template v-if="group.id">
      <span>
        <a @click="goToGroup(group.id)">{{groupName}}</a>
      </span>
      <span class="color-secondary"> 的</span> 
    </template> -->
    <!-- <span class="color-secondary"> {{operTypes[item.operType]}}了{{operObjTypes[item.operObjType]}}</span>  -->
  </div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  methods: {
    goToActivity () {
      if (this.item.operType !== 'cancelAndDelete') {
        this.$emit('close')
        this.router.push({ name: 'activity', params: { activityId: this.item.operObjId } })
      }
    }
  }
}
</script>

<style>
</style>
