<template>
</template>

<script>
import { cleanHtml } from '@/util'

export default {
  data () {
    return {
      operTypes: {
        'feedref:create': '发布'
      },
      operObjTypes: {
        'TEST': '测试',
        'POST': '帖子'
      }
    }
  },
  computed: {
    feed () {
      return this.item.feed || {}
    },
    modelObject () {
      return this.feed.objContent
        ? (this.feed.objContent.modelObject ? this.feed.objContent.modelObject : this.feed.objContent)
        : {}
    },
    desc () {
      let text
      if (this.modelObject.contentType === 'blog' || this.modelObject.contentType === 'reprint') {
        text = this.modelObject.title
      } else if (this.modelObject.content) {
        text = cleanHtml(this.modelObject.content, 40, '...')
      }
      if (!text) {
        if (this.modelObject.contentType === 'normal') {
          if (this.modelObject.postType === 'doc') {
            text = '[文档]'
          } else if (this.modelObject.postType === 'image') {
            text = '[图片]'
          } else if (this.modelObject.postType === 'video') {
            text = '[视频]'
          }
        } else if (this.modelObject.contentType === 'share') {
          text = '[分享内容]'
        }
      }
      return text
    },
    data () {
      return this.item.data || {}
    },
    user () {
      return this.item.user || this.data.user || { id: this.item.fromUser }
    },
    userName () {
      return this.user.userName || this.item.fromUser
    },
    group () {
      return this.item.group || (this.data.groupId ? { id: this.data.groupId } : {})
    },
    groupName () {
      if (this.data.groupType === 'activity') {
        return '活动'
      }
      return this.group.name || this.group.id
    },
    router () {
      return this.$router || this.vmRouter
    }
  },
  props: {
    item: Object,
    vmRouter: Object
  },
  methods: {
    goToUser (id) {
      if (typeof id !== 'string') {
        id = this.user.id
      }
      this.$emit('close')
      this.router.push({ name: 'user', params: { userId: id } })
    },
    goToGroup (id) {
      this.$emit('close')
      this.router.push({ name: 'group', params: { groupId: id } })
    }
  }
}
</script>

<style>
</style>
