<template>
  <div>
    <a @click="goToUser">{{userName}} </a>

    <span class="color-secondary" v-if="item.operType === 'REPLY'">回复了<template v-if="isReplay2you">你{{isActivity || isArticle ? '在' : '的'}}</template></span>
    <span class="color-secondary" v-else-if="item.operType === 'praise'">赞了你的评论</span>
    <span class="color-secondary" v-else-if="item.operType === 'REFER'">{{isActivity || isArticle || isComment ? '在' : '的'}}</span>

    <!-- <template v-else>有评论操作</template> -->
    <span v-else class="color-secondary">评论了</span><template v-if="item.operType != 'praise'"><template v-if="isActivity">
      <a>《{{feed.objContent.modelObject.title}}》</a>
      <span class="color-secondary">活动</span>
    </template>
    <template v-else-if="isArticle">
      <a>《{{feed.objContent.modelObject.title}}》</a>
      <span class="color-secondary">博文</span>
    </template>
    <template v-else>
      <span class="color-secondary">帖子</span>
      <span v-html="desc"></span>
    </template><span class="color-secondary" v-if="item.operType === 'REPLY'">中的评论</span><span class="color-secondary" v-else-if="item.operType === 'REFER'">中的评论提及了你</span></template>
  </div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  computed: {
    isArticle () {
      return this.feed.objType === 'POST' && this.feed.objContent && this.feed.objContent.model === 'blog'
    },
    isComment () {
      return this.item.operObjType === 'COMMENT'
    },
    isActivity () {
      return this.feed.objType === 'POST' && this.feed.objContent && this.feed.objContent.model === 'activity'
    },
    isReplay2you () {
      return this.item.data && this.item.data.reply2User === this.item.toUser
    }
  }
}
</script>

<style>
</style>
