ImageNotifyItem.vue<template>
  <div v-if="item.operType === 'praise'">
    <a @click="goToUser">{{userName}} </a>
    <span class="color-secondary">喜欢你</span><span class="color-secondary" v-if="group.id">在&nbsp;<a @click="goToGroup(group.id)">{{groupName}}</a>&nbsp;发布的文档</span>
    <span v-html="desc"></span>
  </div>
  <div v-else>{{data.msg}}</div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  created () {
  },
  computed: {
  }
}
</script>

<style>
</style>
