<template>
  <div>
    <a @click="goToUser">{{userName}} </a>
    <template v-if="group.id">
      <span class="color-secondary">在</span> 
      <span><a @click="goToGroup(group.id)">{{groupName}}</a></span>
    </template>
    <span class="color-secondary"> {{operTypes[item.operType]}}了{{operObjTypes[item.operObjType]}}</span> 
    <span v-html="desc"></span>
  </div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem
}
</script>

<style>
</style>
