<template>
  <div v-if="item.operType === 'approveJoinGroup'">
    <a @click="goToUser">{{userName}} </a>
    {{operName}}了你加入小组<span v-if="group.id">&nbsp;<a @click="goToGroup(group.id)">{{groupName}}</a>&nbsp;</span>的申请
  </div>
  <div v-else-if="item.operType === 'joinGroup'">
    <a @click="goToUser">{{userName}} </a>
    将你加入到小组<span v-if="group.id">&nbsp;<a @click="goToGroup(group.id)">{{groupName}}</a>&nbsp;</span>
  </div>
  <div v-else-if="item.operType === 'requestJoinGroup'" @click="goTo({name: 'group', params: {groupId : group.id}})">
    <a @click="goToUser">{{userName}} </a>
    请求加入小组<span v-if="group.id">&nbsp;<a @click="goToGroup(group.id)">{{groupName}}</a>&nbsp;</span>
  </div>
  <div v-else>{{data.msg}}</div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  created () {
//    console.log(this.item)
  },
  computed: {
    operName () {
      return this.data.isPass ? '通过' : '拒绝'
    }
  },
  methods: {
  }

}
</script>

<style>
</style>
