<template>
  <div v-if="item.operType === 'auditPost'">
    <a @click="goToUser">{{userName}} </a>
    {{operName}}了你<span v-if="group.id">在&nbsp;<a @click="goToGroup(group.id)">{{groupName}}</a>&nbsp;</span>发布的帖子
  </div>
  <div v-else-if="item.operType === 'praise'">
    <a @click="goToUser">{{userName}} </a>
    <span class="color-secondary">喜欢你</span><span class="color-secondary" v-if="group.id">在&nbsp;<a @click="goToGroup(group.id)">{{groupName}}</a>&nbsp;发布的帖子</span>
    <span v-html="desc"></span>
  </div>
  <div v-else-if="item.operType === 'MARK'">
    <a @click="goToUser">{{userName}} </a>
    <span class="color-secondary">在帖子中标记了你</span>
  </div>
  <div v-else-if="item.operType === 'REFER'">
    <a @click="goToUser">{{userName}} </a>
    <!-- <span class="color-secondary">在帖子中提及了你</span> -->
    <span class="color-secondary">在帖子</span>
    <span v-html="desc"></span>
    <span class="color-secondary">中提及了你</span>
  </div>
  <div v-else>{{data.msg}}</div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  created () {
  },
  computed: {
    operName () {
      return this.data.isPass ? '批准' : '拒绝'
    }
  }
}
</script>

<style>
</style>
