<template>
  <div v-if="item.operType === 'follow'">
    <a @click="goToUser">{{userName}} </a>
    <span class="color-secondary">成为了你的新粉丝</span>
  </div>
  <div v-else>{{data.msg}}</div>
</template>

<script>
import BaseItem from './BaseItem'

export default {
  extends: BaseItem,
  created () {
  }
}
</script>

<style>
</style>
