<template>
  <div class="activity media-object">
    <div class="shrink media-object-section">
      <router-link :to="{ name: 'activity', params: { activityId: activity.id }}">
        <img :src="activity.cover" :alt="activity.title" v-error-img/>
        <div class="config_btn">
        </div>
      </router-link>
    </div>
    <div class="media-object-section">
      <h3>
        <router-link :to="{ name: 'activity', params: { activityId: activity.id }}"
        >{{activity.title}}</router-link>
      </h3>
      <div><i class="fa fa-calendar"></i><span>{{startDate}} ~ {{endDate}}</span><span>, 报名截止：{{joinDeadline}}</span></div>
      <div><i class="fa fa-map-marker font-s16"></i> {{activity.location}}</div>
      <div>
        {{activity.joinCount || 0}} 人参加{{activity.joinLimit ? ` / ${activity.joinLimit}人` : ''}}
        <span v-if="status === 'waiting'" class="label margin-l10 warning">未开始</span>
        <span v-else-if="status === 'running'" class="label margin-l10 success">进行中</span>
        <span v-else-if="status === 'done'" class="label margin-l10 secondary">已结束</span>
        <span v-else-if="status === 'cancel'" class="label margin-l10 secondary">已取消</span>
      </div>
      <div class="organizers no-margin">
        <span v-if="group">
          <router-link :to="{ name: 'group', params: { groupId: group.id } }">
            <img :src="group.icon" :alt="group.name + '-小组'"/>{{group.name}}
          </router-link> 小组
        </span>
        <span v-else-if="activity.scope === 2">为公司创建</span>
        <span v-else-if="user">
          组织者：<router-link :to="{ name: 'user', params: { userId: user.id }}">{{user.userName}}</router-link>
        </span>
      </div>
      <div class="tools">
          <template v-if="canJoin && activity.mark <= 0">
            <el-button @click="join(1)" type="warning" size="small">参加</el-button>
            <el-button v-if="!isCreator" @click="join(2)" type="warning" size="small">有兴趣</el-button>
          </template>
          <el-dropdown v-else-if="canJoin" @command="join" trigger="click">
            <el-button type="warning" size="small">
              <i class="fa fa-check"></i> {{markStr}}<i class="el-icon-caret-bottom el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="1">
                <i :class="activity.mark===1 ? 'fa-check' : 'icon-empty'" class="fa"></i> {{activity.mark===1 ? markList[1] : '参加'}}
              </el-dropdown-item>
              <el-dropdown-item command="2">
                <i :class="activity.mark===2 ? 'fa-check' : 'icon-empty'" class="fa"></i> {{markList[2]}}
              </el-dropdown-item>
              <el-dropdown-item command="3">
                <i :class="activity.mark===3 ? 'fa-check' : 'icon-empty'" class="fa"></i> {{markList[3]}}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <el-button
            v-else-if="status !== 'waiting' && activity.mark===1"
            :disabled="true"
            type="success"
            size="small"
          ><i class="fa fa-check"></i> 已参加</el-button>
          <template v-if="showControl && (canInvite || isCreator)">
            <el-dropdown v-if="canJoin" @command="oper" @click="oper('invite')" split-button size="small" type="info">
              邀请
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="invitedList">邀请列表</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <el-button v-else @click="oper('invitedList')" size="small" type="info">邀请列表</el-button>
          </template>
          <el-dropdown v-if="showControl && isCreator" @command="oper" @click="oper('edit')" split-button size="small" type="info">
            编辑
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="cancel" v-show="status === 'waiting' || status === 'running'">取消活动</el-dropdown-item>
              <el-dropdown-item command="delete">{{status === 'cancel' || status === 'done' ? '删除' : '取消并删除活动'}}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
    </div>
  </div>
</template>
<script>
import activityMixin from '@/mixin/activityMixin'

export default {
  mixins: [activityMixin],
  props: {
    showControl: {
      type: Boolean,
      default: false
    }
  },
  methods: {
  }
}
</script>
<style>
@import 'css/variable.css';
  .fa.icon-empty {
    width: 14px;
  }
  .activity {
    & .media-object-section {
      &:first-child {
        & > a{
          display: flex;
          width: 240px;
          height: 141px;
          justify-content: center;
          align-items: center;
          background: #f1f1f1;
          overflow: hidden;
          & img{
            height: 100%;
          }
        }
      }
      &:last-child {
        padding-right: 1rem;
        max-width: 490px;
        position: relative;
        & h3 {
          margin:4px 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        & > div{
          font-size: 12px;
          margin-bottom: 8px;
          color: var(--color-secondary);
          & > i{ width:14px;text-align: center;font-size: 13px;}
          &:last-child{
            margin-bottom: 0;
          }
        }
        & .tools{
          bottom: 4px;
        }
      }
    }
  }
</style>
