<template>
  <div class="file-list media-object">
    <div class="media-object-section shrink">
      <file-icon :type="type" size="50"></file-icon>
    </div>
    <div class="media-object-section">
      <h3><a href="">MongoDB部署配置简要手册.pdf</a></h3>
      <div class="color-secondary">更新时间： 2017-06-06<span>作者： XXX</span>12M</div>
      <div class="font-tools">
        <el-popover
            popper-class="vertical"
            ref="fileConfig"
            placement="bottom"
            width="80"
            trigger="click"
          >
          <ul class="vertical-menu">
            <li>编辑</li>
            <li>删除</li>
          </ul>
        </el-popover>
        <a title="分享"><i class="el-icon-share"></i></a>   
        <a title="下载"><i class="fa fa-download"></i></a>
        <a title="更多" v-popover:fileConfig><i class="fa fa-ellipsis-h"></i></a>  
    </div>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {}
    },
    props: {
      type: {
        type: String,
        default: ''
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .file-list {
    & h3{
      margin-bottom: 6px;
    }
    & > div:not(.font-tools){
      font-size: 12px;
    }
    & .media-object-section{
      &:last-child{
        position: relative;
        & span {
          margin: 0 10px;
        }
      }
    }
    &:hover .font-tools{
      display: block;
    }
  }
</style>
