<template>
  <user-card :item="itemUser">
    <div slot="tools" class="tools-status">
      <div slot="tools" class="font-tools" v-if="showManger&&hasJoined&&(itemIsCurrUser||currUserIsManager||(currUserIsSuperman&&!itemUserIsManager&&!itemUserIsSuperman))">
          <el-popover
            popper-class="vertical"
            ref="fileConfig"
            placement="bottom"
            width="auto"
            trigger="click"
            v-model="showManagerOpts"
          >
          <ul class="vertical-menu">
            <li v-if="currUserIsManager&&!itemUserIsManager" @click="doManage('set', 'manager')">设为管理员</li>
            <li v-if="currUserIsManager&&itemUserIsManager||(currUserIsManager&&itemIsCurrUser)" @click="doManage('set', 'member', 'manager')">移除管理员身份</li>
            <li v-if="currUserIsManager&&!itemUserIsManager&&!itemUserIsSuperman" @click="doManage('set', 'superman')">设为版主</li>
            <li v-if="currUserIsManager&&itemUserIsManager||(currUserIsManager&&itemIsCurrUser)" @click="doManage('set', 'superman', 'manager')">改为版主</li>
            <li v-if="currUserIsManager&&itemUserIsSuperman||(currUserIsSuperman&&itemIsCurrUser)" @click="doManage('set', 'member', 'superman')">移除版主</li>
            <li v-if="(currUserIsManager||currUserIsSuperman&&!itemUserIsManager&&!itemUserIsSuperman)&&!itemIsCurrUser" @click="doManage('remove')">移出小组</li>
            <li v-if="itemIsCurrUser" @click="doManage('remove', 'exit', itemUserIsManager ? 'manager' : (itemUserIsSuperman ? 'superman' : null))">退出小组</li>
          </ul>
        </el-popover>
        <a title="操作" v-popover:fileConfig ><i class="fa fa-ellipsis-h"></i></a>
      </div>
      <div slot="tools" class="font-tools" style="right:0px;" v-if="!showManger&&hasJoined&&(currUserIsManager||currUserIsSuperman)">
        <a title="取消拉黑" @click="doManage('remove', 'blackList')">取消拉黑</a>
      </div>
    </div>
  </user-card>
</template>
<script>
  import UserCard from './UserCard'
  import { currUser } from '@/store/modules/helper'
  export default {
    components: {
      UserCard
    },
    data () {
      return {
        showManagerOpts: false
      }
    },
    computed: {
      currUser,
      hasJoined () {
        return this.$store.state.groupMember.hasJoined
      },
      currUserIsManager () {
        return this.$store.state.group.currRefIsManager
      },
      currUserIsSuperman () {
        return this.$store.state.group.currRefIsSuperman
      },
      itemUserIsManager () {
        return this.item && this.item.type === 3
      },
      itemUserIsSuperman () {
        return this.item && this.item.type === 2
      },
      itemUser () {
        let currItem = {...this.item}
        delete currItem.id
        return {...this.user, ...currItem}
      },
      itemIsCurrUser () {
        return this.currUser.id === this.item.userId
      }
    },
    props: {
      item: Object,
      user: Object,
      showManger: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      doManage (fun, type, rmType) {
        this.showManagerOpts = false
        this.$emit('changeItem',
          {
            id: this.item.id,
            do: fun,
            type: type,
            rmType: rmType,
            userName: this.user.userName
          })
      }
    }
  }
</script>
<style>
</style>
