<template>
  <mod :title="modTitle" :size="modSize" v-if="currList.length>0" class="margin-b">
    <div class="group_content no-padding" v-if="modType==='group'">
      <router-link v-for="item in currList" :key="item?item.id:''" :to="pathOption(item)" class="media-object">
        <div class="media-object-section">
          <img :src="getIcon(item)" v-error-img:group>
        </div>
        <div class="media-object-section">
          <div class="title14">{{getName(item)}}</div>
          <div class="Info">
            <span class="color-secondary" v-html="getOtherHtml(item)">组员 235 | 帖子2034</span>
          </div>
        </div>
      </router-link>
    </div>
    <ul class="note_list" v-if="modType==='post'">
      <li v-for="item in currList" :key="item?item.id:''">
        <div class="title">
          <div class="username" style="display: inline">
            <user-block class="username" tagName="a" :user="item.user">{{item.user?item.user.userName:''}}: </user-block>
          </div>
          <router-link :to="pathOption(item)" :title="getHtmlContent(item)" v-html="getHtmlContent(item, 25)">
          </router-link>
        </div>
        <div class="btn_box" v-html="getOtherHtml(item)">
          <a><i class="fa fa-heart-o"></i> 32</a>
          <a><i class="fa fa-comment-o"></i> 16</a>
        </div>
      </li>
    </ul>
    <div class="transverse talent" v-if="modType==='user'">
      <router-link v-for="item in currList" v-if="item" :key="item.id" :to="pathOption(item)" class="clearfix">
        <div class="img">
          <user-block class="img" tagName="div" :user="item">
            <img class="img" :alt="item?item.userName:''" :src="item?item.avatar:''" v-error-img:user/>
          </user-block>
        </div>
        <div class="content">
          <div class="username">
            <user-block class="username" tagName="a" :user="item">{{item?item.userName:''}} </user-block>
            <i class="fa" :class="getSexIconMsg(item).icon" :title="getSexIconMsg(item).title"></i>
          </div>
          <div class="arInfo"><span class="tag"># {{item&&item.deptRole ? item.deptRole.roleName : '未知'}}</span><span class="margin-l10">{{dateYMD(item?item.createTime:'')}}</span></div>
        </div>
      </router-link>
    </div>
  </mod>
</template>
<script>
  import { dateYMD, cleanHtml } from '@/util'
  import { types } from '@/store/modules/modData'
  import UserBlock from '@/views/user/UserBlock'
  export default {
    components: {
      UserBlock
    },
    data () {
      return {
        currList: [],
        loadComplete: false,
        loadSuccess: true
      }
    },
    props: {
      modType: {
        type: String,
        default: 'group'
      },
      modTitle: String,
      modSize: {
        type: String,
        default: '14'
      },
      listSize: {
        type: Number,
        default: 5
      },
      getUrl: {
        type: String,
        require: true
      },
      listKey: {
        type: String,
        require: true
      },
      iconKey: {
        type: String,
        default: 'icon'
      },
      nameKey: {
        type: String,
        default: 'name'
      },
      pathOption: Function,
      getOtherHtml: {
        type: Function,
        default: function () {
        }
      }
    },
    computed: {
      list: {
        get () {
          return this.$store.state.modData.dataMapList[this.listKey] || []
        },
        set (val) {
          this.currList = val
        }
      }
    },
    mounted () {
      this.currList = this.list
      if (this.currList.length === 0 || this.currList.length < this.listSize) {
        this.loadData()
      }
      if (this.currList.length > this.listSize) {
        this.currList = this.currList.slice(0, this.listSize)
      }
    },
    methods: {
      dateYMD,
      getIcon (item) {
        return item[this.iconKey]
      },
      getName (item) {
        return item[this.nameKey]
      },
      loadData () {
        this.loadComplete = false
        let url = this.getUrl + '?size=' + this.listSize
        this.$store.dispatch(types.A_GET_MODULE_DATA, {url: url, key: this.listKey, type: this.modType})
        .then(json => {
          this.loadComplete = true
          this.loadSuccess = true
          if (this.modType === 'user') {
            this.storeNeedData({
              type: 'user',
              dataIds: json
            })
              .then(users => {
                let userList = []
                for (let id in json) {
                  userList.push(users[json[id]])
                }
                this.list = userList
                this.$store.commit(types.M_SET_MODULE_DATA, {vo: this.list, key: this.listKey})
                return this.list
              })
          } else if (this.modType === 'post') {
            let ids = json.map(o => o.creator)
            this.storeNeedData({
              type: 'user',
              dataIds: ids
            })
            .then(users => {
              for (let data of json) {
                data.user = users[data.creator]
              }
              this.list = json
              return this.list
            })
          } else {
            this.list = json
          }
        })
        .catch(err => {
          this.loadComplete = true
          this.loadSuccess = false
          console.log(err)
        })
      },
      getHtmlContent (item, size) {
        if (!item) {
          return ''
        }
        let text = cleanHtml(item.modelObject.content, size, '...')
        if (!text || !text.trim()) {
          text = ''
          if (item.modelObject) {
            if (item.modelObject.contentType === 'normal') {
              if (item.modelObject.postType === 'doc') {
                text = '[文档]'
              } else if (item.modelObject.postType === 'image') {
                text = '[图片]'
              } else if (item.modelObject.postType === 'video') {
                text = '[视频]'
              }
            } else if (item.modelObject.contentType === 'share') {
              text = '[分享内容]'
            }
            return text
          }
        }
        return text
      },
      getSexIconMsg (item) {
        let title = '性别保密'
        if (!item) {
          return {
            icon: icon,
            title: title
          }
        }
        let icon = 'fa-lock'
        let sex = item.sex
        if (sex === 1 || sex === '1') {
          title = '男'
          icon = 'fa-mars color-blue'
        } else if (sex === 2 || sex === '2') {
          title = '女'
          icon = 'fa-venus color-danger'
        }
        return {
          icon: icon,
          title: title
        }
      }
    }
  }
</script>
