<template>
  <div class="task-list">
    <el-checkbox v-model="checked"></el-checkbox>
    <h3><router-link to="/browse">这是一单总是触手,协同工作！</router-link></h3>
    <div class="task-info">
      <span class="color-success"><img src="../../assets/img/improve.svg" alt="改进" /> 改进 </span>
      <span><i class="fa fa-arrow-up color-danger"></i> 紧急 </span>
      <span>更新时间：06-20</span>
      <span>报告人：<a>陈嬷嬷</a></span>
      <span>安排给：<a>林华</a></span>
    </div>
    <div class="state">
      <span class="label warning">
      	进行中
      </span>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        checked: false
      }
    }
  }
</script>
<style>
@import 'css/variable.css';
  .task-list{
    position: relative;
    margin-bottom: 1rem;
    & h3 {
      display: inline-block;
      margin-bottom: 10px;
      max-width: calc(100% - 136px);
    }
    & .task-info {
      padding-left: 1.4rem;
      & span {
        font-size: 14px;
        margin-right: 10px;
        color: var(--color-secondary);
      }
    }
    & .state{
      position: absolute;
      right: 1rem;
      font-size: 12px;
      top: 0;
      & a{
        margin-right: 10px;
      }
    }
  }
</style>
