<template>
  <div class="topic-list media-object">
    <div class="media-object-section shrink">
    	<div class="thumb-up">
    	  <div>123</div>
    	  <div>回答</div>
    	</div>
    </div>
    <div class="media-object-section">
      <h3 class="margin-b6"><router-link to="/question">人和人之间如何建立互相信任，至死不渝？</router-link></h3>
      <div class="color-secondary"><span class="color-info">工作压力</span><span class="margin-l10">2分钟前·23个回答</span></div>
      <div class="color-secondary margin-t10 icon-tools">
        <span><i class="el-icon-edit"></i> 写回答</span>
        <span><i class="fa fa-eye"></i> 25</span>
        <span><i class="fa fa-comment-o"></i> 25</span>
        <span><i class="fa fa-flag-o"></i> 举报</span>
        <span title="分享"><i class="fa fa-share-square-o"></i></span>
        <span title="more"><i class="fa fa-ellipsis-h"></i></span>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
	export default {
	  data () {
	    return {}
	  }
	}
</script>
<style>
  @import 'css/variable';
  .thumb-up{
    padding: 4px 0;
    text-align: center;
    border-radius: 4px;
    width:30px;
    background: var(--color-primary);
    & > div{
      color: #fff;
      font-size: 12px;
    }
  }
  .topic-list {
    & .media-object-section{
      &:last-child {
        & div {
          font-size: 12px;
        }
      }
    }
  }
</style>
