<template>
  <div class="transverse member-list user mod-border">
    <user-block class="img" tagName="div" :user="item">
      <router-link :to="{ name: 'user', params: { userId: item.id }}"><img class="img" :alt="item.userName" :src="item.avatar" v-error-img:user/></router-link>
    </user-block>
    <div class="content">
      <div class="username">
        <router-link :to="{ name: 'user', params: { userId: item.id }}">
          <user-block class="username" tagName="a" :user="item">{{item.userName}} </user-block>
        </router-link>
        <i class="fa margin-l4" :class="getSexIconMsg().icon" :title="getSexIconMsg().title"></i>
      </div>
      <slot name="tools"></slot>
      <div class="arInfo"><span>{{item.joinDate | dateFormat}}</span></div>
    </div>
  </div>
</template>
<script>
  import UserBlock from '@/views/user/UserBlock'
  export default {
    components: {
      UserBlock
    },
    data () {
      return {
      }
    },
    computed: {
    },
    props: {
      item: Object
    },
    methods: {
      getSexIconMsg () {
        let sex = Number.parseInt(this.item.sex)
        let title = '性别保密'
        let icon = 'fa-lock'
        if (sex === 1) {
          title = '男'
          icon = 'fa-mars color-blue'
        } else if (sex === 2) {
          title = '女'
          icon = 'fa-venus color-danger'
        }
        return {
          icon: icon,
          title: title
        }
      }
    }
  }
</script>
<style>
  .member-list {
    float: left;
    position: relative;
    padding: 10px;
    border-radius: 4px;
    width: 240px;
    margin: 0 1rem 1rem 0;
    & .content{
      margin: 0;
    }
    & .arInfo span{
      font-size: 10px;
    }
    &:hover .font-tools{
      display: block;
    }
    & .tools-status a{
      font-size: 12px;
      /*&:hover{*/
        /*text-decoration: underline;*/
      /*}*/
    }
  }
</style>
