<template>
  <div ref="articleBox" :class="{fullscreen: isFull}">
    <div class="swiper-button-fullscreen">
      <a @click="openFullscreen" class="fullscreen">
        <i class="fa fa-expand" v-if="!isFull"></i>
        <i class="fa fa-compress" v-else></i>
      </a>
    </div>
    <article class="article-content">
      <div class="header-bg">
        <img src="../../assets/img/u246.jpg" alt="文章标题" />
      </div>
      <header>
        <div class="h-top margin-t">
          <span class="bookmark">长文</span>
          <span class="source">
            陈清华 转载至 艾琳娜     一周前
          </span>
        </div>
        <h2 class="margin-t">说好一起读书何不如期赴约</h2>
        <div class="h-bottom">
          <a href="javascript:void(0)">许文胜</a>
          <span><i class="fa fa-eye"></i> 17人看过</span>
          <span>2017/04/07</span>
        </div>
      </header>
      <div class="article-section">
        <p>div在html早期版本就支持了，section和article是html5提出的两个语义化标签。如果只是针对一个块内容做样式化，三者并无区别。</p>
        <p>作为语义化标签，section 应用的典型场景有文章的章节、标签对话框中的标签页、或者论文中有编号的部分。一般来说，当元素内容明确地出现在文档大纲中时，section 就是适用的。</p>
        <p>对于article标签来说，无论从结构上还是内容上来说，article 本身就是独立的、完整的。有个最简单的判断方法是看这段内容脱离了所在的语境，是否还是完整的、独立的，如果是，则应该用article标签。</p>
        <p>div section article ，语义是从无到有，逐渐增强的。div 无任何语义，仅仅用作样式化或者脚本化，对于一段主题性的内容，则就适用 section，而假如这段内容可以脱离上下文，作为完整的独立存在的一段内容，则就适用 article。原则上来说，能使用 article 的时候，也是可以使用 section 的，但是实际上，假如使用 article 更合适，那么就不要使用 section 。</p>
      </div>
      <div class="article-footer">
       <span>— 作者主页 —</span>
       <div class="user transverse">
         <div class="img">
           <a href=""><img src="../../assets/img/3.png"/></a>
         </div>
         <div class="content">
           <div class="username">
             <a href="">用户姓名 </a>
             <i class="fa fa-venus color-danger margin-l4"></i>
           </div>
           <div class="arInfo"><span>2017-07-02</span></div>
         </div>
         <div class="follow">
           <el-button size="small" type="primary"><i class="el-icon-plus"></i> 关注</el-button>
         </div>
       </div>
      </div>
      <div class="ar-tags">
        <div class="color-secondary font-s12 margin-b">相关标签</div>
        <el-tag type="gray">标签二</el-tag>
        <el-tag type="gray">标签二</el-tag>
      </div>
    </article>
  </div>
</template>
<script>
  import { fullscreen } from '@/util/lg-fullscreen.js'
  export default {
    data () {
      return {
        isFull: false
      }
    },
    methods: {
      openFullscreen () {
        this.isFull = !this.isFull
        fullscreen(this.$refs.articleBox).init()
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .fullscreen{
    width: 100%;
    background: rgba(0,0,0,.2);
    overflow: auto;
  }
</style>
