<template>
  <el-dialog
    :visible.sync="dialogVisible"
    size="large"
    top="0"
    @close="isclose"
    :close-on-click-modal="false"
    custom-class="chat-wrapper"
    :modal="false"
  >
    <div class="off-canvas-wrapper">
      <div class="position-left" ref="aaa">
        <div class="head">
            <div class="media-object user">
              <div class="media-object-section shrink">
                <div class="img img36">
                  <img src="../../assets/img/4.jpg" alt="">
                </div>
              </div>
              <div class="media-object-section center">
                <div class="user-name">
                  <span>张三1</span>
                </div>
                <el-dropdown trigger="click">
                  <span class="el-dropdown-link">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>发起聊天</el-dropdown-item>
                    <el-dropdown-item>关闭声音</el-dropdown-item>
                    <el-dropdown-item>意见反馈</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
            </div>
            <el-autocomplete
              class="search-people"
              icon="search"
              v-model="searchPeople"
              :fetch-suggestions="querySearch"
              placeholder="搜索成员"
              @select="handleSelect"
            ></el-autocomplete>
          </div>
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="聊天" name="first" class="scrollCss">
              <span slot="label"><i class="fa fa-comment-o" aria-hidden="true"></i></span>
              <ul class="address-list">
                <li class="stick">
                  <div class="media-object user">
                    <div class="media-object-section shrink">
                      <div class="img img36">
                        <img src="../../assets/img/1.jpg" alt="">
                      </div>
                    </div>
                    <div class="media-object-section">
                      <p class="chatname">
                        <span>置顶样式</span>
                      </p>
                      <div class="manager">
                        <span class="chat-time margin-r4">11:23</span>
                        <el-dropdown trigger="click">
                          <span class="el-dropdown-link">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                          <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>消息免打扰</el-dropdown-item>
                            <el-dropdown-item>置顶</el-dropdown-item>
                            <el-dropdown-item>存档</el-dropdown-item>
                            <el-dropdown-item>删除</el-dropdown-item>
                            <el-dropdown-item>标记为未读标记为垃圾信息</el-dropdown-item>
                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                      <p class="chat-des">安迪和韩系稳定性安迪和韩系稳定性安迪和韩系稳定性安迪和韩系稳定性</p>
                    </div>
                  </div>
                </li>
                <li class="active">
                  <div class="media-object user">
                    <div class="media-object-section shrink">
                      <div class="img img36">
                        <img src="../../assets/img/2.jpg" alt="">
                      </div>
                    </div>
                    <div class="media-object-section">
                      <p class="chatname">
                        <span>点击样式</span>
                      </p>
                      <div class="manager">
                        <span class="chat-time margin-r4">11:23</span>
                        <el-dropdown trigger="click">
                          <span class="el-dropdown-link">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                          <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>消息免打扰</el-dropdown-item>
                            <el-dropdown-item>置顶</el-dropdown-item>
                            <el-dropdown-item>存档</el-dropdown-item>
                            <el-dropdown-item>删除</el-dropdown-item>
                            <el-dropdown-item>标记为未读标记为垃圾信息</el-dropdown-item>
                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                      <p class="chat-des">安迪和韩系稳定性安迪和韩系稳定性安迪和韩系稳定性安迪和韩系稳定性</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media-object user">
                    <div class="media-object-section shrink">
                      <div class="img img36">
                        <img src="../../assets/img/3.png" alt="">
                      </div>
                    </div>
                    <div class="media-object-section">
                      <p class="chatname">
                        <span>常规聊天样式</span>
                      </p>
                      <div class="manager">
                        <span class="chat-time margin-r4">11:23</span>
                        <el-dropdown trigger="click">
                          <span class="el-dropdown-link">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                          <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>消息免打扰</el-dropdown-item>
                            <el-dropdown-item>置顶</el-dropdown-item>
                            <el-dropdown-item>存档</el-dropdown-item>
                            <el-dropdown-item>删除</el-dropdown-item>
                            <el-dropdown-item>标记为未读标记为垃圾信息</el-dropdown-item>
                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                      <p class="chat-des">安迪和韩系稳定性安迪和韩系稳定性安迪和韩系稳定性安迪和韩系稳定性</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="media-object user">
                    <div class="media-object-section shrink">
                      <div class="img36">
                        <img src="../../assets/img/4.jpg" alt="">
                      </div>
                    </div>
                    <div class="media-object-section">
                      <p class="chatname">
                        <span>群组样式</span>
                      </p>
                      <div class="manager">
                        <span class="chat-time margin-r4">11:23</span>
                        <el-dropdown trigger="click">
                          <span class="el-dropdown-link">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                          <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>消息免打扰</el-dropdown-item>
                            <el-dropdown-item>置顶</el-dropdown-item>
                            <el-dropdown-item>存档</el-dropdown-item>
                            <el-dropdown-item>删除</el-dropdown-item>
                            <el-dropdown-item>标记为未读标记为垃圾信息</el-dropdown-item>
                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                      <p class="chat-des">安迪和韩系稳定性安迪和韩系稳定性安迪和韩系稳定性安迪和韩系稳定性</p>
                    </div>
                  </div>
                </li>
              </ul>
            </el-tab-pane>
            <el-tab-pane label="通讯录" name="second" class="scrollCss address-list-pane">
              <span slot="label"><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
              <!--<add-member-list class="clearfix" type="tag" :recTags="addressList" :showSelectTitle="false" :showSelected="false" :showSelectBox="false"></add-member-list>-->
              <div class="groups">群组</div>
              <ul class="address-list">
                <li v-for='(addressList, index) in addressLists'>
                  <div class="media-object user">
                    <div class="media-object-section shrink">
                      <div class="img30">
                        <img src="../../assets/img/6.png" alt="">
                      </div>
                    </div>
                    <div class="media-object-section center">
                      <p class="chatname">
                        <span>{{addressList}}</span>
                      </p>
                      <div class="manager address-list-manager">
                        <el-dropdown trigger="click">
                          <span class="el-dropdown-link">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                          <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>消息免打扰</el-dropdown-item>
                            <el-dropdown-item>置顶</el-dropdown-item>
                            <el-dropdown-item>存档</el-dropdown-item>
                            <el-dropdown-item>删除</el-dropdown-item>
                            <el-dropdown-item>标记为未读标记为垃圾信息</el-dropdown-item>
                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="groups">好友</div>
              <ul class="address-list">
                <li v-for='(addressList, index) in addressLists'>
                  <div class="media-object user">
                    <div class="media-object-section shrink">
                      <div class="img img30">
                        <img src="/static/img/1.8ad0de6.jpg" alt="">
                      </div>
                    </div>
                    <div class="media-object-section center">
                      <p class="chatname">
                        <span>{{addressList}}</span>
                      </p>
                      <div class="manager address-list-manager">
                        <el-dropdown trigger="click">
                          <span class="el-dropdown-link">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                          </span>
                          <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>消息免打扰</el-dropdown-item>
                            <el-dropdown-item>置顶</el-dropdown-item>
                            <el-dropdown-item>存档</el-dropdown-item>
                            <el-dropdown-item>删除</el-dropdown-item>
                            <el-dropdown-item>标记为未读标记为垃圾信息</el-dropdown-item>
                          </el-dropdown-menu>
                        </el-dropdown>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </el-tab-pane>
          </el-tabs>
      </div>
      <div class="position-right">
        <div class="chat-area">
          <!--<img-comment @close="closeComment" @mark="imgMark"></img-comment>-->
          <div class="chat-head">
            <div class="chat-room-members-wrap">
              <div class="chat-room-members" v-if="showChatMembersWrap">
                <div class="members user clearfix">
                  <!--添加好友-->
                  <div class=" opt img" title="添加好友" @click="showAddMemberDialog = true">
                    <i class="el-icon-plus"></i>
                  </div>
                  <!--已加好友-->
                  <div v-for="selestmember in selestmembers" v-bind:title="selestmember">
                    <img src="/static/img/1.8ad0de6.jpg" alt="">
                    <div>{{ selestmember }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chat-title">
              <span @click="showChatMembers">张三<i class="fa fa-angle-down margin-l4" aria-hidden="true" v-if="!showChatMembersWrap"></i><i aria-hidden="true" class="fa fa-angle-up margin-l4" v-else></i></span>
            </div>
          </div>
          <div class="chat-body scrollCss">
            <div class="chat-time">12:20</div>
            <div class="chat-man">
              <!--显示名字好友-->
              <div class="talk-other">
                <div>
                  <div class="media-object user">
                    <div class="media-object-section shrink">
                      <div class="img img36">
                        <img src="/static/img/1.8ad0de6.jpg" alt="">
                      </div>
                    </div>
                    <div class="media-object-section">
                      <p class="chatname">
                        <span>张三</span>
                      </p>
                      <div class="message-box left-tri">
                        <span>按时呢次呢回复按时呢次回复</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--自己-->
              <div class="talk-own">
                <a>
                  <div class="media-object user">
                    <div class="media-object-section">
                      <div class="message-box right-tri">
                        <span>按时呢次呢回复按时按时呢次呢回复按时按时呢次呢回复按时按时呢次呢回复按时</span>
                      </div>
                    </div>
                    <div class="media-object-section">
                      <div class="img img36">
                        <img src="../../assets/img/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <!--无名字好友-->
              <div class="talk-other">
                <div class="media-object user">
                  <div class="media-object-section shrink">
                    <div class="img img36">
                      <img src="/static/img/1.8ad0de6.jpg" alt="">
                    </div>
                  </div>
                  <div class="media-object-section">
                    <div class="message-box left-tri">
                      <span>按时呢次呢回复按时呢次回复按时呢次呢回复按时呢次回复按时呢次呢回复按时呢次回复按时呢次呢回复按时呢次回复</span>
                    </div>
                  </div>
                </div>
              </div>
              <!--自己-->
              <div class="talk-own">
                <a>
                  <div class="media-object user">
                    <div class="media-object-section">
                      <div class="message-box right-tri">
                        <span>按时呢次呢回复按时</span>
                      </div>
                    </div>
                    <div class="media-object-section">
                      <div class="img img36">
                        <img src="../../assets/img/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="talk-own">
                <a>
                  <div class="media-object user">
                    <div class="media-object-section">
                      <div class="message-box right-tri">
                        <span>按时呢次呢回复按时</span>
                      </div>
                    </div>
                    <div class="media-object-section">
                      <div class="img img36">
                        <img src="../../assets/img/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="talk-own">
                <a>
                  <div class="media-object user">
                    <div class="media-object-section">
                      <div class="message-box right-tri">
                        <span>按时呢次呢回复按时</span>
                      </div>
                    </div>
                    <div class="media-object-section">
                      <div class="img img36">
                        <img src="../../assets/img/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="talk-own">
                <a>
                  <div class="media-object user">
                    <div class="media-object-section">
                      <div class="message-box right-tri">
                        <span>按时呢次呢回复按时</span>
                      </div>
                    </div>
                    <div class="media-object-section">
                      <div class="img img36">
                        <img src="../../assets/img/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="talk-own">
                <a>
                  <div class="media-object user">
                    <div class="media-object-section">
                      <div class="message-box right-tri">
                        <span>按时呢次呢回复按时</span>
                      </div>
                    </div>
                    <div class="media-object-section">
                      <div class="img img36">
                        <img src="../../assets/img/4.jpg" alt="">
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="clearfix chat-comment">
            <div class="add-comment">
              <div class="comment-box verticle">
                <div class="comment-btn comment-tools">
                  <a class="el-tooltip item">
                    <i class="fa fa-smile-o"></i>
                  </a>
                  <a class="el-tooltip item">
                    <i class="fa fa-camera-retro"></i>
                  </a>
                </div>
                <div class="comment-txt">
                  <textarea placeholder="写评论…" class="scrollCss"></textarea>
                </div>
                <div class="comment-commit float-right margin-r10">
                  <button type="button" class="el-button el-button--success el-button--small">
                    <span>回复</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </el-dialog>
</template>
<script>
  import Comment from '../comment/Comment'
  import ImgComment from './ImgComment'
  import { showAddMemberDialog, addMemberDialogTitle } from '@/store/modules/groupMember'
  export default {
    data () {
      return {
        dialogVisible: false,
        searchPeople: '',
        activeName: 'first',
        addressLists: ['张三2', '李四3', '王五4', '赵六', '朱八'],
        selestmembers: ['王五王五王五', '张三2', '李四3', '王五4', '赵六', '朱八', '李四3', '王五4', '赵六'],
        isClick: false,
        showChatMembersWrap: false
      }
    },
    components: {
      Comment,
      ImgComment
    },
    props: {
      visible: Boolean
    },
    methods: {
      isclose () {
        this.$emit('isClose')
      },
      querySearch (queryString, cb) {
        var restaurants = this.restaurants
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants
        cb(results)
      },
      loadAll () {
        return [
          { 'value': '三全鲜食（北新泾店）', 'address': '长宁区新渔路144号' }
        ]
      },
      handleSelect (item) {
        console.log(item)
      },
      handleClick (tab, event) {
        console.log(tab, event)
      },
      beginChat (index) {
        console.log(this.$refs.li[index])
      },
      showChatMembers () {
        this.addMemberDialogTitle = '添加会话成员'
        this.showChatMembersWrap = !this.showChatMembersWrap
      }
    },
    watch: {
      visible () {
        this.dialogVisible = this.visible
      }
    },
    computed: {
      showAddMemberDialog,
      addMemberDialogTitle

    },
    mounted () {
      this.restaurants = this.loadAll()
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .chat-wrapper{
    max-width: 1000px;
    min-width: 700px;
    margin: 0;
    background: none;
    box-shadow: none;
    & .el-dialog__header {
      padding: 0;
      position: relative;
      & span{
        color: #fff;
      }
    }
    & .el-dialog__headerbtn{
      position: absolute;
      top: 87px;
      height: 2.25rem;
      width: 2.25rem;
      right: 18px;
      z-index: 1000;
    }
    & .el-dialog__body{
      padding: 0;
      overflow: auto;
    }
    & .off-canvas-wrapper{
      border-radius: 3px;
      margin: 80px auto 0;
      height: 780px;
      & .position-left{
        height: 100%;
        max-width: 280px;
        position: relative;
        left: 0;
        background-color: color(var(--color-primary) shade(50%));
        border: 1px solid color(var(--color-primary) shade(50%));
      }
      & .position-right{
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 283px);
        max-width: 720px;
        background: #fff;
        height: 100%;
        border: 1px solid #dedede;
        border-left: 0px;
        box-sizing: border-box;
      }
    }
    & .el-tabs{
      height: calc(100% - 104px);
      position: relative;
      & .el-tabs__header{
        margin: 0;
        border-bottom: none;
        & .el-tabs__nav{
          width: 100%;
          & .el-tabs__active-bar{
            background-color: var(--color-success);
            display: none;
          }
          & .el-tabs__item{
            width: 50%;
            font-size: 20px;
            text-align: center;
            color: #ffffff;
            &:not(:last-child){
              &:after{
                content: '';
                width: 1px;
                height: 21px;
                vertical-align: middle;
                display: inline-block;
                background: color(var(--color-black) tint(85%));
                position: relative;
                left: 60px;
              }
            }
            &:hover{
              color:var(--color-success);
            }
          }
          & .el-tabs__item.is-active{
            color: var(--color-success);
          }
        }
      }
      & .el-tabs__content{
        height: calc(100% - 42px);
        & .el-tab-pane{
          height: 100%;
          overflow: auto;
          & .groups{
            padding: 2px 18px;
            font-weight: bold;
            color: var(--color-grey);
            background-color: color(var(--color-primary) shade(40%));
            font-size: 14px;
            height: 24px;
            line-height: 24px;
          }
        }
        & .address-list-pane{
          & li{
            padding: 10px 16px!important;
          }
        }
      }
    }
  }
  /*左侧好友区*/
  .head{
    padding: 16px 16px 0;
    & .user{
      & .el-dropdown{
        position: absolute;
        right: 16px;
      }
    }
    & .search-people{
      width: 100%;
      & .el-input__inner{
        background-color: color(var(--color-primary) shade(35%));
        border: 0;
        border-radius: 0;
        color: var(--color-white);
      }
    }
  }
  .address-list{
    margin: 0;
    line-height: 0px;
    & .stick{
      background-color: color(var(--color-primary) shade(30%));
    }
    & .active{
      background-color: color(var(--color-primary) shade(20%));
    }
    & li{
      position: relative;
      list-style: none;
      padding: 14px 16px;
      box-shadow: 0 1px 0 rgba(0,0,0,0.2);
      cursor: pointer;
      & .media-object{
        margin: 0px;
        & .media-object-section{
          position: relative;
          & .img36{
            & img{
              border-radius: 3px;
            }
          }
          & .img30{
            & img{
              border-radius: 3px;
            }
          }
          & .chatname{
            color: var(--color-white);
            font-size: 12px;
            margin: 0;
          }
          & .manager{
            position: absolute;
            top: 2px;
            right: 0px;
            & .chat-time{
              color: color(var(--color-secondary) shade(30%));
              font-size: 12px;
            }
          }
          & .address-list-manager{
            position: absolute;
            top: 10px;
            right: 0px;
          }
          & .chat-des{
            margin:0;
            color: var(--color-secondary);
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: normal;
            width: 195px;
            display: block;
          }
        }
      }
    }
  }
  .img{
    cursor: pointer;
  }
  .user-name{
    color: var(--color-white);
  }
  .center{
    display: flex;
    align-items: center;
    & .fa.fa-bars{
      font-size: 16px;
      cursor: pointer;
    }
  }
  /*右侧聊天区*/
  .chat-area{
    background-color: color(var(--background-color) shade(3%));
    height: 100%;
  }
  .chat-head{
    text-align: center;
    line-height: 30px;
    & .chat-room-members-wrap{
      & .chat-room-members{
        position: absolute;
        z-index: 99;
        top: 50px;
        margin-top: 1px;
        box-shadow: 1px 1px 1px #e0e0e0;
        width: 100%;
        padding: 10px 0 4px;
        background-color: color(var(--background-color) shade(3%));
        border-bottom: 1px solid #dedede;
        & .members{
          padding-left: 16px;
          & >div{
            display: inline-block;
            float: left;
            margin: 0 8px;
            & img{
              width: 50px;
              border-radius: 50%;
              cursor: pointer;
            }
            & div{
              color: color(var(--color-black) tint(40%));
              font-size: 12px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              word-wrap: normal;
              width: 50px;
              cursor: pointer;
            }
          }
          & .opt{
            border: 1px dashed;
            cursor: pointer;
            & i{
              position: absolute;
              top: 28px;
              left: 43px;
            }
          }
        }
      }
    }
    & .chat-title{
      padding: 10px 0;
      margin: 0 16px;
      border-bottom: 1px solid color(var(--color-black) tint(85%));
      & span{
        cursor: pointer;
        color: var(--color-black);
      }
    }
  }
  .chat-body{
    height: calc(100% - 200px);
    overflow: auto;
    padding: 0 16px;
    & .chat-time{
      text-align: center;
      margin: 10px auto;
      font-size: 12px;
      color: color(var(--color-black) tint(60%));
    }
    & .chat-man{
      & .talk-other{
        & .media-object-section:first-child{
          padding-right: 10px;
        }
      }
      & .talk-own{
        text-align: right;
        & a{
          display: inline-block;
          cursor: auto;
          & .media-object-section:first-child{
            padding-right: 10px;
            & .message-box{
              & span{
                background-color: #b2e281;
                border-radius: 3px;
              }
            }
          }
        }
      }
      & .message-box{
        position: relative;
        text-align: left;
        display: inline-block;
        border-radius: 5px;
        color: var(--color-black);
        max-width: 500px;
        & span{
          padding: 8px 12px;
          background-color: #ffffff;
          display: inline-block;
          border-radius: 3px;
        }
      }
      & .left-tri{
        & :after,
        & :before{
          border: solid transparent;
          content: ' ';
          height: 0;
          right: 100%;
          position: absolute;
          width: 0;
        }
        & :after{
          border-width: 6px;
          border-right-color: #fff;
          top: 13px;
        }
        & :before{
          border-width: 6px;
          border-right-color: #fff;
          top: 13px;
        }
      }
      & .right-tri{
        & :after,
        & :before{
          border: solid transparent;
          content: ' ';
          height: 0;
          left: 100%;
          position: absolute;
          width: 0;
        }
        & :after{
          border-width: 6px;
          border-left-color: #b2e281;
          top: 13px;
        }
        & :before{
          border-width: 6px;
          border-left-color: #b2e281;
          top: 13px;
        }
      }
    }
  }
  .chat-comment{
    & .comment-txt{
      & textarea{
        background-color: color(var(--background-color) shade(3%));
      }
    }
  }


  @media print, screen and (max-height: 850px),(max-width: 1000px){
    .chat-wrapper{
      & .el-dialog__headerbtn{
        position: absolute;
        top: 8px;
        height: 2.25rem;
        width: 2.25rem;
        right: 18px;
        z-index: 1000;
      }
      & .off-canvas-wrapper{
        margin: 0 auto;
        height: 100%!important;
        & .position-left{
          height: 100%!important;
          & .el-tab-pane{
            height: calc(100vh - 146px)!important;
          }
        }
        & .position-right{
          height: 100%!important;
          & .chat-body{
            height: calc(100vh - 220px)!important;
          }
        }
      }
    }
  }
</style>
