<template>
  <div>
    <el-dialog
      title="用户"
      :visible.sync="feedViewer.show"
      size="tiny"
      class="feed-viewer"
    >
      <el-tabs value="first" v-if="feedViewer.type === 'feedRead'">
        <el-tab-pane :label="'已读 ' + feedViewer.readed.length" name="first">
          <!--<div v-for="user in feedViewer.readed" :key="user.id">{{user.userName}}</div>-->
          <div class="members user clearfix">
            <div v-for="user in feedViewer.readed" :key="user.id" :title="user.userName || user.id">
              <img :src="user.avatar" :alt="user.userName || user.id" v-error-img:user>
              <div>{{user.userName || user.id}}</div>
            </div>
          </div>
          <!--<div class="img-list img_list clearfix large-up-8 view-record">-->
          <!--<div class="column flex-center" v-for="user in feedViewer.readed" :key="user.id">-->
          <!--<a><img src="../assets/img/6.png"/></a>-->
          <!--<span>{{user.userName}}</span>-->
          <!--</div>-->
          <!--</div>-->
        </el-tab-pane>
        <el-tab-pane v-if="groupId && groupType === 'group'" :label="'未读 ' + feedViewer.unread.length" name="second">
          <!--<div v-for="user in feedViewer.unread" :key="user.id">{{user.userName || user.id}}</div>-->
          <div class="members user clearfix">
            <div v-for="user in feedViewer.unread" :key="user.id" :title="user.userName || user.id">
              <img :src="user.avatar" :alt="user.userName || user.id" v-error-img:user>
              <div>{{user.userName || user.id}}</div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
      <div class="members user clearfix" v-else>
        <div v-for="user in feedViewer.markUsers" :key="user.id" :title="user.userName || user.id">
          <img :src="user.avatar" :alt="user.userName || user.id" v-error-img:user>
          <div>{{user.userName || user.id}}</div>
        </div>
      </div>
    </el-dialog>
    <el-dialog
      :visible.sync="dialogVisible"
      size="large"
      top="0"
      @close="isclose"
      :close-on-click-modal="false"
      custom-class="preview-wrapper"
      ref="preview"
    >
      <div class="article-btn">
        <a class="article-pre disabled" title="上一篇"><i class="fa fa-angle-left"></i></a>
        <a class="article-next" title="下一篇"><i class="fa fa-angle-right"></i></a>
      </div>
      <div class="off-canvas-wrapper" :class="{commentOpen: commentVisible}">
        <div class="position-left" :class="currentView">
          <video-play
            v-if="currentView === 'video-play'"
            ref="videoPlayer"
            :options="playerOptions"
            @play="onPlayerPlay($event)"
            @pause="onPlayerPause($event)"
            @ended="onPlayerEnded($event)"
            @loadeddata="onPlayerLoadeddata($event)"
            @waiting="onPlayerWaiting($event)"
            @playing="onPlayerPlaying($event)"
            @timeupdate="onPlayerTimeupdate($event)"
            @canplay="onPlayerCanplay($event)"
            @canplaythrough="onPlayerCanplaythrough($event)"
            @ready="playerReadied"
            @statechanged="playerStateChanged($event)">
          </video-play>
          <component ref="cusComponent" v-bind:is="currentView" v-else></component>
        </div>
        <div class="position-right">
          <preview-comment @close="closeComment" @likeView='showView'></preview-comment>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import PreviewComment from './PreviewComment'
  import VideoPlay from '@/components/VideoPlayer'
  import PostDetail from '@/views/include/PostDetail'
  import ImgDetail from './ImgDetail'
  // import DocDetail from './DocDetail'
  const DocDetail = () => import(/* webpackChunkName: "test" */ './DocDetail')
  import { previewData } from '@/store/modules/preview'
  export default {
    data () {
      return {
        dialogVisible: false,
        commentVisible: false,
        currentView: 'article-detail',
        playerOptions: {
          start: 0,
          preload: false,
          playsinline: false,
          muted: true,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: 'video/mp4',
            src: 'http://gslb.miaopai.com/stream/B~dRdhKMQeI6cuE5aqoGYoVaqbu0YNVn.mp4'
          }],
          poster: 'http://covteam.u.qiniudn.com/poster.png'
        },
        playerCurrentState: null,
        feedViewer: {
          readed: [],
          unread: [],
          markUsers: [],
          type: 'feedRead',
          show: false
        }
      }
    },
    props: {
      visible: Boolean,
      file: String
    },
    methods: {
      showView () {
        this.feedViewer.show = true
      },
      isclose () {
        this.$emit('isClose')
      },
      openComment () {
        this.commentVisible = true
      },
      closeComment () {
        this.commentVisible = false
      },
      onPlayerPlay (player) {
//        console.log('player play!', player)
      },
      onPlayerPause (player) {
//        console.log('player pause!', player)
      },
      onPlayerEnded (player) {
        // console.log('player ended!', player)
      },
      onPlayerLoadeddata (player) {
        // console.log('player Loadeddata!', player)
      },
      onPlayerWaiting (player) {
        // console.log('player Waiting!', player)
      },
      onPlayerPlaying (player) {
        // console.log('player Playing!', player)
      },
      onPlayerTimeupdate (player) {
//        console.log('player Timeupdate!', player.currentTime())
      },
      onPlayerCanplay (player) {
        // console.log('player Canplay!', player)
      },
      onPlayerCanplaythrough (player) {
        // console.log('player Canplaythrough!', player)
      },
      // or listen state event
      playerStateChanged (playerCurrentState) {
//      console.log('player current update state', playerCurrentState)
        this.playerCurrentState = playerCurrentState
      },
      // player is ready
      playerReadied (player) {
//        console.log('example 01: the player is readied', player)
        player.pause()
      }
    },
    watch: {
      visible () {
        this.dialogVisible = this.visible
      }
    },
    // 如果你需要得到当前的swiper对象来做一些事情，你可以像下面这样定义一个方法属性来获取当前的swiper对象，同时notNextTick必须为true
    computed: {
      previewData,
      player () {
        return this.$refs.videoPlayer.player
      }
    },
    mounted () {
//    var articleBtn = document.createElement('div')
//    articleBtn.className = 'article-btn'
//    articleBtn.innerHTML = `
//      `
//    this.$refs.preview.$el.append(articleBtn)
    },
    components: {
      PreviewComment,
      VideoPlay,
      PostDetail,
      ImgDetail,
      DocDetail
    }
  }
</script>
<style>
  .article-btn > a{
    position: absolute;
    font-size: 2em;
    color: #fff;
    display: flex;
    height: 48px;
    width:48px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background: rgba(255,255,255,.2);
    bottom: 20px;
    opacity: 0.4;
    &:first-child{
      left: -58px;
    }
    &:nth-child(2) {
      right: -58px;
    }
    &:hover {
      opacity: 1;
    }
    &.disabled {
      cursor: default;
      opacity: 0.3;
    }

  }
  .off-canvas-wrapper{
    background: rgba(0,0,0,.6);
    height: calc(100vh - 40px);
    margin: 20px auto 0;
    overflow: hidden;
    position: relative;
  }
  .preview-wrapper{
    width:calc(100% - 120px);
    max-width: 1300px;
    margin: 0 auto;
    background: none;
    box-shadow: none;
  & .el-dialog__header {
      padding: 0;
  & span{
      color: #fff;
    }
  }
  & .el-dialog__headerbtn{
      position: absolute;
      top: 0;
      height: 2.25rem;
      width: 2.25rem;
      right: -1.125rem;
      border-radius: 50%;
      background: #000000;
      z-index: 1000;
      border: 4px solid #fff;
    }
  & .el-dialog__body{
      height: 100vh;
      padding: 0;
      overflow: auto;
  & .position-left{
      height: calc(100vh - 40px);
      overflow: auto;
      width: calc(100% - 380px);
      position: relative;
      left: 0;
  & iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  & .position-right{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 378px;
      background: #fff;
      height: calc(100vh - 40px);
      box-shadow: -1px 0 0 rgba(0,0,0,.3);
    }
  & .bucket_bar {
      padding: 10px;
    }
  }
  }
  .position-left > .swiper-tool-bar {
    opacity: 1;
    z-index: 3;
  }
  /* 设置滚动条的样式 */
.position-left::-webkit-scrollbar, .docBox .viewerContainer::-webkit-scrollbar {
    width: 8px;
}
/* 滚动槽 */
.position-left::-webkit-scrollbar-track, .docBox .viewerContainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.2);
    border-radius: 3px;
}
/* 滚动条滑块 */
.position-left::-webkit-scrollbar-thumb,.docBox .viewerContainer::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(255,255,255,0.3);
    -webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.2);
}
.position-left::-webkit-scrollbar-thumb:window-inactive ,.docBox .viewerContainer::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.3);
}
</style>
