<template>
  <div class="docBox" :class="{fullscreen: isFull}" ref="docBox" v-loading="loading"
       element-loading-text="正在导入中">
    <div class="swiper-button-fullscreen">
      <a @click="openFullscreen" class="fullscreen">
        <i class="fa fa-expand" v-if="!isFull"></i>
        <i class="fa fa-compress" v-else></i>
      </a>
    </div>
    <pdf-viewer
      ref="pdfViewer"
      :src="doc.url"
      @pagesinit="startAnnotator"
      @textlayerrendered="highlightAnnotator"
      @outlineloaded="(el) => $emit('outlineloaded', el)"
      @outlinechange="(key) => $emit('outlinechange', key)"
    >
      <a @click="toggleAnnotator" title="批注"><i class="fa fa-edit"></i></a>
    </pdf-viewer>
    <!-- <iframe :src="docUrl"></iframe> -->
    <!--<iframe src="http://192.168.16.100:3000/static/generic/web/viewer.html?file=../../hello.pdf"></iframe>-->
  </div>
</template>
<script>
  import PdfViewer from '@/components/PdfViewer'
  import { annotatorPromise } from '@/util'
  import { fullscreen } from '@/util/lg-fullscreen.js'
  import { quotesData } from '@/store/modules/share'
  export default {
    components: {
      PdfViewer
    },
    data () {
      return {
        isFull: false,
        doc: {},
        loading: true
      }
    },
    props: {
      datas: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    methods: {
      startAnnotator () {
        this.loading = false
        let annotationTarget = {
          type: 'DOCUMENT',
          id: this.doc.id,
          data: this.doc
        }
        annotatorPromise().then(Annotator => {
          this.annotator = new Annotator({
            objType: 'doc',
            objId: this.doc.id,
            userId: this.$store.state.currUser.id,
            // container: this.$refs.pdfViewer.$el,
            // elem: this.$refs.pdfViewer.$refs.viewer,
            pdfViewer: this.$refs.pdfViewer,
            bucketBar: true,
            adderShare: !this.canShare ? undefined : (ann) => {
              this.$emit('annotationShare', ann, annotationTarget)
            },
            adderCollect: !this.postIsPublish ? undefined : (ann) => {
              this.$emit('annotationCollect', ann, annotationTarget)
            },
            viewerCustomElem: (elem, ann) => {
              elem.className = ''
              if (ann.commentId) {
                elem.innerHTML = '<a class="viewComment"> 查看评论</a>'
                elem.addEventListener('click', (event) => {
                  if (event.target.classList.contains('viewComment') === true) {
                    this.scrollComment(ann)
                  }
                }, true)
              }
              this.storeNeedData({
                type: 'user',
                dataIds: [ann.userId]
              })
              .then(users => {
                let user = users[ann.userId]
                elem.innerHTML = '<span class="userName">' + user.userName + '</span>' + elem.innerHTML
              })
            },
            loadedCallback: () => {
              this.$emit('annotationLoaded', annotationTarget)
            },
            createdCallback: ann => {
              this.$emit('annotationCreated', ann, annotationTarget)
            },
            updatedCallback: ann => {
              this.$emit('annotationUpdated', ann, annotationTarget)
            },
            deletedCallback: ann => {
              this.$emit('annotationDeleted', ann, annotationTarget)
            }
          })
          this.annotator.start()
          .then(() => {
            if (this.datas.location) {
              this.annotator.goToAnn(this.datas.location)
            }
            let query = this.$route.query
            if (query && query.quote) {
              if (this.annotator) {
                let quote = this.quotesData[query.quote]
                this.annotator.highlightAnn(quote)
                this.annotator.goToAnn(quote.id)
              }
            }
          })
        })
      },
      highlightAnnotator () {
        if (this.annotator) {
          this.annotator.highlight()
        }
      },
      openFullscreen () {
        this.isFull = !this.isFull
        fullscreen(this.$refs.docBox).init()
      },
      changeAction () {
        if (this.datas.resources && this.datas.resources.length > 0) {
          this.doc = this.datas.resources[0]
        } else {
          this.doc = {}
        }
      },
      goToOutline (o) {
        this.$refs.pdfViewer.goToOutline(o)
      },
      toggleAnnotator () {
        if (this.annotator) {
          this.annotator.disable = !this.annotator.disable
        }
      },
      scrollComment (ann) {
        this.$bus.$emit('comment:gotoItem', {
          createAt: this.doc.at,
          createAtType: this.doc.atType,
          ext: this.doc.id,
          qouteType: this.doc.type,
          objCreator: this.doc.objCreator,
          commentId: ann.commentId
        })
      }
    },
    computed: {
      quotesData,
      docUrl () {
        if (this.doc.url) {
          return this.$router.options.base + 'static/generic/web/viewer.html?file=' + encodeURIComponent(this.doc.url)
        } else {
          return false
        }
      },
      postIsPublish () {
        if (this.datas.post) {
          return this.datas.post.status === 3
        } else if (this.datas.source && (this.datas.source.objContent || this.datas.source.modelObject)) {
          return this.datas.source.status === 3 || this.datas.source.objContent.status === 3
        } else {
          return false
        }
      },
      canShare () {
        return this.datas.canShare && this.postIsPublish
      }
    },
    watch: {
      datas () {
        this.changeAction()
      }
    },
    created () {
      this.changeAction()
    },
    destroyed () {
      if (this.annotator) {
        this.annotator.destroy()
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .docBox{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    & > div {
      & .viewerContainer{
        margin: 0 auto;
        height: calc(100vh - 40px);
        position: relative;
        width: 100%;
        overflow: auto;
      }
    }
    &.fullscreen .viewerContainer{
      height: 100vh;
    }
    & .el-loading-mask{
      background: rgba(0,0,0,.8);
      & .el-loading-spinner .path{
        stroke: #fff;
      }
      & .el-loading-spinner .el-loading-text{
        color: #fff;
      }
    }
  }
  .annotator-annotation{
    & >div{
      color: var(--color-primary);
    }
  }
  .annotator-viewer div:first-of-type {
    color: var(--color-primary)!important;
  }
</style>
