<template>
  <el-dialog
    :visible.sync="dialogVisible"
    size="large"
    top="0"
    @close="isclose"
    custom-class="preview-wrapper"
    >
    <div class="off-canvas-wrapper" :class="{commentOpen: commentVisible}">
      <!--http://192.168.16.102:3000/static/hello.pdf-->
      <div class="position-left">
        <!--<iframe src="" frameborder="0" id="pdfContainer" name="pdfContainer"></iframe>-->
        <!--http://192.168.16.102:3000/static/generic/web/viewer.html?file=../../hello.pdf-->
        <iframe v-if="dialogVisible" :src="docUrl"></iframe>
        <!--<post-bar @open="openComment"></post-bar>-->
      </div>
      <div class="position-right">
        <comment @close="closeComment"></comment>
      </div>
    </div>
  </el-dialog>
</template>
<script>
  import Comment from './PreviewComment'
  import PostBar from './PostActionsBar'
  export default {
    data () {
      return {
        dialogVisible: false,
        commentVisible: false,
        doc: {}
      }
    },
    props: {
      visible: Boolean,
      file: String,
      docs: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    methods: {
      isclose () {
        this.$emit('isClose')
      },
      openComment () {
        this.commentVisible = true
      },
      closeComment () {
        this.commentVisible = false
      }
    },
    watch: {
      visible () {
        this.dialogVisible = this.visible
      },
      docs () {
        if (this.docs || this.docs.length > 0) {
          this.doc = this.docs[0]
        } else {
          this.doc = {}
        }
      }
    },
    mounted () {
    },
    computed: {
      docUrl () {
        return this.$router.options.base + 'static/generic/web/viewer.html?file=' + encodeURIComponent(this.doc.url)
      }
    },
    components: {
      Comment,
      PostBar
    }
  }
</script>
<style>
  .off-canvas-wrapper{
    background: rgba(0,0,0,.6);
    height: calc(100vh - 40px);
    margin: 20px auto 0;
    overflow: hidden;
    position: relative;
  }
  .preview-wrapper{
    width:100%;
    max-width: 1300px;
    margin: 0;
    background: none;
    box-shadow: none;
    & .el-dialog__header {
      padding: 0;
      & span{
        color: #fff;
      }
    }
    & .el-dialog__headerbtn{
      position: absolute;
      top: 0;
      height: 2.25rem;
      width: 2.25rem;
      right: -1.125rem;
      border-radius: 50%;
      background: #000000;
      z-index: 1000;
      border: 4px solid #fff;
    }
    & .el-dialog__body{
      height: 100vh;
      padding: 0;
      overflow: auto;
      & .position-left{
        height: calc(100vh - 40px);
        overflow: auto;
        width: calc(100% - 400px);
        position: relative;
        left: 0;
        & iframe {
          position: absolute;
          width: 100%;
          height: 100%;
          border: none;
        }
      }
      & .position-right{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 400px;
        background: #fff;
        height: 100vh;
        box-shadow: -1px 0 0 rgba(0,0,0,.3);
        /*transform: translateX(100%);
        transition: transform .3s;*/
      }
    }
    /*& .commentOpen{
      & .position-left, & .post-actions-bar{
        width: calc(100% - 400px);
      }
      & .position-right {
        transform: translateX(0);
      }
    }*/
  }
</style>
