<template>
  <div class="figure-layer">
    <div class="image-head-back hide-for-small">
      <a class="back" title="返回" @click="back">
        <i class="fa fa-angle-left"></i> 取消
      </a>
    </div>
    <div class="figure-side-hd transverse user">
      <div class="img">
        <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
      </div>
      <div class="content no-margin">
        <div class="username">
          <a href="">用户姓名 </a>
          <i class="fa fa-venus color-danger"></i>
        </div>
        <div class="arInfo">
          <span class="tag"># Web前端</span>
          <span class="color-secondary margin-l10">2017-05-18</span>
          <el-tooltip class="item" effect="dark" content="文档信息" placement="top-start">
            <i class="el-icon-warning"></i>
          </el-tooltip>
        </div>
      </div>
      <el-button type="success" size="small"><i class="fa fa-plus"></i> 关注</el-button>
    </div>
    <div class="figure-mod-comment">
      <div class="comment-tool-bar flex">
        <a>讨论</a>
        <a>点赞</a>
        <a>分享</a>
        <el-popover
        popper-class="vertical img-tool-bar"
        ref="more"
        placement="bottom-start"
        width="80"
        trigger="click">
        <ul class="vertical-menu">
          <li><i class="fa fa-edit"></i>编 辑</li>
          <li><i class="fa fa-square-o"></i>圈 人</li>
          <li @click="imgMark"><i class="fa fa-question-circle-o"></i>Mark</li>
          <li><i class="fa fa-trash-o"></i>删 除</li>
          <li><i class="fa fa-magic"></i>美 化</li>
        </ul>
       </el-popover>
        <a class="more" v-popover:more><i class="el-icon-more"></i></a>
      </div>
      <div class="comment-panel scrollCss">
        <ul class="comment-lists">
          <li>
            <div class="user transverse">
              <div class="img img36">
                <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
              </div>
              <div class="content">
                <div class="contentWrap">
                  <div class="username">
                    <a target="_self" href="">张三1 </a>
                    <i class="fa fa-venus color-danger"></i>
                  </div>
                  <div class="arInfo">
                    <span class="color-secondary">2017-05-18 12:36</span>
                    <div class="operation margin-l10">
                      <i class="fa fa-thumbs-o-up" title="点赞"></i>
                      <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                    </div>
                  </div>
                  <div class="commentCollapse margin-t6" @click="showP">
                    <div class="commentWord" title="与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念">
                      与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；
                      与现实生活一致：与现实生活的流程、逻辑保持一致，遵循用户习惯的语言和概念；
                    </div>
                    <div class="commentAngle">
                      <i class="fa fa-angle-down" aria-hidden="true" v-if="isShow"></i>
                      <i class="fa fa-angle-up" aria-hidden="true" v-else="!isShow"></i>
                    </div>
                  </div>
                  <div class="comment-content color-primary">
                    <p>这个真的是真的吗？？？</p>
                  </div>
                </div>
                <ol>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
                        </div>
                        <div class="content">
                          <div class="contentWrap">
                            <div class="username">
                              <a href="">李四</a>
                              <i class="fa fa-venus color-danger"></i>
                              <span class="color-secondary">回复</span>
                              <a target="_self" href="">张三 </a>
                              <i class="fa fa-mars color-info"></i>：
                            </div>
                            <div class="arInfo">
                              <span>2分钟前</span>
                              <div class="operation margin-l10">
                                <i class="fa fa-thumbs-o-up" title="点赞"></i>
                                <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                              </div>
                            </div>
                            <div class="comment-content color-primary">
                              <p>这个是真de</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/2.jpg" alt=""></a>
                        </div>
                        <div class="content">
                          <div class="contentWrap">
                            <div class="username">
                              <a target="_self" href="">李四</a>
                              <i class="fa fa-venus color-danger"></i>
                              <span class="color-secondary">回复</span>
                              <a target="_self" href="">张三 </a>
                              <i class="fa fa-mars color-info"></i>：
                            </div>
                            <div class="arInfo">
                              <span>1分钟前</span>
                              <div class="operation margin-l10">
                                <i class="fa fa-thumbs-o-up" title="点赞"></i>
                                <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                              </div>
                            </div>
                            <div class="comment-content color-primary">
                              <p>这个是真de</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </li>
          <li>
            <div class="user transverse">
              <div class="img img36">
                <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
              </div>
              <div class="content">
                <div class="contentWrap">
                  <div class="username">
                    <a target="_self" href="">张三2 </a>
                    <i class="fa fa-venus color-danger"></i>
                  </div>
                  <div class="arInfo">
                    <span class="color-secondary">2017-05-18 12:36</span>
                    <div class="operation margin-l10">
                      <i class="fa fa-thumbs-o-up" title="点赞"></i>
                      <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                    </div>
                  </div>
                  <div class="timeTag">
                    <i class="fa fa-clock-o margin-r4" aria-hidden="true"></i>00:12
                  </div>
                  <div class="triangleRight margin-r10"></div>
                  <div class="comment-content color-primary">
                    <p>这个真的是真的吗这个真的是真的吗这个真的是真的吗？</p>
                  </div>
                </div>
                <ol>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
                        </div>
                        <div class="content">
                          <div class="contentWrap">
                            <div class="username">
                              <a target="_self" href="">李四</a>
                              <i class="fa fa-venus color-danger"></i>
                              <span class="color-secondary">回复</span>
                              <a target="_self" href="">张三 </a>
                              <i class="fa fa-mars color-info"></i>：
                            </div>
                            <div class="arInfo">
                              <span>2分钟前</span>
                              <div class="operation margin-l10">
                                <i class="fa fa-thumbs-o-up" title="点赞"></i>
                                <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                              </div>
                            </div>
                            <div class="comment-content color-primary">
                              <p>这个是真de</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/2.jpg" alt=""></a>
                        </div>
                        <div class="content">
                          <div class="contentWrap">
                            <div class="username">
                              <a target="_self" href="">李四</a>
                              <i class="fa fa-venus color-danger"></i>
                              <span class="color-secondary">回复</span>
                              <a target="_self" href="">张三 </a>
                              <i class="fa fa-mars color-info"></i>：
                            </div>
                            <div class="arInfo">
                              <span>1分钟前</span>
                              <div class="operation margin-l10">
                                <i class="fa fa-thumbs-o-up" title="点赞"></i>
                                <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                              </div>
                            </div>
                            <div class="comment-content color-primary">
                              <p>这个是真de</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </li>
          <li>
            <div class="user transverse">
              <div class="img img36">
                <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
              </div>
              <div class="content">
                <div class="contentWrap">
                  <div class="username">
                    <a target="_self" href="">张三3 </a>
                    <i class="fa fa-venus color-danger"></i>
                    <span class="color-secondary margin-l4">标记了</span>
                    <span>图片</span>
                  </div>
                  <div class="arInfo">
                    <span class="color-secondary">2017-05-18 12:36</span>
                    <div class="operation margin-l10">
                      <i class="fa fa-thumbs-o-up" title="点赞"></i>
                      <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                    </div>
                  </div>
                  <div class="comment-content color-primary">
                    <p>这个真的是真的吗？</p>
                  </div>
                </div>
                <ol>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
                        </div>
                        <div class="content">
                          <div class="contentWrap">
                            <div class="username">
                              <a target="_self" href="">李四</a>
                              <i class="fa fa-venus color-danger"></i>
                              <span class="color-secondary">回复</span>
                              <a target="_self" href="">张三 </a>
                              <i class="fa fa-mars color-info"></i>：
                            </div>
                            <div class="arInfo">
                              <span>2分钟前</span>
                              <div class="operation margin-l10">
                                <i class="fa fa-thumbs-o-up" title="点赞"></i>
                                <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                              </div>
                            </div>
                            <div class="comment-content color-primary">
                              <p>这个是真de</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/2.jpg" alt=""></a>
                        </div>
                        <div class="content">
                          <div class="contentWrap">
                            <div class="username">
                              <a target="_self" href="">李四</a>
                              <i class="fa fa-venus color-danger"></i>
                              <span class="color-secondary">回复</span>
                              <a target="_self" href="">张三 </a>
                              <i class="fa fa-mars color-info"></i>：
                            </div>
                            <div class="arInfo">
                              <span>1分钟前</span>
                              <div class="operation margin-l10">
                                <i class="fa fa-thumbs-o-up" title="点赞"></i>
                                <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                              </div>
                            </div>
                            <div class="comment-content color-primary">
                              <p>这个是真de</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </li>
          <li>
            <div class="user transverse">
              <div class="img img36">
                <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
              </div>
              <div class="content">
                <div class="contentWrap">
                  <div class="username">
                    <a target="_self" href="">张三4 </a>
                    <i class="fa fa-venus color-danger"></i>
                  </div>
                  <div class="arInfo">
                    <span class="color-secondary">2017-05-18 12:36</span>
                    <div class="operation margin-l10">
                      <i class="fa fa-thumbs-o-up" title="点赞"></i>
                      <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                    </div>
                  </div>
                  <div class="comment-content color-primary">
                    <p>这个真的是真的吗？</p>
                  </div>
                  <div class="upimgBox margin-t6 row small-up-3 medium-up-4 large-up-5 clearfix">
                    <div class="column column-block">
                      <img class="padding-t6" src="../../assets/img/1.jpg" alt="">
                    </div>
                    <div class="column column-block">
                      <img class="padding-t6" src="../../assets/img/1.jpg" alt="">
                    </div>
                    <div class="column column-block">
                      <img class="padding-t6" src="../../assets/img/1.jpg" alt="">
                    </div>
                    <div class="column column-block">
                      <img class="padding-t6" src="../../assets/img/1.jpg" alt="">
                    </div>
                  </div>
                </div>
                <ol>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
                        </div>
                        <div class="content">
                          <div class="contentWrap">
                            <div class="username">
                              <a target="_self" href="">李四</a>
                              <i class="fa fa-venus color-danger"></i>
                              <span class="color-secondary">回复</span>
                              <a target="_self" href="">张三 </a>
                              <i class="fa fa-mars color-info"></i>：
                            </div>
                            <div class="arInfo">
                              <span>2分钟前</span>
                              <div class="operation margin-l10">
                                <i class="fa fa-thumbs-o-up" title="点赞"></i>
                                <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                              </div>
                            </div>
                            <div class="comment-content color-primary">
                              <p>这个是真de</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/2.jpg" alt=""></a>
                        </div>
                        <div class="content">
                          <div class="contentWrap">
                            <div class="username">
                              <a target="_self" href="">李四</a>
                              <i class="fa fa-venus color-danger"></i>
                              <span class="color-secondary">回复</span>
                              <a target="_self" href="">张三 </a>
                              <i class="fa fa-mars color-info"></i>：
                            </div>
                            <div class="arInfo">
                              <span>1分钟前</span>
                              <div class="operation margin-l10">
                                <i class="fa fa-thumbs-o-up" title="点赞"></i>
                                <i class="fa fa-comment-o margin-l10" title="回复" @click="reComment(user.id)"></i>
                              </div>
                            </div>
                            <div class="comment-content color-primary">
                              <p>这个是真de</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </li>
        </ul>
        <list-loading :loading="true"></list-loading>
      </div>
    </div>
    <div class="figure-comment clearfix">
      <comment
        :placeholderTxt="'请输入内容'"
        :commentBody="{}"
        :publish="() => {}"
        :verticleShow="true"
      ></comment>
    </div>
  </div>
</template>
<script>
  import Comment from '../comment/Comment'
  export default {
    components: {
      Comment
    },
    data () {
      return {
        activeName: 'first',
        commentValue: '',
        isTimePoint: false,
        activeNames: [''],
        isShow: true
      }
    },
    props: {
      currentTime: ''
    },
    methods: {
      addTimePoint () {
        this.isTimePoint = !this.isTimePoint
        this.$emit('isTimePoint', this.isTimePoint)
      },
      back () {
        this.$emit('close')
      },
      imgMark () {
        this.$emit('mark')
      },
      showP () {
        this.isShow = !this.isShow
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .img-tool-bar {
    & .vertical-menu li i{
      width: 18px;
      color: var(--color-secondary);
    }
  }
  .addTimeBtn {
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
  }
  .commentCollapse {
    border: none;
    border-radius: 0;
    border-left: 4px solid rgb(189, 159, 116);
    background-color: rgb(255,245,231);
    position: relative;
  }
  .commentWord{
    padding: 6px 20px 6px 10px;
    margin: 0;
    overflow: hidden;
    text-overflow:ellipsis;
    cursor: pointer;
  }
  .commentAngle{
    position: absolute;
    right: 10px;
    bottom: 5px;
  }
  .commentCollapse .el-collapse-item{
    border-left: 4px solid rgb(189, 159, 116);
  }
  .commentCollapse .el-collapse-item__wrap{
    border-bottom: none;
  }
  .commentCollapse .el-collapse-item__header,
  .commentCollapse .el-collapse-item__content
  {
    border-bottom: none;
    background-color: rgb(255,245,231);
    font-size: 12px;
  }
  /*时间标签*/
  .timeTag{
    font-size: 12px;
    display: inline-block;
    padding: 0 5px;
    background-color: #ddd;
    color: #999;
    cursor: pointer;
  }
  .triangleRight{
    width: 0;
    height: 0px;
    border-top: 9px solid transparent;
    border-left: 15px solid #ddd;
    border-bottom: 10px solid transparent;
    display: inline-block;
    position: relative;
    top: 6px;
    right: 5px;
  }
  .operation{
    display: inline-block;
  }
  .operation i{
    display: none;
    color: #999;
    cursor: pointer;
  }
  .contentWrap:hover .operation i{
    display: inline-block;
  }
  /*图片简介*/
  /*.imgBox{*/
    /*border: 1px solid color(var(--color-primary) tint(70%));*/
    /*border-left: 2px solid ;*/
    /*border-radius: 0 3px 3px 0;*/
    /*padding: 20px;*/
    /*cursor: pointer;*/
  /*}*/
  /*.imgBox img{*/
    /*width: 80px;*/
    /*height: 50px;*/
  /*}*/
  .upimgBox{
    border-top: 1px solid #ddd;
  }
  .upimgBox img{
    cursor: pointer;
  }
  .small-up-3 > .column {
    clear: both;
    width: 32.3333%;
    display: inline-block;
  }
  @media print, screen and (min-width: 40em){
    .medium-up-4 > .column {
      clear: both;
      width: 25%;
      display: inline-block;
    }
  }
  @media print, screen and (min-width: 64em){
    .large-up-5 > .column {
      clear: both;
      width: 19%;
      display: inline-block;
    }
  }
</style>
