<template>
  <div class="img-wrapper" ref="imgWrapper">
    <!--<div class="swiper-tool-bar clearfix" v-show="isStart">
      <a class="markBtn" @click="endMark">完成标记1</a>
    </div>-->
    <swiper :options="swiperOption" ref="mySwiper">
      <swiper-slide v-for="slide in swiperSlides" :key="slide.url">
        <div class="swiper-zoom-container">
          <span class="zoomObj">
            <img :data-src="slide.url" alt="" class="swiper-lazy" @load="imgResize($event, slide.rsId, slide.url)" :style="{transform: 'rotate(' + slide.rotate +'deg)', height: isLongImg[slide.rsId] ? 'calc(100vh - 2rem)': ''}">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            <img-mark
              v-model="slide.trackers"
              :dragOptions="dragOptions"
              :start="slide.isStart"
              @submit="addMark"
            >
            </img-mark>
            <!--<text-mark
              :start="textMarking"
              :dragOptions="dragOptions"
            ></text-mark>-->
          </span>
        </div>
        <!--<div class="img-relative-info">
          <a>12.jpg</a>
        </div>-->
      </swiper-slide>
      <div class="swiper-pagination swiper-pagination-white" slot="pagination"></div>
      <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
      <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
      <div slot="handle-top">
        <div class="swiper-button-fullscreen">
          <a @click="openFullscreen" class="fullscreen">
            <i class="fa fa-expand" v-if="!isFull"></i>
            <i class="fa fa-compress" v-else></i>
          </a>
        </div>
      </div>
      <div slot="handle-bottom">
        <div class="swiper-tool-bar middle-tool-bar clearfix" :class="{'slide-enter': isMark}">
          <div>
            <a class="markBtn" @click="endMark" style="display: block;">退出</a>
          </div>
          <div>
            <a title="放大" @click="minScale+=1;swiper.zoom.in(0, minScale)" class="swiper-button-zoomIn"><i class="fa fa-search-plus"></i></a>
            <a title="缩小" @click="minScale=1;swiper.zoom.out()" class="swiper-button-zoomOut"><i class="fa fa-search-minus"></i></a>
            <a title="旋转" @click="rotate" class="swiper-button-rotate"><i class="fa fa-rotate-right"></i></a>
            <!--<a title="拖拉图片" @click="swiper.zoom.in(null, 1)" class="swiper-button-drag"><i class="fa fa-arrows"></i></a>-->
            <el-tooltip class="item" effect="dark" content="标记" placement="top">
              <a class="font-s14" @click="imgMark()"><i class="el-icon-edit" style="transform: rotate(-45deg)" aria-hidden="true"></i></a>
            </el-tooltip>
            <el-tooltip class="item" effect="dark" content="评论" placement="top">
              <a @click="imgMark(true)"><i class="fa fa-commenting"></i></a>
            </el-tooltip>
            <!--<el-tooltip class="item" effect="dark" content="头像识别" placement="top">-->
              <!--<a><i class="fa fa-user-circle-o"></i></a>-->
            <!--</el-tooltip>-->
            <!--<el-tooltip class="item" effect="dark" content="文字识别" placement="top">-->
              <!--<a class="text-recognition" @click="textMark"><i class="fa fa-font"></i></a>-->
            <!--</el-tooltip>-->
            <!--<el-tooltip class="item" effect="dark" content="分享" placement="top">-->
              <!--<a><i class="el-icon-share"></i></a>-->
            <!--</el-tooltip>-->
            <!--<el-tooltip class="item" effect="dark" content="私人注释" placement="top">-->
              <!--<a><i class="fa fa-lock"></i></a>-->
            <!--</el-tooltip>-->
          </div>
        </div>
      </div>
    </swiper>
  </div>
</template>
<script>
  import { fullscreen } from '@/util/lg-fullscreen.js'
  import ImgMark from '../ImgMark'
  import TextMark from '../TextMark'
  import { previewData } from '@/store/modules/preview'
  import { rest } from '@/util'

  export default {
    data () {
      return {
        textMarking: false,
        isLongImg: {},
        mark: null,
        dragOptions: {
          intLeft: 100,
          intTop: 100,
          isDot: false,
          minWidth: 36,
          minHeight: 36,
          minLeft: 0,
          minTop: 0,
          maxLeft: 600,
          maxTop: 600,
          comment: false
        },
        markArea: null,
        isMark: false,
        isFull: false,
        swiperSlides: [],
        isDrag: false,
        minScale: 1,
        activeIndex: 0,
        swiperOption: {
          allowTouchMove: false,
          lazy: true,
          zoom: {
            enabled: true,
            maxRatio: 2,
            toggle: false
          },
          touchAngle: 10,
          pagination: {
            el: '.swiper-pagination'
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          },
          paginationType: 'fraction',
          paginationClickable: true,
          preloadImages: false,
          mousewheel: true,
          notNextTick: false,
          observer: true,
          observeParents: true,
          on: {
            init: () => {
//              console.log('初始化了')
            },
            // swiper的各种回调函数也可以出现在这个对象中，和swiper官方一样
            transitionStart: () => {
              if (this.getSwiper()) {
                this.changePreviewDataFocus(this.swiper.activeIndex)
              }
//              console.log('完成标记')
              this.isMark = false
            },
            slidePrevTransitionEnd: () => {
              if (this.getSwiper()) {
                this.swiperSlides[this.swiper.activeIndex + 1].isStart = false
                this.swiperSlides[this.swiper.activeIndex + 1].rotate = 0
                this.swiper.zoom.out()
              }
            },
            slideNextTransitionEnd: () => {
              if (this.getSwiper()) {
                this.swiperSlides[this.swiper.activeIndex - 1].isStart = false
                this.swiperSlides[this.swiper.activeIndex - 1].rotate = 0
                this.swiper.zoom.out()
              }
            }
          }
        }
      }
    },
    props: {
      datas: {
        type: Object,
        default () {
          return {}
        }
      },
      events: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    methods: {
      textMark () {
        this.textMarking = true
        this.isMark = true
        var swiperSlide = this.swiper.slides[this.swiper.activeIndex]
        this.markArea = swiperSlide.querySelector('img')
        this.dragOptions.maxLeft = this.markArea.offsetWidth
        this.dragOptions.maxTop = this.markArea.offsetHeight
        this.swiperSlides[this.swiper.activeIndex].textStart = true
      },
      imgResize (event, rsId, imgUrl) {
        if (this.$refs.imgWrapper) {
          var height = this.$refs.imgWrapper.clientHeight
          var naturalHeight = event.target.naturalHeight // 获取图片真实高度
          if (naturalHeight > height) {
            this.$set(this.isLongImg, rsId, true)
          }
        }
      },
      rotate () {
        this.swiper.zoom.out()
        var currslide = this.swiperSlides[this.swiper.activeIndex]
        var rotate = typeof (currslide.rotate) === 'undefined' ? 0 + 90 : currslide.rotate + 90

        if (rotate < 360) {
          this.$set(this.swiperSlides[this.swiper.activeIndex], 'rotate', rotate)
        } else {
          this.$set(this.swiperSlides[this.swiper.activeIndex], 'rotate', 0)
        }
      },
      imgMark (flag) {
        if (this.swiperSlides[this.swiper.activeIndex].rotate > 0) {
          this.msgWarning('旋转照片时无法圈人！')
          return
        }
        this.dragOptions.comment = flag
        this.isDrag = this.swiper.slides[this.swiper.activeIndex].className.includes('swiper-slide-zoomed')
        this.swiper.zoom.out(true)
        var swiperSlide = this.swiper.slides[this.swiper.activeIndex]
        this.markArea = swiperSlide.querySelector('img')
        this.dragOptions.maxLeft = this.markArea.offsetWidth
        this.dragOptions.maxTop = this.markArea.offsetHeight
        this.dragOptions.intLeft = this.dragOptions.maxLeft / 2 - 30 + 'px'
        this.dragOptions.intTop = this.dragOptions.maxTop / 2 - 30 + 'px'
        this.swiperSlides[this.swiper.activeIndex].isStart = true
        this.isMark = true
      },
      endMark () {
        this.swiperSlides[this.swiper.activeIndex].isStart = false
        this.dragOptions.isDot = this.isMark = this.textMarking = false
        if (this.isDrag) {
          this.swiper.zoom.out(true)
        } else {
          this.swiper.zoom.out()
        }
      },
      // mark
      addMark (trackers) {
        var slide = this.swiperSlides[this.swiper.activeIndex]
        this.$emit('saveImgMark', {slide, trackers}, (status, tracker) => {
          if (status) {
//            slide.trackers.push(tracker)
          }
        })
      },
      getSwiper () {
        return this.$refs.mySwiper.swiper
      },
      loadImgMarks (createAt, createAtType, imgRsId, index) {
        let swiperSlide = this.swiperSlides[index]
        if (swiperSlide && !swiperSlide.loadedTrackers) {
          rest.get('/sns/comments/quoteComments', {createAt, createAtType, ext: imgRsId}, true).then(commentList => {
            if (commentList) {
              let list = []
              commentList.forEach(comment => {
                let quoteLocation = comment.commentBody.commentQuote.quoteLocation
                quoteLocation.id = comment.id
                list.push(quoteLocation)
              })
              if (list.length > 0) {
                swiperSlide.trackers = list
              }
            }
            swiperSlide.loadedTrackers = true
          }).catch(error => {
            console.log('加载图片的评论标注失败！', error)
          })
        }
      },
      changePreviewDataFocus (index) {
        let previewData = JSON.parse(JSON.stringify(this.previewData))
        if (previewData.resources) {
          previewData.resources.forEach((resource, idx) => {
            if (index === idx) {
              resource.focus = true
            } else {
              resource.focus = false
            }
          })
          this.previewData = previewData
        }
      },
      openFullscreen () {
        this.isFull = !this.isFull
        fullscreen(this.$refs.mySwiper.$el).init()
      },
      changeImageFocusAction () {
        let idx = 0
        let createAt
        let createAtType
        let activeRsId
        if (this.datas.resources && (this.datas.resources.length > 0)) {
          this.datas.resources.forEach((image, index) => {
            if (image.focus) {
              createAt = image.at
              createAtType = image.atType
              activeRsId = image.id
              idx = index
            }
          })
          if (!createAt) {
            createAt = this.datas.resources[0].at
            createAtType = this.datas.resources[0].atType
            activeRsId = this.datas.resources[0].id
          }
        }
        this.activeIndex = idx
        if (createAt) {
          this.loadImgMarks(createAt, createAtType, activeRsId, idx)
        }
      },
      initialSlideAction () {
        let idx = 0
        if (this.datas.resources && (this.datas.resources.length > 0)) {
          let oldSwiperSlides = JSON.parse(JSON.stringify(this.swiperSlides))
          let newSlides = this.datas.resources.map(image => {
            let slide = {
              rsId: image.id,
              url: image.url,
              name: image.name,
              isStart: false,
              textStart: false,
              trackers: [],
              loadedTrackers: false
            }
            for (var oldSlide of oldSwiperSlides) {
              if (oldSlide.rsId === slide.rsId) {
                slide.trackers = oldSlide.trackers
                slide.loadedTrackers = oldSlide.loadedTrackers
                break
              }
            }
            return slide
          })
          this.swiperSlides = newSlides
          this.datas.resources.forEach((image, index) => {
            if (image.focus) {
              idx = index
            }
          })
        }
        if (this.$refs.mySwiper && this.$refs.mySwiper.swiper) {
          this.$nextTick(() => {
            this.swiper.slideTo(idx, 0, false)
          })
        } else {
          this.swiperOption.initialSlide = idx
        }
        this.activeIndex = idx
      }
    },
    computed: {
      previewData,
      swiper () {
        return this.$refs.mySwiper ? this.$refs.mySwiper.swiper : null
      }
    },
    watch: {
      datas (nv, ov) {
        // 判断执行相应的方法
        let isResourceChange = false
        let isResourceFocusChange = false
        if (nv.resources.length !== ov.resources.length) {
          isResourceChange = true
        } else {
          for (let idx = 0; idx < nv.resources.length; idx++) {
            if (nv.resources[idx].id !== ov.resources[idx].id) {
              isResourceChange = true
              break
            }
            if (nv.resources[idx].focus !== ov.resources[idx].focus) {
              isResourceFocusChange = true
              break
            }
          }
        }
        if (isResourceChange) {
          this.initialSlideAction()
          this.changeImageFocusAction()
        } else if (isResourceFocusChange) {
          this.changeImageFocusAction()
        }
      }
    },
    created () {
      this.$bus.$on('preview:close', () => {
        this.swiperSlides[this.swiper.activeIndex].isStart = false
//        console.log('preview.close', this.swiperSlides[this.swiper.activeIndex].isStart)
      })
      this.initialSlideAction()
      this.changeImageFocusAction()
    },
    components: {
      ImgMark,
      TextMark
    }
  }
</script>
<style scoped="scoped">
.marks-wrapper{
  position: absolute;
  height: 100%;
  width:100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.img-wrapper{
  height: 100%;
}
  .swiper-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    &:hover .swiper-button-fullscreen{
      opacity: 1;
    }
    &:hover .mark{
      opacity: 0.6;
    }
    &:hover .swiper-tool-bar{
      opacity: 1;
    }
  }
  .swiper-slide {
    overflow: hidden;
    & .zoomObj{
      display: inline-flex;
      align-items: flex-start;
      flex-direction: column;
      & img{
        object-fit: contain;
      }
      position: relative;
    }
  }
  .swiper-pagination{
    font-size: 1rem;
    background: rgba(0,0,0,.4);
    bottom: 0 !important;
    padding: 10px 0;
    & .swiper-pagination-bullet {
      background: #fff;
    }
  }
  .swiper-button-next,.swiper-button-prev{
    background-color: rgba(0,0,0,.3);
    background-size: 18px 44px;
  }
  .swiper-tool-bar {
    opacity: 0;
    bottom: 40px;
    z-index: 100;
    width: 390px;
    overflow: hidden;
    transition: opacity .3s;
    & > div {
      &:first-child{
        & a {
          font-size: 1rem;
        }
      }
      transform: translateY(-100%);
      transition: transform .3s;
    }
    &.slide-enter{
      & > div{
        transform: translateY(0);
      }
    }
  }
  .swiper-zoom-container {
    & a{
      display: inline-block;
      position: relative;
      /*cursor: crosshair;*/
    }
  }
  .position-left > .swiper-tool-bar {
    opacity: 1;
    z-index: 3;
  }
  .text-recognition{
    position: relative;
    &:before{
      position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    border: 2px solid #fff;
    left: 7px;
    box-sizing: border-box;
    top: 8px;
    border-radius: 2px;
    }
  }
</style>
