<template>
  <el-dialog
    :visible.sync="dialogVisible"
    size="large"
    top="0"
    @close="isclose"
    :close-on-click-modal="false"
    custom-class="preview-wrapper"
    >
    <div class="off-canvas-wrapper" :class="{commentOpen: commentVisible}">
      <div class="position-left" ref="aaa">
        <!--<el-popover
          ref="popover2"
          placement="top-start"
          title="标题"
          width="200"
          trigger="hover"
          content="这是一段内容,这是一段内容,这是一段内容,这是一段内容。">
        </el-popover>
        <div class="swiper-mark">
          <div id="markArea" class="markArea" ref="markArea">
            <div class="mark" v-popover:popover2 >fdf</div>
          </div>
        </div>-->
        <div class="swiper-tool-bar clearfix" v-show="isStart">
          <a class="markBtn" @click="endMark">完成标记</a>
        </div>
        <img-mark v-model="marks"
          :markAreaStyle="markArea"
          :start="isStart" @submit="addMark"></img-mark>
        <!--{{marks}}-->
        <swiper :options="swiperOption" ref="mySwiper">
          <swiper-slide v-for="slide in swiperSlides" :key="slide">
            <div class="swiper-zoom-container">
              <a>
                <img :src="slide.url" alt="" class="swiper-lazy">
                <img-tracking v-for = "(item, index) in slide.trackers" :tracker="item" :key="item"></img-tracking>
              </a>
              <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
            </div>
            <div class="img-relative-info">
              <a>12.jpg</a>
            </div>
          </swiper-slide>
          <div class="swiper-pagination swiper-pagination-white" slot="pagination"></div>
          <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
          <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
          <div slot="parallax-bg">
            <div class="swiper-button-fullscreen">
              <a @click="openFullscreen" class="fullscreen">
                <i class="fa fa-expand" v-if="!isFull"></i>
                <i class="fa fa-compress" v-else></i>
              </a>
            </div>
            <div class="swiper-tool-bar clearfix">
              <a class="markBtn" @click="imgMark">开始标记</a>
            </div>
          </div>
        </swiper>
        <!--<post-bar @open="openComment"></post-bar>-->
      </div>
      <div class="position-right">
        <img-comment @close="closeComment" @mark="imgMark"></img-comment>
      </div>
    </div>
  </el-dialog>
</template>
<script>
  import ImgComment from './ImgComment'
  import PostBar from './PostActionsBar'
  import ImgTracking from '../ImgTracking'
  import ImgMark from '../ImgMark'
  import { fullscreen } from '@/util/lg-fullscreen.js'
  export default {
    data () {
      return {
        isFull: false,
        dialogVisible: false,
        commentVisible: false,
        marks: {
          width: Number,
          height: Number,
          desc: ''
        },
        markArea: {
          width: Number,
          height: Number
        },
        isStart: false,

        swiperSlides: [{
          url: 'http://image.tianjimedia.com/uploadImages/2015/028/31/Q3U828G33506.JPEG',
          name: '美女1',
          trackers: []
        }, {
          url: 'http://img01.taopic.com/150605/267832-1506050QJ792.jpg',
          name: '美女2',
          trackers: []
        }, {
          url: 'http://192.168.16.102:3000/static/long.png',
          name: '美女2',
          trackers: []
        }],
        swiperOption: {
          zoom: true,
          pagination: '.swiper-pagination',
          paginationType: 'fraction',
          paginationClickable: true,
          preloadImages: false,
          lazyLoading: true,
          mousewheelControl: true,
          observer: true,
          observeParents: true,
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',
          // swiper的各种回调函数也可以出现在这个对象中，和swiper官方一样
          onTransitionStart (swiper) {
            console.log(swiper)
          },
          onSlideChangeEnd: swiper => {
//          console.log('onSlideChangeEnd', swiper.realIndex)
          }
        }
      }
    },
    props: {
      visible: Boolean,
      file: String
    },
    methods: {
      isclose () {
        this.$emit('isClose')
      },
      openComment () {
        this.commentVisible = true
      },
      closeComment () {
        this.commentVisible = false
      },
      imgMark () {
        var swiperSlide = this.$refs.mySwiper.$children[this.swiper.activeIndex].$el.children[0].children[0]
        this.markArea.width = swiperSlide.offsetWidth
        this.markArea.height = swiperSlide.offsetHeight
        this.isStart = true
      },
      endMark () {
        this.isStart = false
      },
      // mark
      addMark () {
        var slide = this.swiperSlides[this.swiper.activeIndex]
        slide.trackers.push(this.marks)
      },
      openFullscreen () {
        this.isFull = !this.isFull
        fullscreen(this.$refs.mySwiper.$el).init()
      }
    },
    watch: {
      visible () {
        this.dialogVisible = this.visible
      },
      swiperSlides () {
        this.onOpen()
      }
    },
    // 如果你需要得到当前的swiper对象来做一些事情，你可以像下面这样定义一个方法属性来获取当前的swiper对象，同时notNextTick必须为true
    computed: {
      swiper () {
        return this.$refs.mySwiper.swiper
      }
    },
    mounted () {
      // 然后你就可以使用当前上下文内的swiper对象去做你想做的事了
    },
    components: {
      ImgComment,
      PostBar,
      ImgTracking,
      ImgMark
    }
  }
</script>
<style scoped="">
  .swiper-container {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    &:hover .swiper-button-fullscreen{
      opacity: 1;
    }
    &:hover .mark{
      opacity: 0.6;
    }
    &:hover .swiper-tool-bar{
      opacity: 1;
    }
  }
  .swiper-slide {
    overflow: hidden;
  }
  .swiper-pagination{
    font-size: 1rem;
  }
  .swiper-tool-bar {
    & .markBtn{
      color: #fff;
      margin-right: 1rem;
    }
  }
  .swiper-zoom-container {
    & > a{
      display: inline-block;
      position: relative;
      /*cursor: crosshair;*/
    }
  }
  .position-left > .swiper-tool-bar {
    opacity: 1;
    z-index: 3;
  }
</style>
