<template>
  <div class="post-actions-bar">
    <el-row>
      <el-col :span="4">
        <el-button type="danger" class="circle">赏</el-button>
      </el-col>
      <el-col :span="20">
        <div class="post-action">
          <a><i class="fa fa-share-alt"></i></a>
          <a @click="comment"><i class="fa fa-comment-o"></i> 12</a>
          <a><i class="fa fa-heart-o"></i> 32</a>
          <a><i class="el-icon-more"></i></a>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
  export default {
    data () {
      return {}
    },
    methods: {
      comment () {
        this.$emit('open')
        console.log('fasdfasdfasdfsadfasdfasdf')
      }
    }
  }
</script>
<style>
@import 'css/variable.css';
  .post-actions-bar{
    position: fixed;
    width: 100%;
    z-index: 1;
    background: #fff;
    bottom: 0;
    height: 48px;
    line-height: 48px;
    border-top: 1px solid #ddd;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    transition: width .3s;
    & .el-row{
      margin: 0 auto !important;
    }
  }
  .post-action{
    float: right;
    & a{
      padding: 0 1rem;
      color: var(--color-secondary);
      font-size: 1.2rem;
      & i{
        font-size: 1.2rem;
      }
      &:hover{
        color:var(--color-primary);
      }
    }
  }
</style>
