<template>
  <el-dialog
    :visible.sync="dialogVisible"
    size="large"
    top="0"
    @close="isclose"
    @open="isopen"
    :close-on-click-modal="false"
    custom-class="preview-wrapper"
    ref="preview"
  >
    <div class="article-btn">
      <a class="article-pre disabled" title="上一篇"><i class="fa fa-angle-left"></i></a>
      <a class="article-next" title="下一篇"><i class="fa fa-angle-right"></i></a>
    </div>
    <div class="off-canvas-wrapper a" :class="{commentOpen: commentVisible}">
      <div ref="container" class="position-left" :class="currentView">
        <div @click="goBackArPreview" class="return-article" v-if="currentView === 'img-detail' && previewData.source.objContent && previewData.source.objContent.feedPreview">
          <a><i class="el-icon-arrow-left"></i></a>
        </div>
        <video-play
          v-if="currentView === 'video-play'"
          ref="videoPlayer"
          :options="playerOptions"
          @play="onPlayerPlay($event)"
          @pause="onPlayerPause($event)"
          @ended="onPlayerEnded($event)"
          @loadeddata="onPlayerLoadeddata($event)"
          @waiting="onPlayerWaiting($event)"
          @playing="onPlayerPlaying($event)"
          @timeupdate="onPlayerTimeupdate($event)"
          @canplay="onPlayerCanplay($event)"
          @canplaythrough="onPlayerCanplaythrough($event)"
          @ready="playerReadied"
          @statechanged="playerStateChanged($event)">
        </video-play>
        <component
          v-else-if="!!currentView"
          :is="currentView"
          :datas="previewData"
          ref="cusComponent"
          @annotationLoaded="loadedAnnotationComment"
          @annotationShare="addShareAnnotator"
          @annotationCollect="addCollectAnnotator"
          @annotationCreated="addAnnotationComment"
          @annotationUpdated="updateAnnotationComment"
          @annotationDeleted="delAnnotationComment"
          @outlineloaded="setOutline"
          @outlinechange="changeActiveOutline"
          @saveImgMark="saveImgMark"
        ></component>

      </div>
      <div class="position-right">
        <preview-comment
          v-if="dialogVisible"
          :datas="previewData"
          ref="comment"
          :showTimePoint="currentView === 'video-play'"
          :outline="outline"
          @close="closeComment"
          @goToOutline="goToOutline"
          @localQuote="locatAnnotationComment"
          @initQuoteResource="initQuoteResource"
          @deleteComment="deleteComment"
          @updateComment="updateComment"
          @createComment="createComment"></preview-comment>
      </div>
    </div>
  </el-dialog>
</template>
<script>
  import Combination from '@/components/preview/Combination'
  import { rest } from '@/util'
  import qs from 'qs'
  import { getAnnQuote, gatherContentImages, getHighlightedQuote } from '@/components/comment'
  import { shareData, shareFormShow } from '@/store/modules/share'
  import { shareAnnotator, collectAnnotator } from '@/util/annotatorShare'
  import { showCollect, currCollectId } from '@/store/modules/helper'
  export default {
    extends: Combination,
    data () {
      return {
        outline: null
      }
    },
    computed: {
      shareData,
      shareFormShow,
      showCollect,
      currCollectId,
      postIsPublish () {
        if (this.previewData.post) {
          return this.previewData.post.status === 3
        } else if (this.previewData.source && (this.previewData.source.objContent || this.previewData.source.modelObject)) {
          return this.previewData.source.status === 3 || this.previewData.source.objContent.status === 3
        } else {
          return false
        }
      },
      canShare () {
        return this.previewData.canShare && this.postIsPublish
      }
    },
    created () {
      this.$bus.$on('media:preview', (previewData) => {
        this.previewData = { ...previewData }
        // 判断,加载,显示,数据
        let type = previewData.type
        if (type === 'image') {
          this.currentView = 'img-detail'
        } else if (type === 'video') {
          this.currentView = 'video-play'
          let playSources = []
          if (previewData.resources) {
            previewData.resources.forEach((video) => {
              playSources.push({
                type: 'video/mp4',
                src: video.url
              })
            })
            this.playerOptions.poster = previewData.resources[0].cover
            this.playerOptions.start = previewData.resources[0].start
            this.playerOptions.sourceId = previewData.resources[0].id
          } else {
            this.playerOptions.poster = null
          }
          this.playerOptions.sources = playSources
          this.playerOptions.autoplay = true
          this.playerOptions.muted = false
          this.playerOptions.showFullBtn = true
        } else if (type === 'doc') {
          this.currentView = 'doc-detail'
        } else if (type === 'article' || type === 'reprint') {
          this.currentView = 'post-detail'
        }
        this.dialogVisible = true
        if (previewData.location && previewData.location.scrollTop) {
          this.$nextTick(() => {
            this.$refs.container.scroll(0, previewData.location.scrollTop)
          })
        }
        this.outline = null
      })
    },
    methods: {
      shareAnnotator,
      collectAnnotator,
      gatherContentImages,
      initQuoteResource (quote) {
        if (this.currentView === 'img-detail' || this.previewData.type === 'article' || this.previewData.type === 'reprint') {
          let resources = this.previewData.resources || []
          let quoteBody = quote.body
          if (this.previewData.type === 'article' || this.previewData.type === 'reprint') {
            resources = this.previewData.post.modelObject.resourceFiles
            let files = this.gatherContentImages(this.previewData.post.modelObject.content)
            resources = resources.concat(files)
            quoteBody = {quoteObjId: quote.comment.ext}
          }
          // 子评论不显示图片
          if (quote.comment.idByReply && quote.comment.idByReply !== 'NULL_ID') {
            return
          }
          let rsId
          if (quoteBody) {
            rsId = quoteBody.quoteObjId
          }
          if (rsId) {
            if (this.previewData.type === 'article' || this.previewData.type === 'reprint') {
              for (let resource of resources) {
                if (resource.rsId === rsId) {
                  quote.resource = {
                    id: rsId,
                    url: resource.datas['550x']
                  }
                  break
                }
              }
            } else {
              for (let resource of resources) {
                if (resource.id === rsId) {
                  quote.resource = JSON.parse(JSON.stringify(resource))
                  break
                }
              }
            }
          }
        }
      },
      getAnnotator () {
        return this.$refs.cusComponent.annotator
      },
      loadedAnnotationComment () {
        if (this.annId) {
          this.locatAnnotationComment(this.annId)
        }
      },
      saveImgMark ({slide, trackers}, callback) {
        this.$refs.comment.$refs.tree.externalCommit({
          content: trackers.comment,
          contentType: 'text',
          resourceFiles: []
        }, {
          objType: 'IMAGE',
          quote: {
            quoteId: trackers.id,
            quoteObjId: slide.rsId,
//            quoteValue: storeId,
//            quoteObjType: 'IMAGE',
            quoteLocation: trackers
          }
        }, (status, comment) => {
          if (status === 200) {
            callback(true, this.toTracker(comment))
          } else {
            callback(false)
          }
        })
      },
      toTracker (comment) {
        let quoteLocation = comment.commentBody.commentQuote.quoteLocation
        quoteLocation.id = comment.id
        return quoteLocation
      },
      addAnnotationComment (ann, annotationTarget) {
        this.$refs.comment.$refs.tree.externalCommit({
          content: ann.text,
          contentType: 'text',
          resourceFiles: []
        }, {
          objId: annotationTarget.id,
          objType: annotationTarget.type,
          quote: ann
        }, (status, comment) => {
          if (status === 200) {
            ann.commentId = comment.id
            rest.edit(`/page/annotator/annotations/${ann.id}?${qs.stringify({json: JSON.stringify(ann)})}`)
              .then(json => {
                this.getAnnotator().highlightAnn(ann)
              })
          } else {
            rest.delete('/page/annotator/annotations/' + ann.id)
          }
        })
      },
      updateAnnotationComment (ann, annotationTarget) {
        this.$refs.comment.$refs.tree.externalCommit({
          content: ann.text,
          contentType: 'text',
          resourceFiles: []
        }, {
          objId: annotationTarget.id,
          objType: annotationTarget.type,
          quote: ann
        }, (status, comment) => {
          if (status === 200) {
          } else {
            ann.text = comment.content
            rest.edit(`/page/annotator/annotations/${ann.id}?${qs.stringify({json: JSON.stringify(ann)})}`)
              .then(json => {
                this.getAnnotator().highlightAnn(ann)
              })
          }
        })
      },
      delAnnotationComment (ann, annotationTarget) {
        if (ann.commentId) {
          this.$refs.comment.$refs.tree.externalDelete(ann.commentId)
        }
      },
      locatAnnotationComment (id) {
        if (this.currentView === 'img-detail') {
          let imgDetail = this.$refs.cusComponent
          let swiperSlide = imgDetail.swiperSlides[imgDetail.activeIndex]
          swiperSlide.trackers.forEach(tracker => {
            this.$set(tracker, 'highlight', tracker.id === id)
          })
        } else {
          let annotator = this.getAnnotator()
          if (annotator) {
            annotator.goToAnn(id)
          }
        }
      },
      /**
       * 删除评论
       * @param comment
       * @param sourceType：'notice' (socket回调通知产生的事件), 'self'(评论组件本身操作触发的事件), 'external'（外部组件调评论组件的方法产生的事件）
       */
      deleteComment (comment, sourceType) {
        let comBody = comment.commentBody
        if (comBody && comBody.commentQuote) {
          let commentTree = this.$refs.comment.$refs.tree
          if (comBody.commentQuote.quoteObjType === 1) { // 图片
            if (sourceType !== commentTree.externalKey) {
              let imgDetail = this.$refs.cusComponent
              let swiperSlide = imgDetail.swiperSlides[imgDetail.activeIndex]
              swiperSlide.trackers = swiperSlide.trackers.filter(tracker => tracker.id !== comment.id)
            }
          } else if (comBody.commentQuote.quoteObjType === 2) { // 视频
          } else { // 文字类型
            let annotator = this.getAnnotator()
            if (commentTree.noticeKey === sourceType || commentTree.externalKey === sourceType) {
              if (annotator) {
                annotator.unHighlightAnnById(comBody.commentQuote.quoteId)
              }
            } else if (commentTree.selfKey === sourceType) {
              rest.delete('/page/annotator/annotations/' + comBody.commentQuote.quoteId)
              .then(json => {
                if (annotator) {
                  annotator.unHighlightAnnById(comBody.commentQuote.quoteId)
                }
              })
            }
          }
        }
      },
      /**
       * 更新评论
       * @param comment
       * @param sourceType：'notice' (socket回调通知产生的事件), 'self'(评论组件本身操作触发的事件), 'external'（外部组件调评论组件的方法产生的事件）
       */
      updateComment (comment, sourceType) { // sourceType: 'notice' and 'self'
        let comBody = comment.commentBody
        if (comBody && comBody.commentQuote) {
          let commentTree = this.$refs.comment.$refs.tree
          if (comBody.commentQuote.quoteObjType === 1) { // 图片
            let imgDetail = this.$refs.cusComponent
            let swiperSlide = imgDetail.swiperSlides[imgDetail.activeIndex]
            let trackers = swiperSlide.trackers.filter(tracker => tracker.id === comment.id)
            if (trackers && trackers.length > 0) {
              trackers[0].comment = comBody.content
            }
          } else if (comBody.commentQuote.quoteObjType === 2) {
          } else {
            let annotator = this.getAnnotator()
            let quote = this.getAnnQuote(comment)
            if (commentTree.noticeKey === sourceType) {
              if (annotator) {
                annotator.highlightAnn(quote)
              }
            } else if (commentTree.selfKey === sourceType) {
              let quoteId = comBody.commentQuote.quoteId
              rest.edit(`/page/annotator/annotations/${quoteId}?${qs.stringify({json: JSON.stringify(quote)})}`)
              .then(json => {
                if (annotator) {
                  annotator.highlightAnn(json)
                }
              })
            }
          }
        }
      },
      /**
       * 添加评论
       * @param comment
       * @param sourceType：'notice' (socket回调通知产生的事件), 'self'(评论组件本身操作触发的事件), 'external'（外部组件调评论组件的方法产生的事件）
       */
      createComment (comment, sourceType) {
        let commentBody = comment.commentBody
        if (commentBody && commentBody.commentQuote) {
          let commentTree = this.$refs.comment.$refs.tree
          let quoteObjType = commentBody.commentQuote.quoteObjType
          if (quoteObjType === 1) {
            // 图片添加效果
            let commentQuote = comment.commentBody.commentQuote
            if (commentQuote && commentQuote.quoteLocation) {
              let imgDetail = this.$refs.cusComponent
              let swiperSlide = imgDetail.swiperSlides[imgDetail.activeIndex]
              swiperSlide.trackers.push({...commentQuote.quoteLocation, id: comment.id})
            }
          } else if (quoteObjType === 2) {
            // 视频添加效果
          } else {
            let quote = this.getAnnQuote(comment)
            let annotator = this.getAnnotator()
            if (sourceType !== commentTree.externalKey) {
              if (sourceType === commentTree.noticeKey) {
                if (annotator) {
                  annotator.highlightAnn(quote)
                }
              } else {
                // 处理评论组件添加的应用  该怎么处理呢？
              }
            }
          }
        }
      },
      getAnnQuote,
      setOutline (ol) {
        this.outline = ol
      },
      changeActiveOutline (key) {
        if (this.$refs.comment.setOutlineCurrKey) {
          this.$refs.comment.setOutlineCurrKey(key)
        }
      },
      goToOutline (o) {
        if (this.$refs.cusComponent.goToOutline) {
          this.$refs.cusComponent.goToOutline(o)
        }
      },
      isclose () {
        this.$bus.$emit('preview:close')
        this.previewData = {}
        this.currentView = false
        this.$emit('isClose')
        this.outline = null
      },
      isopen () {
      },
      goBackArPreview () {
        let post = {...this.previewData.source.objContent}
        post.feedId = this.previewData.source.id
        post.user = this.previewData.source.user
        post.viewerCount = this.previewData.source.viewerCount
        this.$bus.$emit('media:preview', {
          type: 'reprint',
          user: this.previewData.source.user,
          canShare: this.previewData.canShare,
          feedPreview: true,
          location: this.previewData.sourceLocation,
          post
        })
      },
      getHighlightedQuote,
      shareCallBack (data) {
        let annotator = this.getAnnotator()
        if (annotator) {
          let qoute = this.getHighlightedQuote('share', data)
          annotator.highlightAnn(qoute)
        }
      },
      addShareAnnotator (ann, annotationTarget) {
        if (this.canShare) {
          let currShareBody = this.shareAnnotator(ann, annotationTarget, this.previewData.post || this.previewData.source, this.shareCallBack)
          this.shareData = {
            from: 'annotator',
            type: 'quote',
            item: currShareBody
          }
          this.shareFormShow = true
        }
      },
      addCollectAnnotator (ann, annotationTarget) {
        if (this.postIsPublish) {
          this.collectAnnotator(ann, annotationTarget)
            .then(data => {
              this.showCollect = true
              this.currCollectId = data.id
              let annotator = this.getAnnotator()
              if (annotator) {
                let qoute = this.getHighlightedQuote('collect', data)
                annotator.highlightAnn(qoute)
              }
            })
        }
      }
    },
    watch: {
      previewData (nv, ov) {
        this.$bus.$emit('previewData:change')
      }
    }
  }
</script>
