<template>
  <div class="figure-layer">
    <div class="image-head-back hide-for-small">
      <a class="back" title="返回" @click="back">
        <i class="fa fa-angle-left"></i> 取消
      </a>
    </div>
    <div class="figure-describe" :class="{expanded: describeExpand}">
      <div class="describe-collapse scrollCss" ref="desc">
        <p>【NIKE 运动 鞋款 & 服饰限时活动】【NIKE 运动 鞋款 & 服饰限时活动】【NIKE 运动 鞋款 & 服饰限时活动】
          【NIKE 运动 鞋款 & 服饰限时活动】【NIKE 运动 鞋款 & 服饰限时活动】【NIKE 运动 鞋款 & 服饰限时活动】
          【NIKE 运动 鞋款 & 服饰限时活动】【NIKE 运动 鞋款 & 服饰限时活动】【NIKE 运动 鞋款 & 服饰限时活动】...</p>
      </div>
      <div class="describe-angle" @click="describeExpand = !describeExpand" v-if="descNum > 62">
        <i class="fa fa-angle-down" aria-hidden="true" v-if="!describeExpand"></i>
        <i class="fa fa-angle-up" aria-hidden="true" v-else></i>
      </div>
    </div>
    <div class="flag-box">
      <a><i class="fa fa-user"></i> 小明</a><a><i class="fa-map-marker fa"></i> 地点</a>
    </div>
    <div class="desc-edit-box" v-show="editExpand">
      <el-input
        type="textarea"
        :autosize="{ minRows: 2, maxRows: 3}"
        placeholder="添加描述"
        v-model="textarea3">
      </el-input>
      <el-select
        v-model="value9"
        class="togetherSelect"
        multiple
        filterable
        remote
        placeholder="和谁一起"
        :remote-method="remoteMethod"
        :loading="loading">
        <el-option
          v-for="item in options4"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
      <div class="gaodei-map margin-t">
        <div class="amap-page-container">
          <amap-search-box
            placeholder="在哪儿？"
            class="search-box"
            :search-option="searchOption"
            ref="searchAmap"
            :on-search-result="onSearchResult"
            ></amap-search-box>
            <!--<div class="toolbar">
              position: [{{ lng }}, {{ lat }}] address: {{ address }}
            </div>-->
            <div class="" v-show="mapSearching">
            	<amap
            	  vid="amapDemo"
            	  :center="mapCenter"
            	  :zoom="12"
            	  :events="events"
            	  class="amap-demo">
                <amap-marker v-for="(marker, index) in markers" :key="index" :position="marker" ></amap-marker>
              </amap>
            </div>
        </div>
        <div class="margin-t6 text-right">
          <el-button type="info" size="small" @click="editExpand = false">完成编辑</el-button>
        </div>
      </div>
    </div>
    <div class="comment-btn comment-tools figure-mod-tools">
      <el-button size="small" type="text"><i class="fa fa-thumbs-o-up"></i> 点赞</el-button>
      <el-button size="small" class="margin-l" type="text"><i class="fa fa-share-alt"></i> 分享</el-button>
      <el-button size="small" class="margin-l" type="text" @click="describeExpand = true; editExpand = true"><i class="fa fa-edit"></i> 编辑</el-button>
    </div>
    <div class="figure-mod-comment" :class="{unexpaned: describeExpand}">
      <div class="comment-tool-area flex">
        <el-tabs v-model="activeName" class="preview-tab preview-tab1" @tab-click="handleClick">
          <el-tab-pane label="讨 论" name="1">

          </el-tab-pane>
          <el-tab-pane label="信 息" name="4">
            <div class="figure-info">
              <table>
                <tbody>
                <tr>
                  <th>品牌</th>
                  <td>Canon</td>
                </tr>
                <tr>
                  <th>型号</th>
                  <td>Canon EOS 600D</td>
                </tr>
                <tr>
                  <th>焦距</th>
                  <td>50.0 mm</td>
                </tr>
                <tr>
                  <th>光圈</th>
                  <td>F2.2</td>
                </tr>
                <tr>
                  <th>快门速度</th>
                  <td>0.02 sec</td>
                </tr>
                <tr>
                  <th>ISO</th>
                  <td>200</td>
                </tr>
                <tr>
                  <th>曝光补偿</th>
                  <td>0 EV</td>
                </tr>
                <tr>
                  <th>镜头</th>
                  <td>
                    <div class="exifitm" title="EF50mm f/1.4 USM">EF50mm f/1.4 USM</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </el-tab-pane>
        </el-tabs>
        <!--<a>讨论</a>-->
        <!--<a>相关文章</a>-->
        <!--<a>日志</a>-->
        <!--<a>信息</a>-->
        <!--<el-popover-->
          <!--popper-class="vertical img-tool-bar"-->
          <!--ref="more"-->
          <!--placement="bottom-start"-->
          <!--width="80"-->
          <!--trigger="click">-->
          <!--<ul class="vertical-menu">-->
            <!--<li><i class="fa fa-trash-o"></i>删 除</li>-->
          <!--</ul>-->
        <!--</el-popover>-->
        <!--<a class="more" v-popover:more><i class="el-icon-more"></i></a>-->
      </div>
    </div>
  </div>
</template>
<script>
  import UserMixin from '@/util/userMixin'
  import { Amap, AmapMarker, AmapSearchBox } from '@/components/amap'

  export default {
    components: {
      Amap,
      AmapMarker,
      AmapSearchBox
    },
    mixins: [UserMixin],
    props: {
      showTimePoint: {
        type: Boolean,
        default: false
      },
      datas: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    data () {
      var defaultLimitNum = 3
      let self = this
      return {
        descNum: null,
        activeName: '1',
        commentValue: '',
        commentProps: {},
        defaultLimitNum,
        limitNum: defaultLimitNum,
        expand: true,
        describeExpand: false,
        editExpand: false,
        info: [{
          brand: 'Canon',
          version: 'Canon EOS 600D',
          focalLength: '50.0 mm',
          aperture: 'F2.2',
          shutterSpeed: '0.02 sec',
          ISO: 200,
          exposureCompensation: '0 EV',
          cameraLens: 'EF50mm f/1.4 USM'
        }],
        options: [{
          value: '选项1',
          label: 'v_1.0'
        }, {
          value: '选项2',
          label: 'v_2.0'
        }, {
          value: '选项3',
          label: 'v_3.0'
        }],
        value: '',
//      v_2
        textarea3: '',
        options4: [],
        value9: [],
        list: [],
        loading: false,
        states: ['Alabama'],
//      地图
        markers: [],
        mapCenter: [119.237626, 26.05766],
        mapSearching: false,
        searchOption: {
          city: '世界'
        },
        address: '',
        lng: 0,
        lat: 0,
        events: {
          click (e) {
//            console.log('dddd')
            let { lng, lat } = e.lnglat
            self.lng = lng
            self.lat = lat
            self.mapSearching = false
            // 这里通过高德 SDK 完成。
//          console.log(window.AMap)
            var geocoder = new window.AMap.Geocoder({
              radius: 1000,
              extensions: 'all'
            })
            geocoder.getAddress([lng, lat], function (status, result) {
              if (status === 'complete' && result.info === 'OK') {
                if (result && result.regeocode) {
                  self.address = result.regeocode.formattedAddress
                  self.$nextTick()
                }
              }
            })
          }
        }
      }
    },
    methods: {
      handleClick (tab, event) {
//        console.log(tab, event)
      },
      back () {
        this.$emit('close')
      },
      createQuoteComment (id) {
        this.$emit('createQuoteComment', id)
      },
      updateQuoteComment (ann) {
        this.$emit('updateQuoteComment', ann)
      },
      deleteQuoteComment (ann) {
        this.$emit('deleteQuoteComment', ann)
      },
      getCommentProps () {
        let currItem
        if (this.datas.type === 'article') {
          currItem = {
            at: this.datas.post.id,
            atType: 'POST',
            // ext: '',
            objCreator: this.datas.post.creator
            // qouteType: ''
          }
        } else if (this.datas && this.datas.resources && this.datas.resources.length > 0) {
          if (this.datas.resources.length === 1) {
            currItem = {
              at: this.datas.resources[0].at,
              atType: this.datas.resources[0].atType,
//              ext: datas.resources[0].ext,
              objCreator: this.datas.resources[0].objCreator,
              qouteType: this.datas.resources[0].type
            }
          } else {
            this.datas.resources.forEach((resource) => {
              if (resource.focus) {
                currItem = {
                  at: resource.at,
                  atType: resource.atType,
                  ext: resource.id,
                  objCreator: resource.objCreator,
                  qouteType: resource.type
                }
              }
            })
          }
          if (!currItem) {
            currItem = {
              at: this.datas.resources[0].at,
              atType: this.datas.resources[0].atType,
              ext: this.datas.resources[0].id,
              objCreator: this.datas.resources[0].objCreator,
              qouteType: this.datas.resources[0].type
            }
          }
        } else {
          currItem = {
            at: '',
            atType: '',
            ext: '',
            objCreator: '',
            qouteType: ''
          }
        }
        if (!currItem.objCreator) {
          currItem.objCreator = ''
        }
        return currItem
      },
      remoteMethod (query) {
        if (query !== '') {
          this.loading = true
          setTimeout(() => {
            this.loading = false
            this.options4 = this.list.filter(item => {
              return item.label.toLowerCase()
                .indexOf(query.toLowerCase()) > -1
            })
          }, 200)
        } else {
          this.options4 = []
        }
      },
      onSearchResult (pois) {
        let latSum = 0
        let lngSum = 0
        this.mapSearching = true
        if (pois.length > 0) {
          pois.forEach(poi => {
            let {lng, lat} = poi
            lngSum += lng
            latSum += lat
            this.markers = []
            this.markers.push([poi.lng, poi.lat])
          })
          let center = {
            lng: lngSum / pois.length,
            lat: latSum / pois.length
          }
          this.mapCenter = [center.lng, center.lat]
        }
      }
    },
    created () {
      this.commentProps = this.getCommentProps()
      this.loadUserOtherInfo(this.datas.user)
    },
    watch: {
      datas (nv, ov) {
        this.commentProps = this.getCommentProps()
      },
      address (nv, ov) {
        this.$refs.searchAmap.keyword = nv
      }
    },
    computed: {
      resourceTime () {
        let resourceTime
        if (this.datas && this.datas.resources) {
          this.datas.resources.forEach((resource) => {
            if (resource.focus) {
              resourceTime = resource.createTime
            }
          })
          if (!resourceTime) {
            resourceTime = this.datas.resources[0].createTime
          }
        }
        return resourceTime
      }
    },
    mounted () {
//      console.log(this.$refs.desc.textContent.length)
      this.descNum = this.$refs.desc.textContent.length
      this.list = this.states.map(item => {
        return { value: item, label: item }
      })
    }
  }
</script>
<style>
  @import 'css/variable.css';
.preview-tab1 .el-tabs__header .el-tabs__nav{
  display: block;
}
.preview-tab1 .el-tabs__header .el-tabs__nav .el-tabs__item{
  padding: 0 1.6rem;
}
  .img-tool-bar {
    & .vertical-menu li i{
      width: 18px;
      color: var(--color-secondary);
    }
  }
  .arCatalog{
    width: 100%;
    position: relative;
    padding: 0 24px 1rem;
    box-sizing: border-box;
    & .arCatalog-line{
      top: 12px;
      width: 0;
      height: 350px;
      border: 1px solid color(var(--color-info) tint(80%));
      border-top: 0;
      border-bottom: 0;
      position: absolute;
      left: 28px;
    }
    & .arCatalog-list{
      margin-left: 26px;
      & >ul{
        & >li{
          line-height: 28px;
          position: relative;
          list-style: none;
          & >ul{
            padding-left: 17px;
            margin: 0px;
            & >li{
              list-style: none;
              & .arCatalog-index{
                padding-right: 8px;
                color: #999;
                font-weight: normal;
              }
              & a{
                padding: 4px 0;
                font-weight: normal;
              }
            }
          }
          & .arCatalog-index{
            color: var(--color-secondary);
            font-weight: bold;
            padding-right: 8px;
          }
          & a{
            font-weight: bold;
            text-decoration: none;
            color: var(--color-primary);
          }
          & .arCatalog-dot{
            background: url(../../assets/img/icon_dot.jpg) no-repeat left center #fff;
            position: absolute;
            left: -24px;
            top: 9px;
            width: 7px;
            height: 8px;
          }
        }
        & li.active{
          color: color(var(--color-primary) shade(20%));
          & .arCatalog-index{
            color: var(--color-primary);
          }
          & .arCatalog-dot{
            position: absolute;
            left: -30px;
            top: 5px;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
            background: #8895af;
            transition: all .3s;
          }
        }
      }
    }
  }
  .relative-recommend {
    padding:0 1rem;
    & section {
      &:not(:first-child){
        margin-top: 1rem;
      }
      & ul li{
        list-style: none;
        padding: 0 0 0 1rem;
        line-height: 32px;
        font-size: 12px;
      }
    }
    & .recommend-user{
      font-size: 12px;
      & a{
        display: block;
        height: 80px;
        width: 80px;
        & img{
          display: block;
          width: 100%;
        }
      }
      & span {
        color: var(--color-secondary);
        text-align: center;
        padding: 4px 0;
      }
    }
  }
/*desc-edit-box*/
.desc-edit-box{
  position: absolute;
  top: 0;
  width: 100%;
  height: 212px;
  background: #fff;
  z-index: 100;
  padding: 1rem;
  box-sizing: border-box;
  & .togetherSelect{
    width: 100%;
  }
  & .el-textarea__inner {
    border-radius: 0;
    border-width: 1px 1px 0 1px;
    &:active, &:focus {
      border-width: 1px;
    }
  }
  & .el-input__inner{
    border-radius: 0;
    font-size: 13px;
    height: 30px !important;
  }
  & .amap-demo {
    height: 200px;
  }
  & .el-vue-search-box-container{
    width: 100%;
    height: 30px;
    box-shadow: none;
    border-radius: 2px 2px 0 0;
    border: 1px solid rgb(191, 201, 217);
    & .search-btn{
      font-size: 13px;
    }
  }
  & .el-vue-search-box-container .search-tips{
    width: 100%;
    left: -1px;
    z-index: 1000;
    border-width: 0 1px 0;
    margin-top: 1px;
    & li:last-child{
      border-bottom: 1px solid #ddd;
    }
  }
}
.flag-box{
  padding: 6px 1rem;
  & a{
    margin-right: 10px;
    font-size: 13px;
  }
}
</style>
