<template>
  <div class="figure-layer">
    <div class="image-head-back hide-for-small">
      <a class="back" title="返回" @click="back">
        <i class="fa fa-angle-left"></i> 取消
      </a>
    </div>
    <div class="figure-side-hd transverse user">
      <div class="img">
        <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></a>
      </div>
      <div class="content no-margin">
        <div class="username">
          <a href="javascript:void(0)">用户姓名 </a>
          <i class="fa fa-venus color-danger"></i>
        </div>
        <div class="arInfo">
          <span class="tag"># Web前端</span>
          <span class="margin-l10">2017-05-18</span>
          <el-tooltip class="item" effect="dark" content="文档信息" placement="top-start">
            <i class="el-icon-warning"></i>
          </el-tooltip>
        </div>
      </div>
      <el-button type="success" size="small"><i class="fa fa-plus"></i> 关注</el-button>
    </div>
    <div class="figure-mod-comment">
      <div class="comment-tool-bar flex">
        <a>讨论</a>
        <a>点赞</a>
        <a>分享</a>
        <el-popover
        popper-class="vertical img-tool-bar"
        ref="more"
        placement="bottom-start"
        width="80"
        trigger="click">
        <ul class="vertical-menu">
          <li><i class="fa fa-trash-o"></i>删 除</li>
        </ul>
       </el-popover>
        <a class="more" v-popover:more><i class="el-icon-more"></i></a>
      </div>
      <div class="comment-panel scrollCss">
        <ul class="comment-lists">
          <li>
            <div class="user transverse">
              <div class="img img36">
                <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></img></a>
              </div>
              <div class="content">
                <div class="username">
                  <a target="_self" href="">张三 </a>
                  <i class="fa fa-venus color-danger"></i>
                </div>
                <div class="arInfo">
                  <span class="tag"># Web前端</span>
                  <span class="margin-l10">2017-05-18 12:36</span>
                </div>
                <div class="comment-content">
                  <p>这个真的是真的吗？</p>
                </div>
                <ol>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></img></a>
                        </div>
                        <div class="content">
                          <div class="username">
                            <a target="_self" href="">李四</a>
                            <i class="fa fa-venus color-danger"></i>
                            <span class="color-secondary">回复</span>
                            <a target="_self" href="">张三 </a>
                            <i class="fa fa-mars color-info"></i>：
                          </div>
                          <div class="arInfo">
                            <span class="tag"># Web前端</span>
                            <span class="margin-l10">2分钟前</span>
                          </div>
                          <div class="comment-content">
                            <p>这个是真de</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/2.jpg" alt=""></img></a>
                        </div>
                        <div class="content">
                          <div class="username">
                            <a target="_self" href="">李四</a>
                            <i class="fa fa-venus color-danger"></i>
                            <span class="color-secondary">回复</span>
                            <a target="_self" href="">张三 </a>
                            <i class="fa fa-mars color-info"></i>：
                          </div>
                          <div class="arInfo">
                            <span class="tag"># Web前端</span>
                            <span class="margin-l10">1分钟前</span>
                          </div>
                          <div class="comment-content">
                            <p>这个是真de</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </li>
          <li>
            <div class="user transverse">
              <div class="img img36">
                <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></img></a>
              </div>
              <div class="content">
                <div class="username">
                  <a target="_self" href="">张三 </a>
                  <i class="fa fa-venus color-danger"></i>
                </div>
                <div class="arInfo">
                  <span class="tag"># Web前端</span>
                  <span class="margin-l10">2017-05-18 12:36</span>
                </div>
                <div class="comment-content">
                  <p>这个真的是真的吗？</p>
                </div>
                <ol>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/1.jpg" alt=""></img></a>
                        </div>
                        <div class="content">
                          <div class="username">
                            <a target="_self" href="">李四</a>
                            <i class="fa fa-venus color-danger"></i>
                            <span class="color-secondary">回复</span>
                            <a target="_self" href="">张三 </a>
                            <i class="fa fa-mars color-info"></i>：
                          </div>
                          <div class="arInfo">
                            <span class="tag"># Web前端</span>
                            <span class="margin-l10">2分钟前</span>
                          </div>
                          <div class="comment-content">
                            <p>这个是真de</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="comment-lists-sub">
                      <div class="user transverse">
                        <div class="img img36">
                          <a class="clearfix"><img src="../../assets/img/2.jpg" alt=""></img></a>
                        </div>
                        <div class="content">
                          <div class="username">
                            <a target="_self" href="">李四</a>
                            <i class="fa fa-venus color-danger"></i>
                            <span class="color-secondary">回复</span>
                            <a target="_self" href="">张三 </a>
                            <i class="fa fa-mars color-info"></i>：
                          </div>
                          <div class="arInfo">
                            <span class="tag"># Web前端</span>
                            <span class="margin-l10">1分钟前</span>
                          </div>
                          <div class="comment-content">
                            <p>这个是真de</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </li>
        </ul>
        <list-loading :loading="true"></list-loading>
      </div>
    </div>
    <div class="figure-comment clearfix">
      <div class="comment-tools">
        <a><i class="fa fa-smile-o"></i></a>
        <a><i class="fa fa-camera-retro"></i></a>
        <span class="addTimeBtn el-tag el-tag--gray"
                     @click="addTimePoint"
                     v-if="!isTimePoint">
                        添加时间驻点
        </span>
        <span class="addTimeBtn el-tag el-tag--gray" @click="addTimePoint"
          v-else>
          <i class="fa fa-clock-o"></i> {{currentTime}}
          <i class="el-tag__close el-icon-close"
          ></i>
        </span>
      </div>
      <el-input
        type="textarea"
        :rows="3"
        placeholder="请输入内容"
        v-model="commentValue">
      </el-input>
      <!--<el-input type="textarea" v-model="commentValue"></el-input>-->
      <el-button size="small" type="success">发表</el-button>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        commentValue: '',
        isTimePoint: false
      }
    },
    props: {
      currentTime: ''
    },
    methods: {
      back () {
        this.$emit('close')
      },
      imgMark () {
        this.$emit('mark')
      },
      addTimePoint () {
        this.isTimePoint = !this.isTimePoint
        this.$emit('isTimePoint', this.isTimePoint)
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .img-tool-bar {
    & .vertical-menu li i{
      width: 18px;
      color: var(--color-secondary);
    }
  }
  .addTimeBtn{
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
  }
</style>
