<template>
  <el-dialog
    :visible.sync="dialogVisible"
    size="large"
    top="60" 
    @close="isclose"
    :close-on-click-modal="false"
    custom-class="preview-wrapper"
    >
    <div class="off-canvas-wrapper" :class="{commentOpen: commentVisible}">
      <div class="position-left">
        <div class="swiper-button-fullscreen">
          <a @click="openFullscreen" class="fullscreen">
            <i class="fa fa-expand" v-if="!isFull"></i>
            <i class="fa fa-compress" v-else></i>
          </a>
        </div>
       <video-player  ref="videoPlayer"
           :options="playerOptions"
           @play="onPlayerPlay($event)"
           @pause="onPlayerPause($event)"
           @ended="onPlayerEnded($event)"
           @loadeddata="onPlayerLoadeddata($event)"
           @waiting="onPlayerWaiting($event)"
           @playing="onPlayerPlaying($event)"
           @timeupdate="onPlayerTimeupdate($event)"
           @canplay="onPlayerCanplay($event)"
           @canplaythrough="onPlayerCanplaythrough($event)"
           @ready="playerReadied"
           @statechanged="playerStateChanged($event)">
       </video-player>
      </div>
      <div class="position-right">
        <vedio-comment @close="closeComment" @isTimePoint="vedioState" :currentTime="currentTime"></vedio-comment>
      </div>
    </div>
  </el-dialog>
</template>
<script>
  import VedioComment from './VedioComment'
// import H5Video from './H5Video'
// import DVideo from './Video'
  import VideoPlayer from '../VideoPlayer'
  import { fullscreen } from '@/util/lg-fullscreen.js'
  export default {
    data () {
      return {
        dialogVisible: false,
        commentVisible: false,
        isFull: false,
        currentTime: '',
//      video: {
//        sources: [{
//          src: 'http://gslb.miaopai.com/stream/B~dRdhKMQeI6cuE5aqoGYoVaqbu0YNVn.mp4',
//          type: 'video/mp4'
//        }],
//        options: {
//          autoplay: true,
//          volume: 0.6,
//          poster: 'http://covteam.u.qiniudn.com/poster.png',
//          fullScreen: false
//        },
//        isPause: false
//      },
//      videoplayer
        playerOptions: {
          start: 0,
          playsinline: false,

          muted: true,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: 'video/mp4',
            src: 'http://gslb.miaopai.com/stream/B~dRdhKMQeI6cuE5aqoGYoVaqbu0YNVn.mp4'
          }],
          poster: 'http://covteam.u.qiniudn.com/poster.png'
        },
        playerCurrentState: null
      }
    },
    props: {
      visible: Boolean,
      file: String
    },
    mounted () {
      setTimeout(() => {
        this.playerOptions.muted = false
      }, 2000)
    },
    computed: {
      player () {
        return this.$refs.videoPlayer.player
      }
    },
    methods: {
      isclose () {
        this.$emit('isClose')
      },
      openComment () {
        this.commentVisible = true
      },
      closeComment () {
        this.commentVisible = false
      },
      openFullscreen () {
        this.isFull = !this.isFull
        console.log(this.$refs.vedioBox)
        fullscreen(this.$refs.vedioBox).init()
      },
//    是否获取驻点
      vedioState (isPoint) {
        if (isPoint) {
          this.currentTime = this.player.currentTime()
          this.player.pause()
        } else {
          this.player.play()
        }
      },
//    获取当前时间
      gainTime (time) {
        console.log(time)
        this.currentTime = time
      },
      onPlayerPlay (player) {
        console.log('player play!', player)
      },
      onPlayerPause (player) {
        console.log('player pause!', player)
      },
      onPlayerEnded (player) {
        // console.log('player ended!', player)
      },
      onPlayerLoadeddata (player) {
        // console.log('player Loadeddata!', player)
      },
      onPlayerWaiting (player) {
        // console.log('player Waiting!', player)
      },
      onPlayerPlaying (player) {
        // console.log('player Playing!', player)
      },
      onPlayerTimeupdate (player) {
        console.log('player Timeupdate!', player.currentTime())
      },
      onPlayerCanplay (player) {
        // console.log('player Canplay!', player)
      },
      onPlayerCanplaythrough (player) {
        // console.log('player Canplaythrough!', player)
      },
      // or listen state event
      playerStateChanged (playerCurrentState) {
//      console.log('player current update state', playerCurrentState)
        this.playerCurrentState = playerCurrentState
      },
      // player is ready
      playerReadied (player) {
        console.log('example 01: the player is readied', player)
        player.pause()
      }
    },
    watch: {
      visible (nv, ov) {
        this.dialogVisible = nv
      }
    },
    components: {
      VedioComment,
//    H5Video,
//    DVideo,
      VideoPlayer
    }
  }
</script>
<style>
</style>
