<template>
  <div class="index_wrapper">
    <div v-show="loading" style="text-align:center;height:100vh;padding-top:35px;">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom"></i>
    </div>
    <el-row v-show="!loading">
      <el-col :span="17">
        <publish-bar></publish-bar>
        <feed class="margin-t" :dynamic="true" @dataFetched="loading=false"></feed>
      </el-col>
      <el-col :span="7">
        <module-item
          modTitle="热门帖子"
          :get-url="'/sns/posts/hots'"
          :list-size="3"
          :list-key="'hotsPost'"
          :mod-type="'post'"
          :pathOption="getPostPathOption"
          :getOtherHtml="getPostOtherHtml">
        </module-item>
        <module-item
          modTitle="我的小组"
          :get-url="'/sns/groups/mygroups'"
          :list-size="3"
          :list-key="'mygroups'"
          :pathOption="getGroupPathOption"
          :getOtherHtml="getGroupOtherHtml">
        </module-item>
        <module-item
          modTitle="推荐小组"
          :get-url="'/sns/groups/recommends'"
          :list-size="3"
          :list-key="'groupRecommends'"
          :pathOption="getGroupPathOption"
          :getOtherHtml="getGroupOtherHtml">
        </module-item>
        <module-item
          modTitle="达人榜"
          :mod-type="'user'"
          :get-url="'/sns/user/experts'"
          :list-size="3"
          :list-key="'userExperts'"
          :pathOption="getUserPathOption">
        </module-item>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import PublishBar from '@/views/include/PublishBar'
import Feed from '@/components/Feed'
import ModuleItem from '@/components/items/ModuleItem'
import {getGroupPathOption, getGroupOtherHtml, getPostPathOption, getPostOtherHtml, getUserPathOption} from '@/components/items/moduleData'
export default {
  components: {
    PublishBar,
    Feed,
    ModuleItem
  },
  data () {
    return {
      loading: true
    }
  },
  methods: {
    getGroupPathOption,
    getGroupOtherHtml,
    getPostPathOption,
    getPostOtherHtml,
    getUserPathOption
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
