<template>
  <el-row class="margin-t">
    <el-col :xs="24" :sm="24" :md="4" :lg="4">
      <app-side-nav></app-side-nav>
    </el-col>
    <el-col :xs="24" :sm="24" :md="20" :lg="20">
      <router-view></router-view>
    </el-col>
  </el-row>
</template>

<script>
import AppSideNav from '@/views/include/AppSideNav'
export default {
  components: {
    AppSideNav
  },
  data () {
    return {
    }
  },
  methods: {
  },
  computed: {
  }
}
</script>

<style>
</style>
