<template>
  <div class="index_wrapper">
    <el-row>
      <el-col :span="17">
        <feed :dynamic="true"></feed>
      </el-col>
      <el-col :span="7">
        <mod title="热门帖子" size="14" more="http:/">
          <ul class="note_list">
            <li>
              <div class="title">
                <a href="/">前端开发规范：命名规范、html 规范、css 规范、js 规范</a>
              </div>
              <div class="btn_box">
                <a><i class="fa fa-heart-o"></i> 32</a>
                <a><i class="fa fa-comment-o"></i> 16</a>
              </div>
            </li>
            <li>
              <div class="title">
                <a href="/">前端开发 规范、js 规范</a>
              </div>
              <div class="btn_box">
                <a><i class="fa fa-heart-o"></i> 32</a>
                <a><i class="fa fa-comment-o"></i> 16</a>
              </div>
            </li>
            <li>
              <div class="title">
                <a href="/">前端开发规范：命名规范、</a>
              </div>
              <div class="btn_box">
                <a><i class="fa fa-heart-o"></i> 32</a>
                <a><i class="fa fa-comment-o"></i> 16</a>
              </div>
            </li>
          </ul>
        </mod>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Feed from '@/components/Feed'
export default {
  components: {
    Feed
  },
  data () {
    return {
    }
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
