<template>
  <div class="test">
    <a @click="docOpen">打开文档</a>
    <a @click="arOpen">打开文章</a>
    <a @click="imgOpen">打开图片</a>
    <a @click="vedioOpen">打开视频</a>
    <a @click="cOpen">组合</a>
    <a @click="chatOpen">聊天</a>
    <a @click="longBlog">长文</a>
    <a @click="textBlog">Text编辑</a>
    <a @click="showCollect = true">打开弹窗</a>

    <article-preview :visible="arVisible" v-on:isClose="arClose"></article-preview>
    <doc-preview :visible="docVisible" v-on:isClose="docClose"></doc-preview>
    <img-preview :visible="imgVisible" v-on:isClose="imgClose"></img-preview>
    <vedio-preview :visible="vedioVisible" v-on:isClose="vedioClose"></vedio-preview>
    <combination :visible="cVisible" v-on:isClose="cClose"></combination>
    <chat :visible="charVisible" v-on:isClose="charClose"></chat>
    <select-user></select-user>
    <!--<long-blog :visible="longVisible" v-on:isClose="blogClose"></long-blog>-->
    <blog-form :visible="longVisible" v-on:onClose="blogClose"></blog-form>
    <short-blog :visible="textVisible" v-on:isClose="textClose"></short-blog>

    <upload
      class="upload-demo"
      action="https://jsonplaceholder.typicode.com/posts/"
      :file-list="fileList">
      <el-button size="small" type="primary">点击上传</el-button>
      <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
    </upload>
    <el-upload
      class="upload-demo"
      action="https://jsonplaceholder.typicode.com/posts/"
      :file-list="fileList">
      <el-button size="small" type="primary">点击上传</el-button>
      <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
    </el-upload>
    <a @click="avatorVisible=true">2222上传头像2222</a>
    <test-medium-editor></test-medium-editor>
  </div>
</template>
<script>
  import Upload from '@/components/eleme/upload/src'
  import { rest } from '@/util'
  // pdf.js
  import Combination from '@/components/preview/Combination'
  import DocPreview from '@/components/preview/DocPreview'
  import ArticlePreview from '@/components/preview/ArticlePreview'
  import ImgPreview from '@/components/preview/ImgPreview'
  import VedioPreview from '@/components/preview/VedioPreview'
  import Chat from '@/components/preview/Chat'
  import LongBlog from '@/components/blog/LongBlog'
  import BlogForm from '@/components/blog/BlogForm'
  import ShortBlog from '@/components/blog/ShortBlog'
  import SelectUser from '@/components/selectusers/SelectUser'
  import { showCollect } from '@/store/modules/helper'
  import TestMediumEditor from '@/components/editor/TestMediumEditor'
  export default {
    data () {
      return {
        fileList: [{
          name: 'food.jpeg',
          raw: {
            lastModifiedDate: 156413415231,
            size: 123132
          },
          status: 'success',
          url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'
        }],
        docVisible: false,
        arVisible: false,
        imgVisible: false,
        vedioVisible: false,
        cVisible: false,
        charVisible: false,
        longVisible: false,
        textVisible: false,
        evisible: false
      }
    },
    computed: {
      showCollect
    },
    components: {
      Upload,
      ArticlePreview,
      DocPreview,
      ImgPreview,
      VedioPreview,
      Combination,
      Chat,
      SelectUser,
      LongBlog,
      ShortBlog,
      BlogForm,
      TestMediumEditor
    },
    methods: {
      docOpen () {
        this.docVisible = true
      },
      docClose () {
        this.docVisible = false
      },
      arOpen () {
        this.arVisible = true
      },
      arClose () {
        this.arVisible = false
      },
      imgOpen () {
        this.imgVisible = true
      },
      imgClose () {
        this.imgVisible = false
      },
      vedioOpen () {
        this.vedioVisible = true
      },
      vedioClose () {
        this.vedioVisible = false
      },
      cOpen () {
        this.cVisible = true
      },
      cClose () {
        this.cVisible = false
      },
      chatOpen () {
        this.charVisible = true
      },
      charClose () {
        this.charVisible = false
      },
      longBlog () {
        this.longVisible = true
      },
      blogClose () {
        this.longVisible = false
      },
      textBlog () {
        this.textVisible = true
      },
      textClose () {
        this.textVisible = false
      },
      imageuploaded (res) {
        console.log(res)
        if (res.status === 200 && res.data && res.data.ret === 0) {
          rest.get('/sns/image/conver?storeId=' + res.data.storeId)
            .then(data => {
              this.file.src = data
              console.log(this.file.src)
            })
        }
      }
    }
  }
</script>
<style>
</style>
