<template>
  <router-link :to="isShareAttachment ? isShareAttachmentRouteTo : routeTo" >
    <slot name="header"></slot>
    <div class="docbg music-box no-margin" v-for="(resourceFile, index) in resourceFiles" :key="resourceFile.rsId">
      <div class="media-object" @click.stop.prevent="previewDocs(index)">
        <div class="media-object-section">
          <file-icon :type="getType(resourceFile)" size="50"></file-icon>
        </div>
        <div class="media-object-section">
          <div class="title14">
            <a>{{resourceFile.name}}</a>
          </div>
          <div class="docInfo">
            <span>创建时间：{{item.createTime | dateFormat}}</span>
            <span v-text="renderSize(resourceFile.size)">12M</span>
          </div>
        </div>
      </div>
    </div>
    <div class="relative-content" v-if="content" v-html="content"></div>
    <slot name="footer"></slot>
  </router-link>
</template>
<script>
  import FileIcon from '@/components/FileIcon'
  import BaseCard from './BaseCard'
  import { shareRouteTo } from '@/store/modules/share'
  export default {
    extends: BaseCard,
    components: {
      FileIcon
    },
    data () {
      return {
      }
    },
    mounted () {
    },
    computed: {
      hasClearHtml () {
        return true
      },
      isShareAttachment () {
        return this.item.shareAttachment && this.modelObject.resourceFiles.length > 0
      },
      isShareAttachmentRouteTo () {
        if (this.isShareAttachment) {
          let r = this.routeTo
          r.hash = '#preview-' + this.modelObject.resourceFiles[0].rsId
          return r
        }
        return null
      },
      canShare () {
        let canBeShared = false
        let objContent = this.item.objContent
        if (objContent.scope === 0) {
          let group = this.item.group || this.item.scopeGroup
          if (group && group.scope === 1) {
            canBeShared = true
          }
        } else if (objContent.scope === 2) {
          canBeShared = true
        }
        return canBeShared
      }
    },
    methods: {
      shareRouteTo,
      renderSize (value, p, record) {
        if (!value) {
          return '0 Bytes'
        }
        let unitArr = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
        let index = 0
        let srcsize = parseFloat(value)
        let size = this.roundFun(srcsize / Math.pow(1024, (index = Math.floor(Math.log(srcsize) / Math.log(1024)))), 2)
        return size + unitArr[index]
      },
      roundFun (numberRound, roundDigit) {
        if (numberRound >= 0) {
          let tempNumber = parseInt((numberRound * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit)
          return tempNumber
        } else {
          let numberRound1 = -numberRound
          let tempNumber = parseInt((numberRound1 * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit)
          return -tempNumber
        }
      },
      getType (resourceFile) {
        let suffix = resourceFile.suffix || 'doc'
        suffix = suffix.toLowerCase()
        if (resourceFile.type === 'doc') {
          if (suffix === 'doc' || suffix === 'docx' || suffix === 'wps') {
            return 'doc'
          } else if (suffix === 'ppt' || suffix === 'pptx' || suffix === 'dps') {
            return 'ppt'
          } else if (suffix === 'xls' || suffix === 'xlsx' || suffix === 'et') {
            return 'xls'
          } else if (suffix === 'pdf') {
            return 'pdf'
          } else if (suffix === 'txt') {
            return 'txt'
          } else {
            return 'doc'
          }
        } else if (resourceFile.type === 'video') {
          return resourceFile.type
        } else if (resourceFile.type === 'other') {
          if (suffix === 'mp3' || suffix === 'ogg' || suffix === 'wav' || suffix === 'flac' || suffix === 'ape' || suffix === 'wma') {
            return 'music'
          }
          return resourceFile.type
        } else {
          return resourceFile.type
        }
      },
      previewDocs (index) {
        index = index || 0
        let previewData = { type: 'doc', resources: [], user: this.user, source: this.item, canShare: this.canShare }
        for (var i = 0; i < this.resourceFiles.length; i++) {
          let resourceFile = this.resourceFiles[i]
          previewData.resources.push({
            objCreator: this.item.userId,
            at: this.item.currPostId,
            atType: 'POST',
            id: resourceFile.rsId,
            type: 'DOCUMENT',
            name: resourceFile.name,
            size: resourceFile.size,
            url: resourceFile.datas['pdf'],
            cover: resourceFile.datas['png'],
            createTime: this.item.createTime,
//          extInfo: resourceFile.datas.extInfo,
            focus: index === i
          })
        }
        this.$bus.$emit('media:preview', previewData)
      }
    }
  }
</script>
