<template>
  <router-link :to="isShareAttachment ? isShareAttachmentRouteTo : routeTo">
    <slot name="header"></slot>
    <div class="img-list clearfix" :class="'large-up-' + images.size" v-if="images.size">
      <div class="column flex-center" v-for="(resourceFile,index) in images.list" :key="index">
        <a :style="heightStyle" :class="{'long-img': singleLong}" @click.stop.prevent="previewImages(index)">
          <span v-if="isLongImg" @mouseenter="setTime('up')" @mouseleave="clearTime" class="pre-img"></span>
          <span v-if="isLongImg" @mouseenter="setTime('down')"  @mouseleave="clearTime" class="next-img"></span>
          <img :src="resourceFile.datas['550x']" @load="sizeHeight(resourceFile.datas['550x'])" :alt="resourceFile.name" :style="{'margin-top': marginTop + 'px'}"/>
          <span v-if="resourceFile.suffix&&resourceFile.suffix.toLowerCase() === 'gif'" class="label black">GIF</span>
          <span v-if="isLongImg" class="long-flag">长 图</span>
        </a>
      </div>
      <span class="imgCount warning-color"><i class="fa fa-image"></i> <span v-text="resourceFiles.length"></span></span>
    </div>
    <div class="relative-content" v-if="content" v-html="content"></div>
    <slot name="footer"></slot>
  </router-link>
</template>
<script>
  import BaseCard from './BaseCard'
  export default {
    extends: BaseCard,
    data () {
      return {
        singleLong: false,
        marginTop: 0,
        imgHeight: 0,
        isLongImg: false,
        marque: null
      }
    },
    watch: {
    },
    computed: {
      isShareAttachment () {
        return this.item.shareAttachment && this.modelObject.resourceFiles.length > 0
      },
      images () {
        let allImages = this.resourceFiles
        let count = allImages.length
        let size = count
        if (count >= 3) {
          size = 3
        }
        let images = {}
        images.size = size
        images.list = allImages.slice(0, 3)
        return images
      },
      heightStyle () {
        let len = this.resourceFiles.length
        if (len === 1) {
          this.singleLong = true
          return 'max-height: 384px'
        } else if (len === 2) {
          return 'object-fit:cover;width:274px;height:180px;'
        } else {
          return 'object-fit:cover;width:182px;height:120px;'
        }
      },
      hasClearHtml () {
        return true
      },
      isShareAttachmentRouteTo () {
        if (this.isShareAttachment) {
          let r = this.routeTo
          r.hash = '#preview-' + this.modelObject.resourceFiles[0].rsId
          return r
        }
        return null
      },
      canShare () {
        let canBeShared = false
        let objContent = this.item.objContent
        if (objContent.scope === 0) {
          let group = this.item.group || this.item.scopeGroup
          if (group && group.scope === 1) {
            canBeShared = true
          }
        } else if (objContent.scope === 2) {
          canBeShared = true
        }
        return canBeShared
      }
    },
    methods: {
      previewImages (index) {
        index = index || 0
        let previewData = { type: 'image', resources: [], user: this.user, source: this.item, canShare: this.canShare }
        for (var i = 0; i < this.resourceFiles.length; i++) {
          let resourceFile = this.resourceFiles[i]
          previewData.resources.push({
            objCreator: this.item.userId,
            at: this.item.currPostId,
            atType: 'POST',
            id: resourceFile.rsId,
            type: 'IMAGE',
            name: resourceFile.name,
            desc: resourceFile.desc,
            size: resourceFile.size,
            url: resourceFile.datas['1000x'],
            extInfo: resourceFile.datas.extInfo,
            createTime: this.item.createTime,
            focus: index === i
          })
        }
        this.$bus.$emit('media:preview', previewData)
      },
      sizeHeight (img) {
        if (this.images.size !== 1) return
        var image = new Image()
        image.onload = () => {
          this.imgHeight = image.width > 508 ? image.height * 508 / image.width : image.height
          this.isLongImg = this.imgHeight > 600
        }
        image.src = img
      },
      up () {
        if (this.marginTop >= -1) {
          this.marginTop = 0
          this.clearTime()
          return
        }
        this.marginTop = this.marginTop + 1
      },
      down () {
        if (Math.abs(this.marginTop - 1) >= (this.imgHeight - 384)) {
          this.marginTop = 384 - this.imgHeight
          this.clearTime()
          return
        }
        this.marginTop = this.marginTop - 1
      },
      setTime (func) {
        this.marque = setInterval(this[func], 1)
      },
      clearTime () {
        clearInterval(this.marque)
      }
    }
  }
</script>
<style>
</style>

