<template>
  <div>
    <router-link :to="isShareAttachment ? isShareAttachmentRouteTo : routeTo">
      <slot name="header"></slot>
    </router-link>
    <div class="vedio-box margin-b0"
         v-for="(resourceFile, index) in resourceFiles.slice(0, 1)"
         :key="index">
      <video-play
        :ref="'videoPlayer' + index"
        :options="getPlayerOptions(resourceFile)">
      </video-play>
    </div>
    <router-link :to="routeTo" v-if="content" >
      <div class="relative-content" v-html="content"></div>
    </router-link>
    <slot name="footer"></slot>
  </div>
</template>
<script>
  import BaseCard from './BaseCard'
  import VideoPlay from '@/components/VideoPlayer'
  import { shareRouteTo } from '@/store/modules/share'

  export default {
    extends: BaseCard,
    components: {
      VideoPlay
    },
    data () {
      return {
        imgStyle: null
      }
    },
    mounted () {
    },
    computed: {
      hasClearHtml () {
        return true
      },
      isShareAttachment () {
        return this.item.shareAttachment && this.modelObject.resourceFiles.length > 0
      },
      isShareAttachmentRouteTo () {
        if (this.isShareAttachment) {
          let r = this.routeTo
          r.hash = '#preview-' + this.modelObject.resourceFiles[0].rsId
          return r
        }
        return null
      },
      canShare () {
        let canBeShared = false
        let objContent = this.item.objContent
        if (objContent.scope === 0) {
          let group = this.item.group || this.item.scopeGroup
          if (group && group.scope === 1) {
            canBeShared = true
          }
        } else if (objContent.scope === 2) {
          canBeShared = true
        }
        return canBeShared
      }
    },
    methods: {
      shareRouteTo,
      previewVideos (index) {
        index = index || 0
        let previewData = { type: 'video', resources: [], user: this.user, source: this.item, canShare: this.canShare }
        for (var i = 0; i < this.resourceFiles.length; i++) {
          let resourceFile = this.resourceFiles[i]
          let currentTime = this.$refs['videoPlayer' + i][0].player.currentTime()
          previewData.resources.push({
            objCreator: this.item.userId,
            at: this.item.currPostId,
            atType: 'POST',
            id: resourceFile.rsId,
            type: 'VIDEO',
            name: resourceFile.name,
            size: resourceFile.size,
            url: resourceFile.datas['mp4'],
            cover: resourceFile.datas['mp4_to_jpg'],
            extInfo: resourceFile.datas.extInfo,
            createTime: this.item.createTime,
            focus: index === i,
            start: currentTime
          })
        }
        this.$bus.$emit('media:preview', previewData)
      },
      getPlayerOptions (resourceFile) {
        return {
          start: 0,
          showFullBtn: false,
          preload: 'none',
          playsinline: false,
          muted: false,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: 'video/mp4',
            src: resourceFile.datas['mp4x'] || resourceFile.datas['mp4']
          }],
          sourceId: resourceFile.rsId,
          poster: resourceFile.datas['550x'] || resourceFile.datas['mp4_to_jpg']
        }
      }
    }
  }
</script>
