<template>
  <main v-if="loadSubjectInfoFailure" class="main">
    <h2>欢迎注册企业内网</h2>
    <div style="text-align:center;">{{loadSubjectInfoMsg}}</div>
  </main>
  <main v-else-if="loadingSubjectInfo" class="main">
    <h2>欢迎注册企业内网</h2>
    <div><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="display:block;margin:0 auto;"></i></div>
    <div style="text-align:center;margin-top:18px;">正在加载主体信息...</div>
  </main>
  <main class="main" v-else>
    <h2>欢迎注册企业内网</h2>
    <div class="register-content">
      <el-form ref="form" label-position="top" :rules="rules" :model="form" label-width="80px">
        <el-form-item label="主体类型">
          <div style="display:inline-block;" slot="label">主体类型
            <span class="color-secondary font-s12">（主体类型申请后不可修改！）</span>
          </div>
          <el-radio :disabled="!!form.id" v-for="type in subjectTypes" :key="type.value" class="radio" v-model="form.type" :label="type.value">{{type.name}}</el-radio>
        </el-form-item>
        <el-form-item :label="subjectName + '名称'" prop="name">
          <div style="display:inline-block;" slot="label">{{subjectName + '名称'}}
            <span class="color-secondary font-s12">（主体中/英文名称）</span>
          </div>
          <el-input type="input" v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item :label="subjectName + '别名'" prop="alias">
          <div style="display:inline-block;" slot="label">{{subjectName + '别名'}}<span class="color-secondary font-s12">（主体英文简称）</span></div>
          <el-input type="input" v-model="form.alias"></el-input>
        </el-form-item>
        <!--<el-form-item :label="subjectName + '徽标'">-->
          <!--<el-row>-->
            <!--<el-col :span="10">-->
              <!--<div class="activity-banner">-->
                <!--<img style="width: 100%;" :src="iconUrl" :alt="subjectName + '徽标'"/>-->
              <!--</div>-->
            <!--</el-col>-->
            <!--<el-col :span="12">-->
              <!--<span v-if="isAvatarUploading" >正在上传...</span>-->
              <!--<el-upload-->
                <!--:show-file-list="false"-->
                <!--:action="uploadUrl"-->
                <!--accept="image/*"-->
                <!--:on-success="handleAvatarSuccess"-->
                <!--:on-remove="handleAvatarRemove"-->
                <!--:on-error="handleAvatarError"-->
                <!--:on-progress="handleAvatarProgress"-->
              <!--&gt;-->
                <!--<el-button  size="small" type="primary" icon="picture">设置封面</el-button>-->
              <!--</el-upload>-->
            <!--</el-col>-->
          <!--</el-row>-->
        <!--</el-form-item>-->
        <el-form-item label="邮箱" prop="email">
          <el-input type="input" v-model="form.email"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="telphone">
          <el-input type="input" v-model="form.telphone"></el-input>
        </el-form-item>
        <!--<el-form-item label="域名" prop="domain">-->
          <!--<el-input type="input" v-model="form.domain"></el-input>-->
        <!--</el-form-item>-->
        <el-form-item class="text-center">
          <el-button type="primary" @click="onSubmit" :disabled="saveBtnDisable"><i v-if="isSubmitting" class="fa fa-circle-o-notch fa-spin"></i>{{isSubmitting?'正在提交':'提交申请'}}</el-button>
        </el-form-item>
      </el-form>
    </div>
  </main>
</template>
<script>
  import { rest } from '@/util'
  export default {
    data () {
      var validateTelphone = (rule, value, callback) => {
        rest.get('/subject/isSubjectPhoneRepeat?subjectId=' + this.checkSubjectId + '&phone=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            this.isValidFailed = true
            callback(new Error('手机号[' + value + ']已经被其它主体申请或注册绑定！'))
          } else {
            callback()
          }
        }).catch((e) => {
          this.isValidFailed = true
          console.log('检查手机号出错！', e)
          callback(new Error('检查手机号异常!'))
        })
      }
      var validateAlias = (rule, value, callback) => {
        rest.get('/subject/isSubjectAliasRepeat?subjectId=' + this.checkSubjectId + '&alias=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            this.isValidFailed = true
            callback(new Error('主体别名[' + value + ']已经被申请或注册！'))
          } else {
            callback()
          }
        }).catch((e) => {
          this.isValidFailed = true
          console.log('检查主体别名出错！', e)
          callback(new Error('检查主体别名异常！'))
        })
      }
      var validateName = (rule, value, callback) => {
        rest.get('/subject/isSubjectNameRepeat?subjectId=' + this.checkSubjectId + '&name=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            this.isValidFailed = true
            callback(new Error('主体名称[' + value + ']已经被申请或注册！'))
          } else {
            callback()
          }
        }).catch((e) => {
          this.isValidFailed = true
          console.log('检查主体名称出错！', e)
          callback(new Error('检查主体名称异常！'))
        })
      }
      var validateEmail = (rule, value, callback) => {
        rest.get('/subject/isSubjectEmailRepeat?subjectId=' + this.checkSubjectId + '&email=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            this.isValidFailed = true
            callback(new Error('邮箱地址[' + value + ']已经其它主体申请或注册绑定！'))
          } else {
            callback()
          }
        }).catch((e) => {
          this.isValidFailed = true
          console.log('检查邮箱地址出错！', e)
          callback(new Error('检查邮箱地址异常！'))
        })
      }
      return {
        saveBtnDisable: false,
        isAvatarUploading: false,
        subjectInfo: {},
        checkSubjectId: 'NONE_ID',
        uploadUrl: '/zuul/file/web/upload?st=1',
        defaultAvatarUrl: require('@/assets/img/img-holder.png'),
        avatarUrl: require('@/assets/img/img-holder.png'),
        avatar: null,
        isSubmitting: false,
        subjectTypes: [
          {name: '企业', value: 1},
          {name: '政府', value: 0},
          {name: '组织机构', value: 2},
          {name: '团体', value: 3},
          {name: '个人', value: 4}
        ],
        form: {
          type: 1,
          icon: '',
          name: '',
          alias: '',
          email: '',
          telphone: '',
          extInfo: '',
          domain: ''
        },
        rules: {
          name: [
            {required: true, message: '请输入名称', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'},
            {validator: validateName, trigger: 'blur'}
          ],
          alias: [
            {required: true, message: '请输入名称', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'},
            {message: '别名只能输入字母、数字、下划线字符', pattern: /^[a-z,A-Z,0-9_]+$/, trigger: 'blur'},
            {validator: validateAlias, trigger: 'blur'}
          ],
          telphone: [
            {required: true, message: '请输入手机号', trigger: 'blur'},
            {message: '请输入正确的手机号', pattern: /^1[0-9]{10}$/, trigger: 'blur'},
            {validator: validateTelphone, trigger: 'blur'}
          ],
          email: [
            {required: true, message: '请输入邮箱地址', trigger: 'blur'},
            {type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur'},
            {validator: validateEmail, trigger: 'blur'}
          ],
          domain: [
            {message: '请输入正确的域名', pattern: /^(.*?)\.(.*?)$/, trigger: 'blur'}
          ]
        },
        isValidFailed: false,
        loadingSubjectInfo: false,
        loadSubjectInfoFailure: false,
        loadSubjectInfoMsg: '主体信息找不到！'
      }
    },
    mounted () {
      let query = this.$route.query
      let id = query.id
      let token = query.token
      if (id && token) {
        this.loadingSubjectInfo = true
        this.loadSubjectInfoFailure = false
        // 获取主体信息
        rest.get('/subject/subjectInfo', query).then(subjectInfo => {
          if (subjectInfo) {
            this.initData(subjectInfo)
          } else {
            console.log('加载的主体信息不存在！', subjectInfo)
            this.loadSubjectInfoMsg = '主体信息不存在！'
            this.loadSubjectInfoFailure = true
          }
          this.loadingSubjectInfo = false
        }).catch(error => {
          this.loadingSubjectInfo = false
          this.loadSubjectInfoFailure = true
          this.loadSubjectInfoMsg = '请求错误，请稍候重试！'
          if (error && error.status >= 10000 && error.message) {
            this.loadSubjectInfoMsg = error.message
          }
          console.log('加载主体信息异常！', error)
        })
      }
    },
    methods: {
      initData (subjectInfo) {
        this.subjectInfo = subjectInfo
        if (this.subjectInfo) {
          this.avatarUrl = this.subjectInfo.icon
          this.avatar = null
        }
        if (this.subjectInfo && this.subjectInfo.id) {
          this.checkSubjectId = this.subjectInfo.id
        }
        this.form.token = this.$route.query.token
      },
      handleAvatarSuccess (res, file, fileList) {
        this.isAvatarUploading = false
        let avatar
        if (res.data && res.data.storeId) {
          avatar = res.data.storeId
        }
        if (avatar) {
          this.avatarUrl = URL.createObjectURL(file.raw)
          this.avatar = avatar
        } else {
          this.msgError('上传[' + file.name + '] 失败！')
          console.log('上传[' + file.name + '] 失败！')
          this.avatarUrl = this.defaultAvatarUrl
          this.avatar = null
        }
      },
      handleAvatarError (err, file, fileList) {
        this.isAvatarUploading = false
        this.msgError('上传[' + file.name + '] 失败！')
        console.log('上传[' + file.name + '] 失败！', err)
      },
      handleAvatarProgress (event, file, fileList) {
        this.isAvatarUploading = true
      },
      handleAvatarRemove (res, file, fileList) {
        this.isAvatarUploading = false
      },
      onSubmit () {
        console.log(1)
        this.isSubmitting = true
        this.saveBtnDisable = true
        this.$refs['form'].validate((valid) => {
          if (!valid) {
            this.isValidFailed = true
            this.saveBtnDisable = false
            this.isSubmitting = false
            return false
          } else {
            this.isValidFailed = false
            if (this.avatar) {
              this.form.icon = this.avatar
            } else {
              this.form.icon = null
            }
            let tokenUrl = ''
            if (this.form.token) {
              tokenUrl = '?token=' + this.form.token
            }
            rest.post('/subject/apply' + tokenUrl, this.form, true).then(subject => {
              console.log(subject)
              if (subject) {
                this.$router.push({
                  name: 'feedback'
                })
              } else {
                console.log('申请失败,返回结果为:', subject)
                this.msgError('申请失败，请稍候重试！')
              }
              this.isSubmitting = false
              this.saveBtnDisable = false
            }).catch(e => {
              this.isSubmitting = false
              this.saveBtnDisable = false
              if (e && e.status >= 10000 && e.message) {
                this.msgError('申请失败，' + e.message)
              } else {
                this.msgError('申请失败，请稍候重试！')
              }
              console.log('申请异常！', e)
            })
          }
        })
      },
      msgError (msg) {
        this.$message({
          showClose: true,
          message: msg,
          type: 'error',
          duration: 10000
        })
      }
    },
    computed: {
      subjectName () {
        let subjectType = this.form.type
        for (let type of this.subjectTypes) {
          if (type.value === subjectType) {
            return type.name
          }
        }
        return '主体'
      },
      iconUrl () {
        return this.avatarUrl || this.defaultAvatarUrl
      }
    },
    watch: {
      subjectInfo (nv, ov) {
        if (nv) {
          this.form = { ...this.form, ...nv }
          this.avatarUrl = nv.icon
          this.avatar = null
        } else {
          this.avatarUrl = null
          this.avatar = null
          this.form = {}
        }
      }
    }
  }
</script>
<style>
</style>
