<template>
  <main class="main">
    <h2 class="color-success">提交成功，正在审核中...</h2>
    <div class="feed-content">
      <p>感谢您申请注册，请耐心等待至多1-2个工作日，工作人员将尽快给您办理审核手续并发送到你的邮箱！有任何问题请拨打客服
        <span class="underline">88888</span></p>
    </div>
  </main>
</template>
<script>
  export default {
    data () {
      return {
        form: {
          name: '',
          alias: '',
          tel: '',
          dname: '',
          type: ''
        }
      }
    },
    methods: {
      onSubmit () {
        console.log('submit!')
      }
    }
  }
</script>
<style>
</style>
