<template>
  <div class="co-register-wrapper">
    <header>
    <el-row>
      <el-col :span='12'>
        <h1 class='logo float-left'>
          <span><a href="/">聆花科技</a></span>
        </h1>
      </el-col>
      <el-col :span='12'>
        <div class="back-index">
          <a href="/">返回首页</a>
        </div>
      </el-col>
    </el-row>
  </header>
    <router-view></router-view>
    <footer>
      <div class="subNav">
          <a>Help</a> | <a>Terms of Service</a> | <a>FAQ</a> | <a>About</a>
      </div>
    </footer>
  </div>
</template>

<script>
</script>

<style src="../../assets/css/enter-master.css"></style>
<style>
  .logo a, .back-index a {
    color: white;
  }
</style>

