<template>
  <main v-if="loadSubjectInfoFailure" class="main">
    <h2>初始化管理帐号</h2>
    <div style="text-align:center;">{{loadSubjectInfoMsg}}</div>
  </main>
  <main v-else-if="loadingSubjectInfo" class="main">
    <h2>初始化管理帐号</h2>
    <div><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="display:block;margin:0 auto;"></i></div>
    <div style="text-align:center;margin-top:18px;">正在加载主体信息...</div>
  </main>
  <main class="main" v-else-if="initSuccess">
    <h2 class="color-success">成功初始化管理账号，您现在可以使用账号 {{this.form.loginName}} 前往<a :href="$router.options.base + ''">登录页</a>登录啦！</h2>
    <div class="feed-content">
      <p>如果有任何其它问题，可以拨打官方客服服务电话
        <span class="underline">88888</span></p>
    </div>
  </main>
  <main v-else class="main">
    <h2>初始化管理帐号</h2>
    <div class="register-content">
      <el-form ref="form" label-position="top" :rules="rules" :model="form" label-width="80px">
        <el-form-item label="登录账号">
          <div slot="label">登录账号<span class="color-secondary font-s12">（  用户帐号登录。）</span></div>
          <el-input type="input" disabled placeholder="" v-model="form.loginName" ></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <div slot="label">密码</div>
          <el-input type="password" placeholder="设置密码" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item class="text-center">
          <el-button type="primary" class="expand" @click="onSubmit" :disabled="saveBtnDisable"><i v-if="isSubmitting" class="fa fa-circle-o-notch fa-spin"></i>{{isSubmitting?'正在初始化':'初始化账号'}}</el-button>
        </el-form-item>
      </el-form>
    </div>
  </main>
</template>
<script>
  import { rest } from '@/util'
  export default {
    data () {
      return {
        initSuccess: false,
        isSubmitting: false,
        saveBtnDisable: false,
        form: {
          userName: '',
          loginName: '',
          password: ''
        },
        rules: {
          password: [
            {required: true, message: '请输入登录密码', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'}
          ]
        },
        isValidFailed: false,
        loadingSubjectInfo: false,
        loadSubjectInfoFailure: false,
        loadSubjectInfoMsg: '主体信息找不到！'
      }
    },
    methods: {
      initData (subjectInfo) {
        if (subjectInfo) {
          this.form.userName = subjectInfo.name
          this.form.loginName = subjectInfo.alias
          this.form.subjectId = subjectInfo.id
        }
        this.form.password = ''
      },
      onSubmit () {
        this.isSubmitting = true
        this.saveBtnDisable = true
        this.$refs['form'].validate((valid) => {
          if (!valid) {
            this.isValidFailed = true
            this.saveBtnDisable = false
            this.isSubmitting = false
            return false
          } else {
            this.isValidFailed = false
          }
        })
        if (this.isValidFailed) {
          this.isSubmitting = false
          return false
        }
        let paramsUrl = '?token=' + this.$route.query.token
        paramsUrl += '&userName=' + this.form.userName
        paramsUrl += '&loginName=' + this.form.loginName
        paramsUrl += '&password=' + this.form.password
        paramsUrl += '&subjectId=' + this.form.subjectId
        rest.post('/subject/initTenantAccount' + paramsUrl, this.form, true).then(isSuccess => {
          if (isSuccess) {
            this.initSuccess = true
          } else {
            console.log('申请失败,返回结果为:', isSuccess)
            this.msgError('初始化失败，请稍候重试！')
          }
          this.isSubmitting = false
          this.saveBtnDisable = false
        }).catch(e => {
          this.isSubmitting = false
          this.saveBtnDisable = false
          if (e && e.status >= 10000 && e.message) {
            this.msgError('初始化失败，' + e.message)
          } else {
            this.msgError('初始化失败，请稍候重试！')
          }
          console.log('初始化异常！', e)
        })
      },
      msgError (msg) {
        this.$message({
          showClose: true,
          message: msg,
          type: 'error',
          duration: 10000
        })
      }
    },
    mounted () {
      let query = this.$route.query
      let id = query.id
      let token = query.token
      this.loadingSubjectInfo = true
      this.loadSubjectInfoFailure = false
      if (!id || !token) {
        this.loadingSubjectInfo = false
        this.loadSubjectInfoFailure = true
        this.loadSubjectInfoMsg = '无效的初始化参数！'
      }
      // 获取主体信息
      rest.get('/subject/subjectInfo', query).then(subjectInfo => {
        if (subjectInfo) {
          this.initData(subjectInfo)
        } else {
          console.log('加载主体信息不存在！', subjectInfo)
          this.loadSubjectInfoMsg = '主体信息不存在！'
          this.loadSubjectInfoFailure = true
        }
        this.loadingSubjectInfo = false
      }).catch(error => {
        this.loadingSubjectInfo = false
        this.loadSubjectInfoFailure = true
        this.loadSubjectInfoMsg = '请求错误，请稍候重试！'
        if (error && error.status >= 10000 && error.message) {
          this.loadSubjectInfoMsg = error.message
        }
        console.log('加载主体信息异常！', error)
      })
    }
  }
</script>
<style>
</style>
