<template>
  <main class="main">
    <h2>登录企业内网</h2>
    <div class="register-content">
      <el-form ref="form" label-position="top" :model="form" label-width="80px">
        <el-form-item label="账号">
          <el-input type="input" placeholder="邮箱或者手机号" v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="密码">
          <el-input type="input" placeholder="密码" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item class="text-center">
          <el-button type="primary" class="expand" @click="onSubmit">登录</el-button>
        </el-form-item>
        <el-form-item>
          <el-button type="text">忘记密码？</el-button>
          <el-button class="float-right" type="text">注册</el-button>
        </el-form-item>
      </el-form>
    </div>
  </main>
</template>
<script>
  export default {
    data () {
      return {
        form: {
          name: '',
          password: ''
        }
      }
    },
    methods: {
    }
  }
</script>
<style>
</style>
