<template>
  <div v-if="statusFetch" style="text-align:center;height:100vh;padding-top:35px;">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom"></i>
  </div>
  <div v-else-if="activity">
    <el-popover
      v-if="activity.body && activity.body.geo"
      ref="mapPopover"
      placement="top-start"
      width="320"
      trigger="hover">
      <div class="map-container" style="">
        <amap
          vid="amap2"
          :zoom="12"
          :center="activity.body.geo.location"
          style="height: 200px;"
        >
          <amap-marker :position="activity.body.geo.location"></amap-marker>
        </amap>
      </div>
    </el-popover>
    <div class="activity-wrapper">
    	<el-row class="activity-banner">
        <el-col :span="11">
          <div class="img">
            <img :src="activity.detailCover" />
          </div>
        </el-col>
        <el-col :span="13">
          <section class="activity-content">
            <h2>{{activity.title}}</h2>
            <div><i class="fa fa-calendar"></i> {{startDate}} ~ {{endDate}}<span>【报名截止：{{joinDeadline}}】</span></div>
            <div>
              <i class="fa fa-map-marker font-s16"></i>
              <span v-if="activity.body && activity.body.geo" v-popover:mapPopover>{{activity.location}}</span>
              <span v-else>{{activity.location}}</span>
            </div>
            <div>
              {{activity.joinCount || 0}} 人参加{{activity.joinLimit ? ` / ${activity.joinLimit}人` : ''}}
              <span v-if="status === 'waiting'" class="label margin-l10 warning">未开始</span>
              <span v-else-if="status === 'running'" class="label margin-l10 success">进行中</span>
              <span v-else-if="status === 'done'" class="label margin-l10 secondary">已结束</span>
              <span v-else-if="status === 'cancel'" class="label margin-l10 secondary">已取消</span>
            </div>
            <div class="organizers">
              <span v-if="group">
                <router-link :to="{ name: 'group', params: { groupId: group.id } }">
                  <img :src="group.icon" :alt="group.name + '-小组'"/>{{group.name}}
                </router-link> 小组
              </span>
              <span v-else-if="activity.scope === 2">为公司创建</span>
              <span v-else-if="user">
                组织者：<router-link :to="{ name: 'user', params: { userId: user.id }}">{{user.userName}}</router-link>
              </span>
            </div>
            <div class="margin-t">
              <template v-if="canJoin && activity.mark <= 0">
                <el-button @click="join(1)" type="warning">参加</el-button>
                <el-button v-if="!isCreator" @click="join(2)" type="warning">有兴趣</el-button>
              </template>
              <el-dropdown v-else-if="canJoin" @command="join" trigger="click">
                <el-button type="warning">
                  <i class="fa fa-check"></i> {{markStr}}<i class="el-icon-caret-bottom el-icon--right"></i>
                </el-button>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="1">
                    <i :class="activity.mark===1 ? 'fa-check' : 'icon-empty'" class="fa"></i> {{activity.mark===1 ? markList[1] : '参加'}}
                  </el-dropdown-item>
                  <el-dropdown-item command="2">
                    <i :class="activity.mark===2 ? 'fa-check' : 'icon-empty'" class="fa"></i> {{markList[2]}}
                  </el-dropdown-item>
                  <el-dropdown-item command="3">
                    <i :class="activity.mark===3 ? 'fa-check' : 'icon-empty'" class="fa"></i> {{markList[3]}}
                  </el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
              <el-button
                v-else-if="status !== 'waiting' && activity.mark===1"
                :disabled="true"
                type="success"
              ><i class="fa fa-check"></i> 已参加</el-button>
              <template v-if="canInvite || isCreator">
                <el-dropdown v-if="canJoin" @command="oper" @click="oper('invite')" split-button type="info">
                  邀请
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="invitedList">邀请列表</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
                <el-button v-else @click="oper('invitedList')" type="info">邀请列表</el-button>
              </template>
              <el-dropdown v-if="isCreator" @command="oper" @click="oper('edit')" split-button type="info">
                编辑
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="cancel" v-show="status === 'waiting' || status === 'running'">取消活动</el-dropdown-item>
                  <el-dropdown-item command="delete">{{status === 'cancel' || status === 'done' ? '删除' : '取消并删除活动'}}</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>
            <div class="tools">
              <span>{{viewerCount}}人浏览</span>
              <a v-if="hasBeShared" @click="shareActivity"><i class="fa fa-share-square-o"></i></a>
            </div>
          </section>
        </el-col>
      </el-row>
      <el-row class="adetail">
        <el-col :span="24">
          <section class="activeDetail margin-t">
            <h3>活动详情</h3>
            <div v-if="activity.body" v-html="activity.body.content" class="content"></div>
          </section>
          <section class="action">
            <h3>参加人员（{{joinedCount}}人）<el-button @click="showInvitedVisitorsPanel(2)" type="text" size="small" class="margin-l">有兴趣({{interestingCount}})</el-button> ·<el-button @click="showInvitedVisitorsPanel(0)" type="text" size="small">已邀请({{invitedCount}})</el-button></h3>
            <div class="content">
              <people-list
                size="46"
                :count="14"
                :uids="vids"></people-list>
              </div>
          </section>
          <!--<section class="relative-activity">
            <h3>你可能感兴趣的...</h3>
            <div class="content">
              <div class="clearfix large-up-4 medium-up-4 small-up-2">
                <div class="column">
                  <a><img src="../../assets/img/6.png" alt="活动名字"/>
                    <h4>相关活动标题</h4>
                  </a>
                </div>
                <div class="column">
                  <a><img src="../../assets/img/6.png" alt="活动名字"/>
                    <h4>相关活动标题</h4>
                  </a>
                </div>
                <div class="column">
                  <a><img src="../../assets/img/6.png" alt="活动名字"/>
                    <h4>相关活动标题</h4>
                  </a>
                </div>
                <div class="column">
                  <a><img src="../../assets/img/6.png" alt="活动名字"/>
                    <h4>相关活动标题</h4>
                  </a>
                </div>
              </div>
            </div>
          </section>-->
          <!--<section class="comment-content">
            <comment-tree
              v-if="activity.id"
              :createAt="activity.id"
              :createAtType="'activity'"
              :objCreator="activity.creator"
              :loadData="true"
              :enable="true"
              :articleComment="true"
              :isCommentArea="false"
            ></comment-tree>
          </section>-->
        </el-col>
      </el-row>
    </div>
    <el-row class="margin-t">
      <el-col :span="17">
        <publish-bar v-if="activity" :createAtType="'activity'" :createAt="activity.id"></publish-bar>
        <feed v-if="refFeedObjs" :usePreview="false" :loadComment="true" :objs="refFeedObjs" class="margin-t ref-feed-activity"></feed>
        <!--<div class="filters mod-border margin-t">-->
          <!--<el-row>-->
            <!--<el-col :span="24">-->
              <!--<ul class="menu">-->
                <!--<li>-->
                  <!--<a class="active">全部</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a>热门</a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a>本周最热  </a>-->
                <!--</li>-->
                <!--<li>-->
                  <!--<a>历史最热</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</el-col>-->
          <!--</el-row>-->
        <!--</div>-->
        <feed v-if="activity" :groupType="'activity'" :groupId="activity.id" class="margin-t"></feed>

      </el-col>
      <el-col :span="7"></el-col>
    </el-row>
    <activity-form
      ref="form"
      :value="activity"
      @edited="editedActivity"
    ></activity-form>
    <el-dialog
      title="未参加列表"
      :visible.sync="invitedVisitorsPanel"
      size="tiny"
    >
      <el-tabs v-if="inviteActivity" v-model="invitedActiveName">
        <el-tab-pane
          v-for="vs in unjoinedVisitors"
          :key="vs.key"
          :label="vs.label"
          :name="vs.key"
        ><span slot="label">{{vs.label}}{{ vs.list.length > 0 ? `（${vs.list.length}）` : ''}}</span>
          <div class="single-people-list">
            <div v-for="item in vs.list" :key="item.id" class="media-object user">
              <div class="media-object-section shrink">
                <div class="img img30"><img :src="item.user.avatar" v-error-img:user :alt="item.user.userName"></div>
              </div>
              <div class="media-object-section align-center">
                <a class="h-underline">{{item.user.userName}}</a> <span>{{(item.modifyDate || item.createDate) | dateYMD}}</span>
                <el-button
                  v-show="item.mark===0 && inviteActivity.creator === currUser.id && inviteActivity.status===0 && Date.now() <= inviteActivity.joinDeadline"
                  type="info"
                  size="small"
                  @click="removeInvitedVisitor(item)"
                ><i class="el-icon-close"></i> 移除</el-button>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
      <div v-show="!invitedVisitorsLoading" slot="footer" class="dialog-footer">
        <el-button @click="invitedVisitorsPanel = false">取 消</el-button>
        <el-button type="primary" @click="invitedVisitorsPanel = false">确 定</el-button>
      </div>
    </el-dialog>
    <select-user
      :dialogVisible.sync="selectInviteVisitorDialogVisible"
      dialogTitle="邀请人员"
      :actionBtnTitle="'邀请'"
      :getValue="getInvitedVisitorsForSelectUser"
      :value="[]"
      :action="(uids) => this.saveInviteVisitors(uids).then(() => {this.getVisitors()})"
    ></select-user>
  </div>
  <div v-else>活动不存在</div>
</template>
<script>
import SelectUser from '@/components/selectusers/SelectUser'
import PeopleList from '@/components/PeopleList'
import CommentTree from '@/components/comment/CommentTree'
import activityMixin from '@/mixin/activityMixin'
import Feed from '@/components/Feed'
import PublishBar from '@/views/include/PublishBar'
import ActivityForm from './ActivityForm'
import { rest } from '@/util'
import { shareData, shareFormShow } from '@/store/modules/share'
import { Amap, AmapMarker } from '@/components/amap'

export default {
  mixins: [activityMixin],
  components: {
    Amap,
    AmapMarker,
    SelectUser,
    ActivityForm,
    PeopleList,
    CommentTree,
    Feed,
    PublishBar
  },
  computed: {
    shareData,
    shareFormShow,
    activityId () {
      return this.$route.params.activityId
    },
    unjoinedVisitors () {
      return this.visitorMap.filter(o => o.key !== 'mark1')
    },
    vids () {
      return this.visitorMap[1].list.map(o => o.visitor)
    },
    joinedCount () {
      return this.vids ? this.vids.length : 0
    },
    invitedCount () {
      return this.visitorMap[0].list.length
    },
    interestingCount () {
      return this.visitorMap[2].list.length
    },
    hasBeShared () {
      if (this.activity.scope === 0) {
        if (this.activity.group && this.activity.group.scope === 1) {
          return true
        }
      } else if (this.activity.scope === 2) {
        this.canBeShared = true
      }
      return false
    }
  },
  data () {
    return {
      viewerCount: 0,
      refFeedObjs: null,
      activity: null
    }
  },
  created () {
    this.loadActivity()
  },
  watch: {
    $route () {
      this.loadActivity()
    }
  },
  methods: {
    loadActivity () {
      this.rest.status.fetch = true
      this.getActivity(this.activityId)
      .then(data => {
        this.getVisitors(`/sns/activity/${this.activityId}/visitor/all`)
        if (this.activity.createAt && this.activity.createAtType === 101) { // 小组范围内
          rest.get(`/sns/activity/${this.activityId}/postId`)
          .then(data => {
            if (data) {
              this.refFeedObjs = [`POST!${data}`]
            }
          })
        }
        this.rest.status.fetch = false
        rest.get('/page/viewers/count', {
          dataType: 'activity',
          dataIds: [this.activityId]
        }, true)
        .then(data => {
          this.viewerCount = data[this.activityId]
        })
        rest.create('/page/viewers?dataType=activity', [this.activityId])
      })
      .catch(e => {
        this.rest.status.fetch = false
      })
    },
    oper (type) {
      if (type === 'edit') {
        this.showEditForm()
      } else if (type === 'cancel') {
        this.cancelActivity(this.activity)
      } else if (type === 'delete') {
        this.deleteActivity(this.activity)
      } else if (type === 'invite') {
        this.showUninvitedVisitorsPanel(this.activity)
      } else if (type === 'invitedList') {
        this.showInvitedVisitorsPanel(0)
      }
    },
    showEditForm () {
      this.$set(this.activity, 'editing', true)
      this.$refs.form.formShow = true
    },
    showInvitedVisitorsPanel (mark) {
      this.inviteActivity = this.activity
      this.invitedVisitorsPanel = true
      this.invitedActiveName = 'mark' + mark
    },
    shareActivity () {
      if (!this.hasBeShared) {
        return
      }
      let {groupName, groupId} = {}
      if (this.activity && this.activity.group) {
        groupName = this.activity.group.name
        groupId = this.activity.group.id
      }
      let modelObject = {...{contentType: 'activity'}, ...this.activity}
      let currActivity = {
        objId: this.activity.id,
        objType: 'ACTIVITY',
        groupName: groupName,
        groupId: groupId,
        user: this.activity.user,
        group: this.activity.group,
        objContent: {
          bindId: this.activity.id,
          modelObject: modelObject
        }
      }
      this.shareData = {from: 'activity', type: 'activity', item: currActivity}
      this.shareFormShow = true
    }
  }
}
</script>

<style>
  .ref-feed-activity .activity {
    display: none;
  }
</style>

<style scoped="">
  @import 'css/variable.css';
  .activity-wrapper{
    padding: 2rem;
    background: #fff;
    & .activity-banner .img{
      height: 200px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f1f1f1;
      max-width: 342px;
      & img{
        width: 100%;
      }
    }
  }
  .activity-content{
    padding: 0 10px 0;
    & > div{
      margin-bottom: 6px;
      color: var(--color-secondary);
    }
    & .tools span, & .tools a{
      color: var(--color-secondary);
      margin-left: 10px;
    }
    & .tools a:hover{
      color: var(--color-primary);
    }
  }
  .action ul li {
    list-style: none;
    border-top: 1px solid #f6f3f3;
    & .media-object{
      margin-bottom: 0;
      padding: 6px 0;
    }
    & div .center {
      display: flex;
      align-items: center;
      & span {
        margin-left:10px;
        &:first-child{
          color: var(--color-warning);
        }
        &:last-child{
          color: var(--color-secondary);
        }
      }
    }
  }
  .relative-activity {
    & .content a{
      display: block;
      position: relative;
      overflow: hidden;
      &:before{
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.3);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .2s;
      }
      & h4{
        position: absolute;
        bottom: 0;
        margin: 0;
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        padding: 10px;
        color: #fff;
      }
      &:hover h4, &:hover:before{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
  .adetail{
    & section{
      margin-top: 2rem;
    }
  }
</style>
