<template>
  <ul>
    <li v-for="act in list" :key="act.id" >
      <activity-item :item="act"></activity-item>
    </li>
  </ul>
</template>

<script>
import ActivityItem from '@/components/items/ActivityItem'
import { rest } from '@/util'

export default {
  components: {
    ActivityItem
  },
  props: {
    ids: Array
  },
  computed: {
    groupId () {
      return this.$route.params.groupId
    }
  },
  data () {
    return {
      list: null
    }
  },
  watch: {
    ids (nv) {
      this.getActivities(nv)
    }
  },
  created () {
    this.getActivities(this.ids)
  },
  methods: {
    getActivities (ids) {
      if (!ids || ids.length < 1) {
        this.list = []
        return
      }
      rest.get('/sns/activity/ids', {ids}, true)
      .then(data => {
        let p = [{
          type: 'user',
          dataIds: data.map(o => o.creator)
        }]
        let gids = data.filter(o => data.createAt && data.createAtType === 101)
        .map(o => o.createAt)
        if (gids && gids.length > 0) {
          p.push({
            type: 'group',
            dataIds: gids
          })
        }
        this.storeNeedData(p)
        .then(([users, groups]) => {
          data.forEach(o => {
            o.user = users[o.creator]
            if (groups && o.createAt && o.createAtType === 101) { // 小组范围内
              o.group = groups[o.createAt]
            }
          })
          this.list = data
        })
      })
    }
  }
}
</script>
