<template>
  <div>
    <el-dialog
      :visible.sync="formShow"
      @open="openDoSomeThing"
      @close="closeClear"
      custom-class="activity-dialog"
      size="large"
      top="30px"
      title="创建活动">
      <div v-if="statusFetch">数据加载中...</div>
      <template v-else>
        <el-form :rules="rules" label-position="top" :model="activity" ref="form">
          <div class="inner">
            <el-form-item label="活动海报">
              <el-row>
                <el-col :span="12">
                  <!--<div class="activity-banner" @click="avatorVisible = true">-->
                    <!--<img :src="coverUrl" alt="活动海报"/>-->
                  <!--</div>-->
                  <!--<div class="cropper-wrapper">-->
                    <!--<croppa-->
                      <!--v-model="croppa"-->
                      <!--:zoom-speed="30"-->
                      <!--:width="422"-->
                      <!--:height="250"-->
                      <!--:quality="1"-->
                      <!--:prevent-white-space="true"-->
                      <!--@new-image="newImage"-->
                      <!--@move="handleCroppaMove"-->
                      <!--@zoom="handleCroppaZoom"-->
                      <!--@image-remove="handleImageRemove"-->
                      <!--placeholder="可以拖拽图片到此处或者点击上传"-->
                      <!--:placeholder-font-size="14"-->
                    <!--&gt;-->
                      <!--<img width="260px" height="260px" v-if="initImage" crossOrigin="anonymous"-->
                           <!--:src="initImage"-->
                           <!--slot="initial">-->
                    <!--</croppa>-->
                    <!--<el-button-group>-->
                      <!--<el-button type="primary" icon="picture" size="small" @click="avatorVisible = true"></el-button>-->
                      <!--<el-button type="primary" icon="close" size="small"></el-button>-->
                    <!--</el-button-group>-->
                  <!--</div>-->
                  <simple-croppa
                    :width="width"
                    :height="height"
                    :backgroundShow="false"
                    :placeholder="placeholder"
                    ref="activityCover"
                    v-model="coverCroppa"
                    :adjustBtnShow="true"
                    :zoomSpeed="20"
                    :recommends="[]"
                    @move="handleCoverMove"
                    @zoom="handleCoverZoom"
                    @new-image="handleCoverNewImage"
                    @image-remove="handleCoverRemove"
                    :initImage="initImage"
                  >
                    <!--<span slot="operArea" class="oper-area">-->
                      <!--<el-button type="primary" icon="close" size="small" @click="coverCroppa.remove()"></el-button>-->
                    <!--</span>-->
                    <span slot="operArea" class="oper-area">
                      <el-button-group>
                        <el-button type="primary" size="mini" @click="$refs.activityCover.chooseFile()" title="选择图片"><i class="fa fa-camera" aria-hidden="true"></i></el-button>
                        <el-button type="primary" icon="close" size="mini" title="移除图片" @click="coverCroppa.remove()"></el-button>
                      </el-button-group>
                    </span>
                    <span slot="cover" class="cover" @click="coverCroppa.remove();coverCroppa.chooseFile()">
                      <span>活动海报</span>
                      <span class="flag"><i class="fa fa-camera-retro"></i></span>
                    </span>
                  </simple-croppa>
                </el-col>
                <el-col :span="12">
                  <!--<el-button  size="small" type="primary" icon="picture" @click="avatorVisible = true">设置封面</el-button>-->
                  <div class="nor-method">
                    <p>温馨提醒：
                      <br>可以点击上传或者图片窗口选择图片和参考海报！
                    </p>
                    <p>一张漂亮的海报，能让你的活动锦上添花，带来更多用户报名及增加传播效果，也将影响该活动被推广的几率！</p>
                  </div>
                  <div class="rec-topics-wrapper">
                    <div class="rec-topics">推荐主题</div>
                    <swiper :options="swiperOption" ref="mySwiper">
                      <swiper-slide v-for="(slide, index) in swiperSlides" :key="slide.url">
                        <div class="swiper-zoom-container">
                          <span class="zoomObj" :class="{'active': selectIndex === index}">
                            <img :src="slide.imgPreviewSrc" @click="setImage(slide.imgSrc, index)" :title="slide.name" :alt="slide.name" class="swiper-lazy">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                          </span>
                        </div>
                      </swiper-slide>
                      <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
                      <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
                    </swiper>
                  </div>
                </el-col>
              </el-row>
            </el-form-item>
            <el-form-item label="活动标题" prop="title" :label-width="'60px'">
              <el-input v-model="activity.title" :disabled="readOnly" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="活动地点" prop="location" :label-width="'60px'">
              <div class="gaodei-map">
                <div class="amap-page-container">
                  <el-input v-show="readOnly" v-model="activity.location" :disabled="true" style="padding-bottom: 3px;"></el-input>
                  <amap-search-box
                    v-show="!readOnly"
                    placeholder="活动地点"
                    class="search-box"
                    ref="searchAmap"
                    :on-search-result="() => {}"
                    :showBtn="false"
                    v-model="activity.location"
                    @selected="onMapSearchSelected"
                  ></amap-search-box>
                  <amap v-show="!mapSearching" ref="map" vid="amap" :plugin="mapPlugin" :zoom="12" class="amap-demo" style="height: 200px;" :center="mapCenter">
                    <amap-marker v-if="mapMarker.position" :visible="mapMarker.visible" :draggable="mapMarker.draggable && !readOnly" :events="mapMarker.events" :position="mapMarker.position"></amap-marker>
                  </amap>
                </div>
              </div>
            </el-form-item>
            <!--<el-form-item label="活动地点" prop="location" :label-width="'60px'">-->
              <!--<el-input v-model="activity.location" :disabled="readOnly"></el-input>-->
            <!--</el-form-item>-->
            <el-form-item label="活动时间" :label-width="'60px'">
              <el-date-picker
                v-model="rangeDate"
                :disabled="readOnly"
                :clearable="false"
                type="datetimerange"
                placeholder="选择时间范围">
              </el-date-picker>
            </el-form-item>
            <el-form-item label="活动内容" prop="content">
              <editor v-model="activity.content" :disabled="readOnly" style="min-height:200px;"></editor>
            </el-form-item>
            <el-form-item label="报名截止时间">
              <el-radio-group v-model="joinDeadline" :disabled="readOnly">
                <el-radio label="start">活动开始时</el-radio>
                <el-radio label="end">活动结束时</el-radio>
                <el-radio label="date">
                  <el-date-picker
                    v-if="joinDeadline === 'date'"
                    ref="deadlineDate"
                    v-model="joinDeadlineDate"
                    :clearable="false"
                    :picker-options="deadlineDateLimit"
                    type="datetime"
                    placeholder="指定报名截止时间">
                  </el-date-picker>
                  <span v-else @click="readOnly ? '' : (joinDeadline='date')">指定报名截止时间</span>
                </el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item label="活动名额" prop="joinLimit">
              <div slot="label">
                活动名额<span class="color-secondary">（{{editModel && activity.joinCount > 0 ? `已报名${activity.joinCount}人，` : ''}}如果活动名额为零，则不限制。）</span>
              </div>
              <el-input-number v-model="activity.joinLimit" :min="0" :disabled="readOnly"></el-input-number>
            </el-form-item>
            <el-checkbox v-if="(activity.scope || scope) === 1" v-model="activity.invitation" :disabled="readOnly">宾客可以邀请同事</el-checkbox>
          </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-checkbox v-if="!editModel && groupId" v-model="inviteVisitorInGroup" style="float:left;">邀请组内全体成员</el-checkbox>
          <el-button @click="formShow = false">取 消</el-button>
          <el-button :disabled="readOnly" type="primary" @click="saveForm" :loading="complite">{{isCoverUploading?'正在上传':complite?'正在保存':'确 定'}}</el-button>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
import restDataMixin from '@/util/restDataMixin'
import { getJsonDiff } from '@/util'
import Editor from '@/components/Editor'
import Croppa from '@/components/croppa'
import SimpleCroppa from '@/components/SimpleCroppa'
import { Amap, AmapMarker, AmapSearchBox } from '@/components/amap'

export default {
  mixins: [restDataMixin],
  components: {
    Amap,
    AmapMarker,
    AmapSearchBox,
    Editor,
    Croppa,
    SimpleCroppa
  },
  props: {
    value: Object,
    scope: Number,
    groupId: String
  },
  data () {
    let defActivity = {
      title: '',
      desc: '',
      content: '',
      location: '',
      joinDeadline: '',
      joinLimit: 0,
      invitation: true,
      status: 0
    }
    let validateJoinLimit = (rule, value, callback) => {
      if (this.editModel && value > 0 && value < this.activity.joinCount) {
        callback(new Error(`活动名额不可小于已报名人数(${this.activity.joinCount})`))
      } else {
        callback()
      }
    }
    let self = this
    return {
      mapGeocoder: null,
      mapSearching: false,
      mapSearchOption: {},
      mapCurrentCenter: null,
      mapCenter: [0, 0],
      mapMarker: {
        position: null,
        events: {
          dragend: (e) => {
            this.mapMarker.position = [e.lnglat.lng, e.lnglat.lat]
            self.getMapGeocoder().getAddress(this.mapMarker.position, (status, result) => {
              if (status === 'complete' && result.info === 'OK') {
                self.activity.location = result.regeocode.formattedAddress
              }
            })
          }
        },
        visible: true,
        draggable: true
      },
      mapPlugin: [{
        pName: 'Geolocation',
        showButton: false,
        showMarker: false,
        events: {
          init (o) {
            o.getCurrentPosition((status, result) => {
              if (result && result.position) {
                let lng = result.position.lng
                let lat = result.position.lat
                self.mapCurrentCenter = [lng, lat]
                if (self.activity && self.activity.body && self.activity.body.geo) {
                  self.mapCenter = [...self.activity.body.geo.location]
                  self.mapMarker.position = [...self.activity.body.geo.location]
                }
              }
            })
          }
        }
      }],
      coverCroppa: {},
      width: 433,
      height: 255,
      croppa: {},
      initImage: '',
      editModel: false,
      rules: {
        title: [
          {required: true, message: '请输入活动标题', trigger: 'blur'},
          {min: 0, max: 128, message: '长度在 0 到 128 个字符', trigger: 'blur,change'}
        ],
        desc: [
          {min: 0, max: 128, message: '长度在 0 到 128 个字符', trigger: 'blur,change'}
        ],
        content: [
          {required: true, message: '请输入活动内容', trigger: 'blur'}
        ],
        location: [
          {required: true, message: '请输入活动地点', trigger: 'blur'},
          {min: 0, max: 64, message: '长度在 0 到 64 个字符', trigger: 'blur,change'}
        ],
        joinLimit: [
          { validator: validateJoinLimit, trigger: 'blur,change' }
        ]
      },
      uploadUrl: '/zuul/file/web/upload?st=1',
      complite: false,
      coverUrl: require('@/assets/img/img-holder.png'),
      defCoverId: '',
      cover: '',
      formShow: false,
      isCoverUploading: false,
      rangeDate: [],
      joinDeadline: 'start',
      joinDeadlineDate: null,
      content: '',
      defActivity,
      inviteVisitorInGroup: true,
      activity: {...defActivity},
      avatorVisible: false,
      swiperSlides: [],
      swiperOption: {
        onlyExternal: true,
        lazy: true,
        paginationClickable: true,
        preloadImages: false,
        lazyLoading: true,
        mousewheelControl: true,
        notNextTick: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        slidesPerView: 3,
        spaceBetween: 10
      },
      placeholder: '请选择活动海报',
      selectIndex: -1
    }
  },
  computed: {
    readOnly () {
      return this.activity.status !== 0
    },
    deadlineDateLimit () {
      return {
        disabledDate: time => {
          let endDate = this.rangeDate[1]
          return time.getTime() > new Date(endDate).getTime()
        }
      }
    },
    restUrlPrefix () {
      return '/sns/activity'
    },
    restUrlCreate () {
      return `/sns/activity?inviteVisitorInGroup=${this.inviteVisitorInGroup}`
    },
    initData () {
      return false
    }
  },
  watch: {
    rangeDate ([from, to], ov) {
      if (!this.joinDeadlineDate || this.joinDeadlineDate > to) {
        this.joinDeadlineDate = from
      }
    },
    value (nv, ov) {
      if (nv) {
        this.fillEdit(nv)
      } else {
        this.editModel = false
      }
    },
    initImage (nv, ov) {
    },
    address (nv, ov) {
      this.$refs.searchAmap.keyword = nv
    }
  },
  created () {
    let activityRecommends = require('../../../static/img/poster/index.json')
    activityRecommends.forEach(recommend => {
      this.swiperSlides.push({
        name: recommend.name,
        imgSrc: this.$router.options.base + recommend.imgSrc,
        imgPreviewSrc: this.$router.options.base + recommend.imgPreviewSrc
      })
    })
    if (this.value) {
      this.fillEdit(this.value)
    }
  },
  methods: {
    getMapGeocoder () {
      if (!this.mapGeocoder) {
        this.mapGeocoder = new window.AMap.Geocoder({
          radius: 1000,
          extensions: 'all'
        })
      }
      return this.mapGeocoder
    },
    onMapSearchSelected (tip) {
      if (tip && tip.location) {
        this.mapCenter = [tip.location.lng, tip.location.lat]
        this.mapMarker.position = [tip.location.lng, tip.location.lat]
      }
    },
    setImage (src, index) {
      this.selectIndex = index
      this.$refs.activityCover.setImage(src)
      this.initImage = src
    },
    handleCoverMove () {
      this.hasNewCover = true
    },
    handleCoverZoom () {
      this.hasNewCover = true
    },
    handleCoverRemove () {
      this.hasNewCover = false
    },
    handleCoverNewImage () {
      this.hasNewCover = true
    },
    fillEdit (val) {
      this.editModel = true
      this.rangeDate = [val.startDate, val.endDate]
      if (val.cover) {
        this.coverUrl = val.cover
      }
      let activity = {...val}
      activity.content = val.body.content
      if (!activity.joinDeadline || activity.joinDeadline === activity.startDate) {
        this.joinDeadline = 'start'
      } else if (activity.joinDeadline === activity.endDate) {
        this.joinDeadline = 'end'
      } else if (activity.joinDeadline) {
        this.joinDeadline = 'date'
        this.joinDeadlineDate = activity.joinDeadline
      }
      this.activity = activity
      this.initImage = activity.orgCover || activity.cover
      if (this.$refs.activityCover && this.$refs.activityCover.refresh) {
        this.$refs.activityCover.refresh()
      }
      if (val.body && val.body.geo && this.mapCurrentCenter) {
        this.mapCenter = [...val.body.geo.location]
        this.mapMarker.position = [...val.body.geo.location]
      }
    },
    saveForm () {
      this.complite = true
      let form = this.$refs.form
      form.validate(valid => {
        if (valid) {
          // 如果有上传新封面，则提交新封面
          let activity = {...this.activity}
          if (this.hasNewCover) {
            this.isCoverUploading = true
            this.$refs.activityCover.upload().then(data => {
              if (data && data.storeId) {
                this.cover = data.storeId
              }
              this.isCoverUploading = false
              this.saveActivityData(activity)
            }).catch(error => {
              this.isCoverUploading = false
              this.complite = false
              this.msgError('上传封面失败，请稍候重试！')
              console.log('上传封面失败', error)
            })
          } else {
            this.saveActivityData(activity)
          }
        } else {
          this.$nextTick(() => {
            form.$el.querySelector('.is-error').scrollIntoView()
            this.complite = false
          })
          return false
        }
      })
    },
    saveActivityData (activity) {
      if (this.cover) {
        activity.cover = this.cover
        // } else if (!this.editModel) {
        //   activity.cover = this.defCoverId
      }
      activity.body = {
        content: activity.content
      }
      if (activity.location && this.mapMarker.position && (!this.value || this.value.location !== activity.location)) {
        activity.body.geo = {
          source: 'amap',
          location: [...this.mapMarker.position]
        }
      }
      delete activity.content
      activity.startDate = this.rangeDate[0]
      activity.endDate = this.rangeDate[1]
      if (this.joinDeadline === 'start') {
        activity.joinDeadline = activity.startDate
      } else if (this.joinDeadline === 'end') {
        activity.joinDeadline = activity.endDate
      } else if (this.joinDeadline === 'date') {
        activity.joinDeadline = new Date(this.joinDeadlineDate).getTime()
      }
      if (!this.editModel) {
        if (this.groupId) { // 存在小组则范围在小组内
          activity.scope = 0
          activity.scopeValue = this.groupId
          activity.createAt = this.groupId
          activity.createAtType = 101
        } else {
          activity.scope = this.scope || 1
          this.inviteVisitorInGroup = false
        }
      }
      let nv
      let req
      if (this.editModel) {
        nv = getJsonDiff(this.value, activity)
        if (Object.keys(nv).length === 0) { // 未修改值直接关闭窗口
          this.formShow = false
          this.complite = false
          return
        } else {
          req = this.restEdit(activity.id, nv)
        }
      } else {
        req = this.restCreate(activity)
      }
      req.then(data => {
        if (this.editModel) {
          if (nv.cover) {
            // nv.cover = this.coverUrl
            nv.cover = this.coverCroppa.generateDataUrl()
            let f = this.coverCroppa.getChosenFile()
            if (f) {
              nv.orgCover = new Image()
              nv.orgCover.src = URL.createObjectURL(f)
            } else if (this.initImage) {
              nv.orgCover = this.initImage
            }
          }
          this.$emit('edited', data || this.value, nv)
        } else {
          this.$emit('created', data)
        }
        this.formShow = false
        this.complite = false
      }).catch(e => {
        this.formShow = true
        console.error('保存活动失败', e)
        this.msgError(e.message)
        this.complite = false
      })
    },
    openDoSomeThing () {
      if (!this.editModel) {
        let tomorrow = Date.now() + 24 * 60 * 60 * 1000
        let from = new Date(tomorrow)
        let to = new Date(tomorrow + 30 * 24 * 60 * 60 * 1000)
        this.rangeDate = [from, to]
        this.activity = {...this.defActivity}
        this.inviteVisitorInGroup = !!this.groupId
      }
      if (this.value) {
        this.initImage = this.value.orgCover || this.value.cover
      }
      if (this.$refs.activityCover && this.$refs.activityCover.refresh) {
        this.$refs.activityCover.refresh()
      }
      if (this.mapCurrentCenter) {
        if (this.editModel) {
          if (this.value.location !== this.activity.location) {
            this.mapCenter = [...this.value.body.geo.location]
            this.mapMarker.position = [...this.value.body.geo.location]
          }
        } else {
          this.mapCenter = [...this.mapCurrentCenter]
          this.mapMarker.position = null
        }
      }
    },
    closeClear () {
      this.$refs.activityCover.remove()
      if (this.editModel) {
        this.value.editing = false
      }
//      this.formShow = false
    },
    handleCoverSuccess (res, file, fileList) {
      this.isCoverUploading = false
      if (res.data && res.data.storeId) {
        this.cover = res.data.storeId
      }
      this.coverUrl = URL.createObjectURL(file.raw)
    },
    handleCoverError (err, file, fileList) {
      this.isCoverUploading = false
      this.msgError('上传文件[' + file.name + '] 失败！')
      console.error('上传文件[' + file.name + '] 失败！', err)
    },
    handleCoverProgress (event, file, fileList) {
      this.isCoverUploading = true
    },
    handleNewActivitySuccess (data) {
      this.isAvatarUploading = false
//      let avatar
//      if (data && data.storeId) {
//        avatar = data.storeId
//      }
//      let avatarUrl = URL.createObjectURL(file.raw)
//      rest.edit('/sns/user/userInfo', {userId: this.userId, avatar: avatar}).then((user) => {
//        this.msgSuccess('更新用户头像成功！')
//      }).catch((error) => {
//        console.log('修改用户头像失败', error)
//        this.msgError('修改用户头像失败，请稍候重试！')
//      })
    },
    handleCroppaMove () {
      this.uploadCroppaedImage()
    },
    handleCroppaZoom () {
      this.uploadCroppaedImage()
    },
    handleImageRemove () {
      this.dataUrl = ''
      this.initImage = ''
    },
    newImage () {
      setTimeout(() => {
        this.dataUrl = this.croppa.generateDataUrl()
      }, 100)
    },
    uploadCroppaedImage () {
      this.croppa.generateBlob((blob) => {
        this.dataUrl = this.croppa.generateDataUrl(blob)
      }, 'image/png', 10)
    }
  }
}
</script>

<style>
  @import 'css/variable.css';
  .el-dialog--large.activity-dialog{
    width: 100%;
  }
  .activity-dialog {
    max-width: 950px;
    & .el-dialog__header{
      padding: 30px;
    }
    & .el-dialog__body{
      padding:0 30px 20px;
    }
    & .cropper-wrapper{
      position: relative;
      line-height: normal;
      & .el-button-group{
        position: relative;
        top: 10px;
        right: 10px;
      }
    }
    & .zoomObj {
      cursor: pointer;
    }
    & .cropper-wrapper{
      & .oper-area{
        /*& :first-child{*/
          /*padding: 4px 0px;*/
        /*}*/
      }
    }
    & .cropper-wrapper:hover{
      & .oper-area{
        display: inline-block;
      }
    }
    & .gaodei-map{
      & .amap-page-container{
        line-height: initial;
        & .search-box{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: #fff;
          background-image: none;
          border-radius: 4px;
          border: 1px solid rgb(191, 201, 217);
          box-sizing: border-box;
          color: rgb(31, 43, 61);
          display: inline-block;
          font-size: inherit;
          height: 36px;
          line-height: 1;
          outline: none;
          padding: 3px 10px;
          transition: border-color .2s cubic-bezier(.645,.045,.355,1);
          width: 100%;
          box-shadow: none;
          & .search-btn{
            color: #97a8be;
          }
        }
        & .amap-demo {
          height: 200px;
          & .amap-copyright, & .amap-logo{
            z-index: 1;
          }
        }
      }
    }
  }
  .activity-banner{
    cursor: pointer;
  }
  .rec-topics-wrapper{
    margin-top: 26px;
    & .rec-topics{
      border: none;
      color: #90949c;
    }
  }
  .nor-method {
    width: 100%;
    & p{
      color: var(--color-secondary);
      font-size: 14px;
      line-height: 24px;
    }
  }
</style>
