<template>
  <div>
    <div class="filters mod-border">
      <el-row>
        <el-col :span="20">
          <ul class="menu">
            <li @click="changeType('')">
              <a :class="{'router-link-exact-active active': this.type === ''}">最近</a>
            </li>
            <li @click="changeType('new')">
              <a :class="{'router-link-exact-active active': this.type === 'new'}">最新发布</a>
            </li>
            <li @click="changeType('invitation')">
              <a :class="{'router-link-exact-active active': this.type === 'invitation'}">邀请</a>
            </li>
            <li @click="changeType('running')">
              <a :class="{'router-link-exact-active active': this.type === 'running'}">进行中的</a>
            </li>
            <li @click="changeType('create')">
              <a :class="{'router-link-exact-active active': this.type === 'create'}">我组织的</a>
            </li>
            <li @click="changeType('join')">
              <a :class="{'router-link-exact-active active': this.type === 'join'}">我参加的</a>
            </li>
            <li @click="changeType('ended')">
              <a :class="{'router-link-exact-active active': this.type === 'ended'}">历史活动</a>
            </li>
          </ul>
        </el-col>
        <el-col :span="4">
          <div class="filters_btn">
            <el-button v-if="groupId" type="success" size="small" @click="showAddForm('group')">创建活动</el-button>
            <el-dropdown v-else trigger="click" @command="showAddForm">
              <el-button type="success" size="small">
                创建活动<i class="el-icon-caret-bottom el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="person"><i class="fa fa-lock"></i> 私人活动</el-dropdown-item>
                <el-dropdown-item command="company"><i class="fa fa-globe"></i> 公司活动</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </el-col>
      </el-row>
    </div>
    <div v-show="listByDate.length > 0" class="list-con mod-border margin-t clearfix">
      <ul class="date-list">
        <li v-for="dl in listByDate" :key="dl.key">
          <div class="title">{{dl.dateStr === today ? '今日' : dl.dateStr}}</div>
          <div class="today-list">
            <activity-item
              v-for="item in dl.list"
              :key="item.id"
              :item="item"
              :showControl="true"
              @cancel="cancelActivity"
              @delete="deleteActivity"
              @edit="showEditForm"
              @invite="showUninvitedVisitorsPanel"
              @invitedList="showInvitedVisitorsPanel"
            ></activity-item>
          </div>
        </li>
      </ul>
      <el-pagination
        class="margin-b"
        style="text-align: center;"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page"
        :page-sizes="[5, 20, 40, 100]"
        :page-size="pageInfo.size"
        layout="total, sizes, prev, pager, next, jumper"
        :total="pageInfo.total">
      </el-pagination>
    </div>
    <list-loading :loading="statusFetchList" :noData="pageInfo.last && listByDate.length === 0" :message="rest.message.msg"></list-loading>
    <activity-form
      ref="form"
      :value="activity"
      :scope="scope"
      :groupId="groupId"
      @created="getData"
      @edited="editedActivity"
    ></activity-form>
    <el-dialog
      title="邀请列表"
      :visible.sync="invitedVisitorsPanel"
      size="tiny"
    >
      <el-tabs v-show="!invitedVisitorsLoading" v-model="invitedActiveName">
        <el-tab-pane
          v-for="vs in visitorMap"
          :key="vs.key"
          :label="vs.label"
          :name="vs.key"
        ><span slot="label">{{vs.label}}{{ vs.list.length > 0 ? `（${vs.list.length}）` : ''}}</span>
          <div class="single-people-list">
            <div v-for="item in vs.list" :key="item.id" class="media-object user">
              <div class="media-object-section shrink">
                <div class="img img30"><img :src="item.user.avatar" v-error-img:user :alt="item.user.userName"></div>
              </div>
              <div class="media-object-section align-center">
                <a class="h-underline">{{item.user.userName}}</a> <span>{{(item.modifyDate || item.createDate) | dateYMD}}</span>
                <el-button
                  v-show="item.mark===0 && inviteActivity.creator === currUser.id && inviteActivity.status===0 && Date.now() <= inviteActivity.joinDeadline"
                  type="info"
                  size="small"
                  @click="removeInvitedVisitor(item)"
                ><i class="el-icon-close"></i> 移除</el-button>
              </div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
      <div v-show="!invitedVisitorsLoading" slot="footer" class="dialog-footer">
        <el-button @click="invitedVisitorsPanel = false">取 消</el-button>
        <el-button type="primary" @click="invitedVisitorsPanel = false">确 定</el-button>
      </div>
    </el-dialog>
    <select-user
      :dialogVisible.sync="selectInviteVisitorDialogVisible"
      dialogTitle="邀请人员"
      :actionBtnTitle="'邀请'"
      :getValue="getInvitedVisitorsForSelectUser"
      :value="[]"
      :action="saveInviteVisitors"
    ></select-user>
  </div>
</template>

<script>
import ActivityForm from './ActivityForm'
import ActivityItem from '@/components/items/ActivityItem'
import SelectUser from '@/components/selectusers/SelectUser'
import activityMixin from '@/mixin/activityMixin'
import { dateYMD } from '@/util'

export default {
  mixins: [activityMixin],
  components: {
    ActivityForm,
    SelectUser,
    ActivityItem
  },
  props: {
    groupId: String
  },
  data () {
    let now = new Date()
    let today = dateYMD(now)
    return {
      type: '',
      activity: null,
      scope: 1,
      listByDate: [],
      today
    }
  },
  computed: {
    initData () {
      return true
    },
    restUrlGetAll () {
      let part
      if (this.groupId) {
        part = 'group?groupId=' + this.groupId
      } else {
        part = 'user?'
      }
      return `${this.restUrlPrefix}/${part}{{search}}&type=${this.type}&page={{page}}&size={{size}}`
    }
  },
  watch: {
    groupId (nv, ov) {
      this.getData()
    }
  },
  methods: {
    restFilterGetAll (req) {
      return req.then(data => {
        return this.storeNeedData([{
          type: 'group',
          dataIds: data.content ? data.content.map(o => o.createAtType === 101 ? o.createAt : '') : []
        }, {
          type: 'user',
          dataIds: data.content ? data.content.map(o => o.creator) : []
        }])
        .then(([groups, users]) => {
          if (data.content) {
            data.content.forEach(o => {
              o.user = users[o.creator]
              if (o.createAtType === 101) { // 发布在小组
                o.group = groups[o.createAt]
              }
            })
            this.setListByDate(data.content)
          }
          return data
        })
      })
    },
    setListByDate (items) {
      let l = []
      if (items && items.length > 0) {
        let dl
        let oldKey
        items.forEach(o => {
          let date = dateYMD(o.createDate)
          let key = this.type + '_' + date
          if (!oldKey || oldKey !== key) {
            dl = {
              key,
              dateStr: date,
              list: []
            }
            l.push(dl)
            oldKey = key
          }
          dl.list.push(o)
        })
      }
      this.listByDate = l
    },
    changeType (type) {
      if (type !== this.type) {
        this.type = type
        this.page = 1
        this.getData()
      }
    },
    handleSizeChange (val) {
      let size = this.pageInfo.size
      this.pageInfo.size = val
      if (this.pageInfo.total > size || this.pageInfo.total > val) {
        this.getData()
      }
    },
    handleCurrentChange (val) {
      if (this.page !== val) {
        this.page = val
        this.getData()
      }
    },
    showAddForm (command) {
      this.activity = null
      if (command === 'person') {
        this.scope = 1
      } else if (command === 'company') {
        this.scope = 2
      } else if (command === 'group') {
        this.scope = 0
      }
      this.$refs.form.formShow = true
    },
    showEditForm (item) {
      this.$set(item, 'editing', true)
      this.activity = item
      this.scope = item.scope
      this.$refs.form.formShow = true
    }
  }
}
</script>

<style scoped="">
  @import 'css/variable.css';
</style>
