<template>
  <div>
    <component
      :is="getCardItemViewName(cardData)"
      :item="cardData.item"
    >
      <div slot="header"  v-if="user.id">
        <div class="media-object single">
          <div class="media-object-section shrink">
            <user-block class="img" tagName="div" :user="user">
              <router-link :to="{ name: 'user', params: { userId: user.id }}" class="img" >
                <img alt="" :src="userAvatar" v-error-img:user/>
              </router-link>
            </user-block>
          </div>
          <div class="media-object-section">
            <slot></slot>
            <router-link  :to="{ name: 'user', params: { userId: user.id }}">
              <user-block class="name" tagName="span" :user="user">{{userName}} </user-block>
            </router-link>
            <span class="color-secondary" v-if="groupName">{{item.objContent.modelObject.contentType === 'share' ? '分享' : '发布'}}到</span>
            <router-link v-if="groupName" :to="{ name: 'group', params: { groupId: item.groupId }}">
              {{groupName}}
            </router-link>
            <span class="color-secondary">{{groupName ? '' : (item.objContent.modelObject.contentType === 'share' ? '分享' : '发布')}}的</span>
            <router-link :to="routeTo">
              {{postName}}
            </router-link>
            <div class="float-right">
              <slot name="time">
                <span>{{cardData.item.createTime | dateFormat}}</span>
              </slot>
              <template v-if="toolsList.length > 0">
                <el-popover
                  popper-class="vertical"
                  ref="cog"
                  placement="bottom"
                  width="120"
                  trigger="hover"
                  v-model="showToolsList"
                >
                  <ul class="vertical-menu vertical-menu-width">
                    <li v-for="tool in toolsList" :key="tool.key" :title="tool.name" @click="showToolsList = false;$emit('doManage', tool.key, tool.item)">
                      <i class="fa padding-r6" :class="tool.icon"></i><span class="dfoefswf">{{tool.name}}</span></li>
                  </ul>
                </el-popover>
                <a href="javascript:void(0)" @click.stop.prevent="() => {return false}" v-popover:cog><i class="fa fa-angle-down"></i></a>
              </template>
            </div>
          </div>
        </div>
      </div>
      <div slot="footer" @click.stop.prevent="" class="collect-footer">
        <router-link :to="routeTo" v-if="sourceExtContent">
          <p class="collect-ext-content" title="收藏的内容" v-text="sourceExtContent.quote"></p>
        </router-link>
        <div class="list-folders" v-if="!isEditTags && (collectFolders && collectFolders.length > 0 && currFolders.length > 0 || currFolders.length > 0)">
          <span class="el-tag margin-r10 el-tag--success"
                v-for="folder in currFolders"
                :key="folder"
                @click="$bus.$emit('cardItem:tagClick', folder)">{{folder}}</span>
          <i class="fa fa-pencil" @click.stop.prevent="editFoldersTags" title="添加书签"></i>
        </div>
          <el-button v-else-if="!isEditTags" class="button-new-tag" size="small" @click.stop.prevent="editFoldersTags">+ 加书签</el-button>
        <div class="clearfix" v-else>
          <tag
            class="inline-input book-mark"
            v-model="currFolders"
            :recTags="[]"
            :auto-complete="true"
            :auto-com-not-new="false"
            :fetch-suggestions="querySearch"
            :max-tags-size="5"
            :trigger-on-focus="true"
            :tag-read-only="true"
            :popoverWidth="400"
            :use-add-button="true"
            add-button-name="添加书签"
            ref="addColletcTag">
          </tag>
          <div class="mark-btn">
            <el-button size="small" type="primary" @click.stop.prevent="confirmEdit">确定</el-button>
            <el-button size="small" @click.stop.prevent="cencelEdit">取消</el-button>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>
<script>
  import * as cards from './cards'
  import UserBlock from '@/views/user/UserBlock'
  import { shareRouteTo, quotesData } from '@/store/modules/share'
  import Tag from '@/components/tag/index.js'
  import { rest } from '@/util'
  import { getHighlightedQuote } from '@/components/comment'

  const cardsViews = {...cards}
  delete cardsViews['default']
  const getCardItemViewName = cards.default

  export default {
    components: {
      Tag,
      UserBlock,
      ...cardsViews
    },
    data () {
      return {
        showToolsList: false,
        postName: '',
        isEditTags: false,
        suggestLoaded: false,
        suggestDelay: 500,
        suggestDelayId: -1,
        noKeywordList: [],
        currColFolders: [],
        beforeEditFolders: [],
        isCommiting: false
      }
    },
    props: {
      cardData: Object,
      toolsList: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    computed: {
      quotesData,
      item () {
        return this.cardData.item
      },
      user () {
        return this.item.user || {}
      },
      userAvatar () {
        return this.user && this.user.avatar ? this.user.avatar : require('../../assets/img/1.jpg')
      },
      userName () {
        return this.user && this.user.userName ? this.user.userName : this.item.userId
      },
      userSexIcon () {
        let sex = this.user && this.user.sex ? this.user.sex : '0'
        return this.sexIcon[sex]
      },
      group () {
        return this.item.group || this.item.scopeGroup || {}
      },
      groupName () {
        return this.group.name || this.item.groupId
      },
      routeTo () {
        let r
        let feed = this.item
        let objContent = feed.objContent || {}
        this.postName = '帖子'
        if (feed.objType === 'POST' && (objContent.model === 'blog' || objContent.model === 'reprint')) {
          this.postName = objContent.model === 'blog' ? '博文' : '转载'
          r = { name: 'article', params: { id: feed.objId } }
        } else if (feed.objType === 'POST' && objContent.model === 'activity') {
          this.postName = '活动'
          r = { name: 'activity', params: { activityId: objContent.bindId } }
        } else if (feed.groupId) {
          r = { name: 'groupOneFeed', params: { feedId: feed.id, groupId: feed.groupId } }
        } else {
          r = { name: 'userOneFeed', params: { feedId: feed.id, userId: feed.userId } }
        }
        let modelObject = this.item.objContent.modelObject
        // 分享附件或收藏附件的判断
        if (modelObject.refObjType === 1 && this.item.collectType === 2) {
          this.postName = '图片'
          r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
        }
        if (modelObject.refObjType === 2 && this.item.collectType === 3) {
          this.postName = '视频'
          r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
        }
        if (modelObject.refObjType === 3 && this.item.collectType === 4) {
          this.postName = '文档'
          r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
        }
        if (this.item.colExtContent && this.item.colExtContent.ranges) {
          if (this.item.sourceType === 3) {
            r.hash = '#preview-' + this.item.source
          }
          let quote = this.getHighlightedQuote('collect', this.item)
          this.quotesData = quote
          r.query = { quote: quote.id }
        }
        return r
      },
      collectFolders () {
        this.currColFolders = this.item ? this.item.colFolders || [] : []
        return this.item ? this.item.colFolders : null
      },
      currFolders: {
        get () {
          return this.currColFolders
        },
        set (val) {
          this.currColFolders = val
        }
      },
      updateUrl () {
        if (!this.item.collectId) {
          return null
        }
        return '/sns/favorites/folders/' + this.item.collectId + '?folders='
      },
      sourceExtContent () {
        return this.item ? this.item.colExtContent : null
      }
    },
    methods: {
      getCardItemViewName,
      getHighlightedQuote,
      shareRouteTo,
      querySearch (queryString, cb) {
        if (this.suggestLoaded) {
          return
        }
        let params = {
          q: queryString ? queryString.trim() : ''
        }
        if (this.suggestDelayId > -1) {
          clearTimeout(this.suggestDelayId)
          this.suggestDelayId = -1
        }
        this.suggestDelayId = setTimeout(() => {
          this.suggestLoaded = true
          if (!params.q && this.noKeywordList && this.noKeywordList && this.noKeywordList.length) {
            this.suggestLoaded = false
            cb(this.noKeywordList)
          } else {
            rest.get('/sns/search/favorite/folders', params, true)
              .then(data => {
                this.suggestLoaded = false
                let foldersList = []
                data.forEach(f => {
                  if (f.value !== '_NOT_CLASSIFIED_') {
                    foldersList.push(f.value)
                  }
                })
                if (!params.q) {
                  this.noKeywordList = foldersList
                }
                cb(foldersList)
              })
              .catch(e => {
                this.suggestLoaded = false
                console.log(e)
              })
          }
        }, this.suggestDelay)
      },
      editFoldersTags () {
        this.isEditTags = true
        this.beforeEditFolders = JSON.parse(JSON.stringify(this.currColFolders))
        this.$nextTick(() => {
          this.$refs.addColletcTag.showInput()
        })
      },
      confirmEdit () {
        if (this.isCommiting || !this.updateUrl || this.currColFolders.length === this.beforeEditFolders.length && this.beforeEditFolders.length === 0) {
          this.isEditTags = false
          this.beforeEditFolders = []
          return
        }
        let newFolders = this.currColFolders.filter(f => !this.beforeEditFolders.includes(f))
        let olderFolders = this.beforeEditFolders.filter(f => !this.currColFolders.includes(f))
        if (newFolders.length > 0 || olderFolders.length > 0) {
          this.isCommiting = true
          let fds = this.currColFolders.length > 0 ? JSON.stringify(this.currColFolders) : ''
          rest.edit(this.updateUrl + fds)
          .then(data => {
            this.isCommiting = false
            if (data > 0) {
              this.isEditTags = false
              this.beforeEditFolders = []
              this.msgSuccess('添加书签成功！')
            } else {
              this.msgError('添加书签失败，请稍候重试！')
            }
          })
          .catch(e => {
            this.isCommiting = false
            if (e && e.status >= 10000 && e.message) {
              this.msgError(e.message)
            } else {
              console.error('添加书签错误！', e)
              this.msgError('添加书签失败，请稍候重试！')
            }
          })
        }
      },
      cencelEdit () {
        this.isEditTags = false
        this.currFolders = JSON.parse(JSON.stringify(this.beforeEditFolders))
        this.beforeEditFolders = []
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  /*single*/
  .single {
    & .media-object-section {
      &:last-child{
        & > span{
          margin: 0 6px;
        }
        & .float-right{
          & span{
            &:first-child {
              color: var(--color-secondary);
              margin:0 10px 0 0;
            }
          }
        }
      }
    }
  }
  .square-article {
    margin: 0;
    & .img{
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 80px;
      height: 80px;
    }
  }
  .img.single{
    width: 260px;
  }
  .relative-content {
    margin-top: 1rem;
    & p {
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .vertical-menu.vertical-menu-width{
    & li{
      & i{
        width: 14px;
        height: 14px;
      }
    }
  }
  .book-mark{
    width: 75%;
    float: left;
    & .lg-tag-box{
      margin-bottom: 0px;
      & > div{
        padding: 0;
        min-height: auto;
        & .lg-tag{
          margin:2px 0 2px 6px;
          height: 22px;
          line-height: 18px;
        }
      }
      & button{
        margin:2px 0 2px 6px;
      }
    }
  }
  .mark-btn{
    float: left;
    margin-left: 14px;
  }
  .collect-footer {
    padding: 8px 0 0;
    margin-top: 1rem;
    border-top: 1px dashed #e8e8e8;
    & p {
      margin-bottom: 10px;
      background: #ffff0a;
      background: rgba(255, 255, 10, 0.3);
      color: #666;
    }
  }
</style>
