<template>
    <el-dialog
      class="collect-dialog"
      title="收藏"
      :visible.sync="showCollect"
      size="tiny"
      :close-on-click-modal="false"
      @close="close"
      ref="collectDialog">
      <div class="tip-box" v-if="this.currCollectId">
        <div><i class="fa fa-check-circle"></i></div>
        <div class="txt-box">收藏成功！</div>
      </div>
      <div class="tip-box" v-else>
        <div><i class="fa fa-warning color-warning"></i></div>
        <div class="txt-box">收藏失败，请稍后再试！</div>
      </div>
      <div class="tip-warn" v-if="this.currCollectId">
        <i class="fa fa-exclamation-circle color-info"></i>
        添加书签来管理你的收藏（最多5个）。
      </div>
      <tag
        v-if="this.currCollectId"
        class="inline-input share-sign"
        v-model="folders"
        :recTags="myFoders"
        :auto-complete="true"
        :auto-com-not-new="false"
        :fetch-suggestions="querySearch"
        :max-tags-size="5"
        :trigger-on-focus="true"
        :popoverWidth="530"
        :use-add-button="true"
        add-button-name="添加书签">
        <div class="float-left" slot="recslot">
          我的书签：
        </div>
      </tag>
      <span slot="footer" class="dialog-footer">
        <el-button @click="showCollect = false">取 消</el-button>
        <el-button :loading="isCommiting" :disabled="isCommiting" type="primary" @click="addNewFolders" v-if="this.currCollectId">添 加</el-button>
      </span>
    </el-dialog>
</template>

<script>
  import Tag from '@/components/tag/index.js'
  import { showCollect, currCollectId } from '@/store/modules/helper'
  import { rest } from '@/util'
  export default {
    name: 'collect-dialog',
    components: {
      Tag
    },
    data () {
      return {
        isCommiting: false,
        suggestLoaded: false,
        suggestDelay: 500,
        suggestDelayId: -1,
        noKeywordList: [],
        folders: [],
        myFoders: []
      }
    },
    computed: {
      showCollect,
      currCollectId,
      updateUrl () {
        return '/sns/favorites/folders/' + this.currCollectId + '?folders='
      }
    },
    watch: {
      showCollect (nv) {
        if (nv) {
          rest.get('/sns/search/favorite/folders')
          .then(json => {
            let mfs = json.filter(f => f.value !== '_NOT_CLASSIFIED_')
            let myfoders = []
            mfs.forEach(f => {
              myfoders.push(f.value)
            })
            this.myFoders = myfoders
            this.noKeywordList = myfoders
          })
        }
      }
    },
    methods: {
      close () {
        this.showCollect = false
        this.currCollectId = null
        this.folders = []
        this.myFoders = []
      },
      querySearch (queryString, cb) {
        if (this.suggestLoaded) {
          return
        }
        let params = {
          q: queryString ? queryString.trim() : ''
        }
        if (this.suggestDelayId > -1) {
          clearTimeout(this.suggestDelayId)
          this.suggestDelayId = -1
        }
        this.suggestDelayId = setTimeout(() => {
          this.suggestLoaded = true
          if (!params.q && this.noKeywordList && this.noKeywordList && this.noKeywordList.length) {
            this.suggestLoaded = false
            cb(this.noKeywordList)
          } else {
            rest.get('/sns/search/favorite/folders', params, true)
              .then(data => {
                this.suggestLoaded = false
                let foldersList = []
                data.forEach(f => {
                  if (f.value !== '_NOT_CLASSIFIED_') {
                    foldersList.push(f.value)
                  }
                })
                if (!params.q) {
                  this.noKeywordList = foldersList
                }
                cb(foldersList)
              })
              .catch(e => {
                this.suggestLoaded = false
                console.log(e)
              })
          }
        }, this.suggestDelay)
      },
      addNewFolders () {
        if (!this.currCollectId) {
          this.msgError('收藏对象不存在，添加书签失败！')
        }
        if (this.folders.length > 0) {
          if (this.isCommiting) {
            return
          }
          this.isCommiting = true
          rest.edit(this.updateUrl + JSON.stringify(this.folders))
          .then(data => {
            this.isCommiting = false
            if (data > 0) {
              this.showCollect = false
              this.msgSuccess('添加书签成功！')
            } else {
              this.msgError('添加书签失败，请稍候重试！')
            }
          })
          .catch(e => {
            this.isCommiting = false
            if (e && e.status >= 10000 && e.message) {
              this.msgError(e.message)
            } else {
              console.error('添加书签错误！', e)
              this.msgError('添加书签失败，请稍候重试！')
            }
          })
        }
      }
    }
  }
</script>

<style>
  @import 'css/variable.css';
  .collect-dialog{
    & .tip-box {
      padding: 0 0 30px;
      text-align: center;
      border-bottom: 1px solid #f2f2f5;
      & > div{
        & > i{
          color: var(--color-success);
          font-size: 40px;
        }
      }
      & .txt-box{
        margin-top: 16px;
        font-size: 14px;
      }
    }
    & .tip-warn{
      padding: 12px 0 4px;
    }
    & .share-sign{
      border: 0!important;
      & .lg-tag-box{
        display: block;
        margin: 0px;
        & > div{
          border: 1px dotted rgb(219,221,223);
          min-height: inherit!important;
          & .lg-tag{
            height: 22px;
            line-height: 18px;
            & i{
              position: relative;
              top: 3px;
            }
            & .add-new-tag{
              height: 20px;
            }
            & .book-tag{
              position: relative;
              top: 3px;
            }
          }
          & button{
            height: 22px;
            line-height: 15px;
          }
        }
        & .recTags{
          margin-top: 0px;
          padding-top: 6px;
          border: 0;
          & > div{
            height: 24px;
            line-height: 24px;
          }
        }
      }
    }
    & .el-dialog__header{
      padding: 20px 20px 20px;
      border-bottom: 1px solid #f2f2f5;
    }
    & .el-dialog__body{
      padding: 20px 20px;
    }
    & .el-dialog__footer{
      background-color: #f2f2f5;
      padding: 10px 20px;
    }
  }
</style>
