<template>
  <div class="activit-section" tabindex="-1">
    <div class="article-body" ref="blogContent" :contenteditable="visible" id="editor"></div>
    <div class="inset-btn">
      <el-popover
        ref="inset"
        placement="top"
        width="200"
        trigger="hover"
        popper-class="inset-btn-popover">
        <a href="javascript:;" @click="addImage">图片</a>
        <a href="javascript:;">相册</a>
      </el-popover>
      <a v-popover:inset href="javascript:;"><i class="fa fa-plus"></i></a>
    </div>
    <el-upload
      ref="imgUploader"
      class="upload-insertImg"
      :action="action"
      :accept="imgFileType"
      :on-success="successUpload">
    </el-upload>
  </div>
</template>
<script>
  import { createMediumEditor } from '@/util/mediumEditor.js'
// import { rest } from '@/util'
  export default {
    data () {
      return {
        editor: null,
        editorSection: null,
        insertBtnBox: null,
        action: '/zuul/file/web/upload?st=1',
        imgFileType: 'image/*'
      }
    },
    props: {
      value: String,
      visible: {
        type: Boolean,
        default: true
      }
    },
    methods: {
      init () {
        createMediumEditor((MediumEditor, MediumButton) => {
          this.editorSection = document.querySelector('.article-body')
          this.insertBtnBox = document.querySelector('.inset-btn')
          var editor = new MediumEditor(this.editorSection, {
            imageDragging: true,
            disableEditing: !this.visible,
            anchorPreview: {
              hideDelay: 500,
              previewValueSelector: 'a'
            },
            placeholder: {
              text: '在这里填写活动详情...',
              hideOnClick: true
            },
            buttonLabels: 'fontawesome',
            toolbar: {
              buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
            },
            paste: {
              forcePlainText: false,
              cleanPastedHTML: false,
              cleanReplacements: [],
              cleanAttrs: ['class', 'style', 'dir'],
              cleanTags: ['meta'],
              unwrapTags: []
            },
            extensions: {
              'warning': new MediumButton({
                label: '<i class="color-danger fa fa-font"></i>',
                start: '<span style="color:#ff4949;">',
                end: '</span>'
              })
            }
          })
          this.editor = editor
          editor.subscribe('editableKeyup', (e) => {
            var keyCode = e.keyCode
            if (keyCode === 13 || keyCode === 38 || keyCode === 40) {
              this.toolbarStyle(e)
            }
          })
          editor.subscribe('editableClick', (e) => {
            if (e.target.tagName.toLowerCase() === 'img') {
              if (e.target.parentNode.textContent) {
                window.getSelection().removeAllRanges()
                let selection = window.getSelection()
                let range = document.createRange()
                range.selectNode(e.target)
                selection.addRange(range)
              } else {
                this.editor.selectElement(e.target.parentNode)
              }
            }
            this.toolbarStyle(e)
          })
          editor.subscribe('editableInput', (e) => {
            if (e.target) {
              let html = e.target.innerHTML
              html = e.target.innerText.trim() ? html : ''
              this.$emit('input', html)
            }
          })
          editor.subscribe('focus', (e) => {
//            this.toolbarStyle(e)
          })
          editor.subscribe('blur', (e) => {
            this.insertBtnBox.style.display = 'none'
          })
          editor.subscribe('editableMouseover', (e) => {
            if (e.target.tagName.toLowerCase() === 'img') {
              let range = document.createRange()
              range.selectNode(e.target)
            }
          })
          if (this.editor) {
            this.editor.setContent(this.value ? this.value : '')
          }
        })
      },
      successUpload (res, file, fileList) {
        fileList.splice(fileList.indexOf(file), 1)
        if (file.response.status === 200 && file.response.data.ret === 0) {
          var html = this.imgHtml(res, file)
          let pasteBlock = document.createDocumentFragment()
          pasteBlock.appendChild(document.createElement('body'))
          let fragmentBody = pasteBlock.querySelector('body')
          fragmentBody.innerHTML = html
          this.editor.pasteHTML(fragmentBody.innerHTML)
        }
      },
      toolbarStyle (e) {
        if (!this.visible) return
        let parant = this.editor.getSelectedParentElement()
        while (parant.tagName && parant.tagName.toLowerCase() !== 'p') {
          parant = parant.parentNode
        }
        var top = parant.offsetTop
        this.insertBtnBox.style.top = top + 'px'
        this.insertBtnBox.style.display = 'block'
      },
      addImage () {
        this.$refs.imgUploader.$children[0].handleClick()
      }
    },
    watch: {
      value (nv, ov) {
        let cnt = this.editor.getContent()
        if (cnt !== nv) {
          this.editor.setContent(nv || '<p><br></p>')
        }
      }
    },
    mounted () {
      this.$nextTick(() => {
        this.init()
      })
    },
    components: {
    },
    beforeDestroy () {
      if (this.editor) {
        this.editor.destroy()
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @import 'css/medium-editor.css';
  .inset-btn{
    position: absolute;
    top: 0;
    left: -28px;
    z-index: 1;
    display: none;
    transition: opacity .3s;
    & a{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      box-shadow: inset 0 0 1px rgba(0,0,0,.2);
      background: var(--color-primary);
      color: #fff;
    }
  }
  .activit-section{
    position: relative;
    margin: 0;
    position: relative;
    border:1px solid rgb(191, 201, 217);
    border-radius: 4px;
    & .article-body{
      min-height: 80px;
      position: relative;
      outline: none;
      padding:10px 1rem;
      line-height: 1.6;
    }
    &:after{
      margin: 0;
    }
    &:hover, &:focus{
      border-color: rgb(131, 143, 165);
    }
  }
  .inset-btn-popover{
    padding: 0;
    & a{
      width: 50%;
      float: left;
      padding:10px 0;
      text-align: center;
    }
  }
</style>
