<template>
  <div>
    <component
      :is="currViewName"
      :item="item"
      :canShare="canBeShared"
    >
      <div slot="header" class="transverse user">
        <user-block tagName="div" class="img" :user="user">
          <router-link :to="{ name: 'user', params: { userId: user.id }}">
            <img :src="userAvatar" alt="" v-error-img:user>
          </router-link>
        </user-block>
        <div class="content content50">
          <div class="username">
            <router-link :to="{ name: 'user', params: { userId: user.id }}"><user-block tagName="span" :user="user">{{userName}}</user-block></router-link>
            <i class="fa" :class="userSexIcon"></i>
            <div class="publish-sign-content" style="display: inline-block" v-if="markUsers.length">
            <span v-if="markUsers.length"> 和
              <user-block v-for="(itemUser, index) in getMarksUsers" :key="itemUser.id" tagName="div" :user="itemUser">
                <router-link :to="{ name: 'user', params: { userId: itemUser.id }}" :title="itemUser.name || itemUser.userName">
                  {{index > 0 ? '、' : ''}}{{itemUser.name || itemUser.userName}}
                </router-link>
              </user-block>
              <el-tooltip effect="dark" placement="top" v-if="markUsers.length > maxMarksSize">
                <div slot="content" v-text="getOthersMarks.map(o => o.userName).join('、')">张张三<br>李四<br>王五</div>
                <div @click="showMarkUsersViewers">其他{{markUsers.length - 2}}位用户</div>
              </el-tooltip>
            </span>
            </div>
          </div>
          <div class="arInfo">
            <template v-if="hasGroup">
              <router-link v-if="item.groupType==='activity'" :to="{ name: 'activity', params: { activityId: item.groupId } }">
                <span class="tag">活动</span>
              </router-link>
              <router-link v-else :to="{ name: 'group', params: { groupId: item.groupId } }">
                <span class="tag">{{groupName}}</span>
              </router-link>
              <relative-time :date="item.createTime" :class="{ 'margin-l10': hasGroup }"></relative-time>
            </template>
            <template v-else-if="this.showGroup">
              <template v-if="item.scope === 'PUBLIC'">
                <relative-time :date="item.createTime" :class="{ 'margin-l10': hasGroup }"></relative-time>
                <span class="tag"><i class="fa fa-unlock" title="所有人可见"></i></span>
              </template>
              <template v-else-if="item.scope === 'PRIVATE'">
                <relative-time :date="item.createTime" :class="{ 'margin-l10': hasGroup }"></relative-time>
                <span class="tag"><i class="fa fa-lock" title="仅自己可见"></i></span>
              </template>
            </template>
            <template v-else>
              <relative-time :date="item.createTime" :class="{ 'margin-l10': hasGroup }"></relative-time>
            </template>
            <span v-if="markLocation && markLocation.name"> 在 <locate-block :location="markLocation" tagName="a" class="place-token">{{markLocation.name}}</locate-block></span>
          </div>
        </div>
      </div>
      <template slot="tool">
        <div class="clearfix" :class="{'show-comment': showComment}">
          <el-popover
            popper-class="vertical"
            ref="more"
            placement="bottom-start"
            width="114"
            trigger="click"
            v-model="showFeedMenusPopover"
          >
            <ul class="vertical-menu icon" >
              <li v-if="!feedMenus" @click="reLoadFeedMenus()"><i :class="loadingClass"></i>{{isLoadedMenus?'无可用选项':loadingTitle}}</li>
              <template v-if="!!feedMenus" >
                <li v-for="menu in feedMenus" :key="menu.key" @click="menuAction(menu.key, menu.value, true)"><i :class="getMenuClass(menu.key, menu.value)"></i>{{menu.title}}</li>
              </template>
            </ul>
          </el-popover>
          <div class="ar-control float-right">
            <!-- <span><i class="fa fa-trash-o"></i> 删除</span> -->
            <span @click="showViewers"><i class="fa fa-eye"></i> {{item.viewerCount || ''}}</span>
            <span v-show="praiseCount > 0" @click="praiseClick" ><popover-block tagName="span" :data="{objType:'POST',objId:item.objId,action:'praise'}" :eventKey="'operRecord'"><i :class="item.isPraise?'fa fa-heart color-danger':'fa fa-heart-o'" ><span> {{praiseCount}}</span></i></popover-block></span>
            <span v-show="praiseCount <= 0" @click="praiseClick" ><i :class="item.isPraise?'fa fa-heart color-danger':'fa fa-heart-o'" ><span> {{praiseCount}}</span></i></span>
            <span :class="showComment ? 'active' : ''" @click="clickComment"><i class="fa fa-comment-o"></i> {{item?item.commentCount:'' || ''}}</span>
            <span @click="sharePost" v-if="this.currViewName === 'share-item' ? (this.item.objContent.shareObj && canBeShared) : canBeShared"><i class="fa fa-share-square-o"></i></span>
            <span v-popover:more @click="loadFeedMenus"><i class="fa fa-ellipsis-h"></i></span>
          </div>
        </div>
      </template>
    </component>
  </div>
</template>

<script>
import * as feedItems from './feeditems'
import { rest } from '@/util'
import { shareFormShow, shareData } from '@/store/modules/share'
import UserBlock from '@/views/user/UserBlock'
import PopoverBlock from '@/views/user/PopoverBlock'
import RelativeTime from '@/components/RelativeTime'
import LocateBlock from '@/components/location/LocateBlock'
import { showCollect, currCollectId } from '@/store/modules/helper'
import { gatherContentImages } from '@/components/comment'

const feedItemViews = {...feedItems}
delete feedItemViews['default']
const getFeedItemViewName = feedItems.default

export default {
  components: {
    RelativeTime,
    UserBlock,
    PopoverBlock,
    LocateBlock,
    ...feedItemViews
  },
  props: {
    item: Object,
    showGroup: Boolean,
    outShowComment: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    currViewName () {
      return getFeedItemViewName(this.item)
    },
    shareFormShow,
    shareData,
    currUser () {
      return this.$store.state.currUser || {}
    },
    user () {
      return this.item.user || { id: this.item.userId }
    },
    userAvatar () {
      return this.user && this.user.avatar ? this.user.avatar : ''
    },
    userName () {
      return this.user && this.user.userName ? this.user.userName : this.item.userId
    },
    userSexIcon () {
      let sex = this.user && this.user.sex ? this.user.sex : '0'
      return this.sexIcon[sex]
    },
    hasGroup () {
      return this.showGroup && !!this.item.groupId
    },
    group () {
      return this.item.group || {}
    },
    groupName () {
      return this.group.name || this.item.groupId
    },
    praiseCount () {
      let praise = this.item.praise
      let count = 0
      if (praise) {
        praise.forEach((group) => {
          count += group[1]
        })
      }
      return count > 0 ? count : ''
    },
    getMarksUsers () {
      let count = this.markUsers.length
      let mus = JSON.parse(JSON.stringify(this.markUsers))
      if (count > this.maxMarksSize) {
        mus = mus.splice(0, 2)
      }
      return mus
    },
    getOthersMarks () {
      let count = this.markUsers.length
      let omus = []
      if (count > this.maxMarksSize) {
        omus = JSON.parse(JSON.stringify(this.markUsers)).splice(2, count)
      }
      return omus
    },
    showCollect,
    currCollectId
  },
  watch: {
    outShowComment (nv, ov) {
      if (nv !== this.showComment) {
        this.showComment = nv
      }
    },
    item (nv, ov) {
      this.getItemOtherData(nv)
    }
  },
  data () {
    return {
      sexIcon: {
        '0': '',
        '1': 'color-info fa-mars',
        '2': 'color-danger fa-venus'
      },
      feedMenus: null,
      loadingClass: 'fa fa-cog fa-spin',
      loadingTitle: '正在加载...',
      isLoadingMenus: false, // 是否正在加载菜单？
      isLoadedMenus: false, // 是否加载完成菜单？
      showFeedMenusPopover: false,
      isOperingLike: false, // 是否正在操作喜欢
      operCount: 0, // 操作喜欢次数
      showComment: true,
      canBeShared: false,
      maxMarksSize: 3,
      markUsers: [],
      markLocation: null
    }
  },
  created () {
    this.showComment = this.outShowComment
    this.getItemOtherData(this.item)
  },
  methods: {
    gatherContentImages,
    getFeedItemViewName,
    getItemOtherData (item) {
      if (item && item.objContent) {
        let objContent = item.objContent
        if (objContent.scope === 0) {
          let group = item.group || item.scopeGroup
          if (group && group.scope === 1) {
            this.canBeShared = true
          }
        } else if (objContent.scope === 2) {
          this.canBeShared = true
        }
        if ((objContent.modelObject.contentType === 'normal' ||
            objContent.modelObject.contentType === 'share') &&
          objContent.modelObject.location) {
          this.markLocation = JSON.parse(objContent.modelObject.location)
        }
        if (objContent.modelObject.marks && objContent.modelObject.marks.length) {
          const ids = objContent.modelObject.marks
          this.storeNeedData({
            type: 'user',
            dataIds: ids
          })
            .then(users => {
              this.markUsers = []
              for (let id of ids) {
                this.markUsers.push(users[id])
              }
            })
        }
      }
    },
    clickComment () {
      this.showComment = !this.showComment
      this.$emit('clickComment', this.item.objId, this.showComment)
    },
    showViewers (event) {
      this.$emit('showViewers', {
        elem: event.target,
        feed: this.item
      })
    },
    showMarkUsersViewers (event) {
      this.$emit('showViewers', {
        elem: event.target,
        feed: this.getOthersMarks,
        type: 'marks'
      })
    },
    reLoadFeedMenus () {
      this.loadingClass = 'fa fa-cog fa-spin'
      this.loadingTitle = '正在加载...'
      this.loadFeedMenus()
    },
    loadFeedMenus () {
      if (this.isLoadingMenus || this.isLoadedMenus) {
        return
      }
      this.isLoadingMenus = true
      // 请求feed的操作菜单列表
//      console.log(this.item)
      let canNotEdit = this.item && this.item.objType === 'POST' &&
        this.item.objContent &&
        (this.item.objContent.bindId && this.item.objContent.model === 'activity' ||
          this.item.objContent.model === 'reprint')
      rest.get('/sns/posts/' + this.item.objId + '/feedMenus')
        .then((menus) => {
          if (menus && menus.length > 0) {
            this.feedMenus = menus
            if (canNotEdit) {
              this.feedMenus = this.feedMenus.filter(o => o.key !== 'edit')
            }
            this.feedMenus.push({title: '复制链接', value: 1, key: 'copyLink'})
          }
          this.isLoadedMenus = true
          this.loadingClass = 'fa fa-cog'
        })
        .catch(e => {
          this.loadingClass = 'fa fa-cog'
          this.loadingTitle = '重新加载'
          console.error('loading Menus failure', e)
        })
      this.isLoadingMenus = false
    },
    getMenuClass (menuKey, value) {
      if (menuKey === 'collect') {
        return value === 0 ? 'fa fa-star-o' : 'fa fa-star-o color-warning'
      } else if (menuKey === 'notification') {
        return value === 0 ? 'fa fa-check-circle' : 'fa fa-minus-circle'
      } else if (menuKey === 'comment') {
        return value === 0 ? 'fa fa-user' : 'fa fa-user'
      } else if (menuKey === 'edit') {
        return 'fa fa-pencil-square-o'
      } else if (menuKey === 'delete') {
        return 'fa fa-trash-o'
      } else if (menuKey === 'copyLink') {
        return 'fa fa-copy'
      } else {
        return 'fa fa-cog'
      }
    },
    menuAction (menuKey, value, confirm) {
      this.showFeedMenusPopover = false
      if (confirm) {
        if (menuKey === 'delete') {
          this.showConfirm('warning', '警告', '是否永久删除该帖子数据？', () => { this.menuAction(menuKey, value, false) })
          return
        }
      }
      if (menuKey === 'delete') {
        rest.deleteByIds('/sns/posts', [this.item.objId])
          .then((data) => {
            if (data.successCount > 0) {
              this.msgSuccess('删除帖子成功！')
            } else if (data.totalCount === 0) {
              this.msgError('删除帖子失败，帖子找不到！')
            } else {
              console.error('删除帖子失败！', data)
              this.msgError('删除帖子失败！')
            }
          })
          .catch(e => {
            if (e && e.status >= 10000 && e.message) {
              this.msgError(e.message)
            } else {
              console.error('删除帖子错误！', e)
              this.msgError('删除帖子失败，请稍候重试！')
            }
          })
      } else if (menuKey === 'notification') {
        let isOpen = (value === 0)
        let req = (isOpen ? rest.create('/sns/posts/' + this.item.objId + '/notification') : rest.delete('/sns/posts/' + this.item.objId + '/notification'))
        req.then((data) => {
          if (data) {
            this.changeMenus(menuKey, isOpen ? '关闭通知' : '打开通知', isOpen ? 1 : 0)
            this.msgSuccess(isOpen ? '打开帖子通知成功，你将收到该帖子及评论的通知消息了！' : '关闭帖子通知成功，你将不再收到该帖子及评论的通知消息了！')
          } else {
            console.error(isOpen ? '打开帖子通知失败！' : '关闭帖子通知失败！', data)
            this.msgError(isOpen ? '打开帖子通知失败！' : '关闭帖子通知失败！')
          }
        })
        .catch(e => {
          if (e && e.status >= 10000 && e.message) {
            this.msgError(e.message)
          } else {
            console.error(isOpen ? '打开帖子通知错误！' : '关闭帖子通知错误！', e)
            this.msgError(isOpen ? '打开帖子通知失败，请稍候重试！' : '关闭帖子通知失败，请稍候重试！')
          }
        })
      } else if (menuKey === 'comment') {
        let isOpen = (value === 0)
        let req1 = (isOpen ? rest.create('/sns/posts/' + this.item.objId + '/commentFunction') : rest.delete('/sns/posts/' + this.item.objId + '/commentFunction'))
        req1.then((data) => {
          if (data) {
            this.changeMenus(menuKey, isOpen ? '关闭评论' : '打开评论', isOpen ? 1 : 0)
            this.msgSuccess(isOpen ? '打开评论功能成功！' : '关闭评论功能成功！')
          } else {
            console.error(isOpen ? '打开评论功能失败！' : '关闭评论功能失败！', data)
            this.msgError(isOpen ? '打开评论功能失败！' : '关闭评论功能失败！')
          }
        })
        .catch(e => {
          if (e && e.status >= 10000 && e.message) {
            this.msgError(e.message)
          } else {
            console.error(isOpen ? '打开评论功能错误！' : '关闭评论功能错误！', e)
            this.msgError(isOpen ? '打开评论功能失败，请稍候重试！' : '关闭评论功能失败，请稍候重试！')
          }
        })
      } else if (menuKey === 'collect') {
        let isCollect = (value === 0)
        let req
        if (this.item.objContent.modelObject.contentType.toLowerCase() === 'blog') {
          let param = {
            type: 'blog',
            sourceType: 'blog',
            source: this.item.objId,
            ext: 'BLOG!' + this.item.objId
          }
          req = (isCollect ? rest.create('/sns/favorites', param) : rest.delete('/sns/favorites', param))
        } else {
          req = (isCollect ? rest.create('/sns/posts/' + this.item.objId + '/collect') : rest.delete('/sns/posts/' + this.item.objId + '/collect'))
        }
        req.then((data) => {
          if (data) {
            this.changeMenus(menuKey, isCollect ? '取消收藏' : '收藏', isCollect ? 1 : 0)
            if (isCollect) {
              this.showCollect = true
              this.currCollectId = data.id
            } else {
              this.msgSuccess('取消收藏帖子成功！')
            }
          } else {
            console.error(isCollect ? '收藏帖子失败！' : '取消收藏帖子失败！', data)
            this.msgError(isCollect ? '收藏帖子失败！' : '取消收藏帖子失败！')
          }
        })
          .catch(e => {
            if (e && e.status >= 10000 && e.message) {
              this.msgError(e.message)
            } else {
              console.error(isCollect ? '收藏帖子错误！' : '取消收藏帖子错误！', e)
              this.msgError(isCollect ? '收藏帖子失败，请稍候重试！' : '取消收藏帖子失败，请稍候重试！')
            }
          })
      } else if (menuKey === 'copyLink') {
        let r
        if (this.item.groupId) {
          if (this.item.groupType === 'activity') {
            r = { name: 'activity', params: { activityId: this.item.groupId } }
          } else {
            r = { name: 'groupOneFeed', params: { feedId: this.item.id, groupId: this.item.groupId } }
          }
        } else {
          r = { name: 'userOneFeed', params: { feedId: this.item.id, userId: this.item.userId } }
        }
        let url = r ? window.document.location.origin + this.$router.resolve(r).href : null
        if (url) {
          let copyFn = e => {
            e.clipboardData.setData('text/plain', url)
            e.preventDefault()
            this.msgInfo('已复制帖子链接到剪贴板')
          }
          window.document.addEventListener('copy', copyFn)
          let successful
          try {
            successful = window.document.execCommand('copy')
          } catch (err) {
            console.error('无法复制帖子链接到剪贴板', err)
          }
          if (successful) {
            window.document.removeEventListener('copy', copyFn)
          } else {
            const h = this.$createElement
            this.$msgbox({
              title: '帖子链接',
              message: h('div', null, [
                h('p', { 'class': 'feed_copy_link', style: 'word-wrap:break-word;' }, url),
                h('p', null, '请按下Win(Crtl + C)、Mac(Cmd + C)或者手动拷贝链接地址')
              ]),
              confirmButtonText: '确定',
              beforeClose: (action, instance, done) => {
                window.document.removeEventListener('copy', copyFn)
                done()
              }
            })
            this.$nextTick(() => {
              let el = window.document.querySelector('.el-message-box .feed_copy_link')
              if (el) {
                let range = window.document.createRange()
                // range.selectNode(el)
                range.setStartBefore(el)
                range.setEndAfter(el)
                let selection = window.getSelection()
                selection.removeAllRanges()
                selection.addRange(range)
              }
            })
          }
        }
      } else if (menuKey === 'edit') {
//        this.msgInfo('该功能正在开发中...')
        this.$emit('editPost', this.item)
      }
    },
    showConfirm (type, title, message, confirmFn, cancelFn) {
      this.$confirm(message, title, {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        if (typeof confirmFn === 'function') {
          confirmFn()
        }
      }).catch(() => {
        if (typeof cancelFn === 'function') {
          cancelFn()
        }
      })
    },
    changeMenus (menuKey, menuTitle, menuValue) {
      let newMenus = []
      this.feedMenus.forEach((menu) => {
        if (menu.key === menuKey) {
          newMenus.push({
            key: menuKey,
            value: menuValue,
            title: menuTitle
          })
        } else {
          newMenus.push(menu)
        }
      })
      this.feedMenus = newMenus
    },
    sharePost () {
      let objItem = JSON.parse(JSON.stringify(this.item))
      if (objItem.objContent.modelObject.contentType === 'share' && !(objItem.objContent.shareObj && (objItem.objContent.shareObj.id || objItem.objContent.shareObj.objId))) {
        this.msgWarning('被分享的内容可能已被移除，或者分享者无权分享给你。')
        return
      }
      let type = 'post'
      this.shareData = {
        from: 'feed',
        type: type,
        item: objItem
      }
      this.shareFormShow = true
    },
    praiseClick () {
      // 限制并发请求
      if (this.isOperingLike) {
        return
      }
      // 限制请求次数
      if (this.operCount > 5) {
        return
      }
      this.isOperingLike = true
      let req
      if (this.item.isPraise) {
        req = rest.delete('/sns/operRecord', {objType: 'POST', objId: this.item.objId, action: 'praise', actionArg: 'FEEL_LOVE'})
      } else {
        req = rest.create('/sns/operRecord', {objType: 'POST', objId: this.item.objId, action: 'praise', actionArg: 'FEEL_LOVE'})
      }
      req.then((data) => {
        this.item.isPraise = !this.item.isPraise
        this.changePraise(1, this.item.isPraise ? 1 : -1)
        this.isOperingLike = false
        this.operCount ++
      }).catch((e) => {
        console.error('喜欢失败！', e)
        this.msgError('喜欢操作失败, 请稍候重试！')
        this.isOperingLike = false
        this.operCount ++
      })
    },
    changePraise (arg, appendCount) {
      let praise = []
      if (this.item.praise) {
        praise = [...this.item.praise]
      }
      let isExist = false
      for (var i = 0; i < praise.length; i++) {
        if (praise[i][0] === arg) {
          isExist = true
          praise[i][1] += appendCount
          break
        }
      }
      if (!isExist) {
        praise.push([arg, appendCount])
      }
      this.item.praise = praise
    }
  }
}
</script>

<style>
  @import 'css/variable.css';
  .place-token, .place-token:hover{
    color:var(--color-blue-light)
  }
  .heart-user{
    & .members{
      & div{
        margin: 0 10px 0 0;
        & a{
          width: 30px;
          height: 30px;
          line-height: 30px;
          display: inline-block;
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          /*&:hover{*/
            /*color: darken(var(--color-primary), 10%);*/
            /*background: #efefef;*/
          /*}*/
        }
        & img{
          width: 30px;
          height: 30px;
        }
        &:last-child{
          margin: 0px;
        }
      }
    }
  }
</style>
