<template>
  <ul class="feed">
    <li>
      <article-list></article-list>
    </li>
    <li>
      <audio-list></audio-list>
    </li>
    <li>
      <img-list></img-list>
    </li>
    <li>
      <text-list></text-list>
    </li>
    <li>
      <doc-list></doc-list>
    </li>
    <li>
      <video-list></video-list>
    </li>
    <li>
      <music-list></music-list>
    </li>
  </ul>
</template>
<script>
  import ArticleList from '@/components/mlist/ArticleList'
  import ImgList from '@/components/mlist/ImgList'
  import AudioList from '@/components/mlist/AudioList'
  import TextList from '@/components/mlist/TextList'
  import DocList from '@/components/mlist/DocList'
  import VideoList from '@/components/mlist/VideoList'
  import MusicList from '@/components/mlist/MusicList'
  export default {
    data () {
      return {}
    },
    components: {
      ArticleList,
      AudioList,
      ImgList,
      TextList,
      DocList,
      VideoList,
      MusicList
    }
  }
</script>
<style>
  @import 'css/variable.css';
  /*single*/
  .single {
    & .media-object-section {
      &:last-child{
        & span{
          margin: 0 6px;
        }
        & .float-right{
          & span{
            color: var(--color-secondary);
            margin-right: 10px;
          }
        }
      }
    }
  }
  .square-article {
    margin: 0;
    & .img{
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 80px;
      height: 80px;
    }
  }
  .img.single{
    width: 260px;
  }
</style>
