<template>
  <div>
    <el-dialog
      title="用户"
      :visible.sync="feedViewer.show"
      size="tiny"
      class="feed-viewer"
    >
      <el-tabs value="first" v-if="feedViewer.type === 'feedRead'">
        <el-tab-pane :label="'已读 ' + feedViewer.readed.length" name="first">
          <!--<div v-for="user in feedViewer.readed" :key="user.id">{{user.userName}}</div>-->
          <div class="members user clearfix">
            <div v-for="user in feedViewer.readed" :key="user.id" :title="user.userName || user.id">
              <img :src="user.avatar" :alt="user.userName || user.id" v-error-img:user>
              <div>{{user.userName || user.id}}</div>
            </div>
          </div>
          <!--<div class="img-list img_list clearfix large-up-8 view-record">-->
            <!--<div class="column flex-center" v-for="user in feedViewer.readed" :key="user.id">-->
              <!--<a><img src="../assets/img/6.png"/></a>-->
              <!--<span>{{user.userName}}</span>-->
            <!--</div>-->
          <!--</div>-->
        </el-tab-pane>
        <el-tab-pane v-if="groupId && groupType === 'group'" :label="'未读 ' + feedViewer.unread.length" name="second">
          <!--<div v-for="user in feedViewer.unread" :key="user.id">{{user.userName || user.id}}</div>-->
          <div class="members user clearfix">
            <div v-for="user in feedViewer.unread" :key="user.id" :title="user.userName || user.id">
              <img :src="user.avatar" :alt="user.userName || user.id" v-error-img:user>
              <div>{{user.userName || user.id}}</div>
            </div>
          </div>
        </el-tab-pane>
      </el-tabs>
      <div class="members user clearfix" v-else>
        <div v-for="user in feedViewer.markUsers" :key="user.id" :title="user.userName || user.id">
          <img :src="user.avatar" :alt="user.userName || user.id" v-error-img:user>
          <div>{{user.userName || user.id}}</div>
        </div>
      </div>
    </el-dialog>
     <div
      v-show="hasNewFeed && showNewListButtom"
      @click="showNewFeed(true)"
      class="sticky"
    ><i class="fa fa-angle-double-up margin-r6"></i>点我查看最新内容哦~</div>
    <div
      ref="feedNew"
      v-show="hasNewFeed"
      @click="showNewFeed"
      class="updateNews"
    >点我查看最新内容哦~</div>
    <!--{{JSON.stringify(list)}}-->
    <div v-infinite-scroll="fetchData" infinite-scroll-disabled="fetchBusy" infinite-scroll-distance="10">
      <transition-group name="list-complete" tag="ul"
        @before-leave="(el) => el.style.position='relative'"
        @after-leave="(el) => el.style.position=''"
        ref="feed"
        class="feed"
      >
        <template v-for="(item, index) in list">
          <li
            :key="item.id"
            v-if="showNewList && lastFeedId === item.id"
            class="latest-news list-complete-item"
          >
            <div class="loader-message">以上为新内容</div>
          </li>
          <li
            :key="item.id"
            v-show="newIdList.indexOf(item.id) < 0"
            class="list-complete-item"
          >
            <feed-item
            :ref="'feeditem'+index"
            :item="item"
            :showGroup="!groupId"
            :outShowComment="getShowComment(item.objId)"
            @showViewers="showViewers"
            @clickComment="toggleComment"
            @editPost="editPost"
            ></feed-item>
            <transition name="fade"
              @before-leave="(el) => el.parentElement.style.position='relative'"
              @after-leave="(el) => el.parentElement.style.position=''"
            >
              <comment-tree
                ref="commentTree"
                v-show="getShowComment(item.objId)"
                :createAt="item.objId"
                :createAtType="item.objType"
                :objCreator="item.userId"
                :bindRef="getBindFeedItemRef(index)"
                :roots="rootComments[item.objId]"
                :enable="isEnableComment(item)"
                :loadData="getShowComment(item.objId)"
                @deleteComment="deleteComment"
                @initQuoteResource="(quote) => {initQuoteResource(item, quote)}"
              ></comment-tree>
            </transition>
          </li>
        </template>
      </transition-group>
    </div>
    <list-loading v-show="!done || !isViewModel" :loading="statusFetchList" :noData="done" :message="dataMsg"></list-loading>
    <preview v-if="usePreview"></preview>
    <blog-form
      :visible="showEditDialog && currItemOptions.useBlogEdit"
      :userId="currItemOptions.userId"
      :groupId="currItemOptions.groupId"
      :item="editItem"
      @onClose="onCloseClearData">
    </blog-form>
    <post-edit
      :visible="showEditDialog && currItemOptions.usePostEdit"
      :userId="currItemOptions.userId"
      :groupId="currItemOptions.groupId"
      :item="editItem"
      @onClose="onCloseClearData">
    </post-edit>
  </div>
</template>

<script>
// import Popover from './Popover'
import FeedItem from './FeedItem'
import Preview from './preview/Preview'
import restDataMixin from '@/util/restDataMixin'
import * as moduleTypes from '@/store/modules'
import { rest, throttle, isElementInViewport, convertEmoji, convertAtUsers } from '@/util'
import CommentTree from './comment/CommentTree'
import BlogForm from '@/components/blog/BlogForm'
import PostEdit from '@/components/blog/PostEdit'
import activityMixin from '@/mixin/activityMixin'
import { gatherContentImages } from '@/components/comment'

function getScopeGroupId (feed) {
  if (!feed) {
    return
  }
  if (!feed.groupType || feed.groupType === 'group') {
    return feed.groupId
  } else if (feed.objContent && feed.objContent.scope === 0) { // 小组访问范围
    return feed.objContent.scopeValue
  }
}

export default {
  components: {
    // Popover,
    CommentTree,
    FeedItem,
    Preview,
    BlogForm,
    PostEdit
  },
  mixins: [restDataMixin, activityMixin],
  computed: {
    isViewModel () { // 参看模式，本模式下feed的添加无效
      return this.feedIds || this.objs
    },
    initData () {
      return false
    },
    listUrlParams () {
      let params = {}
      params.groupId = this.groupId
      params.groupType = this.groupType
      params.userId = this.userId
      params.index = this.index
      return params
    },
    restUrlGetAll () {
      let url
      if (this.dynamic) {
        url = '/page/feeds/dynamic'
      } else if (this.groupId) {
        url = '/page/feeds/gt/{{groupType}}/{{groupId}}'
      } else if (this.userId) {
        url = '/page/feeds/timeline/{{userId}}'
      }
      if (url) {
        url += '?len={{size}}&index={{index}}'
        return url
      }
    },
    statusFetchList () {
      return this.rest.status.fetchList
    },
    currUser () {
      return this.$store.state.currUser || {}
    },
    hasNewFeed () {
      return !this.showNewList && this.newIdList.length > 0
    }
  },
  data () {
    return {
      initRetry: 0,
      groupMemberUserIds: null,
      feedViewer: {
        readed: [],
        unread: [],
        markUsers: [],
        type: 'feedRead',
        show: false
      },
      // feedViewerInfo: {},
      dataMsg: '',
      follow: true,
      index: '',
      done: false,
      list: [], // 存放feed列表
      newIdList: [], // 存放动态添加的feed列表，通过WebSocket
      lastFeedId: null,
      showNewList: false,
      showNewListButtom: false,
      unreadFeedIdList: [],
      readFeedIdSet: new Set(),
      viewChange: null,
      fetchBusy: false,
      rootComments: {},
      showComments: {},
      currItemOptions: {},
      editItem: {},
      showEditDialog: false
    }
  },
  props: {
    feedIds: Array,
    objs: Array,
    loadComment: {
      type: Boolean,
      default: true
    },
    usePreview: {
      type: Boolean,
      default: true
    },
    groupId: String,
    groupType: {
      type: String,
      default: 'group'
    },
    userId: String,
    dynamic: Boolean
  },
  watch: {
    $route () {
      if (this.isViewModel) {
        return
      }
      this.clearFeedUnread()
      // this.resetFeedViewerPanel()
    }
  },
  created () {
    this.rest.page.size = 10
    if (this.isViewModel) {
      this.$watch(() => this.feedIds + this.objs, () => {
        this.fetchDataById()
      })
      this.fetchDataById()
      this.dataMsg = ' ' // 不显示加载信息
    } else {
      this.clearFeedUnread()
      this.$watch(() => this.groupId + this.userId + this.dynamic, () => {
        this.fetchData(true)
        this.clearFeedUnread()
      })
      this.$bus.$on('feedref:create', (feed) => {
        let groupId = feed.groupId
        let feedId = feed.id
        if (groupId) {
          this.addFeedUnread(this.getGroupKey(groupId), feedId)
        }
        this.addFeedUnread('dynamic', feedId)
        let so = feedId && this.shoudOper(feed)
        if (so && this.userId) {
          so = this.userId === feed.userId
        }
        if (so) {
          this.addFeedToList(feed, true)
        }
      })
      this.$bus.$on('feed:create', (feed) => {
        if (this.shoudOper(feed)) {
          this.lastFeedId = feed.id
          this.showNewList = false
          this.newIdList = []
          this.clearFeedUnread()
          this.addFeedToList(feed)
        }
      })
    }
    this.$bus.$on('feed:update', (feed) => {
      if (this.shoudOper(feed)) {
        this.updateFeedFromList(feed)
      }
    })
    this.$bus.$on('feed:delete', (feed) => {
      if (this.shoudOper(feed)) {
        this.delFeedFromList(feed)
      }
      let groupId = feed.groupId
      let feedId = feed.id
      if (groupId) {
        this.delFeedUnread(this.getGroupKey(groupId), feedId)
      }
      this.delFeedUnread('dynamic', feedId)
    })
    this.$bus.$on('comment:create', (comment) => {
      let feed = this.getFeedByObjId(comment.createAt)
      if (feed && feed.userId !== this.currUser.id) {
        this.$set(feed, 'commentCount', feed.commentCount ? feed.commentCount + 1 : 1)
      }
    })
    this.$bus.$on('comment:delete', (comment) => {
      let feed = this.getFeedByObjId(comment.createAt)
      if (feed && feed.userId !== this.currUser.id) {
        --feed.commentCount
      }
    })
  },
  mounted () {
    this.viewChange = throttle(() => {
      if (this.hasNewFeed && this.$refs.feedNew) {
        let show = isElementInViewport(this.$refs.feedNew)
        if (show) {
          this.showNewListButtom = false
        } else if (!this.showNewListButtom) {
          this.showNewListButtom = true
        }
      }
      if (this.unreadFeedIdList.length > 0) {
        Object.keys(this.$refs).forEach(k => {
          if (k.indexOf('feeditem') === 0) {
            let [vm] = this.$refs[k] || []
            if (!vm) {
              return
            }
            let id = vm.item.id
            let ix = this.unreadFeedIdList.indexOf(id)
            let elInView = ix >= 0 && isElementInViewport(vm.$el)
            if (elInView) {
              this.readFeedIdSet.add(id)
              this.unreadFeedIdList.splice(ix, 1)
              if (this.readFeedIdSet.size === 1) {
                this.saveFeedViewer()
              }
            }
          }
        })
      }
    }, 500)

    if (window.addEventListener) {
      window.addEventListener('DOMContentLoaded', this.viewChange, false)
      window.addEventListener('load', this.viewChange, false)
      window.addEventListener('scroll', this.viewChange, false)
      window.addEventListener('resize', this.viewChange, false)
    } else if (window.attachEvent) {
      window.attachEvent('onDOMContentLoaded', this.viewChange) // IE9+ :(
      window.attachEvent('onload', this.viewChange)
      window.attachEvent('onscroll', this.viewChange)
      window.attachEvent('onresize', this.viewChange)
    }
  },
  destroyed () {
    if (window.removeEventListener) {
      window.removeEventListener('DOMContentLoaded', this.viewChange, false)
      window.removeEventListener('load', this.viewChange, false)
      window.removeEventListener('scroll', this.viewChange, false)
      window.removeEventListener('resize', this.viewChange, false)
    } else if (window.detachEvent) {
      window.detachEvent('onDOMContentLoaded', this.viewChange) // IE9+ :(
      window.detachEvent('onload', this.viewChange)
      window.detachEvent('onscroll', this.viewChange)
      window.detachEvent('onresize', this.viewChange)
    }
  },
  methods: {
    gatherContentImages,
    initQuoteResource (item, quote) {
      if (item.objContent.model === 'normal' && item.objContent.modelObject.postType === 'image' || item.objContent.model === 'blog' || item.objContent.model === 'reprint') {
        let reosurces = item.objContent.modelObject.resourceFiles || []
        if (item.objContent.model === 'blog' || item.objContent.model === 'reprint') {
          let files = this.gatherContentImages(item.objContent.modelObject.content)
          reosurces = reosurces.concat(files)
        }
        // 子评论不显示图片
        if (quote.comment.idByReply && quote.comment.idByReply !== 'NULL_ID') {
          return
        }
        let quoteBody = quote.comment.commentBody.commentQuote
        let rsId
        if (quoteBody) {
          rsId = quoteBody.quoteObjId
        } else {
          rsId = quote.comment.ext
        }
        if (rsId) {
          for (let resource of reosurces) {
            if (resource.rsId === rsId) {
              quote.resource = {
                id: rsId,
                url: resource.datas['550x']
              }
              break
            }
          }
        }
      }
    },
    convertAtUsers,
    getBindFeedItemRef (index) {
      let feedItems = this.$refs['feeditem' + index]
      if (feedItems) {
        return feedItems[0]
      }
    },
    getShowComment (objId) {
      return this.showComments[objId] === true
    },
    toggleComment (objId, showComment) {
      let showComments = {...this.showComments}
      showComments[objId] = showComment
      this.showComments = showComments
//      this.$set(this.showComments, objId, showComment)
    },
    isEnableComment (item) {
      return item.objContent.modelObject ? item.objContent.enableComment : true
    },
    fetchDataById () {
      let req
      let ids
      if (this.feedIds && this.feedIds.length > 0) {
        ids = this.feedIds
        req = rest.get('/page/feeds/ids', { ids }, true)
      } else if (this.objs && this.objs.length > 0) {
        ids = this.objs
        req = rest.get('/page/feeds/objs', { id: ids }, true)
      }
      if (req) {
        this.done = false
        req.then(feeds => {
          this.$emit('dataFetched', feeds.reduce((r, o, i) => {
            r[ids[i]] = o
            return r
          }, {}))
          feeds = feeds.filter(o => !!o)
          this.fillFeedExtData(feeds)
          this.list = feeds
          this.done = true
        })
        .catch(e => {
          this.dataMsg = e.message
          this.$emit('dataFetched', false)
          console.error('fids', e)
        })
      }
    },
    fetchData (init) {
      if (this.isViewModel) {
        this.done = true
        return
      }
      if (init) {
        this.index = ''
        this.done = false
        this.list = []
      }
      if ((this.groupId || this.userId || this.dynamic) && !this.done && !this.fetchBusy) {
        this.fetchBusy = true
        this.dataMsg = ''
        this.getData().then(data => {
          if (data) {
            this.fillFeedExtData(data.feeds)
          }
        })
        .catch(err => {
          this.done = true
          this.fetchBusy = false
          if (err.status < 10000) {
            this.msgError(err.message)
            console.error('system error:', err)
          } else {
            if (err.status === 10001) { // 初始化缓存重试
              if (++this.initRetry < 10) {
                this.dataMsg = '正在初始化数据，请稍等'
                setTimeout(() => this.fetchData(true), 3000)
              } else {
                this.dataMsg = err.message
              }
            } else {
              this.dataMsg = err.message
              console.error('app error:', err)
            }
          }
        })
      }
    },
    restFilterGetAll (req) {
      return req.then(json => {
        if (!this.index) {
          this.$emit('dataFetched', true)
        }
        this.index = json.index
        this.done = !this.index
        json.feeds = json.feeds.filter(o => !!o)
        let feeds = json.feeds
        if (feeds) {
          this.unreadFeedIdList = this.unreadFeedIdList.concat(feeds.map(o => o.id))
          if (!this.lastFeedId && feeds.length > 0) {
            this.lastFeedId = feeds[0].id
          }
          if (this.newIdList.length > 0) {
            feeds = feeds.filter(o => {
              let ix = this.newIdList.indexOf(o.id)
              if (ix >= 0) {
                this.newIdList.splice(ix, 1)
              }
              return ix < 0
            })
          }
          this.list = this.list.concat(feeds)
          // this.list.splice(this.list.length + 1, 0, ...json.feeds)
        }
        this.fetchBusy = false
        return {
          size: this.rest.page.size,
          totalElements: -1,
          feeds: feeds,
          content: null
        }
      })
    },
    fillFeedExtData (feeds) {
      if (!feeds || feeds.length < 1) {
        return
      }
      // 转换emoji图标和@用户
      feeds.forEach(f => {
        let mo
        if (f.objContent && (mo = f.objContent.modelObject) && mo.content) {
          this.convertAtUsers(mo.content)
          .then(data => {
            mo.content = convertEmoji(data)
          })
        }
      })
      // 设置用户
      let userIds = Object.keys(this.$store.state.dataPool.users)
      let users = feeds.filter(o => o.user && userIds.indexOf(o.user.id) < 0).map(o => o.user)
      if (users && users.length > 0) {
        this.$store.commit(moduleTypes.dataPool.M_ADD_USERS, users)
      }
      let us = this.$store.state.dataPool.users
      feeds.forEach(f => {
        f.user = us[f.userId]
      })
      // 填充小组数据
      this.storeNeedData({
        type: 'group',
        dataIds: feeds.map(f => getScopeGroupId(f)).filter(o => !!o)
      })
      .then(groups => {
        feeds.forEach(f => {
          let sgId = getScopeGroupId(f)
          if (sgId) {
            this.$set(f, 'scopeGroup', groups[sgId])
          }
          if (f.groupId && (!f.groupType || f.groupType === 'group')) {
            this.$set(f, 'group', groups[f.groupId])
          }
        })
      })
      // 批量获取浏览人员统计
      this.getFeedViewerCount(feeds.map(o => o.id))
      .then(json => {
        if (!json) {
          return
        }
        feeds.forEach(o => {
          if (json[o.id]) {
            this.$set(o, 'viewerCount', json[o.id])
          }
        })
      })
      // 批量获取评论数据
      if (this.loadComment) {
        this.getFeedComment(feeds.map(o => ({objId: o.objId, objType: o.objType})))
        .then(data => {
          feeds.forEach(o => {
            this.showComments[o.objId] = true
          })
        })
      } else {
        feeds.forEach(o => {
          this.showComments[o.objId] = false
        })
      }
      // 批量获取喜欢的状态
      rest.get('/sns/operRecord/status', { objId: feeds.map(o => o.objId), objType: 'POST', action: 'praise' }, true).then(mapData => {
        if (mapData) {
          feeds.forEach(o => {
            this.$set(o, 'isPraise', mapData[o.objId])
          })
        }
      })
      // todo 获取分享帖子的二次数据请求
      this.getShareItems(feeds)
    },
    shoudOper (feed) {
      return (this.groupId && feed.groupId === this.groupId && (!feed.groupType || feed.groupType === this.groupType)) ||
          (this.userId && this.currUser.id === this.userId) ||
          this.dynamic
    },
    updateFeedFromList (feed) {
      if (feed) {
        for (let i = 0; i < this.list.length; i++) {
          let v = this.list[i]
          if (v && v.id === feed.id) {
            let mo
            if (feed.objContent && (mo = feed.objContent.modelObject) && mo.content) {
              mo.content = convertEmoji(mo.content)
            }
            Object.keys(feed).forEach(k => {
              let nv = feed[k]
              if (k === 'objContent') {
                nv = {...v[k], ...nv}
              }
              this.$set(v, k, nv)
            })
          }
        }
      }
    },
    delFeedFromList (feed) {
      if (feed) {
        for (let i = 0; i < this.list.length; i++) {
          if (this.list[i] && this.list[i].id === feed.id) {
            this.list.splice(i, 1)
          }
        }
        let ix = this.newIdList.indexOf(feed.id)
        if (ix >= 0) {
          this.newIdList.splice(ix, 1)
        }
      }
    },
    addFeedToList (feed, addToNewList) {
      let mo
      if (feed.objContent && (mo = feed.objContent.modelObject) && mo.content) {
        mo.content = convertEmoji(mo.content)
      }
      let sgId = getScopeGroupId(feed)
      this.storeNeedData([{
        type: 'group',
        dataIds: [sgId]
      }, {
        type: 'user',
        dataIds: [feed.userId]
      }])
      .then(([groups, users]) => {
        if (sgId) {
          feed.scopeGroup = groups[sgId]
        }
        if (feed.groupId && (!feed.groupType || feed.groupType === 'group')) {
          feed.group = groups[feed.groupId]
        }
        if (feed.userId && users) {
          feed.user = users[feed.userId]
        }
        if (feed.objContent && feed.objContent.modelObject && feed.objContent.modelObject.contentType === 'share') {
          this.getShareItems([feed])
        }
        this.showComments[feed.objId] = this.loadComment
        if (addToNewList && !this.showNewList) {
          this.newIdList.splice(0, 0, feed.id)
        }
        this.list.splice(0, 0, feed)
      })
    },
    getFeedByObjId (id) {
      return this.list.filter(f => f.objId === id)[0]
    },
    getFeedComment (feedIds) {
      return rest.get('/sns/comments/tops', {
        cTops: feedIds,
        size: 3
      })
      .then((json) => {
        delete json.users
        let userIds = Object.values(json)
        .map(o => (o.comments || []).map(c => c.creator))
        .reduce((v, o) => v.concat(o), [])
        return this.storeNeedData({
          type: 'user',
          dataIds: userIds
        })
        .then(users => {
          for (let key of Object.keys(json)) {
            this.$set(this.rootComments, key, json[key])
          }
          // todo 获取所有评论下当前人员的点赞状态
          let commentIds = []
          let rootCommentsCopy = JSON.parse(JSON.stringify(this.rootComments))
          let keys = Object.keys(rootCommentsCopy)
          if (keys.length > 0) {
            keys.forEach((key) => {
              let feedComment = rootCommentsCopy[key]
              if (feedComment.comments && feedComment.comments.length > 0) {
                feedComment.comments.forEach((comment) => {
                  commentIds.push(comment.id)
                })
              }
            })
            if (commentIds.length > 0) {
              rest.get('/sns/operRecord/status', { objId: commentIds, objType: 'COMMENT', action: 'praise' }, true).then(mapData => {
                if (mapData) {
                  keys.forEach((key) => {
                    let feedComment = rootCommentsCopy[key]
                    if (feedComment.comments && feedComment.comments.length > 0) {
                      feedComment.comments.forEach((comment) => {
                        this.$set(comment, 'isPraise', mapData[comment.id])
                      })
                    }
                  })
                  this.rootComments = rootCommentsCopy
                }
              })
            }
          }
        })
      })
    },
    getFeedViewerCount (feedIds) {
      return rest.get('/page/feeds/viewers/count', { feedIds }, true)
    },
    getFeedViewers (feed) {
      let feedId = feed ? feed.id : null
      if (feedId) {
        let p = [rest.get(`/page/feeds/viewers/${feedId}`)]
        if (this.groupId && this.groupType === 'group' && !this.groupMemberUserIds) {
          p.push(rest.get(`/sns/groupMembers/group/${this.groupId}/memberUserIds`))
        }
        Promise.all(p)
        .then(([data, gus]) => {
          let dataIds = [...data]
          if (gus) {
            this.groupMemberUserIds = gus
            dataIds.push(...gus)
          }
          this.storeNeedData({
            type: 'user',
            dataIds
          })
          .then(users => {
            if (data.length !== feed.viewerCount) {
              feed.viewerCount = data.length
            }
            this.feedViewer.readed = data.map(o => users[o] || {id: o})
            if (this.groupMemberUserIds) {
              this.feedViewer.unread = this.groupMemberUserIds.filter(o => data.indexOf(o) < 0).map(o => users[o] || {id: o})
            }
          })
        })
      }
    },
    saveFeedViewer () {
      setTimeout(() => {
        let feedIds = [...this.readFeedIdSet]
        let readFeedIds = this.$store.state.feed.readFeedIdList
        if (readFeedIds.length > 0) {
          feedIds = feedIds.filter(f => readFeedIds.indexOf(f) < 0)
        }
        if (feedIds.length > 0) {
          rest.create('/page/feeds/viewers', feedIds)
          .then(data => {
            feedIds.forEach(id => this.readFeedIdSet.delete(id))
            this.$store.commit(moduleTypes.feed.M_ADD_READ_FEED_ID_LIST, feedIds)
            if (this.readFeedIdSet.size > 0) {
              this.saveFeedViewer()
            }
          })
        }
      }, 5000)
    },
    showViewers ({ elem, feed, type }) {
      // let show = !this.feedViewerInfo.elem || elem !== this.feedViewerInfo.elem
      // if (!show && elem && elem === this.feedViewerInfo.elem) {
      //   show = !this.feedViewerInfo.show
      // }
      // this.feedViewerInfo = {
      //   elem,
      //   show: show,
      //   callback: () => this.getFeedViewers(feed.id)
      // }
      this.feedViewer.type = type || 'feedRead'
      this.feedViewer.show = true
      if (!type) {
        this.getFeedViewers(feed)
      } else {
        this.feedViewer.markUsers = feed
      }
    },
    // resetFeedViewerPanel () {
    //   this.$refs.feedViewer.showPopper = false
    // },
    getGroupKey (groupId) {
      return `${this.groupType}:${groupId}`
    },
    clearFeedUnread () {
      let key
      if (this.dynamic) {
        key = 'dynamic'
      } else if (this.groupId) {
        key = this.getGroupKey(this.groupId)
      }
      if (key) {
        this.$store.commit(moduleTypes.feed.M_CLEAR_FEED_UNREAD_BY_KEY, key)
      }
    },
    delFeedUnread (key, id) {
      if (key) {
        this.$store.commit(moduleTypes.feed.M_DEL_UNREAD_FEED_ID_LIST, {
          key,
          ids: [id]
        })
      }
    },
    addFeedUnread (key, id) {
      if (key) {
        this.$store.commit(moduleTypes.feed.M_ADD_UNREAD_FEED_ID_LIST, {
          key,
          ids: [id]
        })
      }
    },
    showNewFeed (scroll) {
      this.showNewList = true
      this.newIdList = []
      if (scroll) {
        this.$nextTick(() => {
          let top = this.$refs.feed.$el.getBoundingClientRect().top - window.document.body.getBoundingClientRect().top
          window.scrollTo(0, top - 15)
          // this.$refs.feed.$el.scrollIntoView()
        })
      }
      this.clearFeedUnread()
    },
    getShareItems (feeds) {
      let groupList = {}
      let postList = {}
      feeds.forEach(o => {
        if (o.objContent && o.objContent.modelObject && o.objContent.modelObject.contentType === 'share') {
          let modelObject = o.objContent.modelObject
          if (modelObject.refObjType === 101) {
            groupList[modelObject.refObjId] = groupList[modelObject.refObjId] || []
            groupList[modelObject.refObjId].push(o)
          } else if (modelObject.refObjType === 5) {
            this.getShareActivity(o.objContent, modelObject.refObjId)
          } else if (modelObject.ext) {
            postList[modelObject.ext.feedId] = postList[modelObject.ext.feedId] || []
            postList[modelObject.ext.feedId].push(o)
          }
        }
      })

      let gids = Object.keys(groupList)
      if (gids && gids.length > 0) {
        this.storeNeedData({
          type: 'group',
          dataIds: gids
        })
          .then(groups => {
            gids.forEach(id => {
              for (let i in groupList[id]) {
                this.$set(groupList[id][i].objContent, 'shareObj', groups[id] || {})
              }
            })
          })
      }

      let pids = Object.keys(postList)
      if (pids && pids.length > 0) {
        this.$store.dispatch(moduleTypes.feed.A_GET_FEED_LIST, pids)
          .then(feeds => {
            if (feeds) {
              feeds.forEach(f => {
                if (f) {
                  for (let i in postList[f.id]) {
                    this.$set(postList[f.id][i].objContent, 'shareObj', f)
                  }
                  pids = pids.filter(pid => pid !== f.id)
                }
              })
            }
            pids.forEach(id => {
              for (let i in postList[id]) {
                this.$set(postList[id][i].objContent, 'shareObj', {})
              }
            })
          })
      }
    },
    onCloseClearData () {
      this.showEditDialog = false
      this.currItemOptions = {}
      this.editItem = null
    },
    editPost (item) {
      this.editItem = JSON.parse(JSON.stringify(item.objContent))
      let group = item.group || item.scopeGroup
      this.editItem.groupName = group ? group.name : ''
      if (this.editItem.model === 'normal' || this.editItem.model === 'share') {
        this.currItemOptions.usePostEdit = true
      } else if (this.editItem.model === 'blog') {
        this.currItemOptions.useBlogEdit = true
      }
      if (this.editItem.createAtType === 101) {
        this.currItemOptions.groupId = this.editItem.createAt
      } else if (this.editItem.createAtType === 102) {
        this.currItemOptions.userId = this.editItem.createAt
      }
      this.showEditDialog = true
    },
    getShareActivity (content, actId) {
      if (actId) {
        this.getActivity(actId)
          .then((data) => {
            let shareItem = {}
            if (data) {
              let groupName = ''
              let groupId = ''
              if (data && data.group) {
                groupName = data.group.name
                groupId = data.group.id
              }
              let modelObject = {...{contentType: 'activity'}, ...data}
              shareItem = {
                objId: data.id,
                objType: 'ACTIVITY',
                groupName: groupName,
                groupId: groupId,
                groupType: data && data.group ? 'group' : '',
                user: data.user,
                group: data.group,
                objContent: {
                  bindId: data.id,
                  modelObject: modelObject
                }
              }
            }
            this.$set(content, 'shareObj', shareItem)
          })
      } else {
        this.$set(content, 'shareObj', {})
      }
    },
    deleteComment (comment, sourceType) {
      let comBody = comment.commentBody
      if (comBody && comBody.commentQuote && comBody.commentQuote.quoteId) {
        let type = comBody.commentQuote.quoteObjType
        let tree = this.$refs.commentTree
        if (type !== 1 && type !== 2) {
          if (sourceType === tree.selfKey) {
            rest.delete('/page/annotator/annotations/' + comBody.commentQuote.quoteId)
          }
        }
      }
    }
  }
}
</script>

<style>
  @import "css/variable.css";
  .transverse {
    & .type {
      color: var(--color-secondary);
      font-size: 12px;
      /* position: absolute; */
      top: 1rem;
      right: 1rem;
      float: right;
    }
  }
  .arInfo span {
    font-size: 10px;
    color: var(--color-secondary);
    line-height: 1.6;
  }
  .feed {
    & >li{
        /* position: relative; */
        background: #fff;
        padding: 1.5rem;
        margin-bottom: 1rem;
        border-radius: 2px;
        border: 1px solid;
        border-color: #e8e8e8 #e8e8e8 #d4d4d5;
        list-style: none;
        & .img {cursor: pointer;}
    }
    & .type {
      float: right;
      position: relative;
      top: -6px;
      right: 0px;
      font-size: 12px;
      color: var(--color-secondary);
      z-index: 1;
    }
  }
  .arContent {
    padding: 1rem 0 0 0;
    & p {
      font-size: 14px;
      margin-bottom: 10px;
      color: #666;
    }
    & .img_list img {
      /*transition: transform 1s;*/
      /*&:hover{*/
        /*transform: scale(1.1);*/
      /*}*/
    }
    & .black.label {
      position: absolute;
      right: 10px;
      bottom: 4px;
    }
    & pre:first-child{
      margin-top: 0;
    }
  }
  .ar-control > span{
    position: relative;
    font-size: 14px;
    color: var(--color-secondary);
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
      color: darken(var(--color-primary), 10%);
      background: #efefef;
    }
    &.active{
      &:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -16px;
        right: 50%;
        margin-right: -6px;
        display: block;
        border: 6px solid transparent;
        border-style: dashed dashed solid dashed;
        border-bottom-color: #ddd;
      }
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -16px;
        right: 50%;
        z-index: 1;
        margin-right: -5px;
        display: block;
        border: 5px solid transparent;
        border-style: dashed dashed solid dashed;
        border-bottom-color: #ffffff;
      }
    }
  }
  .arTools{
    & a{font-size: 12px;
      color: var(--color-secondary);
      &:hover{
        color: var(--color-primary);
      }
    }
    & .show-comment{
      padding-bottom: 15px;
      margin-bottom: 10px;
      box-shadow: 0 1px 0px rgba(0,0,0,.1);
    }
  }
  /*长文*/
  .long-ar {
    & a {
      display:flex;
      height: 200px;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 1rem;
    }
    & h3 {
      position: absolute;
      border-bottom: 0;
      text-align: center;
      /*left: 0;*/
      /*right: 0;*/
      width: 300px;
      margin:0 auto;
      line-height: 1.8;
      /*top: 50%;*/
      /*margin-top: -20px;*/
      color: #fff;
      text-shadow: 0px 2px 8px #000;
    }
    & img{width: 100%;}
  }
  .user_card {
    background: var(--color-primary);
    padding: 1rem;
    border: 0;
    & .user_head{
      min-height: 120px;
      & .media-object{
        margin: 10px;
        & >div{
          &:first-child {
            text-align: center;
            & .avatar{
              display: inline-block;
              height: 80px;
              width: 80px;
              border-radius: 50%;
              overflow: hidden;
              margin-bottom: 10px;
            }
            & h4{
              text-align: center;
              color: #fff;
              margin-bottom: 10px;
            }
            & div{
              color: #fff;
              & span{
                margin:0 4px
              }
            }
          }
          &:last-child {
            padding-left: 1rem;
            border-left: 1px dashed #aaa;
            & h4 {
              margin-bottom: 6px;
              color: #fff;
              & span:last-child{margin-left: 6px;}
            }
            & div{
              margin-bottom: 6px;
              color: var(--color-secondary);
              & span{
                color: var(--color-white);
              }
              &.state{
                position: absolute;
                right: 1rem;
                top: 1rem;
              }
            }
          }
        }
      }
    }
    & .line{border-top: 1px solid #fff;}
    & .user_info {
      padding: 10px 0;
      & ul {
        margin: 0;
        & li {
          list-style: none;
          width: 20%;
          padding-right: 10px;
          float: left;

          & a{
            display: block;
            color: #fff;
            opacity: .8;
            transition: opacity .3s;
            &:hover{
              opacity: 1;
            }
            & i{
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
  .slide-fade-enter-active {
    transition: all .3s ease;
  }
  .slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-active {
    transform: translateY(10px);
    opacity: 0;
  }
  .el-popover.user_card[x-placement^="top"] .popper__arrow::after{border-top-color:var(--color-primary);}
  .el-popover.user_card[x-placement^="bottom"] .popper__arrow::after{border-bottom-color:var(--color-primary);}
/*.sticky{*/
  /*position: fixed;*/
  /*top: 22px;*/
  /*width: 200px;*/
  /*display: flex;*/
  /*height: 36px;*/
  /*background-color: var(--color-info);*/
  /*right: 0;*/
  /*margin: 0 auto;*/
  /*left: 0;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*border: 1px solid var(--color-info);*/
  /*border-radius: 36px;*/
  /*z-index: 100;*/
  /*color: #fff;*/
  /*font-size: 12px;*/
  /*cursor: pointer;*/
/*}*/
/*.updateNews{*/
   /*padding: 4px 16px;*/
   /*opacity: 0.9;*/
   /*transition: opacity .2s;*/
   /*text-align: center;*/
   /*margin-bottom: 1rem;*/
   /*background-color: color(var(--color-warning) tint(80%));*/
   /*border: 1px solid color(var(--color-warning) tint(60%));*/
   /*cursor: pointer;*/
   /*font-size: 12px;*/
   /*color: var(--color-info);*/
   /*&:hover{*/
     /*opacity: 1;*/
   /*}*/
/*}*/
.feed >li.latest-news {
    text-align: center;
    padding:0 10px;
    min-height: inherit;
    background: none;
    border: none;
    & .loader-message{
      font-size: 12px;
      color: #999;
    }
  }
.vedio-box{
  margin-bottom: 1rem;
}
/* 动画效果 */
.list-complete-item {
  transition: all .3s;
}
.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity, height;
  transition-duration: .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
.fade-leave-active {
  position: absolute;
  background-color: white;
  width: 100%;
  left: 0;
  padding: 1.5rem;
  box-sizing: border-box;
}
.feed-viewer{
  & .el-dialog{
    width: 100%;
    max-width: 576px;
  }
  & .el-dialog__body {
      padding: 8px 20px 30px 20px;
  }
}
.view-record{
  & .column{
    margin-bottom: 4px;
  }
  & .flex-center{
    & a{
      background-color: transparent;
      & img{
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
    }
    & span{
      font-size: 12px;
    }
  }
}
</style>
