<template>
  <div class="custom-icon">
    <template v-if="type === 'txt'">
      <span class="txt" :style="{width: size + 'px', height: size + 'px'}" :class="bg">
        TXT
      </span>
    </template>
    <template v-if="type === 'doc'">
      <span class="doc" :style="{width: size + 'px', height: size + 'px'}" :class="bg">W</span>
    </template>
    <template v-if="type === 'pdf'">
      <span class="pdf" :style="{width: size + 'px', height: size + 'px'}" :class="bg">PDF</span>
    </template>
    <template v-if="type === 'video'">
      <span class="video" :style="{width: size + 'px', height: size + 'px'}" :class="bg">
        <i class="fa fa-play"></i>
      </span>
    </template>
    <template v-if="type === 'music'">
      <span class="music" :style="{width: size + 'px', height: size + 'px'}" :class="bg">
        <i class="fa fa-music"></i>
      </span>
    </template>
    <template v-if="type === 'xls'">
      <span class="xls" :style="{width: size + 'px', height: size + 'px'}" :class="bg">
        X
      </span>
    </template>
    <template v-if="type === 'ppt'">
      <span class="ppt" :style="{width: size + 'px', height: size + 'px'}" :class="bg">
        PPT
      </span>
    </template>
    <!--// 广播-->
    <template v-if="type === 'volume'">
      <span class="volume" :style="{width: size + 'px', height: size + 'px'}" :class="bg">
        <i class="fa fa-volume-up"></i>
      </span>
    </template>
  </div>
</template>
<script>
  export default {
    data () {
      return {
      }
    },
    props: {
      type: String,
      size: String,
      bg: String
    }
  }
</script>
<style scoped="">
  @import 'css/variable.css';
  .custom-icon{
    & span {
      position:relative;
      display: flex;
      justify-content:center;
      align-items: center;
      border-radius: 4px;
      color: #fff;
      &.txt {
        background: #999;
        font-size: 1rem;
      }
      &.doc {
        background: #3399CC;
        font-size: 1.2rem;
      }
      &.pdf {
        background: #ff4949;
        font-size: 1rem;
      }
      &.video {
        background: #45AFDE;
        font-size: 1rem;
        text-indent: 4px
      }
      &.music {
        background: #5aab5a;
        font-size: 1.2rem;
      }
      &.xls {
        background: color(var(--color-success) tint(10%));
        font-size: 1rem;
      }
      &.ppt{
        background: color(var(--color-warning) tint(10%));
        font-size: 1rem;
      }
      &.volume {
        background: #45AFDE;
        font-size: 1rem;
        border-radius: 50%
      }
      & .fa-circle{
        color: var(--color-danger);
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 12px;
      }
    }
    
  }
</style>
