<template>
  <li>
    <div class="media-object img50">
      <div class="media-object-section">
        <img src="../assets/img/3.png" alt="前端小组"/>
      </div>
      <div class="media-object-section shrink">
      	<h3>前端小组</h3>
      	<div class="color-secondary">封闭小组·4位成员</div>
      </div>
    </div>
  </li>  
</template>
<script>
  export default {
    name: 'group-item',
    data () {
      return {}
    },
    props: {
      item: {}
    }
  }
</script>
<style scoped="">
  .img50 {
    margin: 0;
    padding: 4px 0;
    & .media-object-section{
      line-height: initial;
      &:first-child{
        width: 50px;
        height: 50px;
        & img{
          border-radius: 4px;
        }
      }
      &:last-child{
        & h3{
          margin-bottom: 4px;
        }
      }
    }
  }
</style>
