<template>
    <div slot='aaa'>
    	<el-popover
      ref="dotDesc"
      placement="bottom"
      width="200"
      trigger="click">
      <h4>{{dot.title}}</h4>
      <div><span class="color-secondary">相关链接：</span><a class="h-underline" :href="dot.url">{{dot.url}}</a></div>
      <p class="color-secondary margin-t10">
        {{dot.desc}}{{dot.iconType}}
      </p>
    </el-popover>
    <div class="mark dot"
      v-bind:style="{left: dot.left , top: dot.top, width: dot.width, height: dot.height}"
      ><i :class="'fa fa-' + dot.iconType" v-popover:dotDesc></i></div>
    </div>
</template>
<script>
  export default {
    data () {
      return {
      }
    },
    props: {
      dot: Object
    },
    methods: {
      remove: function (dot) {
        this.$emit('delete', dot)
      }
    },
    watched: {
      dot () {
//        console.log('dots', this.dot)
      }
    }
  }
</script>
<style>
  .dot {
    border-radius: 100%;
    cursor: pointer;
    background: rgba(0,0,0,.6);
  }
</style>
