<template>
  <div class="marks-wrapper">
    <img-tracking v-for="(item, index) in reverseMarks" :zIndex="index" :tracker="item" :key="item"></img-tracking>
    <div class="marks-contain" v-if="start"  ref='markContain'  @mousedown="changeMarkPosition">
      <el-popover
      ref="popover2"
      placement="bottom"
      width="280"
      trigger="manual"
      transition=""
      :open-delay="1000"
      popper-class="mark-edit"
      v-model="popoverVisible">
        <!--<div class="tab-list">-->
          <!--<a class="square" title="区域标记"><i class="el-icon-edit" aria-hidden="true"></i></a>-->
          <!--<a title="打点标记"><i class="fa fa-dot-circle-o" aria-hidden="true"></i></a>-->
          <!--<a  title="头像识别"><i class="fa fa-user-circle-o"></i></a>-->
          <!--<a class="square" title="文字识别"><i class="fa fa-font"></i></a>-->
        <!--</div>-->
        <el-tabs v-if="dragOptions.comment !== true" v-model="activeName" @tab-click="handleClick" class="tab-list">
          <el-tab-pane label="区域" name="areaMark">
            <a slot="label" class="square" title="区域标记"><i class="el-icon-edit" aria-hidden="true"></i> 区域</a>
          </el-tab-pane>
          <el-tab-pane label="打点" name="dotMark">
            <a slot="label" title="打点标记"><i class="fa fa-dot-circle-o" aria-hidden="true"></i> 打点</a>
          </el-tab-pane>
          <el-tab-pane label="圈人" name="faceRecognition">
            <a slot="label" title="圈人"><i class="fa fa-user-circle-o"></i> 圈人</a>
            <div class="loading" v-if="faceLoading === true">
              正在识别中...
            </div>
            <div class="add-member-list" v-else>
              <!--<el-autocomplete-->
                <!--v-model="state4"-->
                <!--:fetch-suggestions="querySearchAsync"-->
                <!--placeholder="请输入名字..."-->
                <!--@select="handleSelect"-->
              <!--&gt;</el-autocomplete>-->

              <div class="searchArea scrollCss" @keyup.enter="searchAction" >
                <div
                  class="margin-l6 margin-r4 margin-b4"
                  :class="[true ? 'bg-' + 1 : '', {'is-hit': false}]"
                  :style="{backgroundColor: color}"
                  v-for='(user, index) in selectUsers'
                  :key="user.id"
                  @click.stop="canelSelect(user)"
                  :title="user.userName"
                >
                  <img :src="user.avatar" :title="user.userName" alt="" v-error-img:user class="selectImg">
                  <span>
                    <i class="el-dialog__close el-icon el-icon-close"></i>
                  </span>
                </div>
                <el-input
                  class="inline-input"
                  icon="search"
                  v-model="keyword"
                  :on-icon-click="searchAction"
                  placeholder="搜索头像"
                  size="small"
                >
                </el-input>
              </div>
              <div class="searchTag">
                <span>张三</span>
                <span>李四</span>
                <span>王五</span>
              </div>
              <div class="selectTitle" >
                <span>同事（4）</span>
              </div>
              <div class="large-18 medium-24 small-24 column">
                <div class="userList select scrollCss">
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <img class="selectImg" src="../assets/img/1.jpg">
                    </div>
                    <div class="media-object-section center">
                      <div class="selectName">
                        <span>张三</span>
                      </div>
                    </div>
                  </div>
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <img class="selectImg" src="../assets/img/3.png">
                    </div>
                    <div class="media-object-section center">
                      <div class="selectName">
                        <span>李四</span>
                      </div>
                    </div>
                  </div>
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <img class="selectImg" src="../assets/img/2.jpg">
                    </div>
                    <div class="media-object-section center">
                      <div class="selectName">
                        <span>王五</span>
                      </div>
                    </div>
                  </div>
                  <div class="media-object">
                    <div class="media-object-section shrink">
                      <img class="selectImg" src="../assets/img/4.jpg">
                    </div>
                    <div class="media-object-section center">
                      <div class="selectName">
                        <span>赵六</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="文字" name="ocr">
            <a slot="label" class="square" title="文字标记识别"><i class="fa fa-font"></i> 文字</a>
            <div class="loading" v-if="faceLoading === true">
              正在识别中...
            </div>
            <div class="userInfo padding-b" v-else>
              <p style="font-family: '微软雅黑';font-size: 36px">字体：微软雅黑、字体样式：angular、字体大小：68点</p>
            </div>
          </el-tab-pane>
        </el-tabs>
        <div v-if="dragOptions.comment !== true" class="tab-content" v-show="activeName === 'areaMark' || activeName === 'dotMark'">
        <el-input
          type="textarea"
          :rows="3"
          placeholder="写些什么..."
          v-model="mark.desc">
        </el-input>
        <div class="markerStyle media-object no-margin" v-if="activeName === 'dotMark'">
          <div class="media-object-section shrink align-center">
            <span class="color-secondary">标记风格</span>
          </div>
          <div class="media-object-section">
            <a v-for="icon in dotStyle" :key="icon" @click="changeMarkStyle(icon)">
              <i :class="'fa fa-' + icon"></i>
            </a>
          </div>
        </div>
      </div>
        <div v-else>
          <el-input
            type="textarea"
            :rows="3"
            placeholder="写些什么..."
            v-model="mark.comment">
          </el-input>
        </div>
        <div class="footer text-right">
          <el-button size="tiny" @click="popoverVisible = false">取消</el-button>
          <el-button type="primary" size="tiny" @click="submit()">确定</el-button>
        </div>
      </el-popover>
      <div ref="dragElem" title="点击编辑" class="dragElem drsElement drsMoveHandle"
        :style="dragStyle"
        :class="{dot: activeName === 'dotMark'}"
        v-show="isStart"
        v-popover:popover2>
        <i :class="'fa fa-' + currIcon" v-if="activeName === 'dotMark'"></i>
      </div>
    </div>
  </div>
</template>
<script>
  import DragResize from '@/util/DragResize'
  import ImgTracking from './ImgTracking'
  var resizeObj = null
  var _this = null
  export default {
    data () {
      return {
        faceLoading: false,
        restaurants: [],
        state4: '',
        timeout: null,
        input5: '我是识别出来的文字、你好、哈',

        isStart: false,
        dragReisize: null,
        dragStyle: {
          left: '0',
          top: '0',
          width: '36px',
          height: '36px'
        },
        popoverVisible: false,
        mark: {
          id: null,
          editable: false,
          left: Number,
          top: Number,
          width: '',
          height: '',
          comment: '',
          type: 1, // 1：dot,2: squire
          desc: '',
          iconType: 'plus',
          highlight: false
        },
        markContain: null,
        marks: this.value,
        isDot: false, // 是否为打点标记
        currIcon: 'plus',
        dotStyle: ['plus', 'circle', 'question', 'info', 'exclamation'],
        activeName: 'areaMark',
        selectUsers: [],
        keyword: ''
      }
    },
    props: {
      value: {},
      dragOptions: {
        minWidth: 36,
        minHeight: 36,
        minLeft: 0,
        minTop: 0,
        maxLeft: 600,
        maxTop: 600,
        intLeft: 0,
        intTop: 0,
        comment: Boolean
      },
      start: Boolean
    },
    computed: {
      reverseMarks () {
        return this.value ? this.value.sort(this.compare('height', 'width')) : this.value
      }
    },
    methods: {
      compare (height, width) {
        return function (a, b) {
          var val1 = parseInt(a[height]) * parseInt(a[width])
          var val2 = parseInt(b[height]) * parseInt(b[width])
          return val2 - val1
        }
      },
      handleClick (tab, event) {
        if (tab.name === 'dotMark') {
          this.currIcon = 'plus'
          this.isDot = false
          resizeObj.elmX += (resizeObj.elmW - 36) / 2
          resizeObj.elmY += resizeObj.elmH - 36
          resizeObj.elmW = 36
          resizeObj.elmH = 36
          this.dragReisize.style.top = resizeObj.elmY + 'px'
          this.dragReisize.style.left = resizeObj.elmX + 'px'
          this.dragElemStyle()
          this.isDot = true
        } else {
          this.isDot = false
        }
        if (tab.name === 'faceRecognition' || tab.name === 'ocr') {
          this.queryString()
        }
      },
      queryString () {
        this.faceLoading = true
        setTimeout(() => {
          this.faceLoading = false
        }, 1000)
      },
      loadAll () {
        return []
      },
      querySearchAsync (queryString, cb) {
        var restaurants = this.restaurants
        var results = queryString ? restaurants.filter(this.createStateFilter(queryString)) : restaurants

        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          cb(results)
        }, 3000 * Math.random())
      },
      createStateFilter (queryString) {
        return (state) => {
          return (state.value.indexOf(queryString.toLowerCase()) === 0)
        }
      },
      handleSelect (item) {
//        console.log(item)
      },

      init () {
        this.dragReisize = this.$refs.dragElem
        this.dragReisize.style.left = this.dragOptions.intLeft
        this.dragReisize.style.top = this.dragOptions.intTop
//        if (resizeObj) return
        _this = this
        resizeObj = new DragResize('dragresize', this.dragOptions)
        resizeObj.elmW = this.dragOptions.minWidth
        resizeObj.elmH = this.dragOptions.minHeight
        // Optional settings/properties of the DragResize object are:
        // enabled: Toggle whether the object is active.
        // handles[]: An array of drag handles to use (see the .JS file).
        // minWidth, minHeight: Minimum size to which elements are resized (in pixels).
        // minLeft, maxLeft, minTop, maxTop: Bounding box (in pixels).

        // Next, you must define two functions, isElement and isHandle. These are passed
        // a given DOM element, and must "return true" if the element in question is a
        // draggable element or draggable handle. Here, I'm checking for the CSS classname
        // of the elements, but you have have any combination of conditions you like:

        resizeObj.isElement = (elm) => {
          if (elm.className && elm.className.indexOf('drsElement') > -1) return true
        }
        resizeObj.isHandle = (elm) => {
          if (elm.className && elm.className.indexOf('drsMoveHandle') > -1) return true
        }

        // You can define optional functions that are called as elements are dragged/resized.
        // Some are passed true if the source event was a resize, or false if it's a drag.
        // The focus/blur events are called as handles are added/removed from an object,
        // and the others are called as users drag, move and release the object's handles.
        // You might use these to examine the properties of the DragResize object to sync
        // other page elements, etc.

        resizeObj.ondragfocus = () => {
          _this.popoverVisible = false
        }
        resizeObj.ondragstart = (isResize) => {
          _this.popoverVisible = false
        }
        resizeObj.ondragmove = isResize => {
          _this.popoverVisible = false
        }
        resizeObj.ondragend = isResize => {
          _this.popoverVisible = true
          _this.queryString()
        }
        resizeObj.ondragblur = () => {
          _this.popoverVisible = false
        }

        // Finally, you must apply() your DragResize object to a DOM node; all children of this
        // node will then be made draggable. Here, I'm applying to the entire document.
        resizeObj.apply(this.$refs.markContain)
      },
      dragElemStyle () {
        this.dragReisize.style.width = '36px'
        this.dragReisize.style.height = '36px'
      },
      changeMarkPosition (e) {
        var event = e || window.event
        var target = event.target
        this.markContain = this.$refs.markContain

        if (target !== this.markContain) return
        var width = parseInt(this.dragReisize.style.width) / 2
        var height = parseInt(this.dragReisize.style.height) / 2
        resizeObj.elmX = e.offsetX - width
        resizeObj.elmY = e.offsetY - height
        this.dragStyle.left = resizeObj.elmX + 'px'
        this.dragStyle.top = resizeObj.elmY + 'px'
        this.isStart = true
      },
      changeMarkStyle (icon) {
        this.mark.iconType = icon
        this.currIcon = icon
      },
      submit () {
        this.dragElemStyle()
        this.isStart = this.popoverVisible = false
        this.mark.left = resizeObj.elmX / this.dragOptions.maxLeft * 100 + '%'
        this.mark.top = resizeObj.elmY / this.dragOptions.maxTop * 100 + '%'
        this.mark.width = resizeObj.elmW / this.dragOptions.maxLeft * 100 + '%'
        this.mark.height = resizeObj.elmH / this.dragOptions.maxTop * 100 + '%'
        this.mark.type = this.isDot ? 1 : 2
        this.currMark = {...this.mark}

//        this.$emit('input', this.marks)
        this.$emit('submit', this.currMark)
        this.mark = {
          left: Number,
          top: Number,
          width: '',
          height: '',
          comment: '',
          type: 1, // 1：dot,2: squire
          title: '',
          desc: '',
          url: '',
          iconType: 'plus'
        }
        this.changeMarkStyle('plus')
      },
      searchAction () {
        this.$emit('searchAction', this.keyword)
      }
    },
    mounted () {
      this.restaurants = this.loadAll()
    },
    components: {
      ImgTracking
    },
    watch: {
      start (val) {
        this.$nextTick(() => {
          if (val) {
            this.activeName = 'areaMark'
            this.init()
            this.dragElemStyle()
          } else {
            resizeObj = null
            this.popoverVisible = false
          }
          this.isStart = val
        })
      }
    }
  }
</script>
<style>
  @import "css/variable.css";
  .marks-contain{
    cursor: crosshair;
    height: 100%;
    position: relative;
    z-index: 100;
  }
  .dragElem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 2px;
    border: .2rem solid #fff;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgba(0,0,0,.3);
    cursor: move;
    box-sizing: border-box;
    &:hover {
      opacity: 1 !important;
    }
  }
  .marks-wrapper:hover{
    & .mark, & .dot{
      opacity: 0.4;
    }
  }
  .mark{
    box-sizing: border-box;
    border-radius: 2px;
    border: 3px solid white;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    z-index: 100;
    cursor: default;
    color: #fff;
    & i {
      display: flex;
      height:100%;
      align-items: center;
      justify-content: center;
    }
    &:hover, &.active {
      opacity: 1 !important;
    }
  }
  .dot{
    opacity: 1;
    border-radius: 100% !important;
    & > div{
      display: none;
    }
    &:active{
      background: rgba(0,0,0,.6);
    }
    &:after{
      content: "";
      position: absolute;
      top: -11px;
      left: -11px;
      right: -11px;
      bottom: -11px;
      border: 3px solid hsla(0,0%,100%,.5);
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-animation: markerPulse 1s infinite linear alternate;
      animation: markerPulse 1s infinite linear alternate;
      pointer-events: none;
    }
  }
  @keyframes markerPulse {
    0% {
        -webkit-transform: scale(.85);
        transform: scale(.85)
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
  }
  /*
The DragResize object name is automatically applied to all generated
corner resize handles, as well as one of the individual classes below.
*/
.dragresize {
position: absolute;
width: 5px;
height: 5px;
font-size: 1px;
background: #EEE;
border: 1px solid #333;
}

/*
Individual corner classes - required for resize support.
These are based on the object name plus the handle ID.
*/
.dragresize-tl {
top: -8px;
left: -8px;
cursor: nw-resize;
}
.dragresize-tm {
top: -8px;
left: 50%;
margin-left: -4px;
cursor: n-resize;
}
.dragresize-tr {
top: -8px;
right: -8px;
cursor: ne-resize;
}

.dragresize-ml {
top: 50%;
margin-top: -4px;
left: -8px;
cursor: w-resize;
}
.dragresize-mr {
top: 50%;
margin-top: -4px;
right: -8px;
cursor: e-resize;
}

.dragresize-bl {
bottom: -8px;
left: -8px;
cursor: sw-resize;
}
.dragresize-bm {
bottom: -8px;
left: 50%;
margin-left: -4px;
cursor: s-resize;
}
.dragresize-br {
bottom: -8px;
right: -8px;
cursor: se-resize;
}
.markerStyle{
  padding: 4px 10px;
}
.markerStyle a{
  color: #999;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  background-color: #fff;
  border-radius: 100%;
  float: left;
  margin: 0 4px 0 0;
  &:hover{
    background: var(--color-primary);
    color: #fff;
  }
}
.mark-edit{
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 9px;
  & .searchArea{
    padding-left: 6px;
    max-height: none;
    min-height: auto;
    & .inline-input{
      width: 100%;
      margin: 0px;
      & .el-input__inner{
        height: 36px;
      }
    }
  }
  & .selectTitle{
    padding: 5px 6px;
  }
  & .select{
    overflow: auto;
    overflow-x: hidden;
    height: 118px;
    min-height: auto;
    &>div{
      padding: 6px;
    }
    & .media-object-section:first-child{
      padding-right: 10px;
    }
    & .selectImg{
      width: 24px;
    }
    & .selectName{
      font-size: 12px;
    }
  }
  & input {
    height: 30px;
    font-size: 13px;
  }
  & textarea{
    font-size: 13px;
    border:none;
    padding:10px;
  }
  & .el-button{
    width: 56px;
    height: 24px;
    padding: 0;
    font-size:12px;
    font-weight: bold;
    margin: 0 0px 4px 4px;
  }
  & .footer {
    margin:4px 0;
    padding: 4px 4px 0;
    box-shadow: 0px -1px 1px rgba(0,0,0,.2);
  }
}
  .tab-list {
    font-size: 1rem;
    & .el-tabs__header{
      margin-bottom:6px;
    }
    & a {
      margin-right:10px;
      font-size: 12px;
      &.square{
        & i{
          display: inline-block;
          text-align: center;
          border: 1px solid #333;
          height: 14px;
          width: 14px;
          line-height: 14px;
          margin-right:4px;
        }
      }
    }
    & .el-tabs__item {
      padding: 0 6px;
      width: 25%;
      text-align: center;
    }
    & .el-tabs__nav{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    & .loading{
      height:100px;
      text-align: center;
      line-height: 100px;
      font-size: 14px;
    }
  }
  .userInfo .el-autocomplete {
    width:100%;
  }
  .searchTag{
    margin: 3px 0px;
    padding-left: 6px;
    border-top: 1px solid color(var(--color-grey) tint(70%));
    & span{
      line-height: 18px;
      height: 20px;
      font-size: 12px;
      cursor: pointer;
      color: var(--color-primary);
    }
  }
</style>
