<template>
  <div slot='aaa'>
    <el-popover
      ref="dotDesc"
      placement="bottom"
      width="200"
      trigger="click">
      <i></i>
      <div v-if="tracker.comment === ''">
        <p class="color-secondary no-margin">
          {{tracker.desc}}
        </p>
      </div>
      <div v-else class="color-secondary">
        {{tracker.comment}}
      </div>
    </el-popover>
    <div class="mark"
         :class="{dot: tracker.type === 1, active: tracker.highlight}"
         v-popover:dotDesc
         v-bind:style="{left: tracker.left , top: tracker.top, width: tracker.width, height: tracker.height,zIndex: zIndex}"
    >
      <i :class="'fa fa-' + tracker.iconType" v-if="tracker.type === 1"></i>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {}
    },
    props: {
      tracker: {},
      zIndex: Number
    },
    methods: {
      remove: function (tracker) {
        this.$emit('delete', tracker)
      }
    },
    watched: {
      tracker (val) {
        console.log(111, val)
      }
    }
  }
</script>
<style>
  .rect {
    text-align: center;
    color: #fff;
  }
  .rect.icon{border-radius: 100%;opacity: 0.75;}
  .rect.icon span{display: none;}
  .rect span{
    display: inline-block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    z-index: 10;
  }
  .mark{cursor: pointer;}
  .dot {
    border-radius: 100%;
    cursor: pointer;
    background: rgba(0,0,0,.6);
  }
</style>
