<template>
  <div class="loading-layer">
    <div class="letter-holder clearfix" v-if="loading">
      <div class="letter-1 letter">L</div>
      <div class="letter-2 letter">o</div>
      <div class="letter-3 letter">a</div>
      <div class="letter-4 letter">d</div>
      <div class="letter-5 letter">i</div>
      <div class="letter-6 letter">n</div>
      <div class="letter-7 letter">g</div>
      <div class="letter-8 letter">.</div>
      <div class="letter-9 letter">.</div>
      <div class="letter-10 letter">.</div>
    </div>
    <!--<div class="no-data-text" v-else>没有更多数据</div>-->
    <div class="no-data-text" v-if="noData">{{ message || '已经被掏空...' }}</div>
  </div>
</template>
<script>
  export default {
    name: 'ListLoading',
    data () {
      return {}
    },
    props: {
      message: String,
      loading: {
        type: Boolean,
        default: true
      },
      noData: {
        type: Boolean,
        default: false
      }
    },
    mounted () {
    }
  }
</script>
<style scoped="scoped">
  .loading-layer{
    text-align: center;
    padding: 1rem;
  }
  .letter-holder{
    padding: 6px 1rem;
    display: inline-block;
    & .letter {
      animation-name: loadingF;
      animation-duration: 1.6s;
      animation-iteration-count: infinite;
      animation-direction: linear;
      float: left;
      font-size: 1rem;
      color: #777;
    }
    & .letter-1 {
      animation-delay:.48s
    }
    & .letter-2 {
      animation-delay:.6s
    }
    & .letter-3 {
      animation-delay:.72s
    }
    & .letter-4 {
      animation-delay:.84s
    }
    & .letter-5 {
      animation-delay:.96s
    }
    & .letter-6 {
      animation-delay:1.08s
    }
    & .letter-7 {
      animation-delay:1.2s
    }
    & .letter-8 {
      animation-delay:1.32s
    }
    & .letter-9 {
      animation-delay:1.44s
    }
    & .letter-10 {
      animation-delay:1.56s
    }
  }
  @keyframes loadingF {
    0% {
      opacity:0
    }
    100% {
    opacity:1
    }
  }
  .no-data-text{
    font-size: 12px;
    color: #999;
  }
</style>
