<template>
  <el-dialog
    title="头像设置"
    :visible.sync="dialogVisible"
    custom-class="avator-dialog"
    @close="close"
    @open="open"
    size="tiny">
    <div class="upload-loading"
         v-loading="false"
         v-if="false"
         element-loading-text="正在上传..."
    ></div>
    <el-row>
      <el-col :span="12">
        <div class="cropper-wrapper">
          <croppa
            ref="croppa"
            v-model="croppa"
            :zoom-speed="30"
            :width="250"
            :height="250"
            :quality="1"
            :prevent-white-space="true"
            :initial-image="initImage"
            @new-image="newImage"
            @move="handleCroppaMove"
            @zoom="handleCroppaZoom"
            @image-remove="handleImageRemove"
            placeholder="可以拖拽图片到此处或者点击上传"
            :placeholder-font-size="14"
          >
            <!--<img crossOrigin="anonymous"-->
                 <!--:src="initImage"-->
                 <!--slot="initial">-->
          </croppa>
          <el-button-group class="margin-t">
            <el-button title="水平翻转" size="tiny" @click="flipX"><i class="fa fa-arrows-h"></i></el-button>
            <el-button title="竖直翻转" size="tiny" @click="flipY"><i class="fa fa-arrows-v"></i></el-button>
            <el-button title="放大" size="tiny" @click="zoomIn"><i class="fa fa-search-plus"></i></el-button>
            <el-button title="放大" size="tiny" @click="zoomOut"><i class="fa fa-search-minus"></i></el-button>
          </el-button-group>
          <span class="adjust-position" v-show="adjustShow" style="width: 110px;">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i> <span>拖动调整位置</span>
          </span>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="avator-preview clearfix">
          <div class="square-avator">
            <img :src="dataUrl" alt="头像预览"/>
          </div>
          <div class="avator">
            <img :src="dataUrl" alt="头像预览"/>
          </div>
        </div>
        <p class="color-secondary">头像预览</p>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">取 消</el-button>
      <el-button type="primary" :disabled="isUploading" @click="upload"><i v-if="isUploading" class="fa fa-circle-o-notch fa-spin"></i>确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
  import { rest } from '@/util'
  import Croppa from '@/components/croppa'
  export default {
    data () {
      return {
        showCroppa: false,
        croppa: {},
        dataUrl: '',
        dialogVisible: false,
        initImage: '',
        isUploading: false,
        adjustShow: false
      }
    },
    props: {
      avatorVisible: Boolean,
      initialImage: String
    },
    mounted () {
      this.initImage = this.initialImage
      this.dataUrl = this.initialImage
      this.adjustShow = !!this.initImage
    },
    methods: {
      flipX () {
        this.adjustShow = false
        this.croppa.flipX()
        this.updateCroppaedImage()
      },
      flipY () {
        this.adjustShow = false
        this.croppa.flipY()
        this.updateCroppaedImage()
      },
      zoomIn () {
        this.croppa.zoomIn()
      },
      zoomOut () {
        this.croppa.zoomOut()
      },
      handleCroppaMove () {
        this.adjustShow = false
        this.updateCroppaedImage()
      },
      handleCroppaZoom () {
        this.adjustShow = false
        this.updateCroppaedImage()
      },
      handleImageRemove () {
        this.adjustShow = false
        this.dataUrl = ''
        this.initImage = ''
      },
      newImage () {
        this.adjustShow = true
        this.updateCroppaedImage()
        //        setTimeout(() => {
//          this.dataUrl = this.croppa.generateDataUrl()
//        }, 300)
      },
      updateCroppaedImage () {
        this.croppa.generateBlob((blob) => {
          this.dataUrl = this.croppa.generateDataUrl(blob)
        }, 'image/png', 1)
      },
      upload () {
        this.isUploading = true
        if (!this.croppa.hasImage()) {
          this.msgWarning('未选择上传图片！')
          this.isUploading = false
          return
        }
        this.croppa.generateBlob((blob) => {
          let fd = new FormData()
          let chosenFile = this.croppa.getChosenFile()
          let filename = 'default.jpg'
          if (chosenFile) {
            filename = this.croppa.getChosenFile().name
          }
          fd.append('file', blob, filename)
          rest.post('/zuul/file/web/upload?st=1', fd)
          .then((data) => {
            this.isUploading = false
            this.$emit('uploadSuccess', data, blob)
            this.dialogVisible = false
          })
          .catch(e => {
            this.isUploading = false
            this.$emit('uploadError', e)
            if (e && e.status >= 10000 && e.message) {
              this.msgError(e.message)
            } else {
              this.msgError(e)
            }
          })
        })
      },
      close () {
        this.$emit('close')
        this.initImage = ''
        this.dataUrl = ''
        this.croppa.remove()
      },
      open () {
        this.$emit('open')
        this.initImage = this.initialImage
        this.dataUrl = this.initialImage
        if (this.croppa && this.croppa.refresh) {
          this.croppa.refresh()
        }
      }
    },
    watch: {
      avatorVisible (nv) {
        if (nv) {
          this.dialogVisible = nv
        }
      },
      initialImage (nv, ov) {
        this.initImage = nv
        this.dataUrl = nv
      },
      initImage (nv, ov) {
        this.adjustShow = !!nv
      },
      croppa (nv, ov) {
//        console.log('watch-croppa', nv)
//        console.log('watch-croppa-ref', this.$refs.croppa)
//        if (nv) {
//          nv.refresh()
//        }
      }
    },
    components: {
      Croppa
    }
  }
</script>
<style>
  /*裁剪组件*/
  .cropper-wrapper{
    position: relative;
    & .croppa-container{
      border: 1px solid #ddd;
      display: block;
    }
    & .fa {
      margin: 0 auto;
    }
    & .el-button-group {
      margin-left: 44px;
    }
  }
  .avator-dialog{
    width: 100%;
    max-width: 560px;
    & .el-dialog__body{
      position: relative;
    }
    & .upload-loading{
      position: absolute !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
    & .square-avator {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      height: 140px;
      width: 140px;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      background: #f1f1f1;
      overflow: hidden;
      border: 1px solid #ddd;
    }
    & .avator{
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #f1f1f1;
      overflow: hidden;
      border: 1px solid #ddd;
    }
    & .avator-preview + p {
      margin: 24px 0 0 0;
      text-align: center;
    }
    & .cropper-wrapper{
      & .adjust-position{
        bottom: 60%;
      }
    }
  }
</style>
