<template>
  <a :href="href" class="notify_con">
    <div class="media-object">
      <div class="media-object-section">
        <img :src="src" alt="用户头像" />
      </div>
      <div class="media-object-section">
         <div class="title">
            <span>陈伟霆 </span>在 <span>格调是怎么养成的</span>
            评论了你的帖子
          </div> 
          <div class="Info">
            <span class="time">1分钟前</span>
          </div>
      </div>
    </div>
  </a>
</template>
<script>
  export default {
    data () {
      return {}
    },
    props: {
      href: String,
      src: String,
      time: String
    }
  }
</script>
<style scoped="">
  .notify_con{display: block;}
  .notify_con .media-object .title{
    max-width: 190px;
    overflow: hidden;
  }
</style>
