<template>
  <div>
    <div ref="viewerContainer" class="viewerContainer" v-loading="!$slots.default">
      <div ref="viewer" class="pdfViewer"></div>
    </div>
    <div class="footer-menu  middle-tool-bar">
      <template v-if="$slots.default">
        <slot></slot>
        <a>|</a>
      </template>
      <a @click="zoomIn" title="放大"><i class="fa fa-search-plus"></i></a>
      <a @click="zoomOut" title="缩小"><i class="fa fa-search-minus"></i></a>
      <a @click="zoomReset" title="重置"><i class="fa fa-undo"></i></a>
      <a>|</a>
      <a @click="prevPage" class="padding-r0" title="上一页"><i class="fa fa-chevron-circle-up"></i></a>
      <input v-model.number="page" @input="inputPage" :max="pagesCount" type="number" class="toolbarField pageNumber" title="Page" size="4" min="1">
      <span class="toolbarLabel font-s14">/ {{pagesCount}}</span>
      <a @click="nextPage" class="padding-l0" title="下一页"><i class="fa fa-chevron-circle-down"></i></a>
    </div>
  </div>
</template>

<script>
// 参考代码 https://github.com/mozilla/pdf.js/blob/master/examples/webpack/
import 'pdfjs-dist/webpack'
import { PDFJS } from 'pdfjs-dist/web/pdf_viewer'
// import 'pdfjs-dist/lib/web/pdf_print_service'
import 'pdfjs-dist/web/pdf_viewer.css'
import { throttle } from '@/util'

const MIN_SCALE = 0.25
const MAX_SCALE = 10.0
const DEFAULT_SCALE_DELTA = 1.1

export default {
  data () {
    return {
      outline: null,
      outlineMap: null,
      page: 1,
      pagesCount: 0,
      pdfViewer: null,
      pdfLinkService: null,
      pdfFindController: null,
      firstPageReady: false
    }
  },
  props: {
    src: String,
    searchFor: String,
    container: HTMLDivElement
  },
  mounted () {
    this.$nextTick(() => {
      this.simpleViewer()
    })
    this.$on('pagechange', e => {
      if (!this.outlineMap) {
        return
      }
      let ol
      Object.values(this.outlineMap).some(o => {
        if (e.pageNumber === o.pageNumber) {
          ol = o
          return true
        } else {
          return false
        }
      })
      if (ol) {
        this.$emit('outlinechange', ol.key)
      }
      this.page = e.pageNumber
    })
  },
  methods: {
    resize () {
      this.pdfViewer.update()
    },
    inputPage: throttle(function () {
      this.goToPage(this.page)
    }, 800, true),
    prevPage () {
      this.goToPage(this.page - 1)
    },
    nextPage () {
      this.goToPage(this.page + 1)
    },
    goToPage (page) {
      if (page > 0 && page <= this.pagesCount) {
        this.pdfLinkService.page = page
        this.page = page
      }
    },
    goToOutline (o) {
      let ol = this.outlineMap ? this.outlineMap[o.key] : null
      if (ol) {
        this.pdfLinkService.navigateTo(ol.dest)
      }
    },
    zoomIn (ticks) {
      let newScale = this.pdfViewer.currentScale
      do {
        newScale = (newScale * DEFAULT_SCALE_DELTA).toFixed(2)
        newScale = Math.ceil(newScale * 10) / 10
        newScale = Math.min(MAX_SCALE, newScale)
      } while (--ticks > 0 && newScale < MAX_SCALE)
      if (newScale === 1) {
        newScale = 'page-width'
      }
      this.pdfViewer.currentScaleValue = newScale
    },
    zoomOut (ticks) {
      let newScale = this.pdfViewer.currentScale
      do {
        newScale = (newScale / DEFAULT_SCALE_DELTA).toFixed(2)
        newScale = Math.floor(newScale * 10) / 10
        newScale = Math.max(MIN_SCALE, newScale)
      } while (--ticks > 0 && newScale > MIN_SCALE)
      if (newScale === 1) {
        newScale = 'page-width'
      }
      this.pdfViewer.currentScaleValue = newScale
    },
    zoomReset () {
      this.pdfViewer.currentScaleValue = 'page-width'
    },
    simpleViewer () {
      // 参考代码 https://github.com/mozilla/pdf.js/blob/master/examples/components/simpleviewer.html

      let container = this.container || this.$refs.viewerContainer

      // (Optionally) enable hyperlinks within PDF files.
      let pdfLinkService = this.pdfLinkService = new PDFJS.PDFLinkService()

      let firstPageReady = false
      let pdfViewer = this.pdfViewer = new PDFJS.PDFViewer({
        container: container,
        viewer: this.$refs.viewer,
        removePageBorders: true,
        eventBus: {
          on: (eventName, listener) => {
            this.$on(eventName, listener)
          },
          off: (eventName, listener) => {
            this.$off(eventName, listener)
          },
          dispatch: (eventName, ...args) => {
            if (eventName === 'textlayerrendered' && !firstPageReady) {
              firstPageReady = true
              this.$emit('pagestextlayerloaded', ...args)
            }
            this.$emit(eventName, ...args)
          }
        },
        linkService: pdfLinkService
      })
      pdfLinkService.setViewer(pdfViewer)

      // (Optionally) enable find controller.
      let pdfFindController = this.pdfFindController = new PDFJS.PDFFindController({
        pdfViewer: pdfViewer
      })
      pdfViewer.setFindController(pdfFindController)

      this.$on('pagesinit', () => {
      // container.addEventListener('pagesinit', () => {
        // We can use pdfViewer now, e.g. let's change default scale.
        pdfViewer.currentScaleValue = 'page-width'

        if (this.searchFor) { // We can try search for things
          pdfFindController.executeCommand('find', {query: this.searchFor})
        }
      })

      // Loading document.
      PDFJS.getDocument(this.src).then(pdfDocument => {
        // Document loaded, specifying document for the viewer and
        // the (optional) linkService.
        pdfViewer.setDocument(pdfDocument)
        this.pagesCount = pdfDocument.numPages

        pdfViewer.pagesPromise.then(() => {
          pdfDocument.getOutline()
          .then(ol => {
            ol = JSON.parse(JSON.stringify(ol))
            let nol = []
            let olm = {}
            let setKey = function (l, nol, k) {
              if (l) {
                l.forEach((o, i) => {
                  let no = {
                    key: k + (i + 1),
                    label: o.title
                  }
                  if (o.items && o.items.length > 0) {
                    no.children = []
                    setKey(o.items, no.children, no.key + '.')
                  }
                  let pn = pdfLinkService._cachedPageNumber(o.dest[0])
                  if (pn) {
                    o.pageNumber = pn
                    o.key = no.key
                  }
                  olm[no.key] = o
                  nol.push(no)
                })
              }
            }
            setKey(ol, nol, '')
            this.$emit('outlineloaded', nol)
            this.outline = ol
            this.outlineMap = olm
          })
        })

        pdfLinkService.setDocument(pdfDocument, null)
      })
    }
  }
}
</script>

<style>
.footer-menu {
  width: 382px;
}
.tool-bar {
  position: absolute;
  top: 0;
  z-index: 100;
}
.toolbarField {
  padding: 3px 6px;
  margin: 4px 0 4px 0;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: hsla(0,0%,100%,.09);
  background-image: linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-clip: padding-box;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,0%,.05) inset, 0 1px 0 hsla(0,0%,100%,.05);
  color: hsl(0,0%,95%);
  font-size: 12px;
  line-height: 14px;
  outline-style: none;
  transition-property: background-color, border-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease;
  &.pageNumber {
    -moz-appearance: textfield;
    min-width: 16px;
    text-align: right;
    width: 30px;
    margin-left: 4px;
    font: message-box;
    outline: none;
  }
}
.toolbarLabel {
    min-width: 16px;
    padding: 3px 6px 3px 2px;
    margin: 4px 2px 4px 0;
    border: 1px solid transparent;
    border-radius: 2px;
    color: hsl(0,0%,85%);
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: default;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>
