<template>
  <ul class="people_list clearfix">
  	<li v-for="(item, index) in list" :key='getUser(item.userId).id' :style="{
        width: 100/count + '%'
      }">
      <user-block tagName="div" :user="getUser(item.userId)">
        <router-link :to="{ name: 'user', params: { userId: getUser(item.userId).id }}" :style="{width: size + 'px',height: size + 'px'}" :title="getUserName(item.userId)">
          <img :src="getUserAvatar(item.userId)" v-error-img:user :alt="getUserName(item.userId)" />
        </router-link>
        <i class="fa fa-user" v-if="members.length > 0 && item.type === 3"></i>
      </user-block>
    </li>
    <!--<li
      :style="{
        width: 100/(count + 1) + '%'
      }"
    >
      <a :href="[href ? href : '']" :style="{
        width: size + 'px',height: size + 'px'
      }" title="查看更多">
        <i class="fa fa-ellipsis-h"></i>
      </a>
    </li>-->
  </ul>
</template>
<script>
  import UserBlock from '@/views/user/UserBlock'

  export default {
    data () {
      return {
        styleObj: {
          width: '50px'
        }
      }
    },
    components: {
      UserBlock
    },
    computed: {
      users () {
        return this.$store.state.dataPool.users
      },
      list () {
        if (this.members && this.members.length > 0) {
          return this.members
        } else {
          let listmap = []
          this.uids.forEach(v => {
            let map = {
              userId: v
            }
            listmap.push(map)
          })
          return listmap
        }
      }
    },
    props: {
      size: String,
      count: Number, // 每行放几个
      name: String,
      href: String,
      flag: Boolean,
      uids: {
        type: Array,
        default: function () {
          return []
        }
      },
      members: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    watch: {
      uids (nv, ov) {
        this.storeNeedData({
          type: 'user',
          dataIds: nv
        })
      }
    },
    methods: {
      getUserList (ids) {
        this.storeNeedData({
          type: 'user',
          dataIds: ids
        }).then(users => {
          if (this.members.length > 0) {
            for (let m of this.members) {
              this.$set(users[m.userId], 'type', m.type)
            }
          }
        })
      },
      getUser (uid) {
        return this.users[uid] || {id: uid}
      },
      getUserAvatar (uid) {
        let user = this.getUser(uid)
        return user && user.avatar ? user.avatar : ''
      },
      getUserName (uid) {
        let user = this.getUser(uid)
        return user && user.userName ? user.userName : uid
      },
      getUserType (uid) {
        let user = this.getUser(uid)
        return user && user.type ? user.type : ''
      }
    },
    mounted () {}
  }
</script>
<style>
@import 'css/variable.css';
  .people_list {
    margin: 0;
    & li {
      float: left;
      list-style: none;
      position: relative;
      & a{
        display: block;
        margin:0 0 6px 0;
        border-radius: 50%;
        overflow: hidden;
        background-color: #F4F4F4;
        & img {
          height: 100%;
          width: 100%;
        }
      }
      & i {
        position: absolute;
        right: 2px;
        bottom: 8px;
        font-size: 1.2rem;
        color: color(var(--color-warning) tint(30%))
      }
    }
  }
</style>
