<template>
  <el-dialog
    title="图库"
    :visible.sync="dialogVisible"
    custom-class="poster-dialog"
    @close="close"
    @open="open"
    size="small">
    <div class="upload-loading"
         v-loading="false"
         v-if="false"
         element-loading-text="正在上传..."
    ></div>
    <el-row>
      <el-col :span="24">
        <!--<el-tabs v-model="activeName">-->
          <!--<el-tab-pane label="本地上传" name="first">-->
            <!--<div class="cropper-wrapper">-->
              <!--<croppa-->
                <!--v-model="croppa"-->
                <!--:zoom-speed="30"-->
                <!--:width="518"-->
                <!--:height="288"-->
                <!--:quality="1"-->
                <!--:prevent-white-space="true"-->
                <!--@new-image="newImage"-->
                <!--@move="handleCroppaMove"-->
                <!--@zoom="handleCroppaZoom"-->
                <!--@image-remove="handleImageRemove"-->
                <!--placeholder="可以拖拽图片到此处或者点击上传"-->
                <!--:placeholder-font-size="14"-->
              <!--&gt;-->
                <!--<img width="260px" height="260px" v-if="initImage" crossOrigin="anonymous"-->
                     <!--:src="initImage"-->
                     <!--slot="initial">-->
              <!--</croppa>-->
            <!--</div>-->
          <!--</el-tab-pane>-->
          <!--<el-tab-pane label="图库" name="second">-->
            <div class="picture-select-box scrollCss">
              <div class="large-up-3 img-list clearfix">
                <div v-for="(poster, index) in posters" :key="index" class="column flex-center" :class="{'poster-select':isSelected(index)}" @click="selectPoster(index)">
                  <a><img :src="poster.imgPreviewSrc" :alt="poster.name"/></a>
                  <span>{{poster.name}}</span><i></i>
                </div>
              </div>
            </div>
          <!--</el-tab-pane>-->
        <!--</el-tabs>-->
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer" v-if="showActionBtn">
      <el-button @click="dialogVisible = false">取 消</el-button>
      <el-button type="primary"  @click="action">确 定</el-button>
    </span>
  </el-dialog>
</template>
<script>
  export default {
    data () {
      return {
        dialogVisible: false,
        activeName: 'second',
        selected: false,
        selectImgIndex: 10
      }
    },
    props: {
      showPicLib: Boolean,
      showActionBtn: {
        type: Boolean,
        default: true
      },
      posters: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    methods: {
      action () {
        if (this.selectImgIndex < this.posters.length) {
          var poster = this.posters[this.selectImgIndex]
          if (poster) {
            this.$emit('action', poster.imgSrc)
            return
          }
        }
        this.$emit('action')
      },
      close () {
        this.$emit('close')
      },
      open () {
        this.$emit('open')
      },
      isSelected (index) {
        if (this.selectImgIndex === index) {
          return true
        } else {
          return false
        }
      },
      selectPoster (index) {
        this.selectImgIndex = index
        if (!this.showActionBtn) {
          this.action()
        }
      }
    },
    mounted () {
      this.dialogVisible = this.showPicLib
    },
    watch: {
      showPicLib (nv) {
        this.dialogVisible = nv
      }
    }
  }
</script>
<style>
  /*裁剪组件*/
  .poster-dialog{
    width: 100%;
    max-width: 560px;
    & .el-dialog__body{
      position: relative;
      padding-top: 8px;
      padding-bottom: 0px;
    }
    & .el-dialog__footer {
      padding: 0px 20px 15px;
    }
    & .upload-loading{
      position: absolute !important;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
    & .square-avator {
      display: flex;
      height: 140px;
      width: 140px;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      background: #f1f1f1;
      overflow: hidden;
      border: 1px solid #ddd;
    }
    & .avator{
      margin-top: 1rem;
      height: 100px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #f1f1f1;
      overflow: hidden;
      border: 1px solid #ddd;
    }
    & .avator-preview + p{
      margin: 1rem 0 0 0;
    }
    & .el-tabs{
      & .el-tabs__content{
        overflow: visible;
      }
      & .el-tabs__active-bar{
        background-color: #2498ff;
      }
      & .el-tabs__item.is-active{
        color: #2498ff;
      }
    }
    & svg{
      width:30px !important;
      height: 30px !important;
    }
  }
  .picture-select-box {
    height: 400px;
    margin-bottom:10px;
    background: #ffffff;
    overflow-y: scroll;
    position: relative;
    & .img-list{
      position: relative;
      margin: 0px;
      & .column{
        list-style: none;
        width: 156px;
        float: left;
        margin: 5px 9px 0px 5px;
        position: relative;
        & a{
          height: 94px;
        }
        & img{
          width: 200px;
          height: 100%;
          object-fit: cover;
        }
        & span{
          font-size: 16px;
          line-height: 28px;
          height: 28px;
          font-weight: bold;
          color: var(--color-secondary);
          margin-top: 7px;
        }
      }
      & .column:hover{
        & a{
          box-shadow: 0px 0px 0px 5px #2498ff;
        }
      }
      & .column.poster-select{
        & a{
          box-shadow: 0px 0px 0px 5px #2498ff;
        }
        & i{
          position: absolute;
          width: 45px;
          height: 45px;
          line-height: 0px;
          background: url(../assets/img/bg-select.png) no-repeat;
          z-index: 99;
          margin-right: 0px;
          top: 0px;
          right: 0px;
          float: right;
          zoom: 1;
        }
      }
    }
  }
</style>
