<template>
  <span :title="dateStr">{{relativeTimeStr}}</span>
</template>

<script>
import { dateFormat } from '@/util'
let moment

function relativeTime (date) {
  let comp = (Date.now() - date) < 7 * 24 * 60 * 60 * 1000
  let d = moment(date)
  return comp ? d.fromNow() : d.format('YYYY-MM-DD HH:mm:ss')
}

export default {
  props: {
    date: [String, Number, Date, Object]
  },
  computed: {
    dateStr () {
      return dateFormat(this.date)
    }
  },
  data () {
    return {
      relativeTimeStr: ''
    }
  },
  watch: {
    date () {
      this.toRelativeTime()
    }
  },
  created () {
    this.toRelativeTime()
  },
  methods: {
    toRelativeTime () {
      if (moment) {
        this.relativeTimeStr = relativeTime(this.date)
      } else {
        import(/* webpackChunkName: "moment" */ 'moment')
        .then(m => {
          if (m) {
            moment = m
            moment.locale('zh-cn')
            this.relativeTimeStr = relativeTime(this.date)
          }
        })
      }
    }
  }
}
</script>

<style>
</style>
