<template>
  <div class="marks-wrapper" ref='ssss'>
    <div class="marks-contain">
      <el-popover
      ref="popover2"
      placement="bottom"
      title="标题"
      width="320"
      trigger="hover"
      :open-delay="0"
      :value="visible">
      <el-input
        type="textarea"
        :rows="2"
        placeholder="请输入内容"
        v-model="textarea3">
      </el-input>
      <el-button type="primary" class="margin-t10 float-right" size="small">确定</el-button>
    </el-popover>
    	<div class="dragElem drsElement drsMoveHandle" :style="dragStyle"  v-popover:popover2></div>
    </div>
  </div>
</template>
<script>
  import DragResize from '@/util/DragResize'
  export default {
    data () {
      return {
        dragReisize: null,
        dragOptions: {
          minWidth: 50,
          minHeight: 50,
          minLeft: 0,
          minTop: 0,
          maxLeft: 600,
          maxTop: 600
        },
        dragStyle: {
          left: '0',
          top: '0',
          width: '60px',
          height: '60px',
          background: '#CDF'
        }
      }
    },
    props: {
    },
    methods: {
    },
    mounted () {
      var dragObject = new DragResize('dragresize', this.dragOptions)
      // Optional settings/properties of the DragResize object are:
      // enabled: Toggle whether the object is active.
      // handles[]: An array of drag handles to use (see the .JS file).
      // minWidth, minHeight: Minimum size to which elements are resized (in pixels).
      // minLeft, maxLeft, minTop, maxTop: Bounding box (in pixels).

      // Next, you must define two functions, isElement and isHandle. These are passed
      // a given DOM element, and must "return true" if the element in question is a
      // draggable element or draggable handle. Here, I'm checking for the CSS classname
      // of the elements, but you have have any combination of conditions you like:

      dragObject.isElement = (elm) => {
        if (elm.className && elm.className.indexOf('drsElement') > -1) return true
      }
      dragObject.isHandle = (elm) => {
        if (elm.className && elm.className.indexOf('drsMoveHandle') > -1) return true
      }

      // You can define optional functions that are called as elements are dragged/resized.
      // Some are passed true if the source event was a resize, or false if it's a drag.
      // The focus/blur events are called as handles are added/removed from an object,
      // and the others are called as users drag, move and release the object's handles.
      // You might use these to examine the properties of the DragResize object to sync
      // other page elements, etc.

      dragObject.ondragfocus = () => {
//        console.log('1', dragObject)
      }
      dragObject.ondragstart = (isResize) => {
//        console.log('2', dragObject)
      }
      dragObject.ondragmove = (isResize) => {
//        console.log('3', dragObject)
      }
      dragObject.ondragend = (isResize) => {
//        console.log('4', dragObject)
      }
      dragObject.ondragblur = () => {
//        console.log('5', dragObject)
      }
//    debugger

      // Finally, you must apply() your DragResize object to a DOM node; all children of this
      // node will then be made draggable. Here, I'm applying to the entire document.
      dragObject.apply(document)
//      console.log(10, this.dragReisize)
    },
    watched: {
    }
  }
</script>
<style>
  .marks-wrapper{
    height: 600px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid #0000FF;
    position: relative;
    & .marks-contain{
      height: 100%;
    }
  }
  .dragElem {
    position: absolute;
    border: 1px solid #333;
    height: 100px;
    width: 100px;
    left: 50px;
     top: 150px;
    background-color: #CCC;
    border-bottom: 1px solid #666;
    cursor: move;
    &:hover {
      opacity: 1 !important;
    }
  }

  /*
The DragResize object name is automatically applied to all generated
corner resize handles, as well as one of the individual classes below.
*/
.dragresize {
position: absolute;
width: 5px;
height: 5px;
font-size: 1px;
background: #EEE;
border: 1px solid #333;
}

/*
Individual corner classes - required for resize support.
These are based on the object name plus the handle ID.
*/
.dragresize-tl {
top: -8px;
left: -8px;
cursor: nw-resize;
}
.dragresize-tm {
top: -8px;
left: 50%;
margin-left: -4px;
cursor: n-resize;
}
.dragresize-tr {
top: -8px;
right: -8px;
cursor: ne-resize;
}

.dragresize-ml {
top: 50%;
margin-top: -4px;
left: -8px;
cursor: w-resize;
}
.dragresize-mr {
top: 50%;
margin-top: -4px;
right: -8px;
cursor: e-resize;
}

.dragresize-bl {
bottom: -8px;
left: -8px;
cursor: sw-resize;
}
.dragresize-bm {
bottom: -8px;
left: 50%;
margin-left: -4px;
cursor: s-resize;
}
.dragresize-br {
bottom: -8px;
right: -8px;
cursor: se-resize;
}
</style>
