<template>
  <div class="feeds">
    <div v-if="statusFetch">加载中...</div>
    <div
      v-else
      v-for="item in items"
      :key="getItemKey(item)"
    >
      POST, user: {{item.userId}}, date: {{item.createTime | dateFormat}}, content: {{item.objContent.title}}
    </div>
    <button v-if="index" @click="getData">更多</button>
 </div>
</template>

<script>
import storeDataMixin from '@/store/storeDataMixin'

export default {
  mixins: [storeDataMixin],
  computed: {
    listUrlParams () {
      let params = {}
      params.groupId = this.groupId
      params.userId = this.userId
      params.index = this.index
      return params
    },
    index () {
      return this.storeState.index
    }
  },
  props: {
    groupId: String,
    userId: String
  },
  methods: {
  }
}
</script>
