<template>
  <div class="feeds">
    <div v-if="statusFetch">加载中...</div>
    <div
      v-else
      v-for="item in items"
      :key="getItemKey(item)"
    >
      POST, user: {{item.userId}}, date: {{item.createTime | dateFormat}}, content: {{item.objContent.title}}
    </div>
    <button v-if="index" @click="getData">更多</button>
 </div>
</template>

<script>
import restDataMixin from '@/util/restDataMixin'

export default {
  mixins: [restDataMixin],
  computed: {
    listUrlParams () {
      let params = {}
      params.groupId = this.groupId
      params.userId = this.userId
      params.index = this.index
      return params
    },
    restUrlGetAll () {
      let url
      if (this.groupId) {
        url = '/page/feeds/group/{{groupId}}'
      } else {
        url = '/page/feeds/dynamic/{{userId}}'
      }
      url += '?len={{size}}&index={{index}}'
      return url
    }
  },
  data () {
    return {
      index: ''
    }
  },
  props: {
    groupId: String,
    userId: String
  },
  methods: {
    restFilterGetAll (req) {
      return req.then(json => {
        this.index = json.index
        return {
          size: this.rest.page.size,
          totalElements: -1,
          content: json.feeds
        }
      })
      .catch(err => {
        if (err.status < 10000) {
          console.log('system error:', err)
        } else {
          console.log('app error:', err)
        }
      })
    }
  }
}
</script>
