<template>
  <div class="cropper-wrapper" @mouseenter="handleMouseEnter">
    <template  v-show="!coverShow">
      <div
        @click="croppa.chooseFile()">
        <croppa
          ref="croppaRef"
          v-model="croppa"
          :zoom-speed="zoomSpeed"
          :width="width"
          :height="height"
          :quality="quality"
          :prevent-white-space="true"
          :show-remove-button="false"
          @new-image="newImage"
          @move="handleCroppaMove"
          @zoom="handleCroppaZoom"
          @image-remove="handleImageRemove"
          :initial-image="initialImage"
          :initial-size="initialSize"
          initial-position="center"
          :placeholder="placeholder"
          :placeholder-font-size="14"
        >
          <!--<img width="260px" height="260px" v-if="initImage" crossOrigin="anonymous"-->
               <!--:src="initImage"-->
               <!--slot="initial">-->
        </croppa>
      </div>
      <el-popover
        popper-class="vertical group-background"
        ref="background"
        placement="bottom"
        width="180"
        trigger="click"
        v-model="groupMenusShow">
        <div class="large-up-3 img-list clearfix">
          <div v-for="(poster, index) in recommends.slice(0, 7)" :key="index" class="column flex-center" >
            <a><img :src="poster.imgPreviewSrc" @click="setImage(poster.imgSrc)" :title="poster.name" :alt="poster.name"/></a>
          </div>
          <div class="column flex-center">
            <a @click="random">随机</a>
          </div>
          <div class="column flex-center">
            <a @click="openPicLib">更多</a>
          </div>
        </div>
      </el-popover>
      <slot name="operArea">
        <el-button-group>
          <el-button type="primary" size="small" v-popover:background v-if="recommendShow" title="图片推荐">推荐</el-button>
          <el-button type="primary" size="small" @click="chooseFile" title="选择图片"><i class="fa fa-camera" aria-hidden="true"></i></el-button>
          <el-button type="primary" icon="close" size="small" @click="croppa.remove()" title="移除图片"></el-button>
        </el-button-group>
      </slot>
      <span class="adjust-position" v-show="adjustShow && adjustBtnShow">
          <i class="fa fa-arrows-alt" aria-hidden="true"></i> <span>拖动调整位置，滚动调整大小</span>
        </span>
    </template>
    <slot name="cover" v-if="coverShow">
    </slot>
  </div>
</template>
<script>
  import Croppa from '@/components/croppa'
  import { rest } from '@/util'
  export default {
    props: {
      value: Object,
      width: Number,
      height: Number,
      adjustBtnShow: {
        type: Boolean,
        default: function () {
          return true
        }
      },
      zoomSpeed: {
        type: Number,
        default: 10
      },
      quality: {
        type: Number,
        default: 1
      },
      initImage: [String, Image],
      placeholder: String,
      recommends: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    data () {
      return {
        croppa: {},
        groupMenusShow: false,
        adjustShow: false,
        coverShow: true,
        initialImage: null,
        initialSize: 'cover'
      }
    },
    components: {
      Croppa
    },
    methods: {
      chooseFile () {
        this.$refs.croppaRef.scaleRatio = null
        this.croppa.chooseFile()
      },
      random () {
        let random = Math.floor(Math.random() * this.recommends.length)
        this.setImage(this.recommends[random].imgSrc)
      },
      setImage (imgSrc) {
        this.croppa.remove()
        this.coverShow = false
        this.initialImage = imgSrc
        this.croppa.refresh()
        this.$emit('new-image', imgSrc)
      },
      handleMouseEnter () {
//        this.adjustShow = this.adjustBtnShow
      },
      handleCroppaMove () {
        this.adjustShow = false
        this.uploadCroppaedImage()
        this.$emit('move')
      },
      handleCroppaZoom () {
        this.adjustShow = false
        this.uploadCroppaedImage()
        this.$emit('zoom')
      },
      handleImageRemove () {
        this.adjustShow = false
        this.coverShow = true
        this.$emit('image-remove')
      },
      newImage () {
        this.coverShow = false
        this.adjustShow = true
        this.$emit('new-image')
      },
      uploadCroppaedImage () {
//        this.croppa.generateBlob((blob) => {
//          this.dataUrl = this.croppa.generateDataUrl(blob)
//        }, 'image/png', this.quality)
      },
      openPicLib () {
        this.$emit('openPicLib', this)
      },
      upload () {
        if (!this.croppa.hasImage()) {
          return Promise.reject(new Error('没有图片'))
        }
        var promise = new Promise((resolve, reject) => {
          this.croppa.generateBlob((blob) => {
            let fd = new FormData()
            let chosenFile = this.croppa.getChosenFile()
            let filename = 'default.png'
            if (chosenFile) {
              filename = this.croppa.getChosenFile().name
            }
            fd.append('file', blob, filename)
            rest.post('/zuul/file/web/upload?st=1', fd)
              .then((data) => {
                resolve(data)
              }).catch(e => {
                reject(e)
              })
          }, 'image/png', this.quality)
        })
        return promise
      },
      refresh () {
        this.coverShow = !this.initImage
        this.croppa.refresh()
      },
      remove () {
        this.croppa.remove()
        this.coverShow = true
      }
    },
    mounted () {
//      this.adjustShow = !!this.initImage && this.adjustBtnShow
      this.initialImage = this.initImage
      this.coverShow = !this.initImage
      if (this.croppa && this.croppa.refresh) {
        this.croppa.refresh()
      }
    },
    computed: {
      recommendShow () {
        return this.recommends && this.recommends.length > 0
      }
    },
    watch: {
      initImage (nv, ov) {
        this.initialImage = nv
        this.refresh()
      },
      value (nv, ov) {
        this.croppa = nv
      },
      croppa (nv, ov) {
        this.$emit('input', nv)
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .cropper-wrapper{
    position: relative;
    & canvas {
      background: transparent;
    }
    & .croppa-container {
      background: transparent;
    }
    & .oper-area{
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      & .el-button{
        /*background-color: transparent;*/
        /*border: transparent;*/
        margin: 0px;
      }
    }
    & .cover{
      position: absolute;
      z-index: 199;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      background: rgba(210,210,210,1);
      & span{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 12px;
        line-height: 310px;
      }
      & .flag{
        position: absolute;
        left: 0;
        right: 0;
        top: -18px;
        bottom: 0;
        margin: auto;
        display: inline-block;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        overflow: hidden;
        line-height: 36px;
        background: #5aab5a;
        color: #fff;
        text-align: center;
      }
    }
    & .fa {
      margin: 0 auto;
    }
    & .el-button-group {
      margin-left: 60px;
    }
    & .adjust-position {
      width: 216px;
    }
  }
</style>
