<template>
  <div class="column-tag-box">
    <!--已选栏目-->
    <label class="selectCol">已选栏目</label>
    <div>
      <span
        class="lg-tag"
        :class="[type ? 'bg-' + type : '', {'is-hit': hit}]"
        :style="{backgroundColor: color}"
        v-for='(tag, index) in tags'
        :key="tag"
        @click.stop="handleClose(tag)"
      >
          <span v-if="!tag.inp">{{tag.val}}</span>
      </span>
      <slot name="box"></slot>
    </div>
    <!--待选栏目-->
    <label class="allCol">选择更多栏目</label>
    <div class="recTags" v-if="recTags">
  		<span
        class="lg-tag"
        :class="[type ? 'bg-' + type : '', {'is-hit': hit}]"
        :style="{backgroundColor: color}"
        v-for='(tag, index) in recTags'
        :key="tag"
        @click="addTags(tag)"
        v-show="!currtag['curr' +index]"
      >
      	{{tag}}
    	</span>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'LgTag',
    props: {
      text: String,
      closable: Boolean,
      type: String,
      hit: Boolean,
      closeTransition: Boolean,
      color: String,
      value: {
        type: Array,
        default: function () {
          return []
        }
      },
      recTags: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    data () {
      return {
        currtag: {},
        saveTagindex: [],
        inputVisible: false,
        inputValue: '',
        spanVal: '',
        visible: [],
        resultTags: [],
        tags: []
      }
    },
    computed: {
      rectag: {
        get () {
          return this.currtag
        },
        set (rectags) {
          var length = rectags.length
          for (let i = 0; i < length; i++) {
            this.currtag['curr' + i] = false
          }
        }
      }
    },
    mounted () {
      this.initTags(this.value)
      this.rectag = this.recTags
    },
    watch: {
      value (val, old) {
        let tmpTags = this.tags.map(t => t.val)
        if (val.length !== this.tags.length || JSON.stringify(val) !== JSON.stringify(tmpTags)) {
          this.initTags(val)
          this.saveTagindex = []
          this.currtag = []
        }
      },
      saveTagindex (val) {
        var length = this.recTags.length
        for (let i = 0; i < length; i++) {
          this.currtag['curr' + i] = false
        }
        for (var v of this.saveTagindex) {
          this.currtag['curr' + v] = true
        }
      }
    },
    methods: {
      initTags (tags) {
        var a = tags
        var b = this.recTags
        for (var i = 0; i < b.length; i++) {
          var temp = b[i].toString()
          for (var j = 0; j < a.length; j++) {
            if (temp === a[j]) {
              this.saveTagindex.push(i)
              break
            }
          }
        }
        this.tags = tags.map(t => ({val: t, inp: false}))
      },
//      选择标签
      addTags (tag) {
        var tag1 = tag.toString()
        this.tags.push({
          val: tag1,
          inp: false
        })
        this.compare(tag)
        this.$emit('input', this.tags.map(t => t.val))
      },
//      排重
      compare (tag) {
        var len = this.recTags.length
        for (let i = 0; i < len; i++) {
          if (tag === this.recTags[i].toString()) {
            this.saveTagindex.push(i)
          }
        }
      },
//      取消标签
      handleClose (tag) {
        this.delsameTagindex(tag.val)
        this.tags.splice(this.tags.indexOf(tag), 1)
        this.$emit('input', this.tags.map(t => t.val))
      },
      delsameTagindex (val) {
        var i = this.recTags.indexOf(val)
        var obj = this.saveTagindex
        let len = obj.length
        for (let j = 0; j < len; j++) {
          if (i === this.saveTagindex[j]) {
            this.saveTagindex.splice(j, 1)
          }
        }
      }
    }
  }
</script>
<style scoped="">
  .column-tag-box{
    margin-bottom: 0.5rem;
    padding: 0px 20px;
  }
  .column-tag-box>div{
    min-height:110px;
    border: #d2e1f9 1px solid;
    line-height: 26px;
    border: 1px solid rgb(209, 217, 229);
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
  }
  .lg-tag{
    background-color: #e4e8f1;
    display: inline-block;
    padding: 1px 5px;
    margin: 0px 6px;
    height: 20px;
    line-height: 16px;
    font-size: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid transparent;
    white-space: nowrap;
    cursor: pointer;
  }
  .lg-tag i{
    font-size: 1rem;
    cursor: pointer;
  }
  .column-tag-box .recTags .lg-tag{
    font-size: 15px;
    cursor: pointer;
  }
  .column-tag-box .recTags .lg-tag i{
    font-size: 12px;
  }
  .column-tag-box .button, .column-tag-box input{
    margin:0 0 0 6px
  }
  .column-tag-box .add-new-tag{
    width: 78px;
    vertical-align: bottom;
    height: 16px;
  }
  .selectCol,
  .allCol{
    float: none;
    display: inline-block;
    text-align: left;
    padding: 0 0 10px 0;
  }
  .allCol{
    padding: 10px 0;
  }
</style>
