<template>
  <div class="marks-wrapper">
    <div class="marks-contain" ref='markContain' v-show="start" @click.self="changeMarkPosition">
      <el-popover
      ref="popover2"
      placement="bottom"
      width="320"
      trigger="hover"
      :open-delay="0"
      popper-class="zIndex mark-edit"
      v-model="popoverVisible">
      <loading :loading="isLoading"></loading>
      <div v-if="!isLoading">
        <h4 class="margin-b4 h-underline">自动检测（中文）</h4>
        <p class="margin-b10">字体：微软雅黑、字体样式：angular、字体大小：68点</p>
        <div class="edit" contenteditable="true">Tencent腾讯
          <el-button type="primary" class="margin-t10 float-right" size="small" @click="submit()">复制</el-button>
        </div>
        <h4 class="h-underline">自动翻译：（中文）</h4>
        <div class="edit">om
          <el-button type="primary" class="margin-t10 float-right" size="small" @click="submit()">复制</el-button>
        </div>
        <p class="font-s12"><span class="color-secondary">腾讯公司 http://www.tencent </span>om;</p>
      </div>
    </el-popover>
    <div ref="dragElem" class="dragElem drsElement drsMoveHandle"
      :style="dragStyle"
      v-show="isStart"
      v-popover:popover2>
    </div>
    <el-popover
      ref="po"
      placement="bottom"
      width="300"
      trigger="hover"
      :open-delay="0"
      popper-class="zIndex mark-edit">
      <h4 class="margin-b4 h-underline">自动检测（中文）</h4>
        <p class="margin-b10">字体：微软雅黑、字体样式：angular、字体大小：68点</p>
        <div class="edit" contenteditable="true">《我是创始人》创业实战真人秀阵容首发
          <el-button type="primary" class="margin-t10 float-right" size="small" @click="submit()">复制</el-button>
        </div>
        <h4 class="h-underline">自动翻译：（中文）</h4>
        <div class="edit">《我是创始人》创业实战真人秀阵容首发
          <el-button type="primary" class="margin-t10 float-right" size="small" @click="submit()">复制</el-button>
        </div>
        <p class="font-s12">爱奇艺<a class="color-secondary"> https://v.qq.com/x/cover/tp90ta4y5tv3oyz.html?ptag=iqiyi </a></p>
    </el-popover>
    <div class="mark" style="left: 320px;top: 102px;width: 554px;height:165px;opacity: 1;border-width: 2px;background:rgba(0,0,0,.3) ;" v-popover:po></div>
    </div>
  </div>
</template>
<script>
  import DragResize from '@/util/DragResize'
  import Loading from './ListLoading'
  var resizeObj = null
  var _this = null
  export default {
    data () {
      return {
        isStart: false,
        dragReisize: null,
        dragStyle: {
          left: '0',
          top: '0',
          width: '100px',
          height: '100px'
        },
        popoverVisible: false,
        markContain: null,
        isLoading: false
      }
    },
    props: {
      start: Boolean,
      dragOptions: {
        minWidth: 36,
        minHeight: 36,
        minLeft: 0,
        minTop: 0,
        maxLeft: 600,
        maxTop: 600
      }
    },
    methods: {
      init () {
        this.dragReisize = this.$refs.dragElem
        _this = this
        resizeObj = new DragResize('dragresize', this.dragOptions)
        resizeObj.elmW = this.dragOptions.minWidth
        resizeObj.elmH = this.dragOptions.minHeight
        // Optional settings/properties of the DragResize object are:
        // enabled: Toggle whether the object is active.
        // handles[]: An array of drag handles to use (see the .JS file).
        // minWidth, minHeight: Minimum size to which elements are resized (in pixels).
        // minLeft, maxLeft, minTop, maxTop: Bounding box (in pixels).

        // Next, you must define two functions, isElement and isHandle. These are passed
        // a given DOM element, and must "return true" if the element in question is a
        // draggable element or draggable handle. Here, I'm checking for the CSS classname
        // of the elements, but you have have any combination of conditions you like:

        resizeObj.isElement = (elm) => {
          if (elm.className && elm.className.indexOf('drsElement') > -1) return true
        }
        resizeObj.isHandle = (elm) => {
          if (elm.className && elm.className.indexOf('drsMoveHandle') > -1) return true
        }

        // You can define optional functions that are called as elements are dragged/resized.
        // Some are passed true if the source event was a resize, or false if it's a drag.
        // The focus/blur events are called as handles are added/removed from an object,
        // and the others are called as users drag, move and release the object's handles.
        // You might use these to examine the properties of the DragResize object to sync
        // other page elements, etc.

        resizeObj.ondragfocus = () => {
        }
        resizeObj.ondragstart = (isResize) => {
          _this.popoverVisible = false
        }
        resizeObj.ondragmove = isResize => {
          _this.popoverVisible = false
        }
        resizeObj.ondragend = isResize => {
          _this.popoverVisible = true
          _this.isLoading = true
          setTimeout(() => {
            _this.isLoading = false
          }, 1000)
        }
        resizeObj.ondragblur = () => {
        }

        // Finally, you must apply() your DragResize object to a DOM node; all children of this
        // node will then be made draggable. Here, I'm applying to the entire document.
        resizeObj.apply(this.$refs.markContain)
      },
      dragElemStyle () {
        this.dragReisize.style.width = '100px'
        this.dragReisize.style.height = '100px'
      },
      changeMarkPosition (e) {
        var event = e || window.event
        var target = event.target
        this.markContain = this.$refs.markContain

        if (target !== this.markContain) return
        var width = parseInt(this.dragStyle.width) / 2

        resizeObj.elmX = e.offsetX - width
        resizeObj.elmY = e.offsetY - width
        this.dragStyle.left = resizeObj.elmX + 'px'
        this.dragStyle.top = resizeObj.elmY + 'px'
        this.isStart = true
      }
    },
    mounted () {
    },
    components: {
      Loading
    },
    watch: {
      start (val) {
        if (val) {
          this.init()
          this.dragElemStyle()
        } else {
          resizeObj = null
        }
      }
    }
  }
</script>
<style>
  .marks-contain{
    cursor: crosshair;
    height: 100%;
    position: relative;
  }
  .dragElem {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 2px;
    border: .2rem solid #fff;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgba(0,0,0,.3);
    cursor: move;
    box-sizing: border-box;
    &:hover {
      opacity: 1 !important;
    }
  }
  /*
The DragResize object name is automatically applied to all generated
corner resize handles, as well as one of the individual classes below.
*/
.dragresize {
position: absolute;
width: 5px;
height: 5px;
font-size: 1px;
background: #EEE;
border: 1px solid #333;
}

/*
Individual corner classes - required for resize support.
These are based on the object name plus the handle ID.
*/
.dragresize-tl {
top: -8px;
left: -8px;
cursor: nw-resize;
}
.dragresize-tm {
top: -8px;
left: 50%;
margin-left: -4px;
cursor: n-resize;
}
.dragresize-tr {
top: -8px;
right: -8px;
cursor: ne-resize;
}

.dragresize-ml {
top: 50%;
margin-top: -4px;
left: -8px;
cursor: w-resize;
}
.dragresize-mr {
top: 50%;
margin-top: -4px;
right: -8px;
cursor: e-resize;
}

.dragresize-bl {
bottom: -8px;
left: -8px;
cursor: sw-resize;
}
.dragresize-bm {
bottom: -8px;
left: 50%;
margin-left: -4px;
cursor: s-resize;
}
.dragresize-br {
bottom: -8px;
right: -8px;
cursor: se-resize;
}
.markerStyle a{
  color: #999;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 32px;
  height: 32px;
  border: 2px solid #999;
  background-color: #fff;
  border-radius: 100%;
  float: left;
  margin: 0 4px 4px 0;
}
.edit{
  position: relative;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  & button{
    position: absolute;
    right: 6px;
    top: -6px;
  }
}
</style>
