<template>
  <div class="video-player" ref="videoPlayer">
    <video ref="video" class="video-js vjs-custom-skin"></video>
    <div v-if="showFullscreenBtn" class="swiper-button-fullscreen">
      <a @click="openFullscreen" class="fullscreen">
        <i class="fa fa-expand" v-if="!isFull"></i>
        <i class="fa fa-compress" v-else></i>
      </a>
    </div>
    <div class="media-tool-bar  middle-tool-bar">
      <el-tooltip class="item" effect="dark" content="Marker" placement="top">
        <a><i class="fa fa-dot-circle-o" aria-hidden="true"></i></a>
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="评论" placement="top">
        <a><i class="fa fa-commenting"></i></a>
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="字幕编辑" placement="top">
        <a><i class="fa fa-font"></i></a>
      </el-tooltip>
      <el-tooltip class="item" effect="dark" content="弹幕开关" placement="top">
        <a class="font-s16">弹幕</a>
      </el-tooltip>
    </div>
  </div>
</template>

<script>
  import videojs from 'video.js'
  import { fullscreen } from '@/util/lg-fullscreen.js'
  import { currVideoPlayInfo, currVideoPlayControl, types as playerTypes } from '@/store/modules/player'

  window.videojs = videojs
  require('video.js/dist/video-js.css')
  var languages = require('./languages.js')
  export default {
    name: 'video-player',
    data () {
      return {
        isFull: false
      }
    },
    props: {
      options: {
        type: Object,
        required: true
      }
    },
    mounted () {
      if (!this.player) {
        this.initialize()
      }
      this.$store.commit(playerTypes.M_CHANGE_CURRENT_VIDEO_CONTROL_COMMAND, '')
    },
    beforeDestroy () {
      if (this.player) {
        this.currVideoPlayInfo = {
          id: this._uid,
          sourceId: this.options.sourceId,
          currentTime: this.player.currentTime()
        }
        this.$store.commit(playerTypes.M_CHANGE_CURRENT_VIDEO_CONTROL_COMMAND, '')
      }
    },
    methods: {
      initialize () {
        // init
        var self = this
        this.player = null
        // options
        var videoOptions = Object.assign({
          // component options
          start: 0,
          playsinline: false,
          customEventName: 'statechanged',
          // videojs options
          autoplay: false,
          controls: true,
          preload: 'auto',
          fluid: false,
          muted: false,
          width: '100%',
          height: '360',
          language: 'en',
          controlBar: {
            remainingTimeDisplay: false,
            playToggle: {},
            progressControl: {},
            fullscreenToggle: {},
            volumeMenuButton: {
              inline: false,
              vertical: true
            }
          },
          techOrder: ['html5'],
          playbackRates: [],
          plugins: {}
        }, this.options)
        // check sources
        /*
        if (!videoOptions.sources || !videoOptions.sources.length) {
          console.warn('Missing required option: "sources".')
          return false
        }
        */
        // add language
        var language = videoOptions.language
        videojs.addLanguage(language, languages[language])
        // ios fullscreen
        var playsinline = videoOptions.playsinline
        if (playsinline) {
          this.$el.children[0].setAttribute('playsinline', playsinline)
          this.$el.children[0].setAttribute('webkit-playsinline', playsinline)
        }
        // emit event
        var emitPlayerState = function (event, value) {
          if (event) {
            self.$emit(event, self.player)
          }
          if (value) {
            var values = {}
            values[event] = value
            self.$emit(videoOptions.customEventName, values)
          }
        }
          // videoOptions
          // console.log(videoOptions)
          // avoid error "VIDEOJS: ERROR: Unable to find plugin: __ob__"
        if (videoOptions.plugins) {
          delete videoOptions.plugins.__ob__
        }
        this.player = videojs(this.$el.children[0], videoOptions, function () {
          // player readied
          self.$emit('ready', self.player)
          this.on('loadeddata', function () {
            this.muted(videoOptions.muted)
            if (videoOptions.start) {
              this.currentTime(videoOptions.start)
            }
            emitPlayerState('loadeddata', true)
          })
          this.on('canplay', function () {
            emitPlayerState('canplay', true)
          })
          this.on('canplaythrough', function () {
            emitPlayerState('canplaythrough', true)
          })
          this.on('play', function () {
            self.currVideoPlayInfo = { id: self._uid }
            self.$store.commit(playerTypes.M_CHANGE_CURRENT_VIDEO_CONTROL_COMMAND, '')
            emitPlayerState('play', true)
          })
          this.on('pause', function () {
            emitPlayerState('pause', true)
          })
          this.on('waiting', function () {
            emitPlayerState('waiting', true)
          })
          this.on('playing', function () {
            emitPlayerState('playing', true)
          })
          this.on('ended', function () {
            emitPlayerState('ended', true)
          })
          this.on('timeupdate', function () {
            emitPlayerState('timeupdate', this.currentTime())
          })
        })
      },
      openFullscreen () {
        this.isFull = !this.isFull
        fullscreen(this.$refs.videoPlayer).init()
      }
    },
    watch: {
      currVideoPlayInfo (nv, ov) {
        if (nv && nv.id && nv.id !== this._uid) {
          this.player.pause()
        }
        if (nv && nv.sourceId && nv.sourceId === this.options.sourceId) {
          this.player.currentTime(nv.currentTime)
        }
      },
      'currVideoPlayControl.command' (nv, ov) {
        if (nv) {
          let info = this.currVideoPlayInfo
          if (!info || info.id !== this._uid) {
            return
          }
          // 执行控制命令
          nv.split('|').forEach((cmd) => {
            if (!cmd) {
              return
            }
            if (cmd === 'play') {
              this.player.play()
            } else if (cmd === 'pause') {
              this.player.pause()
            } else if (cmd === 'getCurrentTime') {
              this.$store.commit(playerTypes.M_CHANGE_CURRENT_VIDEO_CONTROL_RESULT, this.player.currentTime())
            } else if (cmd === 'setCurrentTime') {
              this.player.currentTime(this.currVideoPlayControl.param)
            }
            this.$store.commit(playerTypes.M_CHANGE_CURRENT_VIDEO_CONTROL_COMMAND, '')
          })
        }
      }
    },
    created () {
    },
    computed: {
      currVideoPlayInfo,
      currVideoPlayControl,
      showFullscreenBtn () {
        return !!this.options.showFullBtn
      }
    }
  }
</script>
<style>
@import 'css/variable.css';
.video-player {
  width: 100%;
  height: 100%;
  display: box;
  display: flex;
  box-pack: center;
  flex-pack: center;
  justify-content: center;
  flex-align: center;
  align-items: center;
  text-align: center;
  & .media-tool-bar{
    opacity: 0;
    bottom: 52px;
    width: 200px;
    position: absolute;
    transition: opacity .3s;
  }
  &:hover .media-tool-bar{
    opacity: 1;
  }
}
.position-left .video-player > div:first-child {
    height:100%;
}
.position-left .vjs-fullscreen-control{
  display: none;
}
.video-js.vjs-custom-skin {
  width: 100%;
  font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
}

.video-js.vjs-custom-skin .vjs-menu-button-inline.vjs-slider-active,.video-js.vjs-custom-skin .vjs-menu-button-inline:focus,.video-js.vjs-custom-skin .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
  width: 10em
}

.video-js.vjs-custom-skin .vjs-controls-disabled .vjs-big-play-button {
  display: none!important
}

.video-js.vjs-custom-skin .vjs-control {
  width: 3em
}

.video-js.vjs-custom-skin .vjs-control.vjs-live-control{
  width: auto;
  padding-left: .5em;
  letter-spacing: .1em;
}

.video-js.vjs-custom-skin .vjs-menu-button-inline:before {
  width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
  left: 3em
}

.vjs-paused.vjs-has-started.video-js.vjs-custom-skin .vjs-big-play-button,.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button {
  display: block
}

.video-js.vjs-custom-skin .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button {
  display: none!important
}

.video-js.vjs-custom-skin .vjs-mouse-display:after,.video-js.vjs-custom-skin .vjs-play-progress:after {
  padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
  display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
  display: block !important;
}

.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button,.vjs-paused.vjs-has-started.video-js.vjs-custom-skin .vjs-big-play-button {
  display: block
}

.video-js.vjs-custom-skin .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-left: -1.5em;
  margin-top: -1em
}

.video-js.vjs-custom-skin .vjs-big-play-button {
  background-color: rgba(0,0,0,0.45);
  font-size: 3.5em;
   /*border-radius: 50%;*/
  height: 2em !important;
  line-height: 2em !important;
  margin-top: -1em !important
}

.video-js:hover .vjs-big-play-button,.video-js.vjs-custom-skin .vjs-big-play-button:focus,.video-js.vjs-custom-skin .vjs-big-play-button:active {
  background-color: rgba(36,131,213,0.9)
}

.video-js.vjs-custom-skin .vjs-loading-spinner {
  border-color: rgba(36,131,213,0.8)
}

.video-js.vjs-custom-skin .vjs-control-bar2 {
  background-color: #000000
}

.video-js.vjs-custom-skin .vjs-control-bar {
   /*background-color: rgba(0,0,0,0.3) !important;*/
  color: #ffffff;
  font-size: 14px
}

.video-js.vjs-custom-skin .vjs-play-progress,.video-js.vjs-custom-skin  .vjs-volume-level {
  background-color: #2483d5
}

.video-js.vjs-custom-skin .vjs-play-progress:before {
  top: -0.3em;
}

.video-js.vjs-custom-skin .vjs-progress-control:hover .vjs-progress-holder {
  font-size: 1.3em;
}

.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0em;
}

.video-js.vjs-custom-skin .vjs-menu li {
  padding: 0;
  line-height: 2em;
  font-size: 1.1em;
  font-family: "PingFang SC","Helvetica Neue","Hiragino Sans GB","Segoe UI","Microsoft YaHei","微软雅黑",sans-serif;
}

.video-js.vjs-custom-skin .vjs-time-tooltip,
.video-js.vjs-custom-skin .vjs-mouse-display:after,
.video-js.vjs-custom-skin .vjs-play-progress:after {
  border-radius: 0;
  font-size: 1em;
  padding: 0;
  width: 3em;
  height: 1.5em;
  line-height: 1.5em;
  top: -3em;
}

.video-js.vjs-custom-skin .vjs-menu-button-popup .vjs-menu {
  width: 5em;
  left: inherit;
  right: 0;
}

.video-js.vjs-custom-skin .vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  left: 0;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-resolution-button .vjs-menu {
   /*order: 4;*/
}

 /*排序顺序*/
.video-js.vjs-custom-skin .vjs-control-bar .vjs-play-control {
  order: 0;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-time-control {
  min-width: 1em;
  padding: 0;
  margin: 0 .1em;
  text-align: center;
  display: block;
  order: 1;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-playback-rate .vjs-playback-rate-value{
  font-size: 1.2em;
  line-height: 2.4;
}

.video-js.vjs-custom-skin .vjs-progress-control.vjs-control {
  order: 2;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-volume-menu-button {
  order: 3;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-resolution-button {
  order: 4;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-resolution-button .vjs-resolution-button-label {
  display: block;
  line-height: 3em;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-playback-rate {
  order: 5;
}

.video-js.vjs-custom-skin .vjs-control-bar .vjs-fullscreen-control {
  order: 6;
}
.video-js:hover .vjs-big-play-button, .video-js.vjs-custom-skin .vjs-big-play-button:focus, .video-js.vjs-custom-skin .vjs-big-play-button:active {
    background-color: var(--color-primary);
    outline: none;
}
/*自己补充的*/
.position-left .video-js .vjs-tech{
  position: relative;
  height: calc(100% - 42px);
}
</style>
