<template xmlns:v-popover="http://www.w3.org/1999/xhtml">
  <div class="form-search el-autocomplete" id="form-search">
    <el-popover
      v-model="showSuggestion"
      ref="search"
      placement="bottom"
      :visible-arrow="false"
      width="258"
      trigger="manual"
      popper-class="search-result"
    >
    <ul id="suggestion" class="ac_result no-margin">
      <template v-for="(item, index) in suggests" >
        <li :class="{hover:index == nowLi}" v-if="item.oper === 'SEARCH'" :key="item" @click="clickSuggest(item)">
          <div class="media-object user">
            <div class="media-object-section shrink">
              <div class="img img36">
                <i class="el-icon-search"></i>
              </div>
            </div>
            <div class="media-object-section">
              <div class="name" v-html="getSearchTitle(item) + getOperArgName(item.operArg)"></div>
              <div>搜索</div>
            </div>
          </div>
        </li>
        <li :key="item" class="section-bg" v-if="item.split"></li>
        <li class="detail-result" :class="{hover:index == nowLi}" v-if="item.oper === 'OPEN'" :key="item" @click="clickSuggest(item)">
          <div class="media-object" :class="{'user':item.type === 'USER', 'img36': item.type !== 'USER'}">
            <div class="media-object-section shrink">
              <div class="img" :class="{'img36':item.type === 'USER'}">
                <img :alt="item.value.name" :src="item.value.avatar" v-if="item.type==='USER'" v-error-img:user>
                <img :alt="item.value.name" :src="item.value.avatar" v-if="item.type==='GROUP'" v-error-img:group>
              </div>
            </div>
            <div class="media-object-section">
              <div class="name" v-html="getObjName(item.value.name)">名称</div>
              <div class="color-secondary">{{item.type==='USER'?'同事':'小组'}}</div>
            </div>
          </div>
        </li>
      </template>
      <template v-if="suggesting">
        <li>
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"  style="display:block;margin:0 auto;"></i>
        </li>
      </template>
    </ul>
    </el-popover>
    <input
      class="el-input__inner"
      v-model="keyword"
      @keyup="handleKeyup"
      @keyup.down="selectDown"
      @keydown.enter="handleEnter"
      @keyup.up.prevent="selectUp"
      placeholder="搜索更多内容"
      autocomplete="off"
      @focus="handleFocus"
      @blur="handleBlur"
      v-popover:search
    />
    <span class="el-icon-search" @click="searchAction()"></span>
  </div>
</template>
<script>
import { rest } from '@/util'

export default {
  name: 'search',
  data () {
    return {
      showSuggestion: false,
      keyword: '',
      flag: false,
      suggestDelay: 500,
      suggestDelayId: -1,
      suggesting: false,
      suggestLoaded: false,
      suggests: [],
      nowLi: -1
    }
  },
  props: {
    value: String
  },
  methods: {
    getSearchTitle (suggest) {
      let title = ''
      if (suggest.type === 'TEXT') {
        title = suggest.value
      } else if (suggest.type === 'USER') {
        title = suggest.value.name
      } else if (suggest.type === 'GROUP') {
        title = suggest.value.name
      }
      if (title.indexOf(this.keyword) >= 0) {
        return this.keyword + '<span>' + title.replace(this.keyword, '') + '</span>'
      } else {
        return '<span>' + title + '</span>'
      }
    },
    getObjName (name) {
      if (name.indexOf(this.keyword) >= 0) {
        return this.keyword + '<span>' + name.replace(this.keyword, '') + '</span><span></span>'
      } else {
        return '<span>' + name + '</span><span></span>'
      }
    },
    getOperArgName (operArg) {
      if (operArg === 'POST') {
        return '的<span class="color-info">帖子</span>'
      } else if (operArg === 'ACTIVITY') {
        return '的<span class="color-info">活动</span>'
      } else {
        return '<span></span>'
      }
    },
    clickSuggest (item) {
      this.$emit('select', item)
      this.showSuggestion = false
    },
    handleKeyup (event) {
      if (event.keyCode === 13) { // enter
      } else {
        this.showSuggestion = !!this.keyword
      }
    },
    handleFocus (event) {
      this.$emit('focus', event, this.keyword)
      this.showSuggestion = !!this.keyword
      this.doSuggest()
    },
    handleBlur (event) {
      this.$emit('blur', event, this.keyword)
      this.showSuggestion = false
    },
    handleEnter (event) {
      if (this.showSuggestion && this.nowLi >= 0) {
        this.$emit('select', this.suggests[this.nowLi])
        this.showSuggestion = false
      } else {
        this.searchAction()
      }
    },
    searchAction () {
      this.$emit('search', this.keyword)
      this.showSuggestion = false
    },
    searchThis (index) {
      this.keyword = this.suggests[index][0]
      this.suggests = []
      this.searchAction()
    },
    selectDown () {
      this.showSuggestion = !!this.keyword
      if (!this.showSuggestion) {
        return
      }
      this.nowLi++
      if (this.nowLi === this.suggests.length) {
        this.nowLi = 0
      }
//      this.keyword = this.suggests[this.nowLi][0]
    },
    selectUp () {
      if (!this.showSuggestion) {
        return
      }
      this.nowLi--
      if (this.nowLi === -1) {
        this.nowLi = this.suggests.length - 1
      }
//      this.keyword = this.suggests[this.nowLi][0]
    },
    doSuggest () {
      if (this.suggestLoaded || !this.keyword) {
        return
      }
      this.suggests = [{
        type: 'TEXT',
        oper: 'SEARCH',
        value: this.keyword
      }]
      if (this.suggestDelayId > -1) {
        clearTimeout(this.suggestDelayId)
        this.suggestDelayId = -1
      }
      this.suggestDelayId = setTimeout(() => {
//        if (this.suggesting) {
//          return
//        }
        this.suggesting = true
        let nowTime = new Date().getTime()
        rest.get('/sns/search/globalSuggest', {q: this.keyword}, true).then((result) => {
          this.suggestLoaded = true
          if (new Date().getTime() - nowTime > 500) {
            this.suggesting = false
            this.processResult(result)
          } else {
            setTimeout(() => {
              this.suggesting = false
              this.processResult(result)
            }, 500)
          }
        }).catch((error) => {
          console.log('搜索suggest异常', error)
          this.suggests = [{
            type: 'TEXT',
            oper: 'SEARCH',
            value: this.keyword
          }]
          if (new Date().getTime() - nowTime > 500) {
            this.suggesting = false
          } else {
            setTimeout(() => {
              this.suggesting = false
            }, 500)
          }
          this.suggesting = false
        })
      }, this.suggestDelay)
    },
    processResult (result) {
      try {
        let resultResult = JSON.parse(result)
        let groupModelList = resultResult.groupModelList
        let user = false
        let gp = false
        groupModelList.forEach(groupModel => {
          if (groupModel.command === 'category' && groupModel.matches > 0) {
            groupModel.groups.forEach(group => {
              let article = group.articleList[0]
              let avatarField = article.avatar[0]
              if (group.value === 'USER') {
                user = {
                  id: article.id[0].value.substring(1),
                  name: article.name[0].value,
                  avatar: avatarField.convertedValue ? avatarField.convertedValue : avatarField.value
                }
              } else if (group.value === 'GROUP') {
                gp = {
                  id: group.articleList[0].id[0].value.substring(1),
                  name: group.articleList[0].name[0].value,
                  avatar: avatarField.convertedValue ? avatarField.convertedValue : avatarField.value
                }
              }
            })
          }
        })
        this.suggests = [{
          type: 'TEXT',
          oper: 'SEARCH',
          value: this.keyword
        }]
        if (user) {
          this.suggests.push({type: 'USER', oper: 'SEARCH', operArg: 'POST', value: user})
          this.suggests.push({type: 'USER', oper: 'SEARCH', operArg: 'ACTIVITY', value: user})
        }
        if (gp) {
          this.suggests.push({type: 'GROUP', oper: 'SEARCH', operArg: 'POST', value: gp})
          this.suggests.push({type: 'GROUP', oper: 'SEARCH', operArg: 'ACTIVITY', value: gp})
        }
        let split = false
        if (user) {
          split = true
          this.suggests.push({type: 'USER', oper: 'OPEN', value: user, split: true})
        }
        if (gp) {
          this.suggests.push({type: 'GROUP', oper: 'OPEN', value: gp, split: !split})
        }
        this.suggestLoaded = true
      } catch (e) {
        this.suggests = [{
          type: 'TEXT',
          oper: 'SEARCH',
          value: this.keyword
        }]
        this.suggestLoaded = false
        console.log('处理suggest异常', e)
      }
    }
  },
  mounted () {
    this.keyword = this.value
  },
  watch: {
//    data: function (val, oldVal) {
//      if (val === '') {
//        this.showSuggestion = false
//      } else {
//        this.showSuggestion = true
//      }
//    },
    value (nv, ov) {
      this.keyword = nv
    },
    showSuggestion (nv, ov) {
      if (!nv) {
        this.nowLi = -1
      }
    },
    keyword (nv, ov) {
      this.suggestLoaded = false
      this.doSuggest()
    }
  }
}
</script>
<style>
@import 'css/variable.css';
/*搜索*/
  .search-result{
    & li{
      line-height: normal;
      & .media-object {
        margin: 0;
        padding: 6px 0;
        & .name{
          margin-bottom: 0;
          font-size: 14px;
          font-weight: bold;
          color:var(--color-secondary);
          & span{
            color: var(--color-primary);
            margin-right:4px;
            word-break: break-word;
            &:last-child{
              margin-left:4px;
            }
          }
          & + div{
            font-size: 12px;
            color: var(--color-secondary);
          }
        }
      }
      & .user {
        & .img{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          background: var(--color-info);
          color: #fff;
        }
      }
      &.split:first-child{
        border-top: 4px solid var(--color-secondary);
      }
    }
  }
  .form-search{
    position: relative;
    & .el-input__inner{
      border-radius: 3px;
      height:30px;
    }
  }
  .form-search span.el-icon-search {
    position: absolute;
    right: 0.768rem;
    top: 50%;
    margin-top: -6px;
    color: var(--color-secondary);
    cursor: pointer;
  }
  .form-search .btn-sure{
    position: absolute;
    right:0;
    top:50%;
    margin-top: -18px;
    border-radius: 0 2px 2px 0;
  }
  .search-result{
    margin-top: 2px !important;
    padding: 0;
    box-shadow: none;
    border: none;
  }
  .ac_result{
   /* position: absolute;*/
    width: 100%;
    padding: 10px 0;
    margin-top: -4px;
    z-index: 10;
    box-shadow: 0 0 7px rgba(0,0,0,.4);
  }
  .ac_result li {
     font-size: 12px;
     list-style: none;
     cursor: pointer;
     padding: 0 1rem;
   }
  .section-bg, .section-bg:hover{
     border-top: 1px solid #d2d0d0;
     height: 2px;
     margin:0 auto;
     padding: 0 !important;
     background: #e1e1e1;
   }
  .ac_result li:hover,.ac_result li.hover{
    background: #eeeeee;
  }
  .ac_word {
    width: 60%;
    display: inline-block;
    padding: 0;
    text-align: left;
    color: #606060;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ac_word span{
    font-weight: 700;
    color:#f02137;
  }
  .ac_desc {
    float: right;
    display: inline-block;
    width: 36%;
    text-align: right;
    color: #B2B2B2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
