<template>
  <div>
    <popover
      ref="emoji"
      placement="bottom"
      width="340"
      trigger="click"
      popper-class="emoji-poppper"
      @show="emojiPopover = true"
      @hide="emojiPopover = false">
      <div class="emoji_icons scrollCss">
        <ul class="clearfix">
          <li v-for="(item, index) in currEmojiList"
              :key="emojiType + index"
              :title="item.title"
              @click="selectEmoji($event,item.icon)">
            <a><img :src="getEmojiPath(item.icon)" alt="item.title"/></a>
          </li>
        </ul>
      </div>
      <div class="emoji_tab_list">
        <ul>
          <li v-for="(item, index) in emojiTypeList"
              v-if="index < pageSize * (currPage + 1) && index >= pageSize * currPage"
              :class="{selected: emojiType === item.type}"
              :key="item.type" :data-key="item.type"
              :title="item.title" @click="emojiType = item.type">{{item.title}}</li>
        </ul>
        <div class="emoji-pages">
          <a :class="{disabled:currPage===0}" @click="changePage('-')"><i class="fa fa-angle-left"></i></a>
          <a :class="{disabled:currPage===Math.ceil(emojiTypeList.length/pageSize) - 1}" @click="changePage('+')"><i class="fa fa-angle-right"></i></a>
        </div>
      </div>
    </popover>
  </div>
</template>
<script>
  import Popover from '@/components/Popover'
  import { req } from '@/util'
  export default {
    components: {
      Popover
    },
    data () {
      return {
        emojiPopover: false,
        pageSize: 4,
        currPage: 0,
        emojiType: '',
        emojiTypeList: [],
        currEmojiList: [],
        addFace: null
      }
    },
    created () {
      // 添加事件监听
      this.$bus.$on('emoji:clickPopover', (data) => {
        if (this.emojiPopover) {
          data.addFace = () => {}
        }
        this.toggleEmojiPopover(data, !this.emojiPopover)
      })
      this.$bus.$on('emoji:showPopover', (data) => {
        this.toggleEmojiPopover(data, true)
      })
      this.$bus.$on('emoji:hidePopover', (data) => {
        this.toggleEmojiPopover(data, false)
      })
    },
    watch: {
      emojiPopover (nv) {
        if (nv) {
          if (this.emojiTypeList.length === 0) {
            req.get(`${this.$router.options.base}static/emoji/emoji.json`)
            .then(data => {
              this.emojiTypeList = data
              this.emojiType = 'deface'
              this.currPage = 0
            })
          } else {
            this.emojiType = 'deface'
            this.currPage = 0
          }
        }
      },
      emojiType (nv) {
        let typeEms = this.emojiTypeList.filter(o => o.type === nv)
        if (typeEms.length) {
          this.currEmojiList = typeEms[0].list
        }
      }
    },
    methods: {
      getEmojiPath (path) {
        return `${this.$router.options.base}static/emoji/${path}`
      },
      changePage (symbol) {
        if (symbol === '-') {
          if (this.currPage - 1 < 0) {
            this.currPage = 0
          } else {
            --this.currPage
          }
        } else if (symbol === '+') {
          if (this.currPage + 1 === Math.ceil(this.emojiTypeList.length / this.pageSize)) {
          } else {
            ++this.currPage
          }
        }
      },
      selectEmoji (event, icon) {
//        if (this.$refs && this.$refs.emoji) {
//          let popover = this.$refs.emoji
//          if (popover && popover.$refs && popover.$refs.popper) {
//            popover.$refs.popper.style.display = 'none'
//          }
//        }
        this.addFace(icon)
      },
      toggleEmojiPopover ({elem, addFace}, show) {
        let popover = this.$refs.emoji
        if (popover) {
          popover.changeShowInfo({
            elem,
            show,
            callback: () => {
              this.emojiPopover = show
              this.addFace = addFace
            }
          })
        }
      }
    }
  }
</script>
<style>
  .emoji-poppper{
    padding:0;
  }
  .emoji_icons{
    height:300px;
    overflow: auto;
  }
  .emoji_icons ul {
    padding-top: 1px;
    padding-left: 1px;
    margin-bottom: 30px;
    & li {
      list-style: none;
      float: left;
      border: 1px solid #e3e3e3;
      margin-top: -1px;
      margin-left: -1px;
      & a{
        line-height: 54px;
        cursor: pointer;
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .emoji_tab_list{
    height: 30px;
    line-height: 28px;
    padding: 4px 10px 0;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    & .emoji-pages{
      position: absolute;
      right: 6px;
      top:2px;
      & a{
        padding:4px 10px;
        font-size: 1rem;
        transition: all .3s;
        &:hover{
          background: steelblue;
          color: #fff;
        }
        &.disabled{
          opacity: 0.8;
          background: #eee;
          color: #ddd !important;
        }
      }
    }
  }
  .emoji_tab_list ul{
    display: flex;
    & li {
      cursor: pointer;
      list-style: none;
      padding: 2px 10px;
      border-radius: 2px;
    }
  }
  .emoji_tab_list ul li.selected {
    color: #fff;
    background: steelblue;
  }
</style>
