<template>
  <component :is="tagName" @click="clickEmojiPopover">
    <slot></slot>
  </component>
</template>
<script>
  export default {
    data () {
      return {
      }
    },
    props: {
      addFace: {
        type: Function,
        default: () => {}
      },
      tagName: String
    },
    created () {
    },
    methods: {
      clickEmojiPopover (event) {
        this.$bus.$emit('emoji:clickPopover', {
          elem: event.target,
          addFace: this.addFace
        })
      },
      showEmojiPopover (event) {
        this.$bus.$emit('emoji:showPopover', {
          elem: event.target,
          addFace: this.addFace
        })
      },
      hideEmojiPopover (event) {
        this.$bus.$emit('emoji:hidePopover', {
          elem: event.target,
          addFace: () => {}
        })
      }
    },
    computed: {}
  }
</script>
<style scoped="">
</style>
