<template>
  <div class="clearfix">
    <news-header></news-header>
    <div class="el-row">
      <el-col :xs="24" :sm="24" :md="4" :lg="4" class="margin-t">
        <news-side-nav></news-side-nav>
      </el-col>
      <el-col :xs="24" :sm="24" :md="20" :lg="20" class="margin-t">
        <!--<router-view></router-view>-->
        <news-wrapper></news-wrapper>
      </el-col>
    </div>
    <configure-dialog :personal="personalConfig" :visible="configureVisible" @isClose="configureClose"></configure-dialog>
  </div>
</template>
<script>
  import NewsSideNav from './NewsSideNav'
  import NewsHeader from './NewsHeader'
  import NewsWrapper from './NewsWrapper'
  import ConfigureDialog from './Configures/Configure'
  import { personalConfig, configureVisible } from '@/store/modules/news'
  export default {
    components: {
      NewsSideNav,
      NewsHeader,
      NewsWrapper,
      ConfigureDialog
    },
    data () {
      return {}
    },
    methods: {
      configureClose () {
        this.configureVisible = false
      }
    },
    computed: {
      personalConfig,
      configureVisible
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @import 'css/medium-editor.css';
  .hot-list{
    & .media-object{
      & .media-object-section{
        padding: 0px;
      }
    }
  }
</style>
