<template>
  <div class="cue">
    <p>您还未启用该功能，是否启用？</p>
    <button type="button" class="el-button el-button--success el-button--small" @click="configureOpen">
      <span>启用</span>
    </button>
    <button type="button" class="el-button el-button--default el-button--small">
      <span>取消</span>
    </button>
    <configure-dialog :visible="configureVisible" v-on:isClose="configureClose"></configure-dialog>
  </div>
</template>
<script>
  import ConfigureDialog from './Configures/Configure'
  export default {
    components: {
      ConfigureDialog
    },
    computed: {
    },
    data () {
      return {
        dialogVisible: false,
        configureVisible: false
      }
    },
    methods: {
      configureOpen () {
        this.configureVisible = true
      },
      configureClose () {
        this.configureVisible = false
      }
    },
    props: {
    },
    mounted () {
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .cue{
    padding: 2rem 0px;
    & >p{
      margin: 0 0 0 195px;
      display: inline-block;
    }
  }
</style>
