<template>
  <div class="article-detail scrollCss" :class="{open:value}">
    <a class="close" title="关闭" @click="closeNewsArticle()">×</a>
      <article class="article-content scrollCss">
        <header>
          <h1 class="margin-t">说好一----------------{{article}}</h1>
          <div class="h-bottom">
            <span>新京报政事儿</span>
            <span>2017/04/07</span>
          </div>
        </header>
        <div class="article-section">
          div section article ，语义是从无到有，逐渐增强的。div 无任何语义，仅仅用作样式化或者脚本化，对于一段主题性的内容，则就适用 section，而假如这段内容可以脱离上下文，作为完整的独立存在的一段内容，则就适用 article。原则上来说，能使用 article 的时候，也是可以使用 section 的，但是实际上，假如使用 article 更合适，那么就不要使用 section。
        </div>
        <div class="ar-tags">
          <div class="color-secondary font-s12 margin-b">相关标签</div>
          <el-tag type="gray">标签二</el-tag>
          <el-tag type="gray">标签二</el-tag>
        </div>
        <div class="article-footer">
          <span>— 作者主页 —</span>
          <div class="user transverse">
            <div class="img">
              <a href=""><img src="../../assets/img/3.png"/></a>
            </div>
            <div class="content">
              <div class="username">
                <a target="_blank" href="">用户姓名 </a>
                <i class="fa fa-venus color-danger margin-l4"></i>
              </div>
              <div class="arInfo"><span>2017-07-02</span></div>
            </div>
            <div class="follow">
              <el-button size="small" type="primary"><i class="el-icon-plus"></i> 关注</el-button>
            </div>
          </div>
        </div>
        <div class="article-share font-s14 color-secondary">
          <span><i title="点赞" class="fa fa-thumbs-o-up"><span> 2</span></i></span>
          <span><i title="踩" class="fa fa-thumbs-o-down"><span> 2</span></i></span>
          <span><i title="评论" class="fa fa-comment-o"><span> 4</span></i></span>
          <span><i title="分享" class="fa fa-share-alt"></i></span>
        </div>
        <div class="article-comment">
          <div class="module-title">评论</div>
          <comment-tree></comment-tree>
        </div>
        <div class="news-content">
          <div class="module-title">相关推荐</div>
          <div>
            <div class="media-object">
              <a class="media-object-section news-img">
                <img src="../../assets/img/3.png">
              </a>
              <div class="media-object-section">
                <a class="news-title" title="博阿斯：恒大制造事故，颜骏凌黄牌耻辱">博阿斯：恒大制造事故，颜骏凌黄牌耻辱</a>
                <div class="Info">
                  <span class="label primary">体育</span>
                  <span class="color-secondary">9评论 </span>
                  <span class="color-secondary">10小时前</span>
                </div>
                <a class="uninterested color-secondary">
                  <span>不感兴趣<i class="fa fa-times" aria-hidden="true"></i></span>
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="media-object">
              <a class="media-object-section news-img">
                <img src="../../assets/img/3.png">
              </a>
              <div class="media-object-section">
                <a class="news-title" title="博阿斯：恒大制造事故，颜骏凌黄牌耻辱">博阿斯：恒大制造事故，颜骏凌黄牌耻辱</a>
                <div class="Info">
                  <span class="label primary">体育</span>
                  <span class="color-secondary">9评论 </span>
                  <span class="color-secondary">10小时前</span>
                </div>
                <a class="uninterested color-secondary">
                  <span>不感兴趣<i class="fa fa-times" aria-hidden="true"></i></span>
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="media-object">
              <a class="media-object-section news-img">
                <img src="../../assets/img/3.png">
              </a>
              <div class="media-object-section">
                <a class="news-title" title="博阿斯：恒大制造事故，颜骏凌黄牌耻辱">博阿斯：恒大制造事故，颜骏凌黄牌耻辱</a>
                <div class="Info">
                  <span class="label primary">体育</span>
                  <span class="color-secondary">9评论 </span>
                  <span class="color-secondary">10小时前</span>
                </div>
                <a class="uninterested color-secondary">
                  <span>不感兴趣<i class="fa fa-times" aria-hidden="true"></i></span>
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="media-object">
              <a class="media-object-section news-img">
                <img src="../../assets/img/3.png">
              </a>
              <div class="media-object-section">
                <a class="news-title" title="博阿斯：恒大制造事故，颜骏凌黄牌耻辱">博阿斯：恒大制造事故，颜骏凌黄牌耻辱</a>
                <div class="Info">
                  <span class="label primary">体育</span>
                  <span class="color-secondary">9评论 </span>
                  <span class="color-secondary">10小时前</span>
                </div>
                <a class="uninterested color-secondary">
                  <span>不感兴趣<i class="fa fa-times" aria-hidden="true"></i></span>
                </a>
              </div>
            </div>
          </div>
          <div>
            <div class="media-object">
              <a class="media-object-section news-img">
                <img src="../../assets/img/3.png">
              </a>
              <div class="media-object-section">
                <a class="news-title" title="博阿斯：恒大制造事故，颜骏凌黄牌耻辱">博阿斯：恒大制造事故，颜骏凌黄牌耻辱</a>
                <div class="Info">
                  <span class="label primary">体育</span>
                  <span class="color-secondary">9评论 </span>
                  <span class="color-secondary">10小时前</span>
                </div>
                <a class="uninterested color-secondary">
                  <span>不感兴趣<i class="fa fa-times" aria-hidden="true"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </article>
  </div>
</template>
<script>
  import CommentTree from '../../components/comment/CommentTree'
  export default {
    components: {
      CommentTree
    },
    data () {
      return {
        arList:[],
        article: {}
      }
    },
    props: {
      value: Boolean
    },
    computed: {
      getArticle () {
        this.article = this.$store.state.news.article
      }
    },
    watch: {
    },
    mounted () {
    },
    methods: {
      closeNewsArticle () {
        this.$emit('input', false)
      },
      listArticle () {
        console.log('~~~~~~~~~~~~~~~~~~~~~~~', this.$state.roles)
      }
    }
  }
</script>
<style scoped="">
  @import 'css/variable.css';
  label {
    vertical-align: middle;
  }
  .article-detail {
    max-width: 36%;
    position: fixed;
    right: -100%;
    width: 100%;
    top: 0px;
    background: #fff;
    z-index: 100;
    opacity: 1;
    transition: right .4s, opacity .3s;
    box-shadow: 3px 0px 21px rgba(0, 0, 0, .4);
    & .close {
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 38px;
      z-index: 10;
    }
    & .article-content {
      overflow-y: auto;
      overflow-x: hidden;
      height: 100vh;
      position: relative;
      & header{
        & .h-bottom{
          font-size: 12px;
          & span{
            color: var(--color-secondary);
            margin-right: 6px;
          }
        }
      }
      & .article-share{
        text-align: center;
        height: auto;
        & >span{
          background-color: #f0f0f0;
          border-radius: 100px;
          color: var(--color-secondary);
          display: inline-block;
          font-size: 16px;
          height: 30px;
          line-height: 32px;
          margin-right: 16px;
          margin-top: 6px;
          padding: 0 12px;
          text-decoration: none;
          cursor: pointer;
        }
        & > span:hover{
          color: var(--color-primary);
        }
        & :last-child{
          margin: 0;
        }
      }
      & .article-comment{
        padding: 1rem 2rem 0rem;
      }
      & .news_content{
        padding: 2rem 2rem 3rem;
      }
      & .module-title{
        margin-top: 16px;
        font-size: 14px;
        padding: 1rem 0;
        color: var(--color-secondary);
      }
    }
  }
  .article-detail.open {
    right: 0px;
    opacity: 1;
  }
  table tbody td, table tbody th {
    padding: .5rem .625rem .625rem;
    width: auto !important;
    height: auto !important;
  }
</style>
