<template>
  <div class="news-header">
    <div class="filters mod-border">
      <el-row>
        <el-col :span="20">
          <ul class="menu">
            <li>
              <a :class="{'router-link-exact-active': getCurrNode.caId === 'rec'}" @click="getArticleFromSite('rec')">推荐</a>
            </li>
            <li v-for="(item, index) in getConfig" :key="item.caId">
              <a :class="{'router-link-exact-active': getCurrNode.caId === item.caId}" @click="getArticleFromSite(item)">{{item.caName}}</a>
            </li>
          </ul>
        </el-col>
        <el-col :span="4" v-if="currUser && currUser.extInfoObject && currUser.extInfoObject.isAdmin">
          <div class="filters_btn">
            <div class="set-button">
              <el-button type="text" size="small" class="cog"  @click="configureOpen">
                <i class="el-icon-setting"></i>
              </el-button>
            </div>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>
<script>
  /* eslint-disable no-trailing-spaces */

  import { currUser } from '@/store/modules/helper'
  import { types, personalConfig, configureVisible } from '@/store/modules/news'
  export default {
    computed: {
      personalConfig,
      configureVisible,
      currUser,
      userID () {
        return this.currUser.id
      },
      getConfig () {
        return this.$store.state.news.config
      },
      getUser () {
        return this.$store.state.news.user
      },
      getCurrNode () {
        return this.$store.state.news.currNode
      }
    },
    props: {
      personal: false
    },
    data () {
      return {
        siteMap: {推荐: 'rec', 新闻: 'headlines', 政务: 'govheadlines', 技能: 'skill', 地方: 'local'},
        config: []
      }
    },
    methods: {
      configureOpen () {
        this.personalConfig = false
        this.configureVisible = true
      },
      configureClose () {
        this.personalConfig = null
        this.configureVisible = false
      },
      getArticleFromSite (site) {
        this.$store.commit(types.NEWS_SET_LIST_ARTICLE_1, [])
        if (site === 'rec') {
          site = {pid: 'root', caId: 'rec', caName: '推荐'}
          if (this.userID) {
            this.$store.dispatch(types.NEWS_RECOMMEND_ARTICLE, this.userID)
          }
        } else {
          var param = {}
          param.site = site.caId
          this.$store.dispatch(types.NEWS_RECOMMEND_ARTICLE_BY_CATAGORY, param)
        }
        this.$store.commit(types.NEWS_SET_CURRENT_SEARCH, {key: site.caId, type: 'site'})
        this.$store.commit(types.NEWS_SET_CURRENT_SITE, site)
        this.$store.commit(types.NEWS_INIT_PAGE_SET, 1)
      },
      getUserConfig (id) {
        this.$store.dispatch(types.NEWS_GET_USER_INFO, id)
      }
    },
    watch: {
      userID (nv) {
        if (nv) {
          this.getUserConfig(nv)
        }
      }
    },
    created () {
      if (this.userID) {
        this.getUserConfig(this.userID)
      }
    }
  }
</script>
<style scoped=''>
  @import 'css/variable.css';
  .news-header{
    background: color(var(--color-primary) tint(30%));
    & .filters{
      & .menu{
        & li{
          & a{
            padding: .8rem 1.5rem;
          }
        }
      }
      & .filters_btn{
        & .el-dropdown{
          padding: 0.3rem 0rem;
        }
        & .set-button{
          position: relative;
          left: 8px;
          & .el-button{
            font-size: 16px;
          }
        }
      }
    }
  }
</style>
