<template>
  <div class="card-item">
    <p title="人民日报海外版：谁在传播股市谣言？监管鹰眼盯着你">人民日报海外版人民日报海外版人民日报海外版：谁在传播股市谣言？监管鹰眼盯着你</p>
    <div class="media-object share-single">
      <div class="media-object-section shrink">
        <div class="img">
          <a>
            <img src="../../assets/img/1.jpg">
          </a>
        </div>
      </div>
      <div class="media-object-section">
        <p>两名在股市造谣的当事人状告证监会一事，近期二审宣判维持了证监会的判罚。在人人都有麦克风的自媒体时代，普通人也可能成为谣言的制造者和传播者。证监会相关部门负责人9日表示，股市谣言危害大，一旦发现造谣者，必定严惩。</p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    components: {
    },
    data () {
      return {
      }
    },
    props: {
    },
    computed: {
    },
    methods: {
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .card-item{
    display: block;
    overflow: hidden;
    & >p{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      cursor: default;
    }
    & .share-single{
      margin: 0px;
      & p{
        color: var(--color-secondary);
        font-size: 12px;
        margin: 0px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        /*position: relative;*/
        /*line-height: 20px;*/
        /*max-height: 80px;*/
        /*overflow: hidden;*/
      }
      /*& p::after{*/
        /*content: "...";*/
        /*position: absolute;*/
        /*bottom: 0;*/
        /*right: 10px;*/
        /*padding-left: 40px;*/
        /*background: -webkit-linear-gradient(left, transparent, #fff 55%);*/
        /*background: -o-linear-gradient(right, transparent, #fff 55%);*/
        /*background: -moz-linear-gradient(right, transparent, #fff 55%);*/
        /*background: linear-gradient(to right, transparent, #fff 55%);*/
      /*}*/
      & .img{
        display: block;
        width: 80px;
        height: 80px;
      }
    }
  }
</style>
