<template>
  <div>
    <popover
      ref="users"
      placement="top-start"
      width="300"
      trigger="hover">
      <div class="single-member effect-1">
        <header>
          <!--<div class="member-image">-->
            <!--<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1508330619619&di=af54089c3ec52c9f32ea7333b4032fa8&imgtype=0&src=http%3A%2F%2Fimages02.cdn86.net%2Fkps01%2FM00%2F4D%2F6D%2FwKiAiVD3VDS26OE_AAAwaBTbMJM965.jpg" alt="Member">-->
          <!--</div>-->
          <h3>ShowGilr</h3>
        </header>
        <div class="member-info">
          <p>阿里巴巴董事长</p>
          <div class="ar-list">
            <ul>
              <li><a>· 父女考上同一大学同一专业 女儿：他是最好的榜样</a></li>
              <li><a>· 我国世界首次锁定F22隐身战机：一大国重金求购 要教训以色列</a></li>
              <li><a>· 习近平：贯彻新发展理念，建设现代化经济体系</a></li>
            </ul>
          </div>
        </div>
      </div>
    </popover>
    <popover
      ref="map"
      placement="top-start"
      width="320"
      trigger="hover">
      <div class="map-container">
        <baidu-map class="bm-view" ak="gm7Cf1pcYNbp96p4xExk4imvNwTOV0yK">
        </baidu-map>
        <!--<amap-->
          <!--vid="amap2"-->
          <!--:zoom="zoom"-->
          <!--:center="mapCenter"-->
          <!--class="amap-ground-image">-->
          <!--<amap-marker-->
            <!--v-for="(marker, index) in markers"-->
            <!--:key="marker.position"-->
            <!--:content="marker.content"-->
            <!--:events="marker.events"-->
            <!--:position="marker.position">-->
          <!--</amap-marker>-->
        <!--</amap>-->
      </div>
    </popover>
    <el-dialog
    :visible.sync="dialogVisible"
    size="full"
    top="0"
    @close="isclose"
    :close-on-click-modal="false"
    custom-class="preview-news"
    ref="preview"
    >
      <article class="article-container" :tabindex="1"  @keyup="nextPage" v-loading.body="loading">
        <header>
          <div class="source"><span class="color-secondary margin-r6">{{article.source}}</span> {{article.redictUrl}}</div>
          <h2 class="margin-t">{{article.title}}</h2>
          <div class="h-bottom">
            <span class="el-tag el-tag--warning">{{article.caName}}</span>
            <a href="javascript:void(0)">{{article.author}}</a>
            <span><i class="fa fa-eye"></i> 17人看过</span>
            <span>{{article.lockTime_title}}</span>
          </div>
        </header>
        <div class="article-section" v-html="content"></div>
        <!--<div class="ar-tags">-->
          <!--<div class="module-title margin-b">相关标签</div>-->
          <!--<span v-for="(tag, key) in tags" :key="key">#{{tag}}</span>-->
        <!--</div>-->
        <div class="article-share font-s14 color-secondary">
          <span><i class="fa fa-thumbs-o-up"><span> 2</span></i></span>
          <span><i class="fa fa-thumbs-o-down"><span> 2</span></i></span>
          <span><i class="fa fa-share-alt"></i></span>
          <span><a :href="article.redirectUrl" target="_blank">阅读原文</a></span>
        </div>
        <div class="rec-news" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
          <div class="module-title">相关推荐</div>
          <div class="rec-container news-content">
            <div class="media-object" v-for="(ar, index) in getListArticle2" :key="ar.id">
              <div class="media-object-section news-img" v-if="ar.arThumb && ar.arThumb !== ''">
                <a>
                  <img :src="ar.arThumb" :alt="ar.title">
                </a>
              </div>
              <div class="media-object-section">
                <h3 class="news-title" @click="getNewArticle(ar.id)" :title="ar.title">{{ar.title}}</h3>
                <div class="info">
                  <span class="el-tag el-tag--warning">{{ar.caName}}</span>
                  <a class="color-secondary source">
                    <img alt="" src="//p3.pstatp.com/large/97d001bf3f3cba72913"> {{ar.source}}
                  </a>
                  <!--<span class="color-secondary">9评论 </span>-->
                  <!--<span class="color-secondary">10小时前</span>-->
                </div>
              </div>
            </div>
          </div>
          <a class="look-more">查看更多</a>
        </div>
        <div class="rec-news" v-infinite-scroll="loadMore" infinite-scroll-disabled="busy" infinite-scroll-distance="10">
          <div class="module-title">猜你喜欢</div>
          <div class="rec-container news-content">
            <div class="media-object" v-for="(ar, index) in getListArticle3" :key="ar.id">
              <div class="media-object-section news-img" v-if="ar.arThumb && ar.arThumb !== ''">
                <a>
                  <img :src="ar.arThumb" :alt="ar.title">
                </a>
              </div>
              <div class="media-object-section">
                <h3 class="news-title" @click="getNewArticle(ar.id)" :title="ar.title">{{ar.title}}</h3>
                <div class="info">
                  <span class="el-tag el-tag--warning">{{ar.caName}}</span>
                  <a class="color-secondary source">
                    <img alt="" src="//p3.pstatp.com/large/97d001bf3f3cba72913"> {{ar.source}}
                  </a>
                  <!--<span class="color-secondary">9评论 </span>-->
                  <!--<span class="color-secondary">10小时前</span>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="look-more">查看更多</a>
      </article>
      <div slot="footer">
        <div class="pages">
          <a class="pre" title="上一篇" @click="next(-1)"><i class="fa fa-angle-left"></i></a>
          <a class="next" title="下一篇"@click="next(1)"><i class="fa fa-angle-right"></i></a>
        </div>
        <div class="view-fixed">
          <el-popover
            ref="info"
            placement="right-start"
            width="320"
            :value="infoVisible"
            trigger="manual"
            popper-class="info-popper"
          >

              <!--<ul class="flag-box">-->
                <!--<li>-->
                  <!--<a><span><i title="标签" class="fa fa-tag"></i></span>-->
                    <!--保罗-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li class="ar-list">-->
                  <!--<ul>-->
                    <!--<li>-->
                      <!--<a><i title="相关文章" class="fa fa-paperclip"></i>-->
                        <!--深入认识vue-cli：能做的不仅仅是初始化vue工程-->
                      <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<a><i title="相关文章" class="fa fa-paperclip"></i>-->
                        <!--深入认识vue-cli：能做的不仅仅是初始化vue工程-->
                      <!--</a>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</li>-->
                <!--<li v-if="getTags('nr').length > 0">-->
                  <!--<a-->
                    <!--@mouseenter="togglePopover($event.target, $refs.users, true)"-->
                    <!--@mouseleave="togglePopover($event.target, $refs.users, false)"-->
                    <!--v-for="(tag, index) in getTags('nr')"-->
                    <!--:key="index"><span><i class="fa fa-user"></i></span>{{tag}}</a>-->
                <!--</li>-->
                <!--<li v-if="getTags('nt').length > 0">-->
                  <!--<a-->
                    <!--@mouseenter="togglePopover($event.target, $refs.users, true)"-->
                    <!--@mouseleave="togglePopover($event.target, $refs.users, false)"-->
                    <!--v-for="(tag, index) in getTags('nt')"-->
                    <!--:key="index"><span><i class="fa fa-bank"></i></span>{{tag}}</a>-->
                <!--</li>-->
                <!--<li v-if="getTags('ns').length > 0">-->
                  <!--<a-->
                    <!--v-for="(tag, index) in getTags('ns')" :key="index"><span class="font-s14"><i class="fa-map-marker fa"></i></span>{{tag}}</a>-->
                  <!--<a @click="mapShow = !mapShow" class="color-info no-margin">（<i class="fa fa-map"></i> 查看地图）</a>-->
                <!--</li>-->
              <!--</ul>-->

              <!--<div class="map-container" style="border-top: 1px solid #ddd;" v-show="mapShow">-->
                <!--<amap-->
                  <!--vid="amap1"-->
                  <!--:zoom="zoom"-->
                  <!--:center="mapCenter"-->
                  <!--class="amap-ground-image">-->
                  <!--<amap-marker-->
                    <!--v-for="(marker, index) in markers"-->
                    <!--:key="index"-->
                    <!--:content="marker.content"-->
                    <!--:events="marker.events"-->
                    <!--:position="marker.position">-->
                  <!--</amap-marker>-->
                  <!--<amap-marker-->
                    <!--v-for="(marker, index) in currMarker"-->
                    <!--:key="index"-->
                    <!--:events="marker.events"-->
                    <!--:position="marker.position">-->
                  <!--</amap-marker>-->
                <!--</amap>-->
              <!--</div>-->
            <el-collapse v-model="activeNames" v-if="article.sysTag || article.np || article.location || article.nr || article.nt">
              <el-collapse-item name="0" v-if="article.sysTag">
                <template slot="title">
                  <h3>标签 </h3>
                </template>
                <span class="el-tag el-tag--secondary"  v-for="(tag, index) in tags" :key="tag">{{tag}}</span>
              </el-collapse-item>
              <el-collapse-item name="1" v-if="article.np">
                <template slot="title">
                  <h3>作品</h3>
                </template>
                <div class="ar-list">
                  <ul v-if="article['np']">
                    <li v-for="(tag, index) in getTags('np')" :key="tag">《<a>{{tag}}</a>》</li>
                  </ul>
                </div>
                <!--<div class="atArticle">-->
                  <!--<a class="media-object" v-for="(tag, index) in getTags('np')" :key="tag">-->
                    <!--<div class="media-object-section shrink">-->
                      <!--<div class="img">-->
                        <!--<img src="../../assets/img/4.jpg" alt="商品名字">-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="media-object-section align-center">-->
                      <!--<div class="name">{{tag}}</div>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</div>-->
              </el-collapse-item>
              <el-collapse-item name="2" v-if="article.location">
                <template slot="title">
                  <h3>地点 </h3><span><i class="fa fa-map-marker"></i> {{article.location}}</span>
                </template>
                <div class="map-container no-padding">
                  <baidu-map
                    class="bm-view"
                    ak="gm7Cf1pcYNbp96p4xExk4imvNwTOV0yK"
                    :center="bMap.center"
                    :zoom="bMap.zoom"
                    :scroll-wheel-zoom="true"
                    @ready="handler"
                  >
                    <bm-marker :title="'sss'" :position="bMap.center" animation="BMAP_ANIMATION_BOUNCE" @click="infoWindowOpen" :icon="{url: 'static/img/marker.png', size: {width: 24, height: 30}}">
                      <bm-info-window :show="bMap.show" @close="infoWindowClose" @open="infoWindowOpen">我爱北京天安门</bm-info-window>
                    </bm-marker>
                    <bml-marker-clusterer :averageCenter="true">
                      <bm-marker v-for="m in markers" :key="m.position" :position="m.position" :icon="{url: 'static/img/markers.png', size: {width: 24, height: 30}}"></bm-marker>
                    </bml-marker-clusterer>
                  </baidu-map>
                  <!--<amap-->
                    <!--vid="amap4"-->
                    <!--:zoom="zoom"-->
                    <!--:center="mapCenter"-->
                    <!--class="amap-ground-image">-->
                    <!--<amap-marker-->
                      <!--v-for="(marker, index) in markers"-->
                      <!--:key="index"-->
                      <!--:content="marker.content"-->
                      <!--:events="marker.events"-->
                      <!--:position="marker.position">-->
                    <!--</amap-marker>-->
                    <!--<amap-marker-->
                      <!--v-for="(marker, index) in currMarker"-->
                      <!--:key="index"-->
                      <!--:events="marker.events"-->
                      <!--:position="mapCenter">-->
                    <!--</amap-marker>-->
                  <!--</amap>-->
                </div>
              </el-collapse-item>
              <el-collapse-item name="3" v-if="article.nr">
                <template slot="title">
                  <h3>人员 </h3>
                </template>
                <el-tag type="gray" v-for="(tag, index) in getTags('nr')" :key="tag">{{tag}}</el-tag>
              </el-collapse-item>
              <el-collapse-item name="4" v-if="article.nt">
                <template slot="title">
                  <h3>机构 </h3>
                </template>
                <span class="el-tag el-tag--secondary"  v-for="(tag, index) in getTags('nt')" :key="tag">{{tag}}</span>
              </el-collapse-item>
            </el-collapse>
            <div class="notag" v-else="!article.sysTag && !article.np && !article.location && !article.nr && !article.nt">暂无标签</div>
          </el-popover>
          <ul>
            <li>
              <a title="文中提到的" v-popover:info @click="infoVisible = !infoVisible">
                <i v-if="!infoVisible" class="fa fa-info"></i>
                <i v-else="" class="fa fa-close"></i>
              </a>
            </li>
            <li>
              <a title="收藏" @click="collect(article.id)">
                <i v-if="isCollect" class="fa fa-heart color-danger"></i>
                <i class="fa fa-heart-o" v-else ></i>
              </a>
            </li>
            <li>
              <a title="分享" @click="sharePost"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>

      </div>
      <BackTop scrollSelector>
        <a title="返回顶部" class="gotop"><i class="el-icon-arrow-up"></i></a>
      </BackTop>
    </el-dialog>
    <share-form dialogType="转载"></share-form>
  </div>
</template>
<script>
  import { types } from '@/store/modules/news'
  import { shareData, shareFormShow } from '@/store/modules/share'
  import ShareForm from '../include/ShareForm'
  import ListLoading from '../../components/ListLoading.vue'
  import BackTop from '@/components/scrollTop'

  import { Amap, AmapMarker } from '@/components/amap'
  import {BaiduMap, BmMarker, BmInfoWindow, BmLabel, BmlMarkerClusterer} from 'vue-baidu-map'

  import Popover from '@/components/Popover'
  import { MediumLightbox } from '../../../slib/medium-lightbox.js'
  export default {
    computed: {
      shareFormShow,
      shareData,
      content () {
        return this.article && this.article.content ? this.article.content.replace(/(<a)(\s.*?>)/g, '$1 target="_blank"$2') : ''
      },
      article () {
        return this.$store.state.news.article
      },
      getListArticle2 () {
        return this.$store.state.news.listArticle2
      },
      getListArticle3 () {
        return this.$store.state.news.listArticle3
      },
      getArticleIndex () {
        return this.$store.state.news.currArticleIndex
      },
      getListArticle1 () {
        return this.$store.state.news.listArticle1
      },
      getCurrNode () {
        return this.$store.state.news.currNode
      }
    },
    data () {
      return {
        threshold: 0.3,
        froms: true,
        currentView: 'dsd',
        dialogVisible: false,
        listArticle2: [],
        tags: [],
        scrollObj: null,
        infoVisible: false,
        mapShow: false,
        mediumLightBox: null,
        bMap: {
          center: {lng: 119.237626, lat: 26.05766},
          zoom: 12,
          show: false,
          markerPoint: [116.404, 39.915]
        },
        currMarker: [
          {
            position: [119.238308, 26.082860],
            events: {
              click: () => {
                alert('click marker 1')
              }
            }
          }
        ],
        activeNames: ['0', '1', '2', '3', '4'],
        markers: [],
        mapCenter: [119.238308, 26.082860],
        zoom: 12,
        isCollect: false,
        stViewTime: 0,
        loading: true,
        startCollect: true
      }
    },
    props: {
      visible: Boolean,
      arIdFromWarpper: String
    },
    mounted () {
    },
    watch: {
      article (nv, ov) {
        this.threshold = 0.3
        this.isCollect = false
        this.loading = false
        this.markers = []
        if (nv.latalng && nv.latalng !== '') {
          this.mapCenter = nv.latalng.split(',')
          const x = parseFloat(this.mapCenter[0])
          const y = parseFloat(this.mapCenter[1])
          var centers = {lng: x, lat: y}
          this.bMap = {
            center: centers,
            zoom: 13,
            show: false,
            markerPoint: [x, y]
          }
          const yx = this.mapCenter[1] + ',' + this.mapCenter[0]
          var param = {}
          param.xy = yx
          param.site = '190019'
          param.range = 50
          this.$store.dispatch(types.NEWS_GET_ARTICLE_BY_XY_SITE, param).then((res) => {
            for (var index in res) {
              var marker = {}
              var [y, x] = res[index].latalng.split(',')
              marker.position = {lng: parseFloat(x), lat: parseFloat(y)}
              marker.content = '<div class="marker-img"><span>' + index + '</span></div>'
              marker.events = {
                click: () => {
                  alert(res[index].title)
                }
              }
              this.markers.push(marker)
            }
          })
        }
        let dialog = this.$refs.preview.$el
        let body = dialog.querySelector('.el-dialog__body')
        let container = body.querySelector('.article-container')
        container.focus()
        body.scrollTop = 0
        const now = new Date().getTime()
        this.tags = []
        if (nv.sysTag) {
          var tmpTags = JSON.parse(nv.sysTag)
          for (var key in tmpTags) {
            this.tags.push(key)
          }
          this.$store.dispatch(types.NEWS_RECOMMEND_ARTICLE_BY_TAG, tmpTags)
        }
        if (ov.sysTag) {
          this.$store.commit(types.NEWS_SET_TEMP_GRAPH, {'tags': JSON.parse(ov.sysTag), 'time': now - this.stViewTime})
        }
        if (nv && !this.mediumLightBox) {
          this.mediumLightBox = MediumLightbox('.article-section')
        }
        if (this.startCollect && (now - this.stViewTime > 30000)) {
          var action = {}
          action.type = 'VIEW'
          action.iid = ov.id
          this.$store.dispatch(types.NEWS_COLLECT_ARTICLE, action)
        }
        this.stViewTime = now
      },
      visible (nv) {
        this.dialogVisible = nv
        this.threshold = 0.3
        if (nv) {
          this.currScollHight()
        } else { this.scrollObj.removeEventListener('scroll') }
      }
    },
    methods: {
      infoWindowClose () {
        this.show = false
      },
      infoWindowOpen () {
        this.show = true
      },
      handler ({BMap, map}) {
        this.zoom = 10
      },
      collect (id) {
        var type = this.isCollect ? 'DISCOLLECT' : 'COLLECT'
        var param = {}
        param.type = type
        param.iid = id
        this.$store.dispatch(types.NEWS_COLLECT_ARTICLE, param).then((res) => {
          if (res === true) {
            this.isCollect = !this.isCollect
          }
        })
      },
      getTags (name) {
        if (this.article[name]) {
          return this.article[name].split(',').filter(x => x !== '')
        } else {
          return []
        }
      },
      nextPage (e) {
        switch (e.keyCode) {
          case 37:
            this.next(-1)
            break
          case 39:
            this.next(1)
            break
        }
      },
      next (step) {
        var index = this.getArticleIndex + step
        if (index >= 0 && this.getListArticle1.length > index) {
          this.loading = true
          this.$store.dispatch(types.NEWS_GET_ARTICLE, {iid: this.getListArticle1[index].id, biz: this.getCurrNode.caId})
          this.$store.commit(types.NEWS_SELECT_LIST_ARTICLE_1_INDEX, index)
        }
      },
      currScollHight () {
        this.$nextTick(() => {
          this.scrollObj = document.querySelector('.preview-news .el-dialog__body')
          this.scrollObj.addEventListener('scroll', () => {
            var pre = (this.scrollObj.scrollHeight - this.scrollObj.scrollTop - this.scrollObj.clientHeight) / this.scrollObj.clientHeight
            if (pre !== 0 && pre < this.threshold) { // 请求数据 }
              this.threshold = -1
              this.$store.dispatch(types.NEWS_RECOMMEND_ARTICLE_BY_TEMP_TAG)
            }
          })
        })
      },
      getNewArticle (id) {
        this.$store.dispatch(types.NEWS_GET_ARTICLE, {iid: id, biz: this.getCurrNode.caId})
      },
      isclose () {
        this.$emit('close')
        this.infoVisible = false
        this.loading = false
      },
      sharePost () {
        if (this.loading) {
          this.shareFormShow = false
          return
        }
        let location = {}
        if (this.article.latalng && this.article.location) {
          let [x, y] = this.article.latalng.split(',')
          location = {
            lat: x,
            lng: y,
            latlng: this.article.latalng,
            name: this.article.location
          }
        }
        let modelObject = {
          contentType: 'reprint',
          title: this.article.title,
          content: this.content,
          cover: this.article.arThumb,
          type: 'news',
          redirectUrl: this.article.redirectUrl,
//          tags: this.article.sysTag ? this.article.sysTag.split(',') : [],
          location: JSON.stringify(location),
          metaKeyWords: [
            ...this.getTags('nt').map(x => { return {type: '机构', keyword: x} }),
            ...this.getTags('nr').map(x => { return {type: '人物', keyword: x} }),
            ...this.getTags('np').map(x => { return {type: '作品', keyword: x} })],
          ext: {
            source: this.article.source || this.article.redirectUrl
          }
        }
        let item = {
          objContent: {
            modelObject: modelObject
          }
        }
        this.shareData = {
          from: 'reprint',
          type: 'reprint',
          item: item
        }
        this.shareFormShow = true
      },
      loadMore () {
        console.log('load with similar ')
      },
      togglePopover (elem, popoverCard, show) {
        let popover = popoverCard
        if (popover) {
          popover.changeShowInfo({
            elem,
            show,
            callback: () => {
              console.log('newsdetail')
            }
          })
        }
      }
    },
    components: {
      ListLoading,
      ShareForm,
      BackTop,
      Amap,
      AmapMarker,
      BaiduMap,
      Popover,
      BmMarker,
      BmInfoWindow,
      BmLabel,
      BmlMarkerClusterer
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @import 'css/medium-lightbox.css';
  .preview-news{
    background: rgba(233,233,233,.9);
    & .el-dialog__headerbtn {
      position: absolute;
      right: 1.4rem;
      top: 1rem;
      font-size: 1.4rem;
      & i {
        color: #666;
      }
    }
    & .el-dialog__header{
      padding: 0;
    }
    & .el-dialog__body{
      padding: 80px 0 30px;
      height: calc(100vh - 110px);
      overflow: auto;
      & .back-top{
        right: 50% !important;
        margin-right: -520px;
        width: 42px;
        height: 42px;
      }
    }
    & .el-dialog__footer{
      width: 900px;
      margin: 0 auto;
      padding: 0;
      position: relative;
      & .pages {
        & a{
          position: fixed;
          top: 50%;
          margin-top: -60px;
          font-size: 84px;
          color: #666;
          padding: 10px;
          &.pre{
            left: 50%;
            margin-left: -540px;
          }
          &.next{
            right: 50%;
            margin-right: -520px;
          }
          &:hover{
            background: #eee;
          }
        }
      }
    }

    & .article-container {
      outline: none;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 4rem 5.6rem 2rem;
      box-sizing: border-box;
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      background: #fff;
      & .source{
        font-size: 12px;
        color: #666;
      }
      & header{
        border-bottom: 1px solid #ddd;
        padding-bottom: 2rem;
        & h2{
          font-size: 36px;
        }
      }
    }
    & .article-section{
      font-size: 20px;
      margin-top: 3rem;
      & p img{
        /*width: 100%;*/
      }
      & p{
        text-indent: 2em;
      }
    }
    & .h-bottom{
      font-size: 14px;
      margin-top: 20px;
      & a{
        margin-right: 3rem;
      }
      & span{
        color: #666;
        margin-right: 3rem;
      }
    }
    & .module-title{
      margin-top: 16px;
      font-size: 24px;
    }
    & .ar-tags{
      padding: 3rem 0 0;
      & span {margin-right: 10px;font-size: 14px;}
    }
    & .article-share {
      text-align: center;
      margin: 2rem 0 3rem;
      & > span {
        background-color: #f0f0f0;
        border-radius: 100px;
        color: #ababab;
        display: inline-block;
        font-size: 16px;
        height: 30px;
        line-height: 32px;
        margin-right: 16px;
        margin-top: 6px;
        padding: 0 12px;
        text-decoration: none;
        cursor: pointer;
        &:hover{
          color: #fff;
          background: var(--color-primary);
          & > a{
            color: #fff;
          }
        }
      }

    }
    & .view-fixed {
      position: fixed;
      right: 50%;
      margin-right: -520px;
      top: 200px;
      & ul {
        transition: opacity .3s linear;
        & li{
          list-style: none;
          margin-bottom: 1rem;
          & a{
            width: 42px;
            height: 42px;
            display: flex;
            border-radius: 50%;
            background-color: #fff;
            justify-content: center;
            align-items: center;
            transition: all .3s;
            &:hover{
              background: var(--color-primary);
              color: #fff;
            }
          }
        }
      }
    }
    & .rec-container{
      padding: 1.5rem 0 0;
      & a.source img {
        position: relative;
        bottom: 2px;
        color: #fff;
        margin:0 4px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #4d555d;
      }
    }
  }
  .info-popper{
    text-align: left;
    padding: 0;
    border: none;
    & .el-collapse-item__header{
        height:32px;
    line-height: 32px;
    }
    & .el-collapse-item__header h3{
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;
    }
    & .el-tag{
      margin:0 6px 4px 0;
    }

  }
  .atArticle{
    & .img{
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 2px;
      background: #eee;
    }
    & .media-object:last-child{
      margin: 0;
    }
  }
  .label-contain span{
    margin-right: 10px;
    &:last-child{
      margin: 0;
    }
  }
  .amap-ground-image{
    height: 160px !important;
  }
  .marker-img {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: url("../../assets/img/marker.png") no-repeat center center;
    background-size: contain;
    & span{
        position: relative;
        top:4px;
        color: #fff;
    line-height: normal;
      }
  }
  .tag-list li{
    list-style: none;
    white-space: nowrap;
  }
  .flag-box {
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    line-height: 24px;
    & li {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      & a {
          margin-right:10px;
      & span{
        margin-right: 4px;
        color: #999;
      }
      }
    }
  }
  /*人员卡片*/
 .user-popper{
 }
 .single-member{
   position: relative;
   & header{
     height: 36px;
     display: flex;
     flex-direction: column-reverse;
     padding-left: 8px;
     & h3 {
       margin-bottom: 6px;
       padding: 4px 0;
       border-bottom: 2px solid var(--color-primary);
     }
     &  .member-image {
        /*border: 2px solid var(--color-primary);*/
        box-shadow: 0 0 4px rgba(0,0,0,.3);
        border-radius: 50%;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 10px;
        left: 10px;
        overflow: hidden;
        transition: 0.3s;
     }
   }
   & .member-info{
     & p{
       padding-left: 8px;
       margin-bottom: 10px;
       color: #666;
     }
   }
 }
 .ar-list ul {
    margin: 0;
    & li {
      list-style: none;
      line-height: 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
 .map-container{
   padding: 10px;
 }
 .notag{
   padding: 10px 15px;
   font-size: 13px;
   color: rgb(31, 43, 61);
 }
  .bm-view {
    width: 100%;
    height: 200px;
  }
  .look-more{
    display: block;
    color: #ababab;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    background-color: #f0f0f0;
    margin-top: 10px;
    cursor: pointer;
  }
  .recommendFlag {
    color: rgb(247, 186, 42);
    margin-right: 6px;
  }
</style>
