<template>
  <el-dialog class="share-dialog" :visible.sync="shareFormShow" @close="closeClear">
    <div class="share-title" slot="title">
      <el-select v-model="shareAtScope" placeholder="分享选项" size="mini" @change="changeItem">
        <el-option
          v-for="item in shareOptions"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <el-autocomplete
      class="inline-input share-select"
      v-model="selectGroupName"
      :fetch-suggestions="groupSearch"
      placeholder="请选择入小组"
      @select="handleSelect"
      v-if="!scope">
      <template slot="prepend">分享到小组</template>
    </el-autocomplete>
    <div class="publish-modcon">
      <div class="shareEditable" :id="shareFormId"></div>
      <el-tooltip class="item" :class="{active:modelForm==='behavior'}" effect="dark" content="分享你的心情~" placement="top-start">
        <span @click="toggleModelForm('behavior','分享感受或活动…')"><i class="fa fa-smile-o"></i></span>
      </el-tooltip>
    </div>
    <div class="share-sign-content">
      <span class="metadataFragment"> — 在 <span class="place-token">Pai, Thailand</span> · <span>
          <a href="#">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/zDqV5zNXfOh.png" height="16" width="16" alt="">
          </a>
      </span>觉得<span class="active-token margin-l4">感恩</span></span>
    </div>
    <el-card>
      <news-card-item></news-card-item>
      <!--<card-item :card-data="formData"></card-item>-->
    </el-card>
    <el-autocomplete
      v-if="showModelForm"
      class="inline-input share-sign"
      v-model="signInp"
      :fetch-suggestions="querySearch"
      :placeholder="modelFormPlaceholder"
      :trigger-on-focus="false"
      @select="handleSelect">
      <template slot="prepend" v-if="modelFormPrepend">{{modelFormPrepend}}</template>
    </el-autocomplete>
    <div slot="footer" class="share-footer clearfix">
      <div class="footer-tools float-left">
        <el-tooltip class="item" :class="{active:modelForm==='marks'}" effect="dark" content="标记你想标记的人~" placement="top-start">
          <span @click="toggleModelForm('marks', '你希望标记谁', '和')"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
        </el-tooltip><el-tooltip class="item" :class="{active:modelForm==='location'}" effect="dark" content="分享你的位置~" placement="top-start">
          <span @click="toggleModelForm('location', '你在哪里？', '在')"><i class="fa fa-map-marker"></i></span>
        </el-tooltip>
        <!--<el-tooltip class="item" :class="{active:modelForm==='behavior'}" effect="dark" content="分享你的心情~" placement="top-start">-->
          <!--<span @click="toggleModelForm('behavior','分享感受或活动…')"><i class="fa fa-smile-o"></i></span>-->
        <!--</el-tooltip>-->
      </div>
      <div class="footer-btn float-right">
        <!--权限选择-->
        <el-select v-model="scope" v-if="scope" placeholder="谁能看到这些内容" size="mini">
          <el-option
            v-for="item in jurOptions"
            :key="item.jurValue"
            :label="item.jurLabel"
            :value="item.jurValue"
            v-if="item.jurValue">
          </el-option>
        </el-select>
        <el-button size="small" @click="shareFormShow = false">取消</el-button>
        <el-button :disabled="showPublishBtn" @click="publish" type="primary" size="small">发布</el-button>
      </div>
    </div>
  </el-dialog>
</template>
<script>
  import { createMediumEditor } from '@/util/mediumEditor.js'
  import { types, shareFormShow } from '@/store/modules/share'
  import { rest } from '@/util'
  import NewsCardItem from './NewsCardItem'
  import { currUser, currUserImg } from '@/store/modules/helper'
  export default {
    components: {
      NewsCardItem
    },
    props: {
      shareFormId: {
        type: String,
        default: 'editor'
      }
    },
    computed: {
      currUser,
      currUserImg,
      shareFormShow,
      formData () {
        return this.$store.state.share.shareFormData
      },
      objId () {
        if (this.formData.type === 'group') {
          return this.formData.item.id
        } else if (this.formData.type === 'post') {
          return this.formData.item.objId
        } else if (this.formData.type === 'activity') {
          return this.formData.item.objId
        }
      },
      modelObject () {
        return this.formData.item.objContent.modelObject ? this.formData.item.objContent.modelObject : this.formData.item.objContent
      },
      shareType () {
        let type = 'post'
        if (this.formData.type.toLowerCase() === 'group') {
          type = 'group'
        } else if (this.formData.type.toLowerCase() === 'post') {
          type = 'post'
          if (this.modelObject.contentType === 'blog') {
            type = 'blog'
          }
//          if (this.modelObject.contentType === 'normal' || this.modelObject.contentType === 'share') {
//            type = 'post'
//          } else {
//            type = this.modelObject.contentType
//          }
        } else {
          type = this.formData.type.toLowerCase()
        }
        return type
      }
    },
    data () {
      return {
        selectGroupName: '',
        restaurants: [],
        groupList: [],
        signInp: '',
        timeout: null,
//        分享选项
        shareOptions: [{
          value: 'timeLine',
          label: '分享到你的时间线'
        }, {
          value: 'groups',
          label: '分享到小组'
//        }, {
//          value: 'active',
//          label: '分享到活动'
        }],
        shareAtScope: 'groups',
//        权限选项
        jurOptions: [{
          jurValue: 0,
          jurLabel: '小组内成员可见'
        }, {
          jurValue: 1,
          jurLabel: '仅限自己可见'
        }, {
          jurValue: 2,
          jurLabel: '所有人可见'
//        }, {
//          jurValue: 3,
//          jurLabel: '部分成员可见'
        }],
        scope: 0,
        showModelForm: false,
        modelForm: '',
        modelFormPrepend: '',
        modelFormPlaceholder: '',
        showPublishBtn: true,
        isComplete: true,
        editor: null,
        files: {},
        modelType: 'normal',
        postType: 'text',
        defModelData: {
          contentType: 'normal',
          marks: [],
          atUsers: [],
          resourceFiles: [],
          specifyPublicUsers: [],
          behavior: null,
          behIcon: null,
          behValue: null,
          behValueIcon: null,
          location: null,
          content: null,
          postType: 'text'
        },
        modelData: {},
        postData: {
          scope: 0,
          scopeValue: null,
          createAt: null,
          createAtType: 101,
          modelData: ''
        }
      }
    },
    methods: {
      publish () {
        if (this.scope !== 0) {
          this.postData.scope = this.scope
          this.postData.scopeValue = this.currUser.id
          this.postData.createAt = this.currUser.id
          this.postData.createAtType = 102
          this.showPublishBtn = false
        } else {
          this.showPublishBtn = true
          this.scope = 0
          this.postData.scope = 0
          this.postData.createAtType = 101
        }
        this.modelData.contentType = this.modelType
        if (this.formData.type.toLowerCase() === 'post') {
          let ext = {'feedId': this.formData.item.id}
          this.modelData.ext = ext
        }
        this.doPublish('/sns/posts/share/' + this.shareType + '/' + this.objId, [], this.publishAfter)
      },

      doPublish (url, resourceFilsList, successCallback) {
        if (!this.isComplete) {
          return
        }
        this.showPublishBtn = false
        if (this.postData.createAt === null || this.postData.createAt.length === 0) {
          this.msgWarning('请选择要发布到的位置')
          this.showPublishBtn = true
          return
        }
        this.modelData.content = this.editor.getContent()
        this.modelData.resourceFiles = !resourceFilsList ? [] : resourceFilsList
        if (this.modelData.contentType !== 'share') {
          if ((this.modelData.content === null || this.modelData.content.length === 0) &&
            (this.modelData.behValue === null || this.modelData.behValue.length === 0) &&
            (this.modelData.location === null || this.modelData.location.length === 0) &&
            this.modelData.resourceFiles.length === 0) {
            this.msgWarning('帖子还空着呢。请输入内容或附上链接、照片再发布。')
            this.showPublishBtn = true
            return
          }
        }
        this.modelData.postType = this.postType
        if (this.modelData.resourceFiles.length === 0) {
          this.modelData.postType = 'text'
        }
        this.postData.modelData = JSON.stringify(this.modelData)
        this.isComplete = false
        rest.create(url, this.postData)
          .then(data => {
            if (data.status === 4) {
              let title = ''
              if (this.postType === 'image') {
                title = '照片'
              } else if (this.postType === 'doc') {
                title = '文档'
              } else if (this.postType === 'video') {
                title = '视频'
              }
              this.msgSuccess('正在处理' + title + '，处理完毕后，我们会给你发送通知，帖子即可查看。')
            } else if (data.status === 0) {
              this.msgSuccess('分享已提交，正等待管理员批准。')
            } else {
              this.msgSuccess('分享成功了！')
            }
            this.showPublishBtn = true
            this.isComplete = true
            this.editor.setContent('')
            this.files.image = []
            this.files.video = []
            this.files.doc = []
            this.modelData = {...this.defModelData}
            if (successCallback) {
              successCallback()
            }
            return data
          })
          .catch(e => {
            this.showPublishBtn = false
            this.isComplete = true
            if (e.status >= 1000) {
              let msg = e.message.replace(/(.*?)[Exception: ](.*?)/g, '$2')
              this.msgError(msg)
            } else {
              this.msgError('分享失败')
            }
          })
      },
      publishAfter () {
        this.editor.setContent('')
        this.shareFormShow = false
        this.shareAtScope = 'groups'
        this.scope = 0
        this.showModelForm = false
        this.selectGroupName = ''
      },
      loadGroups () {
        rest.get('/sns/groups/joined')
          .then((data) => {
            for (let index in data) {
              let item = {
                id: data[index].id,
                value: data[index].name,
                icon: data[index].icon,
                scopeName: data[index].scopeName
              }
              this.groupList.push(item)
            }
          })
      },
      groupSearch (queryString, cb) {
        var restaurants = this.groupList
        this.querySearch(restaurants, queryString, cb)
      },
      querySearch (restaurants, queryString, cb) {
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants
        cb(results)
      },
      createFilter (queryString) {
        return (restaurant) => {
          return (restaurant.value.indexOf(queryString.toLowerCase()) === 0)
        }
      },
      handleSelect (item) {
        if (item && item.id && this.scope === 0) {
          this.postData.createAt = item.id
          this.postData.scopeValue = item.id
          this.showPublishBtn = false
        }
      },
      changeItem (nv) {
        if (nv === 'timeLine') {
          this.scope = 2
          this.showPublishBtn = false
        } else {
          this.showPublishBtn = true
          this.scope = 0
        }
      },
      toggleModelForm (type, mfp, preTitle) {
        if (type === this.modelForm && this.showModelForm) {
          this.showModelForm = !this.showModelForm
          this.modelForm = ''
          this.modelFormPrepend = ''
          this.modelFormPlaceholder = ''
          return
        } else if (type !== this.modelForm && !this.showModelForm) {
          this.showModelForm = !this.showModelForm
        }
        this.modelForm = type
        this.modelFormPlaceholder = mfp
        this.modelFormPrepend = preTitle
      },
      closeClear () {
        this.showPublishBtn = true
        this.editor.setContent('')
        this.modelData = {...this.defModelData}
        if (this.groupId) {
          this.postData.modelData = ''
          this.postData.createAt = this.currGroup.id
          this.postData.scopeValue = this.currGroup.id
        } else {
          this.postData.modelData = ''
          this.postData.createAt = null
          this.postData.scopeValue = null
          this.postData.scope = 0
          this.postData.createAtType = 101
          this.shareAtScope = 'groups'
          this.selectGroupName = ''
          this.scope = 0
        }
        this.$store.commit(types.M_CHANGE_SHARE_FORM_DATA, {type: '', item: {}})
      }
    },
    watch: {
      shareFormShow (nv) {
        if (nv && !this.editor) {
          this.$nextTick(function () {
            createMediumEditor((MediumEditor, MediumButton) => {
              const edit = document.getElementById(this.shareFormId)
              const editor = new MediumEditor(edit, {
                placeholder: {
                  text: '有些话适合烂在这里...',
                  hideOnClick: true
                },
                buttonLabels: 'fontawesome',
                toolbar: {
                  buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
                },
                paste: {
                  forcePlainText: false,
                  cleanPastedHTML: false,
                  cleanReplacements: [],
                  cleanAttrs: ['class', 'style', 'dir'],
                  cleanTags: ['meta'],
                  unwrapTags: []
                },
                extensions: {
                  'warning': new MediumButton({
                    label: '<i class="color-danger fa fa-font"></i>',
                    start: '<span class="color-danger">',
                    end: '</span>'
                  })
                }
              })
              this.editor = editor
            })
          })
        }
      }
    },
    mounted () {
      this.modelData = {...this.defModelData}
      this.modelType = 'share'
      this.loadGroups()
    },
    beforeDestroy () {
      if (this.editor) {
        this.editor.destroy()
      }
    }
  }
</script>
<style>

</style>
