<template>
  <div class="news-side-nav">
    <section class="groups">
      <ul>
        <li v-for="(column, index) in getCurrNodeChildren" :key="column.caId" @click="getArticleFromCatalog(column.caId)"><a>{{column.caName}}</a></li>
        <li v-for="(column, key) in getUserDefinedNode" :key="column" @click="searchFromKey(key)"><a>{{column}}</a></li>
        <li @click="configureOpen"><a><i class="fa fa-pencil" aria-hidden="true"></i> 管理板块</a></li>
      </ul>
    </section>
  </div>
</template>
<script>
  import { types, personalConfig, configureVisible } from '@/store/modules/news'
  export default {
    computed: {
      personalConfig,
      configureVisible,
      getCurrNodeChildren () {
        return this.$store.state.news.currNode.children
      },
      getCurrUser () {
        return this.$store.state.news.user
      },
      getUserDefinedNode () {
        if (this.getCurrUser && this.getCurrUser.info && this.getCurrUser.info.keyConfig) {
          return JSON.parse(this.getCurrUser.info.keyConfig)
        } else {
          return []
        }
      },
      getCurrNode () {
        return this.$store.state.news.currNode
      }
    },
    props: {
      personal: true
    },
    data () {
      return {
        userDefinedNode: []
      }
    },
    methods: {
      configureOpen () {
        this.personalConfig = true
        this.configureVisible = true
      },
      configureClose () {
        this.personalConfig = null
        this.configureVisible = false
      },
      getArticleFromCatalog (caId) {
        var site = '190014'
        if (this.getCurrNode.caId === 'rec') {
          site = '190014'
        } else {
          site = this.getCurrNode.caId
        }
        var param = {}
        param.site = site
        param.key = caId
        this.$store.dispatch(types.NEWS_RECOMMEND_ARTICLE_BY_CATAGORY, param)
        this.$store.commit(types.NEWS_INIT_PAGE_SET, 1)
        this.$store.commit(types.NEWS_SET_CURRENT_SEARCH, {key: caId, type: 'catagory'})
      },
      searchFromKey (key) {
        var site = '190014'
        if (this.getCurrNode.caId === 'rec') {
          site = '190014'
        } else {
          site = this.getCurrNode.caId
        }
        var param = {}
        param.site = site
        param.key = key
        this.$store.dispatch(types.NEWS_SEARCH_WITH_KEY, param)
        this.$store.commit(types.NEWS_INIT_PAGE_SET, 0)
        this.$store.commit(types.NEWS_SET_CURRENT_SEARCH, {key: key, type: 'keyword'})
      }
    },
    mounted () {
      if (this.getCurrUser && this.getCurrUser.info && this.getCurrUser.info.keyConfig) {
        this.userDefinedNode = JSON.parse(this.getCurrUser.info.keyConfig)
      }
    },
    watch: {
    }
  }
</script>
<style scoped="scoped">
  @import 'css/variable.css';
  .news-side-nav{
    & .groups{
      & ul{
        & :last-child{
          & a{
            border-top: 1px solid color(var(--color-primary) tint(80%));
          }
        }
      }
    }
  }
  .groups header{
    font-size: 12px;
    color: var(--color-secondary);
    height: 24px;
  }
  .groups li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    position: relative;
    & a {
      color: #666;
      display: block;
      padding: 0 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      & i {
        margin-right: 6px;
      }
    }
    & span {
      position: absolute;
      right: 10px;
      top: 0;
      color: var(--color-warning);
      font-size: 12px;
    }
    &:hover a, &.active a{
      background-color: #e4e4e4;
      color: var(--color-primary);
    }
  }
</style>
