<template>
  <div class="news-wrapper">
    <el-row>
      <el-col :span="17">
        <div class="search-info mod-border clearfix">
          <h3>{{getCurrNode.caName}}</h3>
          <el-input
            placeholder="搜索资讯"
            icon="search"
            v-model="searchinfo"
            :on-icon-click="handleIconClick">
          </el-input>
        </div>
        <div class="news-content mod-border margin-t">
          	<div class="media-object" v-for="(ar, index) in getListArticle1" :key="ar.id">
              <div class="media-object-section news-img" v-if="ar.arThumb">
                <a>
                  <img :src="ar.arThumb" :alt="ar.title">
                </a>
              </div>
              <div class="media-object-section">
                <h3 class="news-title" @click="getNewArticle(ar.id, index)" :title="ar.title" v-html="ar.title"></h3>
                <div class="info">
                  <span class="el-tag el-tag--warning">{{ar.caName}}</span>
                  <a class="color-secondary source">
                    <img alt="" src="//p3.pstatp.com/large/97d001bf3f3cba72913"> {{ar.source}}
                  </a>
                  <span class="color-secondary">{{ar.comment == null ? 0 : ar.comment}}评论 </span>
                  <span class="color-secondary">{{timeFormat(ar.pubDate)}}</span>
                </div>
                <div class="uninterested color-secondary">
                  <span @click="disLike(ar)">不感兴趣<i class="fa fa-times" aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
          </div>
        <list-loading v-infinite-scroll="loadMore"
                      infinite-scroll-disabled="busy"
                      infinite-scroll-distance="10"></list-loading>
      </el-col>
      <el-col :span="7">
        <mod title="热搜榜" size="14">
          <div class="news-content hot-list no-padding">
            <div class="media-object">
              <div class="media-object-section">
                <div class="title14" title="库里的3468万年薪到手 只有1526，美国这税太可怕了">库里的3468万年薪到手 只有1526，美国这税太可怕了</div>
                <div class="info">
                  <span class="el-tag el-tag--danger">体育</span>
                  <span class="color-secondary">10小时前</span>
                </div>
              </div>
            </div>
            <div class="media-object">
              <div class="media-object-section">
                <div class="title14" title="为何白人球星都爱NBA黑人球员 看完这些照片你就懂了">为何白人球星都爱NBA黑人球员 看完这些照片你就懂了</div>
                <div class="info">
                  <span class="el-tag el-tag--danger">体育</span>
                  <span class="color-secondary">10小时前</span>
                </div>
              </div>
            </div>
            <div class="media-object">
              <div class="media-object-section">
                <div class="title14" title="皇马卖两巨星后进攻瘫痪，巴萨绝尘而去，西甲已无悬念？">皇马卖两巨星后进攻瘫痪，巴萨绝尘而去，西甲已无悬念？</div>
                <div class="info">
                  <span class="el-tag el-tag--danger">体育</span>
                  <span class="color-secondary">10小时前</span>
                </div>
              </div>
            </div>
          </div>
        </mod>
      </el-col>
    </el-row>
    <news-detail :arIdFromWarpper="openArId" :visible="visible" @close="visible = false"></news-detail>
  </div>
</template>
<script>
  import { types } from '@/store/modules/news'
  import { currUser } from '@/store/modules/helper'
  import NewsDetail from '@/views/news/NewsDetail'
  export default {
    computed: {
      currUser,
      userId () {
        return this.$store.state.news.user.id
      },
      getListArticle1 () {
        return this.$store.state.news.listArticle1
      },
      getCurrNode () {
        return this.$store.state.news.currNode
      },
      getCurrSideNode () {
        return this.$store.state.news.currSearchNode
      },
      getCurrSearchNode () {
        return this.$store.state.news.currSearchNode
      },
      getCurrPageNum () {
        return this.$store.state.news.currPageNum
      }
    },
    data () {
      return {
        searchinfo: '',
        currentView: 'dsd',
        listArticle1: [],
        userID: '',
        visible: false,
        busy: false,
        openArId: ''
      }
    },
    watch: {
      userId (nv) {
        this.loadMore()
      }
    },
    methods: {
      loadMore () {
        var id = this.userId || null
        if (id === null) {
          return false
        }
        this.busy = true
        var param = {}
        param.uid = id
        var site = '190014'
        if (this.getCurrNode.caId === 'rec') {
          site = '190014'
        } else {
          site = this.getCurrNode.caId
        }
        param.site = site
        param.pageNum = this.getCurrPageNum + 1
        param.loadMore = true
        if (this.getCurrSearchNode) {
          if (this.getCurrSearchNode.type === 'catagory') {
            param.key = this.getCurrSearchNode.key
            this.$store.dispatch(types.NEWS_RECOMMEND_ARTICLE_BY_CATAGORY, param)
          } else if (this.getCurrSearchNode.type === 'keyword') {
            param.key = this.getCurrSearchNode.key
            this.$store.dispatch(types.NEWS_SEARCH_WITH_KEY, param)
          } else if (this.getCurrSearchNode.type === 'site') {
            if (this.getCurrSearchNode.key === 'rec') {
              this.$store.dispatch(types.NEWS_RECOMMEND_ARTICLE, param)
            } else {
              this.$store.dispatch(types.NEWS_RECOMMEND_ARTICLE_BY_CATAGORY, param)
            }
          }
          this.$store.commit(types.NEWS_INIT_PAGE_SET, this.getCurrPageNum + 1)
        }
        this.busy = false
      },
      timeFormat (time) {
        if (time.endsWith('M')) {
          var date = new Date(time)
          return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':00'
        }
        return time
      },
      timeDisNow (time) {
      },
      disLike (article) {
        var param = {}
        param.iid = article.id
        param.type = 'DISLIKE'
        this.$store.dispatch(types.NEWS_COLLECT_ARTICLE, param)
        this.$store.commit(types.NEWS_SET_LIST_ARTICLE_1, this.getListArticle1.filter(ar => ar !== article))
      },
      getNewArticle (id, index) {
        this.visible = true
        this.openArId = id
        this.$store.dispatch(types.NEWS_GET_ARTICLE, {iid: id, biz: this.getCurrNode.caId})
        this.$store.commit(types.NEWS_SELECT_LIST_ARTICLE_1_INDEX, index)
      },
      handleIconClick () {}
    },
    mounted () {
    },
    components: {
      NewsDetail
    }
  }
</script>
<style>
  @import 'css/variable.css';

  .search-info{
      background: #fff;
      padding: 1rem;
      & h3{
        display: inline-block;
        height: 30px;
        line-height: 40px;
        width: 60%;
        margin: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      & .el-input{
        width: 40%;
        float: right;
        & .el-input__icon{
          left: 0px;
        }
        & .el-input__inner{
          padding-right: 0;
          padding-left: 35px;
        }
      }

  }
  .list-refresh-msg{
    text-align: center;
    font-size: 14px;
    height: 32px;
    line-height: 34px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1rem;
    background-color: rgba(255,73,73,0.10);
    border-color: rgba(255,73,73,0.20);
    color: var(--color-danger)!important;
  }
  /*新闻列表*/
.news-content {
  background: #fff;
  padding: 1rem;
  & .media-object{
    position: relative;
    padding: 0 0 1rem 0;
    border-bottom: 1px solid color(var(--color-primary) tint(90%));
    &:last-child{
      border-bottom: none;
      padding: 0;
      margin: 0;
    }
    & .media-object-section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      &:first-child{
        & a:not(.source){
          display: flex;
          justify-content: center;
          align-items: center;
          width:170px;
          height: 110px;
          border-radius: 4px;
          overflow: hidden;
        }
      }
      &:last-child{
        width: 100%;
      }
      & .news-title{
          margin-bottom: 10px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          cursor: pointer;
          font-size: 18px;
          font-weight: bold;
      }
      & .title14{
          margin-bottom: 10px;
          font-size: 14px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          cursor: pointer;
      }
      & .info{
        & span{
            font-size: 12px;
            margin-right: 6px;
        }
        & a{
            font-size: 12px;
            margin-right: 6px;
        }
        & .source img{
          position: relative;
          bottom: 2px;
          color: var(--color-white);
          margin-right: 2px;
          width: 18px;
          height: 18px;
          line-height: 17px;
          text-align: center;
          font-size: 12px;
          border-radius: 50%;
          background-color: var(--color-primary);
          overflow: hidden;
        }
        & a.column-name{
            padding: 2px 6px;
            border: 1px solid var(--color-danger);
            border-radius: 3px;
            cursor: pointer;
        }
      }
      & p{
          font-size: 12px;
          color: var(--color-secondary);
          margin: 10px 0 0 0;
      }
    }
    & .media-object-section.img-item{
        padding-right: 0px;
      & .uninterested{
        bottom: 0px;
      }
    }
    & button{
        position: absolute;
        right: 0;
        top: 0;
    }
  }
  & .loader-message{
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 1rem;
  }
}
.news-img{
  &:first-child{
    & a{
        display: inline-block;
        width: 170px;
        background: radial-gradient(rgba(6, 6, 6, .1), rgba(190, 190, 190, .8));
        text-decoration: none;
      & img{
          border-radius: 4px;
          width: 100%;
      }
    }
  }
}
.uninterested{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 18px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
  &:hover {
    background-color: color(var(--color-danger) tint(10%));
    color: var(--color-white);
  }
  & span{
      color: var(--color-white);
      padding-left: 6px;
      margin: 0px;
      display: inline-block;
      line-height: 20px;
      height: 20px;
  }
  & i{
      color: color(var(--color-primary) tint(80%));
      padding: 0 4px;
  }
}
</style>
