<template>
  <div class="hello">
    <h1>订阅</h1>
    <div class="filters mod-border margin-t">
      <el-row>
        <el-col :span="20">
          <ul class="menu">
            <li>
              <a class="active">全部</a>
            </li>
            <li>
              <a>头条</a>
            </li>
            <li>
              <a>新闻</a>
            </li>
            <li>
              <a>国际</a>
            </li>
          </ul>
        </el-col>
        <el-col :span="4">
          <div class="filters_btn">
            <el-button type="success" size="small" @click="personInfoEdit = true">订阅</el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <el-dialog title="新闻订阅" :visible.sync="personInfoEdit" size="small">
      <lg-tag v-model="tags" type="tag"  :recTags="recTags"></lg-tag>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">保 存</el-button>
      </div>
    </el-dialog>
    <div class="bg-white mod-border padding-b margin-t padding-t clearfix padding-l">
      <task-item></task-item>
      <task-item></task-item>
      <task-item></task-item>
      <task-item></task-item>
      <task-item></task-item>
      <task-item></task-item>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { rest } from '@/util'
  import Rests from '@/components/Rests'
  import RestsStore from '@/components/RestsStore'
  import Feed from '@/components/Feed'
  import Upload from '@/components/eleme/upload/src'
  // 列表
  import MemberItem from '@/components/items/MemberItem'
  import ActivityItem from '@/components/items/ActivityItem'
  import FileItem from '@/components/items/FileItem'
  import TopicItem from '@/components/items/TopicItem'
  import TaskItem from '@/components/items/TaskItem'
  import LgTag from '@/components/TagList'
  export default {
    components: {
      Upload,
      Rests,
      RestsStore,
      Feed,

      ActivityItem,
      FileItem,
      TopicItem,
      MemberItem,
      TaskItem,
      LgTag
    },
    data () {
      return {
        recTags: ['科技', '创投', '电商', '社会', '财经', '体育', '娱乐', '游戏', '汽车', '军事', '国际', '时尚', '旅游', '育儿', '养生', '历史', '美食', '国内', '星座', '音乐', '少儿', '幼儿', '婴儿', '地名', '是的', '发的', '发生', '大概', '服务', '答复说'],
        value1: [],
        feed: {
          'objType': 'POST',
          'objId': '100000000091'
        },
        fileList: [{name: 'food.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}, {name: 'food2.jpeg', url: 'https://fuss10.elemecdn.com/3/63/4e7f3a15429bfda99bce42a18cdd1jpeg.jpeg?imageMogr2/thumbnail/360x360/format/webp/quality/100'}],
        url: '/page/somes/one',
        visible: false,
        msg: 'Welcome to Your Vue.js App',
        colors: [{
          text: 'Aquamarine'
        }, {
          text: 'Hotpink'
        }, {
          text: 'Gold'
        }, {
          text: 'Crimson'
        }, {
          text: 'Blueviolet'
        }, {
          text: 'Lightblue'
        }, {
          text: 'Cornflowerblue'
        }, {
          text: 'Skyblue'
        }, {
          text: 'Burlywood'
        }],
        personInfoEdit: false,
        tags: []
      }
    },
    computed: {
      ...mapState({
        column: state => state.column,
        article: state => state.article,
        recCatagory: state => state.recCatagory
      })
    },
    methods: {
      /* eslint-disable */
      feedCreate () {
        rest.create('/page/feeds', {
          "groupId": "0000000000000021",
          "objType": "POST",
          "objId": "100000000091",
          "userId": "000000000012",
          "objContent": "{\"aa\": 11, \"title\": \"111富fwefwf\"}",
          "scope": "PUBLIC"
        }).then(json => {
          this.feed = json
        })
      },
      feedEdit () {
        rest.edit('/page/feeds', {
          "objType": this.feed.objType,
          "objId": this.feed.objId,
          "objContent": "{\"aa\": 33, \"title\": \"111富fwefwf\"}"
        }).then(json => {
          this.feed = json
        })
      },
      feedEditById () {
        rest.edit('/page/feeds/' + this.feed.id, {
          "objContent": "{\"aa\": 22, \"title\": \"111富fwefwf\"}",
        }).then(json => {
          this.feed = json
        })
      },
      /* eslint-enable */
      handleRemove (file, fileList) {
//        console.log(file, fileList)
      },
      handlePreview (file) {
        console.log(file)
      },
      create () {
        let aa = {a: 1, b: 2}
        let bb = {b: 0, c: 3, d: 4}
        console.log({...aa, ...bb})
        rest.create(this.url, {})
      },
      edit () {
        rest.edit(this.url, {})
      },
      get () {
        rest.get(this.url).then(data => console.log(data))
      },
      del () {
        rest.delete(this.url)
      },
      error () {
        rest.get('/page/somes/err').catch(err => {
          if (err.status < 10000) {
            console.log('system error:', err)
          } else {
            console.log('app error:', err)
          }
        })

        rest.get('/page/somes/err1').catch(err => {
          if (err.status < 10000) {
            console.log('system error:', err)
          } else {
            console.log('app error:', err)
          }
        })

        rest.get('/page/somes/err?name=').catch(err => {
          if (err.status < 10000) {
            console.log('system error:', err)
          } else {
            console.log('app error:', err)
          }
        })

        rest.get('/page/somes/err?name=aa').then(data => console.log(data))
      },
      getValue (type) {
        return this.column[type] ? this.column[type] : ''
      }
    }
  }
</script>
<style>
  .bg-white{background: #fff;}
  .subscribe{
    padding: 0px 20px;
  }
  .subscribe .el-transfer-panel{
    display: block;
    width:auto;
  }
  .subscribe .el-transfer-panel .el-transfer-panel__body{
    height:auto;
  }
  .subscribe .el-transfer-panel .el-transfer-panel__list{
    height:auto;
  }
  .subscribe .el-transfer-panel .el-transfer-panel__list .el-transfer-panel__item{
    display: inline-block;
    padding:0 10px;
  }
  .subscribe .el-transfer__buttons{
    padding: 12px 10px 5px;
    display: block;
    text-align: center;
  }
  .subscribe .el-transfer__buttons .el-button{
    transform: rotate(90deg);
    display: inline-block;
    padding:8px;
    margin-left: 10px;
  }
</style>
