<script>
  import {
    closest, getOffset, getPrecedingRange,
    getRange, applyRange,
    scrollIntoView, getAtAndIndex
  } from './util'
  import AtTemplate from './AtTemplate.vue'
  import { rest } from '@/util'

  export default {
    name: 'At',
    mixins: [AtTemplate],
    props: {
      at: {
        type: String,
        default: null
      },
      ats: {
        type: Array,
        default: () => ['@']
      },
      loop: {
        type: Boolean,
        default: true
      },
      allowSpaces: {
        type: Boolean,
        default: true
      },
      avoidEmail: {
        type: Boolean,
        default: true
      },
      hoverSelect: {
        type: Boolean,
        default: true
      },
      members: {
        type: Array,
        default: () => []
      },
      nameKey: {
        type: String,
        default: 'name'
      },
      idKey: {
        type: String,
        default: 'id'
      },
      filterMatch: {
        type: Function,
        default: (name, chunk, at) => {
          // match at lower-case
          return name.toLowerCase()
            .indexOf(chunk.toLowerCase()) > -1
        }
      },
      deleteMatch: {
        type: Function,
        default: (name, chunk) => {
          return name === chunk
        }
      },
      atHtml: {
        type: Function,
        default: (at, item) => {
          let name = item.name || item.userName
          return at + name + ''
        }
      }
    },
    data () {
      return {
        suggestLoaded: false,
        suggestDelay: 500,
        suggestDelayId: -1,
        wrapId: (Math.random() * 10000 + '').split('.')[0],
        isLoadData: false,
        hasComposition: false,
        atwho: null,
        atString: '<a class="atwho-query" href="" data-datas="{{dataString}}" data-atwho-at-query="{{at}}" data-item-key="{{datakey}}">&nbsp;</a>',
        isBlur: true,
        noKeywordList: []
      }
    },
    computed: {
      atItems () {
        return this.at ? [this.at] : this.ats
      },
      wrap () {
        return this.$refs['wrap' + this.wrapId]
      },
      style () {
        if (this.atwho) {
          const {x, y} = this.atwho
          if (this.wrap) {
            const offset = getOffset(this.wrap)
            var top
            var dialog = document.getElementById('atDialogOpen')
            if (dialog) {
              top = y - offset.top + 'px'
            } else {
              top = y + window.pageYOffset - offset.top + 'px'
            }
            const left = x + window.pageXOffset - offset.left + 'px'
            return {left, top}
          }
        }
        return null
      }
    },
    watch: {
      'atwho.cur' (index) {
        if (index != null) { // cur index exists
          this.$nextTick(() => {
            this.scrollToCur()
          })
        }
      }
    },
    methods: {
      itemName (v) {
        const {nameKey} = this
        return nameKey ? v[nameKey] : v
      },
      itemKey (v) {
        const {idKey} = this
        const id = idKey ? v[idKey] : v
        return id.replace(/[U]?(\w+)/g, '$1')
      },
      converItemHtml (params) {
        let html = this.atString.replace(/\{\{(\w+)\}\}/g, ($0, $1) => {
          return params && params.hasOwnProperty($1) ? params[$1] : ''
        })
        return html
      },
      isCur (index) {
        return index === this.atwho.cur
      },
      handleItemHover (e) {
        if (this.hoverSelect) {
          this.selectByMouse(e)
        }
      },
      handleItemClick (e) {
        this.selectByMouse(e)
        this.insertItem()
      },
      handleDelete (e) {
        const range = getPrecedingRange()
        if (range) {
          let element = range.startContainer.parentElement
          const {members, deleteMatch, itemKey} = this
          if (element) {
            const at = element.getAttribute('data-atwho-at-query')
            const chunk = element.getAttribute('data-item-key')
            let curItem
            const has = members.some(v => {
              const key = itemKey(v)
              curItem = v
              return deleteMatch(key, chunk)
            })
            if (has) {
              e.preventDefault()
              e.stopPropagation()
              const r = getRange()
              if (r) {
                r.setStart(r.endContainer, 0)
                let params = {
                  at: at,
                  datakey: curItem.key,
                  dataString: this.atHtml(at, curItem)
                }
                document.execCommand('delete', false, this.converItemHtml(params))
              }
            }
          }
        }
      },
      handleKeyDown (e) {
        const {atwho} = this
        if (atwho) {
          if (e.keyCode === 38 || e.keyCode === 40) { // ↑/↓
            if (!(e.metaKey || e.ctrlKey)) {
              e.preventDefault()
              e.stopPropagation()
              this.selectByKeyboard(e)
            }
            return
          }
          if (e.keyCode === 13) { // enter
            this.insertItem()
            e.preventDefault()
            e.stopPropagation()
            return
          }
          if (e.keyCode === 27) { // esc
            this.closePanel()
            return
          }
        }
        const isChar = e.keyCode >= 48 && e.keyCode <= 90
        if (isChar) {
          setTimeout(this.handleInput, 50)
        }
        if (e.keyCode === 8 && e.target.innerHTML) {
          this.handleDelete(e)
        }
      },
      // compositionStart -> input -> compositionEnd
      handleCompositionStart () {
        this.hasComposition = true
      },
      handleCompositionEnd () {
        this.hasComposition = false
        this.handleInput()
      },
      handleInput () {
        if (this.hasComposition) return
        const range = getPrecedingRange()
        if (range) {
          const {atItems, avoidEmail, allowSpaces} = this
          let show = true
          const text = range.toString()
          const {at, index} = getAtAndIndex(text, atItems)

          if (index < 0) show = false
          const prev = text[index - 1]

          const chunk = text.slice(index + at.length, text.length)

          if (avoidEmail) {
            // 上一个字符不能为字母数字 避免与邮箱冲突
            // 微信则是避免 所有字母数字及半角符号
            if (/^[a-z0-9]$/i.test(prev)) show = false
          }

          if (!allowSpaces && /\s/.test(chunk)) {
            show = false
          }
          // chunk以空白字符开头不匹配 避免`@ `也匹配
          if (/^\s/.test(chunk)) show = false

          if (!show) {
            this.closePanel()
          } else {
            this.isBlur = false
            const {members, filterMatch, itemName} = this
            if (members && members.length > 0) {
              const matched = members.filter(v => {
                const name = itemName(v)
                return filterMatch(name, chunk, at)
              })
              if (matched.length) {
                this.openPanel(matched, range, index, at)
              } else {
                this.closePanel()
              }
            } else {
              this.getUserList(range, index, chunk, at)
            }
          }
        }
      },
      closePanel () {
        this.suggestLoaded = false
        this.isLoadData = false
        if (this.atwho) {
          this.atwho = null
        }
      },
      inputBlur () {
        this.suggestLoaded = false
        this.isLoadData = false
        this.isBlur = true
      },
      openPanel (list, range, offset, at) {
        this.isLoadData = false
        const fn = () => {
          const r = range.cloneRange()
          r.setStart(r.endContainer, offset + at.length) // 从@后第一位开始
          // todo: 根据窗口空间 判断向上或是向下展开
          const rect = r.getClientRects()[0]
          if (rect) {
            this.atwho = {
              range,
              offset,
              list,
              x: rect.left,
              y: rect.top - 4,
              cur: 0, // todo: 尽可能记录
              datakey: this.itemKey(list[0])
            }
            this.suggestLoaded = false
          }
        }
        if (this.atwho) {
          fn()
        } else { // 焦点超出了显示区域 需要提供延时以移动指针 再计算位置
          setTimeout(fn, 10)
        }
      },
      scrollToCur () {
        if (!this.$refs.currAtWho) {
          return
        }
        const curEl = this.$refs.currAtWho[0]
        const scrollParent = curEl.parentElement.parentElement // .atwho-view
        scrollIntoView(curEl, scrollParent)
      },
      selectByMouse (e) {
        const el = closest(e.target, d => d.dataset.index)
        const cur = +el.dataset.index
        const datakey = el.dataset.key
        this.atwho = {
          ...this.atwho,
          cur,
          datakey
        }
      },
      selectByKeyboard (e) {
        const offset = e.keyCode === 38 ? -1 : 1
        const {cur, list} = this.atwho
        const nextCur = this.loop
          ? (cur + offset + list.length) % list.length
          : Math.max(0, Math.min(cur + offset, list.length - 1))
        this.atwho = {
          ...this.atwho,
          cur: nextCur,
          datakey: this.itemKey(list[(cur + offset + list.length) % list.length])
        }
      },
      insertItem () {
        const { range, list, datakey } = this.atwho
        const { atItems, itemKey } = this
        const r = range.cloneRange()
        const text = range.toString()
        const { at, index } = getAtAndIndex(text, atItems)
        let items = list.filter(v => this.itemKey(v) === datakey + '')
        if (!items.length) {
          return
        }
        let currItem = items[0]
//      r.setStart(r.endContainer, index + at.length) // 从@后第一位开始
        r.setStart(r.endContainer, index) // 从@开始

        // hack: 连续两次 可以确保click后 focus回来 range真正生效
        applyRange(r)
        applyRange(r)
        let params = {
          at: at,
          datakey: itemKey(currItem),
          dataString: this.atHtml(at, currItem)
        }
//      document.execCommand('insertText', 0, itemName(list[cur]) + ' ')
        document.execCommand('insertHtml', 0, this.converItemHtml(params))
//      this.$children[0].editor.pasteHTML(this.converItemHtml(params))
        this.suggestLoaded = false
      },
      getUserList (range, index, chunk, at) {
        if (this.suggestLoaded) {
          return
        }
        let params = {
          type: 'user',
          q: chunk.trim() || '*:*',
          start: 0,
          rows: 10
        }
        if (this.suggestDelayId > -1) {
          clearTimeout(this.suggestDelayId)
          this.suggestDelayId = -1
        }
        const r1 = range.cloneRange()
        r1.setStart(r1.endContainer, index + at.length) // 从@后第一位开始
        const rect1 = r1.getClientRects()[0]
        this.atwho = {
          range,
          index,
          x: rect1.left,
          y: rect1.top - 4
        }
        this.isLoadData = true
        this.suggestDelayId = setTimeout(() => {
          this.suggestLoaded = true
          if (params.q === '*:*' && this.noKeywordList.length) {
            this.openPanel(this.noKeywordList, range, index, at)
          } else {
            rest.get('/sns/search/suggest', params, true)
              .then(data => {
                this.atwho = null
                if (data.length > 0) {
                  if (params.q === '*:*') {
                    this.noKeywordList = data
                  }
                  this.openPanel(data, range, index, at)
                } else {
                  this.suggestLoaded = false
                  this.isLoadData = false
                  this.closePanel()
                }
              })
          }
        }, this.suggestDelay)
      }
    }
  }
</script>

<style>
  .atwho-query:before {
    content: attr(data-datas);
    display: inline-block;
  }
</style>
