<template>
  <div :ref="'wrap'+ wrapId"
    class="atwho-wrap"
    @compositionstart="handleCompositionStart"
    @compositionend="handleCompositionEnd"
    @input="handleInput"
    @keydown="handleKeyDown"
  >
    <div v-if="atwho && !isBlur"
      class="atwho-panel"
      :style="style"
    >
      <div class="atwho-inner">
        <div class="atwho-view scrollCss">
          <ul class="atwho-ul">
            <li v-if="isLoadData"><i class="fa fa-spin fa-spinner"></i>正在加载数据</li>
            <li v-else v-for="(item, index) in atwho.list"
                class="atwho-li"
                :class="isCur(index)&& 'atwho-cur'"
                :ref="isCur(index) && 'currAtWho'"
                :data-index="index"
                :data-key="itemKey(item)"
                @mouseenter="handleItemHover"
                @click="handleItemClick">
              <slot name="item" :item="item">
                <span><img :src="item.avatar_c" v-error-img:user></span>
                <span v-text="itemName(item)"></span>
              </slot>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <slot></slot>
  </div>
</template>
<style>
@import 'css/variable.css';
.atwho-view {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .2), 0px 0px 6px 0px rgba(0, 0, 0, .24);
  width: 160px;
  overflow-y: auto;
  border-radius: 3px;
  position: absolute;
  bottom: 0;
  left: -0.8em;
  background: #fff;
  z-index: 11110 !important;
}
.atwho-panel{
  position: absolute;
}
.atwho-ul {
  max-height: 135px;
  padding: 0;
  margin: 0;
  & li {
    list-style:none;
    box-sizing: border-box;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    & span {
      &:first-child{
        display: inline-block;
        width: 24px;
        height: 24px;
        overflow: hidden;
        border-radius: 50%;
        background: #eee;
        margin-right: 4px;
      }
      &:last-child{
        width: calc(100% - 30px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &:hover, &.atwho-cur{
      background: var(--color-info);
    }
  }
}
</style>

