<template>
  <div>
    <div class="filters mod-border">
      <el-row>
        <el-col :span="20">
          <ul class="menu">
            <li>
              <a class="active">全部</a>
            </li>
            <li>
              <a>最新</a>
            </li>
            <li>
              <a>热门</a>
            </li>
          </ul>
        </el-col>
        <el-col :span="4">
          <div class="filters_btn">
            <el-button type="success" size="small">创建回答</el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="list-con mod-border margin-t margin-b clearfix">
      <ul class="date-list">
        <li>
          <div class="title">今日</div>
          <div class="today-list">
            <topic-item></topic-item>
            <topic-item></topic-item>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import TopicItem from '@/components/items/TopicItem'

export default {
  components: {
    TopicItem
  },
  data () {
    return {
    }
  },
  methods: {
  },
  computed: {
  }
}
</script>

<style>
</style>
