<template>
  <div>
    <el-dialog
      :visible.sync="showTopicForm"
      size="large"
      top="30px"
        :close-on-click-modal="false"
      custom-class="topic-dialog">
      <h3 slot="title" class="no-margin">创建问答</h3>
      <div class="topic-container">
        <div class="topic-main">
          <div class="header">
            <div class="title">
              <el-input ref="TopicTitle" v-model="TopicData.title" placeholder="请输入标题"></el-input>
            </div>
          </div>
          <div class="desc-header">
            <span>描述</span>
            <a class="insertimg-btn">
              <i class="fa fa-image"></i>
            </a>
          </div>
          <div class="topic-section" tabindex="-1">
            <div @paste="uploadClipboardImage" class="topic-desction" ref="topicContent" id="topicContent">
              <p></p>
            </div>
          </div>
          <div class="desc-header">
            <span>选择话题</span>
          </div>
          <div class="search-input">
            <tag v-model="TopicData.tags" type="secondary" :recTags="[]"></tag>
          </div>
        </div>
        <div class="topic-footer clearfix">
          <div>
            <el-button type="secondary">取 消</el-button>
            <el-button type="primary">发 布</el-button>
            <!--<el-button :disabled="!publishCcompleted" :icon="!publishCcompleted?'loading':''" type="success" @click="publishBlog">{{uploading?'正在上传':publishCcompleted?'发 布':'正在发布'}}</el-button>-->
          </div>
        </div>
        <el-upload
          ref="imgUploader"
          class="upload-insertImg"
          :action="action"
          :accept="imgFileType"
          :show-file-list="false"
          :on-success="successUpload">
        </el-upload>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import Tag from '@/components/tag'
  import { wrapUrl } from '@/util'
  import { createMediumEditor } from '@/util/mediumEditor.js'
  export default {
    data () {
      return {
        input2: '',
        showTopicForm: false,
        TopicData: {
          title: '',
          tags: []
        },
        action: wrapUrl('/zuul/file/web/upload?st=1'),
        imgFileType: 'image/*',
        editor: null,
        editorSection: null
      }
    },
    props: {
      visible: Boolean,
      recommends: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    methods: {
      init () {
        createMediumEditor((MediumEditor, MediumButton) => {
          this.editorSection = document.getElementById('topicContent')
          var editor = new MediumEditor(this.editorSection, {
            imageDragging: true,
            anchorPreview: {
              hideDelay: 500,
              previewValueSelector: 'a'
            },
            placeholder: {
              text: '在这里添加话题的描述...',
              hideOnClick: true
            },
            buttonLabels: 'fontawesome',
            toolbar: {
              buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
            },
            paste: {
              forcePlainText: false,
              cleanPastedHTML: true,
              cleanReplacements: [],
              cleanAttrs: ['class', 'style', 'dir'],
              cleanTags: ['meta'],
              unwrapTags: []
            },
            extensions: {
              'warning': new MediumButton({
                label: '<i class="color-danger fa fa-font"></i>',
                start: '<span class="color-danger">',
                end: '</span>'
              })
            }
          })
          editor.subscribe('editableKeyup', (e) => {
            var keyCode = e.keyCode
            if (keyCode === 38 || keyCode === 40) {
            }
          })
          editor.subscribe('editableClick', (e) => {
            if (e.target.tagName.toLowerCase() === 'img') {
              if (e.target.parentNode.textContent) {
                window.getSelection().removeAllRanges()
                let selection = window.getSelection()
                let range = document.createRange()
                range.selectNode(e.target)
                selection.addRange(range)
              } else {
                this.editor.selectElement(e.target.parentNode)
              }
            }
          })
          editor.subscribe('editableInput', (e) => {
          })
          editor.subscribe('focus', (e) => {
            let parant = e.target
            while (parant && parant.tagName && parant.tagName.toLowerCase() !== 'p') {
              parant = parant.parentNode
            }
          })
          editor.subscribe('blur', (e) => {
          })
          editor.subscribe('editableMouseover', (e) => {
            if (e.target.tagName.toLowerCase() === 'img') {
              let range = document.createRange()
              range.selectNode(e.target)
            }
          })
          this.editor = editor
        })
      },
      uploadClipboardImage (event) {
        let items = (event.clipboardData || event.originalEvent.clipboardData).items
        let files = []
        for (let index = 0; index < items.length; index++) {
          let item = items[index]
          if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
            files.push(item.getAsFile())
          }
        }
        if (files.length > 0) {
          let uploadInner = this.$refs.imgUploader.$refs['upload-inner']
          uploadInner.uploadFiles(files)
          event.preventDefault()
          event.stopPropagation()
        }
      },
      successUpload (res, file, fileList) {
        fileList.splice(fileList.indexOf(file), 1)
        if (file.response.status === 200 && file.response.data.ret === 0) {
          var html = this.imgHtml(res, file)
//          let pasteBlock = document.createDocumentFragment()
//          pasteBlock.appendChild(document.createElement('body'))
//          let fragmentBody = pasteBlock.querySelector('body')
//          fragmentBody.innerHTML = html
//          this.editor.pasteHTML(fragmentBody.innerHTML)
          this.contentFile.image = this.contentFile.image || []
          let selectedParentElement = this.editor.getSelectedParentElement()
          if (selectedParentElement && selectedParentElement.tagName === 'IMG') {
            // todo 处理文件列表，去掉要被替换的图片
            let dataStoreId = selectedParentElement.getAttribute('data-storeId')
            let filterFiles = this.contentFile.image.filter(f => f.response.data.storeId === dataStoreId)
            if (filterFiles && filterFiles.length > 0 && this.contentFile.image.indexOf(filterFiles[0]) !== -1) {
              this.contentFile.image.splice(this.contentFile.image.indexOf(filterFiles[0]), 1, file)
            } else {
              this.contentFile.image.push(file)
            }
          } else {
            // 添加图片到附件列表
            this.contentFile['image'].push(file)
          }
          this.editor.pasteHTML(html)
        } else {
          this.msgError('插入图片失败，请重新操作')
        }
      }
    },
    watch: {
      visible (nv) {
        this.showTopicForm = nv
        if (nv && !this.editor) {
          this.$nextTick(function () {
            this.init()
          })
        }
      },
      item (nv) {
        if (nv) {
          let user = nv.user
          if (!user) {
            let userId = this.item && this.item.creator
            if (userId) {
              this.storeNeedData({
                type: 'user',
                dataIds: [userId]
              }).then(users => {
                this.$set(this.item, 'user', users[userId])
              })
            }
          }
        }
        this.initData()
      }
    },
    computed: {
    },
    components: {
      Tag
    },
    created () {
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @import 'css/medium-editor.css';
  .topic-dialog{
    width:100%;
    max-width: 640px;
  }
  .topic-dialog .topic-footer {
    display: flex;
    padding:16px 0 0 0;
    flex-direction: row-reverse;
  }
  .upload-insertImg {
    height:0;
  }
  .search-input{

  }
</style>
