<template>
  <div>
    <group-header ref="header"></group-header>
    <div class="filters mod-border">
      <el-row>
        <el-col :span="20">
          <ul class="menu">
            <li>
              <a class="active">全部</a>
            </li>
            <li>
              <a>分配给我的</a>
            </li>
            <li>
              <a>
                <span v-if="true">
                  <i class="fa fa-sort margin-r4"></i>
                </span>
                <span v-else>
                  <i class="fa fa-sort-up margin-r4"></i>
                  <i class="fa fa-sort-down margin-r4"></i>
                </span>
                优先级
              </a>
            </li>
            <li>
              <a>今天要做的</a>
            </li>
            <li>
              <el-popover
                popper-class="vertical"
                ref="taskMore"
                placement="bottom-start"
                width="80"
                trigger="hover"
              >
                <ul class="vertical-menu">
                  <li>编辑</li>
                </ul>
              </el-popover>
              <a v-popover:taskMore>更多 <i class="fa fa-angle-down margin-l4"></i></a>
            </li>
          </ul>
        </el-col>
        <el-col :span="4">
          <div class="filters_btn">
            <el-button type="success" size="small" @click="addTopic = true"> 新 建 </el-button>
            <el-button type="text" size="small" class="cog margin-l6"><i class="el-icon-setting"></i></el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <div class="list-con mod-border no-border-top margin-b clearfix">
      <ul class="date-list no-date-list">
        <li>
          <div class="today-list">
            <topic-item></topic-item>
            <topic-item></topic-item>
            <topic-item></topic-item>
            <topic-item></topic-item>
            <topic-item></topic-item>
            <topic-item></topic-item>
            <topic-item></topic-item>
            <topic-item></topic-item>
          </div>
        </li>
      </ul>
      <div class="margin-b text-center">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page.sync="currentPage1"
          :page-size="100"
          layout="total, prev, pager, next"
          :total="1000">
        </el-pagination>
      </div>
    </div>
    <topic-form :visible="addTopic"></topic-form>
  </div>
</template>

<script>
  import TopicItem from '@/components/items/TopicItem'
  import GroupHeader from '../group/GroupHeader'
  import TopicForm from './TopicForm'
  export default {
    components: {
      TopicItem,
      GroupHeader,
      TopicForm
    },
    data () {
      return {
        addTopic: false,
        currentPage1: 1
      }
    },
    methods: {
      handleSizeChange (val) {
        console.log(`每页 ${val} 条`)
      },
      handleCurrentChange (val) {
        console.log(`当前页: ${val}`)
      }
    },
    computed: {
    }
  }
</script>

<style>

</style>
