<template>
</template>
<script>
  import { rest, wrapUrl } from '@/util'
  import { currUser } from '@/store/modules/helper'
  import Vue from 'vue'
  Vue.component('group-item', {
    functional: true,
    render: function (h, ctx) {
      var item = ctx.props.item
      var icon = item.icon || require('../../assets/img/1.jpg')
      return h('li', ctx.data, [
        h('div', { attrs: { class: 'media-object img50' } }, [
          h('div', { attrs: { class: 'media-object-section' } }, [
            h('div', { attrs: { class: 'img' } }, [
              h('img', { attrs: { alt: item.value, src: icon } })
            ])
          ]),
          h('div', { attrs: { class: 'media-object-section shrink' } }, [
            h('h3', { attrs: { class: 'name', title: item.value } }, [item.value]),
            h('div', { attrs: { class: 'color-secondary' } }, [item.scopeName + '小组'])
          ])
        ])
      ])
    },
    props: {
      item: { type: Object, required: true }
    }
  })
  export default {
    data () {
      return {
        content: '',
        mediumOptions: {
          imageDragging: true,
          anchorPreview: {
            hideDelay: 500,
            previewValueSelector: 'a'
          },
          placeholder: {
            text: '在这里分享你的正文...',
            hideOnClick: true
          },
          buttonLabels: 'fontawesome',
          toolbar: {
            buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
          },
          paste: {
            forcePlainText: false,
            cleanPastedHTML: false,
            cleanReplacements: [],
            cleanAttrs: ['class', 'style', 'dir'],
            cleanTags: ['meta'],
            unwrapTags: []
          }
        },
        suggestLoaded: false,
        suggestDelay: 500,
        suggestDelayId: -1,
        noKeywordList: [],
//        groupList: [],
        action: wrapUrl('/zuul/file/web/upload?st=1'),
        imgFileType: 'image/*',
        isCoverUploading: false,
        coverUrl: require('@/assets/img/blog-bg.jpg'),
        blogData: {
          contentType: 'blog',
          cover: '',
          title: '',
          content: '',
          resourceFiles: [],
          tags: []
        },
        postData: {
          scope: 0,
          scopeValue: null,
          createAt: null,
          createAtType: 101,
          modelData: ''
        },
        currCreatAtItem: {},
        createAtOptions: [{
          value: 101,
          label: '小组'
        }, {
          value: 102,
          label: '时间线'
        }],
//        权限选项
        scopeOptions: {
          '0': '组内公开',
          '1': '私密',
          '2': '公开',
          '3': '部分可见'
        },
        scope: '0',
        hasCurrGroup: false,
        hasChooseGroup: false,
        hasCurrUser: false,
        pendingUploadImage: null,
        contentFile: {},
        fileType: {
          IMAGE: 'image',
          VIDEO: 'video',
          DOCUMENT: 'doc',
          OTHER: 'other'
        },
        imageProcess: {
        },
        videoProcess: {
          fileOperations: [
            {
              key: 'mp4',
              cmd: 'avc/of,mp4/vf,scale=600:-2/acodec,aac/vcodec,h264/r,24/f,mp4',
              force: false
            }, {
              key: 'mp4_to_jpg',
              cmd: 'avc/vf,scale=600:-2/frames,1/ss,3/of,jpg',
              force: true
            }
          ]
        },
        docProcess: {
          fileOperations: [
            {
//              key: 'html',
//              cmd: 'docc/of,html/page,1-2',
//              force: true
//            }, {
//              key: 'swf',
//              cmd: 'docc/of,swf/mode,multiple/page,1-3',
//              force: true
//            }, {
              key: 'png',
              cmd: 'docc/of,png/mode,multiple/page,1',
              force: true
            }, {
              key: 'pdf',
              cmd: 'docc/of,pdf', // /mode,multiple/page,1-2-3-4-5',
              force: true
            }
          ]
        }
      }
    },
    props: {
      userId: String,
      groupId: String,
      item: Object,
      contentId: {
        type: String,
        default: 'blogContent'
      }
    },
    computed: {
      currUser,
      currGroup () {
        return this.$store.state.group.currItem
      },
      currGroupName () {
        return this.item ? this.item.groupName : this.currGroup.name
      }
    },
    watch: {
      currCreatAtItem (nv, ov) {
        if (nv && !this.item) {
          let scopeValue
          let createAt
          if (nv.value === 102) {
            this.scope = '2'
            scopeValue = this.userId || this.currUser.id
            createAt = this.userId || this.currUser.id
          } else if (nv.value === 101) {
            this.scope = '0'
            scopeValue = this.groupId || this.currGroup.id
            createAt = this.groupId || this.currGroup.id
          }
          this.postData.scopeValue = scopeValue
          this.postData.createAt = createAt
          this.postData.scope = this.scope
          this.postData.createAtType = nv.value
        }
      }
    },
    methods: {
      handleCoverSuccess (res, file, fileList) {
        this.isCoverUploading = false
        if (res.data && res.data.storeId) {
          this.blogData.cover = res.data.storeId
        }
        this.coverUrl = URL.createObjectURL(file.raw)
      },
      handleCoverError (err, file, fileList) {
        this.isCoverUploading = false
        this.msgError('上传文件[' + file.name + '] 失败！')
        console.log('上传文件[' + file.name + '] 失败！', err)
      },
      handleCoverProgress (event, file, fileList) {
        this.isCoverUploading = true
      },
      handleCoverRemove (res, file, fileList) {
        this.isCoverUploading = false
      },
      convert2ResourceFile (type, data, file) {
        let resourceFile = {}
        resourceFile.objId = data.id
        resourceFile.storeId = data.storeId
        resourceFile.name = file.name
        resourceFile.size = data.fileSize
        resourceFile.type = this.fileType[data.fileType]
        resourceFile.desc = ''
        resourceFile.tags = []
        if (data.fileExtInfo) {
          let fileExtInfo = JSON.parse(data.fileExtInfo)
          let newExtInfo = {}
          if (data.fileType === 'IMAGE') {
            newExtInfo = this.getImageExtInfo(fileExtInfo)
          } else if (data.fileType === 'VIDEO') {
            newExtInfo = this.getVideoExtInfo(fileExtInfo)
          }
          resourceFile.datas = {extInfo: newExtInfo}
        }
        if (type === 'image') {
        } else if (type === 'video') {
          resourceFile.persistentProcess = JSON.stringify(this.videoProcess)
          resourceFile.waitProcessKeys = ['mp4'] // 只有等待mp4这个处理成功完成后，才可以发布帖子
        } else if (type === 'doc') {
          resourceFile.persistentProcess = JSON.stringify(this.docProcess)
        }
        return resourceFile
      },
      getImageExtInfo (extInfo) {
        let newExtInfo = {}
        for (let item of extInfo.directories) {
          for (let key in item.tags) {
            let newKey = key.replace(/\s/g, '')
            newExtInfo[newKey] = item.tags[key]
          }
        }
        return newExtInfo
      },
      getVideoExtInfo (extInfo) {
        let newExtInfo = {}
        this.getChildren(newExtInfo, extInfo)
        return newExtInfo
      },
      getChildren (newExtInfo, extInfo) {
        for (let key in extInfo) {
          if (typeof extInfo[key] === 'object') {
            this.getChildren(newExtInfo, extInfo[key])
          } else {
            let newKey = key.replace(/\s/g, '')
            newExtInfo[newKey] = extInfo[key]
          }
        }
      },
      loadGroups () {
        rest.get('/sns/groups/joined')
          .then((data) => {
            for (let index in data) {
              let item = {
                id: data[index].id,
                value: data[index].name,
                icon: data[index].icon,
                scopeName: data[index].scopeName
              }
              this.groupList.push(item)
            }
          })
      },
      loadSuggest (q, cb) {
        if (this.suggestLoaded) {
          return
        }
        let params = {
          type: 'group',
          q: q.trim() || '*:*',
          start: 0,
          rows: 10
        }
        if (this.suggestDelayId > -1) {
          clearTimeout(this.suggestDelayId)
          this.suggestDelayId = -1
        }
        this.suggestDelayId = setTimeout(() => {
          this.suggestLoaded = true
          if (params.q === '*:*' && this.noKeywordList && this.noKeywordList && this.noKeywordList.length) {
            this.suggestLoaded = false
            cb(this.noKeywordList)
          } else {
            rest.get('/sns/search/suggest', params, true)
              .then(data => {
                this.suggestLoaded = false
                let groupList = []
                for (let group of data) {
                  let item = {
                    id: group.id.replace(/[G]?(\w+)/g, '$1'),
                    value: group.name,
                    icon: group.avatar ? group.avatar_c : require('../../assets/img/1.jpg'),
                    scopeName: this.$store.state.group.groupValueTypes[group.type]
                  }
                  groupList.push(item)
                }
                if (params.q === '*:*') {
                  this.noKeywordList = groupList
                }
                cb(groupList)
              })
              .catch(e => {
                this.suggestLoaded = false
                console.log(e)
              })
          }
        }, this.suggestDelay)
      },
      querySearch (queryString, cb) {
//        var restaurants = this.groupList
//        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants
//        cb(results)
        this.loadSuggest(queryString, cb)
      },
      createFilter (queryString) {
        return (restaurant) => {
          return (restaurant.value.indexOf(queryString.toLowerCase()) === 0)
        }
      },
      handleSelect (item) {
        if (!(this.groupId || this.userId) && !this.item) {
          this.postData.scope = 0
          this.postData.createAtType = 101
          this.postData.scopeValue = item.id
          this.postData.createAt = item.id
        }
      },
      closeClear () {
        this.content = ''
        this.pendingUploadImage = null
        this.hasCurrGroup = false
        this.hasCurrUser = false
        this.selectGroupName = ''
        this.scope = '0'
        this.postData.scope = 0
        this.postData.createAtType = 101
        this.postData.scopeValue = null
        this.postData.createAt = null
        this.blogData = {
          contentType: 'blog',
          cover: '',
          title: '',
          content: '',
          resourceFiles: [],
          tags: []
        }
        this.$set(this.currCreatAtItem, 'value', 101)
        this.$set(this.currCreatAtItem, 'label', '小组')
        this.contentFile = {}
        this.$emit('onClose')
        this.showBlogForm = false
      },
      initData () {
        if (this.item) {
          this.postData.id = this.item ? this.item.id : null
          this.blogData = JSON.parse(JSON.stringify(this.item.modelObject))
          this.coverUrl = this.blogData.cover || require('@/assets/img/blog-bg.jpg')
          delete this.blogData.cover
          if (this.item.createAtType === 101) {
            this.postData.scope = 0
            this.scope = '0'
            this.postData.createAtType = 101
            this.postData.scopeValue = this.groupId || this.item.createAt
            this.postData.createAt = this.groupId || this.item.createAt
            this.$set(this.currCreatAtItem, 'value', 101)
            this.$set(this.currCreatAtItem, 'label', '小组')
            this.hasCurrGroup = true
          } else if (this.item.createAtType === 102) {
            this.postData.scope = (this.item ? this.item.scope : 2)
            this.scope = this.postData.scope.toString()
            this.postData.createAtType = 102
            this.postData.scopeValue = this.userId || this.item.creator
            this.postData.createAt = this.userId || this.item.creator
            this.$set(this.currCreatAtItem, 'value', 102)
            this.$set(this.currCreatAtItem, 'label', '时间线')
            this.hasCurrUser = true
          }
          // 处理附件
          let coverFiles = this.getUploadFileList(this.item.modelObject.resourceFiles)
          this.$set(this.contentFile, 'image', coverFiles)
        } else {
          this.$set(this.currCreatAtItem, 'value', 101)
          this.$set(this.currCreatAtItem, 'label', '小组')
          if (this.groupId) {
            this.postData.scope = 0
            this.scope = '0'
            this.postData.createAtType = 101
            this.postData.scopeValue = this.groupId
            this.postData.createAt = this.groupId
            this.hasCurrGroup = true
          } else if (this.userId) {
            this.scope = '2'
            this.postData.scope = 2
            this.postData.createAtType = 102
            this.postData.scopeValue = this.userId
            this.postData.createAt = this.userId
            this.$set(this.currCreatAtItem, 'value', 102)
            this.$set(this.currCreatAtItem, 'label', '时间线')
            this.hasCurrUser = true
          } else {
            this.blogData = {
              contentType: 'blog',
              cover: '',
              title: '',
              content: '',
              resourceFiles: [],
              tags: []
            }
//            if (this.groupList.length === 0) {
//              this.loadGroups()
//            }
          }
        }
        let currcon = this.item ? this.item.modelObject.content : '<p><br/></p>'
        this.content = currcon.replace('<p></p>', '<p><br/></p>')
      },
      getResourceFileList () {
        let resourceFileList = []
        let uplists = this.contentFile.image
        if (uplists) {
          for (let fileInfo of uplists) {
            if (fileInfo.isOld) {
              resourceFileList.push(fileInfo.file)
            } else {
              resourceFileList.push(this.convert2ResourceFile(this.postType, fileInfo.response.data, fileInfo))
            }
          }
        }
        return resourceFileList
      },
      getUploadFileList (uplists) {
        let uploadFileList = []
        if (uplists) {
          for (let fileInfo of uplists) {
            uploadFileList.push(this.convert2UploadFile(fileInfo))
          }
        }
        return uploadFileList
      },
      convert2UploadFile (file) {
        let uploadFile = {}
        uploadFile.isOld = true
        uploadFile.file = file
        uploadFile.name = file.name
        uploadFile.url = file.datas['550x'] || file.datas.url || file.datas.mp4
        uploadFile.raw = {
          lastModifiedDate: file.lastModifiedDate || Date.now(),
          size: file.size || 0
        }
        return uploadFile
      }
    },
    mounted () {
    }
  }
</script>
