<template>
  <div>
    <el-dialog
      :visible.sync="showBlogForm"
      size="large"
      top="30px"
      @close="closeClear"
      :close-on-click-modal="false"
      custom-class="article-edit">
      <h3 slot="title" class="no-margin"></h3>
      <div class="position-left">
        <div class="article-container">
          <div class="long-ar-banner have-banner" :style="{backgroundImage: 'url('+coverUrl+')'}">
            <el-button class="delete" type="primary" icon="close" size="mini" @click="removeCover" v-if="!!coverUrl && coverUrl!=defaultCoverUrl" title="删除图片"></el-button>
            <div class="mod-tools">
              <!--<el-button  size="small" icon="picture">随机推荐封面</el-button>-->
              <el-button v-if="isCoverUploading" type="primary" size="small" disabled><i  aria-hidden="true" class="fa fa-circle-o-notch fa-spin"></i>正在上传...</el-button>
              <el-upload v-else
                         class="upload-demo"
                         ref="imageUpload"
                         :show-file-list="false"
                         :action="action"
                         accept="image/*"
                         :on-success="handleCoverSuccess"
                         :on-remove="handleCoverRemove"
                         :on-error="handleCoverError"
                         :on-progress="handleCoverProgress">
                <!--<el-button type="primary" size="small" title="选择图片"><i aria-hidden="true" class="fa fa-camera"></i></el-button>-->
              </el-upload>
              <el-popover
                  popper-class="vertical group-background"
                  ref="background"
                  placement="bottom"
                  width="180"
                  trigger="click"
                  v-model="groupMenusShow">
                  <div class="large-up-3 img-list clearfix">
                    <div v-for="(poster, index) in blogCoverRecommends.slice(0, 7)" :key="index" class="column flex-center" >
                      <a><img :src="poster.imgPreviewSrc" @click="setImage(poster.imgSrc)" :title="poster.name" :alt="poster.name"/></a>
                    </div>
                    <div class="column flex-center">
                      <a @click="random">随机</a>
                    </div>
                    <div class="column flex-center">
                      <a @click="openPicLib">更多</a>
                    </div>
                  </div>
                </el-popover>
              <el-button-group>
                <el-button type="primary" size="small" v-popover:background title="图片推荐">推荐</el-button>
                <el-button type="primary" size="small" title="选择图片" @click="textImageOpen"><i aria-hidden="true" class="fa fa-camera"></i></el-button>
              </el-button-group>
            </div>
          </div>
          <div class="article-main">
            <div class="header">
              <div class="title">
                <el-input ref="blogTitle" v-model="blogData.title" placeholder="请输入标题"></el-input>
              </div>
              <div class="h-bottom" v-if="postData.id">
                <a href="javascript:void(0)">{{userName}}</a> <span v-if="item">{{item.createDate | dateYMD}}</span>
              </div>
            </div>
            <div class="article-section" tabindex="-1">
              <!--<div @paste="uploadClipboardImage" class="article-body" :ref="contentId" :id="contentId">-->
                <!--<p><br/></p>-->
              <!--</div>-->
              <!--<div class="inset-btn" :id="this.contentId + '-inset-btn'">-->
                <!--<el-popover-->
                  <!--ref="inset"-->
                  <!--placement="top"-->
                  <!--width="200"-->
                  <!--trigger="hover"-->
                  <!--popper-class="inset-btn-popover">-->
                  <!--<a href="javascript:;" @click="addImage">图片</a>-->
                  <!--<a href="javascript:;">相册</a>-->
                <!--</el-popover>-->
                <!--<a v-popover:inset href="javascript:;"><i class="fa fa-plus"></i></a></div>-->
              <medium-editor
                ref="blogMedium"
                v-model="content"
                @paste-event="uploadClipboardImage"
                :use-at-user="false"
                :contenteditable="true"
                :able-upload="true"
                :options="mediumOptions"
                @content-file-sucess="contentFileSucess"></medium-editor>
            </div>
          </div>
          <div class="article-footer clearfix">
            <div>
              <el-button type="secondary" @click="closeClear">取 消</el-button>
              <!--<el-button type="primary" size="small">保存为草稿</el-button>-->
              <el-button :disabled="!publishCcompleted" :icon="!publishCcompleted?'loading':''" type="success" @click="publishBlog">{{uploading?'正在上传':publishCcompleted?'发 布':'正在发布'}}</el-button>
            </div>
          </div>
          <!--<el-upload-->
            <!--ref="imgUploader"-->
            <!--class="upload-insertImg"-->
            <!--:action="action"-->
            <!--:accept="imgFileType"-->
            <!--:show-file-list="false"-->
            <!--:on-success="successUpload">-->
          <!--</el-upload>-->
        </div>
      </div>
      <div class="position-right">
        <div class="relative-info">
          <!--<div class="row">-->
          <!--<div class="title">-->
          <!--发布时间-->
          <!--</div>-->
          <!--<el-date-picker-->
          <!--v-model="value1"-->
          <!--type="date"-->
          <!--placeholder="选择日期"-->
          <!--:picker-options="pickerOptions0">-->
          <!--</el-date-picker>-->
          <!--</div>-->
          <div class="row margin-t">
            <div class="title">
              相关标签
            </div>
            <tag v-model="blogData.tags" type="secondary" :recTags="[]"></tag>
          </div>
          <div class="row margin-t">
            <div class="title">
              发布到：<el-dropdown v-if="!(hasCurrUser||hasCurrGroup)" @command="handleCommand" class="margin-l6">
              <a class="el-dropdown-link">
                {{currCreatAtItem.label}}<i class="fa fa-caret-down margin-l4"></i>
              </a>
              <el-dropdown-menu slot="dropdown" class="icon-before">
                <!--<el-dropdown-item command="timeLine">时间线</el-dropdown-item>-->
                <!--<el-dropdown-item command="groups"><i class="fa fa-check margin-r4"></i>小组</el-dropdown-item>-->
                <el-dropdown-item
                  v-for="item in createAtOptions"
                  :key="item.value"
                  :command="JSON.stringify(item)"><i v-if="item.value === currCreatAtItem.value" class="fa fa-check margin-r4"></i>{{item.label}}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
              <span v-else>
                <a :title="'文章发布到小组:' + currGroupName" class="el-dropdown-link" v-if="hasCurrGroup && !hasCurrUser">
                  小组【{{currGroupName}}】
                </a>
                <a class="el-dropdown-link" v-if="!hasCurrGroup && hasCurrUser">
                  时间线
                </a>
            </span>
            </div>
            <el-autocomplete
              v-if="currCreatAtItem.value === 101 && !(hasCurrUser||hasCurrGroup)"
              popper-class="my-autocomplete"
              v-model="selectGroupName"
              :fetch-suggestions="querySearch"
              custom-item="group-item"
              placeholder="小组搜索"
              @select="handleSelect"
              icon="search"
            ></el-autocomplete>
          </div>
          <div class="row margin-t" v-if="currCreatAtItem.value === 102 && !hasCurrGroup">
            <div class="title">
              谁可以看：{{scopeOptions[scope]}}
            </div>
            <el-collapse accordion class="authority" v-model="scope">
              <el-collapse-item class="no-content" name="2">
                <template slot="title">
                  <i class="el-icon-check"></i>
                  <label class="option">公开<span>所有人可见</span></label>
                </template>
              </el-collapse-item>
              <el-collapse-item class="no-content" name="1">
                <template slot="title">
                  <i class="el-icon-check"></i>
                  <label class="option">秘密<span>仅自己可见</span></label>
                </template>
              </el-collapse-item>
            </el-collapse>
          </div>
        </div>
      </div>
    </el-dialog>
    <pic-lib
      :showPicLib="showPicLib"
      :showActionBtn="false"
      :posters="blogCoverRecommends"
      @close="showPicLib = false"
      @action="setImage"
    ></pic-lib>
  </div>
</template>
<script>
// import Upload from '@/components/eleme/upload/src'
  import Tag from '@/components/tag/index.js'
  import BlogBase from './BlogBase'
  import { rest } from '@/util'
  import { imageToBlob } from '@/util/convert.js'
  import PicLib from '@/components/PicLib'
  import MediumEditor from '@/components/editor/MediumEditor'
  export default {
    extends: BlogBase,
    data () {
      return {
        value1: '',
        selectGroupName: '',
        showBlogForm: false,
        publishCcompleted: true,
        isCoverUploading: false,
        defaultCoverUrl: require('../../assets/img/blog-bg.jpg'),
        groupMenusShow: false,
        showPicLib: false,
        blogCoverRecommends: [],
        uploading: false
      }
    },
    props: {
      visible: Boolean,
      recommends: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    methods: {
//      pickerOptions0: {
//        disabledDate (time) {
//          return time.getTime() < Date.now() - 8.64e7
//        }
//      },
      contentFileSucess (contentFiles) {
        this.contentFile = contentFiles
      },
      uploadClipboardImage (event) {
        let items = (event.clipboardData || event.originalEvent.clipboardData).items
        let files = []
        for (let index = 0; index < items.length; index++) {
          let item = items[index]
          if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
            files.push(item.getAsFile())
          }
        }
        if (files.length > 0) {
          let uploadInner = this.$refs.blogMedium.$refs.imgUploader.$refs['upload-inner']
          uploadInner.uploadFiles(files)
          event.preventDefault()
          event.stopPropagation()
        }
      },
      removeCover () {
        this.isCoverUploading = false
        this.blogData.cover = ''
        this.coverUrl = this.defaultCoverUrl
      },
      handleCommand (command) {
        this.currCreatAtItem = JSON.parse(command)
      },
      publishBlog () {
        if (!this.publishCcompleted) {
          return
        }
        if (!this.blogData.title || this.blogData.title.length > 200) {
          this.msgWarning('文章标题为空或长度超出200个字！')
          this.$refs.blogTitle.$refs.input.focus()
          return
        }
        let content = this.content
        let replaceContent = content ? content.replace(/(<p><br><\/p>)*/, '').replace(/(<p><\/p>)*/, '') : ''
        if (replaceContent.trim().length === 0) {
          this.msgWarning('请输入正文')
          this.$refs.blogMedium.mediumFocus()
          return
        }
        if ((!this.postData.scopeValue || !this.postData.createAt)) {
          this.msgWarning('创建位置或开放区域不能为空！')
          return
        }
        this.publishCcompleted = false
        // 上传推荐图片
        if (this.pendingUploadImage) {
          this.uploading = true
          let fd = new FormData()
          let filename = 'default.png'
          fd.append('file', this.pendingUploadImage, filename)
          rest.post('/zuul/file/web/upload?st=1', fd)
          .then((data) => {
            this.uploading = false
            if (data && data.storeId) {
              this.blogData.cover = data.storeId
              this.pendingUploadImage = null
              this.saveBlogData(content)
            } else {
              this.publishCcompleted = true
              this.msgError('上传封面失败，请稍候重试！')
              console.log('上传失败！返回值：', data)
            }
          }).catch(e => {
            this.uploading = false
            this.publishCcompleted = true
            this.msgError('上传封面失败，请稍候重试！')
            console.log('上传失败！异常：', e)
          })
        } else {
          this.saveBlogData(content)
        }
      },
      saveBlogData (content) {
        this.blogData.content = content
        this.postData.scope = this.scope
        this.blogData.resourceFiles = this.getResourceFileList()
        this.postData.modelData = JSON.stringify(this.blogData)
        if (this.postData.id || (this.item && this.item.id)) {
          this.postData.id = this.item.id
          rest.edit('/sns/posts/' + this.postData.id, this.postData)
            .then(data => {
              this.publishCcompleted = true
              this.closeClear()
              this.msgSuccess('博文修改成功了！')
//              this.$emit('onClose')
            })
            .catch(e => {
              this.publishCcompleted = true
              this.msgError('博文修改失败了！')
              console.log('博文修改失败了！', e)
            })
        } else {
          rest.create('/sns/posts/blog', this.postData)
            .then(data => {
              this.publishCcompleted = true
              this.closeClear()
              if (data.status === 4) {
              } else if (data.status === 0) {
                this.msgSuccess('博文已提交，正等待管理员批准。')
              } else {
                this.msgSuccess('博文发布成功了！')
              }
            })
            .catch(e => {
              this.publishCcompleted = true
              this.msgError('博文发布失败了！')
              console.log('博文发布失败了！', e)
            })
        }
      },
      random () {
        let random = Math.floor(Math.random() * this.blogCoverRecommends.length)
        this.setImage(this.blogCoverRecommends[random].imgSrc)
      },
      selectImgAction (src) {
        this.$refs.groupCover.setImage(src)
        this.showPicLib = false
      },
      openPicLib (croppaVue) {
        this.showPicLib = true
      },
      setImage (imgSrc) {
        this.coverUrl = imgSrc
        this.showPicLib = false
        imageToBlob(imgSrc, (blob) => {
          this.pendingUploadImage = blob
        })
      },
      textImageOpen () {
        this.$refs.imageUpload.$children[0].handleClick()
      }
    },
    watch: {
      visible (nv) {
        this.showBlogForm = nv
        if (nv) {
          this.$nextTick(function () {
            this.initData()
          })
        }
      },
      item (nv) {
        if (nv) {
          let user = nv.user
          if (!user) {
            let userId = this.item && this.item.creator
            if (userId) {
              this.storeNeedData({
                type: 'user',
                dataIds: [userId]
              }).then(users => {
                this.$set(this.item, 'user', users[userId])
              })
            }
          }
        }
        this.initData()
      }
    },
    computed: {
      user () {
        let user = this.item && this.item.user
        return user
      },
      userName () {
        return (this.user && this.user.userName) ? this.user.userName : '' || ''
      },
      recommendShow () {
        return this.recommends && this.recommends.length > 0
      }
    },
    components: {
//    Upload,
      Tag,
      PicLib,
      MediumEditor
    },
    created () {
      let blogCoverRecommends = require('../../../static/img/group/index.json')
      blogCoverRecommends.forEach(recommend => {
        this.blogCoverRecommends.push({
          name: recommend.name,
          imgSrc: this.$router.options.base + recommend.imgSrc,
          imgPreviewSrc: this.$router.options.base + recommend.imgPreviewSrc
        })
      })
    }
  }
</script>
<style>
  @import 'css/variable.css';
  @import 'css/medium-editor.css';
  .article-edit{
    max-width: 1180px;
    width: 100%;
    & .el-dialog__body, & .el-dialog__header{
      padding:0;
    }
    & .el-dialog__headerbtn{
      position: absolute;
      right: 1rem;
      top: 1rem;
      z-index: 1;
    }
    & .position-left{
      padding-right: 320px;
    }
    & .position-right {
      box-sizing: border-box;
      position: absolute;
      width: 320px;
      right: 0;
      top: 0;
      height: 100%;
      background: color(var(--color-primary) tint(15%));
      padding: 2rem;
    }
    & .article-footer{
      padding: 0 2.4rem;
      text-align: right;
      & > div{
        border-top: 1px solid #f2f2f2;
        padding: 1rem 0;
      }
      /*& .el-button{*/
        /*&:nth-child(1),&:nth-child(3){*/
          /*width: 80px;*/
        /*}*/
      /*}*/
    }
  }
  .long-ar-banner {
    height: 240px;
    position: relative;
    /*border-radius: 4px 4px 0 0;*/
    overflow: hidden;
    background: url(../../assets/img/blog-bg.jpg) no-repeat;
    background-color: #e9ebee;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height .3s;
    &:before{
      content: '暂无封面';
      font-size: 20px;
      visibility: visible;
    }
    /*& >button.delete{*/
      /*background-color: transparent;*/
      /*border: transparent;*/
    /*}*/
  }
  .have-banner{
    height:auto;
    min-height: 250px;
    &:before{
      visibility: hidden;
    }
  }
  button.delete{
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .article-main{
    padding: 2rem 4rem;
    min-height: 240px;
    & figure{
      cursor: move;
      user-modify: read-only;
      -webkit-user-modify: read-only;
      margin: 0;
      &.full{
        text-align: center;
      }
      &.left{
        float: left;
      }
      &.right{
        float: right;
      }
      &.half {
        width: 50%;
      }
      &.one-third {
        width: calc(100%/3);
      }
    }
    & .header .title input{
      outline: none;
      padding: 10px 0;
      height: 3.5rem;
      border: none;
      font-size: 18px;
      font-weight: bold;
    }
    & .inset-btn{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: none;
      transition: opacity .3s;
      & a{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        box-shadow: inset 0 0 1px rgba(0,0,0,.2);
        color: var(--color-secondary);
      }
    }
    & .article-section{
      position: relative;
      margin: 1rem -2rem;
      position: relative;
      & .article-body{
        min-height: 250px;
        position: relative;
        outline: none;
        padding:0 2rem;
        line-height: 1.6;
      }
      &:after{
        margin: 0;
      }
    }
  }
  .inset-btn-popover{
    padding: 0;
    & a{
      width: 50%;
      float: left;
      padding:10px 0;
      text-align: center;
    }
  }
  .h-bottom{
    & a{
      margin-right: 2rem;
    }
    & a,& span{
      font-size: 12px;
    }
    & span {
      color: var(--color-secondary);
    }
  }
  /*右边操作*/
  .relative-info {
    & .title{
      font-size: 14px;
      margin-bottom: 10px;
      color: #fff;
      & a{
        color: #fff;
      }
    }
    & .el-date-editor.el-input,& .el-autocomplete{
      width: 100%;
    }
  }
  .authority {
    & .el-collapse-item__header{
      padding-left: 2rem;
    }
    & .option{
      font-weight: bold;
      & span{
        font-size: 12px;
        color: var(--color-secondary);
        margin-left: 10px;
      }
    }
    & .el-collapse-item {
      position: relative;
      & .el-collapse-item__header__arrow{
        position: absolute;
        right:4px;
        top: 1rem;
      }
      & .el-collapse-item__header{
        & .el-icon-check{
          position: absolute;
          left: 10px;
          font-size: 12px;
          top: 1rem;
          display: none;
          color: var(--color-success);
        }
      }
      &.is-active .el-collapse-item__header .el-icon-check{
        display: block;
      }
      & .el-collapse-item__content{
        padding: 4px 0 4px 2rem;
      }
      & .item-content{
        & div{
          &:last-child{
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
</style>
