<template>
  <el-dialog
    :visible.sync="dialogVisible"
    size="large"
    top="30px"
    @close="isclose"
    :close-on-click-modal="false"
    custom-class="article-edit"
    >
    <h3 slot="title" class="no-margin"></h3>
    <div class="position-left">
      <div class="article-container">
      <div class="long-ar-banner have-banner">
        <el-button class="delete" type="secondary" size="mini">移除</el-button>
        <div class="mod-tools">
          <el-button  size="small" icon="picture">随机推荐封面</el-button>
          <el-button  size="small" icon="picture">设置封面</el-button>
        </div>
      </div>
      <div class="article-main">
        <div class="header">
          <div class="title">
            <el-input v-model="article.title" placeholder="请输入标题"></el-input>
          </div>
          <div class="h-bottom">
            <a href="javascript:void(0)">许文胜</a> <span>2017-04-07</span></div>
        </div>
        <div class="article-section1" tabindex="-1">
          <div class="article-body" id="editor"></div>
          <div class="inset-btn">
            <el-popover
              ref="inset"
              placement="top"
              width="200"
              trigger="hover"
              popper-class="inset-btn-popover"
            >
              <a href="javascript:;" @click="imgUpload">图片</a>
              <a href="javascript:;">相册</a>
            </el-popover>
            <a v-popover:inset href="javascript:;"><i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="article-footer clearfix">
        <div>
          <el-button type="secondary" size="small">取 消</el-button>
          <el-button type="primary" size="small">保存为草稿</el-button>
          <el-button type="success" size="small">发 布</el-button>
        </div>
      </div>
      <upload
        ref="imgUploader"
        class="upload-insertImg"
        action="https://jsonplaceholder.typicode.com/posts/"
        :before-upload="successUpload"
        :limitNum="100"
        accept="imgFileType"
        :file-list="article.images"
        >
      </upload>
    </div>
  
    </div>
    <div class="position-right">
      <div class="relative-info">
        <div class="row">
          <div class="title">
                      发布时间
          </div>
          <el-date-picker
            v-model="value1"
            type="date"
            placeholder="选择日期"
            :picker-options="pickerOptions0">
          </el-date-picker>
        </div>
        <div class="row margin-t">
          <div class="title">
             相关标签
          </div>
          <tag v-model="tags" type="secondary" :recTags="rectags"></tag>
        </div>
        <div class="row margin-t">
          <div class="title">
                      发布到：<el-dropdown @command="handleCommand" class="margin-l6">
                    <a class="el-dropdown-link">
                                        小组<i class="fa fa-caret-down margin-l4"></i>
                    </a>
                    <el-dropdown-menu slot="dropdown" class="icon-before">
                      <el-dropdown-item command="timeLine">时间线</el-dropdown-item>
                      <el-dropdown-item command="groups"><i class="fa fa-check margin-r4"></i>小组</el-dropdown-item>
                    </el-dropdown-menu>
                  </el-dropdown>
          </div>
          <el-autocomplete
            popper-class="my-autocomplete"
            v-model="state3"
            :fetch-suggestions="querySearch"
            custom-item="my-item-zh"
            placeholder="小组搜索"
            @select="handleSelect"
            icon="search"
            :on-icon-click="handleIconClick"
          ></el-autocomplete>
        </div>
        <div class="row margin-t">
          <div class="title">
          	谁可以看{{activeName}}
          </div>
          <el-collapse accordion class="authority" v-model="activeName">
            <el-collapse-item class="no-content" name="1">
              <template slot="title">
                <i class="el-icon-check"></i>
                <label class="option">公开<span>所有人可见</span></label>
              </template>
            </el-collapse-item>
            <el-collapse-item class="no-content" name="2">
              <template slot="title">
                <i class="el-icon-check"></i>
                <label class="option">秘密<span>仅自己可见</span></label>
              </template>
            </el-collapse-item>
            <el-collapse-item title="效率 Efficiency" :class="{'is-active': activeName==='3'}" name="3">
              <template slot="title">
                <i class="el-icon-check"></i>
                <label class="option">部分可见<span>选中的人可见</span></label>
              </template>
              <div class="item-content">
                <div><a class="color-info">从通讯录选择</a></div>
                <div class="color-success"><i class="fa fa-check"></i><span>林华</span>，<span>蔡卫强</span></div>
              </div>
            </el-collapse-item>
            <el-collapse-item title="可控 Controllability" :class="{'is-active': activeName==='4'}" name="4">
              <template slot="title">
                <i class="el-icon-check"></i>
                <label class="option">不给谁看<span>选中的人不可见</span></label>
              </template>
              <div class="item-content">
                <div><a class="color-info">从通讯录选择</a></div>
                <div class="color-success"><i class="fa fa-check"></i><span>林华</span>，<span>蔡卫强</span></div>
              </div>
            </el-collapse-item>
          </el-collapse>
        </div>
      </div>
    </div>
  </el-dialog>
</template>
<script>
  import Upload from '@/components/eleme/upload/src'
  import { createMediumEditor } from '@/util/mediumEditor.js'
  import Vue from 'vue'
  import Tag from '@/components/tag/index.js'
  Vue.component('my-item-zh', {
    functional: true,
    render: function (h, ctx) {
      var item = ctx.props.item
      return h('li', ctx.data, [
        h('div', { attrs: { class: 'name' } }, [item.value]),
        h('span', { attrs: { class: 'addr' } }, [item.address])
      ])
    },
    props: {
      item: { type: Object, required: true }
    }
  })
  export default {
    data () {
      return {
        value1: '',
        restaurants: [],
        state3: '',

        dialogVisible: false,
        editor: null,
        editorSection: null,
        insertBtnBox: null,
        imgFileType: 'image/*',
        article: {
          title: '',
          images: []
        },

        tags: [],
        rectags: ['长文'],
        activeName: '1'
      }
    },
    props: {
      visible: Boolean
    },
    methods: {
      init () {
        createMediumEditor((MediumEditor, MediumButton) => {
          this.editorSection = document.querySelector('.article-body')
          this.insertBtnBox = document.querySelector('.inset-btn')
          var editor = new MediumEditor(this.editorSection, {
            imageDragging: true,
            anchorPreview: {
              hideDelay: 500,
              previewValueSelector: 'a'
            },
            placeholder: {
              text: '在这里分享你的正文...',
              hideOnClick: true
            },
            buttonLabels: 'fontawesome',
            toolbar: {
              buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
            },
            paste: {
              forcePlainText: false,
              cleanPastedHTML: false,
              cleanReplacements: [],
              cleanAttrs: ['class', 'style', 'dir'],
              cleanTags: ['meta'],
              unwrapTags: []
            },
            extensions: {
              'warning': new MediumButton({
                label: '<i class="color-danger fa fa-font"></i>',
                start: '<span class="color-danger">',
                end: '</span>'
              })
            }
          })
          this.editor = editor
          editor.subscribe('editableKeyup', (e) => {
            var keyCode = e.keyCode
            if (keyCode === 38 || keyCode === 40) {
              this.toolbarStyle(e)
            }
            var span = document.createElement('span')
            span.innerText = ' '
            this.editor.addElements(span)
          })
          editor.subscribe('editableClick', (e) => {
            this.toolbarStyle(e)
          })
          editor.subscribe('editableInput', (e) => {
            this.toolbarStyle(e)
          })
  //      editor.subscribe('blur', (e) => {
  //        this.insertBtnBox.style.display = 'none'
  //      })
        })
      },
      insertHtmlAtCaret (html) {
        var [sel, range] = [null, null]
        if (window.getSelection) {
          // IE9 and non-IE
          sel = window.getSelection()
          if (sel.getRangeAt && sel.rangeCount) {
            range = sel.getRangeAt(0)
            range.deleteContents()
            // Range.createContextualFragment() would be useful here but is
            // non-standard and not supported in all browsers (IE9, for one)
            var el = document.createElement('div')
            el.innerHTML = html
            var frag = document.createDocumentFragment()
            var [node, lastNode] = [null, null]
            while ((node = el.firstChild)) {
              lastNode = frag.appendChild(node)
            }
            range.insertNode(frag)
            // Preserve the selection
            if (lastNode) {
              range = range.cloneRange()
              range.setStartAfter(lastNode)
              range.collapse(true)
              sel.removeAllRanges()
              sel.addRange(range)
            }
          }
        } else if (document.selection && document.selection.type !== 'Control') {
          // IE < 9
          document.selection.createRange().pasteHTML(html)
        }
      },
      successUpload (file) {
        this.editorSection.focus()
        var html = this.imgHtml()
        this.insertHtmlAtCaret(html)
        var p = document.createElement('p')
        this.editor.addElements(p)
        this.editorSection.focus()
      },
      toolbarStyle () {
        this.insertBtnBox.style.display = 'block'
        var top = this.editor.getSelectedParentElement().offsetTop
        this.insertBtnBox.style.top = top + 'px'
      },
      imgHtml () {
        return `<figure class="zoom-effect">
          <div class="aspectRatioPlaceholder" >
            <div class="aspect-ratio-fill"></div>
            <img class="img" src="https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/bd_logo1_31bdc765.png">
          </div>
        </figure>`
      },
      imgUpload () {
        this.$refs.imgUploader.$children[1].handleClick()
      },
      isclose () {
        this.$emit('isClose')
      },
      changeItem (nv) {
      },
      pickerOptions0: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7
        }
      },
      handleCommand (command) {
      },
      querySearch (queryString, cb) {
        var restaurants = this.restaurants
        var results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants
        cb(results)
      },
      createFilter (queryString) {
        return (restaurant) => {
          return (restaurant.value.indexOf(queryString.toLowerCase()) === 0)
        }
      },
      loadAll () {
        return [
          { 'value': '三全鲜食（北新泾店）', 'address': '长宁区新渔路144号' }
        ]
      },
      handleSelect (item) {
        console.log(item)
      },
      handleIconClick (ev) {
        console.log(ev)
      }
    },
    watch: {
      visible (nv) {
        this.dialogVisible = nv
        if (nv && !this.editor) {
          this.$nextTick(function () {
            this.init()
          })
        }
      },
      activeName (nv, ov) {
        if (nv === '') {
          this.activeName = ov
        }
      }
    },
    // 如果你需要得到当前的swiper对象来做一些事情，你可以像下面这样定义一个方法属性来获取当前的swiper对象，同时notNextTick必须为true
    computed: {
    },
    mounted () {
      this.restaurants = this.loadAll()
    },
    components: {
      Upload,
      Tag
    },
    beforeDestroy () {
      if (this.editor) {
        this.editor.destroy()
      }
    }
  }
</script>
<style scoped="">
@import 'css/variable.css';
@import 'css/medium-editor.css';
.article-edit{
  max-width: 1180px;
  width: 100%;
  & .el-dialog__body, & .el-dialog__header{
    padding:0;
  }
  & .el-dialog__headerbtn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
  }
  & .position-left{
    padding-right: 320px;
  }
  & .position-right {
    box-sizing: border-box;
    position: absolute;
    width: 320px;
    right: 0;
    top: 0;
    height: 100%;
    background: color(var(--color-primary) tint(15%));
    padding: 2rem;
  }
}
.long-ar-banner {
  height: 240px;
  position: relative;
  overflow: hidden;
  background: url(../../assets/img/longar.png) no-repeat;
  background-color: #e9ebee;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: height .3s; 
  &:before{
    content: '暂无封面';
    font-size: 20px;
    visibility: visible;
  }
}
.have-banner{
  height: 400px;
  &:before{
    visibility: hidden;
  }
}
button.delete{
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.article-main{
  padding: 2rem 4rem;
  min-height: 240px;
  & figure{
    cursor: move;
    user-modify: read-only;
    -webkit-user-modify: read-only;
    margin: 0;
    &.full{
      text-align: center;
    }
    &.left{
      float: left;
    }
    &.right{
      float: right;
    }
    &.half {
      width: 50%;
    }
    &.one-third {
      width: calc(100%/3);
    }
  }
  & .header .title input{
    outline: none;
    padding: 10px 0;
    height: 3.5rem;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }
  & .inset-btn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    transition: opacity .3s;
    & a{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      box-shadow: inset 0 0 1px rgba(0,0,0,.2);
      color: var(--color-secondary);
    }
  }
  & .article-section1{
    position: relative;
    margin: 1rem -2rem;
    position: relative;
    & .article-body{
      position: relative;
      outline: none;
      padding:0 2rem;
      line-height: 1.6;
    }
    &:after{
      margin: 0;
    }
  }
}
.inset-btn-popover{
  padding: 0;
  & a{
    width: 50%;
    float: left;
    padding:10px 0;
    text-align: center;
  }
}
.h-bottom{
  & a{
    margin-right: 2rem;
  }
  & a,& span{
    font-size: 12px;
  }
  & span {
    color: var(--color-secondary);
  }
}
.article-footer{
  padding: 0 2.4rem;
  text-align: right;
  & > div{
    border-top: 1px solid #f2f2f2;
    padding: 1rem 0;
  }
  & .el-button{
    &:nth-child(1),&:nth-child(3){
      width: 80px;
    }
  }
}
/*右边操作*/
.relative-info {
  & .title{
    font-size: 14px;
    margin-bottom: 10px;
    color: #fff;
    & a{
      color: #fff;
    }
  }
  & .el-date-editor.el-input,& .el-autocomplete{
    width: 100%;
  }
}
.authority {
  & .el-collapse-item__header{
    padding-left: 2rem;
  }
  & .option{
    font-weight: bold;
    & span{
      font-size: 12px;
      color: var(--color-secondary);
      margin-left: 10px;
    }
  }
  & .el-collapse-item {
    position: relative;
    & .el-collapse-item__header__arrow{
      position: absolute;
      right:4px;
      top: 1rem;
    }
    & .el-collapse-item__header{
      & .el-icon-check{
        position: absolute;
        left: 10px;
        font-size: 12px;
        top: 1rem;
        display: none;
        color: var(--color-success);
      }
    }
    &.is-active .el-collapse-item__header .el-icon-check{
      display: block;
    }
    & .el-collapse-item__content{
      padding: 4px 0 4px 2rem;
    }
    & .item-content{
      & div{
        &:last-child{
          font-size: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
/*.upload-insertImg{
  height:0;
}*/
</style>
