<template>
  <el-dialog
    :visible.sync="dialogVisible"
    size="large"
    top="100px"
    @close="isclose"
    :close-on-click-modal="false"
    custom-class="note-edit"
    :id="dialogVisible ? 'atDialogOpen' : ''"
  >
    <h3 slot="title" style="display: inline-block;">
      编辑
    </h3>

    <publish-bar
      v-if="dialogVisible"
      ref="postEditForm"
      :groupId="groupId"
      :userId="userId"
      :item="item"
      :isEdit="true"
      @onClose="isclose"></publish-bar>
  </el-dialog>
</template>
<script>
  import PublishBar from '@/views/include/PublishBar'
  import ListLoading from '@/components/ListLoading'
  export default {
    data () {
      return {
        dialogVisible: false
      }
    },
    props: {
      visible: Boolean,
      groupId: String,
      userId: String,
      item: Object
    },
    methods: {
      isclose () {
        this.$refs.postEditForm.files = {}
        this.$refs.postEditForm.hasCurrGroup = false
        this.$refs.postEditForm.hasCurrUser = false
        this.$refs.postEditForm.popoverStatus(false, false, false)
        this.$refs.postEditForm.fontIconStatus(false, false, false)
        this.$refs.postEditForm.postType = 'text'
        this.$emit('onClose')
      }
    },
    watch: {
      visible (nv) {
        this.dialogVisible = nv
        if (nv) {
          this.$nextTick(() => {
            this.$refs.postEditForm.mediumFocus()
          })
        }
      }
    },
    // 如果你需要得到当前的swiper对象来做一些事情，你可以像下面这样定义一个方法属性来获取当前的swiper对象，同时notNextTick必须为true
    computed: {
    },
    mounted () {
    },
    components: {
      PublishBar,
      ListLoading
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .note-edit{
    max-width: 600px;
    & .el-dialog__body{
      padding: 0 6px;
    }
    & .file-container,& .upload-video,& .upload-doc{
      min-height: auto;
    }
  }
</style>
