<template>
  <el-dialog
    :visible.sync="dialogVisible"
    size="large"
    top="100px"
    @close="isclose"
    :close-on-click-modal="false"
    custom-class="note-edit"
    >
    <h3 slot="title" style="display: inline-block;">
           编辑
    </h3>
    
    <publish-bar groupId="0000000000000051" :isEdit="true"></publish-bar>
  </el-dialog>
</template>
<script>
  import PublishBar from '@/views/include/PublishBar'
  import ListLoading from '@/components/ListLoading'
  export default {
    data () {
      return {
        dialogVisible: false
      }
    },
    props: {
      visible: Boolean
    },
    methods: {
      isclose () {
        this.$emit('isClose')
      }
    },
    watch: {
      visible (nv) {
        this.dialogVisible = nv
      }
    },
    // 如果你需要得到当前的swiper对象来做一些事情，你可以像下面这样定义一个方法属性来获取当前的swiper对象，同时notNextTick必须为true
    computed: {
    },
    mounted () {
    },
    components: {
      PublishBar,
      ListLoading
    }
  }
</script>
<style scoped="">
@import 'css/variable.css';
.note-edit{
  max-width: 600px;
  & .el-dialog__body{
    padding: 0 6px;
  }
  & .file-container,& .upload-video,& .upload-doc{
    min-height: auto;
  }
}
</style>
