<template>
  <transition-group
    tag="ul"
    :class="['el-upload-list', 'el-upload-list--' + listType]"
  >
    <li
      v-for="file in files"
      v-dragging="{ item: file, list: files, group: 'file' }"
      :class="['el-upload-list__item', 'is-' + file.status]"
      :key="file"
    >
      <template v-if="file.status !== 'uploading' && ['picture-card', 'picture'].indexOf(listType) > -1">
        <!--<span v-if="!(file.url)" style="text-align: center">正在加载</span>-->
        <img
          class="el-upload-list__item-thumbnail"
          :src="file.url" alt=""
        >
      </template>
      <a class="el-upload-list__item-name docbg" @click="handleClick(file)" v-if="iconType === 'video'">
        <div class="media-object">
          <div class="media-object-section">
            <file-icon type="video" size="40"></file-icon>
          </div>
          <div class="media-object-section">
            <h4>
                {{file.name}}
            </h4>
            <div class="docInfo">
              <span>更新时间：{{file.raw.lastModifiedDate | dateFormat}}</span>
              <span>时长：</span>
              <span>{{getVideoTime(file)}}</span>
            </div>
          </div>
        </div>
      </a>
      <a class="el-upload-list__item-name docbg" @click="handleClick(file)" v-if="iconType === 'doc'">
        <div class="media-object">
          <div class="media-object-section">
            <file-icon :type="fileIcon(file)" size="40"></file-icon>
          </div>
          <div class="media-object-section">
            <h4 class="margin-b4">
                {{file.name}}
            </h4>
            <div class="docInfo">
              <span>更新时间：{{file.raw.lastModifiedDate | dateFormat}}</span>
              <span>大小：</span>
              <span>{{renderSize(file.raw.size)}}</span>
            </div>
          </div>
        </div>
      </a>
      <label v-show="fileUploadSuccess(file)" class="el-upload-list__item-status-label">
        <i :class="{
          'el-icon-upload-success': file.status ==='success',
          'el-icon-circle-check': listType === 'text',
          'el-icon-check': ['picture-card', 'picture'].indexOf(listType) > -1
        }"></i>
      </label>
      <i class="el-icon-close" @click="$emit('remove', file)"></i>
      <i class="el-icon-edit"
        v-if="handleEdit && !listType === 'picture-card'"
        @click="handleEditClick(file)">
      </i>
      <div class="label" v-show="file.status==='success'&&!fileUploadSuccess(file)">{{file.status==='success'?file.response.message:''}}</div>
      <el-progress
        v-if="file.status === 'uploading'"
        :type="listType === 'picture-card' ? 'circle' : 'line'"
        :stroke-width="listType === 'picture-card' ? 6 : 2"
        :percentage="parsePercentage(file.percentage)">
      </el-progress>
      <span class="el-upload-list__item-actions" v-if="listType === 'picture-card'">
        <span
          class="el-upload-list__item-preview"
          v-if="handlePreview && listType === 'picture-card' && fileUploadSuccess(file)"
          @click="handlePreview(file)"
        >
          <i class="el-icon-edit"></i>
        </span>
        <span
          class="el-upload-list__item-delete"
          @click="$emit('remove', file)"
        >
          <i class="el-icon-delete2"></i>
        </span>
      </span>
    </li>
  </transition-group>
</template>
<script>
  import Locale from 'element-ui/lib/mixins/locale';
  import ElProgress from 'element-ui/lib/progress';
  import { videoDuration } from '@/util'

  export default {
    mixins: [Locale],

    components: { ElProgress },

    props: {
      files: {
        type: Array,
        default() {
          return [];
        }
      },
      handlePreview: Function,
      handleEdit: Function,
      handleTransposal: Function,
      listType: String,
      iconType: String
    },
    methods: {
      videoDuration,
      renderSize (value, p, record) {
        if (!value) {
          return '0 Bytes'
        }
        let unitArr = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
        let index = 0
        let srcsize = parseFloat(value)
        let size = this.roundFun(srcsize / Math.pow(1024, (index = Math.floor(Math.log(srcsize) / Math.log(1024)))), 2)
        return size + unitArr[index]
      },
      roundFun (numberRound, roundDigit) {
        if (numberRound >= 0) {
          let tempNumber = parseInt((numberRound * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit)
          return tempNumber
        } else {
          let numberRound1 = -numberRound
          let tempNumber = parseInt((numberRound1 * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit)
          return -tempNumber
        }
      },
      parsePercentage(val) {
        return parseInt(val, 10);
      },
      handleClick(file) {
        this.handlePreview && this.handlePreview(file);
      },
      handleEditClick (file) {
        this.handleEdit && this.handleEdit(file)
      },
      fileIcon (file) {
        const lastDot = file.name.lastIndexOf('.');
        const type = lastDot === -1 ? 'file' : file.name.substring(lastDot);
        console.log('type', type)
        switch (type) {
          case '.pdf':
            return 'pdf'
            break
          case '.wps':
          case '.doc':
          case '.docx':
            return 'doc'
            break
          case '.et':
          case '.xls':
          case '.xlsx':
            return 'xls'
            break
          case '.dps':
          case '.ppt':
          case '.pptx':
            return 'ppt'
            break
          case '.txt':
            return 'txt'
            break
          default:
            return 'doc'
        }
      },
      fileUploadSuccess (file) {
        if (file.status === 'success'){
          let isSuccess = file.response.status === 200 && file.response.data.ret === 0
          return isSuccess
        } else {
          return false
        }
      },
      getVideoTime (file) {
        if (this.fileUploadSuccess(file)) {
          let data = {}
          if (file.isOld) {
            data = file.file.datas.extInfo
          } else {
            data = JSON.parse(file.response.data.fileExtInfo).format
          }
          return this.videoDuration(data.duration)
        }
        return ''
      }
    },
    mounted () {
      this.$dragging.$on('dragged', ({ value }) => {
        this.handleTransposal(value.list)
      })
    }
  };
</script>

