<template>
  <mod title="小组" type="mod-side-l1" class="margin-b">
    <i class="fa fa-group color-info" slot="icon"></i>
    <ul class="card-list">
      <li v-for="group in groupList" :key="group">
        <group-card :group="group"></group-card>
      </li>
    </ul>
  </mod>
</template>
<script>
  import GroupCard from '@/views/search/searchcards/GroupCard'
  import { rest } from '@/util'
  import { types as dataPoolTypes } from '@/store/modules/dataPool'
  export default {
    components: {
      GroupCard
    },
    data () {
      return {
        groupList: [],
        isLoading: true,
        loadSuccess: false
      }
    },
    props: {
      ids: Array,
      groups: Array
    },
    mounted () {
      if (this.groups) {
        this.initGroupListByGroups(this.groups)
      } else if (this.ids) {
        this.initGroupListByIds(this.ids)
      }
    },
    methods: {
      initGroupListByIds (ids) {
        if (ids && ids.length > 0) {
          this.storeNeedData({
            type: 'group',
            dataIds: ids
          }).then(groups => {
            this.groupList = ids.map(id => groups[id])
            if (this.groupList) {
              this.loadGroupOtherInfos(this.groupList)
            }
          })
        } else {
          this.groupList = []
        }
      },
      initGroupListByGroups (groups) {
        if (groups && groups.length > 0) {
          this.loadGroupOtherInfos(groups)
        } else {
          this.groupList = []
        }
      },
      loadGroupOtherInfos (groups) {
        this.isLoading = true
        if (!groups) {
          this.isLoading = false
          return
        }
        let groupIds = groups.map(group => group.id)
        if (groupIds && groupIds.length > 0) {
          rest.get('/sns/groups/otherInfo', {groupId: groupIds, loadRelation: true}, true).then((otherInfo) => {
            if (otherInfo) {
              groupIds.forEach(groupId => {
                let groupCopy = {id: groupId}
                groupCopy.relation = otherInfo.relations[groupId] || {}
                groupCopy.isLoadedOtherInfo = true
                this.$store.commit(dataPoolTypes.M_ADD_GROUPS, [groupCopy])
                this.isLoading = false
                this.loadComplete = true
              })
            }
          }).catch((e) => {
            this.isLoading = false
            this.loadComplete = true
            console.log('加载小组其它信息异常！', e)
          })
        } else {
          this.isLoading = false
        }
      }
    },
    computed: {
    },
    watch: {
      ids (nv, ov) {
        this.initGroupListByIds(nv)
      },
      groups (nv, ov) {
        this.initGroupListByGroups(nv)
      }
    }
  }
</script>
