<template>
  <div class="media-object group-avator">
    <div class="media-object-section shrink">
      <div class="img">
        <router-link :to="{name: 'group', params: {groupId: groupInfo.id}}"><img :src="groupIcon" v-error-img:group alt="小组名字"/></router-link>
      </div>
    </div>
    <div class="media-object-section">
      <h4><router-link :to="{name: 'group', params: {groupId: groupInfo.id}}" class="h-underline">{{groupName}}</router-link></h4>
      <div class="color-secondary">{{memberCount}} 位成员</div>
      <el-button v-if="!isJoined" type="warning" class="join" size="mini" @click="msgInfo('该功能正在开发中...')">加入</el-button>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {}
    },
    props: {
      group: Object
    },
    computed: {
      groupInfo () {
        return this.group || {}
      },
      groupName () {
        return this.groupInfo.name || '------'
      },
      groupIcon () {
        return this.groupInfo.icon
      },
      memberCount () {
        return this.groupInfo.memberCount || 0
      },
      isJoined () {
        return this.groupInfo.relation ? this.groupInfo.relation.isCurrUserJoin : false
      }
    }
  }
</script>
<style>
  .group-avator{
    & .img{
      width: 50px;
      height: 50px;
      border-radius: 4px;
    }
    & h4 {
      margin-bottom: 6px;
    }
    & .join{
      position: absolute;
      right:0;
      top:0;
    }
    & .media-object-section:last-child{
      position: relative;
    }
  }
</style>

