<template>
  <div class="large-up-3 img-list clearfix margin-b">
    <div class="column flex-center">
      <a><img src="../../../assets/img/12.jpg" alt="图片name"/></a>
    </div>
    <div class="column flex-center">
      <a><img src="../../../assets/img/6.png" alt="图片name"/></a>
    </div>
    <div class="column flex-center">
      <a><img src="../../../assets/img/b2.png" alt="图片name"/></a>
    </div>
    <div class="column flex-center">
      <a><img src="../../../assets/img/bg.jpg" alt="图片name"/></a>
    </div>
    <div class="column flex-center">
      <a><img src="../../../assets/img/u1.png" alt="图片name"/></a>
    </div>
    <div class="column flex-center">
      <a><img src="../../../assets/img/behavior/celebrate.jpg" alt="图片name"/></a>
    </div>
    <div class="column flex-center">
      <a><img src="../../../assets/img/6.png" alt="图片name"/></a>
    </div>
    <div class="column flex-center">
      <a><img src="../../../assets/img/6.png" alt="图片name"/></a>
    </div>
    <div class="column flex-center">
      <a><img src="../../../assets/img/6.png" alt="图片name"/></a>
    </div>
  </div>
</template>
