<template>
  <div class="media-object group-avator no-find">
    <div class="media-object-section shrink">
      <div class="img">
        <img src="../../../assets/img/s.png" alt="No Find">
      </div>
    </div>
    <div class="media-object-section">
      <div class="margin-b4">
        好尴尬，找不到<template v-if="keyword">包含<h4 style="display: inline-block;margin-bottom: 4px;" v-text="'“'+keyword+'”'">“照片”</h4>的</template>内容
      </div>
      <p class="color-secondary" v-text="tip">想找用户或小组或帖子？输入相关人员、小组、帖子内容的相关键字试试。</p>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    keyword: String,
    tip: String
  }
}
</script>
<style>
  .no-find{
    padding: 1rem;
    background: #fff;
    margin-bottom: 1rem;
  }
</style>
