<template>
  <div class="media-object user">
    <div class="media-object-section shrink">
      <div class="img">
        <router-link :to="{name: 'user', params: {userId: user.id}}"><user-block tagName="a" class="h-underline" :user="user"><img :src="userAvatar" v-error-img:user :alt="userName"></user-block></router-link>
      </div>
    </div>
    <div class="media-object-section">
      <h4 class="margin-b4"><router-link :to="{name: 'user', params: {userId: user.id}}"><user-block tagName="a" class="h-underline" :user="user">{{userName}}</user-block></router-link></h4>
      <div class="color-secondary">{{fansCount}} 人关注</div>
    </div>
    <div class="media-object-section">
      <el-button type="info" :icon="isFollow(user)?'check':'plus'" v-if="!matchCurrUser(user)" size="small" @click="follow(user)" >{{isFollow(user) ? '取消关注' : '关注'}}</el-button>
    </div>
  </div>
</template>
<script>
  import UserBlock from '@/views/user/UserBlock'
  import UserMixin from '@/util/userMixin'
  export default {
    mixins: [UserMixin],
    data () {
      return {}
    },
    components: {
      UserBlock
    },
    props: {
      user: Object
    },
    methods: {
    },
    computed: {
      userInfo () {
        return this.user || {}
      },
      userName () {
        return this.userInfo.userName || this.user.id
      },
      userAvatar () {
        return this.userInfo.avatar
      },
      fansCount () {
        return this.userInfo.snsInfo ? this.userInfo.snsInfo.fansCount || 0 : 0
      },
      followCount () {
        return this.userInfo.snsInfo ? this.userInfo.snsInfo.followCount || 0 : 0
      }
    }
  }
</script>
