<template>
  <mod title="用户" type="mod-side-l1" class="margin-b">
    <i class="fa fa-user color-info" slot="icon"></i>
    <ul class="card-list">
      <li v-for="user in userList" :key="user">
        <user-card :user="user"></user-card>
      </li>
    </ul>
  </mod>
</template>
<script>
  import UserCard from '@/views/search/searchcards/UserCard'
  import { rest } from '@/util'
  import { types as dataPoolTypes } from '@/store/modules/dataPool'
  export default {
    components: {
      UserCard
    },
    data () {
      return {
        userList: [],
        isLoading: true,
        loadSuccess: false
      }
    },
    props: {
      ids: Array,
      users: Array
    },
    created () {
    },
    mounted () {
      if (this.users) {
        this.initUserListByUsers(this.users)
      } else if (this.ids) {
        this.initUserListByIds(this.ids)
      }
    },
    methods: {
      initUserListByIds (userIds) {
        if (userIds && userIds.length > 0) {
          this.storeNeedData({
            type: 'user',
            dataIds: userIds
          }).then(users => {
            this.userList = userIds.map(id => users[id])
            if (this.userList) {
              this.loadUserOtherInfos(this.userList)
            }
          })
        } else {
          this.userList = []
        }
      },
      initUserListByUsers (users) {
        if (users && users.length > 0) {
          this.loadUserOtherInfos(users)
        } else {
          this.userList = []
        }
      },
      loadUserOtherInfos (users) {
        this.isLoading = true
        if (!users) {
          this.isLoading = false
          return
        }
        let userIds = []
        for (let index in users) {
          if (!users[index].isLoadedOtherInfo) {
            userIds.push(users[index].id)
          }
        }
        if (userIds && userIds.length > 0) {
          rest.get('/sns/user/otherInfo', {userId: userIds, loadRelation: true}, true).then((otherInfo) => {
            if (otherInfo) {
              userIds.forEach(userId => {
                let userCopy = {id: userId}
                userCopy.snsInfo = otherInfo.snsInfos[userId] || {}
                userCopy.relation = otherInfo.relations[userId] || {}
                userCopy.isLoadedOtherInfo = true
                this.$store.commit(dataPoolTypes.M_ADD_USERS, [userCopy])
                this.isLoading = false
                this.loadComplete = true
              })
            }
          }).catch((e) => {
            this.isLoading = false
            this.loadComplete = true
            console.log('加载用户其它信息异常！', e)
          })
        } else {
          this.isLoading = false
        }
      }
    },
    computed: {
    },
    watch: {
      ids (nv, ov) {
        this.initUserListByIds(nv)
      },
      users (nv, ov) {
        this.initUserListByUsers(nv)
      }
    }
  }
</script>
