<template>
  <footer class="nshop-footer">
    <div class="text-center"><p>福州聆花信息科技有限公司 版权所有 © 2017  </p> <address data-v-58cd325e="">公司地址：福建省福州市仓山区 0-1创业小镇</address></div>
  </footer>
</template>
<style>
  @import "css/variable.css";
  .nshop-footer{
    padding: 16px 0;
    font-size: 13px;
    color: var(--color-secondary);
    background: var(--color-primary);
    & p {
      margin-bottom: 10px;
    }
    & address {
      font-style: normal;
    }
  }
</style>
