<template>
  <div class="full-wrapper">
    <header class="nshop-header">
      <div class="el-row media-object">
        <h2 class="media-object-section">
          <router-link to="/nshop"><i class="fa fa-fire"></i>企业内购</router-link>
        </h2>
        <nav class="nshop-nav media-object-section shrink">
          <router-link
            :to="{ name: 'shopslist', params: {caId: 1}}"
          >节日礼品
          </router-link>
          <router-link
            :to="{ name: 'shopslist', params: {caId: 2}}"
          >爱关怀
          </router-link>
          <router-link
            :to="{ name: 'shopslist', params: {caId: 3}}"
          >办公用品
          </router-link>
        </nav>
        <div class="media-object-section text-right">
          <!--<a title="商品管理" class="margin-r"><i class="el-icon-setting"></i></a>-->
          <el-badge :value="4" style="line-height: normal;">
            <a class="cart"><i class="fa fa-shopping-cart"></i></a>
          </el-badge>
          <div class="avatar">
            <img src="../../assets/img/1.jpg" alt="">
          </div>
          <el-dropdown trigger="click" @command="showAddForm">
            <el-button type="success" size="small">
              发布商品<i class="el-icon-caret-bottom el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="person">平台商品</el-dropdown-item>
              <el-dropdown-item command="company">公司商品</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
    </header>
    <router-view></router-view>
    <shop-footer></shop-footer>
  </div>
</template>
<script>
  import ShopFooter from './Footer.vue'

  export default {
    data () {
      return {}
    },
    methods: {
      showAddForm () {
      }
    },
    components: {
      ShopFooter
    }
  }
</script>
<style>
  @import 'css/variable.css';

  .full-wrapper {
    & main {
      min-height: calc(100vh - 219px);
      padding-bottom: 30px;
    }
  }

  .nshop-header {
    background: #fff;
    height: 80px;
    line-height: 80px;
    text-align: center;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 69%, .2);
    & > div {
      padding: 0 0.5rem;
    }
    & h2 {
      margin: 0;
    }
    & h2 i {
      display: inline-block;
      height: 36px;
      width: 36px;
      line-height: 36px;
      border-radius: 50%;
      background: var(--color-danger);
      color: #fff;
      margin: 0 0.4rem;
    }
    & .cart {
      font-size: 24px;
    }
    & .el-dropdown {
      height: 30px;
      line-height: 30px;
    }
    & .avatar {
      line-height: 36px;
      display: inline-block;
      height: 36px;
      width: 36px;
      vertical-align: middle;
      overflow: hidden;
      border-radius: 50%;
    }
    & .text-right > div {
      margin-left: 1rem;
    }
  }

  .nshop-nav {
    margin-left: 40px;
    & a {
      font-size: 14px;
      margin-right: 30px;
      font-weight: 600;
      &.active {
        color: var(--color-danger);
      }
    }
  }

  /*index*/
  .product-types {
    margin-top: 60px;
  }

  .product-types h3 {
    height: 36px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    & span {
      height: 36px;
      margin: 0 10px;
    }
    & .title-icon, & .title-icon {
      width: 56px;
      height: 36px;
      background: url(../../assets/img/icon.png) no-repeat;
      background-size: 100%;
    }
    & .title-icon-l {
      background-position: center -288px;
    }
    & .title-icon-r {
      background-position: center -324px;
    }
    & .title-icon-l1 {
      background-position: center -144px;
    }
    & .title-icon-r1 {
      background-position: center -180px;
    }
    & .title-icon-l2 {
      background-position: center -360px;
    }
    & .title-icon-r2 {
      background-position: center -396px;
    }
    & .title-icon-l3 {
      background-position: center -504px;
    }
    & .title-icon-r3 {
      background-position: center -540px;
    }
    & .title-icon-l4 {
      background-position: center -72px;
    }
    & .title-icon-r4 {
      background-position: center -108px;
    }
  }

  .product-list .row {
    margin: 0 -10px;
  }

  .product-list .column {
    padding: 10px;
    & em {
      font-style: normal;
      color: var(--color-danger);
    }
    & div:first-child a {
      display: block;
      overflow: hidden;
      background: #fbfbfb;
      position: relative;
      &:hover .undercarriage {
        opacity: 1;
      }
      & img {
        transition: all 1s;
      }
      &:hover img {
        transform: scale(1.1)
      }
      & .el-tag {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
      }
    }
    & div:nth-child(2) a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      & :hover {
        text-decoration: underline;
      }
    }
    &:hover .undercarriage {
      opacity: 1;
    }
    & span:not(.undercarriage, .el-tag) {
      color: #666;
      margin-right: 10px;
    }
    & span.c-price {
      color: var(--color-danger) !important;
    }
  }

  .undercarriage {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s;
  }

  .product-detail {
    background: #fff;
    padding: 1rem;
  }
  .product-params > div{
    padding: 6px 0;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
</style>
