<template>
  <main>
    <swiper :options="swiperOption" ref="mySwiper">
      <swiper-slide v-for="slide in swiperSlides" :key="slide" style="background: #f7bf9e">
        <div class="swiper-zoom-container">
          <a>
            <img :src="slide.url" alt="" class="swiper-lazy">
          </a>
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
      </swiper-slide>
      <div class="swiper-pagination swiper-pagination-white" slot="pagination"></div>
      <div class="swiper-button-prev swiper-button-white" slot="button-prev"></div>
      <div class="swiper-button-next swiper-button-white" slot="button-next"></div>
    </swiper>
    <el-row>
      <el-col :span="24">
        <section class="product-types">
          <h3>
            <span class="title-icon title-icon-l4"></span>
            <span>零 · 食 · 货 · 架</span>
            <span class="title-icon title-icon-r4"></span>
          </h3>
          <div class="product-list">
            <div class="row large-up-4 medium-up-3 clearfix">
              <div class="column">
                <div>
                  <router-link title="" :to="{name: 'detail', params: {arId: 1}}">
                    <img src="../../assets/img/shopl4.png" alt="商品一">
                    <span class="undercarriage"><i class="el-icon-setting"></i></span>
                  </router-link>
                </div>
                <div class="margin-t10"><a title="">熊孩子蔬果干综合水果蔬菜干脆片混合  <em>零食</em></a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">20.00 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div>
                  <a title="">
                    <img src="../../assets/img/shopl2.png" alt="商品一">
                    <span class="undercarriage"><i class="el-icon-setting"></i></span>
                  </a>
                </div>
                <div class="margin-t10"><a title="">【天猫超市】张君雅小妹妹甜甜圈膨化零食15件大礼包645g进口礼盒</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">42.90 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div>
                  <a title="">
                    <img src="../../assets/img/shopl3.png" alt="商品一">
                    <span class="undercarriage"><i class="el-icon-setting"></i></span>
                  </a>
                </div>
                <div class="margin-t10"><a title="">Lay’s/乐事无限薯片三连罐104g*3罐</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">18.90 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div>
                  <a title="">
                    <img src="../../assets/img/shopl4.png" alt="商品一">
                    <span class="undercarriage"><i class="el-icon-setting"></i></span>
                  </a>
                </div>
                <div class="margin-t10"><a title="">良品铺子零食大礼包组合一箱超大混合</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">107.00 </span> <span>已售:1913件</span></div>
              </div>
            </div>
          </div>
        </section>
        <section class="product-types">
          <h3>
            <span class="title-icon title-icon-l"></span>
            <span>节 · 日 · 礼 · 品</span>
            <span class="title-icon title-icon-r"></span>
          </h3>
          <div class="product-list">
            <div class="row large-up-4 medium-up-3 clearfix">
              <div class="column">
                <div>
                  <router-link title="" :to="{name: 'detail', params: {arId: 1}}">
                    <img src="../../assets/img/shopj4.png" alt="商品一">
                    <span class="undercarriage"><i class="el-icon-setting"></i></span>
                  </router-link>
                </div>
                <div class="margin-t10"><a title="">中秋节套餐  <em>1</em> 盒月饼 + <em>1</em> 盒 礼品水果</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">平台商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">200.00 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div>
                  <a title="">
                    <img src="../../assets/img/shopj2.png" alt="商品一">
                    <span class="undercarriage"><i class="el-icon-setting"></i></span>
                  </a>
                </div>
                <div class="margin-t10"><a title="">端午节【聚端午】500元礼品套餐</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">500.00 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div>
                  <a title="">
                    <img src="../../assets/img/shopj3.png" alt="商品一">
                    <span class="undercarriage"><i class="el-icon-setting"></i></span>
                  </a>
                </div>
                <div class="margin-t10"><a title="">春节礼品套餐 【恭喜发财】300元</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">平台商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">300.00 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div>
                  <a title="">
                    <img src="../../assets/img/shop.png" alt="商品一">
                    <span class="undercarriage"><i class="el-icon-setting"></i></span>
                  </a>
                </div>
                <div class="margin-t10"><a title="">健身卡，时间为一年</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">200.00 </span> <span>已售:1913件</span></div>
              </div>
            </div>
          </div>
        </section>
        <section class="product-types">
          <h3>
            <span class="title-icon title-icon-l1"></span>
            <span>员 · 工 · 关 · 怀</span>
            <span class="title-icon title-icon-r1"></span>
          </h3>
          <div class="product-list">
            <div class="row large-up-4 medium-up-3 clearfix">
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop5.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title="">
                  <img src="../../assets/img/shop6.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">平台商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop7.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop8.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">平台商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
            </div>
          </div>
        </section>
        <section class="product-types">
          <h3>
            <span class="title-icon title-icon-l2"></span>
            <span>办 · 公 · 用 · 品</span>
            <span class="title-icon title-icon-r2"></span>
          </h3>
          <div class="product-list">
            <div class="row large-up-4 medium-up-3 clearfix">
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop1.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop2.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">平台商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop3.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop4.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">平台商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
            </div>
          </div>
        </section>
        <section class="product-types">
          <h3>
            <span class="title-icon title-icon-l3"></span>
            <span>猜 · 你 · 喜 · 欢</span>
            <span class="title-icon title-icon-r3"></span>
          </h3>
          <div class="product-list">
            <div class="row large-up-4 medium-up-3 clearfix">
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop1.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop2.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">平台商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop3.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
              <div class="column">
                <div><a title=""><img src="../../assets/img/shop4.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                <div class="margin-t6"><span class="el-tag el-tag--warning">平台商品</span></div>
                <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
              </div>
            </div>
          </div>
        </section>
      </el-col>
    </el-row>
  </main>
</template>
<script>
  export default {
    data () {
      return {
        swiperSlides: [{
          url: 'http://bcdn.ddguanhuai.com/Uploads/admin/indexBanner/2017-09-29/59ce31c8f3f33.jpg'
        }],
        swiperOption: {
          allowTouchMove: false,
          lazy: true,
          zoom: {
            enabled: true,
            maxRatio: 1.5,
            toggle: false
          },
          pagination: {
            el: '.swiper-pagination'
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev'
          },
          paginationType: 'fraction',
          paginationClickable: true,
          preloadImages: false
        }
      }
    }
  }
</script>
<style>

</style>
