<template>
  <main>
    <el-row>
      <el-col :span="24">
        <el-row class="shops-banner margin-t">
          <el-col :span="11">
            <div class="img">
              <img src="http://yanxuan.nosdn.127.net/2b46a02508da79dd41434ee416208940.png?imageView&thumbnail=430x430" alt="抱枕"/>
            </div>
          </el-col>
          <el-col :span="13">
            <section class="activity-content">
              <h2>夏日甜心U形枕</h2>
              <p class="desc"><span>慢慢旅途，有熊出没</span></p>
              <div class="shops-description">
                <div>商品编号：<span>22121211</span></div>
                <div class="price">关怀价：<span class="color-danger margin-r10">￥500.00</span><span class="text-decoration old-price">￥600.00</span></div>
                <div>累计销量：<span>300件</span></div>
              </div>
              <div class="go-shopping margin-t">
                <div>
                  <el-input-number v-model="num1" @change="handleChange" :min="1" :max="5"></el-input-number>
                  <span class="margin-l10">(每个员工限购5个)</span>
                </div>
                <div class="margin-t">
                  <el-button :plain="true" type="danger">加入购物车</el-button>
                  <el-button type="danger">立即购买</el-button>
                </div>
              </div>
            </section>
          </el-col>
        </el-row>
        <el-row class="margin-t">
          <el-col :span="17" class="padding-l0">
            <div class="product-detail">
              <el-tabs v-model="activeName" @tab-click="handleClick">
                <el-tab-pane label="商品详情" name="first">
                  <div class="product-params clearfix large-up-3 medium-up-3">
                    <div class="column">材质: 材质聚酯纤维</div>
                    <div class="column">面料: 100%棉</div>
                    <div class="column">尺寸: 单片40*17cm</div>
                    <div class="column">颜色: 灰色条纹/粉色条纹</div>
                  </div>
                  <div class="product-ar margin-t">
                    <img src="../../assets/img/sd.jpg" />
                    <img src="../../assets/img/sd1.jpg" />
                    <img src="../../assets/img/sd3.jpg" />
                  </div>
                </el-tab-pane>
              </el-tabs>
            </div>
          </el-col>
          <el-col :span="7" class="padding-r0">
            <mod title="大家关注的商品" size="16">
              <div class="product-list">
                <div class="row large-up-1 medium-up-1 clearfix">
                  <div class="column">
                    <div>
                      <router-link title="" :to="{name: 'detail', params: {arId: 1}}">
                        <img src="../../assets/img/shop1.png" alt="商品一">
                        <span class="undercarriage"><i class="el-icon-setting"></i></span>
                      </router-link>
                    </div>
                    <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                    <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
                  </div>
                  <div class="column">
                    <div><a title=""><img src="../../assets/img/shop2.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                    <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                    <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
                  </div>
                  <div class="column">
                    <div><a title=""><img src="../../assets/img/shop3.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                    <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                    <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
                  </div>
                  <div class="column">
                    <div><a title=""><img src="../../assets/img/shop4.png" alt="商品一"><span class="undercarriage"><i class="el-icon-setting"></i></span></a></div>
                    <div class="margin-t10"><a title="">柔软凉爽天丝麻蚕丝填充薄被</a></div>
                    <div class="margin-t6">¥ <span class="c-price">349.99 </span> <span>已售:1913件</span></div>
                  </div>
                </div>
              </div>
            </mod>
          </el-col>
        </el-row>
      </el-col>
    </el-row>
  </main>
</template>
<script>
  export default {
    data () {
      return {
        num1: 1,
        activeName: 'first'
      }
    },
    methods: {
      handleChange (v) {
        console.log(v)
      },
      handleClick (tab, event) {
        console.log(tab, event)
      }
    }
  }
</script>
<style>
  @import "css/variable.css";
  .shops-banner{
    background: #fff;
    padding: 1rem;
    & .img{
      width: 430px;
      height: 430px;
      overflow: hidden;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
  .activity-content {
    padding: 10px 0 0;
    & .desc{
      color: var(--color-secondary);
      font-size: 12px;
    }
  }
  .shops-description {
    padding: 1rem;
    background: linear-gradient(color(var(--color-warning) tint(80%)), color(var(--color-warning) tint(96%)))
  }
  .shops-description > div{
    margin-top: 6px;
    font-size:12px;
    &.price{
      & span{
        font-weight: 600;
        font-size: 18px;
        &.old-price{
          font-size: 12px;
          font-weight:normal;
          color: var(--color-secondary);
        }
      }
    }
  }
  .text-decoration{
    text-decoration: line-through;
  }
</style>
