<template>
  <main>
    <el-row>
      <el-col :span="24">
        <div class="filters margin-t" style="background: none">
          <el-row>
            <el-col :span="24">
              <ul class="menu">
                <li>
                  <a>最新</a>
                </li>
                <li>
                  <a>最热</a>
                </li>
                <li>
                  <a>尖货</a>
                </li>
              </ul>
            </el-col>
          </el-row>
        </div>
        <div class="product-list">
          <div class="row large-up-4 medium-up-3 clearfix">
            <div class="column">
              <div>
                <router-link title="" :to="{name: 'detail', params: {arId: 1}}">
                  <img src="../../assets/img/shopl4.png" alt="商品一">
                  <span class="undercarriage"><i class="el-icon-setting"></i></span>
                </router-link>
              </div>
              <div class="margin-t10"><a title="">熊孩子蔬果干综合水果蔬菜干脆片混合  <em>零食</em></a></div>
              <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
              <div class="margin-t6">¥ <span class="c-price">20.00 </span> <span>已售:1913件</span></div>
            </div>
            <div class="column">
              <div>
                <a title="">
                  <img src="../../assets/img/shopl2.png" alt="商品一">
                  <span class="undercarriage"><i class="el-icon-setting"></i></span>
                </a>
              </div>
              <div class="margin-t10"><a title="">【天猫超市】张君雅小妹妹甜甜圈膨化零食15件大礼包645g进口礼盒</a></div>
              <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
              <div class="margin-t6">¥ <span class="c-price">42.90 </span> <span>已售:1913件</span></div>
            </div>
            <div class="column">
              <div>
                <a title="">
                  <img src="../../assets/img/shopl3.png" alt="商品一">
                  <span class="undercarriage"><i class="el-icon-setting"></i></span>
                </a>
              </div>
              <div class="margin-t10"><a title="">Lay’s/乐事无限薯片三连罐104g*3罐</a></div>
              <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
              <div class="margin-t6">¥ <span class="c-price">18.90 </span> <span>已售:1913件</span></div>
            </div>
            <div class="column">
              <div>
                <a title="">
                  <img src="../../assets/img/shopl4.png" alt="商品一">
                  <span class="undercarriage"><i class="el-icon-setting"></i></span>
                </a>
              </div>
              <div class="margin-t10"><a title="">良品铺子零食大礼包组合一箱超大混合</a></div>
              <div class="margin-t6"><span class="el-tag el-tag--warning">公司商品</span></div>
              <div class="margin-t6">¥ <span class="c-price">107.00 </span> <span>已售:1913件</span></div>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
  </main>
</template>
