<template>
  <div class="personal-wrapper">
  	<person-header :user="user"></person-header>
  	<router-view></router-view>
  </div>
</template>
<script>
  import PersonHeader from './PersonHeader'
  export default {
    components: {
      PersonHeader
    },
    data () {
      return {
        user: {}
      }
    },
    watch: {
      $route () {
        this.getUser(this.$route.params.userId)
      }
    },
    created () {
      this.getUser(this.$route.params.userId)
    },
    methods: {
      getUser (id) {
        this.storeNeedData({
          type: 'user',
          dataIds: [id]
        })
        .then(users => {
          if (users[id]) {
            this.user = users[id]
          } else {
            this.$router.push({ name: '404' })
          }
        })
        // this.$store.dispatch(userTypes.A_GET, id)
        // .then(user => {
        //   this.user = user
        // })
      }
    }
  }
</script>
<style>
  .list-manage {
    & .filters h3{
      padding: 1rem 0 0 1rem;
    }
  }
</style>
