<template>
  <el-col :span="17">
    <publish-bar :userId="currUser.id" class="margin-b" v-if="currUser.id === user.id"></publish-bar>
    <!--<div class="filters mod-border">-->
      <!--<el-row>-->
        <!--<el-col :span="24">-->
          <!--<ul class="menu">-->
            <!--<li>-->
              <!--<a class="active">全部</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a>热门</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a>本周最热  </a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a>历史最热</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</el-col>-->
      <!--</el-row>-->
    <!--</div>-->
    <feed :class="{ 'margin-t': currUser.id === user.id }" :userId="user.id"></feed>
  </el-col>
</template>

<script>
import PublishBar from '@/views/include/PublishBar'
import Feed from '@/components/Feed'
import { currUser } from '@/store/modules/helper'

export default {
  components: {
    PublishBar,
    Feed
  },
  computed: {
    currUser,
    userId () {
      return this.$route.params.userId
    },
    user () {
      let user = this.$store.state.dataPool.users[this.userId] || {id: this.userId}
      return user
    }
  }
}
</script>
