<template>
  <el-col :span="17">
    <feed :userId="userId" :feedIds="ids" @dataFetched="dataFetched"></feed>
    <list-loading v-show="noData" :loading="false" :noData="true" :message="'数据不存在或已删除'"></list-loading>
  </el-col>
</template>

<script>
import Feed from '@/components/Feed'

export default {
  components: {
    Feed
  },
  computed: {
    userId () {
      return this.$route.params.userId
    },
    feedId () {
      return this.$route.params.feedId
    },
    ids () {
      return this.feedId ? [this.feedId] : null
    }
  },
  data () {
    return {
      noData: false
    }
  },
  created () {
    this.$bus.$on('feed:delete', (feed) => {
      if (feed.id === this.feedId) {
        this.$router.push({
          name: 'user',
          params: {
            userId: this.userId
          }
        })
      }
    })
  },
  mounted () {
    console.log(this)
  },
  methods: {
    dataFetched (map) {
      this.noData = !map || !map[this.feedId]
    }
  }
}
</script>
