<template>
  <div>
    <el-row class="margin-t">
      <router-view></router-view>
      <el-col :span="7">
        <mod class="personMod" title="简介" size="14">
          <el-button v-if="currUser.id === user.id" class="circle-btn" type="primary" icon="edit" @click="openEditPanel"></el-button>
          <p class="font-s12 color-secondary margin-b10">{{userExtInfoObject.intro}}</p>
          <div><span>账号：</span>{{user.loginName}}</div>
          <div><span>昵称：</span>{{user.userName}}</div>
          <div><span>个人：</span>{{userAge}}岁 {{userSex}}</div>
          <div><span>手机：</span>{{user.cellphone}}</div>
          <div><span>邮箱：</span>{{user.email}}</div>
          <!--<div><span>公司：</span>聆花科技</div>-->
          <div><span>故乡：</span>{{userExtInfoObject.hometown}}</div>
        </mod>
      </el-col>
    </el-row>
    <el-dialog title="编辑资料" :visible.sync="showEditUserInfo" size="tiny" @close="closeEditPanel">
      <el-form class="user_form" ref="userInfoForm" :rules="rules" :model="formData">
        <el-form-item label="昵称:" :label-width="formLabelWidth" prop="userName">
          <el-input v-model="formData.userName" auto-complete="off" ref="userName"></el-input>
        </el-form-item>
        <el-form-item label="账号:" :label-width="formLabelWidth" prop="loginName">
          <el-input v-model="formData.loginName" auto-complete="off" ref="loginName"></el-input>
        </el-form-item>
        <el-form-item label="签名:" :label-width="formLabelWidth" prop="intro">
          <el-input v-model="formData.intro" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="性别:" :label-width="formLabelWidth">
          <el-select v-model="formData.sex" >
            <el-option label="保密" value="0"></el-option>
            <el-option label="男" value="1"></el-option>
            <el-option label="女" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="生日:" :label-width="formLabelWidth">
          <el-date-picker
            v-model="formData.birthday"
            type="date"
            format="yyyy-MM-dd"
            placeholder="选择日期"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="故乡:" :label-width="formLabelWidth" prop="hometown">
          <el-input v-model="formData.hometown" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="手机:" :label-width="formLabelWidth" prop="cellphone">
          <el-input v-model="formData.cellphone" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱:" :label-width="formLabelWidth" class="no-margin" prop="email">
          <el-input v-model="formData.email" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="showEditUserInfo = false">取 消</el-button>
        <el-button type="primary" :disable="saveBtnDisable" @click="saveUserInfo">保 存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
  import { currUser } from '@/store/modules/helper'
  import { rest } from '@/util'
  import { types as dataPoolTypes } from '@/store/modules/dataPool'

  export default {
    computed: {
      currUser,
      userId () {
        return this.$route.params.userId
      },
      user () {
        let user = this.$store.state.dataPool.users[this.userId] || {id: this.userId}
        return user
      },
      userSex () {
        if (this.user && this.user.sex) {
          let sex = {
            '0': '',
            '1': '男',
            '2': '女'
          }
          return sex[this.user.sex]
        }
        return ''
      },
      userAge () {
        if (this.user && this.user.birthday) {
          let birthDate = new Date(this.user.birthday)
          let now = new Date()
          return now.getFullYear() - birthDate.getFullYear()
        }
        return '0'
      },
      userExtInfoObject () {
        return this.user.extInfoObject || {}
      }
    },
    data () {
      var validateLoginName = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('请输入登录账号'))
        }
        if (value.length > 20) {
          return callback(new Error('账号长度不能超过20个字符'))
        }
        rest.get('/sns/user/checkLoginName?loginName=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            callback(new Error('账号[' + value + ']已经存在'))
            this.isValidFailed = true
          } else {
            this.isValidFailed = false
            callback()
          }
        }).catch((e) => {
          this.isLoginCheckFailed = true
          console.log('检查账号出错！', e)
          callback(new Error('检查账号[' + value + ']异常'))
        })
      }
      return {
        saveBtnDisable: false,
        showEditUserInfo: false,
        formLabelWidth: '60px',
        isValidFailed: false,
        formData: {
          userName: '',
          intro: '',
          sex: '0',
          birthday: '',
          cellphone: '',
          email: '',
          hometown: ''
        },
        rules: {
          userName: [
            {required: true, message: '请输入昵称', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'}
          ],
          loginName: [
            {validator: validateLoginName, trigger: 'blur'}
          ],
          intro: [
            {min: 0, max: 50, message: '长度在 0 到 50 个字符', trigger: 'blur'}
          ],
          hometown: [
            {min: 0, max: 25, message: '长度在 0 到 25 个字符', trigger: 'blur'}
          ],
          cellphone: [
            {message: '请输入正确的手机号', pattern: /^1[0-9]{10}$/, trigger: 'blur'}
          ],
          email: [
            {type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      saveUserInfo () {
        this.saveBtnDisable = true
        this.$refs['userInfoForm'].validate((valid) => {
          if (!valid) {
            this.isValidFailed = true
            this.saveBtnDisable = false
            return false
          }
        })
        if (this.isValidFailed) {
          return
        }
        if (this.formData.birthday && this.formData.birthday.getTime) {
          this.formData.birthday = this.formData.birthday.getTime()
        }
        rest.edit('/sns/user/userInfo', this.formData)
          .then((user) => {
            this.$store.commit(dataPoolTypes.M_ADD_USERS, [user])
            this.msgSuccess('更新用户信息成功！')
            this.saveBtnDisable = false
            this.showEditUserInfo = false
          }).catch((error) => {
            this.saveBtnDisable = false
            console.log('更新用户信息失败', error)
            this.msgError('更新用户信息失败，请稍候重试！')
          })
      },
      openEditPanel () {
        let {userName, loginName, birthday, sex, cellphone, email} = this.user
        let {hometown, intro} = this.userExtInfoObject
        this.formData = {userName, loginName, birthday, sex, cellphone, email, hometown, intro, userId: this.user.id}
        this.formData.sex = this.formData.sex || '0'
        this.showEditUserInfo = true
      },
      closeEditPanel () {
        this.$refs['userInfoForm'].resetFields()
      }
    },
    watch: {
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .personMod {
    position: relative;
    & .circle-btn {
      border-radius: 50%;
      padding: 8px;
      position: absolute;
      right: 1.2rem;
      top: 22px;
    }
    & .modcon{
      & > div {
        font-size: 12px;
        margin-bottom: 10px;
        & span {
          color:var(--color-secondary);
        }
        &:last-child{
          margin: 0;
        }
      }
    }
  }
  .user_form .el-date-editor.el-input{
    width: 217px;
  }
</style>
