<template>
  <popover
    ref="operRecordPopover"
    placement="top"
    trigger="hover"
    popper-class="heart-user"
  >
    <div v-if="loading" style="display:block;height:30px;margin:0 auto;color:#aaaaaa;text-align: center;">
      <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
    </div>
    <div v-else-if="!dataList || dataList.length <= 0" style="display:block;margin:0 auto;color:#aaaaaa;text-align: center;height:30px;width:30px;line-height: 30px;">
      空
    </div>
    <div v-else class="members user clearfix">
      <div :title="or.user.userName" :key="or.user.id" v-for="or in dataList">
        <router-link :to="{name:'user', params:{userId:or.user.id}}">
          <img :src="or.user.avatar" :alt="or.user.userName" v-error-img:user>
        </router-link>
      </div>
      <div title="查看更多" v-if="dataRows > 3" @click="showMore">
        <a>···</a>
      </div>
    </div>
  </popover>
</template>
<script>
import Popover from '@/components/Popover'
import UserBlock from '@/views/user/UserBlock'
import { rest } from '@/util'
export default {
  components: {
    UserBlock,
    Popover
  },
  data () {
    return {
      loading: true,
      dataRows: 0,
      dataList: [],
      condition: {}
    }
  },
  created () {
    // 添加事件监听
    this.$bus.$on('operRecord:showPopover', ({elem, data}) => {
      this.loadData(data)
      // 加载用户扩展信息
      this.showOperRecordInfo({elem})
    })
    this.$bus.$on('operRecord:hidePopover', (data) => {
      this.hideOperRecordInfo(data)
    })
    this.$bus.$on('operRecord:closePopover', (data) => {
      this.closeOperRecordInfo(data)
    })
  },
  methods: {
    loadData (condition) {
      this.loading = true
      let page = {
        start: 0,
        row: 3
      }
      if (condition.objType) {
        this.condition = condition
        // 获取喜欢数据
        rest.get('/sns/operRecord/list', { ...condition, ...page }, true).then(map => {
          if (map && map.count > 0) {
            this.dataRows = map.count
            let operators = map.list.map(or => or.operator)
            this.storeNeedData({
              type: 'user',
              dataIds: operators
            }).then((users) => {
              map.list.forEach(or => {
                or.user = users[or.operator]
              })
              this.dataList = map.list
            }).catch(err => {
              this.dataList = []
              console.log('获取点赞数据人员信息失败！', err)
            })
          } else {
            this.dataRows = 0
            this.dataList = []
          }
          this.loading = false
        }).catch((error) => {
          this.loading = false
          this.dataRows = 0
          this.dataList = []
          console.log('获取点赞数据失败！', error)
        })
      } else {
        this.loading = false
      }
    },
    showOperRecordInfo (elem) {
      this.toggleOperRecordInfo(elem, true)
    },
    hideOperRecordInfo (elem) {
      this.toggleOperRecordInfo(elem, false)
    },
    closeOperRecordInfo (elem) {
      if (this.$refs && this.$refs.userPopover) {
        let popover = this.$refs.userPopover
        if (popover && popover.$refs && popover.$refs.popper) {
          popover.$refs.popper.style.display = 'none'
        }
      }
    },
    toggleOperRecordInfo ({elem}, show) {
      let popover = this.$refs.operRecordPopover
      if (popover) {
        popover.changeShowInfo({
          elem, show, callback: () => {}
        })
      }
    },
    showMore () {
      this.$bus.$emit('operRecord:show', {...this.condition})
    }
  },
  computed: {
    width () {
      let width = 150
      if (this.dataRows <= 3) {
        width = this.dataRows * 30 + (this.dataRows - 1) * 10
      }
      return width
    },
    currUser () {
      return this.$store.state.currUser || {}
    }
  }
}
</script>
<style>
  .heart-user {
    min-width: 0px;
    .el-popover {
      min-width: 0px;
    }
  }
</style>
