<template>
  <el-dialog
    :title="title"
    :visible.sync="visible"
    size="tiny"
    class="oper-record"
    @open="open"
    @close="close"
  >
    <div class="members user clearfix">
      <template v-if="loading">
        <div :style="loadingStyle">
          <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" :style="loadingIconStyle"></i>
        </div>
      </template>
      <template v-else-if="!dataList || dataList.length <=0">
        <div :style="emptyStyle">
          <span class="" :style="emptyTipStyle">数据不存在！</span>
        </div>
      </template>
      <template v-else>
        <div v-for="or in dataList" :key="or.user.id" :title="or.user.userName || or.user.id" @click="visible=false">
          <router-link :to="{name:'user', params:{userId:or.user.id}}">
            <img :src="or.user.avatar" :alt="or.user.userName" v-error-img:user>
            <div>{{or.user.userName || or.user.id}}</div>
          </router-link>
        </div>
      </template>
    </div>
    <el-pagination
      small
      layout="prev, pager, next"
      :total="this.dataRows"
      :page-size="40"
      @current-change="loadPageData"
    >
    </el-pagination>
  </el-dialog>
</template>
<script>
import { rest } from '@/util'
export default {
  data () {
    return {
      visible: false,
      condition: {
        objType: null,
        objId: null,
        action: null
      },
      titleName: '喜欢',
      loading: true,
      cache: {}, // 缓存数据
      dataList: [],
      dataRows: 0
    }
  },
  props: {
  },
  created () {
    this.$bus.$on('operRecord:show', data => {
      if (data) {
        this.condition.objType = data.objType
        this.condition.objId = data.objId
        this.condition.action = data.action
        if (data.titleName) {
          this.titleName = data.titleName
        } else {
          this.titleName = '喜欢'
        }
        this.visible = true
      }
    })
  },
  methods: {
    open () {
      this.loading = true
      this.loadData()
    },
    close () {
      this.loading = true
      this.dataList = []
      this.dataRows = 0
      this.condition.objType = null
      this.condition.objId = null
      this.condition.action = null
    },
    loadPageData (page) {
      this.loadData({
        start: 1 * (page - 1),
        row: 40
      })
    },
    loadData (page) {
      this.loading = true
      if (!page) {
        page = {
          start: 0,
          row: 40
        }
      }
      if (this.condition.objType) {
        let cacheKey = this.condition.objType + '-' + this.condition.objId + '-' + this.condition.action
        let data = this.cache[cacheKey]
        if (!data) {
          // 获取喜欢数据
          rest.get('/sns/operRecord/list', { ...this.condition, ...page }, true).then(map => {
            if (map && map.count > 0) {
              this.dataRows = map.count
              let operators = map.list.map(or => or.operator)
              this.storeNeedData({
                type: 'user',
                dataIds: operators
              }).then((users) => {
                map.list.forEach(or => {
                  or.user = users[or.operator]
                })
                this.dataList = map.list
              }).catch(err => {
                this.dataList = []
                console.log('获取点赞数据人员信息失败！', err)
              })
            } else {
              this.dataRows = 0
              this.dataList = []
            }
            this.loading = false
          }).catch((error) => {
            this.loading = false
            this.dataRows = 0
            this.dataList = []
            console.log('获取预览对象的点赞数据失败！', error)
          })
        }
      } else {
        this.loading = false
      }
    }
  },
  computed: {
    title () {
      if (this.dataRows > 0) {
        return this.dataRows + '个' + this.titleName
      }
      return this.titleName
    },
    currHeight () {
      let height = 56
      if (this.dataRows > 0) {
        height = (Math.floor((this.dataRows - 1) / 10) + 1) * 56
      }
      return height
    },
    loadingStyle () {
      return 'display:block;width:100%;height:' + this.currHeight + 'px;margin:0 auto;color:#eeeeee;text-align: center;'
    },
    emptyStyle () {
      return this.loadingStyle
    },
    loadingIconStyle () {
      return 'display:block;margin:' + (this.currHeight / 2 - 30) + 'px auto 0 auto;'
    },
    emptyTipStyle () {
      return 'font-size: 15px;margin: 0 auto;display: block;margin-top: ' + (this.currHeight / 2 - 30) + 'px;'
    }
  }
}
</script>
<style>
.oper-record{
  & .el-dialog{
      width: 100%;
      max-width: 576px;
  }
  & .el-dialog__body {
      padding: 20px 20px 10px 20px;
  }
  & .el-pagination {
      margin-top: 10px;
      text-align: center;
  }
}
.members > div {
  margin: 2px 8px;
}
</style>
