<template>
  <user-card :item="user">
    <div v-if="showTools" slot="tools" class="tools-status">
      <a v-if="!itemIsUserSelf&&isFans&&isFollow"><i class="fa fa-exchange"></i>互相关注</a>
      <a v-if="(isFansList||!isCurrUserSelf)&&!itemIsUserSelf&&!isFollow" title="关注" @click="doManage('follow', item)"><i class="fa fa-plus"></i>关注</a>
      <a v-if="!isCurrUserSelf&&!itemIsUserSelf&&!isFans&&isFollow" title="已关注"><i class="fa fa-check"></i>已关注</a>
      <div v-if="isCurrUserSelf&&!itemIsUserSelf" class="font-tools">
        <el-popover
          ref="state"
          placement="top"
          width="200"
          v-model="showRemovePopover">
          <div class="content layer_mini_opt">
            <p class="main_txt">
              <i class="fa fa-question-circle color-warning"></i>
              <span class="text">确认要{{!isFansList ? '取消对' : '移除粉丝'}}{{user.userName}}{{!isFansList ? '的关注' : ''}}？</span>
              <el-checkbox v-model="removeToBlack" v-if="false">同时将此用户加入黑名单?</el-checkbox>
            </p>
            <div style="text-align: right; margin: 0">
              <el-button size="mini" type="text" @click="showRemovePopover = false">取消</el-button>
              <el-button type="primary" size="mini" @click="doManage(!isFansList ? 'unfollow' : 'remove', item)">确定</el-button>
            </div>
          </div>
        </el-popover>
        <a :title="!isFansList ? '取消关注' : '移除粉丝'" v-popover:state style="margin:0px 0px">{{!isFansList ? ' 取消关注' : ' 移除粉丝'}}</a>
      </div>
    </div>
  </user-card>
</template>
<script>
  import UserCard from '@/components/items/UserCard'
  export default {
    components: {
      UserCard
    },
    data () {
      return {
        showRemovePopover: false,
        removeToBlack: false,
        isFollowRequest: false,
        followRequestCount: 0
      }
    },
    computed: {
      users () {
        return this.$store.state.dataPool.users
      },
      user () {
        if (this.isFansList) {
          return this.users[this.item.follower] || {id: this.item.follower}
        } else {
          return this.users[this.item.object] || {id: this.item.object}
        }
      },
      showTools () {
        return this.isCurrUserSelf || !this.itemIsUserSelf
      }
    },
    props: {
      item: Object,
      isFansList: {
        type: Boolean,
        default: true
      },
      isCurrUserSelf: {
        type: Boolean,
        default: false
      },
      itemIsUserSelf: {
        type: Boolean,
        default: false
      },
      isFans: {
        type: Boolean,
        default: false
      },
      isFollow: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      doManage (type, item) {
        this.showRemovePopover = false
        this.$emit('changeItem', {type: type, user: item})
      }
    }
  }
</script>
<style>
</style>
