<template>
  <section class="list-manage margin-t">
    <div class="mod-border filters">
      <h3><i class="fa fa-users color-info"></i> 粉丝</h3>
      <div class="list-con clearfix">
        <person-item
          v-for="item in list"
          :key="item.id"
          :item="item"
          :isFansList="true"
          :isCurrUserSelf="isCurrUserSelf"
          :itemIsUserSelf="itemIsUserSelf(item)"
          :isFans="isFans(item)"
          :isFollow="isFollow(item)"
          @changeItem="changeItem">
        </person-item>
      </div>
      <list-loading
        :loading="statusFetchList"
        :noData="done&&pageInfo.total === 0"
        v-if="pageInfo.total === 0||statusFetchList"></list-loading>
      <div class="mod-footer" v-if="pageInfo.total>0">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[9, 12, 15, 18]"
          :page-size="pageInfo.size"
          layout="total, sizes, prev, pager, next, jumper"
          :total="pageInfo.total">
        </el-pagination>
      </div>
    </div>
  </section>
</template>
<script>
  import { rest, buildUrl } from '@/util'
  import qs from 'qs'
  import { currUser } from '@/store/modules/helper'
  import PersonItem from './PersonItem'

  export default {
    components: {
      PersonItem
    },
    data () {
      return {
        list: [],
        followers: [],
        byFollowers: [],
        defSize: 9,
        fetchBusy: false,
        currentPage: 1,
        rest: {
          followers: [],
          byFollowers: [],
          items: null,
          page: {
            number: -1,
            size: 20,
            total: 0,
            first: false,
            last: false
          },
          search: {},
          message: {},
          status: {
            delete: false,
            save: false,
            fetch: false,
            fetchList: false
          }
        },
        done: false
      }
    },
    computed: {
      currUser,
      userId () {
        return this.$route.params.userId
      },
      user () {
        return this.$store.state.dataPool.users[this.userId] || {id: this.userId}
      },
      isCurrUserSelf () {
        return this.currUser.id === this.userId
      },
      page: {
        get () {
          return this.rest.page.number + 1
        },
        set (val) {
          this.rest.page.number = val - 1
        }
      },
      pageInfo () {
        return this.rest.page
      },
      search: {
        get () {
          return this.rest.search
        },
        set (val) {
          this.rest.search = val
        }
      },
      listUrlParams () {
        let params = {}
        params.userId = this.userId
        return params
      },
      restUrlGetAll () {
        return '/sns/followers/user/{{userId}}/fans?size={{size}}&page={{page}}'
      },
      statusFetchList () {
        return this.rest.status.fetchList
      }
    },
    watch: {
      'rest.items' (nv) {
        this.list = nv
        this.followers = this.rest.followers
        this.byFollowers = this.rest.byFollowers
        this.fetchBusy = false
//      },
//      '$store.state.groupMember.hasReload' (nv, ov) {
//        if (nv) {
//          let memberMap = this.member[this.memberType]
//          this.rest.page.size = memberMap.size ? memberMap.size : this.defSize
//          this.page = memberMap.page
//          if (this.page !== 0) {
//            --this.page
//          }
//          this.intCountData()
//          this.fetchData()
//        }
      }
    },
    mounted () {
      this.rest.page.size = this.defSize
      this.fetchData()
    },
    methods: {
      itemIsUserSelf (item) {
        return this.currUser.id === item.follower
      },
      isFans (item) {
        if (this.isCurrUserSelf) {
          return true
        }
        return this.followers.indexOf(item.follower) >= 0
      },
      isFollow (item) {
        return this.byFollowers.indexOf(item.follower) >= 0
      },
      restGetAll (params) {
        return this.restFilterGetAll(rest.get(buildUrl(this.restUrlGetAll, params)))
      },
      restFilterGetAll (req) {
        return req.then(data => {
          return this.storeNeedData({
            type: 'user',
            dataIds: data.pageData.content.map(o => o.follower)
          })
            .then(users => {
              return data
            })
        })
      },
      getData () {
        this.rest.status.fetchList = true
        return this.restGetAll({
          ...this.listUrlParams,
          page: this.rest.page.number,
          size: this.rest.page.size,
          search: qs.stringify(this.rest.search, { allowDots: true, indices: false })
        })
          .then(data => {
            let json = data.pageData
            this.done = data.last
            this.rest.page.first = json.first
            this.rest.page.last = json.last
            this.rest.page.size = json.size
            this.rest.page.total = json.totalElements
            this.rest.items = json.content
            this.rest.status.fetchList = false
            this.rest.followers = data.followers || []
            this.rest.byFollowers = data.byFollowers || []
            return data
          })
          .catch(e => {
            this.rest.status.fetchList = false
            return Promise.reject(e)
          })
      },
      fetchData () {
        if (!this.fetchBusy) {
          this.done = false
          this.fetchBusy = true
          ++this.page
          this.getData()
            .catch(err => {
              this.done = true
              this.fetchBusy = false
              if (err.status < 10000) {
                console.log('system error:', err)
              } else {
                console.log('app error:', err)
              }
            })
        }
      },
      handleSizeChange (val) {
        try {
          this.page = 0
          this.rest.page.size = val
          this.fetchData()
        } catch (e) {
        }
      },
      handleCurrentChange (val) {
        try {
          if (val < 1) {
            return
          }
          this.page = val - 1
          this.fetchData()
        } catch (e) {
        }
      },
      changeItem (data) {
        if (data.type === 'follow' || data.type === 'unfollow') {
          let isFollow = data.type === 'follow' ? 'true' : 'false'
          this.follow(data.user, isFollow)
        } else if (data.type === 'remove') {
          this.remove(data.user)
        }
      },
      follow (user, isFollow) {
        if (!user || !user.follower) {
          return
        }
        if (this.isFollowRequest) {
          return
        }
        if (this.followRequestCount > 5) {
          return
        }
        let preMsg = isFollow === 'false' ? '取消关注' : '关注'
        this.isFollowRequest = true
        let follow = user.follower
        rest.create('/sns/followers/user?userId=' + follow + '&follow=' + isFollow, {}).then((isSuccess) => {
          if (isSuccess) {
            if (this.isSelf || this.userId === follow) {
//            刷新head数据
            }
            if (isFollow === 'false') {
              this.byFollowers = this.byFollowers.filter(v => v !== follow)
            } else {
              this.byFollowers.push(follow)
            }
          } else {
            this.msgError(preMsg + '失败！')
          }
          this.isFollowRequest = false
          this.followRequestCount ++
        }).catch((e) => {
          console.log(preMsg + '失败！', e)
          this.msgError(preMsg + '失败，请稍候重试！')
          this.isFollowRequest = false
          this.followRequestCount ++
        })
      },
      remove (user) {
        if (!user || !user.follower) {
          return
        }
        let follow = user.follower
        rest.delete('/sns/followers/user/' + follow + '/remove').then((isSuccess) => {
          if (isSuccess) {
//            刷新head数据
            this.list = this.list.filter(v => v.follower !== follow)
            if (this.list.length === 0) {
              --this.page
              this.fetchData()
            }
          } else {
            this.msgError('移除粉丝失败！')
          }
        }).catch((e) => {
          console.log('移除粉丝失败！', e)
          this.msgError('移除粉丝失败，请稍候重试！')
        })
      }
    }
  }
</script>
<style>
</style>

