<template>
  <section class="list-manage margin-t">
    <div class="mod-border filters">
      <h3><i class="fa fa-star color-danger"></i> 收藏</h3>
      <div class="media-object no-margin" v-if="favoriteCount.all">
        <div class="media-object-section shrink">
          <ul class="menu">
            <li @click="favoriteType = 'all'">
              <a :class="{'router-link-exact-active' : 'all' === favoriteType}">全部 ({{favoriteCount.all ? favoriteCount.all : 0}})</a>
            </li>
            <li v-for="(item, key) in showTypes" :key="key" v-if="favoriteCount[key]" @click="favoriteType = key">
              <a :class="{'router-link-exact-active' : key === favoriteType}">
                {{item}} ({{favoriteCount[key] ? favoriteCount[key] : '0'}})
              </a>
            </li>
            <!--<li v-if="moreListItem.key">-->
              <!--<a :class="{'router-link-exact-active' : moreListItem.key === favoriteType}">-->
                <!--{{moreListItem.name}} ({{favoriteCount[moreListItem.key] ? favoriteCount[moreListItem.key] : '0'}})-->
              <!--</a>-->
            <!--</li>-->
            <li v-if="favoriteCount.all && showMore">
              <el-popover
                popper-class="vertical"
                ref="taskMore"
                placement="bottom-start"
                width="80"
                trigger="hover"
                v-model="showMoreTypeList"
              >
                <ul class="vertical-menu">
                  <li v-for="(item, key) in moreTypes" :key="key" v-if="favoriteCount[key] && (moreListItem.key!==key)" @click="showMoreTypeList = false;favoriteType = key">
                    <a>
                      {{item}} ({{favoriteCount[key] ? favoriteCount[key] : '0'}})
                    </a>
                  </li>
                </ul>
              </el-popover>
              <a v-popover:taskMore>更多 <i class="fa fa-angle-down margin-l4"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <el-row class="margin-t">
      <el-col :span="17">
        <ul class="feed">
          <li
            v-for="item in list"
            :key="item.id"
            v-if="item.sourceObject" @click="isRead(item)? '' : doManage ('read', item)">
            <card-item
              :card-data="item.sourceObject"
              :toolsList="getToolList(item)"
              @doManage="doManage">
              <span slot="time" title="收藏时间">{{item.createDate | dateFormat}}</span>
              <div class="unread-collection" v-if="!isRead(item)" title="未读收藏"></div>
            </card-item>
          </li>
        </ul>
        <list-loading
          :loading="statusFetchList"
          :noData="done&&pageInfo.total === 0"
          v-if="pageInfo.total === 0||statusFetchList"
          :message="noListText"></list-loading>
        <div class="mod-footer" v-if="pageInfo.total>0">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[9, 12, 15, 18]"
            :page-size="pageInfo.size"
            layout="total, sizes, prev, pager, next, jumper"
            :total="pageInfo.total">
          </el-pagination>
        </div>
      </el-col>
      <el-col :span="7">
        <!--<el-date-picker-->
          <!--v-model="dateSearch"-->
          <!--icon="search"-->
          <!--type="daterange"-->
          <!--:editable="false"-->
          <!--placeholder="选择日期范围">-->
        <!--</el-date-picker>-->
        <section class="tags margin-t">
          <header>阅读状态</header>
          <div class="filter-condition"
               :class="{'select-condition':favoriteStatus === false}"
               @click="toggleStstus($event, false)">
            <label class="padding-l6 margin-l10">未读收藏</label>
          </div>
          <div class="filter-condition"
               :class="{'select-condition':favoriteStatus === true}"
               @click="toggleStstus($event, true)">
            <label class="padding-l6 margin-l10">已读收藏</label>
          </div>
        </section>
        <section class="tags margin-t">
          <header>书签</header>
          <ul>
            <li v-if="false" class="filter-condition" :class="{'select-condition':foldersFilter === 'all'}"
                @click="favoriteFolder = null">
              <a><i class="fa fa-tag"></i> 全部</a>
            </li>
            <li v-if="foldersFilter === 'all' || foldersFilter === notClassified.value" class="filter-condition" :class="{'select-condition':foldersFilter === notClassified.value}"
                @click="bookmarkerClick(notClassified.value)">
              <a v-if="notClassified.value"><i class="fa fa-tag"></i> {{notClassified.convertedValue}}</a>
            </li>
            <li class="filter-condition" v-for="(tag, index) in foldersFacetList"
                :key="tag.value"
                v-if="index < 5"
                :class="{'select-condition':foldersFilter === tag.value}"
                @click="bookmarkerClick(tag.value)">
              <a><i class="fa fa-tag"></i> {{tag.convertedValue}}</a>
              <span v-if="false" class="close"><i class="fa fa-close"></i></span>
            </li>
            <li class="filter-condition" v-for="(tag, index) in foldersFacetList"
                :key="tag.value"
                v-if="index >= 5 && showMoreFoldersFacet"
                :class="{'select-condition':favoriteFolder === tag.value}"
                @click="bookmarkerClick(tag.value)">
              <a><i class="fa fa-tag"></i> {{tag.convertedValue}}</a>
              <span v-if="false" class="close"><i class="fa fa-close"></i></span>
            </li>
            <li v-if="foldersFacetList.length > 5 && !showMoreFoldersFacet" @click="showMoreFoldersFacet = true">
              <a><i class="fa fa-angle-down"></i> 更多书签</a>
            </li>
            <li v-if="foldersFacetList.length > 5 && showMoreFoldersFacet" @click="showMoreFoldersFacet = false">
              <a><i class="fa fa-angle-up"></i> 收起书签</a>
            </li>
            <li v-show="false">
              <a title="管理">
                <i class="fa fa-pencil"></i> 管 理
              </a>
            </li>
          </ul>
        </section>
      </el-col>
    </el-row>
  </section>
</template>
<script>
  import { rest, dateYMD } from '@/util'
  import restDataMixin from '@/util/restDataMixin'
  import CardItem from '../../components/favorite/CardItem'
  import { shareFormShow, shareData } from '@/store/modules/share'
//  import { types as feedTypes } from '@/store/modules/feed'
  import { gatherContentImages } from '@/components/comment'
  import * as moduleTypes from '@/store/modules'
  export default {
    mixins: [restDataMixin],
    components: {
      CardItem
    },
    data () {
      return {
        dynamicTags: ['标签一', '标签二', '标签三'],
        defSize: 9,
        showMoreTypeList: false,
        list: [],
        moreListItem: {},
        favoriteType: 'all',
        favoriteCount: {},
        favorites: {},
        defData: {
          list: [],
          total: 0,
          size: 0,
          page: 0
        },
        dateSearch: null,
        currentPage: 1,
        showTypes: {
          content: '内容',
          image: '图片',
          video: '视频',
          document: '文档'
        },
        moreTypes: {
          blog: '博客',
          activity: '活动',
          task: '任务',
          music: '音乐',
          movice: '电影',
          book: '书籍',
          vote: '投票',
          link: '链接'
        },
        keyTypes: {
          0: 'content',
          1: 'link',
          2: 'image',
          3: 'video',
          4: 'document',
          5: 'music',
          6: 'movice',
          7: 'book',
          8: 'vote',
          9: 'task',
          10: 'activity',
          11: 'blog'
        },
        typeKeys: {
          content: 0,
          link: 1,
          image: 2,
          video: 3,
          document: 4,
          music: 5,
          movice: 6,
          book: 7,
          vote: 8,
          task: 9,
          activity: 10,
          blog: 11
        },
        toolsList: {
          share: {
            name: '分享',
            icon: 'fa-share-square-o'
          },
          cancel: {
            name: '移除收藏',
            icon: 'fa-bookmark'
          },
          read: {
            name: '标记为\'已看\'',
            icon: 'fa-eye'
          },
          unread: {
            name: '标记为\'未看\'',
            icon: 'fa-eye-slash'
          }
        },
        done: false,
        favoriteStatus: null,
        favoriteFolder: null,
        searchParams: {},
        notClassified: {},
        showMoreFoldersFacet: false,
        foldersFacetList: [],
        foldersFilter: 'all'
      }
    },
    computed: {
      shareFormShow,
      shareData,
      users () {
        return this.$store.state.dataPool.users
      },
      showMore () {
        let count = 0
        Object.keys(this.moreTypes).forEach(key => {
          let kc = this.favoriteCount[key] ? this.favoriteCount[key] : 0
          count += kc
        })
        return count > 0
      },
      initData () {
        return false
      },
      listUrlParams () {
        let params = {}
        if (this.favoriteType !== 'all') {
          params.type = this.typeKeys[this.favoriteType]
        }
        if (this.favoriteStatus != null) {
          params.status = this.favoriteStatus ? '1' : '0'
        }
        if (this.favoriteFolder != null) {
          params.folders = this.favoriteFolder
        }
        return params
      },
      restUrlGetAll () {
        return '/sns/search/favorite?size={{size}}&page={{page}}&type={{type}}&status={{status}}&folders={{folders}}'
      },
      statusFetchList () {
        return this.rest.status.fetchList
      },
      noListText () {
        if (this.favoriteStatus === true) {
          return '未有任何已读收藏内容'
        } else if (this.favoriteStatus === false) {
          return '未有任何未读收藏内容'
        } else {
          return '未收藏任何内容，在动态消息中收藏的链接、视频、地点等内容将显示在这里。'
        }
      }
    },
    watch: {
      'rest.items' (nv) {
        this.list = nv
        this.fetchBusy = false
      },
      listUrlParams (nv, ov) {
        if (nv.type !== ov.type) {
          this.favoriteFolder = null
          this.favoriteStatus = null
        }
        this.page = 0
        this.fetchData()
      }
    },
    created () {
      this.$bus.$on('cardItem:tagClick', (folder) => {
        this.favoriteFolder = folder
      })
    },
    mounted () {
      this.intCountData()
      this.rest.page.size = this.defSize
      this.fetchData()
    },
    methods: {
      handleClose (tag) {
        this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1)
      },
      dateYMD,
      gatherContentImages,
      toggleStstus (event, status) {
        if (this.favoriteStatus === status) {
          this.favoriteStatus = null
        } else {
          this.favoriteStatus = status
        }
      },
      intCountData () {
        rest.get('/sns/favorites/count')
        .then(data => {
          this.favoriteCount = { ...this.favoriteCount, ...data }
        })
        .catch(e => {
          console.log('获取收藏数失败', e)
        })
      },
      fetchData () {
        if (!this.fetchBusy) {
          this.done = false
          this.fetchBusy = true
          ++this.page
          this.currentPage = this.page
          this.getData()
          .then(data => {
            this.getItems(data.content)
          })
          .catch(err => {
            this.done = true
            this.fetchBusy = false
            if (err.status < 10000) {
              console.log('system error:', err)
            } else {
              console.log('app error:', err)
            }
          })
        }
      },
      restFilterGetAll (req) {
        return req.then(data => {
          let dataJson = JSON.parse(data)
          let spage = dataJson.page
          let foldersModelMap = dataJson.facetModelMap.folders
          this.foldersFacetList = []
          if (foldersModelMap && foldersModelMap.facetFieldList.length > 0) {
            foldersModelMap.facetFieldList.forEach(facet => {
              if (facet.value === '_NOT_CLASSIFIED_') {
                this.notClassified = facet
              } else {
                this.foldersFacetList.push(facet)
              }
            })
          }
          this.foldersFilter = dataJson.filterParamMap.folders && dataJson.filterParamMap.folders[0] ? dataJson.filterParamMap.folders[0].value : 'all'
          var articleList = []
          dataJson.articleList.forEach(o => {
            let newFolders = []
            if (o.SM_folders && o.SM_folders.length > 0) {
              o.SM_folders.forEach(f => {
                if (f.value !== '_NOT_CLASSIFIED_') {
                  newFolders.push(f.value)
                }
              })
            }
            let ar = {
              id: this.retValue(o.id).replace(/FAV(.*?)/, '$1'),
              type: parseInt(this.retValue(o.S_type)),
              sourceType: parseInt(this.retValue(o.S_sourceType)),
              ext: this.retValue(o.S_ext).replace(/BLOG(.*?)/, 'POST$1'),
              source: this.retValue(o.S_source),
              isQuote: this.retValue(o.B_isQuote),
              sourceExtContent: this.retValue(o.S_sourceExtContent),
              collector: this.retValue(o.S_collector) || this.$route.params.userId,
              status: parseInt(this.retValue(o.S_status)),
              createDate: this.retValue(o.pubDate),
              folders: JSON.stringify(newFolders)
            }
            articleList.push(ar)
          })
          let json = {
            first: spage.currentPage === 1,
            last: spage.currentPage === spage.pageCount,
            number: spage.currentPage,
            size: spage.pageSize,
            totalElements: spage.rows,
            content: articleList
          }
          this.done = json.last
          return json
        })
      },
      retValue (vo) {
        return vo && vo[0] ? vo[0].value : ''
      },
      handleSizeChange (val) {
        try {
          this.page = 0
          this.rest.page.size = val
          this.fetchData()
        } catch (e) {
        }
      },
      handleCurrentChange (val) {
        try {
          if (val < 1) {
            return
          }
          this.page = val - 1
          this.fetchData()
        } catch (e) {
        }
      },
      getScopeGroupId (feed) {
        if (!feed) {
          return
        }
        if (!feed.groupType || feed.groupType === 'group') {
          return feed.groupId
        } else if (feed.objContent && feed.objContent.scope === 0) { // 小组访问范围
          return feed.objContent.scopeValue
        }
      },
      getItems (datas) {
        let postList = {}
        let groupList = {}
        datas.forEach(o => {
          if (o.sourceType && o.sourceType === 101) {
            groupList[o.source] = groupList[o.source] || []
            groupList[o.source].push(o)
          } else if (o.sourceType === 6) {
            postList['POST!' + o.source] = postList['POST!' + o.source] || []
            postList['POST!' + o.source].push(o)
          } else if ([0, 1, 2, 3].includes(o.sourceType)) {
            postList[o.ext] = postList[o.ext] || []
            postList[o.ext].push(o)
          }
        })
        let gids = Object.keys(groupList)
        if (gids && gids.length) {
          this.storeNeedData({
            type: 'group',
            dataIds: gids
          })
          .then(groups => {
            gids.forEach(id => {
              let item = {
                type: 'group',
                item: JSON.parse(JSON.stringify(groups[id]))
              }
              groupList[id].forEach((o, i) => {
                item.item.colExtContent = o.sourceExtContent ? JSON.parse(o.sourceExtContent) : null
                item.item.hasQuote = o.isQuote
                item.item.colFolders = JSON.parse(o.folders)
                item.item.collectId = o.id
                item.item.isCollect = true
                this.$set(groupList[id][i], 'sourceObject', item)
              })
            })
          })
        }

        let pids = Object.keys(postList)
        let pgid = []
        if (pids && pids.length) {
          rest.get('/page/feeds/objs', { id: pids }, true)
//          this.$store.dispatch(feedTypes.A_GET_FEED_LIST, pids)
          .then(feeds => {
            if (feeds) {
              this.storeNeedData({
                type: 'group',
                dataIds: feeds ? feeds.map(f => this.getScopeGroupId(f)).filter(o => !!o) : []
              })
              .then(groups => {
                if (feeds) {
                  feeds.forEach(f => {
                    if (!f) {
                      return
                    }
                    let sgId = this.getScopeGroupId(f)
                    if (sgId) {
                      f.scopeGroup = groups[sgId]
                    }
                    if (f.groupId && (!f.groupType || f.groupType === 'group')) {
                      f.group = groups[f.groupId]
                    }
                    if (f.groupType === 'group' && !pgid.includes(f.groupId)) {
                      pgid.push(f.groupId)
                    }
                    postList['POST!' + f.objId].forEach((o, i) => {
                      let item = {
                        type: 'post',
                        item: JSON.parse(JSON.stringify(f))
                      }
                      let post = postList['POST!' + f.objId][i]
                      item.item.shareAttachment = false
                      item.item.isCollect = true
                      item.item.collectType = post.type
                      item.item.collector = o.collector
                      item.item.colExtContent = o.sourceExtContent ? JSON.parse(o.sourceExtContent) : null
                      item.item.hasQuote = o.isQuote
                      item.item.source = o.source
                      item.item.sourceType = o.sourceType
                      item.item.colFolders = JSON.parse(o.folders)
                      item.item.collectId = o.id
                      // if (o.isQuote) {
                      //   item.type = 'quote'
                      // }
                      if (post.type === 2 || post.type === 3 || post.type === 4) {
                        let rsList = item.item.objContent.modelObject.resourceFiles || []
                        if (item.item.objContent.modelObject.contentType === 'blog' || item.item.objContent.modelObject.contentType === 'reprint') {
                          rsList = rsList.concat(this.gatherContentImages(item.item.objContent.modelObject.content))
                        }
                        item.item.objContent.modelObject.content = ''
                        item.item.objContent.modelObject.resourceFiles = rsList.filter(f => f.rsId === post.source)
                        item.item.shareAttachment = true
                      }
                      this.$set(postList['POST!' + f.objId][i], 'sourceObject', item)
                    })
                  })
                }
              })
            }
          })
        }
      },
      getToolList (itemData) {
        let tools = []
        let sourceObject = JSON.parse(JSON.stringify(itemData.sourceObject))
        let group = sourceObject.item.group || {}
        Object.keys(this.toolsList).forEach(key => {
          let haspush = false
          let item = JSON.parse(JSON.stringify(itemData))
          if (key === 'share') {
            if (group && group.scope === 1) {
              haspush = true
              item = sourceObject
            }
          } else if (key === 'read' || key === 'unread') {
            if (key === 'read' && itemData.status === 0 || key === 'unread' && itemData.status === 1) {
              haspush = true
            }
          } else if (key === 'cancel') {
            haspush = true
          }
          if (haspush) {
            tools.push({
              key: key,
              item: item,
              name: this.toolsList[key].name,
              icon: this.toolsList[key].icon
            })
          }
        })
        return tools
      },
      doManage (type, item) {
//        console.log(type, item)
        if (type === 'share') {
          this.sharePost(item)
        } else if (type === 'read' || type === 'unread') {
          this.changeReadStatus(item, type === 'read')
        } else if (type === 'cancel') {
          this.cancelCollect(item)
        }
      },
      changeReadStatus (item, status) {
        if (item && item.id) {
          rest.edit('/sns/favorites/status?id=' + item.id + '&status=' + status)
          .then(data => {
            // 修改状态值
            if (data) {
              if (this.favoriteStatus !== null) {
                if (!status === this.favoriteStatus) {
                  this.list = this.list.filter((o) => o.id !== item.id)
                }
              } else {
                this.list.forEach((o, d) => {
                  if (o.id === item.id) {
                    this.$set(o, 'status', status ? 1 : 0)
                  }
                })
              }
            }
          })
        }
      },
      cancelCollect (item) {
        if (item) {
          rest.delete('/sns/favorites/' + item.id)
          .then(data => {
            if (data) {
              this.msgSuccess('删除收藏成功！')
              --this.rest.page.total
              if (this.favoriteCount[this.favoriteType]) {
                --this.favoriteCount[this.favoriteType]
                this.list = this.list.filter(o => o.id !== item.id)
                if (this.list.length === 0 && this.favoriteCount[this.favoriteType]) {
                  --this.page
                  if (this.page > 0 && this.pageInfo.last) {
                    --this.page
                  }
                  this.fetchData()
                }
                let type = this.keyTypes[item.type]
                if (this.favoriteType === 'all' && this.favoriteCount[type]) {
                  --this.favoriteCount[type]
                }
              }
              if (this.favoriteType !== 'all' && this.favoriteCount.all) {
                --this.favoriteCount.all
              }
            } else {
              this.msgError('删除收藏失败！')
            }
          })
          .catch(err => {
            if (err.status < 10000) {
              console.log('system error:', err)
            } else {
              console.log('app error:', err)
            }
          })
        }
      },
      sharePost (data) {
        let currItem = JSON.parse(JSON.stringify(data))
        currItem.from = 'favorite'
        let item = data.item
        if (data.item.objContent.modelObject.contentType === 'share') {
          if (data.item.objContent.modelObject.refObjType === 101) {
            let gid = data.item.objContent.modelObject.refObjId
            this.storeNeedData({
              type: 'group',
              dataIds: [gid]
            })
              .then(groups => {
                if (groups[gid]) {
                  currItem.item.objContent.shareObj = groups[gid]
                }
                if (!currItem.item.objContent.shareObj) {
                  this.msgWarning('被分享的内容可能已被移除，或者分享者无权分享给你。')
                  return
                }
                this.shareData = currItem
                this.shareFormShow = true
              })
          } else if (data.item.objContent.modelObject.refObjType === 5) {
            let aid = data.item.objContent.modelObject.refObjId
            this.getActivity(aid)
              .then((data) => {
                let shareItem = {}
                if (data) {
                  let groupName = ''
                  let groupId = ''
                  if (data && data.group) {
                    groupName = data.group.name
                    groupId = data.group.id
                  }
                  let modelObject = {...{contentType: 'activity'}, ...data}
                  shareItem = {
                    objId: data.id,
                    objType: 'ACTIVITY',
                    groupName: groupName,
                    groupId: groupId,
                    groupType: data && data.group ? 'group' : '',
                    user: data.user,
                    group: data.group,
                    objContent: {
                      bindId: data.id,
                      modelObject: modelObject
                    }
                  }
                }
                currItem.item.objContent.shareObj = shareItem
                this.shareData = currItem
                this.shareFormShow = true
              })
          } else {
            this.$store.dispatch(moduleTypes.feed.A_GET_FEED_LIST, item.objContent.modelObject.ext.feedId)
              .then(feeds => {
                if (feeds) {
                  feeds.forEach(f => {
                    if (f && item.objContent.modelObject.ext.feedId === f.id) {
                      let fitem = JSON.parse(JSON.stringify(f))
                      fitem.isCollect = true
                      fitem.shareAttachment = false
                      let itemShareType = item.objContent.modelObject.refObjType
                      if (itemShareType === 1 || itemShareType === 2 || itemShareType === 3) {
                        fitem.shareAttachment = true
                        fitem.collectType = itemShareType + 1
                        if (item.objContent) {
                          let rsList = JSON.parse(JSON.stringify(f.objContent.modelObject.resourceFiles)) || []
                          if (f.objContent.modelObject.contentType === 'blog' || f.objContent.modelObject.contentType === 'reprint') {
                            rsList = rsList.concat(this.gatherContentImages(f.objContent.modelObject.content))
                          }
                          fitem.objContent.modelObject.resourceFiles = rsList.filter(f => f.rsId === item.objContent.modelObject.refObjId)
                          fitem.objContent.modelObject.content = ''
                        }
                      }
                      if (item.objContent.modelObject.hasQuote) {
                        if (fitem.objContent.modelObject.contentType === 'normal' && fitem.objContent.modelObject.postType === 'doc') {
                          currItem.item.sourceType = 3
                        }
                        currItem.item.hasQuote = true
                        currItem.item.colExtContent = item.objContent.modelObject.quote
                        fitem.colExtContent = item.objContent.modelObject.quote
                        currItem.item.refObjId = item.objContent.modelObject.refObjId
                        fitem.refObjId = item.objContent.modelObject.refObjId
                        currItem.item.currPostUserId = item.userId
                        fitem.currPostUserId = item.userId
                        currItem.item.currPostId = item.objId
                        fitem.currPostId = item.objId
                      }
                      currItem.item.objContent.shareObj = fitem
                    }
                  })
                }
                if (!currItem.item.objContent.shareObj) {
                  this.msgWarning('被分享的内容可能已被移除，或者分享者无权分享给你。')
                  return
                }
                this.shareData = currItem
                this.shareFormShow = true
              })
          }
        } else {
          this.shareData = currItem
          this.shareFormShow = true
        }
      },
      isRead (item) {
        return item.status === 1
      },
      bookmarkerClick (val) {
        if (this.favoriteFolder === val) {
          this.favoriteFolder = null
          return
        }
        this.favoriteFolder = val
      },
      getActivity (id) {
        return rest.get('/sns/activity/ids', {ids: [id]}, true)
          .then(([data]) => {
            if (!data) {
              return
            }
            let p = [{
              type: 'user',
              dataIds: [data.creator]
            }]
            if (data.createAt && data.createAtType === 101) { // 小组范围内
              p.push({
                type: 'group',
                dataIds: [data.createAt]
              })
            }
            return this.storeNeedData(p)
              .then(([users, groups]) => {
                data.user = users[data.creator]
                if (groups && data.createAt) {
                  data.group = groups[data.createAt]
                }
                this.activity = data
                return this.activity
              })
          })
      }
    }
  }
</script>
<style scoped="">
  @import 'css/variable.css';
  .feed {
    & >li{
      /* position: relative; */
      background: #fff;
      padding: 1.5rem;
      margin-bottom: 1rem;
      border-radius: 2px;
      border: 1px solid;
      border-color: #e8e8e8 #e8e8e8 #d4d4d5;
      list-style: none;
      & .username {margin-top: 4px;}
      & .img {cursor: pointer;
        background: radial-gradient(rgba(6, 6, 6, .1), rgba(190, 190, 190, .8));
      }
    }
  }
  .unread-collection{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--color-danger);
    border-radius: 50%;
    margin-right: 6px;
  }
  .filter-condition{
    margin: 10px 0;
    & label{
      cursor: pointer;
    }
  }
  .filter-condition.select-condition{
    font-weight: bold;
  }
  .tags header{
    font-size: 12px;
    height:24px;
    line-height: 24px;
    color: var(--color-secondary);
  }
  .tags ul li{
    list-style: none;
    margin: 6px 0;
    display: flex;
    justify-content: space-between;
    padding:4px 4px 4px 1rem;
    &:hover{
      background-color: #e4e4e4;
      color: #4d555d;
    }
    & a i:first-child {
      margin-right: 4px;
    }
    &:last-child a{
      color: var(--color-secondary);
    }
    & .close {
      cursor: pointer;
      color: var(--color-secondary);
      &:hover{
        color: var(--color-secondary);
      }
    }
  }
</style>
