<template>
  <section class="mod-border">
    <header class="mod-banner">
      <div class="header-bg" :class="{'banner-transition': transition}"></div>
      <div class="personalInfo">
        <div class="img">
          <div v-if="isAvatarUploading" class="upload_loading" title="设置头像">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
          <template v-else>
            <img v-if="!matchCurrUser(user)" :src="getUserAvatar(user)" v-error-img:user alt=""/>
            <!--<el-upload v-else
              class="upload-demo"
              :show-file-list="false"
              :action="action"
              accept="image/*"
              :on-success="handleAvatarSuccess"
              :on-remove="handleAvatarRemove"
              :on-error="handleAvatarError"
              :on-progress="handleAvatarProgress"
            >
              <img :src="getUserAvatar(user)" v-error-img:user alt=""/>
              <div class="upload_btn" title="设置头像">
                <i class="fa fa-camera-retro"></i>
              </div>
            </el-upload>-->
            <div v-else>
              <img :src="getUserAvatar(user)" v-error-img:user alt=""/>
              <div class="upload_btn" title="设置头像" @click="avatorVisible = true">
                <i class="fa fa-camera-retro"></i>
              </div>
            </div>
          </template>
        </div>
        <div class="content">
          <h3>
              <a>{{user?user.userName:''}}<!--<span class="color-warning">Lv.5</span>--></a>
          </h3>
          <dl class="desc">
            <dd><span class="color-warning"></span><span>关注 {{getFollowCount(user)}}</span> | <span>粉丝 {{getFansCount(user)}}</span></dd>
            <dd class="margin-t10">{{getUserIntro(user)}}</dd>
          </dl>
        </div>
      </div>
      <div class="mod-tools">
        <el-button-group v-if="!matchCurrUser(user)">
          <el-button type="info" :icon="isFollow(user)?'check':'plus'" size="small" @click="follow(user)">{{isFollow(user)?'取消关注':'关注'}}</el-button>
          <el-button type="info" icon="share" size="small" @click="msgInfo('该功能正在开发中...')">私信</el-button>
        </el-button-group>
      </div>
    </header>
    <div class="filters">
      <ul class="menu">
        <li class="active"><router-link :to="{ name: 'user', params: { userId: userId }}">{{!matchCurrUser(user) ? (getUserSex(user) === 2 ? '她' : '他') : '我'}}的动态</router-link></li>
        <li v-if="user && user.id && matchCurrUser(user)" class="active"><router-link :to="{ name: 'favorite', params: { userId: userId }}">收藏 ({{getFavoriteCount(user)}})</router-link></li>
        <li class="active"><router-link :to="{ name: 'follow', params: { userId: userId }}">关注 ({{getFollowCount(user)}})</router-link></li>
        <li class="active"><router-link :to="{ name: 'fans', params: { userId: userId }}">粉丝 ({{getFansCount(user)}})</router-link></li>
        <!--<li class="active">-->
          <!--<el-dropdown>-->
            <!--<a class="el-dropdown-link">-->
              <!--更多<i class="fa fa-angle-down margin-l4"></i>-->
            <!--</a>-->
            <!--<el-dropdown-menu slot="dropdown">-->
              <!--<el-dropdown-item>草稿 (2)</el-dropdown-item>-->
              <!--<el-dropdown-item>喜欢 (4)</el-dropdown-item>-->
              <!--<el-dropdown-item>螺蛳粉</el-dropdown-item>-->
              <!--<el-dropdown-item>双皮奶</el-dropdown-item>-->
              <!--<el-dropdown-item>蚵仔煎</el-dropdown-item>-->
            <!--</el-dropdown-menu>-->
          <!--</el-dropdown>-->
        <!--</li>-->
      </ul>
    </div>
    <my-croppa
      :avatorVisible="avatorVisible"
      :initialImage="getUserAvatar(user)"
      @close="avatorVisible = false"
      @uploadSuccess="handleNewAvatarSuccess"
    ></my-croppa>
  </section>
</template>
<script>import { rest } from '@/util'
import { types as dataPoolTypes } from '@/store/modules/dataPool'
import UserMixin from '@/util/userMixin'
import MyCroppa from '@/components/MyCroppa'
export default {
  mixins: [UserMixin],
  data () {
    return {
      action: '/zuul/file/web/upload?st=1',
      isAvatarUploading: false,
      transition: false,
      avatorVisible: false
    }
  },
  computed: {
    userId () {
      return (this.user ? this.user.id : null) || this.$route.params.userId
    }
  },
  props: {
    user: Object
  },
  methods: {
    handleNewAvatarSuccess (data) {
      this.isAvatarUploading = false
      let avatar
      if (data && data.storeId) {
        avatar = data.storeId
      }
//      let avatarUrl = URL.createObjectURL(file.raw)
      rest.edit('/sns/user/userInfo', {userId: this.userId, avatar: avatar})
      .then((user) => {
        this.$store.commit(dataPoolTypes.M_ADD_USERS, [user])
        this.msgSuccess('更新用户头像成功！')
      }).catch((error) => {
        console.log('修改用户头像失败', error)
        this.msgError('修改用户头像失败，请稍候重试！')
      })
    },
    handleAvatarSuccess (res, file, fileList) {
      this.isAvatarUploading = false
      let avatar
      if (res.data && res.data.storeId) {
        avatar = res.data.storeId
      }
//      let avatarUrl = URL.createObjectURL(file.raw)
      rest.edit('/sns/user/userInfo', {userId: this.userId, avatar: avatar})
        .then((user) => {
          this.$store.commit(dataPoolTypes.M_ADD_USERS, [user])
          this.msgSuccess('更新用户头像成功！')
        }).catch((error) => {
          console.log('修改用户头像失败', error)
          this.msgError('修改用户头像失败，请稍候重试！')
        })
    },
    handleAvatarError (err, file, fileList) {
      this.isAvatarUploading = false
      this.msgError('上传头像[' + file.name + '] 失败！')
      console.log('上传头像[' + file.name + '] 失败！', err)
    },
    handleAvatarProgress (event, file, fileList) {
      this.isAvatarUploading = true
    },
    handleAvatarRemove (res, file, fileList) {
      this.isAvatarUploading = false
    }
  },
  watch: {
    user (nv, ov) {
      // 加载当前登录用户与当前用户的关系
      let user = nv
      // 当加载用户其它的信息
      this.loadUserOtherInfo(user)
    }
  },
  components: {
    MyCroppa
  }
}
</script>
<style scoped="">
  .personalInfo{
    position: absolute;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    left: 50%;
    margin-left: -200px;
    padding: 2rem 0 0 0;
    & .content {
      padding: 1rem;
      text-align: center;
      color: #fff;
      & h3{
        & a{
          color: #fff;
          position: relative;
          & span{
            position: absolute;
            right: -50%;
            top: 0px;
            font-weight: normal;
            margin-right: -15px;
          }
        }
      }
      & .desc {
        font-size: 12px;
        margin-bottom: 0;
        & dd {
          &:first-child{
            & span{
              margin: 0 4px;
            }
          }
          &:last-child{
            -webkit-box-orient: vertical;
            align-items: center;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            height: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
</style>
