<template>
  <component :is="tagName" @mouseenter="show($event, data)"  @mouseleave="hide($event, data)" @click="click($event, data)">
    <slot></slot>
  </component>
</template>
<script>
import Popover from '@/components/Popover'
export default {
  components: {
    Popover
  },
  data () {
    return {
    }
  },
  props: {
    data: Object,
    tagName: String,
    delay: {
      type: Number,
      default: 600
    },
    eventKey: String
  },
  created () {
  },
  methods: {
    show (event, data) {
      event.target.setAttribute('show', true)
      let showTimeId = setTimeout(() => {
        let show = event.target.getAttribute('show')
        if (show === 'true') {
          event.target.setAttribute('isShow', true)
          this.$bus.$emit(this.eventKey + ':showPopover', {
            elem: event.target,
            data: data
          })
        }
      }, this.delay)
      event.target.setAttribute('showTimeId', showTimeId)
    },
    hide (event, data) {
      event.target.setAttribute('show', false)
      let showTimeId = event.target.getAttribute('showTimeId')
      if (showTimeId) {
        clearTimeout(showTimeId)
        event.target.setAttribute('showTimeId', '')
      }
      let isShow = event.target.getAttribute('isShow')
      if (isShow === 'true') {
        event.target.setAttribute('isShow', false)
        this.$bus.$emit(this.eventKey + ':hidePopover', {
          elem: event.target,
          data: data
        })
      }
    },
    click (event, data) {
      this.$bus.$emit(this.eventKey + ':closePopover', {
        elem: event.target,
        data: data
      })
    }
  },
  computed: {}
}
</script>
<style scoped="">
</style>
