<template>
  <component :is="tagName" @mouseenter="showUser($event, user)"  @mouseleave="hideUser($event, user)" @click="clickUser($event, user)">
    <slot></slot>
  </component>
</template>
<script>
import Popover from '@/components/Popover'
import UserMixin from '@/util/userMixin'
export default {
  mixins: [UserMixin],
  components: {
    Popover
  },
  data () {
    return {
    }
  },
  props: {
    user: Object,
    tagName: String
  },
  created () {
  },
  methods: {
    showUser (event, user) {
      event.target.setAttribute('show', true)
      let showTimeId = setTimeout(() => {
        let show = event.target.getAttribute('show')
        if (show === 'true') {
          event.target.setAttribute('isShow', true)
          this.$bus.$emit('user:showPopover', {
            elem: event.target,
            user: user
          })
        }
      }, 600)
      event.target.setAttribute('showTimeId', showTimeId)
    },
    hideUser (event, user) {
      event.target.setAttribute('show', false)
      let showTimeId = event.target.getAttribute('showTimeId')
      if (showTimeId) {
        clearTimeout(showTimeId)
        event.target.setAttribute('showTimeId', '')
      }
      let isShow = event.target.getAttribute('isShow')
      if (isShow === 'true') {
        event.target.setAttribute('isShow', false)
        this.$bus.$emit('user:hidePopover', {
          elem: event.target,
          user: user
        })
      }
    },
    clickUser (event, user) {
      this.$bus.$emit('user:closePopover', {
        elem: event.target,
        user: user
      })
    }
  },
  computed: {}
}
</script>
<style scoped="">
</style>
