<template>
  <popover
    ref="userPopover"
    placement="top"
    width="430"
    trigger="hover"
    popper-class="user_card"
  >
    <div v-if="isLoading" style="display:block;width:398px;height:184px;margin:0 auto;color:#eeeeee;padding-top:110px;text-align: center;">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="display:block;margin:0 auto;"></i>
      <span class="" style="font-size: 15px;margin: 0 auto;display: block;margin-top: 23px;">正在加载用户信息...</span>
    </div>
    <div v-else-if="!loadComplete" style="display:block;width:398px;height:184px;margin:0 auto;color:#eeeeee;padding-top:110px;text-align: center;">
      <span class="" style="font-size: 15px;margin: 0 auto;display: block;margin-top: 23px;">加载用户信息失败</span>
    </div>
    <div v-else-if="user.id">
      <div class="user_head">
        <div class="media-object">
          <div class="media-object-section">
            <div class="avatar">
              <router-link :to="{ name: 'user', params: { userId: user.id }}" >
                <img :src="getUserAvatar(user)" @click="closeUserInfo" v-error-img:user alt="用户头像">
              </router-link>
            </div>
            <router-link :to="{ name: 'user', params: { userId: user.id }}"><h4><span v-text="user.loginName" @click="closeUserInfo">用户名</span></h4></router-link>
            <div><span @click="toFollow" style="cursor: pointer;">{{getFollowCount(user)}} 关注</span>·<span @click="toFans" style="cursor: pointer;">{{getFansCount(user)}} 粉丝</span></div>
          </div>
          <div class="media-object-section">
            <router-link :to="{ name: 'user', params: { userId: user.id }}"><h4><span v-text="user.userName" @click="closeUserInfo">开玩笑的小鸟</span><i :class="sexClass"></i><!--<span class="color-warning">Lv.5</span>--></h4></router-link>
            <div><span>签名：{{getUserIntro(user)}}</span></div>
            <div><span>个人：{{userExtInfoObject.hometown}} {{userAge}}岁 {{userSex}}</span></div>
            <div><span>邮箱：{{user.email || '用户未设置'}}</span></div>
            <div><span>手机：{{user.cellphone || '用户未设置'}}</span></div>
            <div><span>部门：{{getJoinTime(user) | dateYMD}} 加入</span>· <el-tag type="success" v-text="getUserDept(user).roleName">研发中心</el-tag></div>
            <!-- <div><span>部门：1988年加入</span> · <el-tag type="success">研发中心</el-tag></div> -->
            <!--<div><span>故乡：{{}}</span></div>-->
            <div class="state">
              <el-button class="margin-l" :type="isFollow(user)?'info':'warning'" size="mini" @click="follow(user)" v-if="!matchCurrUser(user)" :title="isFollow(user) ? '点击取消关注' : ''">
                <i :class="isFollow(user)?'':'fa fa-plus'"></i>{{isFollow(user) ? '已关注' : ' 关注'}}
              </el-button>
            </div>
          </div>
        </div>
      </div>
      <div class="line"></div>
      <div class="user_info">
        <ul class="clearfix">
          <li>
            <router-link :to="{ name: 'user', params: { userId: user.id }}"><span @click="closeUserInfo"><i class="fa fa-home"></i>{{sexName}}主页</span></router-link>
          </li>
          <li>
            <router-link :to="{ name: 'user', params: { userId: user.id }}"><span @click="closeUserInfo"><i class="fa fa-newspaper-o"></i>{{sexName}}文章</span></router-link>
          </li>
          <li>
            <router-link :to="{ name: 'fans', params: { userId: user.id }}"><span @click="closeUserInfo"><i class="fa fa-users"></i>{{sexName}}粉丝</span></router-link>
          </li>
        </ul>
      </div>
      <div class="nearrest-article" v-if="isLoadingNewFeeds" style="width:430px;height:58.8px;padding-top:33px;color:#eeeeee;background-color:#565e66;">
        <el-row class="img_lists" :gutter="10">
          <el-col  :xs="24" :sm="24" :md="24">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="display:block;margin:0 auto;"></i>
          </el-col>
        </el-row>
      </div>
      <div class="nearrest-article" v-else-if="!loadNewFeedsSuccess" style="width:430px;height:58.8px;padding-top:33px;color:#ee5511;text-align: center;background-color:#565e66;">
        <el-row class="img_lists" :gutter="10">
          <el-col  :xs="24" :sm="24" :md="24">
            <span style="display:block;margin:0 auto;">加载最近文章失败！</span>
          </el-col>
        </el-row>
      </div>
      <div class="nearrest-article" v-else-if="!user.newestList||user.newestList.length<=0" style="width:430px;height:58.8px;padding-top:33px;color:#eeeeee;text-align: center;background-color:#565e66;">
        <el-row class="img_lists" :gutter="10">
          <el-col  :xs="24" :sm="24" :md="24">
            <span style="display:block;margin:0 auto;">没有相关文章！</span>
          </el-col>
        </el-row>
      </div>
      <div class="nearrest-article" v-else>
        <el-row class="img_lists" :gutter="10">
          <el-col  :xs="24" :sm="8" :md="8" v-for="news in user.newestList.slice(0, 3)" :key="news.feedId" >
            <router-link :to="news.goto" :title="getTextDesc(news.desc)">
              <img class="coverImg" @click="closeUserInfo" v-if="news.cover.type === 'image'" :src="news.cover.url" :alt="getTextDesc(news.desc)">
              <img class="coverImg" @click="closeUserInfo" v-else-if="news.cover.type === 'video'" :src="news.cover.url" :alt="getTextDesc(news.desc)">
              <img class="coverImg" @click="closeUserInfo" v-else-if="news.cover.type === 'doc'" :src="news.cover.url" :alt="getTextDesc(news.desc)">
              <span @click="closeUserInfo" v-else :alt="getTextDesc(news.desc)" class="news-content">
                {{news.model === 'share' ? '分享的帖子' : '帖子内容'}}
                <span style="margin: 2px 0px 0px 2px;display:inline-block;" v-html="cleanHtml(news.desc, 64, '...')"></span>
              </span>
              <i class="fa fa-video-camera" aria-hidden="true" v-show="news.cover.type === 'video'"></i>
            </router-link>
          </el-col>
        </el-row>
      </div>
    </div>
  </popover>
</template>
<script>
import Popover from '@/components/Popover'
import UserMixin from '@/util/userMixin'
import { rest, cleanHtml, extractImage } from '@/util'
import { types as dataPoolTypes } from '@/store/modules/dataPool'
export default {
  mixins: [UserMixin],
  components: {
    Popover
  },
  data () {
    return {
      isLoading: false,
      loadComplete: true,
      user: {},
      isLoadingNewFeeds: false,
      loadNewFeedsSuccess: true
    }
  },
  created () {
    // 添加事件监听
    this.$bus.$on('user:showPopover', ({elem, user}) => {
      // 加载用户扩展信息
      this.loadUserOtherInfo(user)
      this.isLoadingNewFeeds = false
      this.loadNewFeedsSuccess = true
      if (user && !user.isLoadedNewestFeeds) {
        this.loadNewFeedsSuccess = false
        let failureCount = user.loadNewestListfailureCount
        if (!failureCount || failureCount < 3) { // 限制失败重试次数为3
          // 获取最近3篇文章
          this.isLoadingNewFeeds = true
          this.loadNewFeedData(user, 4)
        }
      }
      this.showUserInfo({elem, user})
    })
    this.$bus.$on('user:hidePopover', (data) => {
      this.hideUserInfo(data)
    })
    this.$bus.$on('user:closePopover', (data) => {
      this.closeUserInfo(data)
    })
  },
  methods: {
    cleanHtml,
    extractImage,
    loadNewFeedData (user, count) {
      let userId = user.id
      rest.get(`/page/feeds/timeline/${userId}?len=4`).then((feedData) => {
        if (feedData) {
          let newestList = this.convert2NewList(feedData)
          // 更新用户信息
          let userCopy = {id: userId}
          userCopy.newestList = newestList
          userCopy.isLoadedNewestFeeds = true
          user.newestList = newestList
          user.isLoadedNewestFeeds = true
          this.$store.commit(dataPoolTypes.M_ADD_USERS, [userCopy])
        }
        this.isLoadingNewFeeds = false
        this.loadNewFeedsSuccess = true
      }).catch((e) => {
        count = count - 1
        if (e.status === 10001 && count > 0) { // 正在初始化缓存，重试
          setTimeout(() => { this.loadNewFeedData(user, count) }, 2000)
        } else {
          // 更新加载用户最新文章失败次数
          let userCopy = {id: userId, loadNewestListfailureCount: user.loadNewestListfailureCount ? user.loadNewestListfailureCount : 0}
          userCopy.loadNewestListfailureCount = userCopy.loadNewestListfailureCount + 1
          this.$store.commit(dataPoolTypes.M_ADD_USERS, [userCopy])
          this.isLoadingNewFeeds = false
          this.loadNewFeedsSuccess = false
          console.log('加载用户文章异常！', e)
        }
      })
    },
    getTextDesc (content) {
      let pe = document.createElement('p')
      pe.innerHTML = content
      let desc = pe.innerText
      desc = desc.replace(/\r/g, '').replace(/\n/g, '').replace(/\s+/g, ' ')
      return desc.length > 64 ? desc.substring(0, 64) + '...' : desc
    },
    showUserInfo (data) {
      this.toggleUserInfo(data, true)
    },
    hideUserInfo (data) {
      this.toggleUserInfo(data, false)
    },
    closeUserInfo (data) {
      if (this.$refs && this.$refs.userPopover) {
        let popover = this.$refs.userPopover
        if (popover && popover.$refs && popover.$refs.popper) {
          popover.$refs.popper.style.display = 'none'
        }
      }
    },
    toggleUserInfo ({user, elem}, show) {
      let popover = this.$refs.userPopover
      if (popover) {
        if (user) {
          popover.changeShowInfo({ elem, show, callback: () => { this.user = user || {} } })
        } else {
          console.log('获取用户信息为空！', user)
        }
      }
    },
    convert2NewList (feedData) {
      let newList = []
      if (feedData && feedData.hasContent && feedData.feeds) {
        feedData.feeds.forEach((feed) => {
          if (feed) {
            let objContent = feed.objContent || {}
            let news = {
              feedId: feed.id,
              objId: feed.objId,
              objType: feed.objType,
              obj: feed,
              model: objContent.model,
              createAt: objContent.createAt,
              createAtType: objContent.createAtType,
              desc: this.getFeedDesc(feed),
              cover: this.getFeedCover(feed)
            }
            newList.push(news)
            if (feed.objType === 'POST') {
              news.goto = {
                name: 'post',
                params: {
                  id: feed.objId
                }
              }
              if (feed.objContent && feed.objContent.model === 'blog') {
                news.goto.name = 'article'
              }
            }
          }
        })
      }
      return newList
    },
    getFeedDesc (feed) {
      let objContent = feed.objContent || {}
      // fixme 解析不同类型帖子的内容，获取描述信息
      let desc = objContent.modelObject ? objContent.modelObject.content : (objContent.content || '')
      let title = objContent.modelObject && objContent.modelObject.title ? objContent.modelObject.title : ''
      return title + ' ' + desc
    },
    getFeedCover (feed) {
      let objContent = feed.objContent || {}
      let resourceFiles = objContent.resourceFiles ? objContent.resourceFiles : objContent.modelObject ? objContent.modelObject.resourceFiles : []
      // fixme 解析不同类型帖子的内容，获取资源文件信息
      let cover = { }
      if (resourceFiles && resourceFiles.length > 0) {
        let resourceFile = resourceFiles[0]
        let type = resourceFile.type
        let url
        if (type === 'image') {
          url = resourceFile.datas['550x']
        } else if (type === 'video') {
          url = resourceFile.datas['mp4_to_jpg']
        } else if (type === 'doc') {
          url = resourceFile.datas['png']
        }
        cover = {type, url}
      } else if (objContent.modelObject && objContent.modelObject.cover) {
        cover = { type: 'image', url: objContent.modelObject.cover }
      } else {
        let desc = this.getFeedDesc(feed)
        let images = extractImage(desc)
        if (images && images.length > 0) {
          cover = { type: 'image', url: images[0].src }
        }
      }
      return cover
    },
    toFollow (event) {
      this.$router.push({
        name: 'follow',
        params: {
          userId: this.user.id
        }
      })
      this.closeUserInfo(event)
    },
    toFans (event) {
      this.$router.push({
        name: 'fans',
        params: {
          userId: this.user.id
        }
      })
      this.closeUserInfo(event)
    }
  },
  computed: {
    sexName () {
      return this.user.sex === '2' ? '她的' : '他的'
    },
    sexClass () {
      if (this.user.sex === '2') {
        return 'fa fa-venus color-danger margin-l4'
      } else if (this.user.sex === '1') {
        return 'fa fa-mars color-danger margin-l4'
      }
      return ''
    },
    userExtInfoObject () {
      return this.user.extInfoObject || {}
    },
    userSex () {
      if (this.user && this.user.sex) {
        let sex = {
          '0': '',
          '1': '男',
          '2': '女'
        }
        return sex[this.user.sex]
      }
      return ''
    },
    userAge () {
      if (this.user && this.user.birthday) {
        let birthDate = new Date(this.user.birthday)
        let now = new Date()
        return now.getFullYear() - birthDate.getFullYear()
      }
      return '0'
    }
  }
}
</script>
<style>
@import "css/variable.css";
.user_card {
  background: var(--color-primary);
  padding: 1rem;
  border: 0;
  & .news-content a{
    height: auto;
    display: inline-block;
  }
  & .user_head{
    min-height: 120px;
    & .media-object{
      margin: 10px;
      & >div{
        &:first-child {
          text-align: center;
          & .avatar{
            display: inline-block;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
          }
          & h4{
            text-align: center;
            color: #fff;
            margin-bottom: 10px;
          }
          & div{
            color: #fff;
            & span{
              margin:0 4px
            }
          }
        }
        &:last-child {
           padding-left: 1rem;
           border-left: 1px dashed #aaa;
          & h4 {
            margin-bottom: 6px;
            color: #fff;
            & span:last-child{margin-left: 6px;}
          }
          & div{
              margin-bottom: 6px;
              color: var(--color-secondary);
          &.state{
             position: absolute;
             right: 1rem;
             top: 1rem;
           }
          }
        }
      }
    }
  }
  & .line{border-top: 1px solid #fff;}
  & .user_info {
    padding: 10px 0;
    & ul {
      margin: 0;
      & li {
        list-style: none;
        width: 20%;
        padding-right: 10px;
        float: left;
        & a{
          display: block;
          color: #fff;
          opacity: .8;
            transition: opacity .3s;
          &:hover{
            opacity: 1;
          }
          & i{
            margin-right: 6px;
          }
        }
      }
    }
  }
  & pre{background: none;}
}
.img_lists {
  display: flex;
  & a {
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: color(var(--color-primary) tint(6%));
      overflow: hidden;
      color: #fff;
      & .coverImg {
        width:136.66px;
        height:91.09px;
        object-fit: cover;
      }
      & i{
        position: absolute;
        font-size: 24px;
        color: rgba(255,255,255,.7);
      }
      & span{
        width:136.66px;
        height:91.09px;
        text-align: center;
      }
    }
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateY(10px);
  opacity: 0;
}
.el-popover.user_card[x-placement^="top"] .popper__arrow::after{border-top-color:var(--color-primary);}
.el-popover.user_card[x-placement^="bottom"] .popper__arrow::after{border-bottom-color:var(--color-primary);}
</style>
