<template>
  <a href="javascript:void(0)">
    <slot name="header"></slot>
    <div class="arContent long-ar no-padding">
      <router-link :to="{ name: 'article', params: { id: item.objId } }" target="_blank"><img v-if="cover" style="margin-bottom:10px;" :src="cover" alt="">
        <h3>{{modelObject.title}}</h3></router-link>
      <div><p class="no-margin">{{arDescription}}</p></div>
    </div>
  </a>
</template>
<script>
  import BaseCard from '../../../../BaseCard'
  export default {
    extends: BaseCard,
    data () {
      return {
        imgStyle: null
      }
    },
    computed: {
      cover () {
        return this.modelObject.cover || require('@/assets/img/u31.png')
      },
      arDescription () {
        let desc = this.content.replace(/<\/?.+?>/g, '')
        return desc.length > 80 ? (desc.substr(0, 80) + '......') : desc
      }
    },
    mounted () {
    }
  }
</script>
