<template>
  <div>
    <component
      :is="getCardItemViewName(cardData)"
      :item="cardData.item"
    >
      <div slot="header" v-if="cardData.type.toLowerCase()!=='group' && cardData.item && user.id">
        <div class="media-object single">
          <div class="media-object-section shrink">
            <user-block class="img" tagName="div" :user="user">
              <router-link :to="{ name: 'user', params: { userId: user.id }}" class="img" >
                <img alt="" :src="userAvatar" v-error-img:user/>
              </router-link>
            </user-block>
          </div>
          <div class="media-object-section">
            <slot></slot>
            <router-link  :to="{ name: 'user', params: { userId: user.id }}">
              <user-block class="name" tagName="span" :user="user">{{userName}} </user-block>
            </router-link>
            <span class="color-secondary" v-if="groupName">发布到</span>
            <router-link v-if="groupName" :to="{ name: 'group', params: { groupId: item.groupId }}">
              {{groupName}}
            </router-link>
            <span class="color-secondary" v-if="!groupName || isShareAttachment || isActivity">发布的</span>
            <router-link v-if="!groupName || isShareAttachment || isActivity" :to="routeTo">
              {{postName}}
            </router-link>
            <div class="float-right">
              <slot name="time">
                <span>{{cardData.item.createTime | dateFormat}}</span>
              </slot>
              <template v-if="toolsList.length > 0">
                <el-popover
                  popper-class="vertical"
                  ref="cog"
                  placement="bottom"
                  width="120"
                  trigger="hover"
                  v-model="showToolsList"
                >
                  <ul class="vertical-menu vertical-menu-width">
                    <li v-for="tool in toolsList" :key="tool.key" :title="tool.name" @click="showToolsList = false;$emit('doManage', tool.key, tool.item)">
                      <i class="fa padding-r6" :class="tool.icon"></i><span class="dfoefswf">{{tool.name}}</span></li>
                  </ul>
                </el-popover>
                <a href="javascript:void(0)" @click.stop.prevent="() => {return false}" v-popover:cog><i class="fa fa-angle-down"></i></a>
              </template>
            </div>
          </div>
        </div>
      </div>
    </component>
  </div>
</template>
<script>
  import * as cards from './cards'
  import UserBlock from '@/views/user/UserBlock'
  import { shareRouteTo } from '@/store/modules/share'
  import Tag from '@/components/tag/index.js'
  // import { rest } from '@/util'

  const cardsViews = {...cards}
  delete cardsViews['default']
  const getCardItemViewName = cards.default
  export default {
    components: {
      Tag,
      UserBlock,
      ...cardsViews
    },
    data () {
      return {
        showToolsList: false,
        postName: '',
        isEditTags: false,
        suggestLoaded: false,
        suggestDelay: 500,
        suggestDelayId: -1,
        noKeywordList: [],
        currColFolders: [],
        beforeEditFolders: [],
        isCommiting: false
      }
    },
    props: {
      cardData: Object,
      toolsList: {
        type: Array,
        default: function () {
          return []
        }
      }
    },
    computed: {
      item () {
        return this.cardData.item
      },
      user () {
        return this.item.user || {}
      },
      userAvatar () {
        return this.user && this.user.avatar ? this.user.avatar : require('../../assets/img/1.jpg')
      },
      userName () {
        return this.user && this.user.userName ? this.user.userName : this.item.userId
      },
      userSexIcon () {
        let sex = this.user && this.user.sex ? this.user.sex : '0'
        return this.sexIcon[sex]
      },
      group () {
        if (this.item.groupType !== 'group') {
          return null
        }
        return this.item.group || this.item.scopeGroup || {}
      },
      groupName () {
        if (!this.group) {
          return null
        }
        return this.group.name || this.item.groupId
      },
      isShareAttachment () {
        return this.item.shareAttachment && this.item.objContent.modelObject.resourceFiles.length > 0
      },
      isActivity () {
        return this.cardData.type === 'activity'
      },
      routeTo () {
        let r
        let feed = this.item
        let objContent = feed.objContent || {}
        this.postName = '帖子'
        if (feed.objType === 'POST' && (objContent.model === 'blog' || objContent.model === 'reprint')) {
          this.postName = objContent.model === 'blog' ? '博文' : '转载'
          r = { name: 'article', params: { id: feed.objId } }
        } else if (feed.objType === 'POST' && objContent.model === 'activity' || feed.objType === 'ACTIVITY') {
          this.postName = '活动'
          r = { name: 'activity', params: { activityId: objContent.bindId } }
        } else if (feed.groupId) {
          r = { name: 'groupOneFeed', params: { feedId: feed.id, groupId: feed.groupId } }
        } else {
          r = { name: 'userOneFeed', params: { feedId: feed.id, userId: feed.userId } }
        }
        let modelObject = objContent.modelObject
        if (feed.shareAttachment && modelObject.resourceFiles.length > 0) {
          let shareType = feed.shareAttachmentType
          // 分享附件或收藏附件的判断
          if (shareType === 1) {
            this.postName = '图片'
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
          if (shareType === 2) {
            this.postName = '视频'
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
          if (shareType === 3) {
            this.postName = '文档'
            r.hash = '#preview-' + modelObject.resourceFiles[0].rsId
          }
        }
        return r
      }
    },
    methods: {
      getCardItemViewName,
      shareRouteTo
    }
  }
</script>
<style>
  @import 'css/variable.css';
  /*single*/
  .single {
    & .media-object-section {
      &:last-child{
        & > span{
          margin: 0 6px;
        }
        & .float-right{
          & span{
            &:first-child {
              color: var(--color-secondary);
              margin:0 10px 0 0;
            }
          }
        }
      }
    }
  }
  .square-article {
    margin: 0;
    & .img{
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 80px;
      height: 80px;
    }
  }
  .img.single{
    width: 260px;
  }
  .relative-content {
    margin-top: 1rem;
    & p {
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .vertical-menu.vertical-menu-width{
    & li{
      & i{
        width: 14px;
        height: 14px;
      }
    }
  }
  .book-mark{
    width: 75%;
    float: left;
    & .lg-tag-box{
      margin-bottom: 0px;
      & > div{
        padding: 0;
        min-height: auto;
        & .lg-tag{
          margin:2px 0 2px 6px;
          height: 22px;
          line-height: 18px;
        }
      }
      & button{
        margin:2px 0 2px 6px;
      }
    }
  }
  .mark-btn{
    float: left;
    margin-left: 14px;
  }
  .collect-footer {
    padding: 8px 0 0;
    margin-top: 1rem;
    border-top: 1px dashed #e8e8e8;
    & p {
      margin-bottom: 10px;
      background: #ffff0a;
      background: rgba(255, 255, 10, 0.3);
      color: #666;
    }
  }
</style>
