<template>
  <section class="inner-manage">
    <h3><i class="fa fa-cog color-info"></i> 个人信息</h3>
    <div class="">
      <el-form class="user_form" ref="userInfoForm" :rules="rules" :model="formData" label-position="right">

        <el-form-item class="upload_avatar personalInfo" label-width="0px">
          <div class="img">
            <span v-if="isAvatarUploading" >正在上传...</span>
            <!--<el-upload
                       class="upload-demo"
                       :show-file-list="false"
                       :action="uploadUrl"
                       accept="image/*"
                       :on-success="handleAvatarSuccess"
                       :on-remove="handleAvatarRemove"
                       :on-error="handleAvatarError"
                       :on-progress="handleAvatarProgress"
            >
              <img :src="userAvatar" v-error-img:user alt=""/>
              <div class="upload_btn" title="设置头像">
                <i class="fa fa-camera-retro"></i>
              </div>
            </el-upload>-->
            <img :src="userAvatar" v-error-img:user alt=""/>
            <div class="upload_btn" @click="updateAvator" title="设置头像">
              <i class="fa fa-camera-retro"></i>
            </div>
          </div>
        </el-form-item>
        <el-form-item label="昵称:"  prop="userName" label-width="60px">
          <el-input v-model="formData.userName" auto-complete="off" ref="userName"></el-input>
        </el-form-item>
        <el-form-item label="账号:" prop="loginName" label-width="60px">
          <el-input v-model="formData.loginName" auto-complete="off" ref="loginName"></el-input>
        </el-form-item>
        <el-form-item label="签名:" prop="intro" label-width="60px">
          <el-input v-model="formData.intro" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="性别:"  prop="sex" label-width="60px">
          <el-select v-model="formData.sex" >
            <el-option label="保密" value="0"></el-option>
            <el-option label="男" value="1"></el-option>
            <el-option label="女" value="2"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="生日:"  label-width="60px">
          <el-date-picker
            v-model="formData.birthday"
            type="date"
            format="yyyy-MM-dd"
            placeholder="选择日期"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item label="故乡:" prop="hometown" label-width="60px">
          <el-input v-model="formData.hometown" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="手机:" prop="cellphone" label-width="60px">
          <el-input v-model="formData.cellphone" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱:" class="" prop="email" label-width="60px">
          <el-input v-model="formData.email" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label-width="60px">
          <el-button type="primary" :disabled="saveBtnDisable" @click="saveUserInfo"><i v-if="isSaving" class="fa fa-circle-o-notch fa-spin"></i>保存</el-button>
        </el-form-item>
      </el-form>
    </div>
    <my-croppa
      :avatorVisible="avatorVisible"
      :initialImage="userAvatar"
      @close="avatorVisible = false"
      @uploadSuccess="handleNewAvatarSuccess"
    ></my-croppa>
  </section>
</template>
<script>
  import { rest } from '@/util'
  import UserMixin from '@/util/userMixin'
  import { types as dataPoolTypes } from '@/store/modules/dataPool'
  import MyCroppa from '@/components/MyCroppa'
  export default {
    mixins: [UserMixin],
    data () {
      var validateLoginName = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('请输入登录账号'))
        }
        if (value.length > 20) {
          return callback(new Error('账号长度不能超过20个字符'))
        }
        rest.get('/sns/user/checkLoginName?loginName=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            callback(new Error('账号[' + value + ']已经存在'))
            this.isValidFailed = true
          } else {
            this.isValidFailed = false
            callback()
          }
        }).catch((e) => {
          this.isLoginCheckFailed = true
          console.log('检查账号出错！', e)
          callback(new Error('检查账号[' + value + ']异常'))
        })
      }
      return {
        isSaving: false,
        isAvatarUploading: false,
        saveBtnDisable: false,
        showEditUserInfo: false,
        formLabelWidth: '46px',
        isValidFailed: false,
        formData: {
          userName: '',
          intro: '',
          sex: '0',
          birthday: '',
          cellphone: '',
          email: '',
          hometown: ''
        },
        rules: {
          userName: [
            {required: true, message: '请输入昵称', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'}
          ],
          loginName: [
            {validator: validateLoginName, trigger: 'blur'}
          ],
          intro: [
            {min: 0, max: 50, message: '长度在 0 到 50 个字符', trigger: 'blur'}
          ],
          hometown: [
            {min: 0, max: 25, message: '长度在 0 到 25 个字符', trigger: 'blur'}
          ],
          cellphone: [
            {message: '请输入正确的手机号', pattern: /^1[0-9]{10}$/, trigger: 'blur'}
          ],
          email: [
            {type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur'}
          ]
        },
        uploadUrl: '/zuul/file/web/upload?st=1',
        coverUrl: require('@/assets/img/img-holder.png'),
        avatarUrl: null,
        avatar: null,
        avatorVisible: false
      }
    },
    methods: {
      readBlobAsDataURL (blob, callback) {
        var a = new FileReader()
        a.onload = function (e) {
          callback(e.target.result)
        }
        a.readAsDataURL(blob)
      },
      handleNewAvatarSuccess (data, blob) {
        this.readBlobAsDataURL(blob, (dataUrl) => {
          this.avatarUrl = dataUrl
        })
        this.isAvatarUploading = false
        let avatar
        if (data && data.storeId) {
          avatar = data.storeId
        }
        this.avatar = avatar
      },
      handleAvatarSuccess (res, file, fileList) {
        this.isAvatarUploading = false
        let avatar
        if (res.data && res.data.storeId) {
          avatar = res.data.storeId
        }
        this.avatarUrl = URL.createObjectURL(file.raw)
        this.avatar = avatar
      },
      handleAvatarError (err, file, fileList) {
        this.isAvatarUploading = false
        this.msgError('上传头像[' + file.name + '] 失败！')
        console.log('上传头像[' + file.name + '] 失败！', err)
      },
      handleAvatarProgress (event, file, fileList) {
        this.isAvatarUploading = true
      },
      handleAvatarRemove (res, file, fileList) {
        this.isAvatarUploading = false
      },
      saveUserInfo () {
        this.saveBtnDisable = true
        this.isSaving = true
        this.$refs['userInfoForm'].validate((valid) => {
          if (!valid) {
            this.isValidFailed = true
            this.saveBtnDisable = false
            this.isSaving = false
            return false
          }
        })
        if (this.isValidFailed) {
          return
        }
        if (this.formData.birthday && this.formData.birthday.getTime) {
          this.formData.birthday = this.formData.birthday.getTime()
        }
        if (this.avatar) {
          this.formData.avatar = this.avatar
        }
        rest.edit('/sns/user/userInfo', this.formData).then((user) => {
          this.$store.commit(dataPoolTypes.M_ADD_USERS, [user])
          this.msgSuccess('更新用户信息成功！')
          this.saveBtnDisable = false
          this.showEditUserInfo = false
          this.isSaving = false
        }).catch((error) => {
          this.saveBtnDisable = false
          this.isSaving = false
          console.log('更新用户信息失败', error)
          this.msgError('更新用户信息失败，请稍候重试！')
        })
      },
      updateAvator () {
        this.avatorVisible = true
      }
    },
    computed: {
      user () {
        let user = this.$store.state.currUser
        try {
          this.loadUserOtherInfo(user)
        } catch (e) {
        }
        return user || {}
      },
      userAvatar () {
        if (this.avatarUrl) {
          return this.avatarUrl
        } else if (this.getUserOrgAvatar(this.user)) {
          return this.getUserOrgAvatar(this.user)
        }
      },
      userExtInfoObject () {
        return this.user.extInfoObject || {}
      }
    },
    watch: {
      user (nv, ov) {
        // 加载当前登录用户与当前用户的关系
        let user = nv
        // 当加载用户其它的信息
        this.loadUserOtherInfo(user)
      }
    },
    mounted () {
      this.avatar = null
      this.avatarUrl = null
      let {userName, loginName, birthday, sex, cellphone, email} = this.user
      let {hometown, intro} = this.userExtInfoObject
      this.formData = {userName, loginName, birthday, sex, cellphone, email, hometown, intro, userId: this.user.id}
      this.formData.sex = this.formData.sex || '0'
    },
    components: {
      MyCroppa
    }
  }
</script>
<style>
  .inner-manage{
    padding: 2rem 1.5rem;
    background: #fff;
  }
  .inner-content{
    padding-top: 1rem;
  }
  .user_form .img {
    width:120px;
    height:120px;
  }
</style>
