<template>
  <el-row class="margin-t">
    <el-col :xs="24" :sm="4" :md="4" :lg="4">
      <side-nav></side-nav>
    </el-col>
    <el-col :xs="24" :sm="20" :md="20" :lg="20">
      <router-view></router-view>
    </el-col>
  </el-row>
</template>
<script>
  import SideNav from './SideNav'
  export default {
    components: {
      SideNav
    }
  }
</script>
