<template>
  <section class="inner-manage">
    <h3><i class="fa fa-cog color-info"></i> 账户安全</h3>
    <div class="inner-content">
      <el-form class="user_form" ref="form" :rules="rules" :model="formData">
        <el-form-item label="旧密码:"   prop="oldPassword" label-width="85px">
          <el-input type="password" v-model="formData.oldPassword" auto-complete="off" ref="oldPassword"></el-input>
        </el-form-item>
        <el-form-item label="新密码:"  prop="newPassword1" label-width="85px">
          <el-input type="password" v-model="formData.newPassword1" auto-complete="off" ref="newPassword1"></el-input>
        </el-form-item>
        <el-form-item label="确认密码:"  prop="newPassword2" label-width="85px">
          <el-input type="password" v-model="formData.newPassword2" auto-complete="off" ref="newPassword2"></el-input>
        </el-form-item>
        <el-form-item label-width="85px">
          <el-button type="primary" :disable="saveBtnDisable" @click="updateUserPassword">更新</el-button>
        </el-form-item>
      </el-form>
    </div>
  </section>
</template>
<script>
  import { rest } from '@/util'
  export default {
    data () {
      return {
        saveBtnDisable: false,
        formLabelWidth: '85px',
        isValidFailed: false,
        formData: {
        },
        rules: {
          oldPassword: [
            {required: true, message: '请输入旧密码', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'}
          ],
          newPassword1: [
            {required: true, message: '请输入新密码', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'}
          ],
          newPassword2: [
            {required: true, message: '请输入确认密码', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'}
          ]
        },
        uploadUrl: '/zuul/file/web/upload?st=1',
        coverUrl: require('@/assets/img/img-holder.png'),
        avatarUrl: null,
        avatar: null
      }
    },
    methods: {
      updateUserPassword () {
        this.saveBtnDisable = true
        this.$refs['form'].validate((valid) => {
          if (!valid) {
            this.isValidFailed = true
            this.saveBtnDisable = false
            return false
          }
        })
        if (this.isValidFailed) {
          return
        } else {
          if (this.formData.newPassword1 !== this.formData.newPassword2) {
            this.msgError('两次输入密码不一致！')
            return
          }
        }
        rest.edit('/sns/user/password', [this.formData.oldPassword, this.formData.newPassword1]).then((status) => {
          if (status) {
            this.msgSuccess('更新密码成功！')
          } else {
            this.msgError('更新密码失败，请稍候重试！')
          }
          this.saveBtnDisable = false
        }).catch((error) => {
          this.saveBtnDisable = false
          if (error.status && error.status >= 10000 && error.message) {
            this.msgError(error.message)
          } else {
            this.msgError('更新密码失败，请稍候重试！')
          }
          console.log('更新密码异常', error)
        })
      }
    },
    computed: {
      user () {
        return this.$store.state.currUser || {}
      }
    }
  }
</script>
<style>
  .inner-manage{
    padding: 2rem 1.5rem;
    background: #fff;
  }
  .inner-content{
    padding-top: 1rem;
  }
</style>
