<template>
  <div class="side-nav">
    <section class="groups">
      <header>配置管理</header>
      <ul>
        <router-link tag="li" :to="{name: 'info'}">
          <a><i class="fa fa-cog"></i>基本信息</a>
        </router-link>
        <router-link exact tag="li" :to="{name: 'personalSecurity'}" exact><a><i class="fa fa-user"></i>账户安全</a></router-link>
      </ul>
    </section>
  </div>
</template>
<script>
  export default {
    components: {
    },
    computed: {
    },
    data () {
      return {
      }
    },
    methods: {
    },
    mounted () {
    },
    watch: {
    }
  }
</script>
<style scoped="scoped">
  @import 'css/variable.css';
  .groups header{
    font-size: 12px;
    color: var(--color-secondary);
    height: 24px;
  }
  .groups li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    position: relative;
    & a {
      color: #666;
      display: block;
      padding: 0 2px;
      & i {
        display: inline-block;
        width: 30px;
        text-align: center;
      }
    }
    & span {
      position: absolute;
      right: 10px;
      top: 0;
      color: var(--color-warning);
      font-size: 12px;
    }
    &:hover a, &.active a{
      background-color: #e4e4e4;
      color: var(--color-primary);
    }
  }
</style>
