<template>
  <div class="article-section">
    <activity-item v-if="activity" :item="activity"></activity-item>
  </div>
</template>

<script>
import ActivityItem from '@/components/items/ActivityItem'
import { rest } from '@/util'

export default {
  components: {
    ActivityItem
  },
  props: {
    item: Object,
    canShare: Boolean
  },
  data () {
    return {
      activity: null
    }
  },
  created () {
    let a = {...this.item.modelObject}
    a.id = this.item.bindId
    Promise.all([
      this.storeNeedData({
        type: 'user',
        dataIds: [a.creator]
      }),
      rest.get(`/sns/activity/${a.id}/info`)
    ])
    .then(([users, data]) => {
      a.user = users[a.creator] || {}
      a.mark = data.mark
      a.joinCount = data.joinCount
      this.activity = a
    })
  },
  methods: {
  }
}
</script>

<style scoped="">
</style>
