<template>
	<header>
	  <el-popover
      popper-class="vertical app_head"
      ref="avator"
      placement="bottom-end"
      width="160"
      trigger="click"
      v-model="showMenuPopover"
    >
      <ul class="vertical-menu">
        <li @click="showMenuPopover=false" v-if="currUser && currUser.id"><router-link :to="{ name: 'user', params: { userId: currUser.id }}" style="display: inline-block; width: 100%"><i class="fa fa-newspaper-o"></i> 我的文章</router-link></li>
        <li @click="showMenuPopover=false" v-if="currUser && currUser.id"><router-link :to="{ name: 'favorite', params: { userId: currUser.id }}"><i class="fa fa-star"></i> 收藏</router-link></li>
        <li @click="showMenuPopover=false" v-if="currUser && currUser.id"><router-link :to="{ name: 'follow', params: { userId: currUser.id }}"><i class="fa fa-heart"></i> 关注</router-link></li>
        <li @click="showMenuPopover=false" v-if="currUser && currUser.id"><router-link :to="{ name: 'fans', params: { userId: currUser.id }}"><i class="fa fa-users"></i> 粉丝</router-link></li>
        <!--<li @click="msgInfo('该功能正在开发中...')"><a><i class="fa fa-paper-plane-o"></i> 足迹</a></li>-->
        <li @click="showMenuPopover=false" v-if="currUser && currUser.id"><router-link :to="{ name: 'user', params: { userId: currUser.id }}"><i class="fa fa-user-circle-o"></i> 我的</router-link></li>
        <li @click="showMenuPopover=false" v-if="currUser && currUser.id"><router-link :to="{ path: '/config/personal/info' }"><i class="fa fa-cog"></i> 配置</router-link></li>
        <li @click="showMenuPopover=false" v-if="currUser && currUser.extInfoObject && currUser.extInfoObject.isAdmin"><router-link :to="{ path: '/config/admin/subject' }"><i class="fa fa-cog"></i> 控制面板</router-link></li>
        <li divided @click="logout"><a><i class="fa fa-sign-out"></i> 退出</a></li>
      </ul>
    </el-popover>
	  <el-row>
      <el-col :span='3'>
        <h1 class='logo float-left'>
          <router-link to="/">企业内网</router-link>
        </h1>
      </el-col>
      <el-col :span='9'>
        <nav class='menu'>
          <li v-for='item in navData' :key="item.title">
            <a v-if="item.href" :href='item.href'>{{item.title}}</a>
            <router-link v-else :to="item">{{item.title}}</router-link>
          </li>
        </nav>
      </el-col>
      <el-col :span='12'>
        <el-popover
          ref="notify"
          placement="bottom-end"
          width="430"
          @show="getNotify(true)"
          @hide="saveNotifyScrollLocation"
        >
         <mod @scrollToButtom="getNotify(false)" ref="note" title="通知" size="14" type="mod-side-l2" more="" :loading="false">
           <div class="float-right" slot="btn">
             <span @click="notifyMarkAllRead">全部标记已读</span><!--·<span>静音</span>--><!--·<span>设置</span>-->
           </div>
           <notify-list ref="notifyList" @close="closeNotifyList"></notify-list>
         </mod>
        </el-popover>
        <div class="avatar">
          <span class="el-dropdown-link" v-popover:avator>
            <img :src="currUserImg" :alt="currUser.userName" v-error-img:user>
          </span>
        </div>
        <span class="bell" :class="{ 'new': unreadNotifyCount > 0 }" v-popover:notify>
          <i class="fa fa-bell-o"></i>
        </span>
        <div class='search-content'>
          <search-input @search="searchAction" @select="handleSelectSuggest" :value="queryKeyword"></search-input>
        </div>
      </el-col>
    </el-row>
	</header>
</template>
<script>
  import SearchInput from '@/components/search'
  import NotifyList from '@/views/notifications/NotifyList'
  import { currUser, currUserImg } from '@/store/modules/helper'
  import ConfigureDialog from '../news/Configures/Configure'
  export default {
    components: {
      NotifyList,
      SearchInput,
      ConfigureDialog
    },
    computed: {
      unreadNotifyCount () {
        return this.$store.state.notify.unreadCount
      },
      currUser,
      currUserImg,
      queryKeyword () {
        if (this.$route.query.q) {
          this.keyword = this.$route.query.q
        }
        return this.keyword
      }
    },
    data () {
      return {
        keyword: '',
        showMenuPopover: false,
        navData: [
          {
            title: '主页',
            path: '/'
          },
          {
            title: '个人中心',
            path: '/'
          },
          {
            title: '看点',
            path: '/news'
          }
        ],
        timeout: null,
        people: [
          {
            'name': 'aaa',
            'avatar': 'https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=2002661447,2384842571&fm=58',
            'href': 'dddd'
          }
        ],
        bodyObj: {},
        scrollObj: {},
        name: '聆花科技',
        restaurants: [],
        state3: '',
        configureVisible: false,
        notifyScrollTop: 0
      }
    },
    methods: {
      searchAction (keyword) {
        let params = {q: keyword}
        if (this.$route.path === '/search') {
          this.$bus.$emit('search:global', params)
        } else {
          this.$router.push({path: '/search', query: params})
        }
      },
      handleSelectSuggest (suggest) {
        if (!suggest) {
          return
        }
        let oper = suggest.oper
        if (oper === 'SEARCH') {
          let params = {}
          if (suggest.operArg === 'POST' || suggest.operArg === 'ACTIVITY') {
            params.category = suggest.operArg
          }
          if (suggest.type === 'USER') {
            params.creator = suggest.value.id
          } else if (suggest.type === 'GROUP') {
            params.createAt = suggest.value.id
            params.createAtType = 101 // 代表对象类型为小组
          } else if (suggest.type === 'TEXT') {
            params.q = suggest.value
          }
          if (this.$route.path === '/search') {
            this.$bus.$emit('search:global', params)
          } else {
            this.$router.push({path: '/search', query: params})
          }
        } else if (oper === 'OPEN') {
          if (suggest.type === 'USER') {
            this.$router.push({name: 'user', params: {userId: suggest.value.id}})
          } else if (suggest.type === 'GROUP') {
            this.$router.push({name: 'group', params: {groupId: suggest.value.id}})
          }
        }
      },
      saveNotifyScrollLocation () {
        let el = this.$refs.note.$el.querySelector('.scrollCss')
        if (el) {
          this.notifyScrollTop = el.scrollTop
        }
      },
      getNotify (init) {
        let nl = this.$refs.notifyList
        if (init) {
          if (!nl.list || (nl.list.length < nl.page.size && !nl.page.last)) {
            nl.fetchData(true)
          }
        } else {
          nl.fetchData(false)
        }
        if (this.notifyScrollTop > 0) {
          this.$nextTick(() => {
            let el = this.$refs.note.$el.querySelector('.scrollCss')
            if (el) {
              el.scroll(0, this.notifyScrollTop)
            }
          })
        }
      },
      closeNotifyList () {
        this.$refs.notify.showPopper = false
      },
      notifyMarkAllRead () {
        this.$refs.notifyList.markRead({ all: true })
      },
      logout () {
        location.href = '/logout?redirect=' + encodeURIComponent(location.href)
      },
      configureOpen () {
        this.configureVisible = true
      },
      configureClose () {
        this.configureVisible = false
      }
    },
    mounted () {
      this.$refs.notifyList.getUnreadCount()
    }
  }
</script>
<style scoped=''>
	@import 'css/variable.css';

	header{
	  height: 46px;
	  line-height: 46px;
	  background: var(--color-primary);
	  /*border-bottom: 1px solid #ddd;*/
	  & .menu{
      margin-top:3px;
	    & li>a {
	      color:#fff
	    }
	  }
	  & .search-content{
	    float: right;
	    margin-right: 1rem;
	    & .el-autocomplete{
	      min-width: 260px;
	    }
	  }
	  & .avatar{
	    float: right;
	    cursor: pointer;
	    display: flex;
	    height: 46px;
	    align-items: center;
	    & span {
	      display: block;
	      color: #fff;
	      background: #F4F4F4;
	      height: 36px;
	      line-height: normal;
	      width: 36px;
	      overflow: hidden;
	      border-radius: 50%;
	    }
	  }
	  & .bell{
	    position: relative;
	    font-size: 20px;
	    color: #fff;
	    margin-right: 1rem;
	    padding: 0 10px;
	    cursor: pointer;
	    float: right;
	    &.new {
	      &:before{
	        content: '';
	        display: block;
	        height: 8px;
	        width: 8px;
	        border-radius: 4px;
	        background: var(--color-danger);
	        position: absolute;
	        top: 50%;
	        margin-top: -18px;
	        right: 8px;
	      }
	    }
	  }
	}
	.logo{
	  margin: 0;
	  line-height: normal;
	  height: 46px;
	  & a{
	    font-size:16px;
	    color: #fff;
	    display: block;
	    line-height: 46px;
	  }
	}
	.avatar-dropdown.el-dropdown-menu{
    min-width: 160px;
    & a {
      color: #666;
      &.more{
        float: right;
        & span{color:var(--color-black);text-decoration: underline;}
      }
    }
  }
  .app_head .vertical-menu li{
    line-height: 30px;
    & .more{
      float: right;
      font-size: 12px;
      color: var(--color-secondary);
      & span {
        font-size: 14px;
        margin-left: 6px;
        color: var(--base-font-color);
        &:hover{
          text-decoration: underline;
        }
      }
    }
    & a{
      display: inline-block;
      width: 100%
    }
  }
</style>
