<template>
  <div class="side-nav">
    <section class="groups">
      <header>基本操作</header>
      <ul>
        <router-link tag="li" to="/" exact>
          <a><i class="fa fa-home"></i>全部动态</a>
          <span v-show="unreadCount.dynamic">{{unreadCount.dynamic}}</span>
        </router-link>
        <router-link tag="li" to="/task"><a><i class="fa fa-tasks"></i>任务</a></router-link>
        <router-link tag="li" to="/activity"><a><i class="fa fa-calendar"></i>活动</a></router-link>
        <router-link tag="li" to="/groups"><a><i class="fa fa-group"></i>小组</a></router-link>
        <router-link tag="li" to="/topic"><a><i class="fa fa-commenting"></i>话题</a></router-link>
        <li><a @click="groupFormShowCreate = true"><i class="fa fa-plus-circle"></i>创建小组</a></li>
        <!-- <li><a><i class="fa fa-calendar-check-o"></i>大事记</a></li> -->
        <!-- <li><a><i class="fa fa-bar-chart"></i>工单</a></li> -->
        <router-link tag="li" to="/subscribe">
          <a><i class="fa fa-plus-square"></i>订阅</a>
        </router-link>
      </ul>
    </section>
    <section class="groups margin-t" v-if="typeGroups['organization']&&typeGroups['organization'].length > 0">
      <header>{{groupTypes['organization']}}</header>
      <ul>
        <router-link tag="li"
                     v-for="item in typeGroups['organization']"
                     :key="item.id"
                     :to="{ name: 'group', params: { groupId: item.id }}"
        >
          <a v-bind:title="item.name"><i class="fa fa-group"></i>{{item.name}}</a>
        </router-link>
      </ul>
    </section>
    <section class="groups margin-t" v-if="commondList.length > 0">
      <header>常用小组</header>
      <ul>
        <router-link tag="li"
          v-for="item in commondList"
          :key="item.id"
          :to="{ name: 'group', params: { groupId: item.id }}"
        >
          <a v-bind:title="item.name"><i class="fa fa-group"></i>{{item.name}}</a>
        </router-link>
      </ul>
    </section>
    <section v-for="(tgroups,key) in typeGroups" :key="key" v-if="tgroups!=null&&tgroups.length>0&&key!=='organization'" class="groups margin-t">
      <header>{{groupTypes[key]}}</header>
      <ul>
        <router-link tag="li"
          v-for="item in tgroups"
          :key="item.id"
          :to="{ name: 'group', params: { groupId: item.id }}"
        >
          <a v-bind:title="item.name"><i class="fa fa-group"></i>{{item.name}}</a>
          <span v-show="unreadCount['group:'+item.id]">{{unreadCount['group:'+item.id]}}</span>
        </router-link>
      </ul>
    </section>
    <section class="groups margin-t">
      <header>热门抢先</header>
      <ul>
        <router-link tag="li" to="/nshop" >
          <a title="企业内购"><i class="fa fa-fire color-danger"></i>企业内购</a>
        </router-link>
      </ul>
    </section>
    <section class="groups margin-t">
      <header>学海无涯</header>
      <ul>
        <li>
          <a href="/online-study/study-index.html" title="企业课堂"><i class="fa fa-university"></i>企业课堂</a>
        </li>
      </ul>
    </section>
    <!-- Form -->
    <group-form></group-form>
    <share-form></share-form>
  </div>
</template>
<script>
  import GroupForm from '@/views/group/GroupForm'
  import ShareForm from '../include/ShareForm'
  import { groupFormShowCreate } from '@/store/modules/helper'
  import { types as gtypes } from '@/store/modules/group'
  import { types as gmtypes } from '@/store/modules/groupMember'

  export default {
    components: {
      GroupForm,
      ShareForm
    },
    computed: {
      groupFormShowCreate,
      groupTypes () {
        return this.$store.state.group.groupKeyTypes
      },
      commondList () {
        return this.$store.state.groupMember.commondList
      },
      unreadCount () {
        return this.$store.state.feed.feedUnread || {}
      }
    },
    data () {
      return {
        ctype: '',
        typeGroups: {}
      }
    },
    methods: {
      loadGroups (type) {
        this.$store.dispatch(gmtypes.A_GET_COMMOND_USED_LIST)
        this.$store.dispatch(gtypes.A_GET_TYPE_GROUPS_LIST, type)
        .then((data) => {
          this.typeGroups = data
        })
      }
    },
    mounted () {
      this.loadGroups()
    },
    watch: {
      '$store.state.groupMember.hasReload' (nv, ov) {
        if (nv) {
          this.loadGroups()
        }
      },
      '$store.state.group.reloadGroups' (nv, ov) {
        if (nv) {
          this.loadGroups()
          this.$store.commit(gtypes.M_CHANGE_GROUPS_RELOAD_STATUS, false)
        }
      }
    }
  }
</script>
<style scoped="scoped">
  @import 'css/variable.css';
  .groups header{
    font-size: 12px;
    color: var(--color-secondary);
    height: 24px;
  }
  .groups li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    position: relative;
    & a {
      color: #666;
      display: block;
      padding: 0 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow:ellipsis;
      & i {
        margin-right: 6px;
      }
    }
    & span {
      position: absolute;
      right: 10px;
      top: 0;
      color: var(--color-warning);
      font-size: 12px;
    }
    &:hover a, &.active a{
      background-color: #e4e4e4;
      color: var(--color-primary);
    }
  }
</style>
