<template>
  <div @click="previewImages" v-html="content" class="article-section">
    <p>div在html早期版本就支持了，section和article是html5提出的两个语义化标签。如果只是针对一个块内容做样式化，三者并无区别。</p>
    <p>作为语义化标签，section 应用的典型场景有文章的章节、标签对话框中的标签页、或者论文中有编号的部分。一般来说，当元素内容明确地出现在文档大纲中时，section 就是适用的。</p>
    <p>对于article标签来说，无论从结构上还是内容上来说，article 本身就是独立的、完整的。有个最简单的判断方法是看这段内容脱离了所在的语境，是否还是完整的、独立的，如果是，则应该用article标签。</p>
    <p>div section article ，语义是从无到有，逐渐增强的。div 无任何语义，仅仅用作样式化或者脚本化，对于一段主题性的内容，则就适用 section，而假如这段内容可以脱离上下文，作为完整的独立存在的一段内容，则就适用 article。原则上来说，能使用 article 的时候，也是可以使用 section 的，但是实际上，假如使用 article 更合适，那么就不要使用 section 。</p>
  </div>
</template>
<script>
import { gatherContentImages } from '@/components/comment'
export default {
  data () {
    return {
      resourceFiles: []
    }
  },
  components: {
  },
  props: {
    item: Object,
    canShare: Boolean
  },
  mounted () {
    let hash = this.$route.hash
    if (hash.indexOf('#preview-') >= 0) {
      let rsId = hash.substring(9)
      let index = null
      for (let i = 0; i < this.resourceFiles.length; i++) {
        if (this.resourceFiles[i].rsId === rsId) {
          index = i + 1
          break
        }
      }
      if (index) {
        this.previewArImages(index - 1)
      } else {
        this.msgWarning('无法显示图片，可能已经删除或者不可见！')
      }
    }
  },
  computed: {
    ar () {
      return this.item.modelObject || {}
    },
    content () {
      if (this.ar.content) {
        this.resourceFiles = this.ar.resourceFiles || []
        this.resourceFiles = this.resourceFiles.concat(this.gatherContentImages(this.ar.content))
        return this.ar.content
      }
      return ''
    }
  },
  methods: {
    gatherContentImages,
    previewImages (event) {
      let clickTarget = event.target
      if (clickTarget && clickTarget.tagName === 'IMG' && !clickTarget.getAttribute('data-face')) {
        let dataStoreId = clickTarget.getAttribute('data-storeId') || clickTarget.src
        let filterFiles = this.resourceFiles.filter(f => f.storeId === dataStoreId)
        let index = 0
        if (filterFiles && filterFiles.length > 0 && this.resourceFiles.indexOf(filterFiles[0]) !== -1) {
          index = this.resourceFiles.indexOf(filterFiles[0])
        }
        this.previewArImages(index)
      }
    },
    previewArImages (index) {
      let currPost = {
        id: this.item.feedId,
        objId: this.item.id,
        objType: 'POST',
        objContent: JSON.parse(JSON.stringify(this.item)),
        group: this.item.group || {},
        user: this.item.user
      }
      currPost.objContent.modelObject.resourceFiles = this.resourceFiles
      let previewData = {
        type: 'image',
        resources: [],
        user: this.item.user,
        source: currPost,
        canShare: this.canShare
      }
      for (var i = 0; i < this.resourceFiles.length; i++) {
        let resourceFile = this.resourceFiles[i]
        previewData.resources.push({
          objCreator: this.item.creator,
          at: this.item.id,
          atType: 'POST',
          id: resourceFile.rsId,
          type: 'IMAGE',
          name: resourceFile.name,
          desc: resourceFile.desc,
          size: resourceFile.size,
          url: resourceFile.datas['1000x'],
          extInfo: resourceFile.datas.extInfo,
          createTime: this.item.createDate,
          focus: index === i
        })
      }
      let pel
      if ((pel = this.$parent.$el.parentElement) && pel.classList.contains('post-detail') &&
          pel.classList.contains('position-left')) {
        previewData.sourceLocation = { scrollTop: pel.scrollTop }
      }
      this.$bus.$emit('media:preview', previewData)
    }
  }
}
</script>
<style>
@import 'css/variable.css';
</style>
