<template>
  <div class="article-body">
    <div v-for="(res, index) in resourceFiles" :key="res.rsId" class="doc-view">
      <div class="img" @click="previewDocs(index)">
        <img :src="res.datas.png" :alt="res.datas.name" />
      </div>
      <div class="example">
        <span @click="previewDocs(index)"><i class="fa fa-fw fa-search-plus"></i> 查看文档</span>
      </div>
    </div>
    <div v-if="item.modelObject.content.replace('<p><br /></p>','').length>0" v-html="item.modelObject.content" class="article-section">
      <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？视觉设计，希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…</p>
    </div>
    <mark-info :modelObject="modelObject"></mark-info>
  </div>
</template>

<script>
import MarkInfo from './MarkInfo'
export default {
  components: {
    MarkInfo
  },
  props: {
    item: Object,
    canShare: Boolean
  },
  computed: {
    resourceFiles () {
      return this.item.modelObject.resourceFiles
    },
    modelObject () {
      return this.item.modelObject
    }
  },
  data () {
    return {}
  },
  methods: {
    previewDocs (index) {
      index = index || 0
      let previewData = { type: 'doc', resources: [], user: this.item.user, source: this.item, canShare: this.canShare }
      for (var i = 0; i < this.resourceFiles.length; i++) {
        let resourceFile = this.resourceFiles[i]
        previewData.resources.push({
          objCreator: this.item.creator,
          at: this.item.id,
          atType: 'POST',
          id: resourceFile.rsId,
          type: 'DOCUMENT',
          name: resourceFile.name,
          desc: resourceFile.desc,
          size: resourceFile.size,
          url: resourceFile.datas['pdf'],
          cover: resourceFile.datas['png'],
          createTime: this.item.createDate,
//          extInfo: resourceFile.datas.extInfo,
          focus: index === i
        })
      }
      this.$bus.$emit('media:preview', previewData)
    }
  }
}
</script>

<style>
  @import 'css/variable.css';
  .doc-view {
    padding: 0 2rem 0;
    & > .img{
      /*max-width: 160px;*/
      box-shadow: 0 0 1px rgba(0,0,0,.3);
      margin-bottom: 1rem;
      cursor: pointer;
    }
  }
</style>
