<template>
  <div class="article-body">
    <ol class="pic-list">
      <li v-for="(res,index) in resourceFiles" :key="res.rsId">
        <div>
          <img @click="previewImages(index)" style="cursor:pointer;" :src="res.datas['700x']" :alt="res.desc" />
        </div>
        <div class="example">
          <span @click="previewImages(index)"><i class="fa fa-fw fa-search-plus"></i> 查看大图</span>
        </div>
      </li>
    </ol>
    <div v-if="item.modelObject.content.replace('<p><br /></p>','').length>0" v-html="item.modelObject.content" class="article-section">
      <p>有没有那么一件单品、一张照片、一副美景或一杯暖饮，让你流连忘返、回味无穷？视觉设计，希望悄悄的留住你的视线，带给你唯一却熟悉的感觉…</p>
    </div>
    <mark-info :modelObject="modelObject"></mark-info>
  </div>
</template>

<script>
import MarkInfo from './MarkInfo'
export default {
  components: {
    MarkInfo
  },
  props: {
    item: Object,
    canShare: Boolean
  },
  computed: {
    resourceFiles () {
      return this.item.modelObject.resourceFiles
    },
    modelObject () {
      return this.item.modelObject
    }
  },
  data () {
    return {}
  },
  methods: {
    previewImages (index) {
      index = index || 0
      let previewData = { type: 'image', resources: [], user: this.item.user, source: this.item, canShare: this.canShare }
      for (var i = 0; i < this.resourceFiles.length; i++) {
        let resourceFile = this.resourceFiles[i]
        previewData.resources.push({
          objCreator: this.item.creator,
          at: this.item.id,
          atType: 'POST',
          id: resourceFile.rsId,
          type: 'IMAGE',
          name: resourceFile.name,
          desc: resourceFile.desc,
          size: resourceFile.size,
          url: resourceFile.datas['1000x'],
          extInfo: resourceFile.datas.extInfo,
          createTime: this.item.createDate,
          focus: index === i
        })
      }
      this.$bus.$emit('media:preview', previewData)
    }
  }
}
</script>

<style>
  @import 'css/variable.css';
  .pic-list{
    margin-left: 0;
    list-style: none;
    padding: 0 2rem;
    margin-bottom: 0px;
    & li{
        & >div{
          & :not(.example){
            margin-bottom: 10px;
            text-align: center;
            & img{
              /*width: 100%;*/
            }
        }
      }
    }
  }
</style>
