<template>
  <div class="mark-info article-section">
    <el-dialog
      title="用户"
      :visible.sync="userViewerShow"
      size="tiny"
      class="feed-viewer">
      <div class="members user clearfix">
        <user-block v-for="(user, index) in getOthersMarks" :key="user.id" tagName="div" :user="user">
          <router-link :to="{ name: 'user', params: { userId: user.id }}" :title="user.userName || user.id">
            <img :src="user.avatar" :alt="user.userName || user.id" v-error-img:user>
            <div>{{user.userName || user.id}}</div>
          </router-link>
        </user-block>
      </div>
    </el-dialog>
    <div class="mark-content" v-if="markUsers.length || (markLocation && markLocation.name)">
      <span v-if="markUsers.length"> 和
        <user-block class="mark-user" v-for="(itemUser, index) in getMarksUsers" :key="itemUser.id" tagName="div" :user="itemUser">
          <router-link :to="{ name: 'user', params: { userId: itemUser.id }}" :title="itemUser.name || itemUser.userName">
            {{index > 0 ? '、' : ''}}{{itemUser.name || itemUser.userName}}
          </router-link>
        </user-block>
        <el-tooltip effect="dark" placement="top" v-if="markUsers.length > maxMarksSize">
          <div slot="content" v-text="getOthersMarks.map(o => o.userName).join('、')">张张三<br>李四<br>王五</div>
          <div @click="userViewerShow = true">其他{{markUsers.length - 2}}位用户</div>
        </el-tooltip>
      </span>
      <span v-if="markLocation && markLocation.name">在 <i class="fa fa-map-marker"></i>{{markLocation.name}}</span>
    </div>
    <div class="mark-map" :style="mapHeight" v-show="markLocation && markLocation.name">
      <amap
        vid="amapMark"
        ref="markLocationMap"
        :center="mapCenter"
        :zoom="zoom"
        class="amap-demo">
        <amap-marker :position="marker" v-if="marker.length>0"></amap-marker>
      </amap>
    </div>
  </div>
</template>
<script>
import UserBlock from '@/views/user/UserBlock'
import { Amap, AmapMarker } from '@/components/amap'
export default {
  components: {
    UserBlock,
    Amap,
    AmapMarker
  },
  data () {
    return {
      maxMarksSize: 4,
      mapHeight: {
        height: '300px'
      },
      mapCenter: [119.237626, 26.05766],
      zoom: 12,
      location: {},
      marker: [],
      markUsers: [],
      markLocation: null,
      userViewerShow: false
    }
  },
  props: {
    modelObject: {
      type: Object,
      default: () => {
        return null
      }
    }
  },
  created () {},
  mounted () {
    this.getPostMarkData()
  },
  watch: {
    post (nv, ov) {
      this.getPostMarkData()
    },
    markLocation (nv, ov) {
      this.zoom = 12
      if (nv) {
        let map = this.$refs.markLocationMap.$$getInstance()
        this.marker = [nv.lng, nv.lat]
        this.mapCenter = this.marker
        map.setZoom(this.zoom)
        map.setCenter(this.mapCenter)
      }
    }
  },
  computed: {
    getMarksUsers () {
      let count = this.markUsers.length
      let mus = JSON.parse(JSON.stringify(this.markUsers))
      if (count > this.maxMarksSize) {
        mus = mus.splice(0, 2)
      }
      return mus
    },
    getOthersMarks () {
      let count = this.markUsers.length
      let omus = []
      if (count > this.maxMarksSize) {
        omus = JSON.parse(JSON.stringify(this.markUsers)).splice(2, count)
      }
      return omus
    }
  },
  methods: {
    getPostMarkData () {
      this.markUsers = []
      this.markLocation = null
      this.marker = []
      this.mapCenter = [119.237626, 26.05766]
      this.$nextTick(() => {
        if (this.modelObject) {
          if (this.modelObject.location) {
            this.markLocation = JSON.parse(this.modelObject.location)
          }
          if (this.modelObject.marks && this.modelObject.marks.length > 0) {
            const ids = this.modelObject.marks
            this.storeNeedData({
              type: 'user',
              dataIds: ids
            })
              .then(users => {
                this.markUsers = []
                for (let id of ids) {
                  this.markUsers.push(users[id])
                }
              })
          }
        }
      })
    }
  }
}
</script>
<style>
  .mark-info {
    & .mark-content{
      & span {
        display: inline-block;
        & div {
          display: inline-block !important;
        }
        & a {
          color: blue;
        }
      }
    }
  }
</style>
