<template>
  <article class="article-content">
    <!-- <el-popover
      ref="feedViewer"
      trigger="hover"
      popper-class="vertical"
      width="100"
      @show="getFeedViewers"
    >
      <ul class="vertical-menu">
        <li v-for="user in feedViewer.readed" :key="user.id">
          <router-link v-if="user.userName" style="display: block;" :to="{name: 'user', params: {userId: user.id}}">{{user.userName}}</router-link>
          <template v-else>{{user.id}}</template>
        </li>
      </ul>
    </el-popover> -->
    <div v-if="type === 'blog' && ar.cover" class="header-bg">
      <img :src="ar.cover" :alt="ar.title" />
    </div>
    <header>
      <div v-if="type === 'blog' && !ar.cover || type === 'reprint'" class="h-top">
        <span class="bookmark">{{typeStr}}</span>
        <!-- <span class="source">
          陈清华 转载至 艾琳娜     一周前
        </span> -->
      </div>
      <h2 v-if="type === 'blog' || type === 'reprint'" v-text="ar.title">说好一起读书何不如期赴约</h2>
      <div class="h-bottom">
        <router-link :to="{ name: 'user', params: { userId: user.id } }"><user-block :user="user" tagName="label" style="cursor:pointer;">{{user.userName}}</user-block></router-link>
        <!-- <span v-popover:feedViewer style="cursor:pointer;"><i class="fa fa-eye"></i> {{post.viewerCount || 0}}人看过</span> -->
        <el-tooltip placement="bottom" :open-delay="500" style="cursor:pointer;">
          <div slot="content">
            <div v-for="user in feedViewer.readed" :key="user.id">
              <span style="cursor:pointer;" v-if="user.userName" @click="$router.push({name: 'user', params: {userId: user.id}})">{{user.userName}}</span>
              <template v-else>{{user.id}}</template>
            </div>
          </div>
          <span @mouseenter="getFeedViewers"><i class="fa fa-eye"></i> {{post.viewerCount || 0}}人看过</span>
        </el-tooltip>
        <span>{{post.createDate | dateFormat}}</span>
        <span class="white-space w320" v-if="type === 'reprint'">原文链接：<a target="_blank" :href="ar.redirectUrl">{{ar.ext.source || ar.redirectUrl}}</a></span>
      </div>
    </header>
    <component ref="detail" v-if="post && compName" :is="compName" :item="post" :canShare="canShare"></component>
    <!--<div class="article-footer">-->
      <!--<span>— 作者主页 —</span>-->
      <!--<div class="user transverse">-->
        <!--&lt;!&ndash; <div class="img">-->
          <!--<router-link :to="{ name: 'user', params: { userId: user.id } }">-->
            <!--<img :src="user.avatar" v-error-img:user/>-->
          <!--</router-link>-->
        <!--</div> &ndash;&gt;-->
        <!--<user-block tagName="div" class="img" :user="user">-->
          <!--<router-link :to="{ name: 'user', params: { userId: user.id }}">-->
            <!--<img :src="user.avatar" alt="" v-error-img:user></img>-->
          <!--</router-link>-->
        <!--</user-block>-->
        <!--<div class="content">-->
          <!--<div class="username">-->
            <!--<router-link :to="{ name: 'user', params: { userId: user.id } }">-->
              <!--<user-block tagName="span" :user="user">{{user.userName}}</user-block>-->
            <!--</router-link>-->
            <!--<i class="fa color-danger margin-l4" :class="userSexIcon"></i>-->
          <!--</div>-->
          <!--<div class="arInfo"><span>{{userCreateTime}}</span></div>-->
        <!--</div>-->
        <!--<div class="follow">-->
          <!--<el-button size="small" type="primary" @click="follow(user)" v-if="!matchCurrUser(user)">-->
            <!--<i :class="isFollow(user)?'':'fa fa-plus'"></i> {{isFollow(user) ? '已关注' : '关注'}}-->
          <!--</el-button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div v-if="ar.tags && ar.tags.length > 0" class="ar-tags">
      <div class="color-secondary font-s12 margin-b">相关标签</div>
      <el-tag v-for="tag in ar.tags" :key="tag" type="gray">{{tag}}</el-tag>
    </div>
    <!--弹窗形式以下没有展示-->
    <template v-if="showExtInfo">
      <!--<div class="article-share font-s14 color-secondary">-->
        <!--<div class="article-share-right">-->
          <!--<i @click="praiseClick" title="点赞" :class="isPraise?'fa fa-heart':'fa fa-heart-o'"><span>{{praiseCount}}</span></i>-->
          <!--<i title="评论" class="fa fa-comment-o"><span>{{item.commentCount || ''}}</span></i>-->
          <!--<i v-if="canShare" @click="$emit('sharePost')" title="分享" class="fa fa-share-alt"></i>-->
        <!--</div>-->
      <!--</div>-->
      <div class="article-share font-s14 color-secondary" id="article-tools">
        <!--<span title="踩"><i class="fa fa-thumbs-o-down"><span> 2</span></i></span>-->
        <span :title="isCollect?'取消收藏':'收藏'" @click="collect"><i :class="{'fa fa-star-o': !isCollect, 'fa fa-star': isCollect}"></i></span>
        <span :title="isPraise?'取消喜欢':'喜欢'" @click="praiseClick"><i @click="praiseClick" :class="isPraise?'fa fa-heart color-danger':'fa fa-heart-o'"><span> {{praiseCount}}</span></i></span>
        <span title="评论"><i class="fa fa-comment-o"><span> {{item.commentCount || ''}}</span></i></span>
        <span title="分享" v-if="canShare" @click="$emit('sharePost')"><i class="fa fa-share-alt"></i></span>
      </div>
      <div class="article-pages font-s14 color-primary clearfix">
        <span><router-link v-if="neighbors.next" :to="{name: 'post', params: {id: neighbors.next}}">上一篇</router-link></span>
        <span style="float: right;"><router-link v-if="neighbors.previous" :to="{name: 'post', params: {id: neighbors.previous}}">下一篇</router-link></span>
      </div>
      <!-- <div class="article-pages font-s14 color-primary el-row">
        <div class="el-col el-col-20">
          <span>上一篇</span>
        </div>
        <div class="el-col el-col-4 text-right">
          <span>下一篇</span>
        </div>
      </div> -->
      <div v-if="isLoadingNewFeeds" class="article-related large-up-4 medium-up-4 img-list clearfix" >
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="display:block;margin:0 auto;"></i>
      </div>
      <div v-else-if="user.newestList&&user.newestList.length>0" class="article-related large-up-4 medium-up-4 img-list clearfix" >
        <div class="column flex-center" :title="getTextDesc(news.desc)" v-for="news in user.newestList" :key="news.feedId">
          <router-link :to="news.goto">
            <img v-if="news.cover.type === 'image'" :src="news.cover.url" style="object-fit: cover;background-color:#565e66;display:inline-block;width:174.25px;height:118px;">
            <img v-else-if="news.cover.type === 'video'" :src="news.cover.url" style="object-fit: cover;background-color:#565e66;display:inline-block;width:174.25px;height:118px;">
            <img v-else-if="news.cover.type === 'doc'" :src="news.cover.url" style="object-fit: cover;background-color:#565e66;display:inline-block;width:174.25px;height:118px;">
            <template v-else>
              <strong v-html="cleanHtml(news.desc, 64, '...')"></strong>
              <span>{{news.model === 'share' ? '分享内容' : '帖子内容'}}</span>
            </template>
            <i class="fa fa-video-camera" aria-hidden="true" v-show="news.cover.type === 'video'"></i>
          </router-link>
        </div>
       <!-- <div class="column flex-center" title="文档标题">
            <a>
              <img src="../../assets/img/u1.png">
            </a>
        </div>
        <div class="column flex-center" title="文档标题">
          <a>
            <img src="../../assets/img/u3.png">
          </a>
        </div>
        <div class="column flex-center" title="文档标题">
          <a>
            <img src="../../assets/img/u2.jpg">
          </a>
        </div>
        <div class="column flex-center">
          <a>
              <strong title="文档标题">一般来说，当元素内容明确地出现在文档大纲中时，section 就是适用的</strong>
              <span>文章内容</span>
          </a>
        </div>-->
      </div>
      <div class="view-fixed" style="">
        <ul>
          <li>
            <a :title="isPraise?'取消喜欢':'喜欢'" style="display: inline-block;line-height: 42px;"><i :class="isPraise?'fa fa-heart color-danger':'fa fa-heart-o'" @click="praiseClick" ></i></a>
            <span class="color-danger" style="display: inline-block; margin-left: 5px;">{{praiseCount}}</span>
          </li>
          <li>
            <a title="评论" href="#article-tools"><i class="fa fa-comment-o"></i></a>
          </li>
          <li v-if="canShare" @click="$emit('sharePost')">
            <a  title="分享"><i class="fa fa-share-alt"></i></a>
          </li>
        </ul>
      </div>
    </template>
    <!-- <el-dialog
      title="用户"
      :visible.sync="feedViewer.show"
      size="small"
    >
      <el-tabs value="first">
        <el-tab-pane :label="'已读 ' + feedViewer.readed.length" name="first">
          <div v-for="user in feedViewer.readed" :key="user.id">{{user.userName}}</div>
        </el-tab-pane>
      </el-tabs>
    </el-dialog> -->
  </article>
</template>
<script>
import UserBlock from '@/views/user/UserBlock'
import { dateYMD, rest, cleanHtml, extractImage, annotatorPromise } from '@/util'
import userMixin from '@/util/userMixin'
import ArticleDetail from './ArticleDetail'
import ImgDetail from './ImgDetail'
import VideoDetail from './VideoDetail'
import DocDetail from './DocDetail'
import TextDetail from './TextDetail'
import ShareDetail from './ShareDetail'
import ActivityDetail from './ActivityDetail'
import * as moduleTypes from '@/store/modules'
import activityMixin from '@/mixin/activityMixin'
import { types as dataPoolTypes } from '@/store/modules/dataPool'
import { quotesData } from '@/store/modules/share'

export default {
  mixins: [userMixin, activityMixin],
  components: {
    ActivityDetail,
    UserBlock,
    ArticleDetail,
    ImgDetail,
    VideoDetail,
    TextDetail,
    DocDetail,
    ShareDetail
  },
  props: {
    datas: Object,
    item: Object,
    itemId: String,
    hasBeShare: {
      type: Boolean,
      default: false
    },
    showExtInfo: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    type () {
      let t
      if (this.post) {
        let model = this.post.model || this.post.modelObject.contentType
        t = model === 'normal' ? this.post.modelObject.postType : model
      }
      this.post.feedPreview = (this.datas && this.datas.feedPreview) || false
      return t
    },
    typeStr () {
      let strs = {
        'share': '分享',
        'activity': '活动',
        'blog': '长文',
        'image': '图片',
        'doc': '文档',
        'video': '视频',
        'text': '文字',
        'reprint': '转载'
      }
      return strs[this.type]
    },
    compName () {
      let name
      if (this.type === 'blog' || this.type === 'reprint') {
        name = 'article-detail'
      } else if (this.type === 'share') {
        name = 'share-detail'
      } else if (this.type === 'image') {
        name = 'img-detail'
      } else if (this.type === 'video') {
        name = 'video-detail'
      } else if (this.type === 'doc') {
        name = 'doc-detail'
      } else if (this.type === 'activity') {
        name = 'activity-detail'
      } else {
        name = 'text-detail'
      }
      return name
    },
    user () {
      return this.post ? (this.post.user || {}) : {}
    },
    userSexIcon () {
      let sexIcon = {
        '0': '',
        '1': 'fa-mars',
        '2': 'fa-venus'
      }
      let sex = this.user && this.user.sex ? this.user.sex : '0'
      return sexIcon[sex]
    },
    userCreateTime () {
      return dateYMD(this.user.createTime)
    },
    group () {
      return this.post ? (this.post.group || {}) : {}
    },
    ar () {
      return this.post.modelObject || {}
    },
    praiseCount () {
      let praise = this.praise
      let count = 0
      if (praise) {
        praise.forEach((group) => {
          count += group[1]
        })
      }
      return count > 0 ? count : ''
    },
    canShare () {
      return this.hasBeShare || this.datas && this.datas.canShare
    },
    quotesData
  },
  data () {
    return {
      feedViewer: {
        readed: [],
        unread: [],
        show: false
      },
      post: null,
      isOperingLike: false,
      operCount: 0,
      isPraise: false,
      praise: [],
      neighbors: {
        previous: '',
        next: ''
      },
      isLoadingNewFeeds: false,
      loadNewFeedsSuccess: false,
      isCollect: false,
      outline: null,
      outlineMap: null
    }
  },
  watch: {
    'item' (nv, ov) {
      if (nv.id !== ov.id) {
        this.setItem()
        this.$nextTick(() => {
          this.initOutline()
        })
      } else {
        this.post = nv
      }
    },
    'datas.post' (nv, ov) {
      if (nv.id !== ov.id) {
        this.setItem()
        this.$nextTick(() => {
          this.initOutline()
        })
      } else {
        this.post = nv || {}
      }
    }
  },
  created () {
    this.setItem()
  },
  mounted () {
    this.initOutline()
  },
  methods: {
    cleanHtml,
    loadNewFeedData (user, count) {
      this.isLoadingNewFeeds = true
      if (!user.newestList || user.newestList.length < 4) {
        let userId = user.id
        rest.get(`/page/feeds/timeline/${userId}?len=4`).then((feedData) => {
          if (feedData) {
            let newestList = this.convert2NewList(feedData)
            // 更新用户信息
            let userCopy = {id: userId}
            userCopy.newestList = newestList
            userCopy.isLoadedNewestFeeds = true
            this.$store.commit(dataPoolTypes.M_ADD_USERS, [userCopy])
          }
          this.isLoadingNewFeeds = false
          this.loadNewFeedsSuccess = true
        }).catch((e) => {
          count = count - 1
          if (e.status === 10001 && count > 0) { // 正在初始化缓存，重试
            setTimeout(() => { this.loadNewFeedData(user, count) }, 2000)
          } else {
            // 更新加载用户最新文章失败次数
            let userCopy = {id: userId, loadNewestListfailureCount: user.loadNewestListfailureCount ? user.loadNewestListfailureCount : 0}
            userCopy.loadNewestListfailureCount = userCopy.loadNewestListfailureCount + 1
            this.$store.commit(dataPoolTypes.M_ADD_USERS, [userCopy])
            this.isLoadingNewFeeds = false
            this.loadNewFeedsSuccess = false
            console.log('加载用户文章异常！', e)
          }
        })
      } else {
        this.isLoadingNewFeeds = false
      }
    },
    convert2NewList (feedData) {
      let newList = []
      if (feedData && feedData.hasContent && feedData.feeds) {
        feedData.feeds.forEach((feed) => {
          if (!feed) {
            return
          }
          let objContent = feed.objContent || {}
          let news = {
            feedId: feed.id,
            objId: feed.objId,
            objType: feed.objType,
            obj: feed,
            model: objContent.model,
            createAt: objContent.createAt,
            createAtType: objContent.createAtType,
            desc: this.getFeedDesc(feed),
            cover: this.getFeedCover(feed)
          }
          newList.push(news)
          if (feed.objType === 'POST') {
            news.goto = {
              name: 'post',
              params: {
                id: feed.objId
              }
            }
            if (feed.objContent && feed.objContent.model === 'blog') {
              news.goto.name = 'article'
            }
          }
        })
      }
      return newList
    },
    getTextDesc (content) {
      let pe = document.createElement('p')
      pe.innerHTML = content
      let desc = pe.innerText
      desc = desc.replace(/\r/g, '').replace(/\n/g, ' ').replace(/\s+/g, ' ')
      return desc.length > 64 ? desc.substring(0, 64) + '...' : desc
    },
    getFeedDesc (feed) {
      let objContent = feed.objContent || {}
      // fixme 解析不同类型帖子的内容，获取描述信息
      let desc = objContent.modelObject ? (objContent.modelObject.content ? objContent.modelObject.content : '') : (objContent.content || '')
      let title = objContent.modelObject && objContent.modelObject.title ? objContent.modelObject.title : ''
      return title + ' ' + desc
    },
    getFeedCover (feed) {
      let objContent = feed.objContent || {}
      let resourceFiles = objContent.resourceFiles ? objContent.resourceFiles : objContent.modelObject ? objContent.modelObject.resourceFiles : []
      // fixme 解析不同类型帖子的内容，获取资源文件信息
      let cover = { }
      if (resourceFiles && resourceFiles.length > 0) {
        let resourceFile = resourceFiles[0]
        let type = resourceFile.type
        let url
        if (type === 'image') {
          url = resourceFile.datas['550x']
        } else if (type === 'video') {
          url = resourceFile.datas['mp4_to_jpg']
        } else if (type === 'doc') {
          url = resourceFile.datas['png']
        }
        cover = {type, url}
      } else if (objContent.modelObject && objContent.modelObject.cover) {
        cover = { type: 'image', url: objContent.modelObject.cover }
      } else {
        let desc = this.getFeedDesc(feed)
        let images = extractImage(desc)
        if (images && images.length > 0) {
          cover = { type: 'image', url: images[0].src }
        }
      }
      return cover
    },
    loadCollectStatus (post) {
      let req
      if (post.modelObject.contentType.toLowerCase() === 'blog') {
        let param = {
          type: 'blog',
          sourceType: 'blog',
          source: post.id,
          ext: 'BLOG!' + post.id
        }
        req = rest.get(`/sns/favorites/isCollect`, param)
      } else {
        let postId = post.id
        req = rest.get(`/sns/posts/${postId}/isCollect`)
      }
      req.then(isCollect => {
        this.isCollect = isCollect
      }).catch(error => {
        console.log('加载用户收藏状态异常！', error)
      })
    },
    setItem () {
      let location
      if (this.item) {
        this.post = this.item
      } else if (this.datas) {
        this.post = this.datas.post || {}
        if (this.datas.location) {
          location = this.datas.location
        }
      }
      this.getShareObj(this.post)
      if (this.user) {
        // 加载用户扩展信息
        this.loadUserOtherInfo(this.user)
        // 加载最新文章信息
        this.loadNewFeedData(this.user, 4)
        // 加载用户收藏帖子状态
        this.loadCollectStatus(this.post)
      }
      if (this.post.feedId) {
        rest.create('/page/feeds/viewers', [this.post.feedId])
      }
      if (this.showExtInfo) {
        this.initOperData(this.post)
        if (this.post) {
          this.praise = this.post.praise
        } else {
          this.praise = []
        }
      }
      this.getNeighbors(this.post)

      if (this.annotator) {
        this.annotator.destroy()
      }
      if (this.type === 'blog' || this.type === 'reprint') {
        setTimeout(() => { // 延迟初始化，避免动画效果还在执行中
          this.initAnnotator(this.post, this.type, location)
        }, 100)
      }
    },
    collect () {
      let isCollect = !this.isCollect
      let req
      if (this.item.modelObject.contentType.toLowerCase() === 'blog') {
        let param = {
          type: 'blog',
          sourceType: 'blog',
          source: this.item.id,
          ext: 'BLOG!' + this.item.id
        }
        req = (isCollect ? rest.create('/sns/favorites', param) : rest.delete('/sns/favorites', param))
      } else {
        req = (isCollect ? rest.create('/sns/posts/' + this.item.id + '/collect') : rest.delete('/sns/posts/' + this.item.id + '/collect'))
      }
      req.then((data) => {
        if (data) {
          this.isCollect = !this.isCollect
          this.msgSuccess(isCollect ? '已收藏！' : '已取消收藏！')
        } else {
          console.error(isCollect ? '收藏失败！' : '取消收藏失败！', data)
          this.msgError(isCollect ? '收藏失败！' : '取消收藏失败！')
        }
      })
        .catch(e => {
          if (e && e.status >= 10000 && e.message) {
            this.msgError(e.message)
          } else {
            console.error(isCollect ? '收藏错误！' : '取消收藏错误！', e)
            this.msgError(isCollect ? '收藏失败，请稍候重试！' : '取消收藏失败，请稍候重试！')
          }
        })
    },
    praiseClick () {
      // 限制并发请求
      if (this.isOperingLike) {
        return
      }
      // 限制请求次数
      if (this.operCount > 5) {
        this.msgWarning('请勿频繁操作')
        return
      }
      this.isOperingLike = true
      let req
      if (this.isPraise) {
        req = rest.delete('/sns/operRecord', {objType: 'POST', objId: this.post.id, action: 'praise', actionArg: 'FEEL_LOVE'})
      } else {
        req = rest.create('/sns/operRecord', {objType: 'POST', objId: this.post.id, action: 'praise', actionArg: 'FEEL_LOVE'})
      }
      req.then((data) => {
        this.isPraise = !this.isPraise
        this.changePraise(1, this.isPraise ? 1 : -1)
        this.isOperingLike = false
        this.operCount ++
        try {
          this.$emit('praiseChange', this.isPraise)
        } catch (e) {
          console.error('emit praise change event error', e)
        }
      }).catch((e) => {
        console.log('喜欢失败！', e)
        this.msgError('喜欢操作失败, 请稍候重试！')
        this.isOperingLike = false
        this.operCount ++
      })
    },
    changePraise (arg, appendCount) {
      let praise = []
      if (this.praise) {
        praise = [...this.praise]
      }
      let isExist = false
      for (var i = 0; i < praise.length; i++) {
        if (praise[i][0] === arg) {
          isExist = true
          praise[i][1] += appendCount
          break
        }
      }
      if (!isExist) {
        praise.push([arg, appendCount])
      }
      this.praise = praise
    },
    initOperData (post) {
      if (post) {
        // 获取喜欢的状态
        rest.get('/sns/operRecord/status', { objId: post.id, objType: 'POST', action: 'praise' }, true).then(mapData => {
          if (mapData) {
            this.isPraise = mapData[post.id]
          } else {
            this.isPraise = false
            console.log('处理点赞状态失败', mapData)
          }
        }).catch((error) => {
          this.isPraise = false
          console.log('获取点赞状态异常', error)
        })
        // 获取收藏的状态
        rest.get('/sns/operRecord/status', { objId: post.id, objType: 'POST', action: 'praise' }, true).then(mapData => {
          if (mapData) {
            this.isPraise = mapData[post.id]
          } else {
            this.isPraise = false
            console.log('处理点赞状态失败', mapData)
          }
        }).catch((error) => {
          this.isPraise = false
          console.log('获取点赞状态异常', error)
        })
      }
    },
    getFeedViewers () {
      if (this.post.feedId && this.post.viewerCount > 0 && !this.feedViewer.show) {
        this.feedViewer.show = true
        rest.get(`/page/feeds/viewers/${this.post.feedId}`)
        .then(data => {
          this.storeNeedData({
            type: 'user',
            dataIds: data
          })
          .then(users => {
            if (data.length !== this.post.viewerCount) {
              this.post.viewerCount = data.length
            }
            this.feedViewer.readed = data.map(o => users[o] || {id: o})
          })
        })
      }
    },
    getNeighbors (post) {
      this.neighbors.previous = ''
      this.neighbors.next = ''
      rest.get('/page/feeds/obj/neighbors', {
        objType: 'POST',
        id: post.id
      }, true)
      .then(data => {
        if (data && data.length > 1) {
          if (data.length === 2) {
            if (data[0]) {
              this.neighbors.previous = data[0].objId
            } else if (data[1]) {
              this.neighbors.next = data[1].objId
            }
          } else if (data.length === 3) {
            if (data[0]) {
              this.neighbors.previous = data[0].objId
            }
            if (data[2]) {
              this.neighbors.next = data[2].objId
            }
          }
        }
      })
    },
    getShareObj (post) {
      let modelObject = post.modelObject
      if (modelObject.refObjType === 101) {
        this.storeNeedData({
          type: 'group',
          dataIds: [modelObject.refObjId]
        })
          .then(groups => {
            this.$set(post, 'shareObj', groups[modelObject.refObjId] || {})
          })
      } else if (modelObject.refObjType === 5) {
        this.getShareActivity(post, modelObject.refObjId)
      } else if (modelObject.ext && modelObject.ext.feedId) {
        this.$store.dispatch(moduleTypes.feed.A_GET_FEED_LIST, [modelObject.ext.feedId])
          .then(feeds => {
            if (feeds) {
              feeds.forEach(f => {
                if (f) {
                  this.$set(post, 'shareObj', f)
                }
              })
              if (!post.shareObj) {
                this.$set(post, 'shareObj', {})
              }
            }
          })
      }
    },
    getShareActivity (content, actId) {
      if (actId) {
        this.getActivity(actId)
          .then((data) => {
            let shareItem = {}
            if (data) {
              let groupName = ''
              let groupId = ''
              if (data && data.group) {
                groupName = data.group.name
                groupId = data.group.id
              }
              let modelObject = {...{contentType: 'activity'}, ...data}
              shareItem = {
                objId: data.id,
                objType: 'ACTIVITY',
                groupName: groupName,
                groupId: groupId,
                user: data.user,
                group: data.group,
                objContent: {
                  bindId: data.id,
                  modelObject: modelObject
                }
              }
            }
            this.$set(content, 'shareObj', shareItem)
          })
      } else {
        this.$set(content, 'shareObj', {})
      }
    },
    initAnnotator (post, type, location) {
      let annotationTarget = {
        type,
        id: post.id
      }
      annotatorPromise().then(Annotator => {
        let pel = this.$el.parentElement
        this.annotator = new Annotator({
          objType: 'post',
          objId: post.id,
          userId: this.$store.state.currUser.id,
          container: pel.classList.contains('post-detail') && pel.classList.contains('position-left') ? pel : null,
          elem: this.$el.querySelector('.article-section'),
          bucketBar: true,
          adderShare: !this.canShare ? undefined : (ann) => {
            this.$emit('annotationShare', ann, annotationTarget)
          },
          adderCollect: (ann) => {
            this.$emit('annotationCollect', ann, annotationTarget)
          },
          viewerCustomElem: (elem, ann) => {
            elem.className = ''
            if (ann.commentId) {
              elem.innerHTML = '<a class="viewComment"> 查看评论</a>'
              elem.addEventListener('click', (event) => {
                if (event.target.classList.contains('viewComment') === true) {
                  this.scrollComment(ann)
                }
              }, true)
            }
            this.storeNeedData({
              type: 'user',
              dataIds: [ann.userId]
            })
            .then(users => {
              let user = users[ann.userId]
              elem.innerHTML = '<span class="userName">' + user.userName + '</span>' + elem.innerHTML
            })
          },
          loadedCallback: () => {
            this.$emit('annotationLoaded', annotationTarget)
          },
          createdCallback: ann => {
            this.$emit('annotationCreated', ann, annotationTarget)
          },
          updatedCallback: ann => {
            this.$emit('annotationUpdated', ann, annotationTarget)
          },
          deletedCallback: ann => {
            this.$emit('annotationDeleted', ann, annotationTarget)
          }
        })
        this.annotator.start()
        .then(() => {
          if (location) {
            this.annotator.goToAnn(location)
          }
          let query = this.$route.query
          if (query && query.quote) {
            if (this.annotator) {
              let quote = this.quotesData[query.quote]
              this.annotator.highlightAnn(quote)
              this.annotator.goToAnn(quote.id)
            }
          }
        })
      })
    },
    initOutline () {
      let el = this.$el.querySelector('.article-section')
      if (el) {
        let hels = Array.from(el.querySelectorAll('h2,h3,h4,h5,h6'))
        .map(el => ({el, h: parseInt(el.tagName.substring(1)), top: el.getBoundingClientRect().top}))
        .sort((a, b) => a.top - b.top)
        let olm = {}
        let parent, last
        let root = {
          key: '',
          children: []
        }

        for (const hel of hels) {
          if (last) {
            if (last.h < hel.h) {
              parent = last
            } else if (last.h > hel.h) {
              let pp = last
              while ((pp = pp.p) && pp.h !== hel.h) {}
              if (!pp || !pp.p) {
                console.error('格式错误', hels)
                return
              }
              parent = pp.p
            }
          } else {
            parent = root
          }
          if (!parent.children) {
            parent.children = []
          }

          let o = {
            el: hel.el,
            h: hel.h,
            p: parent,
            key: (parent.key ? parent.key + '.' : '') + (parent.children.length + 1),
            label: hel.el.innerText
          }
          parent.children.push(o)
          olm[o.key] = o
          last = o
        }

        for (const o of Object.values(olm)) {
          delete o.p
        }

        let nol = JSON.stringify(root.children, (k, v) => k !== 'el' ? v : undefined)
        this.outline = JSON.parse(nol)
        this.outlineMap = olm
        this.$emit('outlineloaded', JSON.parse(nol))
      }
    },
    goToOutline (ol) {
      let o
      if (this.outlineMap && ol && (o = this.outlineMap[ol.key])) {
        o.el.scrollIntoView()
      }
    },
    scrollComment (ann) {
      this.$bus.$emit('comment:gotoItem', {
        createAt: this.post.id,
        createAtType: 'POST',
        objCreator: this.post.creator,
        commentId: ann.commentId
      })
    }
  },
  destroyed () {
    if (this.annotator) {
      this.annotator.destroy()
    }
  }
}
</script>
<style>
@import 'css/variable.css';
/*.article-content{*/
  /*padding-bottom: 100px;*/
  /*max-width: 800px;*/
  /*margin: 0 auto;*/
  /*min-height: 100%;*/
  /*background: var(--panel-color);*/
  /*& header{*/
    /*padding: 1rem 2rem;*/
    /*& .bookmark{*/
      /*color: color(var(--color-warning) shade(40%));*/
    /*}*/
    /*& .source {*/
      /*float: right;*/
      /*font-size: 12px;*/
      /*color: var(--color-secondary);*/
    /*}*/
    /*& .h-top {padding: 1rem 0;}*/
    /*& h2{*/
      /*margin: 1rem 0 0 0;*/
    /*}*/
    /*& .h-bottom{*/
      /*padding: 1rem 0;*/
      /*& a{*/
        /*margin-right: 2rem;*/
      /*}*/
      /*& span{*/
        /*margin-right: 2rem;*/
        /*color: var(--color-secondary);*/
      /*}*/
    /*}*/
  /*}*/
  /*& .article-section{*/
    /*padding: 0rem 2rem 1rem;*/
  /*}*/
  /*& .article-footer {*/
    /*& > span{*/
      /*display: block;*/
      /*font-size: 12px;*/
      /*text-align: center;*/
      /*padding: 2rem;*/
    /*}*/
    /*& .user {*/
      /*width: 560px;*/
      /*margin: 0 auto;*/
      /*padding: 1rem;*/
      /*background: #f4f4f4;*/
      /*border-radius: 4px;*/
      /*position: relative;*/
      /*& .content{*/
        /*margin-bottom: 0;*/
        /*& .arInfo span{*/
          /*color: var(--color-secondary);*/
        /*}*/
      /*}*/
      /*& .follow{*/
        /*position: absolute;*/
        /*right: 1rem;*/
        /*top: 50%;*/
        /*margin-top: -14px;*/
      /*}*/
    /*}*/
  /*}*/
  /*& .ar-tags{*/
    /*padding: 3rem 2rem 0;*/
    /*& > span {*/
      /*margin-right: 10px;*/
    /*}*/
  /*}*/
  /*& .article-share{*/
    /*padding: 3rem 2rem 0;*/
    /*height: 16px;*/
    /*& .article-share-left{*/
      /*display: inline-block;*/
      /*& i{*/
        /*cursor: pointer;*/
        /*font-size: 16px;*/
        /*& span {*/
          /*font-size: 14px;*/
        /*}*/
      /*}*/
    /*}*/
    /*& .article-share-right{*/
      /*display: inline-block;*/
      /*float: right;*/
      /*& i{*/
        /*cursor: pointer;*/
        /*font-size: 16px;*/
        /*margin-left: 15px;*/
        /*& span {*/
          /*font-size: 14px;*/
        /*}*/
      /*}*/
    /*}*/
  /*}*/
  /*& .article-pages{*/
    /*padding: 3rem 2rem 0;*/
    /*& >div{*/
      /*& span{*/
        /*cursor: pointer;*/
      /*}*/
    /*}*/
  /*}*/
  /*& .article-related{*/
    /*padding: 2rem 2rem 0;*/
    /*& > div{*/
      /*height: 118px;*/
    /*}*/
    /*& a{*/
      /*display: inline-block;*/
      /*& strong{*/
        /*display: block;*/
        /*max-height: 42px;*/
        /*margin: 0 0 8px;*/
        /*overflow: hidden;*/
        /*font-size: 16px;*/
        /*padding: 10px 10px 0;*/
      /*}*/
      /*& span{*/
        /*display: block;*/
        /*padding: 0 10px;*/
        /*font-size: 12px;*/
        /*overflow: hidden;*/
        /*max-height: 50px;*/
      /*}*/
    /*}*/
  /*}*/
/*}*/
/*.header-bg {*/
  /*& img {*/
    /*width: 100%;*/
  /*}*/
/*}*/
</style>
