<template>
</template>
<script>
  import { currUser, currUserImg } from '@/store/modules/helper'
  import { rest } from '@/util'
  export default {
    data () {
      return {
        showPublishBtn: true,
        editor: null,
        files: {},
        modelType: 'normal',
        postType: 'text',
        defModelData: {
          contentType: 'normal',
          marks: [],
          atUsers: [],
          resourceFiles: [],
          specifyPublicUsers: [],
          behavior: null,
          behIcon: null,
          behValue: null,
          behValueIcon: null,
          location: null,
          content: null,
          postType: 'text'
        },
        modelData: {},
        postData: {
          scope: 0,
          scopeValue: null,
          createAt: null,
          createAtType: 101,
          modelData: ''
        }
      }
    },
    computed: {
      currUser,
      currUserImg
    },
    methods: {
      doPublish (url, resourceFilsList, successCallback) {
        this.showPublishBtn = false
        if (this.postData.createAt === null || this.postData.createAt.length === 0) {
          this.msgWarning('请选择要发布到小组')
          this.showPublishBtn = true
          return
        }
        this.modelData.content = this.editor.getContent()
        this.modelData.resourceFiles = !resourceFilsList ? [] : resourceFilsList
        if (this.modelData.contentType !== 'share') {
          if ((this.modelData.content === null || this.modelData.content.length === 0) &&
            (this.modelData.behValue === null || this.modelData.behValue.length === 0) &&
            (this.modelData.location === null || this.modelData.location.length === 0) &&
            this.modelData.resourceFiles.length === 0) {
            this.msgWarning('帖子还空着呢。请输入内容或附上链接、照片再发布。')
            this.showPublishBtn = true
            return
          }
        }
        this.modelData.postType = this.postType
        if (this.modelData.resourceFiles.length === 0) {
          this.modelData.postType = 'text'
        }
        this.postData.modelData = JSON.stringify(this.modelData)
        rest.create(url, this.postData)
          .then(data => {
            this.showPublishBtn = true
            this.editor.setContent('')
            this.files.image = []
            this.files.video = []
            this.files.doc = []
            this.modelData = {...this.defModelData}
            if (successCallback) {
              successCallback()
            }
            if (data.status === 4) {
              let title = ''
              if (this.postType === 'image') {
                title = '照片'
              } else if (this.postType === 'doc') {
                title = '文档'
              } else if (this.postType === 'video') {
                title = '视频'
              }
              this.msgSuccess('正在处理' + title + '，处理完毕后，我们会给你发送通知，帖子即可查看。')
            } else if (data.status === 0) {
              this.msgSuccess('帖子已提交，正等待管理员批准。')
            } else {
              this.msgSuccess('帖子发布成功了！')
            }
            return data
          })
          .catch(e => {
            this.showPublishBtn = true
            this.msgError('TT，发布失败了！')
            console.log('TT，发布失败了！', e)
          })
      }
    }
  }
</script>
