<template>
  <el-row class="article-box margin-t">
    <el-col :span="18">
      <post-detail
        ref="postDetail"
        v-if="post"
        :item="post"
        :showExtInfo="true"
        :hasBeShare="hasBeShared"
        @praiseChange="praiseChange"
        @sharePost="sharePost"
        @annotationShare="addShareAnnotator"
        @annotationCollect="addCollectAnnotator"
        @annotationCreated="addAnnotationComment"
        @annotationUpdated="updateAnnotationComment"
        @annotationDeleted="delAnnotationComment"></post-detail>
      <div class="comment-title">评论 ( {{commentCount}} )</div>
      <comment-tree
        ref="detailComment"
        v-if="post"
        :createAt="post.id"
        :createAtType="'POST'"
        :objCreator="post.creator"
        :loadData="true"
        :enable="true"
        :bindRef="$refs.post"
        :articleComment="true"
        :isCommentArea="true"
        :isPreviewComment="true"
        @initQuoteResource="initQuoteResource"
        @localQuote="localQuote"
        @createComment="createComment"
        @deleteComment="deleteComment"
        @updateComment="updateComment"
      ></comment-tree>
      <div class="hot-box" >
        <div class="hot-title" style="">热度 ( {{hotSize}} )</div>
        <ul>
          <li v-for="hot in hots" :key="hot.id">
            <div class="media-object user">
              <div class="media-object-section shrink">
                <div class="img img30">
                  <user-block style="cursor:pointer;" tagName="img" :user="hot.user" :src="hot.user.avatar" v-error-img:user ></user-block>>
                </div>
              </div>
              <div class="media-object-section center">
                <span><router-link :to="{name: 'user', params: {userId: hot.user.id}}"><user-block tagName="span" :user="hot.user">{{hot.user.userName}}</user-block></router-link>很喜欢这篇文章</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <preview></preview>
    </el-col>
    <el-col :span="6">
      <module-item
        modTitle="热门帖子"
        :get-url="'/sns/posts/hots'"
        :list-size="3"
        :list-key="'hotsPost'"
        :mod-type="'post'"
        :pathOption="getPostPathOption"
        :getOtherHtml="getPostOtherHtml">
      </module-item>
    </el-col>
    <share-form></share-form>
  </el-row>
</template>
<script>
import AppHeader from './AppHeader'
import CommentTree from '@/components/comment/CommentTree'
import Preview from '@/components/preview/Preview'
import PostDetail from './PostDetail'
import { rest, convertEmoji } from '@/util'
import UserBlock from '@/views/user/UserBlock'
import ShareForm from '../include/ShareForm'
import { shareData, shareFormShow } from '@/store/modules/share'
import ModuleItem from '@/components/items/ModuleItem'
import {getPostPathOption, getPostOtherHtml} from '@/components/items/moduleData'
import { types as previewTypes } from '@/store/modules/preview'
import { getAnnQuote, gatherContentImages, getHighlightedQuote } from '@/components/comment'
import { shareAnnotator, collectAnnotator } from '@/util/annotatorShare'
import { showCollect, currCollectId } from '@/store/modules/helper'
import qs from 'qs'

export default {
  components: {
    Preview,
    AppHeader,
    PostDetail,
    CommentTree,
    UserBlock,
    ShareForm,
    ModuleItem
  },
  computed: {
    shareData,
    shareFormShow,
    showCollect,
    currCollectId,
    currUser () {
      return this.$store.state.currUser
    },
    id () {
      return this.$route.params.id
    },
    commentCount () {
      return this.post ? (this.post.commentCount || 0) : 0
    },
    hotSize () {
      return this.hotData.totalElements || 0
    },
    hots () {
      return this.hotData.content || []
    },
    hasBeShared () {
      if (this.post) {
        if (this.post.scope === 0) {
          if (this.post.group && this.post.group.scope === 1) {
            return true
          }
        } else if (this.post.scope === 2) {
          return true
        }
      }
      return false
    }
  },
  data () {
    return {
      currFeedItem: {},
      post: null,
      hotData: {}
    }
  },
  watch: {
    $route () {
      this.getArticle()
    }
  },
  created () {
    this.$bus.$on('feed:update', (feed) => {
      if (feed.objType === 'POST' && feed.objId === this.id) {
        this.getArticle()
      }
    })
    this.getArticle()
  },
  methods: {
    shareAnnotator,
    collectAnnotator,
    gatherContentImages,
    initQuoteResource (quote) {
      if (this.post.model === 'normal' && this.post.modelObject.postType === 'image' || this.post.model === 'blog' || this.post.model === 'reprint') {
        let reosurces = this.post.modelObject.resourceFiles || []
        if (this.post.model === 'blog' || this.post.model === 'reprint') {
          let files = this.gatherContentImages(this.post.modelObject.content)
          reosurces = reosurces.concat(files)
        }
        // 子评论不显示图片
        if (quote.comment.idByReply && quote.comment.idByReply !== 'NULL_ID') {
          return
        }
        let quoteBody = quote.comment.commentBody.commentQuote
        let rsId
        if (quoteBody) {
          rsId = quoteBody.quoteObjId
        } else {
          rsId = quote.comment.ext
        }
        if (rsId) {
          for (let resource of reosurces) {
            if (resource.rsId === rsId) {
              quote.resource = {
                id: rsId,
                url: resource.datas['550x']
              }
              break
            }
          }
        }
      }
    },
    getPostPathOption,
    getPostOtherHtml,
    getArticle () {
      rest.get('/page/feeds/objs', {
        objType: 'POST',
        id: this.id
      }, true)
      .then(data => {
        if (data && data.length === 1 && data[0]) {
          let feed = data[0]
          if (!feed) {
            return
          }
          let mo
          if (feed.objContent && (mo = feed.objContent.modelObject) && mo.content) {
            mo.content = convertEmoji(mo.content)
          }
          this.currFeedItem = feed
          let p = [{
            type: 'user',
            dataIds: [feed.userId]
          }]
          if (feed.groupId) {
            p.push({
              type: 'group',
              dataIds: [feed.groupId]
            })
          }
          this.storeNeedData(p).then(([users, groups]) => {
            let post = {...feed.objContent}
            if (!post.modelObject) {
              console.log('开发前期旧数据', post, feed)
              post = {
                id: feed.objId,
                creator: feed.userId,
                createDate: feed.createTime,
                model: post.contentType,
                modelObject: {...post}
              }
            }
            post.feedId = feed.id
            post.user = users[feed.userId]
            post.praise = feed.praise
            post.commentCount = feed.commentCount
            if (feed.groupId) {
              post.group = groups[feed.groupId]
              this.$set(this.currFeedItem, 'group', groups[feed.groupId])
            }
            this.post = post
            // 浏览者总数
            rest.get('/page/feeds/viewers/count', {
              feedIds: [this.post.feedId]
            }, true)
            .then(data => {
              this.$set(this.post, 'viewerCount', data[this.post.feedId] || 0)
            })
            // 获取热度列表
            rest.get('/sns/posts/' + post.id + '/hots', {}, true).then((hotData) => {
              if (hotData && hotData.content) {
                let hots = hotData.content
                this.storeNeedData({
                  type: 'user',
                  dataIds: hots.map(o => o.operator)
                }).then(users => {
                  hots.forEach(hot => {
                    hot.user = users[hot.operator]
                  })
                  this.hotData = hotData
                }).catch(error => {
                  console.log('获取热度人员数据异常！', error)
                })
              }
            }).catch(error => {
              console.log('获取热度数据异常', error)
            })
          })
        }
      })
    },
    praiseChange (isPraise) {
      if (this.hotData && this.hotData.content) {
        let userId = this.currUser.id
        let exist = this.hotData.content.filter(hot => hot.user.id === userId).length > 0
        let newHotData = {...this.hotData, content: this.hotData.content.filter(hot => hot.user.id !== userId)}
        if (isPraise) {
          newHotData.content.unshift({
            operator: userId,
            action: 1,
            createData: new Date().getTime(),
            user: this.currUser
          })
          if (!exist) {
            newHotData.totalElements = newHotData.totalElements + 1
          }
        } else {
          if (exist) {
            newHotData.totalElements = newHotData.totalElements - 1
          }
        }
        this.hotData = newHotData
      }
    },
    sharePost () {
      if (!this.hasBeShared) {
        return
      }
      let item = JSON.parse(JSON.stringify(this.currFeedItem))
      if (item.objContent.modelObject.contentType === 'share') {
        item.objContent.shareObj = this.post.shareObj
      }
      this.shareData = {
        from: 'detail',
        type: 'post',
        item: item
      }
      this.shareFormShow = true
    },
    localQuote (quoteId) {
      let postDetail = this.$refs.postDetail
      if (postDetail && quoteId) {
        if (postDetail.type === 'doc') {
          if (postDetail.compName === 'doc-detail' && postDetail.$refs.detail && postDetail.$refs.detail.previewDocs) {
            this.$store.commit(previewTypes.M_CHANGE_LOCATION_DATA, quoteId)
            postDetail.$refs.detail.previewDocs()
          }
        } else if (postDetail.annotator) {
          postDetail.annotator.goToAnn(quoteId)
        }
      }
    },
    getAnnQuote,
    /**
     * 创建评论
     * @param comment
     * @param sourceType：'notice' (socket回调通知产生的事件), 'self'(评论组件本身操作触发的事件), 'external'（外部组件调评论组件的方法产生的事件）
     */
    createComment (comment, sourceType) {
      let commentBody = comment.commentBody
      if (commentBody && commentBody.commentQuote && commentBody.commentQuote.quoteId) {
        let commentTree = this.$refs.detailComment
        let quoteObjType = commentBody.commentQuote.quoteObjType
        if (quoteObjType === 1) {
        } else if (quoteObjType === 2) {
        } else {
          let quote = this.getAnnQuote(comment)
          let postDetail = this.$refs.postDetail
          let annotator = postDetail.annotator
          if (sourceType !== commentTree.externalKey) {
            if (sourceType === commentTree.noticeKey) {
              if (annotator) {
                annotator.highlightAnn(quote)
              }
            } else {
              // 处理评论组件添加的应用  该怎么处理呢？
            }
          }
        }
      }
    },
    /**
     * 删除评论
     * @param comment
     * @param sourceType：'notice' (socket回调通知产生的事件), 'self'(评论组件本身操作触发的事件), 'external'（外部组件调评论组件的方法产生的事件）
     */
    deleteComment (comment, sourceType) {
      let comBody = comment.commentBody
      if (comBody && comBody.commentQuote && comBody.commentQuote.quoteId) {
        let commentTree = this.$refs.detailComment
        if (comBody.commentQuote.quoteObjType === 1) { // 图片
        } else if (comBody.commentQuote.quoteObjType === 2) { // 视频
        } else { // 文字类型
          let postDetail = this.$refs.postDetail
          let annotator = postDetail.annotator
          if (commentTree.noticeKey === sourceType || commentTree.externalKey === sourceType) {
            if (annotator) {
              annotator.unHighlightAnnById(comBody.commentQuote.quoteId)
            }
          } else if (commentTree.selfKey === sourceType) {
            rest.delete('/page/annotator/annotations/' + comBody.commentQuote.quoteId)
              .then(json => {
                if (annotator) {
                  annotator.unHighlightAnnById(comBody.commentQuote.quoteId)
                }
              })
          }
        }
      }
    },
    /**
     * 更新评论
     * @param comment
     * @param sourceType：'notice' (socket回调通知产生的事件), 'self'(评论组件本身操作触发的事件), 'external'（外部组件调评论组件的方法产生的事件）
     */
    updateComment (comment, sourceType) {
      let comBody = comment.commentBody
      if (comBody && comBody.commentQuote && comBody.commentQuote.quoteId) {
        let commentTree = this.$refs.detailComment
        if (comBody.commentQuote.quoteObjType === 1) { // 图片
        } else if (comBody.commentQuote.quoteObjType === 2) {
        } else {
          let postDetail = this.$refs.postDetail
          let annotator = postDetail.annotator
          let quote = this.getAnnQuote(comment)
          if (commentTree.noticeKey === sourceType) {
            if (annotator) {
              annotator.highlightAnn(quote)
            }
          } else if (commentTree.selfKey === sourceType) {
            let quoteId = comBody.commentQuote.quoteId
            rest.edit(`/page/annotator/annotations/${quoteId}?${qs.stringify({json: JSON.stringify(quote)})}`)
              .then(json => {
                if (annotator) {
                  annotator.highlightAnn(json)
                }
              })
          }
        }
      }
    },
    addAnnotationComment (ann, annotationTarget) {
      this.$refs.detailComment.externalCommit({
        content: ann.text,
        contentType: 'text',
        resourceFiles: []
      }, {
        objId: annotationTarget.id,
        objType: annotationTarget.type,
        quote: ann
      }, (status, comment) => {
        if (status === 200) {
          ann.commentId = comment.id
          rest.edit(`/page/annotator/annotations/${ann.id}?${qs.stringify({json: JSON.stringify(ann)})}`)
            .then(json => {
              let postDetail = this.$refs.postDetail
              let annotator = postDetail.annotator
              if (annotator) {
                annotator.highlightAnn(ann)
              }
            })
        } else {
          rest.delete('/page/annotator/annotations/' + ann.id)
        }
      })
    },
    updateAnnotationComment (ann, annotationTarget) {
      this.$refs.detailComment.externalCommit({
        content: ann.text,
        contentType: 'text',
        resourceFiles: []
      }, {
        objId: annotationTarget.id,
        objType: annotationTarget.type,
        quote: ann
      }, (status, comment) => {
        if (status === 200) {
        } else {
          ann.text = comment.content
          rest.edit(`/page/annotator/annotations/${ann.id}?${qs.stringify({json: JSON.stringify(ann)})}`)
            .then(json => {
              let postDetail = this.$refs.postDetail
              let annotator = postDetail.annotator
              if (annotator) {
                annotator.highlightAnn(ann)
              }
            })
        }
      })
    },
    delAnnotationComment (ann, annotationTarget) {
      if (ann.commentId) {
        this.$refs.detailComment.externalDelete(ann.commentId)
      }
    },
    getHighlightedQuote,
    shareCallBack (data) {
      let postDetail = this.$refs.postDetail
      let annotator = postDetail.annotator
      if (annotator) {
        let qoute = this.getHighlightedQuote('share', data)
        annotator.highlightAnn(qoute)
      }
    },
    addShareAnnotator (ann, annotationTarget) {
      if (this.hasBeShared) {
        let currShareBody = this.shareAnnotator(ann, annotationTarget, this.currFeedItem, this.shareCallBack)
        this.shareData = {
          from: 'annotator',
          type: 'quote',
          item: currShareBody
        }
        this.shareFormShow = true
      }
    },
    addCollectAnnotator (ann, annotationTarget) {
      this.collectAnnotator(ann, annotationTarget)
        .then(data => {
          this.showCollect = true
          this.currCollectId = data.id
          let postDetail = this.$refs.postDetail
          let annotator = postDetail.annotator
          if (annotator) {
            let qoute = this.getHighlightedQuote('collect', data)
            annotator.highlightAnn(qoute)
          }
        })
    }
  }
}
</script>
<style>
  @import 'css/variable.css';
  .article-box {
    & .article-content + div{
      background: #fff;
    }
    & .comment-area{
      background: #fff;
    }
    & .comment-title{
      margin-top: 16px;
      font-size: 14px;
      padding: 1rem 2rem 0;
      color: var(--color-secondary);
    }
    & .hot-box{
      background-color: var(--color-white);
      padding: 1rem 2rem;
      & .hot-title{
        margin-bottom: 8px;
        font-size: 14px;
        color: var(--color-secondary);
        padding-bottom: 8px;
      }
      & ul{
        & li{
          list-style: none;
          border-top: 1px solid #f6f3f3;
          & >div{
            margin: 10px 0;
            & .center{
              display: flex;
              align-items: center;
              & span{
                font-size: 12px;
                & a{
                  margin-right: 6px;
                  color: var(--color-secondary);
                }
              }
            }
          }
        }
      }
    }
    & .view-fixed{
      position: fixed;
      margin-left: -85px;
      top: 200px;
      & ul{
        transition: opacity .3s linear;
        & li{
          list-style: none;
          width: 100%;
          height: auto;
          text-align: center;
          margin-bottom: 12px;
          & a{
            width: 42px;
            height: 42px;
            display: flex;
            border-radius: 50%;
            background-color: #fff;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

.example {
  margin-bottom: 10px;
  font-size: 12px;
  color: var(--color-secondary);
  & span{
    cursor: pointer;
    &:hover{
      color: var(--color-primary);
    }
  }
}
</style>
