<template>
  <div class="publish-bar-area" :class="{'mod-border':!isEdit}">
    <el-popover
      ref="popoverTextFile"
      placement="bottom-start"
      title="本地上传"
      trigger="hover"
      width="344"
      v-model="textBtnPopover"
      >
      <div class="img-vedio">
        <div class="img-btn">
           <a @click="textImageOpen"><i class="fa fa-image"></i>上传图片</a>
        </div>
        <div class="vedio-btn">
          <a @click="textVedioOpen"><i class="fa fa-video-camera"></i>上传视频</a>
        </div>
      </div>
    </el-popover>
    <el-dialog
      title="编辑"
      :visible.sync="showFileExtInfoEdit"
      size="tiny">
      <el-form :model="videoForm" :label-position="labelPosition">
        <el-form-item label="上传时间" :label-width="formLabelWidth">
          <el-input v-model="videoForm.date" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="视频名称" :label-width="formLabelWidth">
          <el-input v-model="videoForm.name" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="视频描述" :label-width="formLabelWidth">
          <el-input type="textarea" v-model="videoForm.desc"></el-input>
        </el-form-item>
        <el-form-item label="发布者" :label-width="formLabelWidth">
          <el-input v-model="videoForm.usrname" auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  	<div class="publish-post-bar clearfix" v-if="!isEdit">
        <user-block tagName="div" class="user" :user="currUser">
          <router-link :to="{ name: 'user', params: { userId: currUser.id }}" :title="currUser.userName">
            <img :alt="currUser.userName" :src="currUserImg" v-error-img:user />
          </router-link>
        </user-block>
    	<ul ref='menu'>
    	  <li @click="textPostClick" :class="[postType === 'text' ? 'active' : '']"><a><i class="fa fa-edit"></i> 文 字</a></li>
    	  <li @click="imagePostClick" :class="[postType === 'image' ? 'active' : '']"><a><i class="fa fa-image"></i> 图 片</a></li>
    	  <li @click="videoPostClick" :class="[postType === 'video' ? 'active' : '']"><a><i class="fa fa-video-camera"></i> 视 频</a></li>
    	  <li @click="docPostClick" :class="[postType === 'doc' ? 'active' : '']"><a><i class="fa fa-file"></i> 文 档</a></li>
    	  <li v-if="!hasCurrCreateAt">
    	    <el-dropdown trigger="click" @command="doCommand">
              <a class="el-dropdown-link">
                更多<i class="el-icon-caret-bottom el-icon--right"></i>
              </a>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="undo">任务</el-dropdown-item>
                <el-dropdown-item v-if="hasCurrGroup" command="doShowActivityDialog">活动</el-dropdown-item>
                <el-dropdown-item command="undo">话题</el-dropdown-item>
                <el-dropdown-item command="undo">问答</el-dropdown-item>
                <el-dropdown-item command="doShowBlogDialog">博文</el-dropdown-item>
                <el-dropdown-item command="undo">投票</el-dropdown-item>
              </el-dropdown-menu>
          </el-dropdown>
    	  </li>
    	</ul>
    </div>
    <div class="publish-modcon">
      <div class="publish-group" v-if="!hasCurrGroup&&!hasChooseGroup&&!hasCurrUser&&!hasCurrCreateAt">
        <i class="el-icon-search"></i>
        <el-autocomplete
          popper-class="group-autocomplete"
          v-model="groupSearchText"
          :fetch-suggestions="querySearch"
          custom-item="group-item"
          :placeholder="placeholderTitle"
          @select="handleGroupSelect"
        >
        </el-autocomplete>
      </div>
      <section class="publish-group-selected" v-if="!hasCurrGroup&&hasChooseGroup&&!hasCurrUser&&!hasCurrCreateAt">
      	<h4 class="no-margin">发布位置</h4>
      	<div>{{choosedGroup.value}} · {{choosedGroup.scopeName}}小组
      	 <a class="cancle" @click="cleanPubBarData">&times;</a>
      	</div>
      </section>
      <div class="comment-txt">
        <!--<at-->
          <!--ref="postAt"-->
          <!--name-key="name">-->
          <!--<div @paste="uploadClipboardImage"-->
            <!--@keyup.ctrl.enter="publish"-->
            <!--:ref="editeId"-->
            <!--:id="editeId" class="editable"-->
            <!--placeholder="有些话适合烂在这里..."-->
            <!--v-show="hasCurrGroup||hasChooseGroup||hasCurrUser||hasCurrCreateAt">-->
            <!--<p><br/></p>-->
          <!--</div>-->
        <!--</at>-->
        <medium-editor
          class="editable"
          v-model="content"
          :ref="editeId"
          placeholderTxt="有些话适合烂在这里..."
          @paste-event="uploadClipboardImage"
          @ctrl-enter-commit="publish"
          :image-tools-options="imageToolsOptions"
          :use-at-user="true"
          :contenteditable="true"
          :options="options"
          v-show="hasCurrGroup||hasChooseGroup||hasCurrUser||hasCurrCreateAt"></medium-editor>
          <el-tooltip
            class="item"
            effect="dark"
            content="表情"
            placement="top-start"
            v-if="hasCurrGroup||hasChooseGroup||hasCurrUser||hasCurrCreateAt">
            <emoji-block tagName="a" :addFace="insertIcon"><i class="fa fa-smile-o"></i></emoji-block>
          </el-tooltip>
      </div>
    </div>
    <div class="publish-sign-content" v-if="marksUsers.length || (modelData.location && modelData.location)">
      —
      <span v-if="marksUsers.length"> 和
        <user-block v-for="(itemUser, index) in getMarksUsers" :key="itemUser.id" tagName="div" :user="itemUser">
          <router-link :to="{ name: 'user', params: { userId: itemUser.id }}" :title="itemUser.name || itemUser.userName">
            {{index > 0 ? ',' : ''}}{{itemUser.name || itemUser.userName}}
          </router-link>
        </user-block>
        <el-tooltip effect="dark" placement="top" v-if="marksUsers.length > maxMarksSize">
          <div slot="content" v-html="getOthersMarks">张张三<br>李四<br>王五</div>
          <div @click="toggleModelForm('marks', '你希望标记谁', '和')">其他{{marksUsers.length - 1}}位用户</div>
        </el-tooltip>
      </span>
      <span v-if="modelData.location"> 在 <a class="place-token" :alt="tagType.location[0].name" v-text="tagType.location[0].name" @click="toggleModelForm('location', '你在哪里？', '在')">福州软件园</a></span>
    </div>
    <tag
      v-if="showModelForm"
      class="inline-input share-sign"
      v-model="tagType[modelForm]"
      :recTags="[]"
      :tag-read-only="modelForm !== 'location'"
      :auto-complete="true"
      :fetch-suggestions="markQuerySearch"
      :max-tags-size="modelForm === 'location' ? 1 : 0"
      :trigger-on-focus="true && modelForm !== 'location'"
      :props="objectProps"
      :popoverWidth="551">
      <template slot="prepend" v-if="modelFormPrepend"><span>{{modelFormPrepend}}</span></template>
    </tag>
    <div class="publish-footer" v-show="hasCurrGroup||hasChooseGroup||hasCurrUser||hasCurrCreateAt">
      <el-tooltip v-show="textFontIconShow" class="item" effect="dark" content="分享你的图片或视频~" v-popover:popoverTextFile placement="top-start">
        <a><i class="fa fa-camera-retro"></i></a>
      </el-tooltip>
      <!--<el-tooltip v-show="textFontIconShow" class="item" effect="dark" content="分享你的图片或视频~" placement="top-start">-->
        <!--<a><i class="fa fa-camera-retro"></i></a>-->
      <!--</el-tooltip>-->
      <el-tooltip v-if="imageFontIconShow" class="item" @click.native="imageFontIconClick" effect="dark" content="分享你的图片~" placement="top-start">
        <a><i class="fa fa-camera-retro"></i></a>
      </el-tooltip>
      <el-tooltip v-if="docFontIconShow" class="item" @click.native="docFontIconClick" effect="dark" content="分享你的文档~" placement="top-start">
        <a><i class="fa fa-file"></i></a>
      </el-tooltip>
      <el-tooltip v-if="videoFontIconShow" class="item" @click.native="videoFontIconClick" effect="dark" content="分享你的视频~" placement="top-start">
        <a><i class="fa fa-video-camera"></i></a>
      </el-tooltip>
      <el-tooltip class="item" :class="{active:modelForm==='marks' || marksUsers.length}" effect="dark" content="标记你想标记的人~" placement="top-start">
        <a @click="toggleModelForm('marks', '你希望标记谁', '和')"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
      </el-tooltip><el-tooltip class="item" :class="{active:modelForm==='location' || modelData.location}" effect="dark" content="分享你的位置~" placement="top-start">
      <a @click="toggleModelForm('location', '你在哪里？', '在')"><i class="fa fa-map-marker"></i></a>
    </el-tooltip>
      <!--<el-tooltip class="item" :class="{active:modelForm==='behavior'}" effect="dark" content="分享你的心情~" placement="top-start">-->
      <!--<span @click="toggleModelForm('behavior','分享感受或活动…')"><i class="fa fa-smile-o"></i></span>-->
      <!--</el-tooltip>-->

      <div class="float-right relative-cog">
        <span class="hasCurrGroup" v-if="hasCurrGroup" :title="'当前小组：' + currGroupName">{{currGroupName}}</span>
        <span class="color-secondary" v-if="hasCurrUser">谁可以看：</span>
        <el-dropdown @command="selectScopeCommand" v-if="hasCurrUser">
          <span class="el-dropdown-link">
            {{scopeOptions[postData.scope]}}<i class="fa fa-caret-down margin-l4"></i>
          </span>
          <el-dropdown-menu slot="dropdown" class="icon-before font-s12">
            <el-dropdown-item command="2"title="所有人可见"><i class="fa fa-check" v-if="postData.scope === 2"></i>公开</el-dropdown-item>
            <el-dropdown-item command="1" title="仅自己可见"><i class="fa fa-check" v-if="postData.scope === 1"></i>私密</el-dropdown-item>
            <!--<el-dropdown-item command="3" title="选中人可见"><i class="fa fa-check" v-if="postData.scope === 3"></i>部分可见</el-dropdown-item>-->
            <!--<el-dropdown-item command="4" title="选中人不可见">不给谁看</el-dropdown-item>-->
          </el-dropdown-menu>
        </el-dropdown>
        <el-button type="success" :disabled="!showPublishBtn" size="small" @click="publish"><i v-if="isPublishing" class="fa fa-circle-o-notch fa-spin"></i>发布</el-button>
      </div>
    </div>
    <div class="file-container" v-show="!textFontIconShow">
      <div id="imgContent" v-show="imagePopover">
        <div class="title">本地上传</div>
        <p class="relative-desc">共{{countImages}}张，还可以上传{{getImageFileLimit('image') - countImages}}张</p>
        <upload
          ref="imageUpload"
          :action="getAction('image')"
          list-type="picture-card"
          :file-list="files.image"
          :before-upload="beforeImageUpload"
          :on-remove="onImageRemove"
          :on-error="onUploadError"
          :on-success="onImageSuccess"
          :limitNum="getImageFileLimit('image')"
          :concurrentUploadNumber="3"
          :on-preview="onImagePreview"
          :accept="getImageFileMimeTypes('image')"
          :onTransposal="onTransposal"
          multiple
          drag
          >
          <i class="el-icon-plus"></i>
        </upload>
      </div>
      <div class="videoContent" v-show="videoPopover">
      	<upload
          class="upload-video"
          ref="videoUpload"
          :action="getAction('video')"
          :on-remove="onVideoRemove"
          :file-list="files.video"
          icon-type="video"
          :accept="getImageFileMimeTypes('video')"
          :before-upload="beforeVideoUpload"
          :on-success="onVideoSuccess"
          :on-error="onUploadError"
          :on-preview="onVideoPreview"
          :limitNum="getImageFileLimit('video')"
          multiple
          drag
          :disabled="isEdit"
          >
          <label slot="trigger">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">现在您可以添加视频了或将视频拖到这里</div>
            <div class="el-upload__tip" slot="tip">单次最多可选一个视频</div>
          </label>
          <label slot="trigger" class="reset"><i class="fa fa-cloud-upload"></i>继续添加</label>
        </upload>
      </div>
      <div class="docContent" v-show="docPopover">
        <upload
          ref="docUpload"
          class="upload-video"
          :accept="getImageFileMimeTypes('doc')"
          :action="getAction('doc')"
          :on-change="onDocChange"
          :file-list="files.doc"
          :on-remove="onDocRemove"
          :before-upload="beforeDocUpload"
          :on-success="onDocSuccess"
          :on-error="onUploadError"
          icon-type="doc"
          :limitNum="getImageFileLimit('doc')"
          multiple
          drag
          :disabled="isEdit"
          >
          <label slot="trigger">
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">现在您可以添加文档了或将文档拖到这里</div>
            <div class="el-upload__tip" slot="tip">单次最多可选一个文档</div>
          </label>
          <label slot="trigger" class="reset"><i class="fa fa-cloud-upload"></i>继续添加</label>
        </upload>
      </div>
    </div>

    <blog-form
      :visible="blogFormShowCreate"
      :groupId="groupId"
      :userId="userId"
      contentId="createBlog"
      v-on:onClose="blogFormShowCreate = false"></blog-form>
    <activity-form v-if="hasCurrGroup" ref="activityForm" :groupId="groupId"></activity-form>
  </div>
</template>
<script>
  import Vue from 'vue'
  Vue.component('group-item', {
    functional: true,
    render: function (h, ctx) {
      var item = ctx.props.item
      return h('li', ctx.data, [
        h('div', { attrs: { class: 'media-object img50' } }, [
          h('div', { attrs: { class: 'media-object-section' } }, [
            h('div', { attrs: { class: 'img' } }, [
              h('img', { attrs: { alt: item.value, src: item.icon } })
            ])
          ]),
          h('div', { attrs: { class: 'media-object-section shrink' } }, [
            h('h3', { attrs: { class: 'name' } }, [item.value]),
            h('div', { attrs: { class: 'color-secondary' } }, [item.scopeName + '小组'])
          ])
        ])
      ])
    },
    props: {
      item: { type: Object, required: true }
    }
  })
  import UserBlock from '@/views/user/UserBlock'
  import PublishBase from './PublishBase'
  // import { createMediumEditor } from '@/util/mediumEditor.js'
  import Upload from '@/components/eleme/upload/src'
  import { currUser, currUserImg } from '@/store/modules/helper'
  import { rest } from '@/util'
  import { types, objTypes } from '@/store/modules/post'
  import At from '@/components/atwho/At'
  import BlogForm from '@/components/blog/BlogForm'
  import ActivityForm from '@/views/activity/ActivityForm'
  import EmojiBlock from '@/components/emoji/EmojiBlock'
  import Tag from '@/components/tag/index'
  import mark from './mark'
  import MediumEditor from '@/components/editor/MediumEditor'
  export default {
    extends: PublishBase,
    mixins: [mark],
    data () {
      return {
        content: '',
        imageToolsOptions: {
          ableTools: false
        },
        options: {
          toolbar: {
            buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
          }
        },
        isPublishing: false,
        fileType: {
          IMAGE: 'image',
          VIDEO: 'video',
          DOCUMENT: 'doc',
          OTHER: 'other'
        },
        groupSearchText: '',
        placeholderTitle: '发布到小组…',
        groupsVisible: false,
        modelType: 'normal',
        modelData: {},
        postData: {
          scope: 0,
          scopeValue: null,
          createAt: null,
          createAtType: 101,
          modelData: ''
        },
        editor: {},
        postType: 'text',
        labelPosition: 'top',
        formLabelWidth: '80px',
        blogFormShowCreate: false,
        scopeOptions: {
          '0': '组内公开',
          '1': '私密',
          '2': '公开',
          '3': '部分可见'
        },
        range: null
      }
    },
    computed: {
      currUser,
      currUserImg,
      objTypes,
      editeId () {
        if (this.item) {
          return 'editor' + this.item.id
        }
        return 'editor'
      },
      currGroup () {
        return this.$store.state.group.currItem
      },
      currGroupName () {
        return this.item ? this.item.groupName : this.currGroup.name
      }
    },
    methods: {
      publish (cb) {
        if (!this.showPublishBtn) {
          return
        }
        this.showPublishBtn = false
        this.isPublishing = true
        if (!this.postData.createAt || this.postData.createAt.length === 0) {
          this.msgWarning('请选择要发布到小组')
          this.showPublishBtn = true
          this.isPublishing = false
          return
        }
        // this.modelData.content = this.editor.getContent()
        this.modelData.content = this.content
        this.modelData.resourceFiles = this.getResourceFileList()
        let replaceContent = this.modelData.content ? this.modelData.content.replace(/(<p><br><\/p>)*/, '').replace(/(<p><\/p>)*/, '') : ''
        if ((!this.modelData.content || replaceContent.length === 0) &&
          (!this.modelData.behValue || this.modelData.behValue.length === 0) &&
          (!this.modelData.location || this.modelData.location.length === 0) &&
          this.modelData.resourceFiles.length === 0) {
          this.msgWarning('帖子还空着呢。请输入内容或附上链接、照片再发布。')
          this.showPublishBtn = true
          this.isPublishing = false
          return
        }
        this.modelData.postType = this.postType
        if (this.modelData.resourceFiles.length === 0) {
          this.modelData.postType = 'text'
        }
        this.postData.modelData = JSON.stringify(this.modelData)
        if (this.postData.id || (this.item && this.item.id)) {
          this.postData.id = this.item.id
          rest.edit('/sns/posts/' + this.postData.id, this.postData)
            .then(data => {
              this.showPublishBtn = true
              this.isPublishing = false
              // this.editor.setContent('<p><br/></p>')
              this.content = '<p><br/></p>'
              this.files.image = []
              this.files.video = []
              this.files.doc = []
              this.modelData = {...this.defModelData}
              this.cleanPubBarData()
              if (data.status === 4) {
                let title = ''
                if (this.postType === 'image') {
                  title = '照片'
                } else if (this.postType === 'doc') {
                  title = '文档'
                } else if (this.postType === 'video') {
                  title = '视频'
                }
                this.msgSuccess('正在处理' + title + '，处理完毕后，我们会给你发送通知，帖子即可查看。')
              } else if (data.status === 0) {
                this.msgSuccess('帖子已提交，正等待管理员批准。')
              } else {
                this.msgSuccess('帖子修改成功了！')
              }
              if (cb && typeof cb === 'function') {
                cb()
              }
              this.$emit('onClose')
            })
            .catch(e => {
              this.showPublishBtn = true
              this.isPublishing = false
              this.msgError('帖子修改失败了！')
              console.log('帖子修改失败了！', e)
            })
        } else {
          this.$store.dispatch(types.A_CREATE, this.postData)
            .then(data => {
              this.showPublishBtn = true
              this.isPublishing = false
              // this.editor.setContent('<p><br/></p>')
              this.content = '<p><br/></p>'
              this.files.image = []
              this.files.video = []
              this.files.doc = []
              this.modelData = {...this.defModelData}
              this.cleanPubBarData()
              this.popoverStatus(false, false, false)
              this.fontIconStatus(false, false, false)
              this.postType = 'text'
              if (data.status === 4) {
                let title = ''
                if (this.postType === 'image') {
                  title = '照片'
                } else if (this.postType === 'doc') {
                  title = '文档'
                } else if (this.postType === 'video') {
                  title = '视频'
                }
                this.msgSuccess('正在处理' + title + '，处理完毕后，我们会给你发送通知，帖子即可查看。')
              } else if (data.status === 0) {
                this.msgSuccess('帖子已提交，正等待管理员批准。')
              } else {
                this.msgSuccess('帖子发布成功了！')
              }
              if (cb && typeof cb === 'function') {
                cb()
              }
            })
            .catch(e => {
              this.showPublishBtn = true
              this.isPublishing = false
              this.msgError('发布失败了！')
              console.log('发布失败了！', e)
            })
        }
      },
      change2Text () {
        this.postType = 'text'
        this.textBtnPopover = false
        this.fontIconStatus(false, false, false)
        this.popoverStatus(false, false, false)
        this.files = {}
        this.showPublishBtn = this.hasChooseGroup || this.hasCurrGroup || this.hasCurrCreateAt
      },
//      图片相关方法----start
      imageFontIconClick () {
        this.imagePopover = true
        if (this.postType === 'text') {
          this.textBtnPopover = true
        }
        this.fontIconStatus(true, false, false)
      },
      imagePostClick () {
        if (this.postType !== 'image') {
          this.clearUploadFile()
        }
        this.postType = 'image'
        this.textBtnPopover = false
        this.fontIconStatus(true, false, false)
        this.popoverStatus(true, false, false)
        this.checkFileList(this.files.image)
      },
      imagePopoverClose () {
        this.imagePopover = false
        this.$refs.imageUpload.abort()
        this.$refs.imageUpload.clearFiles()
        this.change2Text()
      },
//      图片相关方法----end
//      文档相关方法----start
      docPostClick () {
        if (this.postType !== 'doc') {
          this.clearUploadFile()
        }
        this.postType = 'doc'
        this.fontIconStatus(false, true, false)
        this.popoverStatus(false, true, false)
        this.checkFileList(this.files.doc)
      },
      docFontIconClick () {
        this.docPopover = true
        this.fontIconStatus(false, true, false)
      },
      docPopoverClose () {
        this.docPopover = false
        this.$refs.docUpload.abort()
        this.$refs.docUpload.clearFiles()
        this.change2Text()
      },
//      文档相关方法----end
//      视频相关方法----start
      videoPostClick () {
        if (this.postType !== 'video') {
          this.clearUploadFile()
        }
        this.postType = 'video'
        this.fontIconStatus(false, false, true)
        this.popoverStatus(false, false, true)
        this.checkFileList(this.files.video)
      },
      videoFontIconClick () {
        this.videoPopover = true
        this.fontIconStatus(false, false, true)
      },
      videoPopoverClose () {
        this.videoPopover = false
        this.$refs.videoUpload.abort()
        this.$refs.videoUpload.clearFiles()
        this.change2Text()
      },
//      视频相关方法----end
      textPostClick () {
        this.postType = 'text'
        this.popoverStatus(false, false, false)
        this.fontIconStatus(false, false, false)
        this.clearUploadFile()
        this.checkFileList()
      },
      textVedioOpen () {
        this.postType = 'video'
        this.$refs.videoUpload.$children[1].handleClick()
        this.textBtnPopover = false
        this.popoverStatus(false, false, true)
        this.fontIconStatus(false, false, true)
      },
      textImageOpen () {
        this.postType = 'image'
        this.$refs.imageUpload.$children[1].handleClick()
        this.textBtnPopover = false
        this.popoverStatus(true, false, false)
        this.fontIconStatus(true, false, false)
      },
      getResourceFileList () {
        let resourceFileList = []
        let uplists = this.files[this.postType]
        if (uplists) {
          for (let fileInfo of uplists) {
            if (fileInfo.isOld) {
              resourceFileList.push(fileInfo.file)
            } else {
              resourceFileList.push(this.convert2ResourceFile(this.postType, fileInfo.response.data, fileInfo))
            }
          }
        }
        return resourceFileList
      },
      convert2ResourceFile (type, data, file) {
        let resourceFile = {}
        resourceFile.objId = data.id
        resourceFile.storeId = data.storeId
        resourceFile.name = file.name
        resourceFile.size = data.fileSize
        resourceFile.type = this.fileType[data.fileType]
        resourceFile.desc = ''
        resourceFile.tags = []
        if (data.fileExtInfo) {
          let fileExtInfo = JSON.parse(data.fileExtInfo)
          let newExtInfo = {}
          if (data.fileType === 'IMAGE') {
            newExtInfo = this.getImageExtInfo(fileExtInfo)
          } else if (data.fileType === 'VIDEO') {
            newExtInfo = this.getVideoExtInfo(fileExtInfo)
          }
          resourceFile.datas = {extInfo: newExtInfo}
        }
        if (type === 'image') {
        } else if (type === 'video') {
          resourceFile.persistentProcess = JSON.stringify(this.videoProcess)
          resourceFile.waitProcessKeys = ['mp4'] // 只有等待mp4这个处理成功完成后，才可以发布帖子
        } else if (type === 'doc') {
          resourceFile.waitProcessKeys = ['pdf', 'png'] // 只有等待pdf AND png这个处理成功完成后，才可以发布帖子
          resourceFile.persistentProcess = JSON.stringify(this.docProcess)
        }
        return resourceFile
      },
      getUploadFileList (uplists) {
        let uploadFileList = []
        if (uplists) {
          for (let fileInfo of uplists) {
            uploadFileList.push(this.convert2UploadFile(fileInfo))
          }
        }
        return uploadFileList
      },
      convert2UploadFile (file) {
        let uploadFile = {}
        uploadFile.isOld = true
        uploadFile.file = file
        uploadFile.name = file.name
        uploadFile.url = file.datas['550x'] || file.datas.url || file.datas.mp4
        uploadFile.raw = {
          lastModifiedDate: file.lastModifiedDate || Date.now(),
          size: file.size || 0
        }
        return uploadFile
      },
      getImageExtInfo (extInfo) {
        let newExtInfo = {}
        for (let item of extInfo.directories) {
          for (let key in item.tags) {
            let newKey = key.replace(/\s/g, '')
            newExtInfo[newKey] = item.tags[key]
          }
        }
        return newExtInfo
      },
      getVideoExtInfo (extInfo) {
        let newExtInfo = {}
        this.getChildren(newExtInfo, extInfo)
        return newExtInfo
      },
      getChildren (newExtInfo, extInfo) {
        for (let key in extInfo) {
          if (typeof extInfo[key] === 'object') {
            this.getChildren(newExtInfo, extInfo[key])
          } else {
            let newKey = key.replace(/\s/g, '')
            newExtInfo[newKey] = extInfo[key]
          }
        }
      },
      querySearch (queryString, cb) {
        queryString = queryString || ''
        this.loadSuggest('group', queryString, cb)
      },
      handleGroupSelect (item) {
        if (item.id) {
          this.showPublishBtn = true
          this.choosedGroup = item
          this.postData.createAt = item.id
          this.postData.scopeValue = item.id
        }
      },
      cleanPubBarData () { // 清除发布面板的数据
        this.files = {} // 清空列表
        this.showPublishBtn = this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt
        this.groupSearchText = ''
        this.choosedGroup = {}
        this.marksUsers = []
        this.modelForm = ''
        this.showModelForm = false
        this.tagType.marks = []
        this.tagType.location = []
        this.content = ''
      },
      changePlaceholderTitle (str) {
        this.placeholderTitle = str
      },
      doCommand (command, instance) {
        if (command && this[command]) {
          this[command]()
        }
      },
      undo () {
        this.msgInfo('该功能正在开发中...')
      },
      doShowBlogDialog () {
        this.blogFormShowCreate = true
      },
      doShowActivityDialog () {
        this.$refs.activityForm.formShow = true
      },
      selectScopeCommand (command) {
        this.postData.scope = parseInt(command)
        if (this.postData.scope === 3) {
          console.log('可见人员选择')
        }
      },
      setPostData (createAt, createAtType, scope, scopeValue) {
        this.postData.createAt = createAt
        this.postData.createAtType = createAtType
        this.postData.scope = scope
        this.postData.scopeValue = scopeValue
      },
      dataInit () {
        if (this.item) {
          this.textFontIconShow = this.item.model === 'normal'
          this.postData.id = this.item ? this.item.id : null
          // if (this.editor && this.editor.setContent) {
          //   this.editor.setContent(this.item.modelObject.content)
          // }
          this.content = this.item && this.item.modelObject ? this.item.modelObject.content : '<p><br/></p>'
          this.modelData = {...this.item.modelObject}
          this.postType = this.modelData.postType
          let coverFiles = this.getUploadFileList(this.modelData.resourceFiles)
          if (this.postType === 'image') {
            this.$set(this.files, 'image', coverFiles)
            this.fontIconStatus(true, false, false)
            this.popoverStatus(true, false, false)
          } else if (this.postType === 'video') {
            this.$set(this.files, 'video', coverFiles)
            this.fontIconStatus(false, false, true)
            this.popoverStatus(false, false, true)
          } else if (this.postType === 'doc') {
            this.$set(this.files, 'doc', coverFiles)
            this.fontIconStatus(false, true, false)
            this.popoverStatus(false, true, false)
          }
          if (this.item.createAtType === 101) {
            this.setPostData(this.groupId || this.item.createAt, 101, 0, this.groupId || this.item.scopeValue)
            this.showPublishBtn = true
            this.hasCurrGroup = true
          } else if (this.item.createAtType === 102) {
            this.setPostData(this.userId || this.item.createAt, 102, this.item ? this.item.scope : 2, this.userId || this.item.scopeValue)
            this.showPublishBtn = true
            this.hasCurrUser = true
          } else {
            this.setPostData(this.createAt || this.item.createAt,
              this.createAtType || this.item.createAtType,
              this.item.scope, this.item.scopeValue)
            this.showPublishBtn = true
            this.hasCurrCreateAt = true
          }
          if (this.modelData.location) {
            let location = JSON.parse(this.modelData.location)
            this.tagType.location.push(location)
          }
          if (this.modelData.marks.length) {
            this.storeNeedData({
              type: 'user',
              dataIds: this.modelData.marks
            })
              .then(users => {
                this.marksUsers = []
                for (let id of this.modelData.marks) {
                  this.marksUsers.push(users[id])
                  let user = {
                    id: id,
                    name: users[id].userName,
                    avatar_c: users[id].avatar ? users[id].avatar : require('../../assets/img/man.png')
                  }
                  this.tagType.marks.push(user)
                }
              })
          }
        } else {
          if (this.groupId) {
            this.setPostData(this.groupId, 101, 0, this.groupId)
            this.showPublishBtn = true
            this.hasCurrGroup = true
          } else if (this.userId) {
            this.setPostData(this.userId, 102, 2, this.userId)
            this.showPublishBtn = true
            this.hasCurrUser = true
          } else if (this.createAt && this.createAtType) {
            let cat = this.objTypes[this.createAtType]
            if (cat || cat === 0) {
              let scope = cat === 102 ? 2 : 0
              this.setPostData(this.createAt, cat, scope, this.createAt)
              this.showPublishBtn = true
              this.hasCurrCreateAt = true
            }
          } else {
            this.showPublishBtn = false
            this.hasCurrGroup = false
            this.hasCurrUser = false
            this.hasCurrCreateAt = false
          }
          this.modelData = {...this.defModelData}
        }
        this.content = this.item ? this.item.modelObject.content : '<p><br/></p>'
        // if (this.editor && this.editor.setContent) {
        //   this.editor.setContent(this.item ? this.item.modelObject.content : '<p><br/></p>')
        // }
      },
      uploadClipboardImage (event) {
        if (this.postType !== 'image' && this.postType !== 'text') {
          return
        }
        let items = (event.clipboardData || event.originalEvent.clipboardData).items
        let files = []
        for (let index = 0; index < items.length; index++) {
          let item = items[index]
          if (item.kind === 'file' && item.type.indexOf('image/') === 0) {
            files.push(item.getAsFile())
            // let blob = item.getAsFile()
            // let reader = new FileReader()
            // reader.onload = function (event) {
            //   console.log(event.target.result)
            // } // data url!
            // reader.readAsDataURL(blob)
          }
        }
        if (files.length > 0) {
          if (this.postType === 'text') {
            this.imagePostClick()
          }
          let uploadInner = this.$refs.imageUpload.$refs['upload-inner']
          uploadInner.uploadFiles(files)
          event.preventDefault()
          event.stopPropagation()
        }
      },
      mediumFocus () {
        this.$refs[this.editeId].mediumFocus()
      },
      insertIcon (path) {
        this.$refs[this.editeId].insertIcon(path)
        // let src = `${this.$router.options.base}static/emoji/${path}`
        // let icon = '<img src="' + src + '" data-face="' + path + '">'
        // const fn = () => {
        //   if (!this.range) {
        //     return
        //   }
        //   const r = this.range.cloneRange()
        //   if (!r) {
        //     return
        //   }
        //   r.setStart(r.endContainer, this.range.endOffset)
        //   r.setEnd(r.endContainer, this.range.endOffset)
        //   // hack: 连续两次 可以确保click后 focus回来 range真正生效
        //   this.applyRange(r)
        //   this.applyRange(r)
        //   document.execCommand('insertHtml', false, icon)
        // }
        // if (this.range) {
        //   fn()
        // } else {
        //   this.mediumFocus()
        //   fn()
        // }
      }
      // ,
      // mediumFocus () {
      //   this.$refs[this.editeId].focus()
      //   const selection = window.getSelection()
      //   if (selection && selection.rangeCount > 0) {
      //     this.range = selection.getRangeAt(0)
      //   }
      // },
      // applyRange (range) {
      //   const selection = window.getSelection()
      //   if (selection) { // 容错
      //     selection.removeAllRanges()
      //     selection.addRange(range)
      //   }
      // }
    },
    watch: {
      groupId (nv, ov) {
        if (nv) {
          this.showPublishBtn = !!this.currGroup.id
          this.postData.createAt = this.currGroup.id
          this.postData.scopeValue = this.currGroup.id
        }
      },
      item (nv, ov) {
        if (nv && ov && ov.id !== nv.id || nv && !ov) {
          this.dataInit()
        }
      }
    },
    components: {
      UserBlock,
      Upload,
      BlogForm,
      ActivityForm,
      At,
      EmojiBlock,
      Tag,
      MediumEditor
    },
    mounted () {
      // createMediumEditor((MediumEditor, MediumButton) => {
      //   const editable = document.getElementById(this.editeId)
      //   // const imgContent = document.getElementById('imgContent')
      //   const editor = new MediumEditor(editable, {
      //     placeholder: {
      //       text: '有些话适合烂在这里...',
      //       hideOnClick: true
      //     },
      //     buttonLabels: 'fontawesome',
      //     toolbar: {
      //       buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
      //     },
      //     paste: {
      //       forcePlainText: false,
      //       cleanPastedHTML: false,
      //       cleanReplacements: [],
      //       cleanAttrs: ['class', 'style', 'dir'],
      //       cleanTags: ['meta'],
      //       unwrapTags: []
      //     },
      //     anchorPreview: {
      //       showOnEmptyLinks: false
      //     },
      //     extensions: {
      //       'warning': new MediumButton({
      //         label: '<i class="color-danger fa fa-font"></i>',
      //         start: '<span style="color:#ff4949;">',
      //         end: '</span>'
      //       })
      //     }
      //   })
      //   this.editor = editor
      //   // imgPaste(editable, imgContent)
      //   if (this.editor && this.item && this.item.modelObject) {
      //     let currcon = this.item.modelObject.content || '<p><br/></p>'
      //     this.editor.setContent(currcon.replace('<p></p>', '<p><br/></p>'))
      //   }
      //   editor.subscribe('editableClick', (e) => {
      //     const selection1 = window.getSelection()
      //     if (selection1 && selection1.rangeCount > 0) {
      //       this.range = selection1.getRangeAt(0)
      //     }
      //     if (e.target.tagName.toLowerCase() === 'img') {
      //       if (e.target.parentNode.textContent) {
      //         window.getSelection().removeAllRanges()
      //         let selection = window.getSelection()
      //         let range = document.createRange()
      //         range.selectNode(e.target)
      //         selection.addRange(range)
      //       } else {
      //         this.editor.selectElement(e.target.parentNode)
      //       }
      //     }
      //     this.$refs.postAt.handleInput()
      //   })
      //   editor.subscribe('editableInput', (e) => {
      //     const selection = window.getSelection()
      //     if (selection && selection.rangeCount > 0) {
      //       this.range = selection.getRangeAt(0)
      //     }
      //   })
      //   editor.subscribe('blur', (e) => {
      //     this.$refs.postAt.inputBlur()
      //   })
      // })
      this.dataInit()
    }
    // ,
    // beforeDestroy () {
    //   if (this.editor) {
    //     this.editor.destroy()
    //   }
    // }
  }
</script>
<style>
  @import "css/variable.css";
  @import 'css/medium-editor.css';
  .publish-bar-area{
    background: #fff;
    & .el-autocomplete.inline-input.share-sign{
      width: 100%;
      border-bottom: 1px solid #eee;
      & .el-input{
        & .el-input-group__prepend{
          padding: 0 14px;
        }
        & .el-input__inner{
          height: 32px;
        }
      }
    }
  }
  .inline-input.share-sign{
    width: 100%;
    border-bottom: 1px solid #eee;
    background-color: rgb(251, 252, 252);
    & .lg-tag-box{
      margin: 0;
      & > div{
        border:none;
        border-top: 1px dotted rgb(219,221,223);
        & .lg-tag{
          margin: 4px 0 0 4px;
        }
      }
      & >span{
        padding: 0 15px;
        color: var(--color-secondary);
        align-items: center;
        display: flex;
        border-top: 1px dotted rgb(219,221,223);
        border-right: 1px dotted rgb(219, 221, 223)
      }
    }
    & .el-input{
      & .el-input-group__prepend{
        padding: 0 14px;
      }
      & .el-input__inner{
        height: 31px;
      }
    }
  }
  .publish-post-bar {
    padding: 4px 10px;
    border-bottom: 1px solid #ddd;
    & .user{
      float: left;
      &  a{
        display: block;
        overflow: hidden;
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
    & ul{
      width:calc(100% - 46px);
      display: flex;
      justify-content: center;
      position: relative;
      top: 2px;
      left: 10px;
      background: #fafafa;
      margin: 0;
      & li {
        position: relative;
        list-style: none;
        width: 20%;
        padding: 6px 0;
        text-align: center;
        opacity: 0.8;
        border-radius: 2px;
        transition: opacity .3s,background-color .3s;
        & a {
          display: block;
          text-align: center;
          & i {margin-right: 4px;}
        }
        &:hover {background: #eee;opacity: 1;}
        &.active{
          opacity: 1;
          color: var(--color-primary);
          &:before{
            content: '';
            border-bottom: 8px solid #b5adad;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            bottom: -4px;
            height: 0;
            left: 50%;
            line-height: 0;
            position: absolute;
            width: 0;
            z-index: 1;
            margin-left: -8px;
          }
          &:after{
            content: '';
            border-bottom: 8px solid #fff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            content: '';
            left: 50%;
            position: absolute;
            bottom: -5px;
            margin-left: -8px;
            z-index: 2;
          }
        }
        & .el-dropdown {width: 100%;}
      }
    }
  }
  .publish-modcon {
    & .editable{
      outline: none;
      padding:10px 1.5rem 10px 1rem;
      min-height: 38px;
      line-height: 22px;
      position: relative;
      & p{
        margin-bottom: 6px;
      }
      &:after{
        font-style: normal;
      }
      & pre{
        padding: 6px 10px;
      }
    }
    & .comment-txt{
      & .el-tooltip.item{
        font-size: 1rem;
        bottom: 16px;
      }
    }
  }
  .publish-sign-content{
    margin: 0 16px 6px;
    & div{
      display: inline-block;
      cursor: pointer;
      & > a{
        color: var(--color-blue-light);
      }
    }
    & .place-token, &.place-token:hover{
      color: var(--color-blue-light);
    }
  }
  .publish-footer {
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    & a{
      font-size: 1rem;
      display: inline-block;
      width: 35px;
      text-align: center;
    }
    & button{
      padding: 6px 22px;
      margin-right: 4px;
    }
    & .el-tooltip.item.active{
      background-color: #f2f2f2;
    }
  }
  .file-container{
    position: relative;
    min-height: 160px;
    padding:1rem;
    box-sizing: border-box;
    border-top: 1px solid #d4d4d5;
    & .title{
      font-size: 14px;
    }
    & .relative-desc{
      font-size: 12px;
      color: var(--color-secondary);
      margin: 5px 0 10px;
    }
    & .el-upload-dragger .el-icon-upload{
      font-size: 50px;
      margin: 16px 0 4px;
      line-height: 50px
    }
    & .el-upload-list__item .el-icon-close{
      top: 50%;
      margin-top: -10px;
    }
    & .el-upload-list__item-thumbnail {
      object-fit: cover;
    }
  }
  #imgContent {
    & .el-upload--picture-card{
      height: 80px;
      width: 80px;
      line-height: 80px;
      & i{
        font-size: 1rem;
      }
    }
    & .el-upload-dragger{
      height: 100%;
      width: 100%;
    }
    & .el-upload-list{
      & .el-upload-list__item{
        height: 80px;
        width: 80px;
        float: left;
      }
    }
  }
  .upload-video {
    & .el-upload-dragger{
      width: 100%;
    }
    & .el-upload-list__item-name{
      margin-right: 0;
    }
    & .el-upload {
      width: 100%;
      & .el-upload-dragger{
        height: auto;
        & label{
          &:first-child{
            display: block;
            min-height: 128px;
          }
          &:nth-child(2){
            padding: 4px;
            font-size: 14px;
            cursor: pointer;
            & i{
              margin: 2px 4px 0 0;
              color: #666;
            }
          }
        }
      }
    }
  }
  .el-popover .video-preview .music-btn{
    margin-top: -28px;
    position: absolute;
    right: 10px;
    top: 50%;
  }
  .video-preview .text-right{
    & span{
      margin:0 6px;
      cursor: pointer;
      color: var(--color-secondary);
      &:hover {
        color: color(var(--color-primary) tint(20%));
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .el-upload-list{
    & h4 {
      margin-bottom: 0;
    }
    & .docInfo{
      line-height: normal;
    }
  }
  .upload-video, .upload-doc {
    min-height: 128px;
    & .el-upload-dragger{
      & label{
        &:last-child{
          display: none;
        }
      }
    }
    &.add {
      & .el-upload {
        & .el-upload-dragger{
          & label{
            &:first-child{
              display: none;
            }
            &:last-child{
              display: block;
            }
          }
        }
      }
    }
    & .el-upload-list__item .el-progress {
      position: absolute;
      top: initial;
      bottom: -6px;
      width: 100%;
    }
  }
  .el-upload-list__item .el-icon-close + .el-icon-edit {
    display: none;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
    opacity: .75;
    color: rgb(72, 85, 106);
    transform: scale(.7);
  }
  .el-upload-list__item:hover .el-icon-edit {
    display: inline-block;
  }
  .el-upload-list--picture-card li {
    & .el-progress{
      width: 70px;
      height: 70px;
      & .el-progress-circle{
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
  .medium-editor-anchor-preview {
    background: #000000;
    border-radius: 5px;
    & a{
      margin:2px 5px;
      padding: 2px 5px;
    }
  }
  .medium-toolbar-arrow-over:after,.medium-toolbar-arrow-over:before{
    border-color: transparent transparent #0e0c0c;
        top: -6px;
  }
  .el-upload-list--picture-card .el-upload-list__item-actions{
    font-size: 1rem;
  }
  /*imgvedio*/
 .img-vedio{
   & > div {
     width: 50%;
     float: left;
     &:first-child a{
       border-right: 1px dashed #ddd;
     }
     & a{
       display: block;
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 10px 0;
       & i{
         color: #666;
         margin-right: 4px;
         font-size: 1rem;
       }
       &:hover{
         background: #eee;
       }
     }
   }
 }
 .group-autocomplete {
   margin: 0 0 5px 0;
  & li {
    line-height: normal;

    .name {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .addr {
      font-size: 12px;
      color: #b4b4b4;
    }

    .highlighted .addr {
      color: #ddd;
    }
  }
}
.publish-group {
  position: relative;
  & .el-icon-search{
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
    color: var(--color-secondary);
    left: 1rem;
    top: 50%;
    margin-top: -10px;
  }
  & .el-autocomplete{
    display: block;
    & input {
      text-indent: 2rem;
      height: 80px;
      line-height: 80px;
      font-size: 18px;
      border: none;
      outline: none;
    }
  }
}
.publish-group-selected{
  padding: 10px 1rem;
  border-bottom: 1px solid #ddd;
  position: relative;
  & h4{
    font-size: 12px;
  }
  & .cancle {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -1rem;
    font-size: 1.8rem;
    color: var(--color-secondary);
    &:hover{
      color: var(--color-primary)
    }
  }
}
  .img50 {
    margin: 0;
    padding: 4px 0;
    & .media-object-section{
      line-height: initial;
      box-sizing: border-box;
      & .img{
        width: 50px;
        height: 50px;
        background: #efefef;
        overflow: hidden;
        & img{
          border-radius: 4px;
        }
      }
      &:last-child{
        & h3{
          margin-bottom: 4px;
          white-space: nowrap;
          overflow: hidden;
          width: 178px;
          text-overflow: ellipsis;
        }
      }
    }
  }
  .relative-cog {
    & span{
      font-size: 12px;
      &.hasCurrGroup{
        color: var(--color-info);
        &:after {
          content: '·';
          font-size: 12px;
          margin: 0 6px;
        }
      }
    }
    & .el-dropdown{
      width: 60px;
      text-align: center;
      margin-right: 10px;
    }
  }
.sign-people{
    box-sizing: border-box;
    height: 30px;
    line-height: normal!important;
    display: flex;
    align-items: center;
    & span:first-child {
      display: inline-block;
      width: 24px;
      height: 24px;
      overflow: hidden;
      border-radius: 50%;
      background: #eee;
      margin-right: 4px;
    }
  }
.sign-people:hover{
    background-color: var(--color-info)!important;
  }
  .other-person{
    min-width: 55px;
    & div{
      text-align: center;
      & span{
        display: block;
        font-size: 13px;
      }
    }
  }
</style>
