<template>
</template>
<script>
  import { wrapUrl } from '@/util'
  export default {
    data () {
      return {
        defModelData: {
          contentType: 'normal',
          marks: [],
          atUsers: [],
          resourceFiles: [],
          specifyPublicUsers: [],
          behavior: null,
          behIcon: null,
          behValue: null,
          behValueIcon: null,
          location: null,
          content: null,
          postType: 'text'
        },
        choosedGroup: {},
        showPublishBtn: true,
        textBtnPopover: false,
        imagePopover: false,
        videoPopover: false,
        docPopover: false,
        textFontIconShow: true,
        imageFontIconShow: false,
        videoFontIconShow: false,
        docFontIconShow: false,
        showFileExtInfoEdit: false,
        files: {},
        server: '/zuul/file/web/upload?st=1',
        fileOptions: {
          image: {
            type: ['bmp', 'gif', 'ico', 'jpeg', 'jpg', 'png', 'tif', 'tiff'],
            mimeTypes: 'image/*',
            limitNum: 18
          },
          video: {
            type: [''],
            mimeTypes: 'video/*',
            limitNum: 1
          },
          doc: {
            type: ['doc', 'ppt', 'xls', 'pdf', 'docx', 'xlsx', 'txt', 'wps', 'pptx', 'et', 'dps'],
            mimeTypes: 'application/ocelet-stream,application/kswps,application/kset,application/ksdps,application/vnd.ms-works,application/msword,application/pdf,application/vnd.ms-powerpoint,text/plain,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.openxmlformats-officedocument.wordprocessingml.document',
            limitNum: 1
          },
          all: {
            type: [],
            mimeTypes: '*',
            limitNum: 1
          }
        },
        imageProcess: {
        },
        videoProcess: {
          fileOperations: [
            {
              key: 'mp4',
              cmd: 'avc/of,mp4/vf,scale=600:-2/acodec,aac/vcodec,h264/r,24/f,mp4',
              force: false
            }, {
              key: 'mp4_to_jpg',
              cmd: 'avc/vf,scale=600:-2/frames,1/ss,3/of,jpg',
              force: true
            }
          ]
        },
        docProcess: {
          fileOperations: [
            {
//              key: 'html',
//              cmd: 'docc/of,html/page,1-2',
//              force: true
//            }, {
//              key: 'swf',
//              cmd: 'docc/of,swf/mode,multiple/page,1-3',
//              force: true
//            }, {
              key: 'png',
              cmd: 'docc/of,png/mode,multiple/page,1',
              force: true
            }, {
              key: 'pdf',
              cmd: 'docc/of,pdf', // /mode,multiple/page,1-2-3-4-5',
              force: true
            }
          ]
        },
        fileType: {
          IMAGE: 'image',
          VIDEO: 'video',
          DOCUMENT: 'doc',
          OTHER: 'other'
        },
        videoForm: {
          name: '',
          date: '',
          desc: '',
          usrname: ''
        },
        hasCurrGroup: false,
        hasCurrUser: false,
        hasCurrCreateAt: false
      }
    },
    props: {
      createAt: String,
      createAtType: String, // user,group,activity.....
      groupId: String,
      userId: String,
      item: Object,
      isEdit: {
        type: Boolean,
        default: false
      }
    },
    computed: {
      hasChooseGroup () {
        return !!this.choosedGroup.id
      },
      countImages () {
        return this.files.image ? this.files.image.length : 0
      },
      allProcess () {
        return {
          fileOperations: [
            ...this.docProcess.fileOperations,
            ...this.videoProcess.fileOperations
          ]
        }
      }
    },
    methods: {
      getAction (type) {
        if (type === 'image') {
          return wrapUrl(this.server) // + '&persistentProcess=' + encodeURIComponent(JSON.stringify(this.imageProcess))
        } else if (type === 'video') {
          return wrapUrl(this.server) + '&persistentProcess=' + encodeURIComponent(JSON.stringify(this.videoProcess))
        } else if (type === 'doc') {
          return wrapUrl(this.server) + '&persistentProcess=' + encodeURIComponent(JSON.stringify(this.docProcess))
        } else {
          return wrapUrl(this.server) + '&persistentProcess=' + encodeURIComponent(JSON.stringify(this.allProcess))
        }
      },
      getFileOptions (type) {
        return this.fileOptions[type] || this.fileOptions.all
      },
      getImageFileMimeTypes (type) {
        return this.getFileOptions(type).mimeTypes
      },
      getImageFileLimit (type) {
        return this.getFileOptions(type).limitNum
      },
      // Image 上传start
      onImagePreview (file) {
        console.log('onImagePreview', file)
      },
      onImageProgress (event, file, fileList) {
        console.log('onImageProgress', event, file, fileList)
      },
      onImageChange (file, fileList) {
        console.log('onImageChange', file, fileList)
      },
      onImageRemove (file, fileList) {
        this.$set(this.files, 'image', fileList)
        this.checkFileList(fileList)
      },
      onTransposal (fileList) {
        this.$set(this.files, 'image', fileList)
      },
      beforeImageUpload (file) {
        if (!this.beforeUpload(file, 'image')) {
          return false
        }
      },
      onImageSuccess (response, file, fileList) {
        this.onSuccess('image', response, file, fileList)
      },
      // image 上传end
      // Video 上传start
      onVideoPreview (file) {
        console.log('onVideoPreview', file)
      },
      onVideoProgress (event, file, fileList) {
        console.log('onVideoProgress', event, file, fileList)
      },
      onVideoChange (file, fileList) {
        console.log('onVideoChange', file, fileList)
      },
      onVideoRemove (file, fileList) {
        this.$set(this.files, 'video', fileList)
        this.checkFileList(fileList)
      },
      beforeVideoUpload (file) {
        if (!this.beforeUpload(file, 'video')) {
          return false
        }
      },
      onVideoSuccess (response, file, fileList) {
        this.onSuccess('video', response, file, fileList)
      },
      // Video 上传end
      // Document 上传start
      onDocPreview (file) {
        console.log('onDocPreview', file)
      },
      onDocProgress (event, file, fileList) {
        console.log('onDocProgress', event, file, fileList)
      },
      onDocChange (file, fileList) {
        console.log('onDocChange', file, fileList)
      },
      onDocRemove (file, fileList) {
        this.$set(this.files, 'doc', fileList)
        this.checkFileList(fileList)
      },
      beforeDocUpload (file) {
        if (!this.beforeUpload(file, 'doc')) {
          return false
        }
      },
      onDocSuccess (response, file, fileList) {
        this.onSuccess('doc', response, file, fileList)
      },
      // Document 上传end
      // 上传共用方法
      clearUploadFile () {
        if (this.files.image) {
          this.$refs.imageUpload.clearFiles()
        }
        if (this.files.video) {
          this.$refs.videoUpload.clearFiles()
        }
        if (this.files.doc) {
          this.$refs.docUpload.clearFiles()
        }
        this.files = {}
      },
      getAccept (type) {
        let arr = this.getFileOptions(type).type
        let accept
        if (arr && arr.length) {
          accept = '\\.' + arr.join(',')
            .replace(/,/g, '$|\\.')
            .replace(/\*/g, '.*') + '$'
        }
        accept = new RegExp(accept, 'i')
        return accept
      },
      getMimeTypesAccept (type) {
        let arr = [this.getFileOptions(type).mimeTypes]
        let accept = '.*'
        if (arr && arr.length) {
          accept = arr.join(',')
          accept = accept.replace(/,/g, '|').replace(/\*/g, '.*')
        }
        accept = new RegExp(accept, 'i')
        return accept
      },
      acceptFile (file, type) {
        let rExt = /\.\w+$/
        let accept = this.getAccept(type)
        let mimeTypesAccept = this.getMimeTypesAccept(type)
        // 如果名字中有后缀，才做后缀白名单处理。
        let invalid = !file || !file.size || accept && rExt.exec(file.name) && !accept.test(file.name)
        invalid = invalid && !mimeTypesAccept.test(file.type)
        console.log('fileType', file.type)
        return !invalid
      },
      beforeUpload (file, type) {
        this.showPublishBtn = (this.hasChooseGroup || this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt) && false
        if (this.acceptFile(file, type)) {
          this.textBtnPopover = false
          return true
        }
        this.msgError('哎啊，文件格式错误啦!')
        this.showPublishBtn = (this.hasChooseGroup || this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt) && true
        return false
      },
      onUploadError (err, file, fileList) {
        this.msgError('“' + file.name + '”文件上传失败，请稍后再试！')
        console.log(err)
        this.checkFileList(fileList)
      },
      onSuccess (type, response, file, fileList) {
//        console.log(fileList)
        this.$set(this.files, type, fileList)
        if (response.status === 200 && response.data.ret === 0) {
          this.showPublishBtn = (this.hasChooseGroup || this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt) && true
        } else {
          this.showPublishBtn = (this.hasChooseGroup || this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt) && false
        }
      },
      checkFileList (list) {
        let fileList = list || []
        let hasNotSuccess = false
        for (let forFile of fileList) {
          if (!(forFile.response.status === 200 && forFile.response.data.ret === 0)) {
            hasNotSuccess = true
            break
          }
        }
        if (hasNotSuccess) {
          this.showPublishBtn = (this.hasChooseGroup || this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt) && false
        } else {
          this.showPublishBtn = (this.hasChooseGroup || this.hasCurrGroup || this.hasCurrUser || this.hasCurrCreateAt) && true
        }
      },
      // bar按钮切换时，上传框和图标变化
      fontIconStatus (img, doc, video) {
        this.imageFontIconShow = img
        this.docFontIconShow = doc
        this.videoFontIconShow = video
        if (!(img || doc || video)) {
          this.textFontIconShow = true
        } else {
          this.textFontIconShow = false
        }
      },
      popoverStatus (img, doc, video) {
        this.imagePopover = img
        this.docPopover = doc
        this.videoPopover = video
      }
    }
  }
</script>
