<template>
  <el-dialog
    class="share-dialog"
    :visible.sync="shareFormShow"
    @close="closeClear"
    :id="shareFormShow ? 'atDialogOpen' : ''">
    <div class="share-title" slot="title">
      <el-select v-model="shareAtScope" :placeholder="dialogType + '选项'" size="mini" @change="changeItem">
        <el-option
          v-for="item in shareOptions"
          :key="item.value"
          :label="dialogType + item.label"
          :value="item.value">
        </el-option>
      </el-select>
    </div>
    <el-autocomplete
      class="inline-input share-select"
      v-model="selectGroupName"
      :fetch-suggestions="groupSearch"
      placeholder="请选择小组"
      @select="handleSelect"
      v-if="!scope">
      <template slot="prepend">{{dialogType}}到小组</template>
    </el-autocomplete>
    <div class="publish-modcon">
      <at ref="shareAt"
          name-key="name">
        <div class="shareEditable" :ref="shareFormId" :id="shareFormId"></div>
      </at>
      <label class="color-secondary"><i v-if="isOutSize" class="fa fa-exclamation-circle color-warning"></i><span
        :class="isOutSize ? 'color-warning': ''">{{currDescSize}}</span>/{{descMaxSize}}</label>
      <el-tooltip class="item" effect="dark" content="表情~" placement="top-start">
        <emoji-block tagName="span" :addFace="insertIcon"><i class="fa fa-smile-o"></i></emoji-block>
      </el-tooltip>
    </div>
    <div class="publish-sign-content" v-if="marksUsers.length || (modelData.location && modelData.location)">
      —
      <span v-if="marksUsers.length"> 和
        <user-block v-for="(itemUser, index) in getMarksUsers" :key="itemUser.id" tagName="div" :user="itemUser">
          <router-link :to="{ name: 'user', params: { userId: itemUser.id }}"
                       :title="itemUser.name || itemUser.userName">
            {{index > 0 ? ',' : ''}}{{itemUser.name || itemUser.userName}}
          </router-link>
        </user-block>
        <el-tooltip effect="dark" placement="top" v-if="marksUsers.length > maxMarksSize">
          <div slot="content" v-html="getOthersMarks">张张三<br>李四<br>王五</div>
          <div @click="toggleModelForm('marks', '你希望标记谁', '和')">其他{{marksUsers.length - 1}}位用户</div>
        </el-tooltip>
      </span>
      <span v-if="modelData.location"> 在 <a class="place-token" :alt="tagType.location[0].name"
                                            v-text="tagType.location[0].name"
                                            @click="toggleModelForm('location', '你在哪里？', '在')">福州软件园</a></span>
    </div>
    <el-card>
      <card-item v-if="compoundCardItem && compoundCardItem.item" :card-data="compoundCardItem"></card-item>
    </el-card>
    <tag
      v-if="showModelForm"
      class="inline-input share-sign"
      v-model="tagType[modelForm]"
      :recTags="[]"
      :tag-read-only="modelForm !== 'location'"
      :auto-complete="true"
      :fetch-suggestions="markQuerySearch"
      :max-tags-size="modelForm === 'location' ? 1 : 0"
      :trigger-on-focus="true && modelForm !== 'location'"
      :props="objectProps"
      :popoverWidth="551">
      <template slot="prepend" v-if="modelFormPrepend"><span>{{modelFormPrepend}}</span></template>
    </tag>
    <div slot="footer" class="share-footer clearfix">
      <div class="footer-tools float-left" v-if="shareType !== 'reprint'">
        <el-tooltip class="item" :class="{active:modelForm==='marks' || marksUsers.length}" effect="dark"
                    content="标记你想标记的人~" placement="top-start">
          <span @click="toggleModelForm('marks', '你希望标记谁', '和')"><i class="fa fa-user-plus"
                                                                    aria-hidden="true"></i></span>
        </el-tooltip>
        <el-tooltip class="item" :class="{active:modelForm==='location' || modelData.location}" effect="dark"
                    content="分享你的位置~" placement="top-start">
          <span @click="toggleModelForm('location', '你在哪里？', '在')"><i class="fa fa-map-marker"></i></span>
        </el-tooltip>
        <!--<el-tooltip class="item" :class="{active:modelForm==='behavior'}" effect="dark" content="分享你的心情~" placement="top-start">-->
        <!--<span @click="toggleModelForm('behavior','分享感受或活动…')"><i class="fa fa-smile-o"></i></span>-->
        <!--</el-tooltip>-->
      </div>
      <div class="footer-btn float-right">
        <!--权限选择-->
        <el-select v-model="scope" v-if="scope" placeholder="谁能看到这些内容" size="mini">
          <el-option
            v-for="item in jurOptions"
            :key="item.jurValue"
            :label="item.jurLabel"
            :value="item.jurValue"
            v-if="item.jurValue">
          </el-option>
        </el-select>
        <el-button size="small" @click="shareFormShow = false">取消</el-button>
        <el-button :disabled="showPublishBtn" :loading="!isComplete" @click="publish" type="primary" size="small">发布
        </el-button>
      </div>
    </div>
  </el-dialog>
</template>
<script>
  import { gatherContentImages } from '@/components/comment'
  import { createMediumEditor } from '@/util/mediumEditor.js'
  import { types, shareFormShow } from '@/store/modules/share'
  import { rest } from '@/util'
  import CardItem from '../../components/feedcards/CardItem'
  import { currUser, currUserImg } from '@/store/modules/helper'
  import EmojiBlock from '@/components/emoji/EmojiBlock'
  import At from '@/components/atwho/At'
  import UserBlock from '@/views/user/UserBlock'
  import Tag from '@/components/tag/index'
  import mark from './mark'

  export default {
    mixins: [mark],
    components: {
      CardItem,
      EmojiBlock,
      At,
      UserBlock,
      Tag
    },
    props: {
      shareFormId: {
        type: String,
        default: 'editor'
      },
      dialogType: {
        type: String,
        default: '分享'
      }
    },
    computed: {
      currUser,
      currUserImg,
      shareFormShow,
      formData () {
        return this.$store.state.share.shareFormData
      },
      dataFrom () {
        return this.formData.from
      },
      compoundCardItem () {
        if (typeof this.formData.item === 'undefined') {
          return
        }
        let cardItem = {
          type: 'post',
          item: {}
        }
        if (this.dataFrom === 'feed' || this.dataFrom === 'detail') {
          let item = this.formData.item
          this.currPostId = item.objId
          this.currPostFeedId = item.id
          cardItem.item = JSON.parse(JSON.stringify(item))
          if (item.objType === 'POST') {
            if (item.objContent) {
              let modelObject = item.objContent.modelObject ? item.objContent.modelObject : item.objContent
              if (modelObject.contentType === 'normal') { // 普通帖子类型，包含：文本、图片、视频
                let postType = modelObject.postType
                if (postType === 'image') {
                  cardItem.type = postType
                } else if (postType === 'video') {
                  cardItem.type = postType
                } else if (postType === 'doc') {
                  cardItem.type = postType
                }
                this.currPostType = 'post'
              } else if (modelObject.contentType === 'share') {
                this.currPostType = 'post'
                cardItem.type = 'post'
                cardItem.item = JSON.parse(JSON.stringify(item.objContent.shareObj))
                let objItem = JSON.parse(JSON.stringify(item.objContent.shareObj))
                if (modelObject.refObjType === 1 || modelObject.refObjType === 2 || modelObject.refObjType === 3) {
                  let currType = this.$store.state.post.objTypeName[modelObject.refObjType]
                  cardItem.type = currType === 'document' ? 'doc' : currType
                  let rsList = objItem.objContent.modelObject.resourceFiles || []
                  if (objItem.objContent.modelObject.contentType === 'blog' || objItem.objContent.modelObject.contentType === 'reprint') {
                    rsList = rsList.concat(this.gatherContentImages(objItem.objContent.modelObject.content))
                  }
                  objItem.objContent.modelObject.content = ''
                  objItem.objContent.modelObject.resourceFiles = rsList.filter(f => f.rsId === modelObject.refObjId)
                  objItem.shareAttachment = true
                  objItem.shareAttachmentType = modelObject.refObjType
                  cardItem.item = objItem
                } else if (modelObject.refObjType === 101) {
                  cardItem.type = 'group'
                } else if (modelObject.refObjType === 6) {
                  cardItem.type = 'blog'
                } else if (modelObject.refObjType === 13) {
                  cardItem.type = 'reprint'
                } else if (modelObject.refObjType === 5) {
                  cardItem.type = 'activity'
                }
                if (modelObject.hasQuote) {
                  if (objItem.objContent.modelObject.contentType === 'normal' && objItem.objContent.modelObject.postType === 'doc') {
                    cardItem.item.shareAttachment = true
                  }
                  cardItem.item.colExtContent = modelObject.quote
                  cardItem.item.refObjId = modelObject.refObjId
                  cardItem.item.shareContent = modelObject.content
                  cardItem.item.currPostUserId = item.userId
                  this.modelData.quote = modelObject.quote
                  this.modelData.hasQuote = true
                  cardItem.type = 'quote'
                }
              } else if (modelObject.contentType === 'activity' || modelObject.contentType === 'blog' || modelObject.contentType === 'reprint') {
                this.currPostType = modelObject.contentType === 'blog' ? 'blog' : 'post'
                cardItem.type = modelObject.contentType
              }
            }
          }
        } else if (this.dataFrom === 'favorite') {
          let item = this.formData.item
          this.currPostId = item.objId
          this.currPostFeedId = item.id
          cardItem.item = JSON.parse(JSON.stringify(item))
          if (item.objType === 'POST') {
            if (item.objContent) {
              let modelObject = item.objContent.modelObject ? item.objContent.modelObject : item.objContent
              if (modelObject.contentType === 'normal') { // 普通帖子类型，包含：文本、图片、视频
                let postType = modelObject.postType
                if (postType === 'image') {
                  cardItem.type = postType
                } else if (postType === 'video') {
                  cardItem.type = postType
                } else if (postType === 'doc') {
                  cardItem.type = postType
                }
                this.currPostType = 'post'
              } else if (modelObject.contentType === 'share') {
                this.currPostType = 'post'
                cardItem.type = 'post'
                cardItem.item = JSON.parse(JSON.stringify(item.objContent.shareObj))
                let objItem = JSON.parse(JSON.stringify(item.objContent.shareObj))
                if (modelObject.refObjType === 1 || modelObject.refObjType === 2 || modelObject.refObjType === 3) {
                  let currType = this.$store.state.post.objTypeName[modelObject.refObjType]
                  cardItem.type = currType === 'document' ? 'doc' : currType
                  let rsList = objItem.objContent.modelObject.resourceFiles || []
                  if (objItem.objContent.modelObject.contentType === 'blog' || objItem.objContent.modelObject.contentType === 'reprint') {
                    rsList = rsList.concat(this.gatherContentImages(objItem.objContent.modelObject.content))
                  }
                  objItem.objContent.modelObject.content = ''
                  objItem.objContent.modelObject.resourceFiles = rsList.filter(f => f.rsId === modelObject.refObjId)
                  objItem.shareAttachment = true
                  objItem.shareAttachmentType = modelObject.refObjType
                  cardItem.item = objItem
                } else if (modelObject.refObjType === 101) {
                  cardItem.type = 'group'
                } else if (modelObject.refObjType === 6) {
                  cardItem.type = 'blog'
                } else if (modelObject.refObjType === 13) {
                  cardItem.type = 'reprint'
                } else if (modelObject.refObjType === 13) {
                  cardItem.type = 'reprint'
                } else if (modelObject.refObjType === 0 && objItem.objContent.modelObject.contentType === 'activity' || modelObject.refObjType === 5) {
                  cardItem.type = 'activity'
                }
              } else if (modelObject.contentType === 'activity' || modelObject.contentType === 'blog' || modelObject.contentType === 'reprint') {
                this.currPostType = modelObject.contentType === 'blog' ? 'blog' : 'post'
                cardItem.type = modelObject.contentType
              }
            }
          }
          let resourceFiles = item.objContent.modelObject.resourceFiles
          if (item.collectType === 2) {
            this.currPostType = 'image'
            cardItem.type = 'image'
            this.currPostId = resourceFiles[0].rsId
            cardItem.item.objId = this.currPostId
            cardItem.item.belongId = item.objId
            cardItem.item.belongType = item.objContent.modelObject.contentType
          } else if (item.collectType === 3) {
            this.currPostType = 'video'
            cardItem.type = 'video'
            this.currPostId = resourceFiles[0].rsId
            cardItem.item.objId = this.currPostId
            cardItem.item.belongId = item.objId
            cardItem.item.belongType = item.objContent.modelObject.contentType
          } else if (item.collectType === 4) {
            this.currPostType = 'document'
            cardItem.type = 'doc'
            this.currPostId = resourceFiles[0].rsId
            cardItem.item.objId = this.currPostId
            cardItem.item.belongId = item.objId
            cardItem.item.belongType = item.objContent.modelObject.contentType
          }
          if (this.formData.item.hasQuote) {
            if (item.sourceType === 3) {
              cardItem.item.shareAttachment = true
            }
            this.modelData.quote = this.formData.item.colExtContent
            this.modelData.hasQuote = true
            cardItem.type = 'quote'
          }
        } else if (this.dataFrom === 'reprint') {
          this.currPostType = 'reprint'
          cardItem.type = 'reprint'
          cardItem.item = JSON.parse(JSON.stringify(this.formData.item))
        } else if (this.dataFrom === 'preview') {
          this.currPostType = this.formData.type === 'doc' ? 'document' : this.formData.type
          this.currPostId = this.formData.item.objId
          this.currPostFeedId = this.formData.item.id
          cardItem.type = this.formData.type
          cardItem.item = JSON.parse(JSON.stringify(this.formData.item))
        } else if (this.dataFrom === 'group') {
          this.currPostType = 'group'
          cardItem.type = 'group'
          this.currPostId = this.formData.item.id
          this.currPostFeedId = null
          cardItem.item = JSON.parse(JSON.stringify(this.formData.item))
        } else if (this.dataFrom === 'annotator') {
          if (this.formData.type === 'quote') {
            this.currPostType = 'post'
            let modelObject = this.formData.item.objContent ? this.formData.item.objContent.modelObject : {}
            if (modelObject && modelObject.contentType === 'blog') {
              this.currPostType = 'blog'
            }
            cardItem.type = this.formData.type
            cardItem.item = JSON.parse(JSON.stringify(this.formData.item))
            if (modelObject && modelObject.contentType === 'normal' && modelObject.postType === 'doc') {
              cardItem.item.shareAttachment = true
            }
            this.modelData.quote = this.formData.item.colExtContent
            this.modelData.hasQuote = true
            this.currPostId = this.formData.item.objId
            this.currPostFeedId = this.formData.item.id
            this.itemCallBack = this.formData.item.callback
          }
        } else if (this.dataFrom === 'activity') {
          cardItem.item = JSON.parse(JSON.stringify(this.formData.item))
          this.currPostType = this.dataFrom
          this.currPostId = this.formData.item.objId
          this.currPostFeedId = null
          cardItem.type = this.formData.type
        }
        return cardItem
      },
      modelObject () {
        return this.formData.item ? (this.formData.item.objContent.modelObject ? this.formData.item.objContent.modelObject : this.formData.item.objContent) : {}
      },
      shareType () {
        let type = 'post'
        if (this.formData.type.toLowerCase() === 'group') {
          type = 'group'
        } else if (this.formData.type.toLowerCase() === 'post') {
          type = 'post'
          if (this.modelObject.contentType === 'blog') {
            type = 'blog'
          } else if (this.modelObject.contentType === 'reprint') {
            type = 'reprint'
          }
        } else {
          type = this.formData.type.toLowerCase() === 'doc' ? 'document' : this.formData.type.toLowerCase()
          if (type === 'quote') {
            type = 'post'
          }
        }
        return type
      }
    },
    data () {
      return {
        currPostId: null, // url上的ID，即分享的帖子的ID
        currPostFeedId: null,
        currPostType: 'post', // url上的类型
        selectGroupName: '',
        timeout: null,
//        分享选项
        shareOptions: [{
          value: 'timeLine',
          label: '到你的时间线'
        }, {
          value: 'groups',
          label: '到小组'
//        }, {
//          value: 'active',
//          label: '到活动'
        }],
        shareAtScope: 'groups',
//        权限选项
        jurOptions: [{
          jurValue: 0,
          jurLabel: '小组内成员可见'
        }, {
          jurValue: 1,
          jurLabel: '仅限自己可见'
        }, {
          jurValue: 2,
          jurLabel: '所有人可见'
//        }, {
//          jurValue: 3,
//          jurLabel: '部分成员可见'
        }],
        scope: 0,
        showPublishBtn: true,
        isComplete: true,
        editor: null,
        files: {},
        modelType: 'normal',
        postType: 'text',
        defModelData: {
          contentType: 'normal',
          marks: [],
          atUsers: [],
          resourceFiles: [],
          specifyPublicUsers: [],
          behavior: null,
          behIcon: null,
          behValue: null,
          behValueIcon: null,
          location: null,
          content: null,
          postType: 'text'
        },
        postData: {
          scope: 0,
          scopeValue: null,
          createAt: null,
          createAtType: 101,
          modelData: ''
        },
        range: null,
        itemCallBack: () => {},
        descMaxSize: 2000,
        currDescSize: 0,
        isOutSize: false
      }
    },
    methods: {
      gatherContentImages,
      publish () {
        if (this.scope !== 0) {
          this.postData.scope = this.scope
          this.postData.scopeValue = this.currUser.id
          this.postData.createAt = this.currUser.id
          this.postData.createAtType = 102
          this.showPublishBtn = false
        } else {
          this.showPublishBtn = true
          this.scope = 0
          this.postData.scope = 0
          this.postData.createAtType = 101
        }
        this.modelData.contentType = this.modelType
        let ext = {'feedId': this.currPostFeedId}
        this.modelData.ext = ext
        if (this.shareType !== 'post' && this.shareType !== 'group') {
          this.modelData.resourceFiles = this.formData.item.objContent.modelObject.resourceFiles
        }
        this.modelData.belongId = this.formData.item.belongId || null
        this.modelData.belongType = this.formData.item.belongType || null
        let url = '/sns/posts/share/' + this.currPostType + '/' + this.currPostId
        if (this.currPostType === 'reprint') {
          this.modelData = {...this.modelData, ...this.formData.item.objContent.modelObject}
//          delete this.modelData.cover
          url = `/sns/reprint/${this.formData.item.objContent.modelObject.type}`
        }
        this.doPublish(url, this.modelData.resourceFiles, this.publishAfter)
      },
      doPublish (url, resourceFilsList, successCallback) {
        if (!this.isComplete) {
          return
        }
        this.showPublishBtn = false
        if (this.postData.createAt === null || this.postData.createAt.length === 0) {
          this.msgWarning('请选择要发布到的位置')
          this.showPublishBtn = true
          return
        }
        if (this.isOutSize) {
          this.msgWarning('内容已超出' + this.descMaxSize + '字！')
          this.$refs[this.shareFormId].focus()
          this.showPublishBtn = true
          return
        }
        if (this.shareType === 'reprint') {
          this.modelData.desc = this.editor.getContent()
        } else {
          this.modelData.content = this.editor.getContent()
        }
        this.modelData.resourceFiles = !resourceFilsList ? [] : resourceFilsList
        this.modelData.postType = this.postType
        if (this.modelData.resourceFiles.length === 0) {
          this.modelData.postType = 'text'
        }
        this.postData.modelData = JSON.stringify(this.modelData)
        this.isComplete = false
        rest.create(url, this.postData)
          .then(data => {
            if (data.status === 4) {
              let title = ''
              if (this.postType === 'image') {
                title = '照片'
              } else if (this.postType === 'doc') {
                title = '文档'
              } else if (this.postType === 'video') {
                title = '视频'
              }
              this.msgSuccess('正在处理' + title + '，处理完毕后，我们会给你发送通知，分享帖子即可查看。')
            } else if (data.status === 0) {
              this.msgSuccess('分享已提交，正等待管理员批准。')
            } else {
              this.msgSuccess('分享成功了！')
            }
            if (this.itemCallBack) {
              this.itemCallBack(data)
            }
            this.showPublishBtn = true
            this.isComplete = true
            this.editor.setContent('')
            this.files.image = []
            this.files.video = []
            this.files.doc = []
            this.modelData = {...this.defModelData}
            if (successCallback) {
              successCallback()
            }
            return data
          })
          .catch(e => {
            this.showPublishBtn = false
            this.isComplete = true
            if (e.status >= 1000) {
              let msg = e.message.replace(/(.*?)[Exception: ](.*?)/g, '$2')
              this.msgError(msg)
            } else {
              this.msgError('分享失败')
            }
            console.log('分享失败：', e)
          })
      },
      publishAfter () {
        this.editor.setContent('')
        this.shareFormShow = false
        this.shareAtScope = 'groups'
        this.scope = 0
        this.showModelForm = false
        this.selectGroupName = ''
        this.itemCallBack = () => {}
      },
      groupSearch (queryString, cb) {
        queryString = queryString || ''
        this.loadSuggest('group', queryString, cb)
      },
      handleSelect (item) {
        if (item && item.id && this.scope === 0) {
          this.postData.createAt = item.id
          this.postData.scopeValue = item.id
          this.showPublishBtn = false
        }
      },
      changeItem (nv) {
        console.log('改变类型：', nv)
        if (nv === 'timeLine') {
          this.scope = 2
          this.showPublishBtn = false
        } else {
          this.showPublishBtn = true
          this.scope = 0
        }
      },
      closeClear () {
        this.modelForm = ''
        this.showModelForm = false
        this.currPostFeedId = null
        this.currPostType = ''
        this.currPostId = null
        this.marksUsers = []
        this.tagType.marks = []
        this.tagType.location = []
        this.showPublishBtn = true
        this.editor.setContent('<p><br/></p>')
        this.modelData = {...this.defModelData}
        if (this.groupId) {
          this.postData.modelData = ''
          this.postData.createAt = this.currGroup.id
          this.postData.scopeValue = this.currGroup.id
        } else {
          this.postData.modelData = ''
          this.postData.createAt = null
          this.postData.scopeValue = null
          this.postData.scope = 0
          this.postData.createAtType = 101
          this.shareAtScope = 'groups'
          this.selectGroupName = ''
          this.scope = 0
        }
        setTimeout(() => {
          this.$store.commit(types.M_CHANGE_SHARE_FORM_DATA, {from: '', type: ''})
        }, 200)
      },
      mediumFocus () {
        this.$refs[this.shareFormId].focus()
        const selection = window.getSelection()
        if (selection && selection.rangeCount > 0) {
          this.range = selection.getRangeAt(0)
        }
      },
      insertIcon (path) {
        let src = `${this.$router.options.base}static/emoji/${path}`
        let icon = '<img src="' + src + '" data-face="' + path + '">'
        const fn = () => {
          const r = this.range.cloneRange()
          r.setStart(r.endContainer, this.range.endOffset)
          r.setEnd(r.endContainer, this.range.endOffset)
          // hack: 连续两次 可以确保click后 focus回来 range真正生效
          this.applyRange(r)
          this.applyRange(r)
          document.execCommand('insertHtml', false, icon)
        }
        if (this.range) {
          fn()
        } else {
          this.mediumFocus()
          fn()
        }
      },
      applyRange (range) {
        const selection = window.getSelection()
        if (selection) { // 容错
          selection.removeAllRanges()
          selection.addRange(range)
        }
      },
      countByteSize (words) {
        let sTotal = 0
        let iTotal = 0
        let eTotal = 0
        for (var i = 0; i < words.length; i++) {
          var c = words.charAt(i)
          if (c.match(/[\u4e00-\u9fa5]/)) {
            iTotal++
          }
        }
        for (i = 0; i < words.length; i++) {
          let c = words.charAt(i)
          if (c.match(/[^\x00-\xff]/)) {
            sTotal++
          } else {
            eTotal++
          }
        }
        return iTotal * 2 + (sTotal - iTotal) * 2 + eTotal
      },
      getCurrContentSize () {
        var tempDom = document.createElement('div')
        tempDom.innerHTML = this.editor.getContent()
        let byteCount = this.countByteSize(tempDom.innerText.trim())
        var currds = parseInt(byteCount / 2) + parseInt(byteCount % 2)
        let images = tempDom.getElementsByTagName('IMG')
        currds = currds + images.length
        let atwhos = tempDom.getElementsByClassName('atwho-query')
        if (atwhos && atwhos.length > 0) {
          for (let atwho of atwhos) {
            currds = currds + atwho.getAttribute('data-datas').length
          }
        }
        this.currDescSize = currds
        if (this.currDescSize > this.descMaxSize) {
          this.isOutSize = true
        } else {
          this.isOutSize = false
        }
      }
    },
    watch: {
      shareFormShow (nv) {
        if (nv && !this.editor) {
          this.$nextTick(() => {
            createMediumEditor((MediumEditor, MediumButton) => {
              const edit = document.getElementById(this.shareFormId)
              const editor = new MediumEditor(edit, {
                placeholder: {
                  text: '有些话适合烂在这里...',
                  hideOnClick: true
                },
                buttonLabels: 'fontawesome',
                toolbar: {
                  buttons: ['h2', 'h3', 'underline', 'bold', 'italic', 'quote', 'anchor', 'warning', 'pre']
                },
                paste: {
                  forcePlainText: false,
                  cleanPastedHTML: false,
                  cleanReplacements: [],
                  cleanAttrs: ['class', 'style', 'dir'],
                  cleanTags: ['meta'],
                  unwrapTags: []
                },
                anchorPreview: {
                  showOnEmptyLinks: false
                },
                extensions: {
                  'warning': new MediumButton({
                    label: '<i class="color-danger fa fa-font"></i>',
                    start: '<span style="color:#ff4949;">',
                    end: '</span>'
                  })
                }
              })
              this.editor = editor
              editor.subscribe('editableClick', (e) => {
                const selection1 = window.getSelection()
                if (selection1 && selection1.rangeCount > 0) {
                  this.range = selection1.getRangeAt(0)
                }
                if (e.target.tagName.toLowerCase() === 'img') {
                  if (e.target.parentNode.textContent) {
                    window.getSelection().removeAllRanges()
                    let selection = window.getSelection()
                    let range = document.createRange()
                    range.selectNode(e.target)
                    selection.addRange(range)
                  } else {
                    this.editor.selectElement(e.target.parentNode)
                  }
                }
                this.$refs.shareAt.handleInput()
              })
              editor.subscribe('editableInput', (e) => {
                const selection = window.getSelection()
                if (selection && selection.rangeCount > 0) {
                  this.range = selection.getRangeAt(0)
                }
                this.getCurrContentSize()
              })
              editor.subscribe('editableMouseover', (e) => {
                if (e.target.tagName.toLowerCase() === 'img') {
                  let range = document.createRange()
                  range.selectNode(e.target)
                }
              })
              editor.subscribe('blur', (e) => {
                this.$refs.shareAt.inputBlur()
                this.getCurrContentSize()
              })
              this.editor.setContent('<p><br/></p>')
            })
          })
        }
      }
    },
    mounted () {
      this.modelData = {...this.defModelData}
      this.modelType = 'share'
    },
    beforeDestroy () {
      if (this.editor) {
        this.editor.destroy()
      }
    }
  }
</script>
<style>
  @import 'css/variable.css';
</style>
