<template>
  <div class="article-body">
    <div v-if="item.modelObject.content&&item.modelObject.content.replace('<p></p>','').length>0" v-html="item.modelObject.content" class="article-section">
      <p>真心不错，很有生活情趣</p>
      <p>住在这种童话的小木屋里是小时候就有的梦想</p>
    </div>
    <div class="article-section">
      <el-card v-if="formData && formData.item">
        <card-item :card-data="formData"></card-item>
      </el-card>
    </div>
    <mark-info :modelObject="modelObject"></mark-info>
  </div>
</template>
<script>
  import CardItem from '@/components/feedcards/CardItem'
  import MarkInfo from './MarkInfo'
  import { gatherContentImages } from '@/components/comment'
  export default {
    components: {
      CardItem,
      MarkInfo
    },
    data () {
      return {
      }
    },
    props: {
      item: Object,
      canShare: Boolean
    },
    created () {
    },
    mounted () {
    },
    computed: {
      resourceFiles () {
        return this.item.modelObject.resourceFiles
      },
      user () {
        return this.item.user || {}
      },
      modelObject () {
        return this.item.modelObject ? this.item.modelObject : this.item
      },
      shareObjTypeName () {
        return this.$store.state.post.objTypeName
      },
      formData () {
        if (typeof this.item.shareObj === 'undefined') {
          return
        }
        let type = this.shareObjTypeName[this.modelObject.refObjType]
        let objItem = JSON.parse(JSON.stringify(this.item.shareObj))
        if (objItem.id) {
          if (type === 'post') {
            if (objItem.objType === 'POST') {
              if (objItem.objContent) {
                let modelObject = objItem.objContent.modelObject ? objItem.objContent.modelObject : objItem.objContent
                if (modelObject.contentType === 'normal') { // 普通帖子类型，包含：文本、图片、视频
                  let postType = modelObject.postType
                  if (postType === 'image' || postType === 'video' || postType === 'doc') {
                    objItem.currPostId = this.item.objId
                    this.isShareVideo = postType === 'video'
                  }
                } else if (modelObject.contentType === 'reprint') {
                  type = 'reprint'
                } else if (modelObject.contentType === 'activity') {
                  type = 'activity'
                }
              }
            }
          }
          if (this.modelObject.refObjType === 1 || this.modelObject.refObjType === 2 || this.modelObject.refObjType === 3) {
            this.isShareVideo = this.modelObject.refObjType === 2
            let rsList = objItem.objContent.modelObject.resourceFiles || []
            if (objItem.objContent.modelObject.contentType === 'blog' || objItem.objContent.modelObject.contentType === 'reprint') {
              rsList = rsList.concat(this.gatherContentImages(objItem.objContent.modelObject.content))
            }
            objItem.objContent.modelObject.content = ''
            objItem.objContent.modelObject.resourceFiles = rsList.filter(f => f.rsId === this.modelObject.refObjId)
            objItem.shareAttachment = true
            objItem.shareAttachmentType = this.modelObject.refObjType
          }
          if (this.modelObject.hasQuote) {
            if (objItem.objContent.modelObject.contentType === 'normal' && objItem.objContent.modelObject.postType === 'doc') {
              objItem.shareAttachment = true
            }
            type = 'quote'
            objItem.colExtContent = this.modelObject.quote
            objItem.refObjId = this.modelObject.refObjId
            objItem.shareContent = this.modelObject.content
            objItem.currPostUserId = this.item.userId
          }
          objItem.currPostId = this.item.objId
        }
        return {
          type: type,
          item: objItem
        }
      }
    },
    methods: {
      gatherContentImages
    },
    watch: {
    }
  }
</script>
