<template>
  <div class="article-body">
    <div v-html="item.modelObject.content" class="article-section">
      <p>真心不错，很有生活情趣</p>
      <p>住在这种童话的小木屋里是小时候就有的梦想</p>
    </div>
    <mark-info :modelObject="modelObject"></mark-info>
  </div>
</template>
<script>
//  import { fullscreen } from '@/util/lg-fullscreen.js'
  import MarkInfo from './MarkInfo'
  export default {
    data () {
      return {
      }
    },
    props: {
      item: Object,
      canShare: Boolean
    },
    created () {
    },
    mounted () {
    },
    computed: {
      resourceFiles () {
        return this.item.modelObject.resourceFiles
      },
      user () {
        return this.item.user || {}
      },
      modelObject () {
        return this.item.modelObject
      }
    },
    methods: {
    },
    watch: {
    },
    components: {
      MarkInfo
    }
  }
</script>
