<template>
  <div class="article-body">
    <div v-if="item.modelObject.content.replace('<p><br /></p>','').length>0" v-html="item.modelObject.content" class="article-section">
      <p>真心不错，很有生活情趣</p>
      <p>住在这种童话的小木屋里是小时候就有的梦想</p>
    </div>
    <div class="video-area">
      <template v-for="(resourceFile, index) in resourceFiles" >
        <video-player
          :ref="'videoPlayer' + index"
          :options="getPlayerOptions(resourceFile)"
          :key="resourceFile.rsId"
        >
        </video-player>
        <div class="example margin-t">
          <span @click="previewVideos(index)"><i class="fa fa-fw fa-search-plus"></i> 查看视频</span>
        </div>
      </template>
    </div>
    <mark-info :modelObject="modelObject"></mark-info>
  </div>
</template>
<script>
  import VideoPlayer from '@/components/VideoPlayer'
//  import { fullscreen } from '@/util/lg-fullscreen.js'
  import MarkInfo from './MarkInfo'
  export default {
    data () {
      return {
        isVideoItem: true,
        commentVisible: false,
        isFull: false,
        currentTime: '',
//      videoplayer
        playerOptions: {
          start: 0,
          playsinline: false,
          muted: true,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: 'video/mp4',
            src: 'http://gslb.miaopai.com/stream/B~dRdhKMQeI6cuE5aqoGYoVaqbu0YNVn.mp4'
          }],
          poster: 'http://covteam.u.qiniudn.com/poster.png'
        },
        playerCurrentState: null
      }
    },
    props: {
      item: Object,
      visible: Boolean,
      file: String,
      videos: {
        type: Array,
        default: function () {
          return []
        }
      },
      canShare: Boolean
    },
    created () {
    },
    mounted () {
    },
    computed: {
      resourceFiles () {
        return this.item.modelObject.resourceFiles
      },
      user () {
        return this.item.user || {}
      },
      modelObject () {
        return this.item.modelObject
      }
    },
    methods: {
      previewVideos (index) {
        index = index || 0
        let previewData = { type: 'video', resources: [], user: this.user, source: this.item, canShare: this.canShare }
        for (var i = 0; i < this.resourceFiles.length; i++) {
          let resourceFile = this.resourceFiles[i]
          let currentTime = this.$refs['videoPlayer' + i][0].player.currentTime()
          previewData.resources.push({
            objCreator: this.user.id,
            at: this.item.id,
            atType: 'POST',
            id: resourceFile.rsId,
            type: 'VIDEO',
            name: resourceFile.name,
            desc: resourceFile.desc,
            size: resourceFile.size,
            url: resourceFile.datas['mp4'],
            cover: resourceFile.datas['mp4_to_jpg'],
            extInfo: resourceFile.datas.extInfo,
            createTime: this.item.createTime,
            focus: index === i,
            start: currentTime
          })
        }
        this.$bus.$emit('media:preview', previewData)
      },
      getPlayerOptions (resourceFile) {
        return {
          width: '100%',
          height: '460',
          start: 0,
          showFullBtn: false,
          preload: 'none',
          playsinline: false,
          muted: false,
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: 'video/mp4',
            src: resourceFile.datas['mp4x'] || resourceFile.datas['mp4']
          }],
          sourceId: resourceFile.rsId,
          poster: resourceFile.datas['550x'] || resourceFile.datas['mp4_to_jpg']
        }
      }
    },
    watch: {
    },
    components: {
      VideoPlayer,
      MarkInfo
    }
  }
</script>
<style>
  @import 'css/variable.css';
  .video-area {
    position: relative;
    padding: 0 2rem 2rem;
    &:hover{
      & .swiper-button-fullscreen{
        opacity: 1;
      }
    }
    & .swiper-button-fullscreen{
      right: 65px;
      top: 41px;
    }
    & .middle-tool-bar {
      position: absolute;
      bottom: 92px!important;
      left: 0;
      right: 0;
      width: 230px!important;
      height: 40px;
      line-height: 40px;
      margin: 0 auto;
      text-align: center;
      background-color: rgba(43, 51, 63, .7);
      border-radius: 4px;
      & a{
        font-size: 19.2px;
        font-size: 1.2rem;
        padding: 0 10px;
        color: #fff;
        display: inline-block;
      }
    }
  }
</style>
