<template>
  <div id="app">
    <div class="wrapper" @click="goToAtUser" @mouseover="showUser"  @mouseout="hideUser">
      <app-header></app-Header>
      <router-view></router-view>
    </div>
    <user-popover></user-popover>
    <oper-record-popover></oper-record-popover>
    <BackTop>
      <a title="返回顶部" class="gotop"><i class="el-icon-arrow-up"></i></a>
    </BackTop>
    <emoji-popover></emoji-popover>
    <locate-popover></locate-popover>
    <oper-record-dialog></oper-record-dialog>
    <collect-dialog></collect-dialog>
    <!--<group-popover></group-popover>-->
  </div>
</template>

<script>
import AppHeader from '@/views/include/AppHeader'
import AppSideNav from '@/views/include/AppSideNav'
import UserPopover from '@/views/user/UserPopover'
// import GroupPopover from '@/views/group/GroupPopover'
import OperRecordPopover from '@/views/user/OperRecordPopover'
import OperRecordDialog from '@/views/user/OperRecordDialog'
import * as types from './store/mutation-types'
import * as moduleTypes from '@/store/modules'
import websocketMixin from '@/util/websocketMixin'
import { errorGoLogin } from '@/util'
import BackTop from '@/components/scrollTop'
import NewsHeader from '@/views/news/NewsHeader'
import EmojiPopover from '@/components/emoji/EmojiPopover'
import LocatePopover from '@/components/location/LocatePopover'
import CollectDialog from '@/components/CollectDialog'

export default {
  name: 'app',
  mixins: [websocketMixin],
  components: {
    AppHeader,
    AppSideNav,
    UserPopover,
    OperRecordPopover,
    BackTop,
    NewsHeader,
    EmojiPopover,
    LocatePopover,
    OperRecordDialog,
    CollectDialog
  },
  created () {
    this.$store.dispatch(types.A_GET_CURR_USER)
    .then(data => {
      this.$store.commit(moduleTypes.dataPool.M_ADD_USERS, [data])
    })
    .catch(e => {
      console.error('获取登录信息失败！', e)
      errorGoLogin(e)
    })
    this.$store.dispatch(moduleTypes.feed.A_GET_FEED_UNREAD)
  },
  computed: {
    users () {
      return this.$store.state.dataPool.users
    }
  },
  methods: {
    goToAtUser (e) {
      let tag = e ? e.target : null
      if (tag && tag.tagName === 'A' && tag.hasAttribute('data-atwho-at-query')) {
        let userId = tag.getAttribute('data-item-key')
        if (userId) {
          this.clickUser(e, this.users[userId])
          this.$router.push({
            name: 'user',
            params: { userId }
          })
        }
      }
    },
    showUser (event) {
      let tag = event ? event.target : null
      if (tag && tag.tagName === 'A' && tag.hasAttribute('data-atwho-at-query')) {
        let userId = tag.getAttribute('data-item-key')
        if (userId) {
          event.target.setAttribute('show', true)
          let showTimeId = setTimeout(() => {
            let show = event.target.getAttribute('show')
            if (show === 'true') {
              event.target.setAttribute('isShow', true)
              this.$bus.$emit('user:showPopover', {
                elem: event.target,
                user: this.users[userId]
              })
            }
          }, 600)
          event.target.setAttribute('showTimeId', showTimeId)
        }
      }
    },
    hideUser (event) {
      let tag = event ? event.target : null
      if (tag && tag.tagName === 'A' && tag.hasAttribute('data-atwho-at-query')) {
        let userId = tag.getAttribute('data-item-key')
        if (userId) {
          event.target.setAttribute('show', false)
          let showTimeId = event.target.getAttribute('showTimeId')
          if (showTimeId) {
            clearTimeout(showTimeId)
            event.target.setAttribute('showTimeId', '')
          }
          let isShow = event.target.getAttribute('isShow')
          if (isShow === 'true') {
            event.target.setAttribute('isShow', false)
            this.$bus.$emit('user:hidePopover', {
              elem: event.target,
              user: this.users[userId]
            })
          }
        }
      }
    },
    clickUser (event, user) {
      this.$bus.$emit('user:closePopover', {
        elem: event.target,
        user: user
      })
    }
  }
}
</script>

<style src="./assets/css/master.css"></style>
