<template>
  <main class="main">
    <h2>登录企业内网</h2>
    <div class="register-content" @keyup.enter="onSubmit">
      <el-form ref="form" :rules="rules" label-position="top" :model="form" label-width="80px">
        <el-form-item label="账号" prop="username">
          <el-input :autofocus="true" type="input" placeholder="请输入账号" v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input type="password" placeholder="请输入密码" v-model="form.password"></el-input>
        </el-form-item>
        <el-form-item label="验证码" prop="checkCode">
          <el-input v-model="form.checkCode" :icon="checkCodeCheckType" class="check-code" style="" type="input" placeholder="请输入验证码"></el-input>
          <img :src="checkCodeImg" @click="changeCheckCodeImg" alt="验证码" title="点击刷新验证码">
        </el-form-item>
        <el-form-item>
          <el-checkbox v-model="keepline">两周免登录</el-checkbox>
        </el-form-item>
        <el-form-item class="text-center">
          <el-button type="primary" class="expand" :loading="submitting" @click="onSubmit">登录</el-button>
        </el-form-item>
        <el-form-item>
          <!-- <el-button type="text">忘记密码？</el-button> -->
          <!-- <el-button class="float-right" type="text">注册</el-button> -->
        </el-form-item>
      </el-form>
    </div>
  </main>
</template>

<script>
import { rest } from '@/util'
import qs from 'qs'

const errorMsg = {
  'server': '服务器内部错误',
  'captcha.error': '验证码错误',
  'normal': '账号或者密码错误'
}

export default {
  data () {
    var validateCheckCode = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入验证码'))
      } else {
        callback()
        // rest.get('/checkcode')
        // .then(data => {
        //   if (data) {
        //     this.checkCodeCheckType = 'circle-check'
        //     callback()
        //   } else {
        //     this.checkCodeCheckType = ''
        //     callback(new Error('验证码不正确'))
        //   }
        // })
      }
    }
    return {
      submitting: false,
      checkCodeImg: '',
      checkCodeCheckType: '',
      keepline: false,
      form: {
        username: '',
        password: '',
        checkCode: '',
        rm: '0'
      },
      rules: {
        username: [
          { required: true, message: '请输入账号', trigger: 'blur' }
          // { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        password: [
          { required: true, message: '请输入密码', trigger: 'blur' }
        ],
        checkCode: [
          { validator: validateCheckCode, trigger: 'blur' }
        ]
      }
    }
  },
  watch: {
    'form.checkCode' () {
      this.checkCodeCheckType = ''
    },
    keepline (nv) {
      this.form.rm = nv ? '1' : '0'
    }
  },
  created () {
    this.changeCheckCodeImg()
  },
  methods: {
    changeCheckCodeImg () {
      this.checkCodeImg = '/captcha.jpg?nocache=' + new Date().getTime()
    },
    onSubmit () {
      this.$refs.form.validate((valid) => {
        if (valid) {
          let base = this.$router.options.base
          this.submitting = true
          rest.post(`${base}login`, qs.stringify(this.form), {
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
            }
          })
          .then(url => {
            window.document.location.href = url || base
          })
          .catch(err => {
            this.changeCheckCodeImg()
            let msg
            if (err.status < 10000) {
              msg = errorMsg.server
              console.error('login error', err)
            } else {
              msg = errorMsg[err.message] || errorMsg.normal
            }
            this.$message({
              showClose: true,
              message: msg,
              type: 'error',
              duration: 5000
            })
            this.submitting = false
          })
        } else {
          return false
        }
      })
    }
  }
}
</script>

<style>
.register-content .check-code {
  width: 105px;
}
.register-content img {
  position: absolute;
  border: 1px solid #eee;
  height: 34px;
  margin-left: 5px;
}
/* .register-content .check-code .el-icon-circle-check {
  color: green;
}
.register-content .check-code .el-icon-circle-cross {
  color: #ff4949;
} */
</style>
