<template>
  <div class="error-wrapper">
    <div class="no-found-container text-center">
      <span class="name">500</span>
      <span class="desc">OH ! 很抱歉，程序暂时无法处理您的请求！</span>
      <img src="../../assets/img/error.png" alt="500: 服务器异常">
      <!--<el-button type="primary">返回首页</el-button>-->
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style>
  @import 'css/variable.css';
  .no-found-container{
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    & .name{
      position: absolute;
      font-family: fantasy;
      top: 142px;
      left: 120px;
      font-size: 100px;
      font-family: fantasy;
      color: var(--color-secondary);
    }
    & .desc{
      display: inline-block;
      font-size: 14px;
      position: absolute;
      top: 268px;
      width: 200px;
      text-align: left;
      left: 124px;
      color: var(--color-secondary);
    }
  }
</style>
