<template>
  <section class="inner-manage">
    <div class="header clearfix">
      <h3><i class="fa fa-cog color-info"></i> 人员管理</h3>
      <!--<div class="float-right">-->
        <!--<el-input size="small" v-model="input" placeholder="搜索"></el-input>-->
      <!--</div>-->
    </div>
    <p class="color-secondary">
      提示：人员必须在部门中创建哦，你需要先创建部门
    </p>
    <div class="">
      <div class="manage-section">
        <div class="media-object no-margin">
          <section class="media-object-section shrink part-section">
            <div class="header">
              <h4>部门</h4>
              <div class="tools">
                <el-button :disabled="!showUserDeptBtn"  @click="addSubDept" type="success" size="small"><i class="fa fa-plus"></i> 创建子部门</el-button>
              </div>
            </div>
            <div style="text-align:center;margin-top:50px;" v-if="isLoadingDeptData"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
            <el-tree v-else
              :data="orgData"
              :props="defaultProps"
              node-key="id"
              :expand-on-click-node="false"
              :default-expand-all="true"
              @node-click="handleNodeClick"
              :highlight-current="true"
              :render-content="renderContent"
              ref="tree"
            >
            </el-tree>
          </section>
          <div class="media-object-section people-section">
            <div class="header">
              <h4>人员</h4>
              <div class="tools">
                <el-button :disabled="!showUserDeptBtn" type="success" size="small" @click="addNewUser">
                  <i class="fa fa-plus"></i> 添加人员
                </el-button>
              </div>
            </div>
            <div class="content">
              <div style="text-align:center;margin-top:50px;" v-if="isLoadingUserData"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
              <el-table v-else
                :data="userData"
                border
                style="width: 100%">
                <el-table-column
                  label="姓名"
                 >
                  <template scope="scope">
                    <div slot="reference" class="single media-object">
                      <div class="media-object-section shrink user">
                        <div class="img">
                        	<img :src="scope.row.avatar" :alt="scope.row.userName" v-error-img:user/>
                        </div>
                      </div>
                      <div class="media-object-section">
                        <span class="name">
                          {{scope.row.userName}}
                        </span>
                      </div>
                    </div>
                  </template>
                </el-table-column>
                <el-table-column
                  label="登录名"
                  width="120">
                  <template scope="scope">
                    <span>{{getUserLoginName(scope.row)}}</span>
                  </template>
                </el-table-column>
                <el-table-column
                  label="角色"
                  width="85">
                  <template scope="scope">
                    <el-tag type="success" size="mini" disabled v-if="getRoleName(scope.row)">{{getRoleName(scope.row)}}</el-tag>
                  </template>
                </el-table-column>
                <el-table-column
                  label="状态"
                  width="75">
                  <template scope="scope">
                    <el-tooltip class="item" effect="dark" :content="statusTip(scope.row.userStatus)" placement="top">
                      <el-tag :type="scope.row.userStatus === '0' ? 'danger' : 'success'" size="mini" disabled >{{scope.row.userStatus === '0' ? '禁用' : '启用'}}</el-tag>
                    </el-tooltip>
                  </template>
                </el-table-column>
                <el-table-column label="操作"  width="70">
                  <template scope="scope">
                    <el-dropdown trigger="click" @command="(cmd) => userMenuAction(cmd, scope.row)">
                      <el-button size="small" :disabled="scope.row.isChanging" style="width:32px;"><i class="fa fa-circle-o-notch fa-spin" v-if="scope.row.isChanging"></i><i v-else class="el-icon-setting" ></i></el-button>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="edit">编辑</el-dropdown-item>
                        <el-dropdown-item command="move">移动</el-dropdown-item>
                        <template v-if="!scope.row.extInfoObject || !scope.row.extInfoObject.isTenantUser" >
                          <el-dropdown-item command="changeStatus">{{scope.row.userStatus === '0'?'启用':'禁用'}}</el-dropdown-item>
                          <el-dropdown-item command="changeAdminRole">{{scope.row.extInfoObject && scope.row.extInfoObject.isAdmin?'移除管理员':'设为管理员'}}</el-dropdown-item>
                          <el-dropdown-item command="synGroup">同步到小组</el-dropdown-item>
                          <el-dropdown-item command="resetPwd">重置密码</el-dropdown-item>
                          <el-dropdown-item v-if="" command="delete">删除</el-dropdown-item>
                        </template>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </div>
          <!--<div class="media-object-section shrink user img36">
                <div class="img">
                  <img src="../../assets/img/4.jpg" alt="人员名"/>
                </div>
              </div>
              <div class="media-object-section align-center">
                <span class="name">人员名</span>
                <span class="tools">
                  <i class="el-icon-more"></i>
                </span>
              </div>-->
        </div>
      </div>
      <div class="dialog">
        <el-dialog
          :title="userDialogTitle"
          :visible.sync="showUserEditDialog"
          @close="handleUserEditDialogClose"
          size="tiny">
          <label style="margin-bottom: 18px;display: inline-block;">所在部门：{{userForm.deptName}}</label>
          <el-form class="user_form" ref="userForm" :model="userForm" :rules="rules" >
            <el-form-item label="姓名:" :label-width="formLabelWidth" prop="userName">
              <el-input v-model="userForm.userName" auto-complete="off" ref="userName"></el-input>
            </el-form-item>
            <el-form-item label="登录名:" :label-width="formLabelWidth" prop="loginName">
              <el-input v-model="userForm.loginName" auto-complete="off" ref="loginName"></el-input>
            </el-form-item>
            <el-form-item label="性别:" :label-width="formLabelWidth">
              <el-select v-model="userForm.sex" >
                <el-option label="保密" value="0"></el-option>
                <el-option label="男" value="1"></el-option>
                <el-option label="女" value="2"></el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="手机:" prop="cellphone" :label-width="formLabelWidth">
              <el-input v-model="userForm.cellphone" auto-complete="off"></el-input>
            </el-form-item>
            <el-form-item label="邮箱:" class="" prop="email" :label-width="formLabelWidth">
              <el-input v-model="userForm.email" auto-complete="off"></el-input>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="showUserEditDialog = false">取 消</el-button>
            <el-button type="primary" :disabled="isSavingUser" @click="saveUser"><i v-if="isSavingUser" class="fa fa-circle-o-notch fa-spin"></i>确 定</el-button>
          </span>
        </el-dialog>
        <el-dialog
          :title="deptDialogTitle"
          :visible.sync="showDeptEditDialog"
          @close="handleDeptEditDialogClose"
          size="tiny">
          <el-form class="dept_form" ref="deptForm" :model="deptForm">
            <el-form-item label="名称:" :label-width="formLabelWidth" prop="name">
              <el-input v-model="deptForm.name" auto-complete="off" ref="deptName"></el-input>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button @click="showDeptEditDialog = false">取 消</el-button>
            <el-button type="primary" :disabled="isSavingDept" @click="saveDept"><i v-if="isSavingDept" class="fa fa-circle-o-notch fa-spin"></i>确 定</el-button>
          </span>
        </el-dialog>
        <el-dialog
          :title="userMoveDialogTitle"
          :visible.sync="showUserMoveDialog"
          size="tiny">
          <el-tree
             :data="orgData"
             :props="defaultProps"
             node-key="id"
             :expand-on-click-node="false"
             :default-expand-all="true"
             @node-click="handleSelectClick"
             :highlight-current="true"
             :render-content="renderSelectContent"
             ref="selectTree"
          >
          </el-tree>
          <span slot="footer" class="dialog-footer">
            <el-button @click="showUserMoveDialog = false">取 消</el-button>
            <el-button type="primary" :disabled="isMovingUserDept || !canMoveOper" @click="moveUserDept"><i v-if="isMovingUserDept" class="fa fa-circle-o-notch fa-spin"></i>移 动</el-button>
          </span>
        </el-dialog>
      </div>
    </div>
  </section>
</template>
<script>
  import PersonItem from '@/views/user/PersonItem'
  import { rest } from '@/util'

  export default {
    data () {
      var validateLoginName = (rule, value, callback) => {
        if (!value) {
          return callback(new Error('请输入登录账号'))
        }
        if (value.length > 20) {
          return callback(new Error('账号长度不能超过20个字符'))
        }
        rest.get('/sns/user/checkLoginName?userId=' + this.checkUserId + '&loginName=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            callback(new Error('账号[' + value + ']已经存在'))
            this.isUserValidFailed = true
          } else {
            callback()
          }
        }).catch((e) => {
          console.log('检查账号出错！', e)
          callback(new Error('检查账号[' + value + ']异常'))
        })
      }
      return {
        checkUserId: 'none_id',
        currSelectNode: null,
        showDeptEditDialog: false,
        deptEditType: 'add', // addSub edit
        userEditType: 'add', // edit
        deptForm: {},
        defaultExpandedKeys: [],
        isSavingDept: false,
        isLoadingDeptData: false,
        isLoadingUserData: false,
        formLabelWidth: '60px',
        showUserEditDialog: false,
        isSavingUser: false,
        isUserValidFailed: false,
        formData: {
          name: ''
        },
        userForm: {
          sex: '0'
        },
        uploadUrl: '/zuul/file/web/upload?st=1',
        coverUrl: require('@/assets/img/img-holder.png'),
        input: '',
//      组织机构数据
        orgData: [],
        defaultProps: {
          children: 'children',
          label: 'name'
        },
        userData: [],
        rules: {
          userName: [
            {required: true, message: '请输入姓名', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'}
          ],
          loginName: [
            {validator: validateLoginName, trigger: 'blur'}
          ],
          cellphone: [
            {message: '请输入正确的手机号', pattern: /^1[0-9]{10}$/, trigger: 'blur'}
          ],
          email: [
            {type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur'}
          ]
        },
        showUserMoveDialog: false,
        moveSelectNode: {},
        moveUser: {},
        isMovingUserDept: false
      }
    },
    components: {
      PersonItem
    },
    computed: {
      canMoveOper () {
        let user = this.moveUser
        let moveNode = this.moveSelectNode
        if (!user || !moveNode) {
          return false
        }
        if (user.deptRole && user.deptRole.id !== moveNode.id) {
          return true
        }
        return false
      },
      userMoveDialogTitle () {
        let moveDeptName = ''
        let userName = ''
        if (this.moveUser && this.moveUser.userName) {
          userName = this.moveUser.userName
        }
        if (this.moveSelectNode && this.moveSelectNode.name) {
          moveDeptName = this.moveSelectNode.name
        }
        return '移动 ' + userName + ' 到 ' + moveDeptName
      },
      showUserDeptBtn () {
        return !!this.currSelectNode
      },
      deptDialogTitle () {
        if (this.deptEditType === 'add') {
          return '添加新部门'
        } else if (this.deptEditType === 'addSub') {
          return '添加子部门'
        } else if (this.deptEditType === 'edit') {
          return '编辑部门'
        } else {
          return '编辑部门'
        }
      },
      userDialogTitle () {
        if (this.userEditType === 'add') {
          return '添加新人员'
        } else if (this.userEditType === 'edit') {
          return '编辑人员'
        } else {
          return '编辑人员'
        }
      }
    },
    methods: {
      handleUserEditDialogClose () {
        let form = this.$refs['userForm']
        form.resetFields()
      },
      handleDeptEditDialogClose () {
        let form = this.$refs['deptForm']
        form.resetFields()
      },
      synGroup (type, id) {
        let req
        if (type === 'user') {
          req = rest.create('/sns/admin/synUser2Group', id, true)
        } else if (type === 'dept') {
          req = rest.create('/sns/admin/synOrg2Group', id, true)
        }
        req.then(isSuccess => {
          if (isSuccess) {
            this.msgInfo('同步完成！')
          } else {
            this.msgError('同步失败，请稍候重试！')
          }
        }).catch(error => {
          if (error && error.status >= 10000 && error.message) {
            this.msgError('同步失败,' + error.message)
          } else {
            this.msgError('同步失败，请稍候重试！')
          }
          console.log('同步异常！', error)
        })
      },
      getUserLoginName (user) {
        let isTenantUser = user.extInfoObject ? user.extInfoObject.isTenantUser : null
        let alias = user.extInfoObject ? user.extInfoObject.subjectAlias : null
        if (alias) {
          if (isTenantUser) {
            return alias
          }
          return user.loginName + '@' + alias
        }
        return user.loginName
      },
      statusTip (status) {
        if (status === '0') {
          return '已禁用，该用户将不可登录！'
        } else {
          return '已启用，该用户可登录使用！'
        }
      },
      getRoleName (user) {
        if (user.extInfoObject && user.extInfoObject.isTenantUser) {
          return '租户'
        } else if (user.extInfoObject && user.extInfoObject.isAdmin) {
          return '管理员'
        } else {
          return '' // '同事'
        }
      },
      addNewUser () {
        this.checkUserId = 'none_id'
        this.userEditType = 'add'
        this.showUserEditDialog = true
        this.userForm = {deptRole: this.currSelectNode.id, sex: '0'}
        let deptName = this.currSelectNode ? this.currSelectNode.name : '------'
        this.userForm.deptName = deptName
      },
      editUser (user) {
        this.checkUserId = user.id
        this.userEditType = 'edit'
        this.showUserEditDialog = true
        this.userForm = {...this.userForm, ...user}
        this.userForm.deptName = user.deptRole ? user.deptRole.roleName : '------'
      },
      userMenuAction (cmd, user) {
        if (cmd === 'edit') {
          this.editUser(user)
        } else if (cmd === 'delete') {
          this.deleteUser(user, true)
        } else if (cmd === 'changeStatus') {
          let isEnable = (user.userStatus !== '0')
          this.changeUserStatus(user, !isEnable)
        } else if (cmd === 'changeAdminRole') {
          let isAdmin = user.extInfoObject ? !!user.extInfoObject.isAdmin : false
          this.changeAdminRole(user, !isAdmin)
        } else if (cmd === 'resetPwd') {
          this.resetUserPwd(user)
        } else if (cmd === 'synGroup') {
          this.synGroup('user', user.id)
        } else if (cmd === 'move') {
          this.canMoveOper = false
          this.moveUser = user
          this.moveSelectNode = {}
          this.showUserMoveDialog = true
        }
      },
      resetUserPwd (user) {
        let req = rest.edit('/sns/admin/user/resetPwd?userId=' + user.id, null, true)
        this.$set(user, 'isChanging', true)
        req.then(resetPwd => {
          if (resetPwd) {
            this.$set(user, 'userStatus', status ? '1' : '0')
            // 弹出框显示重置的密码
            let copyFn = e => {
              e.clipboardData.setData('text/plain', resetPwd)
              e.preventDefault()
              this.msgInfo('已复制密码到剪贴板')
            }
            let doCopy = () => {
              window.document.execCommand('copy')
            }
            window.document.addEventListener('copy', copyFn)
            const h = this.$createElement
            this.$msgbox({
              title: '重置密码成功!',
              message: h('div', null, [
                h('el-input', { style: 'word-wrap:break-word;width:76%;', props: {value: resetPwd} }),
                h('el-button', { props: { type: 'primary' }, on: {click: doCopy} }, '复制密码'),
                h('p', null, '也可以使用快捷键Win(Crtl + C)、Mac(Cmd + C)复制')
              ]),
              showCancelButton: true,
              showConfirmButton: false,
              cancelButtonText: '关闭',
              beforeClose: (action, instance, done) => {
                window.document.removeEventListener('copy', copyFn)
                done()
              }
            })
          } else {
            console.log('重置密码失败！')
            this.msgError('重置密码失败，请稍候重试！')
          }
          this.$set(user, 'isChanging', false)
        }).catch(error => {
          this.$set(user, 'isChanging', false)
          console.log('重置密码异常！', error)
          this.msgError('重置密码失败，请稍候重试！')
        })
      },
      showConfirm (type, title, message, confirmFn, cancelFn) {
        this.$confirm(message, title, {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          if (typeof confirmFn === 'function') {
            confirmFn()
          }
        }).catch(() => {
          if (typeof cancelFn === 'function') {
            cancelFn()
          }
        })
      },
      changeUserStatus (user, status) {
        let req = rest.edit('/sns/admin/user/status?userId=' + user.id + '&status=' + (status ? '1' : '0'), null, true)
        this.$set(user, 'isChanging', true)
        req.then(isSuccess => {
          if (isSuccess) {
            this.$set(user, 'userStatus', status ? '1' : '0')
            this.msgInfo('用户[' + user.userName + ']已经' + (status ? '启用！' : '禁用！'))
          } else {
            console.log('修改状态失败！')
            this.msgError('修改状态失败，请稍候重试！')
          }
          this.$set(user, 'isChanging', false)
        }).catch(error => {
          this.$set(user, 'isChanging', false)
          console.log('修改状态异常！', error)
          this.msgError('修改状态失败，请稍候重试！')
        })
      },
      changeAdminRole (user, status) {
        let req = rest.edit('/sns/admin/user/adminRole?userId=' + user.id + '&status=' + (status ? '1' : '0'), null, true)
        this.$set(user, 'isChanging', true)
        req.then(isSuccess => {
          if (isSuccess) {
            let extInfoObject = {}
            if (user.extInfoObject) {
              extInfoObject = user.extInfoObject
            }
            this.$set(extInfoObject, 'isAdmin', status)
            this.$set(user, 'extInfoObject', extInfoObject)
            if (status) {
              this.msgInfo('用户[' + user.userName + ']已经成为管理员')
            } else {
              this.msgInfo('用户[' + user.userName + ']管理员已移除')
            }
          } else {
            console.log('修改角色失败！')
            this.msgError('修改角色失败，请稍候重试！')
          }
          this.$set(user, 'isChanging', false)
        }).catch(error => {
          this.$set(user, 'isChanging', false)
          console.log('修改角色异常！', error)
          this.msgError('修改角色失败，请稍候重试！')
        })
      },
      loadOrgData () {
        this.isLoadingDeptData = true
        rest.get('/sns/admin/orgs?loadAll=true', null, true).then(orgData => {
          this.orgData = orgData
          this.isLoadingDeptData = false
        }).catch(error => {
          this.orgData = []
          this.isLoadingDeptData = false
          if (error && error.status >= 10000 && error.message) {
            this.msgError('加载部门数据失败，' + error.message)
          } else {
            this.msgError('加载部门数据失败，请稍候重试！')
          }
          console.log('加载部门数据异常！', error)
        })
      },
      loadUserData (deptId) {
        let req
        if (deptId) {
          req = rest.get('/sns/admin/users', {deptId}, true)
        } else {
          req = rest.get('/sns/admin/users', {loadAll: true}, true)
        }
        this.isLoadingUserData = true
        req.then(userData => {
          this.userData = userData
          this.isLoadingUserData = false
        }).catch(error => {
          this.userData = []
          this.isLoadingUserData = false
          if (error && error.status >= 10000 && error.message) {
            this.msgError('加载人员数据失败，' + error.message)
          } else {
            this.msgError('加载人员数据失败，请稍候重试！')
          }
          console.log('加载人员数据异常！', error)
        })
      },
      getIds (orgList) {
        let ids = []
        for (let o of orgList) {
          ids.push(o.id)
          if (o.children) {
            ids.push(...this.getIds(o.children))
          }
        }
        return ids
      },
      loadChildren (node, resolve) {
        let pid = ''
        if (node.data && node.data.id) {
          pid = node.data.id
        }
        rest.get('/sns/admin/orgs?pid=' + pid, null, true).then(orgData => {
          resolve(orgData)
        }).catch(error => {
          resolve([])
          console.log('加载部门数据异常！', error)
          this.msgError('加载部门数据失败，请稍候重试！')
        })
      },
      handleNodeClick (data) {
        this.currSelectNode = data
        if (data.code === 'root') {
          this.loadUserData()
        } else {
          this.loadUserData(data.id)
        }
      },
      handleSelectClick (data) {
        console.log(data)
        this.moveSelectNode = data
      },
      addSubDept () {
        this.showDeptEditDialog = true
        this.deptEditType = 'addSub'
        this.deptForm.pid = this.currSelectNode.id
      },
      deptMenuAction (cmd, node) {
        if (cmd === 'edit') {
          this.showDeptEditDialog = true
          this.deptEditType = 'edit'
          this.deptForm = {...node.data}
        } else if (cmd === 'addSub') {
          this.showDeptEditDialog = true
          this.deptEditType = 'addSub'
          this.deptForm = {pid: node.data.id}
        } else if (cmd === 'synGroup') {
          this.synGroup('dept', node.data.id)
        } else if (cmd === 'delete') {
          this.deleteDept(node.data.id, true)
        }
      },
      saveUser () {
        this.isSavingUser = true
        this.$refs['userForm'].validate((valid) => {
          if (!valid) {
            this.isUserValidFailed = true
            this.saveBtnDisable = false
            this.isSavingUser = false
            return false
          } else {
            this.isUserValidFailed = false
          }
        })
        if (this.isUserValidFailed) {
          this.isSavingUser = false
          return
        }
        let req
        if (this.userEditType === 'add') {
          req = rest.create('/sns/admin/user', this.userForm, true)
        } else if (this.userEditType === 'edit') {
          req = rest.create('/sns/admin/user', this.userForm, true)
        } else {
          this.isSavingUser = false
          return
        }
        req.then(user => {
          if (user) {
            if (this.userEditType === 'add') {
              this.appendToTable(user)
            } else {
              this.updateToTable(user)
            }
            this.msgInfo('人员已保存！')
            this.showUserEditDialog = false
          } else {
            this.msgWarning('保存人员不成功，请稍候重试！')
          }
          this.isSavingUser = false
        }).catch(error => {
          this.isSavingUser = false
          if (error && error.status >= 10000 && error.message) {
            this.msgWarning('保存人员失败，' + error.message)
          } else {
            this.msgWarning('保存人员失败，请稍候重试！')
          }
          console.log('保存人员异常！', error)
        })
      },
      deleteUser (user, confirm) {
        // todo 弹出提示确认框
        if (confirm) {
          this.showConfirm('warning', '警告', '是否永久删除人员[' + user.userName + ']？\n这将同步删除该用户的所有相关数据（比如小组，帖子，评论，点赞等）且不可恢复！', () => { this.deleteUser(user, false) })
          return
        }
        this.$set(user, 'isChanging', true)
        rest.delete('/sns/admin/user', {userId: user.id}, true).then(isSuccess => {
          if (isSuccess) {
            // todo 更新到树节点上去
            this.deleteFromTable(user)
            this.msgInfo('人员已删除！')
          } else {
            this.msgWarning('删除人员失败，请稍候重试！')
          }
          this.$set(user, 'isChanging', false)
        }).catch(error => {
          this.$set(user, 'isChanging', false)
          if (error && error.status >= 10000 && error.message) {
            this.msgWarning('删除人员失败，' + error.message)
          } else {
            this.msgWarning('删除人员失败，请稍候重试！')
          }
          console.log('删除人员异常！', error)
        })
      },
      moveUserDept () {
        this.isMovingUserDept = true
        let user = this.moveUser
        let moveNode = this.moveSelectNode
        if (!user || !moveNode) {
          this.isMovingUserDept = false
          return
        }
        if (user.deptRole && user.deptRole.id === moveNode.id) {
          this.isMovingUserDept = false
          return
        }
        let req = rest.create('/sns/admin/userOrgMove?userId=' + user.id + '&deptId=' + moveNode.id, null, true)
        req.then(isSuccess => {
          if (isSuccess) {
            this.msgInfo('移动成功！')
            // todo 删除列表人员数据
            this.deleteFromTable(user)
            this.showUserMoveDialog = false
          } else {
            this.msgWarning('移动失败，请稍候重试！')
          }
          this.isMovingUserDept = false
        }).catch(error => {
          this.isMovingUserDept = false
          if (error && error.status >= 10000 && error.message) {
            this.msgWarning('移动失败，' + error.message)
          } else {
            this.msgWarning('移动失败，请稍候重试！')
          }
          console.log('移动异常！', error)
        })
      },
      saveDept () {
        this.isSavingDept = true
        let req
        if (this.deptEditType === 'add' || this.deptEditType === 'addSub') {
          req = rest.create('/sns/admin/org', this.deptForm, true)
        } else if (this.deptEditType === 'edit') {
          req = rest.create('/sns/admin/org', this.deptForm, true)
        } else {
          this.isSavingDept = false
          return
        }
        req.then(org => {
          if (org) {
            if (this.deptEditType === 'add' || this.deptEditType === 'addSub') {
              this.appendToTree(org)
            } else {
              this.editToTree(org)
            }
            this.msgInfo('部门已保存！')
            this.showDeptEditDialog = false
          } else {
            this.msgWarning('保存部门不成功，请稍候重试！')
          }
          this.isSavingDept = false
        }).catch(error => {
          this.isSavingDept = false
          if (error && error.status >= 10000 && error.message) {
            this.msgWarning('保存部门失败，' + error.message)
          } else {
            this.msgWarning('保存部门失败，请稍候重试！')
          }
          console.log('保存部门异常！', error)
        })
      },
      deleteDept (id, confirm) {
        // todo 弹出提示确认框
        if (confirm) {
          this.showConfirm('warning', '警告', '是否永久删除部门？\n这将同步删除该部门小组的所有相关数据（比如帖子，评论等）且不可恢复！', () => { this.deleteDept(id, false) })
          return
        }
        rest.delete('/sns/admin/org', {deptId: id}, true).then(isSuccess => {
          if (isSuccess) {
            // todo 更新到树节点上去
            this.deleteFromTree({id})
            this.msgInfo('部门已删除！')
          } else {
            this.msgWarning('删除部门失败，请稍候重试！')
          }
        }).catch(error => {
          if (error && error.status >= 10000 && error.message) {
            this.msgWarning('删除部门失败，' + error.message)
          } else {
            this.msgWarning('删除部门失败，请稍候重试！')
          }
          console.log('删除部门异常！', error)
        })
      },
      appendToTree (org) {
        this.findOrgAndProcess(this.orgData, org, 'add')
      },
      editToTree (org) {
        this.findOrgAndProcess(this.orgData, org, 'update')
      },
      deleteFromTree (org) {
        this.findOrgAndProcess(this.orgData, org, 'delete')
      },
      appendToTable (user) {
        this.findUserAndProcess(this.userData, user, 'add')
      },
      updateToTable (user) {
        this.findUserAndProcess(this.userData, user, 'update')
      },
      deleteFromTable (user) {
        this.findUserAndProcess(this.userData, user, 'delete')
      },
      findOrgAndProcess (orgList, org, oper) {
        if (!orgList) {
          return
        }
        let deleteIndex = null
        let index = -1
        for (let o of orgList) {
          index = index + 1
          if (oper === 'add') {
            if (o.id === org.pid) { // find
              if (!o.children) {
                o.children = []
              }
              o.children.push(org)
              break
            } else {
              if (o.children) {
                this.findOrgAndProcess(o.children, org, oper)
              }
            }
          } else if (oper === 'update') {
            if (o.id === org.id) {
              o.name = org.name
              break
            } else {
              if (o.children) {
                this.findOrgAndProcess(o.children, org, oper)
              }
            }
          } else if (oper === 'delete') {
            if (o.id === org.id) { // find
              deleteIndex = index
              break
            } else {
              if (o.children) {
                this.findOrgAndProcess(o.children, org, oper)
              }
            }
          }
        }
        if (deleteIndex != null) {
          orgList.splice(deleteIndex, 1)
        }
      },
      findUserAndProcess (userList, user, oper) {
        if (!userList) {
          return
        }
        let deleteIndex = null
        let index = -1
        if (oper === 'add') {
          userList.push(user)
        } else if (oper === 'update') {
          for (let u of userList) {
            if (u.id === user.id) {
              Object.assign(u, user)
              break
//              Object.keys(user).forEach(k => {
//                this.$set(u, k, user[k])
//              })
            }
            index = index + 1
          }
        } else if (oper === 'delete') {
          for (let u of userList) {
            index = index + 1
            if (u.id === user.id) {
              deleteIndex = index
              u = {...u, ...user}
              break
            }
          }
        }
        if (deleteIndex != null) {
          userList.splice(deleteIndex, 1)
        }
      },
      renderContent (h, {node, data, store}) {
        return (
          <span class="white-space" title={node.label}>
            <span>
              <span>{node.label}</span>
            </span>
            <span class="tree-tools">
              <el-dropdown on-command={ (cmd) => this.deptMenuAction(cmd, node) } >
                <span class="btn" style="width:36px;height:36px;display:inline-block;"> <i class="el-icon-setting"> </i></span >
                <el-dropdown-menu slot="dropdown" >
                  <el-dropdown-item command="edit"> 编辑 </el-dropdown-item>
                  <el-dropdown-item command="addSub"> 添加子部门 </el-dropdown-item>
                  {
                    node.data.code === 'root' ? '' : <el-dropdown-item command="synGroup"> 同步到小组 </el-dropdown-item>
                  }
                  {
                    node.data.code === 'root' ? '' : <el-dropdown-item command="delete"> 删除 </el-dropdown-item>
                  }
                </el-dropdown-menu>
              </el-dropdown>
            </span>
          </span>
        )
      },
      renderSelectContent (h, {node, data, store}) {
        return (
          <span class="white-space" title={node.label}>
            <span>
              <span>{node.label}</span>
            </span>
          </span>
        )
      }
    },
    mounted () {
      // 加载部门数据
      this.loadOrgData()
      // 加载人员数据
      this.loadUserData()
    }
  }
</script>
<style>
  @import 'css/variable.css';

  .manage-section {
    & .header {
      height: 36px;
      line-height: 36px;
      border-bottom: 1px solid #ddd;
      width: 100%;
      position: relative;
      & h4 {
        display: inline-block;
        margin: 0;
      }
      & > .tools {
        position: absolute;
        right: 0;
        top: 4px;
        line-height: normal;
      }
    }
  }
  .part-section {
    width: 240px;
    float: left;
    & .el-tree {
      border: none;
      margin-top: 1rem;
    }
    & .tree-tools {
      float: right;
      position: absolute;
      right: 0;
      opacity: 0;
      width: 36px;
      text-align: center;
      visibility: hidden;
      transition: all .3s;
      background: rgba(228, 231, 241,.8);
      z-index: 1;
      & .btn {
        color: var(--color-secondary);
      }
      &:hover{
        background: rgb(228, 231, 241);
      }
      & .el-dropdown{
        display: block;
      }
    }
    & .el-tree-node__content {
      position: relative;
    }
    & .el-tree-node__content:hover .tree-tools {
      opacity: 1;
      visibility: visible;
    }
    & .is-current > .el-tree-node__content .tree-tools{
      opacity: 1;
      visibility: visible;
    }
  }
  .people-section {
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      width: 1px;
      height: calc(100% - 56px);
      background: #ddd;
      position: absolute;
      left: 0;
      bottom: 0;
    }
    & .header {
      margin-left: 1rem;
      width: calc(100% - 1rem);
    }

    & .content {
      margin: 1rem 0 0 0;
      padding: 0 0 0 1rem;
    }
    & .single{margin: 0;
      & .media-object-section:first-child{
        padding-right: 10px;
      }
    }
  }
  .white-space{
    display: inline-block;
    width: calc(100% - 28px);
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
