<template>
  <el-row class="margin-t">
    <el-col :xs="24" :sm="4" :md="4" :lg="4">
      <side-nav></side-nav>
    </el-col>
    <el-col :xs="24" :sm="20" :md="20" :lg="20">
      <router-view></router-view>
    </el-col>
  </el-row>
</template>
<script>
  import SideNav from './SideNav'
  export default {
    components: {
      SideNav
    }
  }
</script>
<style>
  .inner-manage{
    padding: 2rem 1.5rem;
    background: #fff;
    & .header {
        padding: 0 0 6px 0;
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
      & h3{
        display: inline-block;
        margin: 0;
      }
    }
  }
  .inner-content{
    padding-top: 1rem;
  }
</style>
