<template>
  <section class="inner-manage">
    <h3><i class="fa fa-cog color-info"></i> 企业信息管理</h3>
    <div class="inner-content">
      <el-form ref="form" label-position="top" :model="formData" :rules="rules">
        <el-form-item label="主体类型">
          <div slot="label">主体类型
            <span class="color-secondary font-s12">（主体类型在入驻申请时确认不可更改，如特殊需要，请联系官方客服中心。）</span>
          </div>
          <el-radio v-for="type in subjectTypes" :key="type.value" class="radio" v-model="formData.type" disabled :label="type.value">{{type.name}}</el-radio>
        </el-form-item>
        <el-form-item :label="subjectName + '名称'" prop="name">
          <el-input v-model="formData.name"></el-input>
        </el-form-item>
        <el-form-item :label="subjectName + '别名'"prop="alias">
          <el-input v-model="formData.alias"></el-input>
        </el-form-item>
        <el-form-item :label="subjectName + '徽标'">
          <el-row>
            <el-col :span="10">
              <div class="activity-banner">
                <img :src="iconUrl" :alt="subjectName + '徽标'"/>
              </div>
            </el-col>
            <el-col :span="12">
              <span v-if="isAvatarUploading" >正在上传...</span>
              <el-upload
                :show-file-list="false"
                :action="uploadUrl"
                accept="image/*"
                :on-success="handleAvatarSuccess"
                :on-remove="handleAvatarRemove"
                :on-error="handleAvatarError"
                :on-progress="handleAvatarProgress"
                >
                <el-button  size="small" type="primary" icon="picture">设置徽标</el-button>
              </el-upload>
            </el-col>
          </el-row>
        </el-form-item>
        <el-form-item label="手机:" prop="telphone">
          <el-input v-model="formData.telphone" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱:" class="" prop="email">
          <el-input v-model="formData.email" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="域名:" class="" prop="domain">
          <el-input v-model="formData.domain" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" :disabled="saveBtnDisable" @click="saveSubject"><i v-if="isSaving" class="fa fa-circle-o-notch fa-spin"></i>更新</el-button>
        </el-form-item>
      </el-form>
    </div>
  </section>
</template>
<script>
  import { rest } from '@/util'
  export default {
    data () {
      var validateTelphone = (rule, value, callback) => {
        rest.get('/sns/admin/isSubjectPhoneRepeat?phone=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            this.isValidFailed = true
            callback(new Error('手机号[' + value + ']已经其它主体注册绑定！'))
          } else {
            callback()
          }
        }).catch((e) => {
          this.isValidFailed = true
          console.log('检查手机号出错！', e)
          callback(new Error('检查手机号异常!'))
        })
      }
      var validateAlias = (rule, value, callback) => {
        rest.get('/sns/admin/isSubjectAliasRepeat?alias=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            this.isValidFailed = true
            callback(new Error('主体别名[' + value + ']已经其它被注册！'))
          } else {
            callback()
          }
        }).catch((e) => {
          this.isValidFailed = true
          console.log('检查主体别名出错！', e)
          callback(new Error('检查主体别名异常！'))
        })
      }
      var validateName = (rule, value, callback) => {
        rest.get('/sns/admin/isSubjectNameRepeat?name=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            this.isValidFailed = true
            callback(new Error('主体名称[' + value + ']已经被注册！'))
          } else {
            callback()
          }
        }).catch((e) => {
          this.isValidFailed = true
          console.log('检查主体名称出错！', e)
          callback(new Error('检查主体名称异常！'))
        })
      }
      var validateEmail = (rule, value, callback) => {
        rest.get('/sns/admin/isSubjectEmailRepeat?email=' + value).then((isRepeat) => {
          if (isRepeat === true) {
            this.isValidFailed = true
            callback(new Error('邮箱地址[' + value + ']已经其它主体注册绑定！'))
          } else {
            callback()
          }
        }).catch((e) => {
          this.isValidFailed = true
          console.log('检查邮箱地址出错！', e)
          callback(new Error('检查邮箱地址异常！'))
        })
      }
      return {
        isSaving: false,
        isAvatarUploading: false,
        subjectInfo: {},
        subjectTypes: [
          {name: '企业', value: 1},
          {name: '政府', value: 0},
          {name: '组织机构', value: 2},
          {name: '团体', value: 3},
          {name: '个人', value: 4}
        ],
        formData: {
          type: 1
        },
        uploadUrl: '/zuul/file/web/upload?st=1',
        defaultAvatarUrl: require('@/assets/img/img-holder.png'),
        avatarUrl: require('@/assets/img/img-holder.png'),
        avatar: null,
        saveBtnDisable: false,
        rules: {
          name: [
            {required: true, message: '请输入名称', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'},
            {validator: validateName, trigger: 'blur'}
          ],
          alias: [
            {required: true, message: '请输入名称', trigger: 'blur'},
            {min: 1, max: 32, message: '长度在 1 到 32 个字符', trigger: 'blur'},
            {validator: validateAlias, trigger: 'blur'}
          ],
          telphone: [
            {required: true, message: '请输入手机号', trigger: 'blur'},
            {message: '请输入正确的手机号', pattern: /^1[0-9]{10}$/, trigger: 'blur'},
            {validator: validateTelphone, trigger: 'blur'}
          ],
          email: [
            {required: true, message: '请输入邮箱地址', trigger: 'blur'},
            {type: 'email', message: '请输入正确的邮箱地址', trigger: 'blur'},
            {validator: validateEmail, trigger: 'blur'}
          ],
          domain: [
            {message: '请输入正确的域名', pattern: /^(.*?)\.(.*?)$/, trigger: 'blur'}
          ]
        },
        isValidFailed: false
      }
    },
    mounted () {
      // 获取主体信息
      rest.get('/sns/admin/subjectInfo').then(subjectInfo => {
        if (subjectInfo) {
          this.initData(subjectInfo)
        } else {
          this.msgError('加载的主体信息不存在，请稍候重试！')
          console.log('加载的主体信息不存在！', subjectInfo)
        }
      }).catch(error => {
        this.msgError('加载主体信息失败，请稍候重试！')
        console.log('加载主体信息异常！', error)
      })
    },
    computed: {
      subjectName () {
        let subjectType = this.formData.type
        for (let type of this.subjectTypes) {
          if (type.value === subjectType) {
            return type.name
          }
        }
        return '主体'
      },
      iconUrl () {
        return this.avatarUrl || this.defaultAvatarUrl
      }
    },
    methods: {
      initData (subjectInfo) {
        this.subjectInfo = subjectInfo
        if (this.subjectInfo) {
          this.avatarUrl = this.subjectInfo.icon
          this.avatar = null
        }
      },
      handleAvatarSuccess (res, file, fileList) {
        this.isAvatarUploading = false
        let avatar
        if (res.data && res.data.storeId) {
          avatar = res.data.storeId
        }
        this.avatarUrl = URL.createObjectURL(file.raw)
        this.avatar = avatar
      },
      handleAvatarError (err, file, fileList) {
        this.isAvatarUploading = false
        this.msgError('上传[' + file.name + '] 失败！')
        console.log('上传[' + file.name + '] 失败！', err)
      },
      handleAvatarProgress (event, file, fileList) {
        this.isAvatarUploading = true
      },
      handleAvatarRemove (res, file, fileList) {
        this.isAvatarUploading = false
      },
      saveSubject () {
        this.saveBtnDisable = true
        this.isSaving = true
        this.$refs['form'].validate((valid) => {
          if (!valid) {
            this.isValidFailed = true
            this.saveBtnDisable = false
            this.isSaving = false
            return false
          } else {
            this.isValidFailed = false
          }
        })
        if (this.isValidFailed) {
          return
        }
        if (this.avatar) {
          this.formData.icon = this.avatar
        } else {
          this.formData.icon = null
        }
        rest.edit('/sns/admin/subjectInfo', this.formData).then((subjectInfo) => {
          if (subjectInfo) {
            this.msgSuccess('主体信息已更新！')
          } else {
            this.msgError('更新失败，主稍候重试！')
          }
          this.saveBtnDisable = false
          this.isSaving = false
        }).catch((error) => {
          this.saveBtnDisable = false
          this.isSaving = false
          if (error && error.status && error.status >= 10000 && error.message) {
            this.msgError('更新主体信息失败，' + error.message)
          } else {
            this.msgError('更新主体信息失败，请稍候重试！')
          }
          console.log('更新主体信息失败', error)
        })
      }
    },
    watch: {
      subjectInfo (nv, ov) {
        if (nv) {
          this.formData = { ...this.formData, ...nv }
          this.avatarUrl = nv.icon
          this.avatar = null
        } else {
          this.avatarUrl = null
          this.avatar = null
          this.formData = {}
        }
      }
    }
  }
</script>
<style>
</style>
