<template>
  <div class="search-wrapper">
    <div class="filters mod-border">
      <el-row>
        <el-col :xs="24" :sm="24" :md="24" :lg="24">
          <div class="search-type-tab">
            <ul class="menu">
              <li>
                <a class="router-link-exact-active">全部</a>
              </li>
              <li>
                <a>小组</a>
              </li>
              <li>
                <a>人员</a>
              </li>
              <li>
                <a>博文</a>
              </li>
              <li>
                <a>图片</a>
              </li>
              <li>
                <a>视频</a>
              </li>
              <li>
                <a>文档</a>
              </li>
              <li>
                <a>活动</a>
              </li>
              <li>
                <el-popover
                  popper-class="vertical"
                  ref="taskMore"
                  placement="bottom-start"
                  width="80"
                  trigger="hover"
                >
                <ul class="vertical-menu">
                  <li>任务</li>
                </ul>
              </el-popover>
                <a v-popover:taskMore>更多 <i class="fa fa-angle-down margin-l4"></i></a>
              </li>
            </ul>

          </div>
        </el-col>

      </el-row>

    </div>
    <el-row v-infinite-scroll="doFetchSearch" infinite-scroll-disabled="false" infinite-scroll-distance="10" class="margin-t">
      <el-col :xs="24" :sm="24" :md="4" :lg="4">
        <global-search-side-nav :facets="facetModelMap" :filters="filterModelMap"></global-search-side-nav>
      </el-col>
      <el-col :xs="24" :sm="24" :md="20" :lg="20" >
        <el-row >
          <!-- searchLoading -->
          <el-col :span="17" v-if="isSearching || loading">
            <div style="display:block;width:600px;height:195px;margin:0 auto;padding-top:30px;text-align: center;">
              <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="display:block;margin:0 auto;"></i>
            </div>
          </el-col>
          <template v-else>
            <el-col :span="17" v-if="!hasResult" >
              <no-result :keyword="keyword" tip="想找用户或小组或帖子？输入相关人员、小组、帖子内容的相关键字试试。" class="mod-border"></no-result>
            </el-col>
            <el-col  v-else :span="17">
              <template v-for="data in dataList" >
                <feed ref="feed" :usePreview="false" v-if="data.type==='POST'" :loadComment="false" :objs="data.list" :key="data" @dataFetched="feedFetched"></feed>
                <group-mod v-if="data.type==='GROUP'" :ids="data.list" :key="data"></group-mod>
                <user-mod v-else-if="data.type==='USER'" :ids="data.list" :key="data"></user-mod>
                <mod v-else-if="data.type==='ACTIVITY'" title="活动" :key="data" type="mod-side-l1" class="margin-b">
                  <i class="fa fa-user color-info" slot="icon"></i>
                  <!--<ul class="card-list">-->
                    <!--<li v-for="activityId in data.list" :key="activityId">-->
                      <!--<activity-item :itemId="activityId"></activity-item>-->
                    <!--</li>-->
                  <!--</ul>-->
                  <activity-list class="card-list" :ids="data.list"></activity-list>
                </mod>
                <!--<mod title="新闻" type="mod-side-l1" class="margin-b">-->
                  <!--<i class="fa fa-newspaper-o color-info" slot="icon"></i>-->
                  <!--<ul class="card-list news-content">-->
                    <!--<el-card :body-style="{ padding: '0px' }">-->
                      <!--<div class="media-object">-->
                        <!--<div class="media-object-section news-img">-->
                          <!--<a>-->
                            <!--<img src="http://p9.pstatp.com/list/190x124/3b0a0002322d6700f4b4" alt="湖人官宣给科比立雕像！却在纠结该用哪个动作！4场比赛全美吵翻">-->
                          <!--</a>-->
                        <!--</div>-->
                        <!--<div class="media-object-section">-->
                          <!--<h4 class="news-title" title="湖人官宣给科比立雕像！却在纠结该用哪个动作！4场比赛全美吵翻" @click="openNewsArticle">湖人官宣给科比立雕像！却在纠结该用哪个动作！4场比赛全美吵翻</h4>-->
                          <!--<div class="info">-->
                            <!--<span class="el-tag el-tag&#45;&#45;danger">体育</span>-->
                            <!--<a class="color-secondary source" href="" target="_blank">-->
                              <!--<img alt="" src="//p3.pstatp.com/large/355c000a157f51d2b0fe"> 虎扑-->
                            <!--</a>-->
                            <!--<span class="color-secondary">9评论 </span>-->
                            <!--<span class="color-secondary">10小时前</span>-->
                          <!--</div>-->
                          <!--<div class="uninterested color-secondary">-->
                            <!--<span>不感兴趣<i class="fa fa-times" aria-hidden="true"></i></span>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</el-card>-->
                  <!--</ul>-->
                <!--</mod>-->
              </template>
              <div style="text-align: center;cursor: pointer;padding:16px 16px;" v-show="!hasScroll() && !fetchComplete && hasResult && !fetchBusy && !isSearching && !loading && isFeedFetched" @click="doFetchSearch">加载更多</div>
              <list-loading :loading="fetchBusy" :noData="fetchComplete" :message="fetchMsg"></list-loading>
              <!--<el-card v-for="(article, index) in articleList" :key="article.id">-->
                <!--<div>{{article}}</div>-->
              <!--</el-card>-->
            </el-col>
          </template>
          <el-col :span="7">
            <mod title="提示">
              <p class="color-secondary font-s12">你想搜索<b>人员</b>？<br>输入你想要搜索的人员名称即可。<br>不仅如些，你还可以搜索全局范围内的<b>小组</b>、<b>帖子</b>、<b>活动</b>、<b>问答</b>、<b>话题</b>等等！</p>
            </mod>
          </el-col>
        </el-row>
      </el-col>
      <preview></preview>
    </el-row>

  </div>
</template>
<script>
  import GlobalSearchSideNav from './GlobalSearchSideNav'
  import NoResult from '@/views/search/searchcards/NoResult'
  import GroupCard from '@/views/search/searchcards/GroupCard'
  import UserCard from '@/views/search/searchcards/UserCard'
  import UserMod from '@/views/search/searchcards/UserMod'
  import GroupMod from '@/views/search/searchcards/GroupMod'
  import ImgCard from '@/views/search/searchcards/ImgCard'
  import Feed from '@/components/Feed'
  import ActivityList from '@/views/activity/ActivityList'
  import { rest } from '@/util'
  import Preview from '@/components/preview/Preview'

  export default {
    data () {
      return {
        loading: true,
        isSearching: false,
        keyword: '',
        filter: {},
        result: {
        },
        dataList: [],
        isFetchSearch: false,
        page: {
          start: 0,
          rows: 10
        },
        fetchBusy: false,
        fetchMsg: '',
        fetchComplete: false,
        fetchParams: [],
        isFirstSearch: true,
        isFeedFetched: true
      }
    },
    props: {
      q: String,
      params: {}
    },
    components: {
      GlobalSearchSideNav,
      NoResult,
      GroupCard,
      GroupMod,
      UserCard,
      UserMod,
      ImgCard,
      Feed,
      ActivityList,
      Preview
    },
    created () {
      this.$bus.$on('search:global', (params) => {
        this.doSearch(params)
      })
    },
    mounted () {
//      this.doSearch(this.$route.query)
    },
    methods: {
      feedFetched () {
        this.isFeedFetched = true
      },
      searchAction (params) {
        this.fetchMsg = '正在搜索...'
        if (this.fetchBusy) {
          this.isFetchSearch = true
        } else {
          this.isFetchSearch = false
        }
        if (!params) {
          params = {}
        }
        this.keyword = params.q
        if (this.isSearching) {
          this.$router.push({path: '/search', query: params})
        }
//        if (!params.q) {
//          setTimeout(() => {
//            this.isSearching = false
//            this.fetchBusy = false
//            this.fetchMsg = ''
//          }, 500)
//          return
//        }
        // 执行搜索请求
        rest.get('/sns/search/global', params, true).then((result) => {
          this.isFirstSearch = false
          if (this.isSearching) {
            this.fetchCount = 1
          } else {
            this.fetchCount ++
          }
          try {
            let resultResult = JSON.parse(result)
            this.fetchParams = params
            this.isSearching = false
            this.loading = false
            this.fetchBusy = false
            this.result = resultResult
            if (this.articleList.length <= 0) {
              this.fetchComplete = true
            }
            this.fetchMsg = ''
          } catch (e) {
            if (this.fetchBusy) {
              this.fetchMsg = '加载数据异常！请稍候重试！'
            }
            this.result = {}
            this.isSearching = false
            this.loading = false
            this.fetchBusy = false
            console.log('搜索结果处理异常!', e)
          }
        }).catch((error) => {
          if (this.fetchBusy) {
            this.fetchMsg = '搜索异常！请稍候重试！'
          }
          this.result = {}
          this.isSearching = false
          this.loading = false
          this.fetchBusy = false
          console.log('搜索异常！', error)
        })
      },
      getUser (article) {
        return article.user || {id: article.id[0].value.substring(1), userName: article.title[0].value}
      },
      getGroup (article) {
        return article.group || {id: article.id[0].value.substring(1), name: article.title[0].value}
      },
      existResult (group, category) {
        return group.groups[0].value.indexOf(category) >= 0 && group.groups[0].matches > 0
      },
      doSearch (params) {
        if (this.isSearching) {
          this.loading = false
          return
        }
        this.isSearching = true
        this.fetchComplete = false
        this.result = {}
        this.searchAction(params)
      },
      doFetchSearch () {
        if (this.fetchBusy || this.fetchComplete || this.isSearching) {
          return
        }
        this.fetchBusy = true
        let fetchParams = this.fetchParams
        if (!fetchParams || fetchParams.length <= 0) {
          fetchParams = JSON.parse(JSON.stringify(this.$route.query))
        }
        if (!fetchParams.len) {
          fetchParams.len = 10
        }
        if (this.isFirstSearch) {
          fetchParams.start = 0
        } else {
          if (fetchParams.start >= 0) {
            fetchParams.start += fetchParams.len
          } else {
            fetchParams.start = fetchParams.len
          }
        }
        this.searchAction(fetchParams)
      },
      hasScroll () {
        return document.documentElement.clientHeight < document.documentElement.offsetHeight - 4
      }
    },
    computed: {
      hasResult () {
        if (this.dataList.length > 0) {
          return true
        }
        return false
      },
      groupModelList () {
        return this.result.groupModelList || []
      },
      articleList () {
        return this.result.articleList || []
      },
      facetModelMap () {
        return this.result.facetModelMap || {}
      },
      filterModelMap () {
        return this.result.filterModelMap || {}
      }
    },
    watch: {
      articleList (nv, ov) {
        let posts = []
        let isPostAppend = false
        let users = []
        let isUserAppend = false
        let groups = []
        let isGroupAppend = false
        let activitys = []
        let isActivityAppend = false
        let dataList = []
        this.articleList.forEach((article) => {
          if (article.category[0].value === 'POST') {
            this.isFeedFetched = false
            posts.push('POST!' + article.id[0].value.substring(1))
            if (!isPostAppend) {
              dataList.push({
                type: 'POST',
                list: posts
              })
              isPostAppend = true
            }
          } else if (article.category[0].value === 'USER') {
            users.push(article.id[0].value.substring(1))
            if (!isUserAppend) {
              dataList.push({
                type: 'USER',
                list: users
              })
              isUserAppend = true
            }
          } else if (article.category[0].value === 'GROUP') {
            groups.push(article.id[0].value.substring(1))
            if (!isGroupAppend) {
              dataList.push({
                type: 'GROUP',
                list: groups
              })
              isGroupAppend = true
            }
          } else if (article.category[0].value === 'ACTIVITY') {
            activitys.push(article.id[0].value.substring(3))
            if (!isActivityAppend) {
              dataList.push({
                type: 'ACTIVITY',
                list: activitys
              })
              isActivityAppend = true
            }
          }
        })
        if (this.isFetchSearch) {
          this.dataList = this.dataList.concat(dataList)
        } else {
          this.dataList = dataList
        }
      },
      '$route.query' (nv, ov) {
        this.loading = true
        this.doSearch(nv)
      }
    }
  }
</script>
<style>
.card-list {
  background: #fff;
}
.card-list li{
  list-style: none;
  padding: 1rem 1rem 0;
  border-bottom: 1px solid #f1f1f1;
  &:last-child{
    border: none;
  }
}
</style>
