<template>
  <div class="side-nav">
    <section class="groups">
      <header>分类</header>
      <ul>
        <router-link tag="li" :class="{'active': noCategoryFilter}" :to="{path: '/search', query: getCategoryQuery()}" exact>
          <a>全部</a>
        </router-link>
        <router-link tag="li" :to="{path: '/search', query: getCategoryQuery(facet.value)}" :class="{'active': facet.isFocus}" v-for="(facet, index) in categoryFacetList" :key="facet" exact>
          <a>{{facet.title}}（{{facet.hit}}）</a>
        </router-link>
      </ul>
    </section>
    <section class="groups" v-for="(facetInfo, key) in nonCategoryFacets" :key="key">
      <header>{{facetInfo.facetTitle}}</header>
      <ul>
        <router-link tag="li" :to="{path: '/search', query: []}"  exact >
          <a>全部</a>
        </router-link>
        <router-link tag="li" :to="{path: '/search', query: toQuery(facet.url)}" :class="{'active': facet.isFocus}" v-for="facet in facetInfo.facetFieldList" :key="facet">
          <a>{{facet.convertedValue}}（{{facet.hit}}）</a>
        </router-link>
      </ul>
    </section>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        nonCategoryFacets: {},
        categoryFacetList: [
          {
            title: '小组',
            value: 'GROUP',
            hit: 0
          },
          {
            title: '人员',
            value: 'USER',
            hit: 0
          },
          {
            title: '活动',
            value: 'ACTIVITY',
            hit: 0
          },
          {
            title: '帖子',
            value: 'POST',
            hit: 0
          }
        ]
      }
    },
    computed: {
      noCategoryFilter () {
        return !(this.filters && this.filters.category && this.filters.category.filterFieldList && this.filters.category.filterFieldList.length > 0)
      }
    },
    props: {
      facets: Object,
      filters: Object
    },
    methods: {
      initFacetData () {
        this.categoryFacetList.forEach((facet) => {
          facet.hit = 0
          facet.url = null
          facet.isFocus = false
        })
        let categoryFacet = this.facets.category
        if (categoryFacet) {
          categoryFacet.facetFieldList.forEach((facet) => {
            for (let facetField of this.categoryFacetList) {
              if (facetField.value === facet.value) {
                facetField.hit = facet.hit
                facetField.url = facet.url
                facetField.isFocus = facet.isFocus
                break
              }
            }
          })
        }
        this.nonCategoryFacets = JSON.parse(JSON.stringify(this.facets))
        delete this.nonCategoryFacets.category
      },
      toQuery (url) {
        let query = {}
        if (url) {
          let params = url.split('&')
          if (params) {
            params.forEach(param => {
              let paramValue = param.split('=')
              if (paramValue[0]) {
                let list = query[paramValue[0]]
                if (!list) {
                  list = []
                  query[paramValue[0]] = list
                }
                if (paramValue[1]) {
                  list.push(paramValue[1])
                }
              }
            })
          }
        }
        delete query.start
        delete query.len
        return query
      },
      getCategoryQuery (category) {
        let query = {...this.$route.query, category}
        delete query.start
        delete query.len
        return query
      }
    },
    mounted () {
      this.initFacetData()
    },
    watch: {
      facets (nv, ov) {
        this.initFacetData()
      }
    }
  }
</script>
<style scoped="scoped">
  @import 'css/variable.css';
  .groups header{
    font-size: 12px;
    color: var(--color-secondary);
    height: 24px;
  }
  .groups li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    position: relative;
    & a {
      color: #666;
      display: block;
      padding: 0 10px;
      & i {
        margin-right: 6px;
      }
    }
    & span {
      position: absolute;
      right: 10px;
      top: 0;
      color: var(--color-warning);
      font-size: 12px;
    }
    &:hover a, &.active a{
      background-color: #e4e4e4;
      color: var(--color-primary);
    }
  }
</style>
