<template>
  <!-- searchLoading -->
  <el-col :span="17" v-infinite-scroll="doFetchSearch" infinite-scroll-disabled="false" infinite-scroll-distance="10">
    <div  v-if="isSearching || loading" style="display:block;width:600px;height:195px;margin:0 auto;padding-top:30px;text-align: center;">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="display:block;margin:0 auto;"></i>
    </div>
    <template v-else>
      <no-result v-if="!hasResult"  :keyword="keyword" tip="试试换个关键词搜索！" class="mod-border"></no-result>
      <template  v-else>
        <template v-for="data in dataList">
          <feed ref="feed" :usePreview="false" v-if="data.type==='POST'" :loadComment="false" :objs="data.list" :key="data" @dataFetched="feedFetched"></feed>
          <!--<group-mod v-if="data.type==='GROUP'" :ids="data.list" :key="data"></group-mod>-->
          <!--<user-mod v-else-if="data.type==='USER'" :ids="data.list" :key="data"></user-mod>-->
          <mod v-else-if="data.type==='ACTIVITY'" title="活动" :key="data" type="mod-side-l1" class="margin-b">
            <i class="fa fa-user color-info" slot="icon"></i>
            <!--<ul class="card-list">-->
            <!--<li v-for="activityId in data.list" :key="activityId">-->
            <!--<activity-item :itemId="activityId"></activity-item>-->
            <!--</li>-->
            <!--</ul>-->
            <activity-list class="card-list" :ids="data.list"></activity-list>
          </mod>
        </template>
        <div style="text-align: center;cursor: pointer;padding:16px 16px;" v-show="!hasScroll() && !fetchComplete && hasResult && !fetchBusy && !isSearching && !loading && isFeedFetched" @click="doFetchSearch">加载更多</div>
        <list-loading :loading="fetchBusy" :noData="fetchComplete" :message="fetchMsg"></list-loading>
        <!--<el-card v-for="(article, index) in articleList" :key="article.id">-->
        <!--<div>{{article}}</div>-->
        <!--</el-card>-->
      </template>
    </template>
    <preview></preview>
  </el-col>
</template>
<script>
import Feed from '@/components/Feed'
import Preview from '@/components/preview/Preview'
import NoResult from '@/views/search/searchcards/NoResult'
import ActivityList from '@/views/activity/ActivityList'
import { rest } from '@/util'

export default {
  components: {
    Feed,
    Preview,
    NoResult,
    ActivityList
  },
  data () {
    return {
      loading: true,
      isSearching: false,
      keyword: '',
      result: {
        articleList: []
      },
      dataList: [],
      isFetchSearch: false,
      page: {
        start: 0,
        rows: 10
      },
      fetchBusy: false,
      fetchMsg: '',
      fetchComplete: false,
      fetchParams: [],
      isFirstSearch: true,
      isFeedFetched: true
    }
  },
  created () {
    this.$bus.$on('search:group', params => {
      this.doSearch(params)
    })
  },
  computed: {
    currGroup () {
      return this.$store.state.group.currItem
    },
    hasResult () {
      if (this.dataList.length > 0) {
        return true
      }
      return false
    },
    articleList () {
      return this.result.articleList || []
    },
    facetModelMap () {
      return this.result.facetModelMap || {}
    },
    filterModelMap () {
      return this.result.filterModelMap || {}
    }
  },
  methods: {
    feedFetched () {
      this.isFeedFetched = true
    },
    searchAction (params) {
      this.fetchMsg = '正在搜索...'
      if (this.fetchBusy) {
        this.isFetchSearch = true
      } else {
        this.isFetchSearch = false
      }
      if (!params) {
        params = {}
      }
      let copyParams = {...params}
      // 暂时只搜索小组帖子内容
      copyParams.category = ['POST', 'ACTIVITY']
      copyParams.facet = false
      copyParams.createAt = this.currGroup.id
      copyParams.createAtType = 101 // 小组
      this.keyword = params.q
      if (this.isSearching) {
        this.$router.push({name: 'groupSearch', query: params})
      }
//        if (!params.q) {
//          setTimeout(() => {
//            this.isSearching = false
//            this.fetchBusy = false
//            this.fetchMsg = ''
//          }, 500)
//          return
//        }
      // 执行搜索请求
      rest.get('/sns/search/global', copyParams, true).then((result) => {
        this.isFirstSearch = false
        if (this.isSearching) {
          this.fetchCount = 1
        } else {
          this.fetchCount ++
        }
        try {
          let resultResult = JSON.parse(result)
          this.fetchParams = params
          this.isSearching = false
          this.loading = false
          this.fetchBusy = false
          this.result = resultResult
          if (this.articleList.length <= 0) {
            this.fetchComplete = true
          }
          this.fetchMsg = ''
        } catch (e) {
          if (this.fetchBusy) {
            this.fetchMsg = '加载数据异常！请稍候重试！'
          }
          this.result = {}
          this.isSearching = false
          this.loading = false
          this.fetchBusy = false
          console.log('搜索结果处理异常!', e)
        }
      }).catch((error) => {
        if (this.fetchBusy) {
          this.fetchMsg = '搜索异常！请稍候重试！'
        }
        this.result = {}
        this.isSearching = false
        this.loading = false
        this.fetchBusy = false
        console.log('搜索异常！', error)
      })
    },
    existResult (group, category) {
      return group.groups[0].value.indexOf(category) >= 0 && group.groups[0].matches > 0
    },
    doSearch (params) {
      if (this.isSearching) {
        return
      }
      this.isSearching = true
      this.fetchComplete = false
      this.result = {}
      this.searchAction(params)
    },
    doFetchSearch () {
      if (this.fetchBusy || this.fetchComplete || this.isSearching) {
        return
      }
      this.fetchBusy = true
      let fetchParams = this.fetchParams
      if (!fetchParams || fetchParams.length <= 0) {
        fetchParams = JSON.parse(JSON.stringify(this.$route.query))
      }
      if (!fetchParams.len) {
        fetchParams.len = 10
      }
      if (this.isFirstSearch) {
        fetchParams.start = 0
      } else {
        if (fetchParams.start >= 0) {
          fetchParams.start += fetchParams.len
        } else {
          fetchParams.start = fetchParams.len
        }
      }
      this.searchAction(fetchParams)
    },
    hasScroll () {
      return document.documentElement.clientHeight < document.documentElement.offsetHeight - 4
    }
  },
  watch: {
    articleList (nv, ov) {
      let posts = []
      let isPostAppend = false
      let users = []
      let isUserAppend = false
      let groups = []
      let isGroupAppend = false
      let activitys = []
      let isActivityAppend = false
      let dataList = []
      this.articleList.forEach((article) => {
        if (article.category[0].value === 'POST') {
          this.isFeedFetched = false
          posts.push('POST!' + article.id[0].value.substring(1))
          if (!isPostAppend) {
            dataList.push({
              type: 'POST',
              list: posts
            })
            isPostAppend = true
          }
        } else if (article.category[0].value === 'USER') {
          users.push(article.id[0].value.substring(1))
          if (!isUserAppend) {
            dataList.push({
              type: 'USER',
              list: users
            })
            isUserAppend = true
          }
        } else if (article.category[0].value === 'GROUP') {
          groups.push(article.id[0].value.substring(1))
          if (!isGroupAppend) {
            dataList.push({
              type: 'GROUP',
              list: groups
            })
            isGroupAppend = true
          }
        } else if (article.category[0].value === 'ACTIVITY') {
          activitys.push(article.id[0].value.substring(3))
          if (!isActivityAppend) {
            dataList.push({
              type: 'ACTIVITY',
              list: activitys
            })
            isActivityAppend = true
          }
        }
      })
      if (this.isFetchSearch) {
        this.dataList = this.dataList.concat(dataList)
      } else {
        this.dataList = dataList
      }
    },
    '$route.query' (nv, ov) {
      this.doSearch(nv)
    }
  }
}
</script>
<style>
  .card-list {
    background: #fff;
  }
  .card-list li{
    list-style: none;
    padding: 1rem 1rem 0;
    border-bottom: 1px solid #f1f1f1;
  &:last-child{
     border: none;
   }
  }
</style>
